<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page37</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Idea Collider</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.6.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2018-07-11T13:51:05Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZFHf9zniv4SK
								z9ywIWAR7Q==
								</data>
								<key>Size</key>
								<integer>124861</integer>
							</dict>
							<key>files/small_p60311_n109628.png</key>
							<dict>
								<key>Digest</key>
								<data>
								pcpK3KZBcBVd
								Ns6QdrLpNA==
								</data>
								<key>Size</key>
								<integer>68548</integer>
							</dict>
							<key>files/stacks-image-407a45c-150x150.png</key>
							<dict>
								<key>Digest</key>
								<data>
								2d2LVuebyXjz
								ibPNmPfAnA==
								</data>
								<key>Size</key>
								<integer>14694</integer>
							</dict>
							<key>files/stacks-image-407a45c-150x150@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								aG390zHAEXGt
								I9aj4JXWmg==
								</data>
								<key>Size</key>
								<integer>44289</integer>
							</dict>
							<key>files/stacks-image-9911c1e-150x72.png</key>
							<dict>
								<key>Digest</key>
								<data>
								nZKKzl2jifC7
								oBZWZpz8/A==
								</data>
								<key>Size</key>
								<integer>13006</integer>
							</dict>
							<key>files/stacks_page_page37.css</key>
							<dict>
								<key>Digest</key>
								<data>
								p/LCuqjdkx6z
								YVOUrYixLQ==
								</data>
								<key>Size</key>
								<integer>87632</integer>
							</dict>
							<key>files/stacks_page_page37.js</key>
							<dict>
								<key>Digest</key>
								<data>
								HsP0NUgEEKiX
								q5IQ7eyAgQ==
								</data>
								<key>Size</key>
								<integer>24349</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								hGUoSth9lEse
								Gy9rPmngMg==
								</data>
								<key>Size</key>
								<integer>31214</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page37</string>
						<key>SiteRoot</key>
						<string>events/idea-</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
