<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>MMCOE</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:30Z</date>
				<key>ID</key>
				<string>page70</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>MassMutual Center of Excellence</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.3.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2024-01-26T21:03:21Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small-109623-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/small-109710-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JfxF8Omi0icK
								xIwohpIZqw==
								</data>
								<key>Size</key>
								<integer>77487</integer>
							</dict>
							<key>files/small-109714-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2NMhf1k+YDl
								uPpd6H1dBw==
								</data>
								<key>Size</key>
								<integer>15019</integer>
							</dict>
							<key>files/small-109735-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D2nm4R7babci
								2M5NjfUDZQ==
								</data>
								<key>Size</key>
								<integer>18925</integer>
							</dict>
							<key>files/small-109736-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgRiuB3NhhIh
								SwZTifI18g==
								</data>
								<key>Size</key>
								<integer>21987</integer>
							</dict>
							<key>files/small-526288.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ov4zbH1JnH3K
								F618M3iCVw==
								</data>
								<key>Size</key>
								<integer>20443</integer>
							</dict>
							<key>files/small-526501.png</key>
							<dict>
								<key>Digest</key>
								<data>
								7ptO0Z9QNBVX
								TOf1Zy8YhQ==
								</data>
								<key>Size</key>
								<integer>46883</integer>
							</dict>
							<key>files/stacks-image-009084f-926x1198.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Y/GPb3pzVX2u
								3Rl76dWpig==
								</data>
								<key>Size</key>
								<integer>1113672</integer>
							</dict>
							<key>files/stacks-image-009084f-926x1198@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ffjm8upQmCDf
								WKzu59S3Aw==
								</data>
								<key>Size</key>
								<integer>3851628</integer>
							</dict>
							<key>files/stacks-image-01d9136-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								xupy9CI93qaM
								l9Zgz205lQ==
								</data>
								<key>Size</key>
								<integer>22754</integer>
							</dict>
							<key>files/stacks-image-01d9136-400x400@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								SLzMPj6G3R5x
								A7OB33Mhlw==
								</data>
								<key>Size</key>
								<integer>36007</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JV5ejNT3Y8/E
								W0wI16l5/Q==
								</data>
								<key>Size</key>
								<integer>35252</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Su+ZpJd1NY34
								s0J16tjsFg==
								</data>
								<key>Size</key>
								<integer>68409</integer>
							</dict>
							<key>files/stacks-image-0f335ab-300x300.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								TWq/o7Y9uSns
								X99SJ+cZAw==
								</data>
								<key>Size</key>
								<integer>18254</integer>
							</dict>
							<key>files/stacks-image-0f335ab-300x300@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Kkoq/DlNHpHf
								xFfpxU5DGg==
								</data>
								<key>Size</key>
								<integer>27271</integer>
							</dict>
							<key>files/stacks-image-1107355-200x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								z7ExUO2mtCtj
								XoQGpMIKZQ==
								</data>
								<key>Size</key>
								<integer>95514</integer>
							</dict>
							<key>files/stacks-image-1107355-200x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								/r/BUlzy5kId
								C2cmhw6DLA==
								</data>
								<key>Size</key>
								<integer>344110</integer>
							</dict>
							<key>files/stacks-image-1255401-300x278.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								HvqkY971n8GA
								qRoF2Rvkng==
								</data>
								<key>Size</key>
								<integer>32767</integer>
							</dict>
							<key>files/stacks-image-23b3b9c-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Cwd7S8KKHspz
								wCOoFZdP1w==
								</data>
								<key>Size</key>
								<integer>25269</integer>
							</dict>
							<key>files/stacks-image-23b3b9c-400x400@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								/Ap1Jyncxzf+
								bJCtIDOvbQ==
								</data>
								<key>Size</key>
								<integer>41075</integer>
							</dict>
							<key>files/stacks-image-255a2f1-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								hmi15teC4mx8
								F744489y/A==
								</data>
								<key>Size</key>
								<integer>39048</integer>
							</dict>
							<key>files/stacks-image-255a2f1-400x400@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Our9YQ+JWKXa
								5IXxDTTDJQ==
								</data>
								<key>Size</key>
								<integer>61642</integer>
							</dict>
							<key>files/stacks-image-2706f3f.png</key>
							<dict>
								<key>Digest</key>
								<data>
								38DyDEe6U7zk
								+jpdOMXc/w==
								</data>
								<key>Size</key>
								<integer>2858</integer>
							</dict>
							<key>files/stacks-image-2fa4b42-232x350.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								IQSCl5nvzHoo
								QPNA+wXuLQ==
								</data>
								<key>Size</key>
								<integer>25374</integer>
							</dict>
							<key>files/stacks-image-2fa4b42-232x350@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								EiMujHBOJkNC
								8zQCfiw1Cg==
								</data>
								<key>Size</key>
								<integer>38400</integer>
							</dict>
							<key>files/stacks-image-344e7c0-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								wb0FUb+re0ZQ
								FqcA8J5hWQ==
								</data>
								<key>Size</key>
								<integer>18265</integer>
							</dict>
							<key>files/stacks-image-344e7c0-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								b7NM92GyefFx
								Y5xR1//mxg==
								</data>
								<key>Size</key>
								<integer>28210</integer>
							</dict>
							<key>files/stacks-image-3789a03-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								LPnqAijNHInt
								W3FPTNi5HQ==
								</data>
								<key>Size</key>
								<integer>25176</integer>
							</dict>
							<key>files/stacks-image-52e49fd-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								GMxAyP0NPx+y
								V6K7uY30fg==
								</data>
								<key>Size</key>
								<integer>54857</integer>
							</dict>
							<key>files/stacks-image-5518809-300x256.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								5J65SV8/66H9
								NaJDpRWeMA==
								</data>
								<key>Size</key>
								<integer>30907</integer>
							</dict>
							<key>files/stacks-image-5518809-300x256@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								4NetCrzPEA7/
								fRx6xrb0SQ==
								</data>
								<key>Size</key>
								<integer>53372</integer>
							</dict>
							<key>files/stacks-image-592091c-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								WzgMuMgbZmG5
								3U1DNgqwWg==
								</data>
								<key>Size</key>
								<integer>40407</integer>
							</dict>
							<key>files/stacks-image-676d351.png</key>
							<dict>
								<key>Digest</key>
								<data>
								/NarK5xFE7cq
								2ApvkTtzYg==
								</data>
								<key>Size</key>
								<integer>123486</integer>
							</dict>
							<key>files/stacks-image-68c7485-200x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								UQX9lVMo/jnq
								MG2RaioKtQ==
								</data>
								<key>Size</key>
								<integer>102104</integer>
							</dict>
							<key>files/stacks-image-6ebb971-244x350.png</key>
							<dict>
								<key>Digest</key>
								<data>
								wHCYYXYIw7mA
								8zEOfkzyGQ==
								</data>
								<key>Size</key>
								<integer>165894</integer>
							</dict>
							<key>files/stacks-image-72f3273-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								cbILGrbKdzyr
								U3nJMdGllQ==
								</data>
								<key>Size</key>
								<integer>52149</integer>
							</dict>
							<key>files/stacks-image-72f3273-400x400@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								xNq+SxlFZGMh
								5uXxNVt43w==
								</data>
								<key>Size</key>
								<integer>93341</integer>
							</dict>
							<key>files/stacks-image-82572eb-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								h1JgLVE93kLu
								EWcKhFqKVg==
								</data>
								<key>Size</key>
								<integer>21283</integer>
							</dict>
							<key>files/stacks-image-867a696-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								+FHCQAteWoQ6
								bq4Y8KhWFw==
								</data>
								<key>Size</key>
								<integer>29208</integer>
							</dict>
							<key>files/stacks-image-8d46f3c-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								GZAc+y6pr/UC
								xl0ptGEYEg==
								</data>
								<key>Size</key>
								<integer>32960</integer>
							</dict>
							<key>files/stacks-image-920fdb4-500x166.png</key>
							<dict>
								<key>Digest</key>
								<data>
								AvTWfUAmvVmy
								YnhCi7tNzw==
								</data>
								<key>Size</key>
								<integer>33496</integer>
							</dict>
							<key>files/stacks-image-9785b82-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								+yYhrrcnXeCA
								67sIXri2mg==
								</data>
								<key>Size</key>
								<integer>43712</integer>
							</dict>
							<key>files/stacks-image-9874180-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								i5A+JylGDlh1
								OnwnFmaimg==
								</data>
								<key>Size</key>
								<integer>25995</integer>
							</dict>
							<key>files/stacks-image-9874180-400x400@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								wfpSVCMe8d9g
								MSm9vvbsAw==
								</data>
								<key>Size</key>
								<integer>40925</integer>
							</dict>
							<key>files/stacks-image-a07f881-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								AxuZbmn3uyvX
								m5GSqtKzBA==
								</data>
								<key>Size</key>
								<integer>34952</integer>
							</dict>
							<key>files/stacks-image-a79d539-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								8qD52NkZeI6b
								W+EwYSwZ2g==
								</data>
								<key>Size</key>
								<integer>24253</integer>
							</dict>
							<key>files/stacks-image-a79d539-400x400@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								bTZbkoqpmXlY
								/rCV6cJ/Aw==
								</data>
								<key>Size</key>
								<integer>44751</integer>
							</dict>
							<key>files/stacks-image-b4a7cc2-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								EFqqMPGM/IZo
								dmMOYF0xFQ==
								</data>
								<key>Size</key>
								<integer>33330</integer>
							</dict>
							<key>files/stacks-image-b4a7cc2-400x400@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								4tS/2o0rp9iR
								YDkGuhCGRg==
								</data>
								<key>Size</key>
								<integer>53501</integer>
							</dict>
							<key>files/stacks-image-b5385af-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								AxuZbmn3uyvX
								m5GSqtKzBA==
								</data>
								<key>Size</key>
								<integer>34952</integer>
							</dict>
							<key>files/stacks-image-bbaa6d8-400x400.png</key>
							<dict>
								<key>Digest</key>
								<data>
								kKVEGGxVgMcT
								bAA9R8b2Pg==
								</data>
								<key>Size</key>
								<integer>283282</integer>
							</dict>
							<key>files/stacks-image-bbaa6d8-400x400@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								hPlnQwYv5GoA
								it2qy0FCZQ==
								</data>
								<key>Size</key>
								<integer>1112321</integer>
							</dict>
							<key>files/stacks-image-bbfc46d-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Rzhht7RxnZ4G
								JEkDwAwvCg==
								</data>
								<key>Size</key>
								<integer>56659</integer>
							</dict>
							<key>files/stacks-image-bbfc46d-400x400@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								5l1hWMXmrl5N
								qa2tN/yCaQ==
								</data>
								<key>Size</key>
								<integer>100447</integer>
							</dict>
							<key>files/stacks-image-bc2cc40-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								4TMkI2Dl4k/b
								jSLC0qz31Q==
								</data>
								<key>Size</key>
								<integer>25110</integer>
							</dict>
							<key>files/stacks-image-bd6dcce-300x256.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								5J65SV8/66H9
								NaJDpRWeMA==
								</data>
								<key>Size</key>
								<integer>30907</integer>
							</dict>
							<key>files/stacks-image-bd6dcce-300x256@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								4NetCrzPEA7/
								fRx6xrb0SQ==
								</data>
								<key>Size</key>
								<integer>53372</integer>
							</dict>
							<key>files/stacks-image-c269e63-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								HI6nLZjKSp8J
								n1oGsYrL4Q==
								</data>
								<key>Size</key>
								<integer>31642</integer>
							</dict>
							<key>files/stacks-image-c269e63-400x400@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								arXOVkwr3FwL
								GJC1AVQTqg==
								</data>
								<key>Size</key>
								<integer>49847</integer>
							</dict>
							<key>files/stacks-image-c9c7327-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								LZ9Dlqkk3h9T
								mD3p8inNag==
								</data>
								<key>Size</key>
								<integer>72267</integer>
							</dict>
							<key>files/stacks-image-cde41f6-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Y/nhXZgt5wyc
								C67alU9bbw==
								</data>
								<key>Size</key>
								<integer>13185</integer>
							</dict>
							<key>files/stacks-image-cde41f6-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								APwkFysiga/9
								3I3ozxrZLA==
								</data>
								<key>Size</key>
								<integer>19359</integer>
							</dict>
							<key>files/stacks-image-d5eaa74-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								LZ9Dlqkk3h9T
								mD3p8inNag==
								</data>
								<key>Size</key>
								<integer>72267</integer>
							</dict>
							<key>files/stacks-image-ddd9365-700x116.png</key>
							<dict>
								<key>Digest</key>
								<data>
								qOrSvwaxzEEe
								yCu7pEuCaQ==
								</data>
								<key>Size</key>
								<integer>31522</integer>
							</dict>
							<key>files/stacks-image-e1f7cf2.png</key>
							<dict>
								<key>Digest</key>
								<data>
								fT4N1ZudP8iu
								qPln4OkGMA==
								</data>
								<key>Size</key>
								<integer>87197</integer>
							</dict>
							<key>files/stacks-image-e22c0eb-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Rzhht7RxnZ4G
								JEkDwAwvCg==
								</data>
								<key>Size</key>
								<integer>56659</integer>
							</dict>
							<key>files/stacks-image-e22c0eb-400x400@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								5l1hWMXmrl5N
								qa2tN/yCaQ==
								</data>
								<key>Size</key>
								<integer>100447</integer>
							</dict>
							<key>files/stacks-image-e4392ce-290x350.png</key>
							<dict>
								<key>Digest</key>
								<data>
								nmMh0JP3/foi
								NJ5k8w3oMw==
								</data>
								<key>Size</key>
								<integer>186140</integer>
							</dict>
							<key>files/stacks-image-e446302-400x400.png</key>
							<dict>
								<key>Digest</key>
								<data>
								l6qv6o/ZHBet
								jI2f3RWHpA==
								</data>
								<key>Size</key>
								<integer>103227</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								0LBTZh9Y4iZ6
								By0DZuC++A==
								</data>
								<key>Size</key>
								<integer>19463</integer>
							</dict>
							<key>files/stacks-image-f38745a-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								cbILGrbKdzyr
								U3nJMdGllQ==
								</data>
								<key>Size</key>
								<integer>52149</integer>
							</dict>
							<key>files/stacks-image-f38745a-400x400@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								xNq+SxlFZGMh
								5uXxNVt43w==
								</data>
								<key>Size</key>
								<integer>93341</integer>
							</dict>
							<key>files/stacks-image-f3d6f69-400x400.png</key>
							<dict>
								<key>Digest</key>
								<data>
								l6qv6o/ZHBet
								jI2f3RWHpA==
								</data>
								<key>Size</key>
								<integer>103227</integer>
							</dict>
							<key>files/stacks-image-f61ed89-200x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								9/9qPpjWNgO9
								cQByuKcFiw==
								</data>
								<key>Size</key>
								<integer>87802</integer>
							</dict>
							<key>files/stacks-image-f61ed89-200x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								KRZN2PDNumUU
								27niqstmAA==
								</data>
								<key>Size</key>
								<integer>346204</integer>
							</dict>
							<key>files/stacks-image-faf2218-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								qWba4dAvkCyA
								QPaGcuhKeQ==
								</data>
								<key>Size</key>
								<integer>35933</integer>
							</dict>
							<key>files/stacks-image-faf2218-400x400@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								41lVSlQNEMnp
								vHAorGVpog==
								</data>
								<key>Size</key>
								<integer>55033</integer>
							</dict>
							<key>files/stacks-image-fc8fc2c-300x306.png</key>
							<dict>
								<key>Digest</key>
								<data>
								aYJ4oVR+1vsT
								dbFZKeNfCQ==
								</data>
								<key>Size</key>
								<integer>156063</integer>
							</dict>
							<key>files/stacks-image-fc8fc2c-300x306@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								8+EhwIZzoCAr
								b1O76SD4DA==
								</data>
								<key>Size</key>
								<integer>621515</integer>
							</dict>
							<key>files/stacks_page_page70.css</key>
							<dict>
								<key>Digest</key>
								<data>
								8RahpLMJ5mRO
								c3dd4LGh2g==
								</data>
								<key>Size</key>
								<integer>331941</integer>
							</dict>
							<key>files/stacks_page_page70.js</key>
							<dict>
								<key>Digest</key>
								<data>
								LvIBfjiFhUM4
								g9nVjYQugw==
								</data>
								<key>Size</key>
								<integer>26899</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								IvgGLdBvD7FP
								YbocVc6XTw==
								</data>
								<key>Size</key>
								<integer>222681</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page70</string>
						<key>SiteRoot</key>
						<string>partner/MMCOE</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>ChildPages</string>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
