<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Virtual CNWW</string>
				<key>CreatedDate</key>
				<date>2020-05-20T16:58:25Z</date>
				<key>ID</key>
				<string>page95</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>CNWW Virtual</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.2.2</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2021-12-02T17:33:15Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/DCE79F28-EA60-4789-B85B-36524B50F75A.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								IEzethOiNZT/
								CMFJwRU2Vg==
								</data>
								<key>Size</key>
								<integer>1269226</integer>
							</dict>
							<key>files/stacks-image-0564df1-1200x398.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								+PIAysuxsKhf
								ak6DnHut4w==
								</data>
								<key>Size</key>
								<integer>147870</integer>
							</dict>
							<key>files/stacks-image-2c71488-500x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Lec4d1l198/L
								VKsDoZvYgQ==
								</data>
								<key>Size</key>
								<integer>80127</integer>
							</dict>
							<key>files/stacks-image-2c71488-500x500@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								nZ7X8ib3yx6A
								LO628NHNNQ==
								</data>
								<key>Size</key>
								<integer>133062</integer>
							</dict>
							<key>files/stacks-image-4e487e1-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								7nDw5UDGL1gU
								SmgxUo5FbQ==
								</data>
								<key>Size</key>
								<integer>40116</integer>
							</dict>
							<key>files/stacks-image-5572282-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								e2VF/hpM6t8E
								F7n6yo2CXA==
								</data>
								<key>Size</key>
								<integer>51475</integer>
							</dict>
							<key>files/stacks-image-55d9607-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								+HTcHb7AcVPL
								OdWOVJcJ/w==
								</data>
								<key>Size</key>
								<integer>49738</integer>
							</dict>
							<key>files/stacks-image-751defd-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								icS9SDj+WwqQ
								9ByiVhzDzw==
								</data>
								<key>Size</key>
								<integer>53112</integer>
							</dict>
							<key>files/stacks-image-8de494a-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								jkI1LJgd8Rtn
								vJMXiewSVw==
								</data>
								<key>Size</key>
								<integer>52989</integer>
							</dict>
							<key>files/stacks-image-8de494a-400x400@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								DdVe5qkeLQ5+
								j/cvkyxsXA==
								</data>
								<key>Size</key>
								<integer>103047</integer>
							</dict>
							<key>files/stacks-image-91d6538-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Jg1/gCS60US5
								RmHgGJ3bAQ==
								</data>
								<key>Size</key>
								<integer>53622</integer>
							</dict>
							<key>files/stacks-image-b6446aa-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								fCHVBBD559q3
								uSwSog6nWw==
								</data>
								<key>Size</key>
								<integer>50846</integer>
							</dict>
							<key>files/stacks-image-d4b0169-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								zZD6y/Kqc7ju
								rUQcbODwPA==
								</data>
								<key>Size</key>
								<integer>56080</integer>
							</dict>
							<key>files/stacks-image-fc23ad2-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								cp+MMSI30EeH
								aVkNLn1IJg==
								</data>
								<key>Size</key>
								<integer>53628</integer>
							</dict>
							<key>files/stacks_page_page95.css</key>
							<dict>
								<key>Digest</key>
								<data>
								OMK3HGt7uDyV
								JFpvulcajw==
								</data>
								<key>Size</key>
								<integer>108671</integer>
							</dict>
							<key>files/stacks_page_page95.js</key>
							<dict>
								<key>Digest</key>
								<data>
								Ak8zWYiwrXec
								hS56C3BW3A==
								</data>
								<key>Size</key>
								<integer>20681</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								eIKkvVqHBKf3
								NOpR5FrUMQ==
								</data>
								<key>Size</key>
								<integer>75517</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page95</string>
						<key>SiteRoot</key>
						<string>events/cnww/CNWW-Virtual</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>ChildPages</string>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
