<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Organizers</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page79</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>ALife Organizers</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.2.2</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2021-12-02T17:33:15Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/821CB729-4021-48D4-8AB9-7934D828DDCF.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Bh7ZBrBTQFNo
								MwKii2MEPA==
								</data>
								<key>Size</key>
								<integer>772878</integer>
							</dict>
							<key>files/small-109623-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/small-109710-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JfxF8Omi0icK
								xIwohpIZqw==
								</data>
								<key>Size</key>
								<integer>77487</integer>
							</dict>
							<key>files/small-109714-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2NMhf1k+YDl
								uPpd6H1dBw==
								</data>
								<key>Size</key>
								<integer>15019</integer>
							</dict>
							<key>files/small-109735-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D2nm4R7babci
								2M5NjfUDZQ==
								</data>
								<key>Size</key>
								<integer>18925</integer>
							</dict>
							<key>files/small-109736-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgRiuB3NhhIh
								SwZTifI18g==
								</data>
								<key>Size</key>
								<integer>21987</integer>
							</dict>
							<key>files/stacks-image-0705fae-452x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								WpKpRx5QbuCp
								28mxTVZqGw==
								</data>
								<key>Size</key>
								<integer>40207</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								nc/RlhmvGDDL
								K+SuTjMLPQ==
								</data>
								<key>Size</key>
								<integer>35262</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								tvAomUQyeND0
								vTpTZz/VVg==
								</data>
								<key>Size</key>
								<integer>68367</integer>
							</dict>
							<key>files/stacks-image-19f190a.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								KrBVbIAWst1k
								DnJHa18ADA==
								</data>
								<key>Size</key>
								<integer>39542</integer>
							</dict>
							<key>files/stacks-image-1eb6b30.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								OUbC3/O+Hzkh
								wcGqgjSFYQ==
								</data>
								<key>Size</key>
								<integer>6660</integer>
							</dict>
							<key>files/stacks-image-28ec906-332x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								5hwLjlD04baj
								Jp7KdIWhmA==
								</data>
								<key>Size</key>
								<integer>43521</integer>
							</dict>
							<key>files/stacks-image-2a4abd8.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								qERUJyBHljSK
								cnvrKT0NlQ==
								</data>
								<key>Size</key>
								<integer>673292</integer>
							</dict>
							<key>files/stacks-image-45b2809.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								bmw3QAtIF5ps
								bZ1zJ/iVtQ==
								</data>
								<key>Size</key>
								<integer>12897</integer>
							</dict>
							<key>files/stacks-image-485f523.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								8jpSLF89IUPH
								+2TIALk1ZQ==
								</data>
								<key>Size</key>
								<integer>76975</integer>
							</dict>
							<key>files/stacks-image-522d24f-500x280.png</key>
							<dict>
								<key>Digest</key>
								<data>
								3QDDPpC7gB/x
								f8e5TNeMOQ==
								</data>
								<key>Size</key>
								<integer>296478</integer>
							</dict>
							<key>files/stacks-image-522d24f-500x280@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								USzOo4rW2eFQ
								AYRphqxH3Q==
								</data>
								<key>Size</key>
								<integer>1050584</integer>
							</dict>
							<key>files/stacks-image-60981b4.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								vqxxAEMk+ctF
								chGdP/9ZsQ==
								</data>
								<key>Size</key>
								<integer>58637</integer>
							</dict>
							<key>files/stacks-image-67b56a5.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								YOCeqXp58f6C
								y3kw4GxquA==
								</data>
								<key>Size</key>
								<integer>123649</integer>
							</dict>
							<key>files/stacks-image-6c2cdff-500x500.png</key>
							<dict>
								<key>Digest</key>
								<data>
								lp0ayqUsKBMO
								SQpW1pooFg==
								</data>
								<key>Size</key>
								<integer>415450</integer>
							</dict>
							<key>files/stacks-image-6c2cdff-500x500@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								NUWpjNwwZzeZ
								PSUjFhFX6Q==
								</data>
								<key>Size</key>
								<integer>1663497</integer>
							</dict>
							<key>files/stacks-image-6c5fcfa-500x500.png</key>
							<dict>
								<key>Digest</key>
								<data>
								yIuzG+IsTUoQ
								intWQrIQPQ==
								</data>
								<key>Size</key>
								<integer>268308</integer>
							</dict>
							<key>files/stacks-image-786426a.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								YYI7GCtOSDb+
								rmmCqgclVA==
								</data>
								<key>Size</key>
								<integer>30509</integer>
							</dict>
							<key>files/stacks-image-78f8f99.png</key>
							<dict>
								<key>Digest</key>
								<data>
								YRy2S5aoKzt/
								v1ucadp4zA==
								</data>
								<key>Size</key>
								<integer>6879</integer>
							</dict>
							<key>files/stacks-image-792255f-600x514.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								y8yAcVhjeQvS
								xVKsLmrJrQ==
								</data>
								<key>Size</key>
								<integer>81957</integer>
							</dict>
							<key>files/stacks-image-9fab8b0.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								VC1pyUIat+Jp
								n1vixhcgwQ==
								</data>
								<key>Size</key>
								<integer>30445</integer>
							</dict>
							<key>files/stacks-image-b246ee9-332x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9BfXyEV4v8Mh
								N1R60PDYEQ==
								</data>
								<key>Size</key>
								<integer>41516</integer>
							</dict>
							<key>files/stacks-image-c4ff35f.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								QP7s0m7EVkOx
								LooS9zidow==
								</data>
								<key>Size</key>
								<integer>8494</integer>
							</dict>
							<key>files/stacks-image-cd0a404.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Nb2TZEoroRSC
								Y+xT2IHd1Q==
								</data>
								<key>Size</key>
								<integer>27178</integer>
							</dict>
							<key>files/stacks-image-d7139db.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								d8N940Mz+Z7w
								r1KttVpXdw==
								</data>
								<key>Size</key>
								<integer>204779</integer>
							</dict>
							<key>files/stacks-image-d77b357.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								dumsJ8F1KD44
								fbbi7lrPSQ==
								</data>
								<key>Size</key>
								<integer>140458</integer>
							</dict>
							<key>files/stacks-image-d885e70-500x478.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								TL4vERwTBaLK
								s7L5baYbmw==
								</data>
								<key>Size</key>
								<integer>63491</integer>
							</dict>
							<key>files/stacks-image-dba79ff.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								CXPAaLfpWqSB
								wSWTx//1ig==
								</data>
								<key>Size</key>
								<integer>19539</integer>
							</dict>
							<key>files/stacks-image-e4f96a0-392x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ftEsr8FIErQO
								6B/VIx80Sw==
								</data>
								<key>Size</key>
								<integer>52647</integer>
							</dict>
							<key>files/stacks-image-e4f96a0-392x500@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								W4pCe8Bxa84Y
								GquRor7cng==
								</data>
								<key>Size</key>
								<integer>86864</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Hwezk6t72J5g
								2awHy7YAqA==
								</data>
								<key>Size</key>
								<integer>19470</integer>
							</dict>
							<key>files/stacks-image-efb059d.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								zTOAbXHJb4/n
								KFA+LrHCdg==
								</data>
								<key>Size</key>
								<integer>5127</integer>
							</dict>
							<key>files/stacks-image-f24200a.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								4HHKfY5XETNM
								/Pgp/h2eag==
								</data>
								<key>Size</key>
								<integer>13476</integer>
							</dict>
							<key>files/stacks-image-f638868-500x230.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								4lQZRoUlNKcq
								je4LtsmlMQ==
								</data>
								<key>Size</key>
								<integer>36664</integer>
							</dict>
							<key>files/stacks-image-fbb6677.png</key>
							<dict>
								<key>Digest</key>
								<data>
								QY+g+er0kC8U
								06S3dnnoVA==
								</data>
								<key>Size</key>
								<integer>108523</integer>
							</dict>
							<key>files/stacks-image-ffaa771.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								QFxKm0wCrQNC
								RR4aV0AnrA==
								</data>
								<key>Size</key>
								<integer>12191</integer>
							</dict>
							<key>files/stacks_page_page79.css</key>
							<dict>
								<key>Digest</key>
								<data>
								xuABnm/ikx9O
								wzibrRAK3g==
								</data>
								<key>Size</key>
								<integer>215252</integer>
							</dict>
							<key>files/stacks_page_page79.js</key>
							<dict>
								<key>Digest</key>
								<data>
								jjVsidJMC2+1
								L/X9+KhWpA==
								</data>
								<key>Size</key>
								<integer>29193</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								13sqChtEBCTx
								whXaH1kwzA==
								</data>
								<key>Size</key>
								<integer>155117</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page79</string>
						<key>SiteRoot</key>
						<string>events/ALIFE-2020/Organizers</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
