<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>NetSci Schedule</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page55</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>NetSci Schedule</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.2.5</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2022-08-24T20:20:32Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/D289564D-C2D0-4B94-AA16-FC8C366062A7.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								GQHOUzuyjCs9
								Jfbg60A9OQ==
								</data>
								<key>Size</key>
								<integer>700318</integer>
							</dict>
							<key>files/small-109623-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/small-109710-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JfxF8Omi0icK
								xIwohpIZqw==
								</data>
								<key>Size</key>
								<integer>77487</integer>
							</dict>
							<key>files/small-109714-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2NMhf1k+YDl
								uPpd6H1dBw==
								</data>
								<key>Size</key>
								<integer>15019</integer>
							</dict>
							<key>files/small-109735-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D2nm4R7babci
								2M5NjfUDZQ==
								</data>
								<key>Size</key>
								<integer>18925</integer>
							</dict>
							<key>files/small-109736-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgRiuB3NhhIh
								SwZTifI18g==
								</data>
								<key>Size</key>
								<integer>21987</integer>
							</dict>
							<key>files/stacks-image-012ccd0-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								MwuBisOoCaru
								V8uhx76OwQ==
								</data>
								<key>Size</key>
								<integer>37453</integer>
							</dict>
							<key>files/stacks-image-053bbd3.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								qJDj+2z2CRki
								3mpp8k8o/g==
								</data>
								<key>Size</key>
								<integer>22159</integer>
							</dict>
							<key>files/stacks-image-0655a30-350x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Or3ITo4mdjr8
								94M61kjraA==
								</data>
								<key>Size</key>
								<integer>18175</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								nc/RlhmvGDDL
								K+SuTjMLPQ==
								</data>
								<key>Size</key>
								<integer>35262</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								tvAomUQyeND0
								vTpTZz/VVg==
								</data>
								<key>Size</key>
								<integer>68367</integer>
							</dict>
							<key>files/stacks-image-127916a.png</key>
							<dict>
								<key>Digest</key>
								<data>
								0GUWwCZaomta
								DcjE4zY/bQ==
								</data>
								<key>Size</key>
								<integer>523754</integer>
							</dict>
							<key>files/stacks-image-143d2ab-398x400.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B84HbGRI6HYy
								jRaWzIUAVA==
								</data>
								<key>Size</key>
								<integer>168298</integer>
							</dict>
							<key>files/stacks-image-143d2ab-398x400@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								o0SRoTHaR6wa
								AxFLUuLB/w==
								</data>
								<key>Size</key>
								<integer>539702</integer>
							</dict>
							<key>files/stacks-image-1500267-332x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								DkRzjzuBMxCZ
								+nb3238Rmg==
								</data>
								<key>Size</key>
								<integer>38066</integer>
							</dict>
							<key>files/stacks-image-1500267-332x500@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								aLLoDtvbVkvr
								gZYAPWFGtA==
								</data>
								<key>Size</key>
								<integer>59185</integer>
							</dict>
							<key>files/stacks-image-1fdb6e6-350x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								2jt+y7f/kfuw
								eCSNxmvN4A==
								</data>
								<key>Size</key>
								<integer>17460</integer>
							</dict>
							<key>files/stacks-image-1fdb6e6-350x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								hcHtomvXDQl7
								8/rsRUmOdw==
								</data>
								<key>Size</key>
								<integer>26325</integer>
							</dict>
							<key>files/stacks-image-3a915a5.png</key>
							<dict>
								<key>Digest</key>
								<data>
								IhrvgJxy7IGR
								gVD44j5VbQ==
								</data>
								<key>Size</key>
								<integer>1654662</integer>
							</dict>
							<key>files/stacks-image-3f840b6-400x400.png</key>
							<dict>
								<key>Digest</key>
								<data>
								SsfNnjAXMbsi
								lrnH032K+w==
								</data>
								<key>Size</key>
								<integer>38317</integer>
							</dict>
							<key>files/stacks-image-3f840b6-400x400@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								gcLneANkdHUS
								WvrbY1T9cQ==
								</data>
								<key>Size</key>
								<integer>91239</integer>
							</dict>
							<key>files/stacks-image-43d632b.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Al0iGa9siGmh
								ub9dFUXZfQ==
								</data>
								<key>Size</key>
								<integer>24308</integer>
							</dict>
							<key>files/stacks-image-45366af-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								LavIuIjkXa+B
								RYb7QpCObw==
								</data>
								<key>Size</key>
								<integer>24552</integer>
							</dict>
							<key>files/stacks-image-5433a01-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								2ss1MWBtFKP6
								kuy7KFtCfA==
								</data>
								<key>Size</key>
								<integer>21494</integer>
							</dict>
							<key>files/stacks-image-5433a01-350x375@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								DO/Urp63/rhw
								HHFpXXBW+A==
								</data>
								<key>Size</key>
								<integer>30412</integer>
							</dict>
							<key>files/stacks-image-571e73c-350x375.png</key>
							<dict>
								<key>Digest</key>
								<data>
								xpNds+On1RfX
								MUusTh8EGA==
								</data>
								<key>Size</key>
								<integer>219557</integer>
							</dict>
							<key>files/stacks-image-571e73c-350x375@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								+Ahbgit9lWWP
								Dl5fRFRt6g==
								</data>
								<key>Size</key>
								<integer>725674</integer>
							</dict>
							<key>files/stacks-image-586ba67.png</key>
							<dict>
								<key>Digest</key>
								<data>
								crsX/Flpm7oj
								9IBJBkKnRg==
								</data>
								<key>Size</key>
								<integer>10913</integer>
							</dict>
							<key>files/stacks-image-6467c3a-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								MCcuFyGJQhgK
								tcx8swUTDQ==
								</data>
								<key>Size</key>
								<integer>29001</integer>
							</dict>
							<key>files/stacks-image-68a4e7f-350x375.png</key>
							<dict>
								<key>Digest</key>
								<data>
								jZV7JZhNIKsK
								ZfDh5LBxRw==
								</data>
								<key>Size</key>
								<integer>131360</integer>
							</dict>
							<key>files/stacks-image-68a4e7f-350x375@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								TN09FHAYdnL4
								lWydfURt6w==
								</data>
								<key>Size</key>
								<integer>484671</integer>
							</dict>
							<key>files/stacks-image-6fb48dc-1200x488.png</key>
							<dict>
								<key>Digest</key>
								<data>
								bl1GIjKh70GY
								JYM1e/UhGw==
								</data>
								<key>Size</key>
								<integer>107335</integer>
							</dict>
							<key>files/stacks-image-72d04bd-900x156.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								1JpFwNjeGoBB
								SLCvkCMd6w==
								</data>
								<key>Size</key>
								<integer>27485</integer>
							</dict>
							<key>files/stacks-image-7700296-350x375.png</key>
							<dict>
								<key>Digest</key>
								<data>
								gxv+xBMaZYB0
								8iOUHTNOBw==
								</data>
								<key>Size</key>
								<integer>257599</integer>
							</dict>
							<key>files/stacks-image-78f98c2-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								5//3wc+gyL9w
								icjnYdlSJA==
								</data>
								<key>Size</key>
								<integer>40184</integer>
							</dict>
							<key>files/stacks-image-78f98c2-350x375@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ZLUPWdxPwASO
								enV4kRUGKQ==
								</data>
								<key>Size</key>
								<integer>66216</integer>
							</dict>
							<key>files/stacks-image-7bc5484-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								FyYBIRZcj01n
								UsAzynqMNQ==
								</data>
								<key>Size</key>
								<integer>32968</integer>
							</dict>
							<key>files/stacks-image-7bc5484-350x375@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								A2L3HObLBvYD
								k0x3cjmZBQ==
								</data>
								<key>Size</key>
								<integer>63325</integer>
							</dict>
							<key>files/stacks-image-8886a8a-426x400.png</key>
							<dict>
								<key>Digest</key>
								<data>
								SQSuP5xCiJmD
								ICSiNFzBSw==
								</data>
								<key>Size</key>
								<integer>50149</integer>
							</dict>
							<key>files/stacks-image-8886a8a-426x400@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								gw6HMmXAw8Ik
								OZguFWWfgQ==
								</data>
								<key>Size</key>
								<integer>115496</integer>
							</dict>
							<key>files/stacks-image-9416b79-700x375.png</key>
							<dict>
								<key>Digest</key>
								<data>
								mlRP8DW0wLxT
								kmxThdoPqw==
								</data>
								<key>Size</key>
								<integer>339324</integer>
							</dict>
							<key>files/stacks-image-94e39ec.png</key>
							<dict>
								<key>Digest</key>
								<data>
								VwOV6XW69A+5
								YzGEibL1nw==
								</data>
								<key>Size</key>
								<integer>7229</integer>
							</dict>
							<key>files/stacks-image-a0c9938-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								anYnvjfRf7lW
								+7v5zdP+iA==
								</data>
								<key>Size</key>
								<integer>20113</integer>
							</dict>
							<key>files/stacks-image-ae80aa8-250x82.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zZKPZConj8wG
								iVwF9P3nUA==
								</data>
								<key>Size</key>
								<integer>14796</integer>
							</dict>
							<key>files/stacks-image-b988785.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Sk3k6UY9Mnj5
								hGCpGGL2FQ==
								</data>
								<key>Size</key>
								<integer>7064</integer>
							</dict>
							<key>files/stacks-image-bded2de-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								u6987/Le0Vxt
								enz2NRoDnQ==
								</data>
								<key>Size</key>
								<integer>27176</integer>
							</dict>
							<key>files/stacks-image-bded2de-350x375@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								4cBsuLcp6hBV
								Z5sAgQaKnA==
								</data>
								<key>Size</key>
								<integer>53643</integer>
							</dict>
							<key>files/stacks-image-bf17dfe-700x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								X0NYHAlc59Af
								mjh+kWyzGQ==
								</data>
								<key>Size</key>
								<integer>90474</integer>
							</dict>
							<key>files/stacks-image-c6fac6f-700x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								7L/XyKA2k0Gw
								mnsn00gpzg==
								</data>
								<key>Size</key>
								<integer>84690</integer>
							</dict>
							<key>files/stacks-image-d7126ef.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ra1mM7S55BV2
								/ztl2wqtmg==
								</data>
								<key>Size</key>
								<integer>10055</integer>
							</dict>
							<key>files/stacks-image-e5e8064-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								C24yrVneOquf
								3OsmlbiaFQ==
								</data>
								<key>Size</key>
								<integer>30631</integer>
							</dict>
							<key>files/stacks-image-e5e8064-350x375@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								dng8K+/zJSxg
								QtsoU1n02Q==
								</data>
								<key>Size</key>
								<integer>48084</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Hwezk6t72J5g
								2awHy7YAqA==
								</data>
								<key>Size</key>
								<integer>19470</integer>
							</dict>
							<key>files/stacks-image-eb41103.png</key>
							<dict>
								<key>Digest</key>
								<data>
								jAlW11yoyzWZ
								HjPBv5Qzmg==
								</data>
								<key>Size</key>
								<integer>375040</integer>
							</dict>
							<key>files/stacks-image-f2255cc.png</key>
							<dict>
								<key>Digest</key>
								<data>
								7fuFYqxp4ZKE
								NaScMwEUQA==
								</data>
								<key>Size</key>
								<integer>13269</integer>
							</dict>
							<key>files/stacks-image-f39249a-1200x900.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								VkxgdSs9PCCn
								yvk0Bujulw==
								</data>
								<key>Size</key>
								<integer>280117</integer>
							</dict>
							<key>files/stacks-image-f39249a-1200x900@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								fHJ7GPCwtFqE
								3rl7kOp0uA==
								</data>
								<key>Size</key>
								<integer>420814</integer>
							</dict>
							<key>files/stacks-image-f9056c6-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								XUEkHMWGxyeP
								aqGKNPpU2A==
								</data>
								<key>Size</key>
								<integer>25438</integer>
							</dict>
							<key>files/stacks-image-f9e98ca.png</key>
							<dict>
								<key>Digest</key>
								<data>
								t6NqD4BKfum7
								w6sBxo56PA==
								</data>
								<key>Size</key>
								<integer>15236</integer>
							</dict>
							<key>files/stacks_page_page55.css</key>
							<dict>
								<key>Digest</key>
								<data>
								12CviQOxhELz
								0fvR/u8Btw==
								</data>
								<key>Size</key>
								<integer>393557</integer>
							</dict>
							<key>files/stacks_page_page55.js</key>
							<dict>
								<key>Digest</key>
								<data>
								Pmlq2b2d6hKr
								cy6Yl+O/AQ==
								</data>
								<key>Size</key>
								<integer>63164</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								rv1pGKlPCmN+
								DjDqygUo0g==
								</data>
								<key>Size</key>
								<integer>796956</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page55</string>
						<key>SiteRoot</key>
						<string>events/netsci/schedule</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
