<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page53</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>NetSci 2019</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.5.9</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2018-05-29T17:56:10Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/pin.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								xcy6OK5dO/8V
								xnwWql1CCA==
								</data>
								<key>Size</key>
								<integer>3950</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZFHf9zniv4SK
								z9ywIWAR7Q==
								</data>
								<key>Size</key>
								<integer>124861</integer>
							</dict>
							<key>files/small_p60311_n109628.png</key>
							<dict>
								<key>Digest</key>
								<data>
								pcpK3KZBcBVd
								Ns6QdrLpNA==
								</data>
								<key>Size</key>
								<integer>68548</integer>
							</dict>
							<key>files/stacks-image-00705d8-962x550.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								sJ0vKgRi9nmE
								cTfZNsELYg==
								</data>
								<key>Size</key>
								<integer>220569</integer>
							</dict>
							<key>files/stacks-image-20c6353-176x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								nsRX36nbR3IC
								z5KAE2pIKA==
								</data>
								<key>Size</key>
								<integer>89149</integer>
							</dict>
							<key>files/stacks-image-20c6353-176x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								EG/YAZ47xIxY
								u0JhhLcygA==
								</data>
								<key>Size</key>
								<integer>307683</integer>
							</dict>
							<key>files/stacks-image-902084e-166x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								0BNIHLagZeCA
								KqXmCQ15Ig==
								</data>
								<key>Size</key>
								<integer>15128</integer>
							</dict>
							<key>files/stacks-image-902084e-166x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								K3N+C1+Dk1Zz
								9vA951qJlA==
								</data>
								<key>Size</key>
								<integer>24525</integer>
							</dict>
							<key>files/stacks-image-ae82c9c.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								htVRWvdP8e2u
								FioTWTJ/HA==
								</data>
								<key>Size</key>
								<integer>228758</integer>
							</dict>
							<key>files/stacks-image-d2c4351-196x300.png</key>
							<dict>
								<key>Digest</key>
								<data>
								55pYY42WW75q
								GhpFjb+c+w==
								</data>
								<key>Size</key>
								<integer>40489</integer>
							</dict>
							<key>files/stacks-image-d2c4351.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Ta+0t2pCcZ7e
								8p223PFhUw==
								</data>
								<key>Size</key>
								<integer>41169</integer>
							</dict>
							<key>files/stacks-image-f9ee1d8-166x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								1dhUUO4zVpw4
								yu4vdJIchw==
								</data>
								<key>Size</key>
								<integer>12507</integer>
							</dict>
							<key>files/stacks-image-f9ee1d8-166x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								BX3vQfn0FDHk
								ziPEmbrNpQ==
								</data>
								<key>Size</key>
								<integer>18957</integer>
							</dict>
							<key>files/stacks_page_page53.css</key>
							<dict>
								<key>Digest</key>
								<data>
								OlsGq0xHJ9aF
								dnzOgAI8rg==
								</data>
								<key>Size</key>
								<integer>107445</integer>
							</dict>
							<key>files/stacks_page_page53.js</key>
							<dict>
								<key>Digest</key>
								<data>
								iQVvqRQvmB2a
								/n0OjmZWWQ==
								</data>
								<key>Size</key>
								<integer>27425</integer>
							</dict>
							<key>files/stacks_page_page53.php</key>
							<dict>
								<key>Digest</key>
								<data>
								g6ZIGd1USh7F
								d4M6suanNA==
								</data>
								<key>Size</key>
								<integer>922</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								it7VlZ9q27JI
								eHW0QWBpRg==
								</data>
								<key>Size</key>
								<integer>47086</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page53</string>
						<key>SiteRoot</key>
						<string>events/netsci</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>ChildPages</string>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
