<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Open Fellowships</string>
				<key>CreatedDate</key>
				<date>2016-03-03T14:19:25Z</date>
				<key>ID</key>
				<string>page50</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Fellowships</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.2.3</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2022-02-24T19:46:39Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/1BD1EBE7-EC73-40AA-9A1E-F25DCCBC3840.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								wLSEDPxm2+Dh
								xayFdo9MbA==
								</data>
								<key>Size</key>
								<integer>2504788</integer>
							</dict>
							<key>files/small-109623-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/small-109710-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JfxF8Omi0icK
								xIwohpIZqw==
								</data>
								<key>Size</key>
								<integer>77487</integer>
							</dict>
							<key>files/small-109714-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2NMhf1k+YDl
								uPpd6H1dBw==
								</data>
								<key>Size</key>
								<integer>15019</integer>
							</dict>
							<key>files/small-109735-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D2nm4R7babci
								2M5NjfUDZQ==
								</data>
								<key>Size</key>
								<integer>18925</integer>
							</dict>
							<key>files/small-109736-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgRiuB3NhhIh
								SwZTifI18g==
								</data>
								<key>Size</key>
								<integer>21987</integer>
							</dict>
							<key>files/small-525701.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								/orr/bg4QftS
								VAbCzuVb5Q==
								</data>
								<key>Size</key>
								<integer>234406</integer>
							</dict>
							<key>files/small-525723.png</key>
							<dict>
								<key>Digest</key>
								<data>
								7ptO0Z9QNBVX
								TOf1Zy8YhQ==
								</data>
								<key>Size</key>
								<integer>46883</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								nc/RlhmvGDDL
								K+SuTjMLPQ==
								</data>
								<key>Size</key>
								<integer>35262</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								tvAomUQyeND0
								vTpTZz/VVg==
								</data>
								<key>Size</key>
								<integer>68367</integer>
							</dict>
							<key>files/stacks-image-3f347ef-1200x208.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								QjU4ok2pGIry
								dGY0NjoFuw==
								</data>
								<key>Size</key>
								<integer>38819</integer>
							</dict>
							<key>files/stacks-image-73b449d-700x116.png</key>
							<dict>
								<key>Digest</key>
								<data>
								KxljkLtq+aZK
								DWvVGvyGgw==
								</data>
								<key>Size</key>
								<integer>31511</integer>
							</dict>
							<key>files/stacks-image-8abf195.png</key>
							<dict>
								<key>Digest</key>
								<data>
								QzkXb4HS250X
								7IprFR+7/Q==
								</data>
								<key>Size</key>
								<integer>3623</integer>
							</dict>
							<key>files/stacks-image-920fdb4-500x166.png</key>
							<dict>
								<key>Digest</key>
								<data>
								3HvesWrhBvg3
								2TFAuzFVGw==
								</data>
								<key>Size</key>
								<integer>33579</integer>
							</dict>
							<key>files/stacks-image-acab9a1-1200x1028.png</key>
							<dict>
								<key>Digest</key>
								<data>
								1C7D1xYZuEJI
								jHk3LlEdWQ==
								</data>
								<key>Size</key>
								<integer>403684</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Hwezk6t72J5g
								2awHy7YAqA==
								</data>
								<key>Size</key>
								<integer>19470</integer>
							</dict>
							<key>files/stacks_page_page50.css</key>
							<dict>
								<key>Digest</key>
								<data>
								ZC/s4atQMaYY
								OjKw4Ibl3w==
								</data>
								<key>Size</key>
								<integer>151393</integer>
							</dict>
							<key>files/stacks_page_page50.js</key>
							<dict>
								<key>Digest</key>
								<data>
								6Kl0iemIu+qe
								MFk5mn5KDw==
								</data>
								<key>Size</key>
								<integer>24472</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								d1ozJl1e5Fat
								jEhfln4dig==
								</data>
								<key>Size</key>
								<integer>65348</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page50</string>
						<key>SiteRoot</key>
						<string>education/Fellowships</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
