<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Open positions</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page6</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Open positions</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.6.1</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2018-07-23T17:07:17Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/medium_109931.png</key>
							<dict>
								<key>Digest</key>
								<data>
								41/4204vSolp
								ncfP+f8U4g==
								</data>
								<key>Size</key>
								<integer>163798</integer>
							</dict>
							<key>files/medium_109932.png</key>
							<dict>
								<key>Digest</key>
								<data>
								xO3S13dz2tSB
								BSMFTN3r1A==
								</data>
								<key>Size</key>
								<integer>20135</integer>
							</dict>
							<key>files/medium_109955.png</key>
							<dict>
								<key>Digest</key>
								<data>
								awWUX/ecvP0d
								3geqkqj1Bw==
								</data>
								<key>Size</key>
								<integer>31185</integer>
							</dict>
							<key>files/medium_110002.png</key>
							<dict>
								<key>Digest</key>
								<data>
								yqKjmXAuuI/H
								V55dPXO2oQ==
								</data>
								<key>Size</key>
								<integer>45933</integer>
							</dict>
							<key>files/small_109748.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								/orr/bg4QftS
								VAbCzuVb5Q==
								</data>
								<key>Size</key>
								<integer>234406</integer>
							</dict>
							<key>files/small_109931.png</key>
							<dict>
								<key>Digest</key>
								<data>
								vr3yhQcAresN
								a3hPFHddeQ==
								</data>
								<key>Size</key>
								<integer>84396</integer>
							</dict>
							<key>files/small_109932.png</key>
							<dict>
								<key>Digest</key>
								<data>
								0XJ8L5NSMIhc
								1O42IsHHbA==
								</data>
								<key>Size</key>
								<integer>6955</integer>
							</dict>
							<key>files/small_109955.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ttO6QbIwllw0
								fYKsouCeYw==
								</data>
								<key>Size</key>
								<integer>156890</integer>
							</dict>
							<key>files/small_110002.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zez0SJTWiiyo
								LfRoSHzf8Q==
								</data>
								<key>Size</key>
								<integer>16393</integer>
							</dict>
							<key>files/small_110036.png</key>
							<dict>
								<key>Digest</key>
								<data>
								UdYh/mIPPRip
								+ecFCqFBBg==
								</data>
								<key>Size</key>
								<integer>16077</integer>
							</dict>
							<key>files/small_110103.png</key>
							<dict>
								<key>Digest</key>
								<data>
								OFRAuYMHQjar
								WyJELtYtnw==
								</data>
								<key>Size</key>
								<integer>18601</integer>
							</dict>
							<key>files/small_110110.png</key>
							<dict>
								<key>Digest</key>
								<data>
								y4cN4+LpaXE6
								mfD7Wzs2dw==
								</data>
								<key>Size</key>
								<integer>6918</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZFHf9zniv4SK
								z9ywIWAR7Q==
								</data>
								<key>Size</key>
								<integer>124861</integer>
							</dict>
							<key>files/small_p60311_n109628.png</key>
							<dict>
								<key>Digest</key>
								<data>
								pcpK3KZBcBVd
								Ns6QdrLpNA==
								</data>
								<key>Size</key>
								<integer>68548</integer>
							</dict>
							<key>files/stacks_page_page6.css</key>
							<dict>
								<key>Digest</key>
								<data>
								Lvy6ovY5brtt
								ne5iZISbQg==
								</data>
								<key>Size</key>
								<integer>166636</integer>
							</dict>
							<key>files/stacks_page_page6.js</key>
							<dict>
								<key>Digest</key>
								<data>
								KJcXP6Jb8P1z
								jQq/j7qoNw==
								</data>
								<key>Size</key>
								<integer>25419</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								VHktmfu6FNzX
								LNHdo5ChZg==
								</data>
								<key>Size</key>
								<integer>91387</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page6</string>
						<key>SiteRoot</key>
						<string>people/positions</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
