<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page37</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Idea Collider</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.6.5</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2018-12-03T14:57:48Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZFHf9zniv4SK
								z9ywIWAR7Q==
								</data>
								<key>Size</key>
								<integer>124861</integer>
							</dict>
							<key>files/stacks-image-407a45c-150x150.png</key>
							<dict>
								<key>Digest</key>
								<data>
								6oghIOdOzlB5
								cpaO3LU0+A==
								</data>
								<key>Size</key>
								<integer>14647</integer>
							</dict>
							<key>files/stacks-image-407a45c-150x150@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								otQB+0Hqe1Si
								Ckbb744P3Q==
								</data>
								<key>Size</key>
								<integer>44307</integer>
							</dict>
							<key>files/stacks-image-580baf6-248x248.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								yZQqhuEMgia3
								owVDiEQk8g==
								</data>
								<key>Size</key>
								<integer>13322</integer>
							</dict>
							<key>files/stacks-image-90966db-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								kcVxqK0Y23YI
								Ns11kdYJ6w==
								</data>
								<key>Size</key>
								<integer>21714</integer>
							</dict>
							<key>files/stacks-image-9911c1e-150x72.png</key>
							<dict>
								<key>Digest</key>
								<data>
								OfYcye7mn2O/
								JqfY6pBjYw==
								</data>
								<key>Size</key>
								<integer>13039</integer>
							</dict>
							<key>files/stacks_page_page37.css</key>
							<dict>
								<key>Digest</key>
								<data>
								xzEEuh2mjrM3
								M2cBmn+dLA==
								</data>
								<key>Size</key>
								<integer>94357</integer>
							</dict>
							<key>files/stacks_page_page37.js</key>
							<dict>
								<key>Digest</key>
								<data>
								HsP0NUgEEKiX
								q5IQ7eyAgQ==
								</data>
								<key>Size</key>
								<integer>24349</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								uWNdJX2//vA8
								rcSnuxpNxA==
								</data>
								<key>Size</key>
								<integer>36628</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page37</string>
						<key>SiteRoot</key>
						<string>events/idea-</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
