<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page48</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Details</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.5.8</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2018-03-15T18:00:38Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small_109809.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ICYi4Z+nlMU5
								ZJ5jWAVsyg==
								</data>
								<key>Size</key>
								<integer>170336</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZFHf9zniv4SK
								z9ywIWAR7Q==
								</data>
								<key>Size</key>
								<integer>124861</integer>
							</dict>
							<key>files/small_p60311_n109628.png</key>
							<dict>
								<key>Digest</key>
								<data>
								pcpK3KZBcBVd
								Ns6QdrLpNA==
								</data>
								<key>Size</key>
								<integer>68548</integer>
							</dict>
							<key>files/stacks-image-4d937f0-100x150.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								zVK36KOY+dKO
								UhinWqIFVw==
								</data>
								<key>Size</key>
								<integer>8507</integer>
							</dict>
							<key>files/stacks-image-4d937f0-100x150@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								FBGZfaKRY86E
								4HJ4zNJR9w==
								</data>
								<key>Size</key>
								<integer>12166</integer>
							</dict>
							<key>files/stacks-image-6accef7-150x150.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zQ3j5jKmuA/V
								ClPgdCi34g==
								</data>
								<key>Size</key>
								<integer>20204</integer>
							</dict>
							<key>files/stacks-image-6accef7-150x150@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								xDB+Q1jIIwjJ
								DQuNfSyDBA==
								</data>
								<key>Size</key>
								<integer>64767</integer>
							</dict>
							<key>files/stacks-image-73fdc2e-98x150.png</key>
							<dict>
								<key>Digest</key>
								<data>
								SdC49IhJ3JHE
								zutzsmftPQ==
								</data>
								<key>Size</key>
								<integer>12547</integer>
							</dict>
							<key>files/stacks-image-86b04b6-296x300.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ulRvSuax0xFi
								j1R3/SUVbQ==
								</data>
								<key>Size</key>
								<integer>83792</integer>
							</dict>
							<key>files/stacks_page_page48.css</key>
							<dict>
								<key>Digest</key>
								<data>
								HvzCl68wew0K
								REUJoe4kkQ==
								</data>
								<key>Size</key>
								<integer>132163</integer>
							</dict>
							<key>files/stacks_page_page48.js</key>
							<dict>
								<key>Digest</key>
								<data>
								MUwBuGCVbFSM
								VKHWfAp2Tg==
								</data>
								<key>Size</key>
								<integer>27447</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								MLm7+OzMgD38
								yBDZsj8vtg==
								</data>
								<key>Size</key>
								<integer>48583</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page48</string>
						<key>SiteRoot</key>
						<string>events/science-of-stories/details</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
