<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Home of The Vermont Complex Systems Center</string>
				<key>CreatedDate</key>
				<date>2016-01-15T12:17:03Z</date>
				<key>ID</key>
				<string>page1</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>&lt;i class="fa fa-home fa-2x"&gt;&lt;/i&gt;</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.2.5</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2022-10-03T17:17:10Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								nb6qktBeP1tf
								7NlqdDql/g==
								</data>
								<key>Size</key>
								<integer>76793</integer>
							</dict>
							<key>index_files/large-526602.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>index_files/large-526714.png</key>
							<dict>
								<key>Digest</key>
								<data>
								OAFREfOgCFVX
								ZEK41eA/LA==
								</data>
								<key>Size</key>
								<integer>227556</integer>
							</dict>
							<key>index_files/large-526728.png</key>
							<dict>
								<key>Digest</key>
								<data>
								5TEcwfCB2jO7
								ev6X17aeKQ==
								</data>
								<key>Size</key>
								<integer>283814</integer>
							</dict>
							<key>index_files/large-526741.png</key>
							<dict>
								<key>Digest</key>
								<data>
								4cHNdQlutC4p
								FQibVPZlmQ==
								</data>
								<key>Size</key>
								<integer>243486</integer>
							</dict>
							<key>index_files/large-526754.png</key>
							<dict>
								<key>Digest</key>
								<data>
								njeVlSiKg0to
								WTUo8gb9Aw==
								</data>
								<key>Size</key>
								<integer>281744</integer>
							</dict>
							<key>index_files/medium-526602.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>index_files/medium-526714.png</key>
							<dict>
								<key>Digest</key>
								<data>
								OAFREfOgCFVX
								ZEK41eA/LA==
								</data>
								<key>Size</key>
								<integer>227556</integer>
							</dict>
							<key>index_files/medium-526728.png</key>
							<dict>
								<key>Digest</key>
								<data>
								5TEcwfCB2jO7
								ev6X17aeKQ==
								</data>
								<key>Size</key>
								<integer>283814</integer>
							</dict>
							<key>index_files/medium-526741.png</key>
							<dict>
								<key>Digest</key>
								<data>
								4cHNdQlutC4p
								FQibVPZlmQ==
								</data>
								<key>Size</key>
								<integer>243486</integer>
							</dict>
							<key>index_files/medium-526754.png</key>
							<dict>
								<key>Digest</key>
								<data>
								njeVlSiKg0to
								WTUo8gb9Aw==
								</data>
								<key>Size</key>
								<integer>281744</integer>
							</dict>
							<key>index_files/small-109623-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>index_files/small-109710-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JfxF8Omi0icK
								xIwohpIZqw==
								</data>
								<key>Size</key>
								<integer>77487</integer>
							</dict>
							<key>index_files/small-109714-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2NMhf1k+YDl
								uPpd6H1dBw==
								</data>
								<key>Size</key>
								<integer>15019</integer>
							</dict>
							<key>index_files/small-109735-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D2nm4R7babci
								2M5NjfUDZQ==
								</data>
								<key>Size</key>
								<integer>18925</integer>
							</dict>
							<key>index_files/small-109736-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgRiuB3NhhIh
								SwZTifI18g==
								</data>
								<key>Size</key>
								<integer>21987</integer>
							</dict>
							<key>index_files/small-526602.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>index_files/small-526628.png</key>
							<dict>
								<key>Digest</key>
								<data>
								oGffpcrO9YQE
								6DROqhHF9Q==
								</data>
								<key>Size</key>
								<integer>29901</integer>
							</dict>
							<key>index_files/small-526664.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ieif39fTqvGh
								CrgZHaX1hg==
								</data>
								<key>Size</key>
								<integer>37958</integer>
							</dict>
							<key>index_files/small-526714.png</key>
							<dict>
								<key>Digest</key>
								<data>
								OAFREfOgCFVX
								ZEK41eA/LA==
								</data>
								<key>Size</key>
								<integer>227556</integer>
							</dict>
							<key>index_files/small-526720.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								0K6UonyfvWsy
								0rtEV/Rc8Q==
								</data>
								<key>Size</key>
								<integer>49488</integer>
							</dict>
							<key>index_files/small-526728.png</key>
							<dict>
								<key>Digest</key>
								<data>
								5TEcwfCB2jO7
								ev6X17aeKQ==
								</data>
								<key>Size</key>
								<integer>283814</integer>
							</dict>
							<key>index_files/small-526734.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								1aktZFHGt6SM
								HC7djJvX6Q==
								</data>
								<key>Size</key>
								<integer>38017</integer>
							</dict>
							<key>index_files/small-526741.png</key>
							<dict>
								<key>Digest</key>
								<data>
								4cHNdQlutC4p
								FQibVPZlmQ==
								</data>
								<key>Size</key>
								<integer>243486</integer>
							</dict>
							<key>index_files/small-526747.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								puSiyfTJWAzj
								ZpgEIht62w==
								</data>
								<key>Size</key>
								<integer>48053</integer>
							</dict>
							<key>index_files/small-526754.png</key>
							<dict>
								<key>Digest</key>
								<data>
								njeVlSiKg0to
								WTUo8gb9Aw==
								</data>
								<key>Size</key>
								<integer>281744</integer>
							</dict>
							<key>index_files/small-526760.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								leFTMFwpW7MP
								EBVxjwxcmQ==
								</data>
								<key>Size</key>
								<integer>41843</integer>
							</dict>
							<key>index_files/small-526771.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								WH6KVJtESc55
								UPLBdfd4OA==
								</data>
								<key>Size</key>
								<integer>53326</integer>
							</dict>
							<key>index_files/small-526775.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								VZh7ikUd4q1N
								vmZGDQPXng==
								</data>
								<key>Size</key>
								<integer>131292</integer>
							</dict>
							<key>index_files/small-526779.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								GQDM2Q1auRI7
								rVVJJW77fA==
								</data>
								<key>Size</key>
								<integer>125690</integer>
							</dict>
							<key>index_files/small-526783.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Yb+L/heiX6tP
								YliFF2auMA==
								</data>
								<key>Size</key>
								<integer>269913</integer>
							</dict>
							<key>index_files/small-526787.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ICYi4Z+nlMU5
								ZJ5jWAVsyg==
								</data>
								<key>Size</key>
								<integer>170336</integer>
							</dict>
							<key>index_files/small-527012.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								syd5ScMzK+Md
								76SbQPb+5w==
								</data>
								<key>Size</key>
								<integer>438998</integer>
							</dict>
							<key>index_files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JV5ejNT3Y8/E
								W0wI16l5/Q==
								</data>
								<key>Size</key>
								<integer>35252</integer>
							</dict>
							<key>index_files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Su+ZpJd1NY34
								s0J16tjsFg==
								</data>
								<key>Size</key>
								<integer>68409</integer>
							</dict>
							<key>index_files/stacks-image-1dcbf81.png</key>
							<dict>
								<key>Digest</key>
								<data>
								hAKSIa3+ZrXU
								vEdJbNZi4g==
								</data>
								<key>Size</key>
								<integer>34013</integer>
							</dict>
							<key>index_files/stacks-image-247d7d5-400x342.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								uOLt7bXFWEPO
								liy2LCajgg==
								</data>
								<key>Size</key>
								<integer>33613</integer>
							</dict>
							<key>index_files/stacks-image-247d7d5-400x342@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								C66ohlej8PLa
								tvdn/ZtxTA==
								</data>
								<key>Size</key>
								<integer>61089</integer>
							</dict>
							<key>index_files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								0LBTZh9Y4iZ6
								By0DZuC++A==
								</data>
								<key>Size</key>
								<integer>19463</integer>
							</dict>
							<key>index_files/stacks_page_page1.css</key>
							<dict>
								<key>Digest</key>
								<data>
								RNTsKTCSZcY4
								PcBAVAqYAA==
								</data>
								<key>Size</key>
								<integer>145151</integer>
							</dict>
							<key>index_files/stacks_page_page1.js</key>
							<dict>
								<key>Digest</key>
								<data>
								0d86CKQs7eMY
								RrPjmdOXFQ==
								</data>
								<key>Size</key>
								<integer>24478</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page1</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
