<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>The Vermont Complex Systems Center</string>
				<key>CreatedDate</key>
				<date>2016-01-15T12:17:03Z</date>
				<key>ID</key>
				<string>page1</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>&lt;i class="fa fa-home fa-2x"&gt;&lt;/i&gt;</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.6.6</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-07-31T11:40:45Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								fB8yhq7pqWCb
								mHv0xCYFrw==
								</data>
								<key>Size</key>
								<integer>87255</integer>
							</dict>
							<key>index_files/medium_526602.png</key>
							<dict>
								<key>Digest</key>
								<data>
								iU159kIEPJBy
								227TH9MVMg==
								</data>
								<key>Size</key>
								<integer>330014</integer>
							</dict>
							<key>index_files/medium_526714.png</key>
							<dict>
								<key>Digest</key>
								<data>
								aSBmV7Fa6CFe
								VBLpy1oimQ==
								</data>
								<key>Size</key>
								<integer>151248</integer>
							</dict>
							<key>index_files/medium_526728.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ObAxj+uZ+db3
								aD+krt2AIg==
								</data>
								<key>Size</key>
								<integer>161836</integer>
							</dict>
							<key>index_files/medium_526741.png</key>
							<dict>
								<key>Digest</key>
								<data>
								CuUnc08CmXPN
								Tiq5ImyBXQ==
								</data>
								<key>Size</key>
								<integer>159243</integer>
							</dict>
							<key>index_files/medium_526754.png</key>
							<dict>
								<key>Digest</key>
								<data>
								nADf6fHxau4a
								G2s0VctITQ==
								</data>
								<key>Size</key>
								<integer>144349</integer>
							</dict>
							<key>index_files/small_526602.png</key>
							<dict>
								<key>Digest</key>
								<data>
								iU159kIEPJBy
								227TH9MVMg==
								</data>
								<key>Size</key>
								<integer>330014</integer>
							</dict>
							<key>index_files/small_526628.png</key>
							<dict>
								<key>Digest</key>
								<data>
								oGffpcrO9YQE
								6DROqhHF9Q==
								</data>
								<key>Size</key>
								<integer>29901</integer>
							</dict>
							<key>index_files/small_526664.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ieif39fTqvGh
								CrgZHaX1hg==
								</data>
								<key>Size</key>
								<integer>37958</integer>
							</dict>
							<key>index_files/small_526714.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zyJjwa00+qS6
								8ZFxcDVfDg==
								</data>
								<key>Size</key>
								<integer>146474</integer>
							</dict>
							<key>index_files/small_526720.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								0K6UonyfvWsy
								0rtEV/Rc8Q==
								</data>
								<key>Size</key>
								<integer>49488</integer>
							</dict>
							<key>index_files/small_526728.png</key>
							<dict>
								<key>Digest</key>
								<data>
								L7uqIHqIPK6D
								7bPWnx99Jg==
								</data>
								<key>Size</key>
								<integer>179394</integer>
							</dict>
							<key>index_files/small_526734.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								1aktZFHGt6SM
								HC7djJvX6Q==
								</data>
								<key>Size</key>
								<integer>38017</integer>
							</dict>
							<key>index_files/small_526741.png</key>
							<dict>
								<key>Digest</key>
								<data>
								BfnnCWYgs0U9
								O3e3uhu90g==
								</data>
								<key>Size</key>
								<integer>147975</integer>
							</dict>
							<key>index_files/small_526747.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								puSiyfTJWAzj
								ZpgEIht62w==
								</data>
								<key>Size</key>
								<integer>48053</integer>
							</dict>
							<key>index_files/small_526754.png</key>
							<dict>
								<key>Digest</key>
								<data>
								RQpG5l32LHX7
								TAk8lyjNOg==
								</data>
								<key>Size</key>
								<integer>181544</integer>
							</dict>
							<key>index_files/small_526760.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								leFTMFwpW7MP
								EBVxjwxcmQ==
								</data>
								<key>Size</key>
								<integer>41843</integer>
							</dict>
							<key>index_files/small_526771.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								WH6KVJtESc55
								UPLBdfd4OA==
								</data>
								<key>Size</key>
								<integer>53326</integer>
							</dict>
							<key>index_files/small_526775.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								VZh7ikUd4q1N
								vmZGDQPXng==
								</data>
								<key>Size</key>
								<integer>131292</integer>
							</dict>
							<key>index_files/small_526779.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								GQDM2Q1auRI7
								rVVJJW77fA==
								</data>
								<key>Size</key>
								<integer>125690</integer>
							</dict>
							<key>index_files/small_526783.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Yb+L/heiX6tP
								YliFF2auMA==
								</data>
								<key>Size</key>
								<integer>269913</integer>
							</dict>
							<key>index_files/small_526787.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ICYi4Z+nlMU5
								ZJ5jWAVsyg==
								</data>
								<key>Size</key>
								<integer>170336</integer>
							</dict>
							<key>index_files/small_527012.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								syd5ScMzK+Md
								76SbQPb+5w==
								</data>
								<key>Size</key>
								<integer>438998</integer>
							</dict>
							<key>index_files/small_p60859_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZFHf9zniv4SK
								z9ywIWAR7Q==
								</data>
								<key>Size</key>
								<integer>124861</integer>
							</dict>
							<key>index_files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								5SEHlmzIRPnE
								h1Zlyu2W+A==
								</data>
								<key>Size</key>
								<integer>35205</integer>
							</dict>
							<key>index_files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZP2FJ/yve/bb
								UMUDEFQ7OA==
								</data>
								<key>Size</key>
								<integer>68310</integer>
							</dict>
							<key>index_files/stacks-image-247d7d5-400x342.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								GPNXZ/+KJ3Op
								p8trPhRwtw==
								</data>
								<key>Size</key>
								<integer>33654</integer>
							</dict>
							<key>index_files/stacks-image-247d7d5-400x342@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								n5OOkayxifd9
								v+1oCmsh5w==
								</data>
								<key>Size</key>
								<integer>61120</integer>
							</dict>
							<key>index_files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								FWLv4iC2Yarl
								ySGORUZ3Iw==
								</data>
								<key>Size</key>
								<integer>19413</integer>
							</dict>
							<key>index_files/stacks_page_page1.css</key>
							<dict>
								<key>Digest</key>
								<data>
								e2m1+t3hp7qk
								JpK+QArFDw==
								</data>
								<key>Size</key>
								<integer>172492</integer>
							</dict>
							<key>index_files/stacks_page_page1.js</key>
							<dict>
								<key>Digest</key>
								<data>
								+fTx3tNtuiz2
								0cNeVlczlA==
								</data>
								<key>Size</key>
								<integer>23906</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page1</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
