<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>OCEAN</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:30Z</date>
				<key>ID</key>
				<string>page38</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>OCEAN</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.3.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2022-12-09T15:34:55Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small-109623-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/small-109710-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JfxF8Omi0icK
								xIwohpIZqw==
								</data>
								<key>Size</key>
								<integer>77487</integer>
							</dict>
							<key>files/small-109714-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2NMhf1k+YDl
								uPpd6H1dBw==
								</data>
								<key>Size</key>
								<integer>15019</integer>
							</dict>
							<key>files/small-109735-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D2nm4R7babci
								2M5NjfUDZQ==
								</data>
								<key>Size</key>
								<integer>18925</integer>
							</dict>
							<key>files/small-109736-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgRiuB3NhhIh
								SwZTifI18g==
								</data>
								<key>Size</key>
								<integer>21987</integer>
							</dict>
							<key>files/stacks-image-08b1d33-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								hXgkX24MsR4s
								kxahAjO/Jg==
								</data>
								<key>Size</key>
								<integer>27145</integer>
							</dict>
							<key>files/stacks-image-08b1d33-400x400@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								zOLTi/k9H7Fw
								2VlTfd4E7Q==
								</data>
								<key>Size</key>
								<integer>42294</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JV5ejNT3Y8/E
								W0wI16l5/Q==
								</data>
								<key>Size</key>
								<integer>35252</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Su+ZpJd1NY34
								s0J16tjsFg==
								</data>
								<key>Size</key>
								<integer>68409</integer>
							</dict>
							<key>files/stacks-image-18f1b71-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								7+4cWyoU/PQ2
								wxJEXxfEpQ==
								</data>
								<key>Size</key>
								<integer>31739</integer>
							</dict>
							<key>files/stacks-image-18f1b71-400x400@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								i+up4kI6Bx7c
								V2hE11bRpA==
								</data>
								<key>Size</key>
								<integer>51724</integer>
							</dict>
							<key>files/stacks-image-2706f3f.png</key>
							<dict>
								<key>Digest</key>
								<data>
								38DyDEe6U7zk
								+jpdOMXc/w==
								</data>
								<key>Size</key>
								<integer>2858</integer>
							</dict>
							<key>files/stacks-image-39077ac-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								vzlvLKwCGVCn
								4eFPYKqtxA==
								</data>
								<key>Size</key>
								<integer>30951</integer>
							</dict>
							<key>files/stacks-image-4c10b4a-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Bsp3oaclL7T1
								F60FI1MiUA==
								</data>
								<key>Size</key>
								<integer>38518</integer>
							</dict>
							<key>files/stacks-image-9874180-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								i5A+JylGDlh1
								OnwnFmaimg==
								</data>
								<key>Size</key>
								<integer>25995</integer>
							</dict>
							<key>files/stacks-image-9874180-400x400@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								wfpSVCMe8d9g
								MSm9vvbsAw==
								</data>
								<key>Size</key>
								<integer>40925</integer>
							</dict>
							<key>files/stacks-image-9db05da-400x400.png</key>
							<dict>
								<key>Digest</key>
								<data>
								53KrgfLbIabM
								1SQya3S7dg==
								</data>
								<key>Size</key>
								<integer>224617</integer>
							</dict>
							<key>files/stacks-image-a26991d-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								CMcvO3Qd8nNN
								zdkcNMWPiw==
								</data>
								<key>Size</key>
								<integer>32493</integer>
							</dict>
							<key>files/stacks-image-a839a62-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								GZN+Llwunfmg
								NimkAHMonQ==
								</data>
								<key>Size</key>
								<integer>27438</integer>
							</dict>
							<key>files/stacks-image-b4a7cc2-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								EFqqMPGM/IZo
								dmMOYF0xFQ==
								</data>
								<key>Size</key>
								<integer>33330</integer>
							</dict>
							<key>files/stacks-image-b4a7cc2-400x400@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								4tS/2o0rp9iR
								YDkGuhCGRg==
								</data>
								<key>Size</key>
								<integer>53501</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								0LBTZh9Y4iZ6
								By0DZuC++A==
								</data>
								<key>Size</key>
								<integer>19463</integer>
							</dict>
							<key>files/stacks-image-f2b9c2a-400x400.png</key>
							<dict>
								<key>Digest</key>
								<data>
								BB3tVDwOpi1G
								d9e2xbVP4A==
								</data>
								<key>Size</key>
								<integer>300365</integer>
							</dict>
							<key>files/stacks_page_page38.css</key>
							<dict>
								<key>Digest</key>
								<data>
								JXkTR7CPj/gl
								TXsyuheDYA==
								</data>
								<key>Size</key>
								<integer>136834</integer>
							</dict>
							<key>files/stacks_page_page38.js</key>
							<dict>
								<key>Digest</key>
								<data>
								6Kl0iemIu+qe
								MFk5mn5KDw==
								</data>
								<key>Size</key>
								<integer>24472</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								mdOrSg7IwK+E
								avdoI8zRrQ==
								</data>
								<key>Size</key>
								<integer>72632</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page38</string>
						<key>SiteRoot</key>
						<string>partner/OCEAN</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>ChildPages</string>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
