<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>NetSci Schedule</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page55</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>NetSci Schedule</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.6.5</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-01-04T18:11:54Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/backgroundImage_112552.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								GQHOUzuyjCs9
								Jfbg60A9OQ==
								</data>
								<key>Size</key>
								<integer>700318</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZFHf9zniv4SK
								z9ywIWAR7Q==
								</data>
								<key>Size</key>
								<integer>124861</integer>
							</dict>
							<key>files/stacks-image-127916a.png</key>
							<dict>
								<key>Digest</key>
								<data>
								3LgVp1RAakvu
								6pxIT/gAjg==
								</data>
								<key>Size</key>
								<integer>530208</integer>
							</dict>
							<key>files/stacks-image-580baf6-248x248.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								yZQqhuEMgia3
								owVDiEQk8g==
								</data>
								<key>Size</key>
								<integer>13322</integer>
							</dict>
							<key>files/stacks-image-843a067.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								gvLJWD1G+M0Z
								v6+xt5Bueg==
								</data>
								<key>Size</key>
								<integer>239632</integer>
							</dict>
							<key>files/stacks-image-90966db-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								kcVxqK0Y23YI
								Ns11kdYJ6w==
								</data>
								<key>Size</key>
								<integer>21714</integer>
							</dict>
							<key>files/stacks-image-eb41103.png</key>
							<dict>
								<key>Digest</key>
								<data>
								TtBSlYnCR35b
								mXgxzoVV0g==
								</data>
								<key>Size</key>
								<integer>511231</integer>
							</dict>
							<key>files/stacks-image-f39249a-1200x900.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								uQPBzkerZ3yf
								AKih3wOo4A==
								</data>
								<key>Size</key>
								<integer>275910</integer>
							</dict>
							<key>files/stacks-image-f39249a-1200x900@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								1XUEj5zX7klL
								ueUBkeYxJA==
								</data>
								<key>Size</key>
								<integer>421454</integer>
							</dict>
							<key>files/stacks_page_page55.css</key>
							<dict>
								<key>Digest</key>
								<data>
								tdgn/yfq2qvx
								q/6y8/RaVg==
								</data>
								<key>Size</key>
								<integer>144638</integer>
							</dict>
							<key>files/stacks_page_page55.js</key>
							<dict>
								<key>Digest</key>
								<data>
								yiFbDdZFo8sR
								+6yJelIOrQ==
								</data>
								<key>Size</key>
								<integer>24751</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								VT3E+Wk/6xSw
								JNv8oE1wBQ==
								</data>
								<key>Size</key>
								<integer>66331</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page55</string>
						<key>SiteRoot</key>
						<string>events/netsci/schedule</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
