<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>NetSci Speakers</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page57</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>NetSci Speakers</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.6.4</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2018-10-29T18:53:26Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/backgroundImage_110718.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								1JHGkzn579YB
								VNnelO/rZQ==
								</data>
								<key>Size</key>
								<integer>7536046</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZFHf9zniv4SK
								z9ywIWAR7Q==
								</data>
								<key>Size</key>
								<integer>124861</integer>
							</dict>
							<key>files/stacks-image-580baf6-248x248.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								yZQqhuEMgia3
								owVDiEQk8g==
								</data>
								<key>Size</key>
								<integer>13322</integer>
							</dict>
							<key>files/stacks-image-90966db-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								kcVxqK0Y23YI
								Ns11kdYJ6w==
								</data>
								<key>Size</key>
								<integer>21714</integer>
							</dict>
							<key>files/stacks-image-c132778-1200x800.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								pmtBPIb8okMX
								m4TVy8UiZQ==
								</data>
								<key>Size</key>
								<integer>171733</integer>
							</dict>
							<key>files/stacks-image-c132778-1200x800@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								LqNcumR4pHrs
								2A5SCQhzlw==
								</data>
								<key>Size</key>
								<integer>300492</integer>
							</dict>
							<key>files/stacks_page_page57.css</key>
							<dict>
								<key>Digest</key>
								<data>
								XdOgVA8Vl1GK
								TxIPY1XFXQ==
								</data>
								<key>Size</key>
								<integer>137853</integer>
							</dict>
							<key>files/stacks_page_page57.js</key>
							<dict>
								<key>Digest</key>
								<data>
								pq/PQbe1EW3V
								14x/lF5lNg==
								</data>
								<key>Size</key>
								<integer>25297</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								yF36jzsBBez6
								dE/H0Gpabg==
								</data>
								<key>Size</key>
								<integer>59035</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page57</string>
						<key>SiteRoot</key>
						<string>events/netsci/speakers</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
