<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>ALIFE 2020</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>CustomThemeName</key>
				<string>Foundation</string>
				<key>ID</key>
				<string>page64</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>ALIFE 2020</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.3.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2023-02-28T21:40:41Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/821CB729-4021-48D4-8AB9-7934D828DDCF.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Bh7ZBrBTQFNo
								MwKii2MEPA==
								</data>
								<key>Size</key>
								<integer>772878</integer>
							</dict>
							<key>files/small-109623-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/small-109710-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JfxF8Omi0icK
								xIwohpIZqw==
								</data>
								<key>Size</key>
								<integer>77487</integer>
							</dict>
							<key>files/small-109714-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2NMhf1k+YDl
								uPpd6H1dBw==
								</data>
								<key>Size</key>
								<integer>15019</integer>
							</dict>
							<key>files/small-109735-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D2nm4R7babci
								2M5NjfUDZQ==
								</data>
								<key>Size</key>
								<integer>18925</integer>
							</dict>
							<key>files/small-109736-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgRiuB3NhhIh
								SwZTifI18g==
								</data>
								<key>Size</key>
								<integer>21987</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JV5ejNT3Y8/E
								W0wI16l5/Q==
								</data>
								<key>Size</key>
								<integer>35252</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Su+ZpJd1NY34
								s0J16tjsFg==
								</data>
								<key>Size</key>
								<integer>68409</integer>
							</dict>
							<key>files/stacks-image-0e146a6.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								XgABqtbSxbHO
								WXb6+lPEGw==
								</data>
								<key>Size</key>
								<integer>1096380</integer>
							</dict>
							<key>files/stacks-image-19dca8a-350x450.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								HEeh9wvlEv2w
								nxuR+yiybg==
								</data>
								<key>Size</key>
								<integer>35971</integer>
							</dict>
							<key>files/stacks-image-19dca8a-350x450@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Qwc9Km6mdq81
								I603KqG+mw==
								</data>
								<key>Size</key>
								<integer>61503</integer>
							</dict>
							<key>files/stacks-image-28ec906-332x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								WZbrTyBPja5n
								qywE/tglgQ==
								</data>
								<key>Size</key>
								<integer>43534</integer>
							</dict>
							<key>files/stacks-image-2a4abd8.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								qERUJyBHljSK
								cnvrKT0NlQ==
								</data>
								<key>Size</key>
								<integer>673292</integer>
							</dict>
							<key>files/stacks-image-2dbbe83.png</key>
							<dict>
								<key>Digest</key>
								<data>
								YRy2S5aoKzt/
								v1ucadp4zA==
								</data>
								<key>Size</key>
								<integer>6879</integer>
							</dict>
							<key>files/stacks-image-35e7390-250x300.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								pkbE+sly86uq
								T5jSABUxyg==
								</data>
								<key>Size</key>
								<integer>20884</integer>
							</dict>
							<key>files/stacks-image-485f523.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								8jpSLF89IUPH
								+2TIALk1ZQ==
								</data>
								<key>Size</key>
								<integer>76975</integer>
							</dict>
							<key>files/stacks-image-4b4af78-350x450.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								HEeh9wvlEv2w
								nxuR+yiybg==
								</data>
								<key>Size</key>
								<integer>35971</integer>
							</dict>
							<key>files/stacks-image-4b4af78-350x450@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Qwc9Km6mdq81
								I603KqG+mw==
								</data>
								<key>Size</key>
								<integer>61503</integer>
							</dict>
							<key>files/stacks-image-53ce784-350x450.png</key>
							<dict>
								<key>Digest</key>
								<data>
								OY5c+/RTz+Co
								kdeRyxJ4Qg==
								</data>
								<key>Size</key>
								<integer>251972</integer>
							</dict>
							<key>files/stacks-image-5cba074-350x450.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								z5UnUhkFAGJd
								KUrVycRCyQ==
								</data>
								<key>Size</key>
								<integer>32918</integer>
							</dict>
							<key>files/stacks-image-786426a.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								YYI7GCtOSDb+
								rmmCqgclVA==
								</data>
								<key>Size</key>
								<integer>30509</integer>
							</dict>
							<key>files/stacks-image-792255f-600x514.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								zwmuhcUwUBNN
								pTrfIt6Jxw==
								</data>
								<key>Size</key>
								<integer>81942</integer>
							</dict>
							<key>files/stacks-image-8147c3d-350x450.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								/tbSNJVcwf+G
								CFTjyLdDyA==
								</data>
								<key>Size</key>
								<integer>30767</integer>
							</dict>
							<key>files/stacks-image-98e09f5-350x450.png</key>
							<dict>
								<key>Digest</key>
								<data>
								gH7UfufnK57F
								oRfkuDIavw==
								</data>
								<key>Size</key>
								<integer>357970</integer>
							</dict>
							<key>files/stacks-image-9e44611-350x450.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Q0MoMNPobUWj
								4HD8qDHaVQ==
								</data>
								<key>Size</key>
								<integer>316573</integer>
							</dict>
							<key>files/stacks-image-cd0a404.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Nb2TZEoroRSC
								Y+xT2IHd1Q==
								</data>
								<key>Size</key>
								<integer>27178</integer>
							</dict>
							<key>files/stacks-image-d4c72a8-350x450.png</key>
							<dict>
								<key>Digest</key>
								<data>
								OY5c+/RTz+Co
								kdeRyxJ4Qg==
								</data>
								<key>Size</key>
								<integer>251972</integer>
							</dict>
							<key>files/stacks-image-dd8950b-350x450.png</key>
							<dict>
								<key>Digest</key>
								<data>
								gH7UfufnK57F
								oRfkuDIavw==
								</data>
								<key>Size</key>
								<integer>357970</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								0LBTZh9Y4iZ6
								By0DZuC++A==
								</data>
								<key>Size</key>
								<integer>19463</integer>
							</dict>
							<key>files/stacks-image-eba9e45-250x300.png</key>
							<dict>
								<key>Digest</key>
								<data>
								J67NKSg0IVPT
								4NKOTNHNjw==
								</data>
								<key>Size</key>
								<integer>157432</integer>
							</dict>
							<key>files/stacks-image-f638868-500x230.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Pg0bW+xcU8rf
								t8y2H9KfTg==
								</data>
								<key>Size</key>
								<integer>36657</integer>
							</dict>
							<key>files/stacks-image-fb79e8e-250x300.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								f0xe89qONPit
								V0Ym4AGsbQ==
								</data>
								<key>Size</key>
								<integer>18499</integer>
							</dict>
							<key>files/stacks-image-fbb6677.png</key>
							<dict>
								<key>Digest</key>
								<data>
								QY+g+er0kC8U
								06S3dnnoVA==
								</data>
								<key>Size</key>
								<integer>108523</integer>
							</dict>
							<key>files/stacks_page_page64.css</key>
							<dict>
								<key>Digest</key>
								<data>
								fmkYvTEO8GuB
								7UHLGJsVpA==
								</data>
								<key>Size</key>
								<integer>211467</integer>
							</dict>
							<key>files/stacks_page_page64.js</key>
							<dict>
								<key>Digest</key>
								<data>
								19bdlkZuqQik
								8ibJRDg7eA==
								</data>
								<key>Size</key>
								<integer>26939</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								IcoXAy8910tO
								0ecmuru8gA==
								</data>
								<key>Size</key>
								<integer>146980</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page64</string>
						<key>SiteRoot</key>
						<string>events/ALIFE-2020</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>ChildPages</string>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
