<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page48</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Details</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.6.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2018-11-26T02:13:00Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/backgroundImage_110696.png</key>
							<dict>
								<key>Digest</key>
								<data>
								m4SIJWUYoI1W
								Jj7AajYAuA==
								</data>
								<key>Size</key>
								<integer>91721</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZFHf9zniv4SK
								z9ywIWAR7Q==
								</data>
								<key>Size</key>
								<integer>124861</integer>
							</dict>
							<key>files/stacks-image-04756dc-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								qAh+qbptlqDh
								13HUcV/6Og==
								</data>
								<key>Size</key>
								<integer>103135</integer>
							</dict>
							<key>files/stacks-image-173d8dd-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								rQp9e3X4shcm
								XepSi2OPSQ==
								</data>
								<key>Size</key>
								<integer>107151</integer>
							</dict>
							<key>files/stacks-image-19cb322-250x256.png</key>
							<dict>
								<key>Digest</key>
								<data>
								BYhX3+5dHXtY
								HZHSO/XiZQ==
								</data>
								<key>Size</key>
								<integer>99003</integer>
							</dict>
							<key>files/stacks-image-1aebfb5-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Er/+pE7hNNIn
								W7FQzXekEQ==
								</data>
								<key>Size</key>
								<integer>94699</integer>
							</dict>
							<key>files/stacks-image-1aebfb5-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								5xACEUvkvEwz
								VJnG6F3YxQ==
								</data>
								<key>Size</key>
								<integer>337058</integer>
							</dict>
							<key>files/stacks-image-1b7cfd7-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								6850vL6xR3zu
								I585rDTQ9A==
								</data>
								<key>Size</key>
								<integer>83796</integer>
							</dict>
							<key>files/stacks-image-1cd049f-250x256.png</key>
							<dict>
								<key>Digest</key>
								<data>
								jDouJEb5UOgP
								r0dDWJlwxQ==
								</data>
								<key>Size</key>
								<integer>105930</integer>
							</dict>
							<key>files/stacks-image-22d1215-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								6850vL6xR3zu
								I585rDTQ9A==
								</data>
								<key>Size</key>
								<integer>83796</integer>
							</dict>
							<key>files/stacks-image-3b3cfea-261x251.png</key>
							<dict>
								<key>Digest</key>
								<data>
								vaAdL8KsEh77
								Ud9vxFCEyg==
								</data>
								<key>Size</key>
								<integer>70039</integer>
							</dict>
							<key>files/stacks-image-3edeb52-98x98.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								uIa+ZpRMODfY
								8L1symw+qA==
								</data>
								<key>Size</key>
								<integer>6246</integer>
							</dict>
							<key>files/stacks-image-3edeb52-98x98@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								oL3dMLrPIItY
								AkFFEoSKHQ==
								</data>
								<key>Size</key>
								<integer>7818</integer>
							</dict>
							<key>files/stacks-image-40a568b-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								mxBpJ5wvE558
								ASJg/wRhOA==
								</data>
								<key>Size</key>
								<integer>93745</integer>
							</dict>
							<key>files/stacks-image-4935364-261x251.png</key>
							<dict>
								<key>Digest</key>
								<data>
								pUhB5Fqnu3YS
								YA9dT+6AqA==
								</data>
								<key>Size</key>
								<integer>126611</integer>
							</dict>
							<key>files/stacks-image-4935364-261x251@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								qhWr5oOEZqif
								DGH4sagTCw==
								</data>
								<key>Size</key>
								<integer>462108</integer>
							</dict>
							<key>files/stacks-image-4df5cda.png</key>
							<dict>
								<key>Digest</key>
								<data>
								YgptBbFzQoqL
								rKiDtkMUPg==
								</data>
								<key>Size</key>
								<integer>107302</integer>
							</dict>
							<key>files/stacks-image-580baf6-248x248.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								OGSW8MSxffNf
								eqQN8VH97Q==
								</data>
								<key>Size</key>
								<integer>13349</integer>
							</dict>
							<key>files/stacks-image-6efad1d-250x256.png</key>
							<dict>
								<key>Digest</key>
								<data>
								gi/thtLJeuE/
								FmMMThzNLQ==
								</data>
								<key>Size</key>
								<integer>117259</integer>
							</dict>
							<key>files/stacks-image-79e9ee7.png</key>
							<dict>
								<key>Digest</key>
								<data>
								chmdSR2cEweM
								Eplrb+Djnw==
								</data>
								<key>Size</key>
								<integer>94289</integer>
							</dict>
							<key>files/stacks-image-810c5f5-98x98.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								uIa+ZpRMODfY
								8L1symw+qA==
								</data>
								<key>Size</key>
								<integer>6246</integer>
							</dict>
							<key>files/stacks-image-810c5f5-98x98@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								oL3dMLrPIItY
								AkFFEoSKHQ==
								</data>
								<key>Size</key>
								<integer>7818</integer>
							</dict>
							<key>files/stacks-image-8364b1f-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								54Pi3j6G6/2E
								lZMvrz7LCQ==
								</data>
								<key>Size</key>
								<integer>82434</integer>
							</dict>
							<key>files/stacks-image-8364b1f-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								jkc9i4T4u9l6
								TAQpPAe0oA==
								</data>
								<key>Size</key>
								<integer>279051</integer>
							</dict>
							<key>files/stacks-image-8387376-251x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								uLnjrAb6/rb2
								PvK474baVg==
								</data>
								<key>Size</key>
								<integer>93134</integer>
							</dict>
							<key>files/stacks-image-8387376-251x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								3ZabeVPvd9Kl
								twBcUWNgPQ==
								</data>
								<key>Size</key>
								<integer>331007</integer>
							</dict>
							<key>files/stacks-image-86b04b6-296x300.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ulRvSuax0xFi
								j1R3/SUVbQ==
								</data>
								<key>Size</key>
								<integer>83792</integer>
							</dict>
							<key>files/stacks-image-90966db-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								YpjTgVVBaf31
								xzRYJpWpzQ==
								</data>
								<key>Size</key>
								<integer>21870</integer>
							</dict>
							<key>files/stacks-image-9268316-254x307.png</key>
							<dict>
								<key>Digest</key>
								<data>
								OWHKVNVR8avk
								Gw89ZYMSgA==
								</data>
								<key>Size</key>
								<integer>102415</integer>
							</dict>
							<key>files/stacks-image-9399623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								wR0JgUS1XI1O
								VhaAJs6dNw==
								</data>
								<key>Size</key>
								<integer>66878</integer>
							</dict>
							<key>files/stacks-image-95b64f0-259x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								koUbxWdIBl3I
								hyTmClYd4A==
								</data>
								<key>Size</key>
								<integer>108726</integer>
							</dict>
							<key>files/stacks-image-9b65a45-261x251.png</key>
							<dict>
								<key>Digest</key>
								<data>
								9R6BBV6kdHDJ
								lKlqqAnu4w==
								</data>
								<key>Size</key>
								<integer>101126</integer>
							</dict>
							<key>files/stacks-image-a4d3338-974x648.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								lB1mh9fpr2ck
								Bq1LxBxRjg==
								</data>
								<key>Size</key>
								<integer>393696</integer>
							</dict>
							<key>files/stacks-image-a4d3338-974x648@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ZxrLMGpf77Sn
								PefUI19lpw==
								</data>
								<key>Size</key>
								<integer>784860</integer>
							</dict>
							<key>files/stacks-image-b2e3b8a-98x98.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								uIa+ZpRMODfY
								8L1symw+qA==
								</data>
								<key>Size</key>
								<integer>6246</integer>
							</dict>
							<key>files/stacks-image-b2e3b8a-98x98@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								oL3dMLrPIItY
								AkFFEoSKHQ==
								</data>
								<key>Size</key>
								<integer>7818</integer>
							</dict>
							<key>files/stacks-image-b5d4a25-261x251.png</key>
							<dict>
								<key>Digest</key>
								<data>
								X4LIM0pJmROb
								OoK7OiXgTw==
								</data>
								<key>Size</key>
								<integer>103555</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x256.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JQq/tMG5yWnX
								mrXC2R4Oig==
								</data>
								<key>Size</key>
								<integer>101345</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x256@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								BBFEAKWPfxhN
								YCQVK2+Czg==
								</data>
								<key>Size</key>
								<integer>353790</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								kIzXf5nC37dU
								ED0RuUkYDQ==
								</data>
								<key>Size</key>
								<integer>101485</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Y9RpQKxhcjiN
								udjjwCufbQ==
								</data>
								<key>Size</key>
								<integer>354232</integer>
							</dict>
							<key>files/stacks-image-e4ff3fb-250x72.png</key>
							<dict>
								<key>Digest</key>
								<data>
								dWyJFujqERXH
								gRrMBT8sRg==
								</data>
								<key>Size</key>
								<integer>11155</integer>
							</dict>
							<key>files/stacks-image-e4ff3fb-250x72@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								l+/lfb9JFzMF
								txTzw6S1zg==
								</data>
								<key>Size</key>
								<integer>24969</integer>
							</dict>
							<key>files/stacks-image-faf7292-250x374.png</key>
							<dict>
								<key>Digest</key>
								<data>
								NNBt6Bo0YD+W
								OAAFcd+YGA==
								</data>
								<key>Size</key>
								<integer>97449</integer>
							</dict>
							<key>files/stacks-image-fedaa0e-259x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								1sfNyWCKk+No
								N6Tc6an/Wg==
								</data>
								<key>Size</key>
								<integer>105876</integer>
							</dict>
							<key>files/stacks-image-fedaa0e-261x251.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Qx3usBTZaMMY
								7hat0ECS2w==
								</data>
								<key>Size</key>
								<integer>106102</integer>
							</dict>
							<key>files/stacks_page_page48.css</key>
							<dict>
								<key>Digest</key>
								<data>
								xmmj5RgZRhRx
								+IuvX9D82A==
								</data>
								<key>Size</key>
								<integer>222218</integer>
							</dict>
							<key>files/stacks_page_page48.js</key>
							<dict>
								<key>Digest</key>
								<data>
								3GBNTSogvNmL
								lJIXbSq0bQ==
								</data>
								<key>Size</key>
								<integer>29081</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								2+tSDPiYF0/l
								Hk55BdDUNQ==
								</data>
								<key>Size</key>
								<integer>192728</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page48</string>
						<key>SiteRoot</key>
						<string>events/science-of-stories/details</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
