<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page35</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Symposium - Science of stories</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.6.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2018-07-11T13:51:05Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/backgroundImage_110138.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								uSoquum6mCty
								uIn2fhh+hw==
								</data>
								<key>Size</key>
								<integer>571092</integer>
							</dict>
							<key>files/small_109872.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Yb+L/heiX6tP
								YliFF2auMA==
								</data>
								<key>Size</key>
								<integer>269913</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZFHf9zniv4SK
								z9ywIWAR7Q==
								</data>
								<key>Size</key>
								<integer>124861</integer>
							</dict>
							<key>files/small_p60311_n109628.png</key>
							<dict>
								<key>Digest</key>
								<data>
								pcpK3KZBcBVd
								Ns6QdrLpNA==
								</data>
								<key>Size</key>
								<integer>68548</integer>
							</dict>
							<key>files/stacks-image-04756dc-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								9aG8gi8hGPTM
								nB1cDOh5dg==
								</data>
								<key>Size</key>
								<integer>103123</integer>
							</dict>
							<key>files/stacks-image-1aebfb5-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Y4lgVTf8Gkkk
								8EHuVP0Cmw==
								</data>
								<key>Size</key>
								<integer>94687</integer>
							</dict>
							<key>files/stacks-image-1aebfb5-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								L89c/ljUrVh4
								r2rgzOjFhw==
								</data>
								<key>Size</key>
								<integer>337046</integer>
							</dict>
							<key>files/stacks-image-1b7cfd7-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								V3IbWWl3JOsc
								xD+1ev9Ukg==
								</data>
								<key>Size</key>
								<integer>83784</integer>
							</dict>
							<key>files/stacks-image-1cd049f-250x256.png</key>
							<dict>
								<key>Digest</key>
								<data>
								KYjWU4n4Fd2k
								AoJaQWoioQ==
								</data>
								<key>Size</key>
								<integer>105918</integer>
							</dict>
							<key>files/stacks-image-4935364-261x251.png</key>
							<dict>
								<key>Digest</key>
								<data>
								h86nWD8isiw4
								5W/HSehlMw==
								</data>
								<key>Size</key>
								<integer>126599</integer>
							</dict>
							<key>files/stacks-image-4935364-261x251@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								5MNxG52rxo47
								fAl1teNWPQ==
								</data>
								<key>Size</key>
								<integer>462096</integer>
							</dict>
							<key>files/stacks-image-8364b1f-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								VTNuN612V1GJ
								qoz67hsz/w==
								</data>
								<key>Size</key>
								<integer>82422</integer>
							</dict>
							<key>files/stacks-image-8364b1f-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Gx8aA3FxM3FU
								IW8ctwO33w==
								</data>
								<key>Size</key>
								<integer>279039</integer>
							</dict>
							<key>files/stacks-image-8387376-251x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								StqOH6zEEUdP
								VL/bvqqV8Q==
								</data>
								<key>Size</key>
								<integer>93122</integer>
							</dict>
							<key>files/stacks-image-8387376-251x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								pD8TK0t2dUel
								KlBmsLmHBw==
								</data>
								<key>Size</key>
								<integer>330995</integer>
							</dict>
							<key>files/stacks-image-9e3cec5-98x150.png</key>
							<dict>
								<key>Digest</key>
								<data>
								puf8IgV3ZVSP
								HN7YynCLTg==
								</data>
								<key>Size</key>
								<integer>12535</integer>
							</dict>
							<key>files/stacks-image-a4d3338-1198x798.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								3YW7fsJffz3y
								xSIicOAdcA==
								</data>
								<key>Size</key>
								<integer>553274</integer>
							</dict>
							<key>files/stacks-image-b5d4a25-261x251.png</key>
							<dict>
								<key>Digest</key>
								<data>
								wFkMRy2/WKvo
								H9dKvYDhIw==
								</data>
								<key>Size</key>
								<integer>103543</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x256.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZzwnqfzXdsdD
								1OMOi3dEmw==
								</data>
								<key>Size</key>
								<integer>101333</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x256@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								SnK7vvGKXBKF
								8ikV9exfsA==
								</data>
								<key>Size</key>
								<integer>353778</integer>
							</dict>
							<key>files/stacks-image-c9f8f3e-300x168.png</key>
							<dict>
								<key>Digest</key>
								<data>
								F3PQkz9HIAuZ
								nYpHa8bgcg==
								</data>
								<key>Size</key>
								<integer>36638</integer>
							</dict>
							<key>files/stacks-image-fedaa0e-261x251.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ri/OBDs3i2iv
								O7tScwBwlw==
								</data>
								<key>Size</key>
								<integer>106090</integer>
							</dict>
							<key>files/stacks_page_page35.css</key>
							<dict>
								<key>Digest</key>
								<data>
								u/3faejHC2Vu
								RjG6oX0j9Q==
								</data>
								<key>Size</key>
								<integer>120908</integer>
							</dict>
							<key>files/stacks_page_page35.js</key>
							<dict>
								<key>Digest</key>
								<data>
								9wa+W638e59k
								Vrw2OMxuoA==
								</data>
								<key>Size</key>
								<integer>24349</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								qc8qtihtvf4M
								LMyha/wcNw==
								</data>
								<key>Size</key>
								<integer>62149</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page35</string>
						<key>SiteRoot</key>
						<string>events/science-of-stories</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>ChildPages</string>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
