<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>NetSci Organizers</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page58</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>NetSci Organizers</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.6.6</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-07-08T20:15:07Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/backgroundImage_pp111153_n18_n1.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								GQHOUzuyjCs9
								Jfbg60A9OQ==
								</data>
								<key>Size</key>
								<integer>700318</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZFHf9zniv4SK
								z9ywIWAR7Q==
								</data>
								<key>Size</key>
								<integer>124861</integer>
							</dict>
							<key>files/stacks-image-01b6cb7.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								28a9qyUZUYuy
								Z9wh4S00OA==
								</data>
								<key>Size</key>
								<integer>199450</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								5SEHlmzIRPnE
								h1Zlyu2W+A==
								</data>
								<key>Size</key>
								<integer>35205</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZP2FJ/yve/bb
								UMUDEFQ7OA==
								</data>
								<key>Size</key>
								<integer>68310</integer>
							</dict>
							<key>files/stacks-image-0a2e163-328x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9rtUmvuU3CEL
								VPZU5lZSBA==
								</data>
								<key>Size</key>
								<integer>43469</integer>
							</dict>
							<key>files/stacks-image-1118fd8.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								sFraoy+16ql5
								9exyyMmEmg==
								</data>
								<key>Size</key>
								<integer>35091</integer>
							</dict>
							<key>files/stacks-image-1500267-332x498.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								/1yJEGVtgDYC
								qJpjqOOqSg==
								</data>
								<key>Size</key>
								<integer>37050</integer>
							</dict>
							<key>files/stacks-image-1500267-332x498@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								5HaFH1+IeZ2q
								+imybGmwWQ==
								</data>
								<key>Size</key>
								<integer>61496</integer>
							</dict>
							<key>files/stacks-image-2076f85-326x490.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								BZHvPacWRoQb
								AzH3SIAEew==
								</data>
								<key>Size</key>
								<integer>19122</integer>
							</dict>
							<key>files/stacks-image-28ec906-332x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								q8MeK0zynaYB
								QnEg4xgJlg==
								</data>
								<key>Size</key>
								<integer>43537</integer>
							</dict>
							<key>files/stacks-image-2aeee5b.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								We9pB8ka4Vmx
								H5keC9AVbg==
								</data>
								<key>Size</key>
								<integer>24736</integer>
							</dict>
							<key>files/stacks-image-391616f-500x500.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zlRdT63pSYEq
								jsF4lNV65A==
								</data>
								<key>Size</key>
								<integer>558997</integer>
							</dict>
							<key>files/stacks-image-408abbc-500x280.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								SlQExtHD8ITB
								L9RQuJjb3g==
								</data>
								<key>Size</key>
								<integer>27838</integer>
							</dict>
							<key>files/stacks-image-506ca91.png</key>
							<dict>
								<key>Digest</key>
								<data>
								8EdMMOs3/vIq
								ik9HPArzCA==
								</data>
								<key>Size</key>
								<integer>340983</integer>
							</dict>
							<key>files/stacks-image-529cde2.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								GXFXYjQLv+hV
								FDCl0G8p2g==
								</data>
								<key>Size</key>
								<integer>25905</integer>
							</dict>
							<key>files/stacks-image-6037ffd-500x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								M4oUzojSpmfe
								7X28dzP+1Q==
								</data>
								<key>Size</key>
								<integer>56712</integer>
							</dict>
							<key>files/stacks-image-6298502.png</key>
							<dict>
								<key>Digest</key>
								<data>
								I7BlJ/sIfKCd
								y/+Noen/4A==
								</data>
								<key>Size</key>
								<integer>69706</integer>
							</dict>
							<key>files/stacks-image-6c2cdff-498x498.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Apm0YX/gnbI3
								zp4eGQJLSg==
								</data>
								<key>Size</key>
								<integer>449741</integer>
							</dict>
							<key>files/stacks-image-6c2cdff-498x498@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								W2VvDVxI1WSB
								A5Oq08LL9A==
								</data>
								<key>Size</key>
								<integer>1688404</integer>
							</dict>
							<key>files/stacks-image-6db2017-500x376.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								wOfA8edrkkfM
								NWK6uRIuRQ==
								</data>
								<key>Size</key>
								<integer>29250</integer>
							</dict>
							<key>files/stacks-image-6db2017-500x376@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								04KcM5WoEtyv
								2QNxAt6bEQ==
								</data>
								<key>Size</key>
								<integer>45733</integer>
							</dict>
							<key>files/stacks-image-7841e09.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								N4PpCrmytr8z
								lNWtcwKD6g==
								</data>
								<key>Size</key>
								<integer>8443</integer>
							</dict>
							<key>files/stacks-image-7baace1.png</key>
							<dict>
								<key>Digest</key>
								<data>
								uEJORZYvXD+2
								XjdrJ+u0zA==
								</data>
								<key>Size</key>
								<integer>54441</integer>
							</dict>
							<key>files/stacks-image-85b8eaa-500x500.png</key>
							<dict>
								<key>Digest</key>
								<data>
								8Z0xBVfVGb07
								6RmqEwjufA==
								</data>
								<key>Size</key>
								<integer>390378</integer>
							</dict>
							<key>files/stacks-image-9c884d0.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								fU/F14sAci93
								dY+HaHVrFw==
								</data>
								<key>Size</key>
								<integer>243823</integer>
							</dict>
							<key>files/stacks-image-ae20feb-500x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								KpUrEuwqKPAt
								oK7fFHwzkA==
								</data>
								<key>Size</key>
								<integer>39433</integer>
							</dict>
							<key>files/stacks-image-ae20feb-500x500@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								NJMzxw9xUnvT
								YGI55pTjEA==
								</data>
								<key>Size</key>
								<integer>61619</integer>
							</dict>
							<key>files/stacks-image-b379a6f-498x498.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								NEzKvPBozUaA
								hXktWHJnDA==
								</data>
								<key>Size</key>
								<integer>53902</integer>
							</dict>
							<key>files/stacks-image-b90e42d.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								7Ov4M+uEO0lh
								avEtq2w06w==
								</data>
								<key>Size</key>
								<integer>31635</integer>
							</dict>
							<key>files/stacks-image-c6e25a9.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								pGqdJwYojFxw
								HJPiARAEZQ==
								</data>
								<key>Size</key>
								<integer>42733</integer>
							</dict>
							<key>files/stacks-image-cd0a404.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Nb2TZEoroRSC
								Y+xT2IHd1Q==
								</data>
								<key>Size</key>
								<integer>27178</integer>
							</dict>
							<key>files/stacks-image-cd43f5e-500x374.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Koa4QxEPEbS7
								nPIAYMvT/A==
								</data>
								<key>Size</key>
								<integer>47879</integer>
							</dict>
							<key>files/stacks-image-cd43f5e-500x374@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								MTfXORRF1KKv
								J82ZhJk71g==
								</data>
								<key>Size</key>
								<integer>146897</integer>
							</dict>
							<key>files/stacks-image-cfadf25.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9nBAHyaW6iKX
								SMq0xWVuoA==
								</data>
								<key>Size</key>
								<integer>25161</integer>
							</dict>
							<key>files/stacks-image-d7139db.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								d8N940Mz+Z7w
								r1KttVpXdw==
								</data>
								<key>Size</key>
								<integer>204779</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								FWLv4iC2Yarl
								ySGORUZ3Iw==
								</data>
								<key>Size</key>
								<integer>19413</integer>
							</dict>
							<key>files/stacks-image-f14500c-500x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								SLiZEYJUyzQg
								aTtxvYxxIQ==
								</data>
								<key>Size</key>
								<integer>46330</integer>
							</dict>
							<key>files/stacks-image-f653d0a.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								hCVTK4oyyITK
								kXBXOiPsAg==
								</data>
								<key>Size</key>
								<integer>22811</integer>
							</dict>
							<key>files/stacks-image-fa235ce-400x498.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								JA4lnRqpCKjA
								ZxX7/bFuIw==
								</data>
								<key>Size</key>
								<integer>61114</integer>
							</dict>
							<key>files/stacks_page_page58.css</key>
							<dict>
								<key>Digest</key>
								<data>
								+CyGbTaKllJr
								ecS1e2jEGA==
								</data>
								<key>Size</key>
								<integer>233075</integer>
							</dict>
							<key>files/stacks_page_page58.js</key>
							<dict>
								<key>Digest</key>
								<data>
								sNYbpJpqETwn
								+kTEoaX9Gw==
								</data>
								<key>Size</key>
								<integer>29602</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								xjhrycV8B2C7
								Fu4zfWuT/w==
								</data>
								<key>Size</key>
								<integer>157459</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page58</string>
						<key>SiteRoot</key>
						<string>events/netsci/organizers</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
