<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Papers</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:30Z</date>
				<key>ID</key>
				<string>page23</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Publications</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.2.2</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2022-02-09T17:08:37Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small-109623-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/small-109710-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JfxF8Omi0icK
								xIwohpIZqw==
								</data>
								<key>Size</key>
								<integer>77487</integer>
							</dict>
							<key>files/small-109714-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2NMhf1k+YDl
								uPpd6H1dBw==
								</data>
								<key>Size</key>
								<integer>15019</integer>
							</dict>
							<key>files/small-109735-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D2nm4R7babci
								2M5NjfUDZQ==
								</data>
								<key>Size</key>
								<integer>18925</integer>
							</dict>
							<key>files/small-109736-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgRiuB3NhhIh
								SwZTifI18g==
								</data>
								<key>Size</key>
								<integer>21987</integer>
							</dict>
							<key>files/stacks-image-02120b5-150x48.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								YCSGsE8sXKH/
								fm7f6ajlzg==
								</data>
								<key>Size</key>
								<integer>5258</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								nc/RlhmvGDDL
								K+SuTjMLPQ==
								</data>
								<key>Size</key>
								<integer>35262</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								tvAomUQyeND0
								vTpTZz/VVg==
								</data>
								<key>Size</key>
								<integer>68367</integer>
							</dict>
							<key>files/stacks-image-22092d6-150x48.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								5gvTSBwwSJC5
								Gd3Bsp7e7w==
								</data>
								<key>Size</key>
								<integer>5653</integer>
							</dict>
							<key>files/stacks-image-611cc0e-150x60.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ChfcqGz4BY2t
								ZsonXGyyhw==
								</data>
								<key>Size</key>
								<integer>5911</integer>
							</dict>
							<key>files/stacks-image-6980f10-150x122.png</key>
							<dict>
								<key>Digest</key>
								<data>
								TM8g1WNuU0rO
								1J+xGNNlcg==
								</data>
								<key>Size</key>
								<integer>23979</integer>
							</dict>
							<key>files/stacks-image-6a4e041-150x82.png</key>
							<dict>
								<key>Digest</key>
								<data>
								3/rQtPxnsJLO
								wGHi/vY2hg==
								</data>
								<key>Size</key>
								<integer>10118</integer>
							</dict>
							<key>files/stacks-image-87a2eff-150x72.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								HgsrumzlSxc7
								tWLmu3vqrw==
								</data>
								<key>Size</key>
								<integer>6083</integer>
							</dict>
							<key>files/stacks-image-8b170b9.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								kgQq8MCOCFyi
								Qp8z3bixnQ==
								</data>
								<key>Size</key>
								<integer>7558</integer>
							</dict>
							<key>files/stacks-image-9afa408-150x94.png</key>
							<dict>
								<key>Digest</key>
								<data>
								odmHAG2B1dwz
								4Gf3G187YQ==
								</data>
								<key>Size</key>
								<integer>24115</integer>
							</dict>
							<key>files/stacks-image-9d5546e-148x188.png</key>
							<dict>
								<key>Digest</key>
								<data>
								7zUE+9miWeE8
								cFhWjIKIMw==
								</data>
								<key>Size</key>
								<integer>28900</integer>
							</dict>
							<key>files/stacks-image-a2c916c-148x148.png</key>
							<dict>
								<key>Digest</key>
								<data>
								6b8t3k6lGq2F
								lgLQ4e115A==
								</data>
								<key>Size</key>
								<integer>18922</integer>
							</dict>
							<key>files/stacks-image-afdb629-150x54.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								bICCr3fZkCUx
								OxVQgsKWRw==
								</data>
								<key>Size</key>
								<integer>7078</integer>
							</dict>
							<key>files/stacks-image-b438d3e-148x148.png</key>
							<dict>
								<key>Digest</key>
								<data>
								dKxd0yxxcV9l
								9RzWF7Rg9g==
								</data>
								<key>Size</key>
								<integer>18939</integer>
							</dict>
							<key>files/stacks-image-b99fbf1-150x144.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								cVzvnrlkO+zu
								A52WybEgbA==
								</data>
								<key>Size</key>
								<integer>7772</integer>
							</dict>
							<key>files/stacks-image-be8877d-150x58.png</key>
							<dict>
								<key>Digest</key>
								<data>
								EBL+han0iQsP
								tiQXjrK6Lw==
								</data>
								<key>Size</key>
								<integer>10340</integer>
							</dict>
							<key>files/stacks-image-c12fdb6.png</key>
							<dict>
								<key>Digest</key>
								<data>
								IqxQINOFm0Fm
								ivJdG/ySbA==
								</data>
								<key>Size</key>
								<integer>24236</integer>
							</dict>
							<key>files/stacks-image-c1ba1a1-150x44.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Ypj6PwGt8zsM
								MttqjvrR0A==
								</data>
								<key>Size</key>
								<integer>6825</integer>
							</dict>
							<key>files/stacks-image-c1f13f0-150x118.png</key>
							<dict>
								<key>Digest</key>
								<data>
								BX6/xDv0iKpU
								iecWnuUlKw==
								</data>
								<key>Size</key>
								<integer>14476</integer>
							</dict>
							<key>files/stacks-image-c1f13f0-150x118@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								HOCCLNNrR6TO
								4DozVHuviQ==
								</data>
								<key>Size</key>
								<integer>39519</integer>
							</dict>
							<key>files/stacks-image-d3bb225-150x98.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9xDeItLAslgc
								suc+Nfw53A==
								</data>
								<key>Size</key>
								<integer>11129</integer>
							</dict>
							<key>files/stacks-image-d3c79a2.png</key>
							<dict>
								<key>Digest</key>
								<data>
								/FivivmuReTY
								7Uo3Xsjy4A==
								</data>
								<key>Size</key>
								<integer>9763</integer>
							</dict>
							<key>files/stacks-image-e502eef-150x100.png</key>
							<dict>
								<key>Digest</key>
								<data>
								9MfXjnkyU9QG
								GtT7gq8Ppw==
								</data>
								<key>Size</key>
								<integer>10559</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Hwezk6t72J5g
								2awHy7YAqA==
								</data>
								<key>Size</key>
								<integer>19470</integer>
							</dict>
							<key>files/stacks_page_page23.css</key>
							<dict>
								<key>Digest</key>
								<data>
								WcP3a51lZxZV
								YQv+t/cljA==
								</data>
								<key>Size</key>
								<integer>110157</integer>
							</dict>
							<key>files/stacks_page_page23.js</key>
							<dict>
								<key>Digest</key>
								<data>
								6Kl0iemIu+qe
								MFk5mn5KDw==
								</data>
								<key>Size</key>
								<integer>24472</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								I8zjIvZyu35x
								GQeyJxoIAg==
								</data>
								<key>Size</key>
								<integer>61804</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page23</string>
						<key>SiteRoot</key>
						<string>Research/publications</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
