<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:30Z</date>
				<key>ID</key>
				<string>page70</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>MassMutual Center of Excellence</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.6.6</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-07-02T14:40:41Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small_526288.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ov4zbH1JnH3K
								F618M3iCVw==
								</data>
								<key>Size</key>
								<integer>20443</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZFHf9zniv4SK
								z9ywIWAR7Q==
								</data>
								<key>Size</key>
								<integer>124861</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								5SEHlmzIRPnE
								h1Zlyu2W+A==
								</data>
								<key>Size</key>
								<integer>35205</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZP2FJ/yve/bb
								UMUDEFQ7OA==
								</data>
								<key>Size</key>
								<integer>68310</integer>
							</dict>
							<key>files/stacks-image-18f1b71-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								SbTBkClyRQqD
								MXLEQ8OGgA==
								</data>
								<key>Size</key>
								<integer>31982</integer>
							</dict>
							<key>files/stacks-image-18f1b71-400x400@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								/9CFnsQi/o3c
								ZZXeMPvBPQ==
								</data>
								<key>Size</key>
								<integer>52355</integer>
							</dict>
							<key>files/stacks-image-23b3b9c-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Y/o+BHC3VvRv
								iR/H7fbzig==
								</data>
								<key>Size</key>
								<integer>25674</integer>
							</dict>
							<key>files/stacks-image-23b3b9c-400x400@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								5fy6DsQLcb4W
								QZ7aP4jn8Q==
								</data>
								<key>Size</key>
								<integer>41684</integer>
							</dict>
							<key>files/stacks-image-2706f3f.png</key>
							<dict>
								<key>Digest</key>
								<data>
								38DyDEe6U7zk
								+jpdOMXc/w==
								</data>
								<key>Size</key>
								<integer>2858</integer>
							</dict>
							<key>files/stacks-image-3789a03-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								mDjAghcBLh9o
								O2afAuAcjg==
								</data>
								<key>Size</key>
								<integer>25182</integer>
							</dict>
							<key>files/stacks-image-4ae8ac8-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								46nLWx6V/dV9
								p98/Ed+u1Q==
								</data>
								<key>Size</key>
								<integer>41166</integer>
							</dict>
							<key>files/stacks-image-4ae8ac8-400x400@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								pjxlPcvK2c9+
								NqhDvvv+Cg==
								</data>
								<key>Size</key>
								<integer>73796</integer>
							</dict>
							<key>files/stacks-image-4b83eed-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								fBl0Ik7dz2+I
								KXYJnH691A==
								</data>
								<key>Size</key>
								<integer>21654</integer>
							</dict>
							<key>files/stacks-image-4b83eed-400x400@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								DIFbycooCMp/
								km0ee147TA==
								</data>
								<key>Size</key>
								<integer>34777</integer>
							</dict>
							<key>files/stacks-image-515f404-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								szZIH/tRdSCe
								U13jvMVKVw==
								</data>
								<key>Size</key>
								<integer>37491</integer>
							</dict>
							<key>files/stacks-image-515f404-400x400@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								nzVwEH6uriW6
								TDDx8gG59A==
								</data>
								<key>Size</key>
								<integer>62510</integer>
							</dict>
							<key>files/stacks-image-662d1db-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								PldwRjal5lL7
								J2jxyYuIvA==
								</data>
								<key>Size</key>
								<integer>26870</integer>
							</dict>
							<key>files/stacks-image-804d650-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								jCIM8+iW96Xh
								98eI45iaVw==
								</data>
								<key>Size</key>
								<integer>68272</integer>
							</dict>
							<key>files/stacks-image-972d40d-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								g90WQ6lefmvx
								tZAaDnylPg==
								</data>
								<key>Size</key>
								<integer>42198</integer>
							</dict>
							<key>files/stacks-image-9874180-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								TWMY2iAX5Jhl
								Zn6ib1VzRg==
								</data>
								<key>Size</key>
								<integer>29085</integer>
							</dict>
							<key>files/stacks-image-9874180-400x400@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								vXUhQjJtc3KN
								yTKRxG1G9w==
								</data>
								<key>Size</key>
								<integer>46387</integer>
							</dict>
							<key>files/stacks-image-ddd9365-698x116.png</key>
							<dict>
								<key>Digest</key>
								<data>
								DN0pOGJbIvms
								dM/oyf0vAg==
								</data>
								<key>Size</key>
								<integer>31117</integer>
							</dict>
							<key>files/stacks-image-e610b5d-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ZhSw8X9HxSe2
								LUIDQ5Xn4w==
								</data>
								<key>Size</key>
								<integer>25837</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								FWLv4iC2Yarl
								ySGORUZ3Iw==
								</data>
								<key>Size</key>
								<integer>19413</integer>
							</dict>
							<key>files/stacks-image-ea8f203-1200x212.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								wziFppFfVyPG
								JR1kdbQHmg==
								</data>
								<key>Size</key>
								<integer>40102</integer>
							</dict>
							<key>files/stacks_page_page70.css</key>
							<dict>
								<key>Digest</key>
								<data>
								tPIrPn+Hshkz
								YCZQmrLERw==
								</data>
								<key>Size</key>
								<integer>193876</integer>
							</dict>
							<key>files/stacks_page_page70.js</key>
							<dict>
								<key>Digest</key>
								<data>
								RLXbwrMBjoOE
								jeWWAjeSIQ==
								</data>
								<key>Size</key>
								<integer>23922</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								l3ZuK+gSciyq
								+wYhMNV64g==
								</data>
								<key>Size</key>
								<integer>94914</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page70</string>
						<key>SiteRoot</key>
						<string>partner/MMCOE</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
