<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Core Team</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page37</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Core Team</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.2.4</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2022-05-16T19:49:34Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small-109623-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/small-109710-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JfxF8Omi0icK
								xIwohpIZqw==
								</data>
								<key>Size</key>
								<integer>77487</integer>
							</dict>
							<key>files/small-109714-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2NMhf1k+YDl
								uPpd6H1dBw==
								</data>
								<key>Size</key>
								<integer>15019</integer>
							</dict>
							<key>files/small-109735-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D2nm4R7babci
								2M5NjfUDZQ==
								</data>
								<key>Size</key>
								<integer>18925</integer>
							</dict>
							<key>files/small-109736-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgRiuB3NhhIh
								SwZTifI18g==
								</data>
								<key>Size</key>
								<integer>21987</integer>
							</dict>
							<key>files/stacks-image-02e91e7-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Wi2r2bpgAHqg
								IPmbtoXJ3A==
								</data>
								<key>Size</key>
								<integer>16916</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								nc/RlhmvGDDL
								K+SuTjMLPQ==
								</data>
								<key>Size</key>
								<integer>35262</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								tvAomUQyeND0
								vTpTZz/VVg==
								</data>
								<key>Size</key>
								<integer>68367</integer>
							</dict>
							<key>files/stacks-image-0f335ab-300x300.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								DJTYZyP6ovAo
								qKmzgIbgsw==
								</data>
								<key>Size</key>
								<integer>18251</integer>
							</dict>
							<key>files/stacks-image-0f335ab-300x300@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								WYA2aNVFH4TK
								TLVjF2eNNw==
								</data>
								<key>Size</key>
								<integer>27279</integer>
							</dict>
							<key>files/stacks-image-1107355-200x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								wPKDpmJs0Lpo
								znzD1ZOW+A==
								</data>
								<key>Size</key>
								<integer>95427</integer>
							</dict>
							<key>files/stacks-image-1107355-200x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								o8ywXP9EE9H3
								k2Y4qxtHSA==
								</data>
								<key>Size</key>
								<integer>344094</integer>
							</dict>
							<key>files/stacks-image-1205ce1-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								NyTpplZZHEDd
								7Fu8cvHwzQ==
								</data>
								<key>Size</key>
								<integer>14536</integer>
							</dict>
							<key>files/stacks-image-1205ce1-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								QjVbdfYVfSIP
								Wtz/wjj7vw==
								</data>
								<key>Size</key>
								<integer>21154</integer>
							</dict>
							<key>files/stacks-image-1255401-300x278.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								zLt5g0VQEHM2
								C1uCOIcNRw==
								</data>
								<key>Size</key>
								<integer>32757</integer>
							</dict>
							<key>files/stacks-image-25edea5-300x300.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								g0zf2gYJPMmp
								lNKVqS9J7w==
								</data>
								<key>Size</key>
								<integer>15372</integer>
							</dict>
							<key>files/stacks-image-25edea5-300x300@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								sCngiRQDMwhm
								oWFhOx5ROA==
								</data>
								<key>Size</key>
								<integer>24535</integer>
							</dict>
							<key>files/stacks-image-2c99c16-200x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ogBNss01WGJr
								lxQCW0N5Dg==
								</data>
								<key>Size</key>
								<integer>91488</integer>
							</dict>
							<key>files/stacks-image-2fa4b42-232x350.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Yb2SF9W7emcm
								Nx8HhMjIew==
								</data>
								<key>Size</key>
								<integer>25353</integer>
							</dict>
							<key>files/stacks-image-2fa4b42-232x350@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								8v7gzNtLn473
								Dh6Y5jsM2Q==
								</data>
								<key>Size</key>
								<integer>38386</integer>
							</dict>
							<key>files/stacks-image-32939b0-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								rf6KHPer67Vf
								zTXANfHQbQ==
								</data>
								<key>Size</key>
								<integer>20789</integer>
							</dict>
							<key>files/stacks-image-32939b0-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								JjPXM9XN9Rmu
								HRC1brNJHg==
								</data>
								<key>Size</key>
								<integer>38035</integer>
							</dict>
							<key>files/stacks-image-335560f-200x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								1xIImrO+qb0p
								/L01OduIZA==
								</data>
								<key>Size</key>
								<integer>93191</integer>
							</dict>
							<key>files/stacks-image-344e7c0-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9IEn0lE8uZcx
								zeymyHdvuQ==
								</data>
								<key>Size</key>
								<integer>18258</integer>
							</dict>
							<key>files/stacks-image-344e7c0-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								8W6LsFOg9xw5
								K8GrGeWbCQ==
								</data>
								<key>Size</key>
								<integer>28211</integer>
							</dict>
							<key>files/stacks-image-372af0f-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								R4xZAfEoNhfH
								PUanxado/Q==
								</data>
								<key>Size</key>
								<integer>14076</integer>
							</dict>
							<key>files/stacks-image-372af0f-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								iJKCfxSkJvnf
								/bf8pCVHvg==
								</data>
								<key>Size</key>
								<integer>25402</integer>
							</dict>
							<key>files/stacks-image-41d24eb-300x300.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								HcJ0XxNWXWFj
								L8ILeFNG4Q==
								</data>
								<key>Size</key>
								<integer>22074</integer>
							</dict>
							<key>files/stacks-image-4affa1a-244x350.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								frDYqkOUYTCR
								5RZzNh4y6w==
								</data>
								<key>Size</key>
								<integer>18336</integer>
							</dict>
							<key>files/stacks-image-4d2fb1a-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								yaOjvIYxS+24
								pIbwRiBVBQ==
								</data>
								<key>Size</key>
								<integer>14800</integer>
							</dict>
							<key>files/stacks-image-4d2fb1a-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ut2gS0f0GiPS
								oesJ9e59ig==
								</data>
								<key>Size</key>
								<integer>23187</integer>
							</dict>
							<key>files/stacks-image-4db0364-300x324.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								YVH6DSLW2qFR
								9fuS2s9eRg==
								</data>
								<key>Size</key>
								<integer>25334</integer>
							</dict>
							<key>files/stacks-image-4db0364-300x324@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								sbFBX2YE9sf2
								uhNnjQ3jZA==
								</data>
								<key>Size</key>
								<integer>48786</integer>
							</dict>
							<key>files/stacks-image-5518809-300x256.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								m7RB2S1Q2d9u
								gNaK1MHmzg==
								</data>
								<key>Size</key>
								<integer>30892</integer>
							</dict>
							<key>files/stacks-image-5518809-300x256@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								rGrMZ9fIG5/d
								wCj5TBicVQ==
								</data>
								<key>Size</key>
								<integer>53383</integer>
							</dict>
							<key>files/stacks-image-5d1fcf8-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								UoW289dsD3id
								qqdwk2sdeg==
								</data>
								<key>Size</key>
								<integer>15565</integer>
							</dict>
							<key>files/stacks-image-5d1fcf8-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								LRxobo4OzIDC
								GR67ZjHGBg==
								</data>
								<key>Size</key>
								<integer>27986</integer>
							</dict>
							<key>files/stacks-image-632dba4.png</key>
							<dict>
								<key>Digest</key>
								<data>
								I7BlJ/sIfKCd
								y/+Noen/4A==
								</data>
								<key>Size</key>
								<integer>69706</integer>
							</dict>
							<key>files/stacks-image-68c7485-200x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								2+1PNNC3MoE5
								h9TtVMOd/w==
								</data>
								<key>Size</key>
								<integer>102131</integer>
							</dict>
							<key>files/stacks-image-6c21b97.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								k4WnWCTXIoxW
								Kwa62I66tw==
								</data>
								<key>Size</key>
								<integer>4647</integer>
							</dict>
							<key>files/stacks-image-6ebb971-244x350.png</key>
							<dict>
								<key>Digest</key>
								<data>
								rHdV4vnWSzoN
								YDqox6qA4g==
								</data>
								<key>Size</key>
								<integer>165879</integer>
							</dict>
							<key>files/stacks-image-6f950e8-272x350.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								gCba5+5eVv9d
								hrY5IX67Tg==
								</data>
								<key>Size</key>
								<integer>33130</integer>
							</dict>
							<key>files/stacks-image-6f950e8-272x350@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								NECupfhG83zl
								rkcwxHsalw==
								</data>
								<key>Size</key>
								<integer>59761</integer>
							</dict>
							<key>files/stacks-image-706625c-232x350.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								5mnjrawnyQ2X
								mE0DeoHQ1A==
								</data>
								<key>Size</key>
								<integer>23826</integer>
							</dict>
							<key>files/stacks-image-71f3a33-272x350.png</key>
							<dict>
								<key>Digest</key>
								<data>
								/V8Z5/wB7DVr
								u53pJSkVhw==
								</data>
								<key>Size</key>
								<integer>162667</integer>
							</dict>
							<key>files/stacks-image-71f3a33-272x350@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								6ak27novTfUK
								ouQNbLidsA==
								</data>
								<key>Size</key>
								<integer>615496</integer>
							</dict>
							<key>files/stacks-image-7840532-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								crULsQgjPUTd
								/4p145BNGA==
								</data>
								<key>Size</key>
								<integer>12140</integer>
							</dict>
							<key>files/stacks-image-7840532-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								6vf+BMI3BNHp
								CVZxJXyj/g==
								</data>
								<key>Size</key>
								<integer>18577</integer>
							</dict>
							<key>files/stacks-image-7a83e22-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								kH10dsnycaWP
								g9VyyZe5BA==
								</data>
								<key>Size</key>
								<integer>17475</integer>
							</dict>
							<key>files/stacks-image-7cf95e6-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								OZ3KfuaO1mDi
								Vv4YJNiLFw==
								</data>
								<key>Size</key>
								<integer>14081</integer>
							</dict>
							<key>files/stacks-image-7cf95e6-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								sbkaQFnOzBKd
								4QkXaW2bfA==
								</data>
								<key>Size</key>
								<integer>19917</integer>
							</dict>
							<key>files/stacks-image-82572eb-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								BQEtvWMzDN/O
								EULXPzyjeQ==
								</data>
								<key>Size</key>
								<integer>21278</integer>
							</dict>
							<key>files/stacks-image-860ac33-300x300.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ncYn1qSdlZik
								jtJtRAjhAw==
								</data>
								<key>Size</key>
								<integer>21137</integer>
							</dict>
							<key>files/stacks-image-860ac33-300x300@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								WohLOtb7HaCi
								dJlktJMI4Q==
								</data>
								<key>Size</key>
								<integer>34339</integer>
							</dict>
							<key>files/stacks-image-8803ff3-300x198.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ifRKEg6lbwnz
								W4S6gl404g==
								</data>
								<key>Size</key>
								<integer>15222</integer>
							</dict>
							<key>files/stacks-image-8803ff3-300x198@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								95c6khL13sIt
								vZev2Ehi8A==
								</data>
								<key>Size</key>
								<integer>21785</integer>
							</dict>
							<key>files/stacks-image-94fc02f-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								x5M6bpDsyfLl
								PZJYoEEEOg==
								</data>
								<key>Size</key>
								<integer>13691</integer>
							</dict>
							<key>files/stacks-image-94fc02f-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								qUF6OO6EGB7y
								M3xlLJtXMQ==
								</data>
								<key>Size</key>
								<integer>21299</integer>
							</dict>
							<key>files/stacks-image-96f29bd-236x350.png</key>
							<dict>
								<key>Digest</key>
								<data>
								czG0yT+Zp++u
								dQbdCsCvdQ==
								</data>
								<key>Size</key>
								<integer>145186</integer>
							</dict>
							<key>files/stacks-image-9790936-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								720kIFpzLBor
								qVawQjzfjQ==
								</data>
								<key>Size</key>
								<integer>14954</integer>
							</dict>
							<key>files/stacks-image-997a8e1-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								dsVmFSoXoBKO
								srsRzv0yIQ==
								</data>
								<key>Size</key>
								<integer>15550</integer>
							</dict>
							<key>files/stacks-image-997a8e1-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								SPQB4QSmDUiC
								1k8NHB6NSw==
								</data>
								<key>Size</key>
								<integer>26607</integer>
							</dict>
							<key>files/stacks-image-a6a8d21-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9YD1O19pryzU
								YFNHAfBmXQ==
								</data>
								<key>Size</key>
								<integer>14124</integer>
							</dict>
							<key>files/stacks-image-a6a8d21-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								tPll8PwZP1Pd
								upwgXwnSVA==
								</data>
								<key>Size</key>
								<integer>23697</integer>
							</dict>
							<key>files/stacks-image-ad0e117-232x350.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								d7oa/Fsiw+K8
								5ouPRlo25g==
								</data>
								<key>Size</key>
								<integer>23482</integer>
							</dict>
							<key>files/stacks-image-aee6c47-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								jDmV7DgWz9cs
								pGLvGc/Zdg==
								</data>
								<key>Size</key>
								<integer>16600</integer>
							</dict>
							<key>files/stacks-image-aee6c47-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								W6txlG3Asu0a
								ODmqd6KbuA==
								</data>
								<key>Size</key>
								<integer>24485</integer>
							</dict>
							<key>files/stacks-image-b258b0c-300x300.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								GD28giHC7HK4
								23AzYyHayg==
								</data>
								<key>Size</key>
								<integer>17128</integer>
							</dict>
							<key>files/stacks-image-b258b0c-300x300@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								aTYL+oUm4o2y
								vmM04IZ4tQ==
								</data>
								<key>Size</key>
								<integer>27126</integer>
							</dict>
							<key>files/stacks-image-bd6dcce-300x256.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								m7RB2S1Q2d9u
								gNaK1MHmzg==
								</data>
								<key>Size</key>
								<integer>30892</integer>
							</dict>
							<key>files/stacks-image-bd6dcce-300x256@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								rGrMZ9fIG5/d
								wCj5TBicVQ==
								</data>
								<key>Size</key>
								<integer>53383</integer>
							</dict>
							<key>files/stacks-image-c1c3c13-300x168.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								SIe/1stf3dl5
								Co2rxmchIQ==
								</data>
								<key>Size</key>
								<integer>11562</integer>
							</dict>
							<key>files/stacks-image-c1c3c13-300x168@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								iMFzEvKqCvnh
								3/pp4Hc0MQ==
								</data>
								<key>Size</key>
								<integer>17468</integer>
							</dict>
							<key>files/stacks-image-c752e2d-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								OSh4aQJ5QcbG
								j+ZRWnF10w==
								</data>
								<key>Size</key>
								<integer>12354</integer>
							</dict>
							<key>files/stacks-image-c752e2d-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								cpRgbG62PaWT
								ys1XH4GP7A==
								</data>
								<key>Size</key>
								<integer>18672</integer>
							</dict>
							<key>files/stacks-image-cde41f6-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								im8/5zBgI3O9
								DvI0+wL+pQ==
								</data>
								<key>Size</key>
								<integer>13179</integer>
							</dict>
							<key>files/stacks-image-cde41f6-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								R1Td+dcLa/sy
								OWYepz6sXw==
								</data>
								<key>Size</key>
								<integer>19356</integer>
							</dict>
							<key>files/stacks-image-d4269a0-300x298.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								B2VS0WvzAuII
								c8zLJNsAQA==
								</data>
								<key>Size</key>
								<integer>20549</integer>
							</dict>
							<key>files/stacks-image-d4269a0-300x298@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								fb+QZ/3S0I3V
								zjAo3GZKLg==
								</data>
								<key>Size</key>
								<integer>34008</integer>
							</dict>
							<key>files/stacks-image-d6cbc58-300x174.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								rBCRPpBtO2g2
								oH2iGnV9yA==
								</data>
								<key>Size</key>
								<integer>19575</integer>
							</dict>
							<key>files/stacks-image-d81cfea.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								kEJaET7UMkw9
								k618OOJJqQ==
								</data>
								<key>Size</key>
								<integer>30501</integer>
							</dict>
							<key>files/stacks-image-da705e8-300x288.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Dy0KG9iiLeLs
								hOxVatEO3g==
								</data>
								<key>Size</key>
								<integer>20207</integer>
							</dict>
							<key>files/stacks-image-da705e8-300x288@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								sGFseBswIgWT
								5wd22WMEcw==
								</data>
								<key>Size</key>
								<integer>30019</integer>
							</dict>
							<key>files/stacks-image-e4392ce-290x350.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ha8ALgeAoJcE
								N5SedXVYDA==
								</data>
								<key>Size</key>
								<integer>186023</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Hwezk6t72J5g
								2awHy7YAqA==
								</data>
								<key>Size</key>
								<integer>19470</integer>
							</dict>
							<key>files/stacks-image-f438bd3-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								DuynsC9ZiSgq
								Jjvijs3fmg==
								</data>
								<key>Size</key>
								<integer>16709</integer>
							</dict>
							<key>files/stacks-image-f438bd3-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								GutT5hD6xlPw
								8ijQppco6g==
								</data>
								<key>Size</key>
								<integer>25211</integer>
							</dict>
							<key>files/stacks-image-f61ed89-200x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								+cSRdqtO34P9
								F9lPrc/2Lw==
								</data>
								<key>Size</key>
								<integer>87873</integer>
							</dict>
							<key>files/stacks-image-f61ed89-200x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								h9egoVLWoGX0
								99uprPLGJA==
								</data>
								<key>Size</key>
								<integer>346103</integer>
							</dict>
							<key>files/stacks-image-f780824-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								JBYQ00Z1Hvkj
								t7bgnFHXkw==
								</data>
								<key>Size</key>
								<integer>14399</integer>
							</dict>
							<key>files/stacks-image-fc8fc2c-300x306.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZiscevZEEiNq
								RdeL1Qgubg==
								</data>
								<key>Size</key>
								<integer>156092</integer>
							</dict>
							<key>files/stacks-image-fc8fc2c-300x306@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								0mLZ+LLRE3kv
								WSvqtZ9edg==
								</data>
								<key>Size</key>
								<integer>621169</integer>
							</dict>
							<key>files/stacks-image-fe073d3-200x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								lhWB9xcnmq4o
								mxKj85tUiA==
								</data>
								<key>Size</key>
								<integer>90743</integer>
							</dict>
							<key>files/stacks-image-fe073d3-200x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								kE2eUya8GFsR
								Sm864NoSSA==
								</data>
								<key>Size</key>
								<integer>342856</integer>
							</dict>
							<key>files/stacks_page_page37.css</key>
							<dict>
								<key>Digest</key>
								<data>
								Y/27fW5DmHA8
								h6DrN04Gjg==
								</data>
								<key>Size</key>
								<integer>424416</integer>
							</dict>
							<key>files/stacks_page_page37.js</key>
							<dict>
								<key>Digest</key>
								<data>
								ILV5XC1D/Rpg
								KhyAejVeng==
								</data>
								<key>Size</key>
								<integer>28760</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								6n3fhJ1Y8p7h
								MvuQzxrjDg==
								</data>
								<key>Size</key>
								<integer>332087</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page37</string>
						<key>SiteRoot</key>
						<string>people/core-team</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
