<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>ALIFE 2020</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page64</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>ALIFE 2020</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.6.8</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-08-01T18:09:51Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/backgroundImage_114352.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								t6sVWeH5Dwiz
								lTdhjl5wGA==
								</data>
								<key>Size</key>
								<integer>3099081</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZFHf9zniv4SK
								z9ywIWAR7Q==
								</data>
								<key>Size</key>
								<integer>124861</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								5SEHlmzIRPnE
								h1Zlyu2W+A==
								</data>
								<key>Size</key>
								<integer>35205</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZP2FJ/yve/bb
								UMUDEFQ7OA==
								</data>
								<key>Size</key>
								<integer>68310</integer>
							</dict>
							<key>files/stacks-image-28ec906-332x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								q8MeK0zynaYB
								QnEg4xgJlg==
								</data>
								<key>Size</key>
								<integer>43537</integer>
							</dict>
							<key>files/stacks-image-459082d.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								u2Q2vUDzWirB
								IK07lqIzzw==
								</data>
								<key>Size</key>
								<integer>594156</integer>
							</dict>
							<key>files/stacks-image-485f523.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								8jpSLF89IUPH
								+2TIALk1ZQ==
								</data>
								<key>Size</key>
								<integer>76975</integer>
							</dict>
							<key>files/stacks-image-cd0a404.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Nb2TZEoroRSC
								Y+xT2IHd1Q==
								</data>
								<key>Size</key>
								<integer>27178</integer>
							</dict>
							<key>files/stacks-image-e391cfd-650x188.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								fIVhURqrHBXl
								HA6uwnKrpg==
								</data>
								<key>Size</key>
								<integer>50556</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								FWLv4iC2Yarl
								ySGORUZ3Iw==
								</data>
								<key>Size</key>
								<integer>19413</integer>
							</dict>
							<key>files/stacks_page_page64.css</key>
							<dict>
								<key>Digest</key>
								<data>
								W95PEBYbeE6Y
								v4HsBSkwDA==
								</data>
								<key>Size</key>
								<integer>155307</integer>
							</dict>
							<key>files/stacks_page_page64.js</key>
							<dict>
								<key>Digest</key>
								<data>
								uThSy3c3nASH
								nRfXqUfNYw==
								</data>
								<key>Size</key>
								<integer>24870</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								jnkxCYM/Fgdt
								g7DgmJf0Fg==
								</data>
								<key>Size</key>
								<integer>86223</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page64</string>
						<key>SiteRoot</key>
						<string>events/ALIFE-2020</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>ChildPages</string>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
