<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>NetSci 2019</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page53</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>NetSci 2019</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.2.4</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2022-05-16T19:49:34Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/D289564D-C2D0-4B94-AA16-FC8C366062A7.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								GQHOUzuyjCs9
								Jfbg60A9OQ==
								</data>
								<key>Size</key>
								<integer>700318</integer>
							</dict>
							<key>files/small-109623-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/small-109710-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JfxF8Omi0icK
								xIwohpIZqw==
								</data>
								<key>Size</key>
								<integer>77487</integer>
							</dict>
							<key>files/small-109714-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2NMhf1k+YDl
								uPpd6H1dBw==
								</data>
								<key>Size</key>
								<integer>15019</integer>
							</dict>
							<key>files/small-109735-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D2nm4R7babci
								2M5NjfUDZQ==
								</data>
								<key>Size</key>
								<integer>18925</integer>
							</dict>
							<key>files/small-109736-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgRiuB3NhhIh
								SwZTifI18g==
								</data>
								<key>Size</key>
								<integer>21987</integer>
							</dict>
							<key>files/stacks-image-012ccd0-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								MwuBisOoCaru
								V8uhx76OwQ==
								</data>
								<key>Size</key>
								<integer>37453</integer>
							</dict>
							<key>files/stacks-image-01b6cb7.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								28a9qyUZUYuy
								Z9wh4S00OA==
								</data>
								<key>Size</key>
								<integer>199450</integer>
							</dict>
							<key>files/stacks-image-0655a30-350x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Or3ITo4mdjr8
								94M61kjraA==
								</data>
								<key>Size</key>
								<integer>18175</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								nc/RlhmvGDDL
								K+SuTjMLPQ==
								</data>
								<key>Size</key>
								<integer>35262</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								tvAomUQyeND0
								vTpTZz/VVg==
								</data>
								<key>Size</key>
								<integer>68367</integer>
							</dict>
							<key>files/stacks-image-0a2e163-328x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								f4Zg+6Qg4eBC
								qeD3MTYnVQ==
								</data>
								<key>Size</key>
								<integer>43453</integer>
							</dict>
							<key>files/stacks-image-0c90353-700x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								QemuvwD3fWhz
								9bxmU42FVg==
								</data>
								<key>Size</key>
								<integer>72347</integer>
							</dict>
							<key>files/stacks-image-1118fd8.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								sFraoy+16ql5
								9exyyMmEmg==
								</data>
								<key>Size</key>
								<integer>35091</integer>
							</dict>
							<key>files/stacks-image-127916a.png</key>
							<dict>
								<key>Digest</key>
								<data>
								0GUWwCZaomta
								DcjE4zY/bQ==
								</data>
								<key>Size</key>
								<integer>523754</integer>
							</dict>
							<key>files/stacks-image-1629f24.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								PCup30bjv0Xn
								AFSA01ed5A==
								</data>
								<key>Size</key>
								<integer>26372</integer>
							</dict>
							<key>files/stacks-image-1fdb6e6-350x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								2jt+y7f/kfuw
								eCSNxmvN4A==
								</data>
								<key>Size</key>
								<integer>17460</integer>
							</dict>
							<key>files/stacks-image-1fdb6e6-350x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								hcHtomvXDQl7
								8/rsRUmOdw==
								</data>
								<key>Size</key>
								<integer>26325</integer>
							</dict>
							<key>files/stacks-image-239cbaa-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								C24yrVneOquf
								3OsmlbiaFQ==
								</data>
								<key>Size</key>
								<integer>30631</integer>
							</dict>
							<key>files/stacks-image-239cbaa-350x375@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								dng8K+/zJSxg
								QtsoU1n02Q==
								</data>
								<key>Size</key>
								<integer>48084</integer>
							</dict>
							<key>files/stacks-image-28ec906-332x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								5hwLjlD04baj
								Jp7KdIWhmA==
								</data>
								<key>Size</key>
								<integer>43521</integer>
							</dict>
							<key>files/stacks-image-2aeee5b.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								We9pB8ka4Vmx
								H5keC9AVbg==
								</data>
								<key>Size</key>
								<integer>24736</integer>
							</dict>
							<key>files/stacks-image-391616f-500x500.png</key>
							<dict>
								<key>Digest</key>
								<data>
								4LaUL+TLCEFl
								c1ii+v9j4w==
								</data>
								<key>Size</key>
								<integer>559054</integer>
							</dict>
							<key>files/stacks-image-408abbc-500x280.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Qgnj7ENy6suH
								PvQ+Q4u/TQ==
								</data>
								<key>Size</key>
								<integer>27822</integer>
							</dict>
							<key>files/stacks-image-45366af-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								LavIuIjkXa+B
								RYb7QpCObw==
								</data>
								<key>Size</key>
								<integer>24552</integer>
							</dict>
							<key>files/stacks-image-506ca91.png</key>
							<dict>
								<key>Digest</key>
								<data>
								8EdMMOs3/vIq
								ik9HPArzCA==
								</data>
								<key>Size</key>
								<integer>340983</integer>
							</dict>
							<key>files/stacks-image-529cde2.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								GXFXYjQLv+hV
								FDCl0G8p2g==
								</data>
								<key>Size</key>
								<integer>25905</integer>
							</dict>
							<key>files/stacks-image-56a1744-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ZjCO9QWUz1dJ
								KLys0aU5Mg==
								</data>
								<key>Size</key>
								<integer>33845</integer>
							</dict>
							<key>files/stacks-image-571e73c-350x375.png</key>
							<dict>
								<key>Digest</key>
								<data>
								xpNds+On1RfX
								MUusTh8EGA==
								</data>
								<key>Size</key>
								<integer>219557</integer>
							</dict>
							<key>files/stacks-image-571e73c-350x375@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								+Ahbgit9lWWP
								Dl5fRFRt6g==
								</data>
								<key>Size</key>
								<integer>725674</integer>
							</dict>
							<key>files/stacks-image-5aa6b15-350x375.png</key>
							<dict>
								<key>Digest</key>
								<data>
								qP6RPmXoFDzS
								LgYyMCMQ4A==
								</data>
								<key>Size</key>
								<integer>227153</integer>
							</dict>
							<key>files/stacks-image-6037ffd-500x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								geFElycw+VmA
								82FLoR0d/g==
								</data>
								<key>Size</key>
								<integer>56696</integer>
							</dict>
							<key>files/stacks-image-6298502.png</key>
							<dict>
								<key>Digest</key>
								<data>
								I7BlJ/sIfKCd
								y/+Noen/4A==
								</data>
								<key>Size</key>
								<integer>69706</integer>
							</dict>
							<key>files/stacks-image-6467c3a-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								MCcuFyGJQhgK
								tcx8swUTDQ==
								</data>
								<key>Size</key>
								<integer>29001</integer>
							</dict>
							<key>files/stacks-image-681c98a-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								YM176hvPA9ly
								jw7D6MfayA==
								</data>
								<key>Size</key>
								<integer>50367</integer>
							</dict>
							<key>files/stacks-image-6c2cdff-500x500.png</key>
							<dict>
								<key>Digest</key>
								<data>
								EygtvSfCQOKP
								ics+aGMsmA==
								</data>
								<key>Size</key>
								<integer>415356</integer>
							</dict>
							<key>files/stacks-image-6c2cdff-500x500@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								HrTt5KdczS1F
								UglUxx0bOA==
								</data>
								<key>Size</key>
								<integer>1663131</integer>
							</dict>
							<key>files/stacks-image-6d7780c-350x375.png</key>
							<dict>
								<key>Digest</key>
								<data>
								jZV7JZhNIKsK
								ZfDh5LBxRw==
								</data>
								<key>Size</key>
								<integer>131360</integer>
							</dict>
							<key>files/stacks-image-6d7780c-350x375@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								TN09FHAYdnL4
								lWydfURt6w==
								</data>
								<key>Size</key>
								<integer>484671</integer>
							</dict>
							<key>files/stacks-image-6db2017-500x376.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								41zJ4LCb6BRm
								MFq2H5dLfQ==
								</data>
								<key>Size</key>
								<integer>28955</integer>
							</dict>
							<key>files/stacks-image-6db2017-500x376@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								sfy3j4p5RXse
								OW+3FesiSQ==
								</data>
								<key>Size</key>
								<integer>44447</integer>
							</dict>
							<key>files/stacks-image-6f3f11d-350x375.png</key>
							<dict>
								<key>Digest</key>
								<data>
								gxv+xBMaZYB0
								8iOUHTNOBw==
								</data>
								<key>Size</key>
								<integer>257599</integer>
							</dict>
							<key>files/stacks-image-6fb48dc-1200x488.png</key>
							<dict>
								<key>Digest</key>
								<data>
								bl1GIjKh70GY
								JYM1e/UhGw==
								</data>
								<key>Size</key>
								<integer>107335</integer>
							</dict>
							<key>files/stacks-image-7700296-350x375.png</key>
							<dict>
								<key>Digest</key>
								<data>
								gxv+xBMaZYB0
								8iOUHTNOBw==
								</data>
								<key>Size</key>
								<integer>257599</integer>
							</dict>
							<key>files/stacks-image-7841e09.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								N4PpCrmytr8z
								lNWtcwKD6g==
								</data>
								<key>Size</key>
								<integer>8443</integer>
							</dict>
							<key>files/stacks-image-78f98c2-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								5//3wc+gyL9w
								icjnYdlSJA==
								</data>
								<key>Size</key>
								<integer>40184</integer>
							</dict>
							<key>files/stacks-image-78f98c2-350x375@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ZLUPWdxPwASO
								enV4kRUGKQ==
								</data>
								<key>Size</key>
								<integer>66216</integer>
							</dict>
							<key>files/stacks-image-7baace1.png</key>
							<dict>
								<key>Digest</key>
								<data>
								uEJORZYvXD+2
								XjdrJ+u0zA==
								</data>
								<key>Size</key>
								<integer>54441</integer>
							</dict>
							<key>files/stacks-image-7bc5484-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								FyYBIRZcj01n
								UsAzynqMNQ==
								</data>
								<key>Size</key>
								<integer>32968</integer>
							</dict>
							<key>files/stacks-image-7bc5484-350x375@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								A2L3HObLBvYD
								k0x3cjmZBQ==
								</data>
								<key>Size</key>
								<integer>63325</integer>
							</dict>
							<key>files/stacks-image-7d4bd33-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								u6987/Le0Vxt
								enz2NRoDnQ==
								</data>
								<key>Size</key>
								<integer>27176</integer>
							</dict>
							<key>files/stacks-image-7d4bd33-350x375@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								4cBsuLcp6hBV
								Z5sAgQaKnA==
								</data>
								<key>Size</key>
								<integer>53643</integer>
							</dict>
							<key>files/stacks-image-853176b-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								XUEkHMWGxyeP
								aqGKNPpU2A==
								</data>
								<key>Size</key>
								<integer>25438</integer>
							</dict>
							<key>files/stacks-image-85b8eaa-500x500.png</key>
							<dict>
								<key>Digest</key>
								<data>
								NYlPodpI0smn
								N1tV8WKbmg==
								</data>
								<key>Size</key>
								<integer>390435</integer>
							</dict>
							<key>files/stacks-image-8bfe41d-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								5//3wc+gyL9w
								icjnYdlSJA==
								</data>
								<key>Size</key>
								<integer>40184</integer>
							</dict>
							<key>files/stacks-image-8bfe41d-350x375@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ZLUPWdxPwASO
								enV4kRUGKQ==
								</data>
								<key>Size</key>
								<integer>66216</integer>
							</dict>
							<key>files/stacks-image-93fd638-332x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								SvRuaRZeonni
								jS6bsNyzyw==
								</data>
								<key>Size</key>
								<integer>38694</integer>
							</dict>
							<key>files/stacks-image-9416b79-350x375.png</key>
							<dict>
								<key>Digest</key>
								<data>
								qP6RPmXoFDzS
								LgYyMCMQ4A==
								</data>
								<key>Size</key>
								<integer>227153</integer>
							</dict>
							<key>files/stacks-image-9c884d0.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								fU/F14sAci93
								dY+HaHVrFw==
								</data>
								<key>Size</key>
								<integer>243823</integer>
							</dict>
							<key>files/stacks-image-9dd6b57.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Ja70Tal4C+3g
								51eZ/sKWCA==
								</data>
								<key>Size</key>
								<integer>340206</integer>
							</dict>
							<key>files/stacks-image-9e8a1b4-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								OvV/dBCXsj69
								n0+TlxbusA==
								</data>
								<key>Size</key>
								<integer>22206</integer>
							</dict>
							<key>files/stacks-image-a0c9938-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								anYnvjfRf7lW
								+7v5zdP+iA==
								</data>
								<key>Size</key>
								<integer>20113</integer>
							</dict>
							<key>files/stacks-image-a95c28b-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								OvV/dBCXsj69
								n0+TlxbusA==
								</data>
								<key>Size</key>
								<integer>22206</integer>
							</dict>
							<key>files/stacks-image-ab30bf8-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								FyYBIRZcj01n
								UsAzynqMNQ==
								</data>
								<key>Size</key>
								<integer>32968</integer>
							</dict>
							<key>files/stacks-image-ab30bf8-350x375@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								A2L3HObLBvYD
								k0x3cjmZBQ==
								</data>
								<key>Size</key>
								<integer>63325</integer>
							</dict>
							<key>files/stacks-image-ae20feb-500x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								o60KIGiegSLP
								4CwvIPLo1A==
								</data>
								<key>Size</key>
								<integer>40127</integer>
							</dict>
							<key>files/stacks-image-ae20feb-500x500@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								WxIPx1KbUxng
								8jdXgCehQQ==
								</data>
								<key>Size</key>
								<integer>61631</integer>
							</dict>
							<key>files/stacks-image-b379a6f-500x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								sr7yzz1QaE87
								vQIvAHkUJw==
								</data>
								<key>Size</key>
								<integer>54031</integer>
							</dict>
							<key>files/stacks-image-b6595c0-250x82.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zZKPZConj8wG
								iVwF9P3nUA==
								</data>
								<key>Size</key>
								<integer>14796</integer>
							</dict>
							<key>files/stacks-image-b8bc7d5-350x375.png</key>
							<dict>
								<key>Digest</key>
								<data>
								jZV7JZhNIKsK
								ZfDh5LBxRw==
								</data>
								<key>Size</key>
								<integer>131360</integer>
							</dict>
							<key>files/stacks-image-b8bc7d5-350x375@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								TN09FHAYdnL4
								lWydfURt6w==
								</data>
								<key>Size</key>
								<integer>484671</integer>
							</dict>
							<key>files/stacks-image-b90e42d.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								7Ov4M+uEO0lh
								avEtq2w06w==
								</data>
								<key>Size</key>
								<integer>31635</integer>
							</dict>
							<key>files/stacks-image-bded2de-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								u6987/Le0Vxt
								enz2NRoDnQ==
								</data>
								<key>Size</key>
								<integer>27176</integer>
							</dict>
							<key>files/stacks-image-bded2de-350x375@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								4cBsuLcp6hBV
								Z5sAgQaKnA==
								</data>
								<key>Size</key>
								<integer>53643</integer>
							</dict>
							<key>files/stacks-image-c132778-1200x800.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								n+N20NNR651/
								m3bm5WOx5Q==
								</data>
								<key>Size</key>
								<integer>174686</integer>
							</dict>
							<key>files/stacks-image-c132778-1200x800@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								qadjtjPSf+Qf
								KBAsRzBl/w==
								</data>
								<key>Size</key>
								<integer>300624</integer>
							</dict>
							<key>files/stacks-image-c6e25a9.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								pGqdJwYojFxw
								HJPiARAEZQ==
								</data>
								<key>Size</key>
								<integer>42733</integer>
							</dict>
							<key>files/stacks-image-c6fac6f-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								YM176hvPA9ly
								jw7D6MfayA==
								</data>
								<key>Size</key>
								<integer>50367</integer>
							</dict>
							<key>files/stacks-image-cd0a404.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Nb2TZEoroRSC
								Y+xT2IHd1Q==
								</data>
								<key>Size</key>
								<integer>27178</integer>
							</dict>
							<key>files/stacks-image-cd43f5e-500x374.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								057F5ONcJxng
								nVzCcCJkuA==
								</data>
								<key>Size</key>
								<integer>49496</integer>
							</dict>
							<key>files/stacks-image-cd43f5e-500x374@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								wxTlHCEePayn
								r2ps6gkzmA==
								</data>
								<key>Size</key>
								<integer>146924</integer>
							</dict>
							<key>files/stacks-image-cfadf25.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9nBAHyaW6iKX
								SMq0xWVuoA==
								</data>
								<key>Size</key>
								<integer>25161</integer>
							</dict>
							<key>files/stacks-image-d7139db.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								d8N940Mz+Z7w
								r1KttVpXdw==
								</data>
								<key>Size</key>
								<integer>204779</integer>
							</dict>
							<key>files/stacks-image-e5e8064-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								C24yrVneOquf
								3OsmlbiaFQ==
								</data>
								<key>Size</key>
								<integer>30631</integer>
							</dict>
							<key>files/stacks-image-e5e8064-350x375@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								dng8K+/zJSxg
								QtsoU1n02Q==
								</data>
								<key>Size</key>
								<integer>48084</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Hwezk6t72J5g
								2awHy7YAqA==
								</data>
								<key>Size</key>
								<integer>19470</integer>
							</dict>
							<key>files/stacks-image-eb41103.png</key>
							<dict>
								<key>Digest</key>
								<data>
								jAlW11yoyzWZ
								HjPBv5Qzmg==
								</data>
								<key>Size</key>
								<integer>375040</integer>
							</dict>
							<key>files/stacks-image-f14500c-500x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9SrkdRaIADvp
								m9PtKzQXrA==
								</data>
								<key>Size</key>
								<integer>46314</integer>
							</dict>
							<key>files/stacks-image-f162ac2-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								MwuBisOoCaru
								V8uhx76OwQ==
								</data>
								<key>Size</key>
								<integer>37453</integer>
							</dict>
							<key>files/stacks-image-f653d0a.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								hCVTK4oyyITK
								kXBXOiPsAg==
								</data>
								<key>Size</key>
								<integer>22811</integer>
							</dict>
							<key>files/stacks-image-f6abd7f-332x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								SvRuaRZeonni
								jS6bsNyzyw==
								</data>
								<key>Size</key>
								<integer>38694</integer>
							</dict>
							<key>files/stacks-image-f9056c6-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								XUEkHMWGxyeP
								aqGKNPpU2A==
								</data>
								<key>Size</key>
								<integer>25438</integer>
							</dict>
							<key>files/stacks-image-fa235ce-400x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								0EKjpRER5vtY
								cbMxC0jrVw==
								</data>
								<key>Size</key>
								<integer>61255</integer>
							</dict>
							<key>files/stacks_page_page53.css</key>
							<dict>
								<key>Digest</key>
								<data>
								rBmKZlK45ocV
								Rk1S8+ZrzQ==
								</data>
								<key>Size</key>
								<integer>361705</integer>
							</dict>
							<key>files/stacks_page_page53.js</key>
							<dict>
								<key>Digest</key>
								<data>
								ZPkN2NdEDuri
								d4DoE+YN2Q==
								</data>
								<key>Size</key>
								<integer>32574</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								AcVS2kxBWE2c
								Nao7vNggPQ==
								</data>
								<key>Size</key>
								<integer>286525</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page53</string>
						<key>SiteRoot</key>
						<string>events/netsci</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>ChildPages</string>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
