<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page69</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Partner</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.6.3</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2018-10-08T15:09:10Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/backgroundImage_109991.png</key>
							<dict>
								<key>Digest</key>
								<data>
								S/+NjCX24Lm/
								r4KlUdrwJg==
								</data>
								<key>Size</key>
								<integer>990133</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZFHf9zniv4SK
								z9ywIWAR7Q==
								</data>
								<key>Size</key>
								<integer>124861</integer>
							</dict>
							<key>files/stacks-image-0d315c7-126x150.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Q3NjBesQ1ATj
								eT17sulmZw==
								</data>
								<key>Size</key>
								<integer>10921</integer>
							</dict>
							<key>files/stacks-image-20a9b85-148x112.png</key>
							<dict>
								<key>Digest</key>
								<data>
								BZLvZKuqsTXL
								tioM4/eGYg==
								</data>
								<key>Size</key>
								<integer>21473</integer>
							</dict>
							<key>files/stacks-image-2706f3f.png</key>
							<dict>
								<key>Digest</key>
								<data>
								38DyDEe6U7zk
								+jpdOMXc/w==
								</data>
								<key>Size</key>
								<integer>2858</integer>
							</dict>
							<key>files/stacks-image-288a3eb-148x48.png</key>
							<dict>
								<key>Digest</key>
								<data>
								8vehudoZ0/bZ
								Y1xnrLdL+g==
								</data>
								<key>Size</key>
								<integer>7809</integer>
							</dict>
							<key>files/stacks-image-29f94dd-148x80.png</key>
							<dict>
								<key>Digest</key>
								<data>
								EYK/gpQVOrqw
								9IMTJUPVPg==
								</data>
								<key>Size</key>
								<integer>10705</integer>
							</dict>
							<key>files/stacks-image-357371c-150x110.png</key>
							<dict>
								<key>Digest</key>
								<data>
								hs6xMzOOWQER
								xbntXLRaFQ==
								</data>
								<key>Size</key>
								<integer>21901</integer>
							</dict>
							<key>files/stacks-image-3e5d1b9-148x84.png</key>
							<dict>
								<key>Digest</key>
								<data>
								YiGLIfCAEpdb
								+vy5DzrK6g==
								</data>
								<key>Size</key>
								<integer>30634</integer>
							</dict>
							<key>files/stacks-image-42e96b3-150x98.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								PUDUlnNXc4Xa
								0G/bLI0+dA==
								</data>
								<key>Size</key>
								<integer>7905</integer>
							</dict>
							<key>files/stacks-image-4dcf90e-300x122.png</key>
							<dict>
								<key>Digest</key>
								<data>
								jSmuI7qnWdR1
								qcLDuJurzA==
								</data>
								<key>Size</key>
								<integer>9356</integer>
							</dict>
							<key>files/stacks-image-54d1767-350x232.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Iwc0wF8bWkwX
								JgUzHxfD3A==
								</data>
								<key>Size</key>
								<integer>15992</integer>
							</dict>
							<key>files/stacks-image-580baf6-248x248.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								OGSW8MSxffNf
								eqQN8VH97Q==
								</data>
								<key>Size</key>
								<integer>13349</integer>
							</dict>
							<key>files/stacks-image-5a7224a-150x110.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								7B2ax/l72WSZ
								vqMMOrwUmg==
								</data>
								<key>Size</key>
								<integer>8669</integer>
							</dict>
							<key>files/stacks-image-80fac81-498x492.png</key>
							<dict>
								<key>Digest</key>
								<data>
								r5BOP69FlzV5
								7pMvIwieRQ==
								</data>
								<key>Size</key>
								<integer>43670</integer>
							</dict>
							<key>files/stacks-image-80fac81-498x492@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								N8Fpo3I77tYH
								kke2eJmBBw==
								</data>
								<key>Size</key>
								<integer>100569</integer>
							</dict>
							<key>files/stacks-image-874cac4-150x70.png</key>
							<dict>
								<key>Digest</key>
								<data>
								nDD0Q7L8a0xF
								yngYK86HSg==
								</data>
								<key>Size</key>
								<integer>10420</integer>
							</dict>
							<key>files/stacks-image-890cd48.png</key>
							<dict>
								<key>Digest</key>
								<data>
								bBikOroID56t
								jGPkUM0bGg==
								</data>
								<key>Size</key>
								<integer>3109</integer>
							</dict>
							<key>files/stacks-image-90966db-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								YpjTgVVBaf31
								xzRYJpWpzQ==
								</data>
								<key>Size</key>
								<integer>21870</integer>
							</dict>
							<key>files/stacks-image-931e159.png</key>
							<dict>
								<key>Digest</key>
								<data>
								wHFdVZAtYDow
								YLyieElOOQ==
								</data>
								<key>Size</key>
								<integer>14603</integer>
							</dict>
							<key>files/stacks-image-ac0a62a-150x98.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								vMXUpBHkzd/P
								iycL7fJwFA==
								</data>
								<key>Size</key>
								<integer>5782</integer>
							</dict>
							<key>files/stacks-image-bde58ff-150x74.png</key>
							<dict>
								<key>Digest</key>
								<data>
								4y8cx3yZUltW
								+NV6U2dP5g==
								</data>
								<key>Size</key>
								<integer>25461</integer>
							</dict>
							<key>files/stacks-image-bed233e-150x120.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								bzwiKUQtFSMC
								o0lvPwkXtg==
								</data>
								<key>Size</key>
								<integer>8470</integer>
							</dict>
							<key>files/stacks-image-c6ac214-300x300.png</key>
							<dict>
								<key>Digest</key>
								<data>
								k+D/ZYUgjZt4
								R6qHaDqnvg==
								</data>
								<key>Size</key>
								<integer>23308</integer>
							</dict>
							<key>files/stacks-image-de46789-150x78.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								pb+VmDroxbMX
								qc/efz5nAA==
								</data>
								<key>Size</key>
								<integer>9772</integer>
							</dict>
							<key>files/stacks_page_page69.css</key>
							<dict>
								<key>Digest</key>
								<data>
								xDTkN5NdbCd0
								QMgl+9HKow==
								</data>
								<key>Size</key>
								<integer>134756</integer>
							</dict>
							<key>files/stacks_page_page69.js</key>
							<dict>
								<key>Digest</key>
								<data>
								KvDegWtvoU5M
								ycKCqHFPAg==
								</data>
								<key>Size</key>
								<integer>24349</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								lEBvLhxy7+Gv
								eDhMbYamgA==
								</data>
								<key>Size</key>
								<integer>70085</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page69</string>
						<key>SiteRoot</key>
						<string>partner</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
