<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Sponsors</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page78</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>ALife Sponsors</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.0.3</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-11-22T19:29:08Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/backgroundImage_111158.png</key>
							<dict>
								<key>Digest</key>
								<data>
								oO1m8EsEiu5G
								sMzeV4++ZQ==
								</data>
								<key>Size</key>
								<integer>1865759</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/small_p60311_n109710.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JfxF8Omi0icK
								xIwohpIZqw==
								</data>
								<key>Size</key>
								<integer>77487</integer>
							</dict>
							<key>files/small_p60311_n109714.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2NMhf1k+YDl
								uPpd6H1dBw==
								</data>
								<key>Size</key>
								<integer>15019</integer>
							</dict>
							<key>files/small_p60311_n109735.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D2nm4R7babci
								2M5NjfUDZQ==
								</data>
								<key>Size</key>
								<integer>18925</integer>
							</dict>
							<key>files/small_p60311_n109736.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgRiuB3NhhIh
								SwZTifI18g==
								</data>
								<key>Size</key>
								<integer>21987</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								C82d5dfws9q4
								DDOA2BFu1w==
								</data>
								<key>Size</key>
								<integer>35273</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								v/SijtX2gRco
								SwESRI9B4g==
								</data>
								<key>Size</key>
								<integer>68378</integer>
							</dict>
							<key>files/stacks-image-2968668-150x150.png</key>
							<dict>
								<key>Digest</key>
								<data>
								G7B2fK0DxzrV
								OP1vw5R89g==
								</data>
								<key>Size</key>
								<integer>11845</integer>
							</dict>
							<key>files/stacks-image-2968668-150x150@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								dshcHwEP3aWW
								3bgPuFZ5Yw==
								</data>
								<key>Size</key>
								<integer>34973</integer>
							</dict>
							<key>files/stacks-image-61fe2fb-148x138.png</key>
							<dict>
								<key>Digest</key>
								<data>
								HeyXsRvsoWkK
								M/5LZMqhnw==
								</data>
								<key>Size</key>
								<integer>6594</integer>
							</dict>
							<key>files/stacks-image-61fe2fb-148x138@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								mq/BGKf2JUK8
								W4uF/9/qjQ==
								</data>
								<key>Size</key>
								<integer>18373</integer>
							</dict>
							<key>files/stacks-image-63bfdf1-898x1200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								JzGDCTr3VpQ9
								ZXa76S/QnA==
								</data>
								<key>Size</key>
								<integer>379215</integer>
							</dict>
							<key>files/stacks-image-63bfdf1-898x1200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9Q9bA8/nbmZM
								L3BvVZFtbw==
								</data>
								<key>Size</key>
								<integer>623013</integer>
							</dict>
							<key>files/stacks-image-7d9976e-150x128.png</key>
							<dict>
								<key>Digest</key>
								<data>
								byKriyG8GAsq
								q7W7q4qGzw==
								</data>
								<key>Size</key>
								<integer>20702</integer>
							</dict>
							<key>files/stacks-image-7d9976e-150x128@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								LrpmCichnQNd
								aPiPZhIPsw==
								</data>
								<key>Size</key>
								<integer>63559</integer>
							</dict>
							<key>files/stacks-image-7e48fa7-148x150.png</key>
							<dict>
								<key>Digest</key>
								<data>
								gGa6aj2mCJAI
								hNT4f1Zblw==
								</data>
								<key>Size</key>
								<integer>25749</integer>
							</dict>
							<key>files/stacks-image-7e48fa7-148x150@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								cVxY487syBw2
								tdtwQiCucg==
								</data>
								<key>Size</key>
								<integer>83661</integer>
							</dict>
							<key>files/stacks-image-8e88332-100x104.png</key>
							<dict>
								<key>Digest</key>
								<data>
								yGQeTqJcL8d7
								LuGMTcY70w==
								</data>
								<key>Size</key>
								<integer>15342</integer>
							</dict>
							<key>files/stacks-image-8e88332-100x104@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								2iT99O9OaAUI
								l/qViQQVMw==
								</data>
								<key>Size</key>
								<integer>50205</integer>
							</dict>
							<key>files/stacks-image-a3bad70-250x214.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Qlm98qBKObQ5
								1Q9kqFh+kQ==
								</data>
								<key>Size</key>
								<integer>52138</integer>
							</dict>
							<key>files/stacks-image-a3bad70-250x214@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								W00jU5162f99
								wFvF83onVA==
								</data>
								<key>Size</key>
								<integer>162049</integer>
							</dict>
							<key>files/stacks-image-cc75d0b-150x138.png</key>
							<dict>
								<key>Digest</key>
								<data>
								UDz7gHIVSDx0
								c2wuAqLLRQ==
								</data>
								<key>Size</key>
								<integer>21599</integer>
							</dict>
							<key>files/stacks-image-cc75d0b-150x138@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								H26EjSoRttCA
								AwCFBm4yfA==
								</data>
								<key>Size</key>
								<integer>67332</integer>
							</dict>
							<key>files/stacks-image-d8b2bc5.png</key>
							<dict>
								<key>Digest</key>
								<data>
								YRy2S5aoKzt/
								v1ucadp4zA==
								</data>
								<key>Size</key>
								<integer>6879</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								IcJyU76V543g
								RUdnIXKzHw==
								</data>
								<key>Size</key>
								<integer>19481</integer>
							</dict>
							<key>files/stacks-image-f5f8092.png</key>
							<dict>
								<key>Digest</key>
								<data>
								7+0xcCXOk8Sr
								rTDuJ+BbLg==
								</data>
								<key>Size</key>
								<integer>12393</integer>
							</dict>
							<key>files/stacks_page_page78.css</key>
							<dict>
								<key>Digest</key>
								<data>
								TsGCgjsIZbkE
								FRzaZ09cvQ==
								</data>
								<key>Size</key>
								<integer>151338</integer>
							</dict>
							<key>files/stacks_page_page78.js</key>
							<dict>
								<key>Digest</key>
								<data>
								vGBM58lnXVSK
								vmcwugIkNw==
								</data>
								<key>Size</key>
								<integer>24289</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								57zkzDYRbYA9
								/IEmVx9K7Q==
								</data>
								<key>Size</key>
								<integer>77744</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page78</string>
						<key>SiteRoot</key>
						<string>events/ALIFE-2020/Sponsors</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
