<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page46</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Details</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.2.2</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2021-10-27T21:36:45Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/19B12A0D-3531-4A58-9A1E-682EDD4797AE.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								syd5ScMzK+Md
								76SbQPb+5w==
								</data>
								<key>Size</key>
								<integer>438998</integer>
							</dict>
							<key>files/small-109623-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/small-109710-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JfxF8Omi0icK
								xIwohpIZqw==
								</data>
								<key>Size</key>
								<integer>77487</integer>
							</dict>
							<key>files/small-109714-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2NMhf1k+YDl
								uPpd6H1dBw==
								</data>
								<key>Size</key>
								<integer>15019</integer>
							</dict>
							<key>files/small-109735-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D2nm4R7babci
								2M5NjfUDZQ==
								</data>
								<key>Size</key>
								<integer>18925</integer>
							</dict>
							<key>files/small-109736-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgRiuB3NhhIh
								SwZTifI18g==
								</data>
								<key>Size</key>
								<integer>21987</integer>
							</dict>
							<key>files/stacks-image-049024f-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								h6PjK9LIPSc+
								Cnjxz7hbvw==
								</data>
								<key>Size</key>
								<integer>114477</integer>
							</dict>
							<key>files/stacks-image-049024f-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								P2oQ/YpAgKfL
								Id/UGgxkOA==
								</data>
								<key>Size</key>
								<integer>401393</integer>
							</dict>
							<key>files/stacks-image-062a04b-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								FYPMte3zfvp0
								sjgZjhEtvw==
								</data>
								<key>Size</key>
								<integer>91875</integer>
							</dict>
							<key>files/stacks-image-062a04b-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								DV2ocqgWx4OB
								tl+gqtckdQ==
								</data>
								<key>Size</key>
								<integer>320696</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								nc/RlhmvGDDL
								K+SuTjMLPQ==
								</data>
								<key>Size</key>
								<integer>35262</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								tvAomUQyeND0
								vTpTZz/VVg==
								</data>
								<key>Size</key>
								<integer>68367</integer>
							</dict>
							<key>files/stacks-image-1893018-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								vzQdh9rR6sIb
								peNZDaT6dg==
								</data>
								<key>Size</key>
								<integer>51435</integer>
							</dict>
							<key>files/stacks-image-2058ce3-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								8t7EdKLuv2WJ
								bs3AtAimmg==
								</data>
								<key>Size</key>
								<integer>46837</integer>
							</dict>
							<key>files/stacks-image-2a6716e-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MLRBK1jkfpxp
								O0D/2zFmJw==
								</data>
								<key>Size</key>
								<integer>85624</integer>
							</dict>
							<key>files/stacks-image-2db60e9-100x100.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								R24329s2duqF
								xZi540Gd9g==
								</data>
								<key>Size</key>
								<integer>6415</integer>
							</dict>
							<key>files/stacks-image-2db60e9-100x100@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Aoo1avBqLABw
								SXplyiqPxw==
								</data>
								<key>Size</key>
								<integer>7844</integer>
							</dict>
							<key>files/stacks-image-38af08b-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								trqpZSv4cvPN
								XSP3LePL5A==
								</data>
								<key>Size</key>
								<integer>116089</integer>
							</dict>
							<key>files/stacks-image-48ee80b-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZEvLQ4F2nCA9
								6OXF2XntaA==
								</data>
								<key>Size</key>
								<integer>90749</integer>
							</dict>
							<key>files/stacks-image-48ee80b-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								QhNDgLg120um
								1i6N6VJF0A==
								</data>
								<key>Size</key>
								<integer>327640</integer>
							</dict>
							<key>files/stacks-image-4df56e4-296x300.png</key>
							<dict>
								<key>Digest</key>
								<data>
								vkQ41VZMhsFS
								q3+j5F9CzQ==
								</data>
								<key>Size</key>
								<integer>83650</integer>
							</dict>
							<key>files/stacks-image-555e842-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								t4YB+RssWyBX
								/kWq2xh8uw==
								</data>
								<key>Size</key>
								<integer>92035</integer>
							</dict>
							<key>files/stacks-image-6accef7-150x150.png</key>
							<dict>
								<key>Digest</key>
								<data>
								uo/y3jG9Z0t2
								V/YTE+AkjA==
								</data>
								<key>Size</key>
								<integer>20275</integer>
							</dict>
							<key>files/stacks-image-6accef7-150x150@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								yHTpTG6JQ/I2
								vm6fkiea8A==
								</data>
								<key>Size</key>
								<integer>64590</integer>
							</dict>
							<key>files/stacks-image-7ceb613-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Ex45Jo5VZ7u1
								afzAI5dpkA==
								</data>
								<key>Size</key>
								<integer>108527</integer>
							</dict>
							<key>files/stacks-image-7ceb613-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZrdGOfQV+Smc
								Hn+qtGjwMg==
								</data>
								<key>Size</key>
								<integer>381370</integer>
							</dict>
							<key>files/stacks-image-810c5f5-100x100.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								R24329s2duqF
								xZi540Gd9g==
								</data>
								<key>Size</key>
								<integer>6415</integer>
							</dict>
							<key>files/stacks-image-810c5f5-100x100@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Aoo1avBqLABw
								SXplyiqPxw==
								</data>
								<key>Size</key>
								<integer>7844</integer>
							</dict>
							<key>files/stacks-image-9268316-250x303.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Uu42JrJr1s7q
								WUHARbdM6g==
								</data>
								<key>Size</key>
								<integer>99773</integer>
							</dict>
							<key>files/stacks-image-92e3075-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								h6PjK9LIPSc+
								Cnjxz7hbvw==
								</data>
								<key>Size</key>
								<integer>114477</integer>
							</dict>
							<key>files/stacks-image-92e3075-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								P2oQ/YpAgKfL
								Id/UGgxkOA==
								</data>
								<key>Size</key>
								<integer>401393</integer>
							</dict>
							<key>files/stacks-image-9fc72ff-100x100.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								R24329s2duqF
								xZi540Gd9g==
								</data>
								<key>Size</key>
								<integer>6415</integer>
							</dict>
							<key>files/stacks-image-9fc72ff-100x100@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Aoo1avBqLABw
								SXplyiqPxw==
								</data>
								<key>Size</key>
								<integer>7844</integer>
							</dict>
							<key>files/stacks-image-a036329-156x248.png</key>
							<dict>
								<key>Digest</key>
								<data>
								hFvl7cml1pqB
								8GFzWJY1Aw==
								</data>
								<key>Size</key>
								<integer>13343</integer>
							</dict>
							<key>files/stacks-image-a036329-156x248@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								YEvXfgP0KPST
								ttUSuWbGhg==
								</data>
								<key>Size</key>
								<integer>30099</integer>
							</dict>
							<key>files/stacks-image-a3e2147-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								trqpZSv4cvPN
								XSP3LePL5A==
								</data>
								<key>Size</key>
								<integer>116089</integer>
							</dict>
							<key>files/stacks-image-a4d3338-1200x800.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								IIOrzcr6PocD
								5iT9HYpLxg==
								</data>
								<key>Size</key>
								<integer>591318</integer>
							</dict>
							<key>files/stacks-image-a86e0b9-1200x354.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZiAJEt4Lxz3Z
								FMHkn6V/+w==
								</data>
								<key>Size</key>
								<integer>89372</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x261.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ey84D7gUyYuJ
								8EipLdMbAA==
								</data>
								<key>Size</key>
								<integer>99856</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x261@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								RAohqgRclF+A
								lHXgMMz7IA==
								</data>
								<key>Size</key>
								<integer>353262</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x264.png</key>
							<dict>
								<key>Digest</key>
								<data>
								9S3nmz0WpaIb
								pz3TcTiTuw==
								</data>
								<key>Size</key>
								<integer>100790</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x264@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								XEXatOY+R39T
								mTaEHaQRyA==
								</data>
								<key>Size</key>
								<integer>353362</integer>
							</dict>
							<key>files/stacks-image-c381c2a-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								GbZWJIcqb38S
								vKWjOAY0uA==
								</data>
								<key>Size</key>
								<integer>118674</integer>
							</dict>
							<key>files/stacks-image-c381c2a-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								xhFJ2E1oFrFV
								KNEwMhO+KQ==
								</data>
								<key>Size</key>
								<integer>402318</integer>
							</dict>
							<key>files/stacks-image-e5aa8ea-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								jZTtWdnHRy+P
								XLc8TCCuYw==
								</data>
								<key>Size</key>
								<integer>93708</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Hwezk6t72J5g
								2awHy7YAqA==
								</data>
								<key>Size</key>
								<integer>19470</integer>
							</dict>
							<key>files/stacks-image-e9cecfd-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								G6aDxrcMF6CZ
								72kInKnFow==
								</data>
								<key>Size</key>
								<integer>92142</integer>
							</dict>
							<key>files/stacks-image-f0a1e8a-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								t4YB+RssWyBX
								/kWq2xh8uw==
								</data>
								<key>Size</key>
								<integer>92035</integer>
							</dict>
							<key>files/stacks-image-faf7292-250x374.png</key>
							<dict>
								<key>Digest</key>
								<data>
								1NMs0CmasizJ
								M+LmkQtE1Q==
								</data>
								<key>Size</key>
								<integer>97599</integer>
							</dict>
							<key>files/stacks_page_page46.css</key>
							<dict>
								<key>Digest</key>
								<data>
								av/DHZWa4whc
								LhKBi56mAw==
								</data>
								<key>Size</key>
								<integer>191360</integer>
							</dict>
							<key>files/stacks_page_page46.js</key>
							<dict>
								<key>Digest</key>
								<data>
								t+lnfLwvwzd7
								OfNpnYG64A==
								</data>
								<key>Size</key>
								<integer>28031</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								Fvhe77LSTexU
								QnrNlH/uYA==
								</data>
								<key>Size</key>
								<integer>161744</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page46</string>
						<key>SiteRoot</key>
						<string>events/health-and-wellness/details</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
