<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page71</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Science Olympiad</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.6.8</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-08-16T12:32:23Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/backgroundImage_110288.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								qwn87Felf5V6
								j6H350OiZw==
								</data>
								<key>Size</key>
								<integer>15641164</integer>
							</dict>
							<key>files/stacks-image-67d0f14-248x224.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								+HfMeHtXVoEn
								/nGTZRuOPQ==
								</data>
								<key>Size</key>
								<integer>18319</integer>
							</dict>
							<key>files/stacks-image-6fdef3a-398x292.png</key>
							<dict>
								<key>Digest</key>
								<data>
								H6KpkblKsWji
								NCljG2gZXA==
								</data>
								<key>Size</key>
								<integer>34040</integer>
							</dict>
							<key>files/stacks-image-77e58ea-250x374.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								+xmSWNmMkHdI
								mNQC9iDhwQ==
								</data>
								<key>Size</key>
								<integer>26705</integer>
							</dict>
							<key>files/stacks-image-91b2db6.png</key>
							<dict>
								<key>Digest</key>
								<data>
								vXTPBvTWuINU
								JVyLvReYJQ==
								</data>
								<key>Size</key>
								<integer>24996</integer>
							</dict>
							<key>files/stacks-image-a300915.png</key>
							<dict>
								<key>Digest</key>
								<data>
								5Js9JiL8kHNg
								W5qdknK7WQ==
								</data>
								<key>Size</key>
								<integer>58728</integer>
							</dict>
							<key>files/stacks-image-aa89d24-250x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								nBfn4MHXFuiU
								u7PUaO/2Fg==
								</data>
								<key>Size</key>
								<integer>12461</integer>
							</dict>
							<key>files/stacks-image-d3167b3.png</key>
							<dict>
								<key>Digest</key>
								<data>
								UuZBCk1qCNDH
								5LUicfs8VQ==
								</data>
								<key>Size</key>
								<integer>25026</integer>
							</dict>
							<key>files/stacks-image-dbbc630.png</key>
							<dict>
								<key>Digest</key>
								<data>
								2gU38jqhiU04
								rGlJcMOVKQ==
								</data>
								<key>Size</key>
								<integer>26268</integer>
							</dict>
							<key>files/stacks-image-f25a4cf.png</key>
							<dict>
								<key>Digest</key>
								<data>
								fIBskUaIvebA
								Oi2r5f4wuQ==
								</data>
								<key>Size</key>
								<integer>26921</integer>
							</dict>
							<key>files/stacks_page_page71.css</key>
							<dict>
								<key>Digest</key>
								<data>
								KK81nEdMv24y
								syXraUBPhQ==
								</data>
								<key>Size</key>
								<integer>101927</integer>
							</dict>
							<key>files/stacks_page_page71.js</key>
							<dict>
								<key>Digest</key>
								<data>
								n4mpPsfl5Koe
								FI8+cALvxg==
								</data>
								<key>Size</key>
								<integer>20660</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								xk0/vDXuHxme
								eX51qy9fJg==
								</data>
								<key>Size</key>
								<integer>47885</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page71</string>
						<key>SiteRoot</key>
						<string>events/vt-science-olympiad</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
