<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page69</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Partners</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.6.9</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-11-19T15:19:46Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/backgroundImage_109991.png</key>
							<dict>
								<key>Digest</key>
								<data>
								S/+NjCX24Lm/
								r4KlUdrwJg==
								</data>
								<key>Size</key>
								<integer>990133</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								5SEHlmzIRPnE
								h1Zlyu2W+A==
								</data>
								<key>Size</key>
								<integer>35205</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZP2FJ/yve/bb
								UMUDEFQ7OA==
								</data>
								<key>Size</key>
								<integer>68310</integer>
							</dict>
							<key>files/stacks-image-0d315c7-126x150.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								PllHGWmEgSuf
								Jcf4nR2D2Q==
								</data>
								<key>Size</key>
								<integer>10882</integer>
							</dict>
							<key>files/stacks-image-20a9b85-148x112.png</key>
							<dict>
								<key>Digest</key>
								<data>
								DVnB0cqdIVm8
								/X+uEnokyg==
								</data>
								<key>Size</key>
								<integer>21387</integer>
							</dict>
							<key>files/stacks-image-2706f3f.png</key>
							<dict>
								<key>Digest</key>
								<data>
								38DyDEe6U7zk
								+jpdOMXc/w==
								</data>
								<key>Size</key>
								<integer>2858</integer>
							</dict>
							<key>files/stacks-image-288a3eb-148x48.png</key>
							<dict>
								<key>Digest</key>
								<data>
								YJHyuJQsbZA3
								2bAGX9G5jQ==
								</data>
								<key>Size</key>
								<integer>7614</integer>
							</dict>
							<key>files/stacks-image-29f94dd-148x80.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zKKjexyylKtl
								2Ubyc3xfxg==
								</data>
								<key>Size</key>
								<integer>10915</integer>
							</dict>
							<key>files/stacks-image-357371c-150x110.png</key>
							<dict>
								<key>Digest</key>
								<data>
								BQiFCg+s6TNd
								jCceKGISgg==
								</data>
								<key>Size</key>
								<integer>21844</integer>
							</dict>
							<key>files/stacks-image-3e5d1b9-148x84.png</key>
							<dict>
								<key>Digest</key>
								<data>
								nb2mPZL1r3zo
								SNKTWgk/cQ==
								</data>
								<key>Size</key>
								<integer>30536</integer>
							</dict>
							<key>files/stacks-image-42e96b3-150x98.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								T6f9/6zYOveu
								DXktFYw6sw==
								</data>
								<key>Size</key>
								<integer>7871</integer>
							</dict>
							<key>files/stacks-image-4dcf90e-300x122.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Do6jxnbe4HmT
								Oj9pavu0Rw==
								</data>
								<key>Size</key>
								<integer>9101</integer>
							</dict>
							<key>files/stacks-image-54d1767-350x232.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JjrH0amRxRKF
								qcCYa9HS5Q==
								</data>
								<key>Size</key>
								<integer>15942</integer>
							</dict>
							<key>files/stacks-image-5a7224a-150x110.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								XXob0W+Tmhuj
								OrwHWW5G+w==
								</data>
								<key>Size</key>
								<integer>8655</integer>
							</dict>
							<key>files/stacks-image-80fac81-498x492.png</key>
							<dict>
								<key>Digest</key>
								<data>
								rXxxc1ISytHL
								IDH0kjbyCw==
								</data>
								<key>Size</key>
								<integer>44060</integer>
							</dict>
							<key>files/stacks-image-80fac81-498x492@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								OLsQJ8f1pOy/
								FxZW5eR41w==
								</data>
								<key>Size</key>
								<integer>99961</integer>
							</dict>
							<key>files/stacks-image-874cac4-150x70.png</key>
							<dict>
								<key>Digest</key>
								<data>
								hftNatn/MRbI
								YqzeZeLLlg==
								</data>
								<key>Size</key>
								<integer>10514</integer>
							</dict>
							<key>files/stacks-image-890cd48.png</key>
							<dict>
								<key>Digest</key>
								<data>
								bBikOroID56t
								jGPkUM0bGg==
								</data>
								<key>Size</key>
								<integer>3109</integer>
							</dict>
							<key>files/stacks-image-931e159.png</key>
							<dict>
								<key>Digest</key>
								<data>
								wHFdVZAtYDow
								YLyieElOOQ==
								</data>
								<key>Size</key>
								<integer>14603</integer>
							</dict>
							<key>files/stacks-image-ac0a62a-150x98.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								U4zdomIOER8f
								6F3tPKj4OQ==
								</data>
								<key>Size</key>
								<integer>5785</integer>
							</dict>
							<key>files/stacks-image-bde58ff-150x74.png</key>
							<dict>
								<key>Digest</key>
								<data>
								+RzXl3tpj6Kt
								4P+8h7krQQ==
								</data>
								<key>Size</key>
								<integer>25346</integer>
							</dict>
							<key>files/stacks-image-bed233e-150x120.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								vsCOrNfmy6tH
								XaiD0N3HqA==
								</data>
								<key>Size</key>
								<integer>8422</integer>
							</dict>
							<key>files/stacks-image-c6ac214-300x300.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Q/P5Kt6wrGWh
								PKE2mj7uyQ==
								</data>
								<key>Size</key>
								<integer>23574</integer>
							</dict>
							<key>files/stacks-image-de46789-150x78.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								95gPW/Sp8c+0
								PEEgUWp2hg==
								</data>
								<key>Size</key>
								<integer>9740</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								FWLv4iC2Yarl
								ySGORUZ3Iw==
								</data>
								<key>Size</key>
								<integer>19413</integer>
							</dict>
							<key>files/stacks_page_page69.css</key>
							<dict>
								<key>Digest</key>
								<data>
								zL2YnTxL1vIt
								eqeoIaUSlw==
								</data>
								<key>Size</key>
								<integer>136219</integer>
							</dict>
							<key>files/stacks_page_page69.js</key>
							<dict>
								<key>Digest</key>
								<data>
								zs7e1oAHDs5n
								o8mPBatHWA==
								</data>
								<key>Size</key>
								<integer>23922</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								LFOI5jtUGvfG
								lDTitsXEzg==
								</data>
								<key>Size</key>
								<integer>71776</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page69</string>
						<key>SiteRoot</key>
						<string>partner</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>ChildPages</string>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
