<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Speakers</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page77</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>ALife Speakers</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.2.4</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2022-02-24T19:46:39Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/821CB729-4021-48D4-8AB9-7934D828DDCF.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Bh7ZBrBTQFNo
								MwKii2MEPA==
								</data>
								<key>Size</key>
								<integer>772878</integer>
							</dict>
							<key>files/small-109623-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/small-109710-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JfxF8Omi0icK
								xIwohpIZqw==
								</data>
								<key>Size</key>
								<integer>77487</integer>
							</dict>
							<key>files/small-109714-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2NMhf1k+YDl
								uPpd6H1dBw==
								</data>
								<key>Size</key>
								<integer>15019</integer>
							</dict>
							<key>files/small-109735-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D2nm4R7babci
								2M5NjfUDZQ==
								</data>
								<key>Size</key>
								<integer>18925</integer>
							</dict>
							<key>files/small-109736-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgRiuB3NhhIh
								SwZTifI18g==
								</data>
								<key>Size</key>
								<integer>21987</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								nc/RlhmvGDDL
								K+SuTjMLPQ==
								</data>
								<key>Size</key>
								<integer>35262</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								tvAomUQyeND0
								vTpTZz/VVg==
								</data>
								<key>Size</key>
								<integer>68367</integer>
							</dict>
							<key>files/stacks-image-19dca8a-350x450.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								gonGmhe7Zoc9
								EvcD3uJ0ZA==
								</data>
								<key>Size</key>
								<integer>35967</integer>
							</dict>
							<key>files/stacks-image-19dca8a-350x450@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								s/1Qp5QM2Gr6
								KtCzfxe6fQ==
								</data>
								<key>Size</key>
								<integer>61488</integer>
							</dict>
							<key>files/stacks-image-2a4abd8.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								qERUJyBHljSK
								cnvrKT0NlQ==
								</data>
								<key>Size</key>
								<integer>673292</integer>
							</dict>
							<key>files/stacks-image-2f4bb1f-350x450.png</key>
							<dict>
								<key>Digest</key>
								<data>
								qF2i0/nU61wJ
								iotsEFCVfQ==
								</data>
								<key>Size</key>
								<integer>357868</integer>
							</dict>
							<key>files/stacks-image-35e7390-350x450.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								pdUiPqVV9oUH
								PpKzds8e3g==
								</data>
								<key>Size</key>
								<integer>32920</integer>
							</dict>
							<key>files/stacks-image-47ac19a-350x450.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								J+Rcwx5hlqjJ
								xFX6+QXhBg==
								</data>
								<key>Size</key>
								<integer>30112</integer>
							</dict>
							<key>files/stacks-image-4b4af78-350x450.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								gonGmhe7Zoc9
								EvcD3uJ0ZA==
								</data>
								<key>Size</key>
								<integer>35967</integer>
							</dict>
							<key>files/stacks-image-4b4af78-350x450@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								s/1Qp5QM2Gr6
								KtCzfxe6fQ==
								</data>
								<key>Size</key>
								<integer>61488</integer>
							</dict>
							<key>files/stacks-image-53ce784-350x450.png</key>
							<dict>
								<key>Digest</key>
								<data>
								2tiJh2cTmPOn
								XGoJ2U5sSw==
								</data>
								<key>Size</key>
								<integer>252044</integer>
							</dict>
							<key>files/stacks-image-5cba074-350x450.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								pdUiPqVV9oUH
								PpKzds8e3g==
								</data>
								<key>Size</key>
								<integer>32920</integer>
							</dict>
							<key>files/stacks-image-8097662-350x450.png</key>
							<dict>
								<key>Digest</key>
								<data>
								qF2i0/nU61wJ
								iotsEFCVfQ==
								</data>
								<key>Size</key>
								<integer>357868</integer>
							</dict>
							<key>files/stacks-image-9e44611-350x450.png</key>
							<dict>
								<key>Digest</key>
								<data>
								lElMsJOT77XW
								qvldeCsOTQ==
								</data>
								<key>Size</key>
								<integer>316522</integer>
							</dict>
							<key>files/stacks-image-d4c72a8-350x450.png</key>
							<dict>
								<key>Digest</key>
								<data>
								2tiJh2cTmPOn
								XGoJ2U5sSw==
								</data>
								<key>Size</key>
								<integer>252044</integer>
							</dict>
							<key>files/stacks-image-e0f37e6-350x450.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								J+Rcwx5hlqjJ
								xFX6+QXhBg==
								</data>
								<key>Size</key>
								<integer>30112</integer>
							</dict>
							<key>files/stacks-image-e1d92c9.png</key>
							<dict>
								<key>Digest</key>
								<data>
								YRy2S5aoKzt/
								v1ucadp4zA==
								</data>
								<key>Size</key>
								<integer>6879</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Hwezk6t72J5g
								2awHy7YAqA==
								</data>
								<key>Size</key>
								<integer>19470</integer>
							</dict>
							<key>files/stacks-image-eba9e45-350x450.png</key>
							<dict>
								<key>Digest</key>
								<data>
								lElMsJOT77XW
								qvldeCsOTQ==
								</data>
								<key>Size</key>
								<integer>316522</integer>
							</dict>
							<key>files/stacks_page_page77.css</key>
							<dict>
								<key>Digest</key>
								<data>
								IbdtBU+wn6TU
								uDFV5jzL4Q==
								</data>
								<key>Size</key>
								<integer>164332</integer>
							</dict>
							<key>files/stacks_page_page77.js</key>
							<dict>
								<key>Digest</key>
								<data>
								cT5rtRhQ/Ie6
								A9r5RBvxGw==
								</data>
								<key>Size</key>
								<integer>25812</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								UgoUG6Far4cj
								XPWG6Le62A==
								</data>
								<key>Size</key>
								<integer>102312</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page77</string>
						<key>SiteRoot</key>
						<string>events/ALIFE-2020/Speakers</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
