<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>CustomThemeName</key>
				<string>Foundation</string>
				<key>ID</key>
				<string>page34</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Symposium - Health and Wellness</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.0.3</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-11-20T23:13:42Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/backgroundImage_110345.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								syd5ScMzK+Md
								76SbQPb+5w==
								</data>
								<key>Size</key>
								<integer>438998</integer>
							</dict>
							<key>files/small_109872.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Yb+L/heiX6tP
								YliFF2auMA==
								</data>
								<key>Size</key>
								<integer>269913</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/small_p60311_n109710.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JfxF8Omi0icK
								xIwohpIZqw==
								</data>
								<key>Size</key>
								<integer>77487</integer>
							</dict>
							<key>files/small_p60311_n109714.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2NMhf1k+YDl
								uPpd6H1dBw==
								</data>
								<key>Size</key>
								<integer>15019</integer>
							</dict>
							<key>files/small_p60311_n109735.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D2nm4R7babci
								2M5NjfUDZQ==
								</data>
								<key>Size</key>
								<integer>18925</integer>
							</dict>
							<key>files/small_p60311_n109736.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgRiuB3NhhIh
								SwZTifI18g==
								</data>
								<key>Size</key>
								<integer>21987</integer>
							</dict>
							<key>files/stacks-image-049024f-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								7yitkKNNhrSO
								6MlVLCdu1w==
								</data>
								<key>Size</key>
								<integer>114488</integer>
							</dict>
							<key>files/stacks-image-049024f-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								EQ5lJVGHCYjX
								NyDajs/9TQ==
								</data>
								<key>Size</key>
								<integer>401404</integer>
							</dict>
							<key>files/stacks-image-062a04b-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								X2AfQUpDtOAU
								WfwepSy1gg==
								</data>
								<key>Size</key>
								<integer>89991</integer>
							</dict>
							<key>files/stacks-image-062a04b-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								7tU3LRQqgJkg
								A3G+VHtXMQ==
								</data>
								<key>Size</key>
								<integer>326428</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								C82d5dfws9q4
								DDOA2BFu1w==
								</data>
								<key>Size</key>
								<integer>35273</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								v/SijtX2gRco
								SwESRI9B4g==
								</data>
								<key>Size</key>
								<integer>68378</integer>
							</dict>
							<key>files/stacks-image-1893018-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								sKSXmFk4gcig
								yG73IoU/RQ==
								</data>
								<key>Size</key>
								<integer>51446</integer>
							</dict>
							<key>files/stacks-image-2058ce3-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								jus/KggkcjSi
								sBDKnJdidQ==
								</data>
								<key>Size</key>
								<integer>47298</integer>
							</dict>
							<key>files/stacks-image-2a6716e-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								cz+T+RSFxkcZ
								1+/MSZh/4Q==
								</data>
								<key>Size</key>
								<integer>85034</integer>
							</dict>
							<key>files/stacks-image-38af08b-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								98PVWpXDCipo
								aCpS+uABXw==
								</data>
								<key>Size</key>
								<integer>116100</integer>
							</dict>
							<key>files/stacks-image-48ee80b-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								5mPElWICRCKo
								HLa3qjUAXA==
								</data>
								<key>Size</key>
								<integer>90659</integer>
							</dict>
							<key>files/stacks-image-48ee80b-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								s78jzIMpOKCM
								dIK+xqFoCA==
								</data>
								<key>Size</key>
								<integer>336917</integer>
							</dict>
							<key>files/stacks-image-555e842-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								nUeDqetSZhlc
								3bymdA2HSA==
								</data>
								<key>Size</key>
								<integer>91060</integer>
							</dict>
							<key>files/stacks-image-799943b-750x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ahQYMTlovbqj
								Z3aqlAlZbg==
								</data>
								<key>Size</key>
								<integer>29774</integer>
							</dict>
							<key>files/stacks-image-799943b-750x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								bqMGdEWzwoBD
								2Z9+svx/vA==
								</data>
								<key>Size</key>
								<integer>76576</integer>
							</dict>
							<key>files/stacks-image-7ceb613-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								XAEgJrkDVFEZ
								y2UXCFOsNQ==
								</data>
								<key>Size</key>
								<integer>107111</integer>
							</dict>
							<key>files/stacks-image-7ceb613-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								7BsJ6pqDQwaH
								l//PB5Q4CQ==
								</data>
								<key>Size</key>
								<integer>378744</integer>
							</dict>
							<key>files/stacks-image-9268316-250x303.png</key>
							<dict>
								<key>Digest</key>
								<data>
								hliNbLrxx/qZ
								+4DG2r4/rQ==
								</data>
								<key>Size</key>
								<integer>99784</integer>
							</dict>
							<key>files/stacks-image-92e3075-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								7yitkKNNhrSO
								6MlVLCdu1w==
								</data>
								<key>Size</key>
								<integer>114488</integer>
							</dict>
							<key>files/stacks-image-92e3075-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								EQ5lJVGHCYjX
								NyDajs/9TQ==
								</data>
								<key>Size</key>
								<integer>401404</integer>
							</dict>
							<key>files/stacks-image-a036329-156x248.png</key>
							<dict>
								<key>Digest</key>
								<data>
								rAhElq/TThgE
								hrLc8R9Qew==
								</data>
								<key>Size</key>
								<integer>13354</integer>
							</dict>
							<key>files/stacks-image-a036329-156x248@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								NxeX0WYEdoWT
								hUKOqpmGuA==
								</data>
								<key>Size</key>
								<integer>30110</integer>
							</dict>
							<key>files/stacks-image-a3e2147-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								98PVWpXDCipo
								aCpS+uABXw==
								</data>
								<key>Size</key>
								<integer>116100</integer>
							</dict>
							<key>files/stacks-image-a4d3338-1198x798.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								eLHubK6VqBoc
								vEKSABVLvw==
								</data>
								<key>Size</key>
								<integer>545617</integer>
							</dict>
							<key>files/stacks-image-a86e0b9-1200x354.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JXzRLbPHAloI
								r32kiDCFnQ==
								</data>
								<key>Size</key>
								<integer>89383</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x261.png</key>
							<dict>
								<key>Digest</key>
								<data>
								SgQetteyrcAe
								xprM1z/rzw==
								</data>
								<key>Size</key>
								<integer>99867</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x261@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								GgfiosulDrO1
								3W/UxTIMew==
								</data>
								<key>Size</key>
								<integer>353273</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x264.png</key>
							<dict>
								<key>Digest</key>
								<data>
								5bJJuRQE7zIX
								Dqls4GUdww==
								</data>
								<key>Size</key>
								<integer>100801</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x264@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								1kluNN4n+ADt
								fV/zxmSB5A==
								</data>
								<key>Size</key>
								<integer>353373</integer>
							</dict>
							<key>files/stacks-image-c381c2a-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								n7SuQFtRBjpb
								lwnVAAg3JQ==
								</data>
								<key>Size</key>
								<integer>118184</integer>
							</dict>
							<key>files/stacks-image-c381c2a-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								pJKlYPTPe2hw
								cEccYFN40w==
								</data>
								<key>Size</key>
								<integer>397511</integer>
							</dict>
							<key>files/stacks-image-e5aa8ea-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Vg7NRfDMTGBq
								D0C/neco3w==
								</data>
								<key>Size</key>
								<integer>92182</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								IcJyU76V543g
								RUdnIXKzHw==
								</data>
								<key>Size</key>
								<integer>19481</integer>
							</dict>
							<key>files/stacks-image-e9cecfd-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								rJ5yHp+TTzVS
								c+z2MqVTMw==
								</data>
								<key>Size</key>
								<integer>92153</integer>
							</dict>
							<key>files/stacks-image-f0a1e8a-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								nUeDqetSZhlc
								3bymdA2HSA==
								</data>
								<key>Size</key>
								<integer>91060</integer>
							</dict>
							<key>files/stacks_page_page34.css</key>
							<dict>
								<key>Digest</key>
								<data>
								qEkFaH4NnaeI
								44hmdw8qVA==
								</data>
								<key>Size</key>
								<integer>195070</integer>
							</dict>
							<key>files/stacks_page_page34.js</key>
							<dict>
								<key>Digest</key>
								<data>
								+P72IQnSYWlE
								SMhaib0Ikw==
								</data>
								<key>Size</key>
								<integer>26071</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								gimpX+45FfCD
								MlhJyZBB7g==
								</data>
								<key>Size</key>
								<integer>132419</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page34</string>
						<key>SiteRoot</key>
						<string>events/health-and-wellness</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>ChildPages</string>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
