<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page34</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Symposium - Health and Wellness</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.5.8</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2018-03-27T21:39:14Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small_109809.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ICYi4Z+nlMU5
								ZJ5jWAVsyg==
								</data>
								<key>Size</key>
								<integer>170336</integer>
							</dict>
							<key>files/small_109872.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Yb+L/heiX6tP
								YliFF2auMA==
								</data>
								<key>Size</key>
								<integer>269913</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZFHf9zniv4SK
								z9ywIWAR7Q==
								</data>
								<key>Size</key>
								<integer>124861</integer>
							</dict>
							<key>files/small_p60311_n109628.png</key>
							<dict>
								<key>Digest</key>
								<data>
								pcpK3KZBcBVd
								Ns6QdrLpNA==
								</data>
								<key>Size</key>
								<integer>68548</integer>
							</dict>
							<key>files/stacks-image-0487eb1-250x352.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								URRlHX+4bKQ3
								SJT9bOuiPg==
								</data>
								<key>Size</key>
								<integer>17599</integer>
							</dict>
							<key>files/stacks-image-19305a5-250x314.png</key>
							<dict>
								<key>Digest</key>
								<data>
								XIC+xUdHnp0v
								RKd7y72nvg==
								</data>
								<key>Size</key>
								<integer>150542</integer>
							</dict>
							<key>files/stacks-image-19305a5-250x314@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								RX9TCp2mtdLU
								fmNQyCg30Q==
								</data>
								<key>Size</key>
								<integer>521808</integer>
							</dict>
							<key>files/stacks-image-89210a6.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								rrQJea//KHWm
								x4YXVQrhZA==
								</data>
								<key>Size</key>
								<integer>19426</integer>
							</dict>
							<key>files/stacks-image-9e3cec5-98x150.png</key>
							<dict>
								<key>Digest</key>
								<data>
								SdC49IhJ3JHE
								zutzsmftPQ==
								</data>
								<key>Size</key>
								<integer>12547</integer>
							</dict>
							<key>files/stacks-image-abde995-248x372.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								iAt96mct8st1
								/puDpF7lFg==
								</data>
								<key>Size</key>
								<integer>19945</integer>
							</dict>
							<key>files/stacks-image-b91e34b-248x374.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								1Ug85H9RcAb3
								BD5SHznB9w==
								</data>
								<key>Size</key>
								<integer>21856</integer>
							</dict>
							<key>files/stacks-image-d517d1c-250x184.png</key>
							<dict>
								<key>Digest</key>
								<data>
								TMCl+A3rkWPr
								ir2UHlWmNw==
								</data>
								<key>Size</key>
								<integer>114717</integer>
							</dict>
							<key>files/stacks-image-fefd3c8-250x374.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								QklJIomDzSnd
								z+ptHq+DAw==
								</data>
								<key>Size</key>
								<integer>25359</integer>
							</dict>
							<key>files/stacks-image-fefd3c8-250x374@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								oRl78ULufjgA
								PuYETY2kkA==
								</data>
								<key>Size</key>
								<integer>37826</integer>
							</dict>
							<key>files/stacks_page_page34.css</key>
							<dict>
								<key>Digest</key>
								<data>
								0LXKIFFAQ8f/
								IKj4rUlY+A==
								</data>
								<key>Size</key>
								<integer>146289</integer>
							</dict>
							<key>files/stacks_page_page34.js</key>
							<dict>
								<key>Digest</key>
								<data>
								+hnSAfZLI2NG
								BT9VD1AL+w==
								</data>
								<key>Size</key>
								<integer>28346</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								M1ZyeHfQpld4
								rKlqlYpNPA==
								</data>
								<key>Size</key>
								<integer>59816</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page34</string>
						<key>SiteRoot</key>
						<string>events/health-and-wellness</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>ChildPages</string>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
