<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>CustomThemeName</key>
				<string>Foundation</string>
				<key>ID</key>
				<string>page34</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Symposium - Health and Wellness</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.6.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2018-07-10T14:36:27Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/backgroundImage_110345.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								uSoquum6mCty
								uIn2fhh+hw==
								</data>
								<key>Size</key>
								<integer>571092</integer>
							</dict>
							<key>files/small_109872.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Yb+L/heiX6tP
								YliFF2auMA==
								</data>
								<key>Size</key>
								<integer>269913</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZFHf9zniv4SK
								z9ywIWAR7Q==
								</data>
								<key>Size</key>
								<integer>124861</integer>
							</dict>
							<key>files/small_p60311_n109628.png</key>
							<dict>
								<key>Digest</key>
								<data>
								pcpK3KZBcBVd
								Ns6QdrLpNA==
								</data>
								<key>Size</key>
								<integer>68548</integer>
							</dict>
							<key>files/stacks-image-049024f-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								TJTIteeVpu8B
								kDgQSw7Qbg==
								</data>
								<key>Size</key>
								<integer>114465</integer>
							</dict>
							<key>files/stacks-image-049024f-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								7P1z1BEnSg7o
								iWPhqpOwrA==
								</data>
								<key>Size</key>
								<integer>402227</integer>
							</dict>
							<key>files/stacks-image-062a04b-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								y3uCJVawbAUG
								hvVb5xJ/+g==
								</data>
								<key>Size</key>
								<integer>89858</integer>
							</dict>
							<key>files/stacks-image-062a04b-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								nnoTGeJyU3DY
								/NpzP0H9+w==
								</data>
								<key>Size</key>
								<integer>329408</integer>
							</dict>
							<key>files/stacks-image-2058ce3-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								5/DnWfUoMOzK
								8gE/OSSR4g==
								</data>
								<key>Size</key>
								<integer>47248</integer>
							</dict>
							<key>files/stacks-image-48ee80b-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								t4zMg+i7qJ90
								XBx6uNzwKw==
								</data>
								<key>Size</key>
								<integer>90786</integer>
							</dict>
							<key>files/stacks-image-48ee80b-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								PtAxOimLl9Lo
								lMvCRh8y6Q==
								</data>
								<key>Size</key>
								<integer>338276</integer>
							</dict>
							<key>files/stacks-image-555e842-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								FKOUMiwFTxo4
								ULh95Iwdiw==
								</data>
								<key>Size</key>
								<integer>90967</integer>
							</dict>
							<key>files/stacks-image-678f5ae-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								HgL7rxRYpTRx
								LQ70BB3uaw==
								</data>
								<key>Size</key>
								<integer>81050</integer>
							</dict>
							<key>files/stacks-image-799943b-750x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								un1KgQkbBTws
								YqjTahZY1A==
								</data>
								<key>Size</key>
								<integer>29468</integer>
							</dict>
							<key>files/stacks-image-799943b-750x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								rWdrgcEIQh+F
								Cii5oxAItw==
								</data>
								<key>Size</key>
								<integer>76062</integer>
							</dict>
							<key>files/stacks-image-7ceb613-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								nRvrXeYGj4no
								rrMDLqCP1A==
								</data>
								<key>Size</key>
								<integer>107536</integer>
							</dict>
							<key>files/stacks-image-7ceb613-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								KWIcBUtHwjvJ
								Ze24pI995A==
								</data>
								<key>Size</key>
								<integer>380062</integer>
							</dict>
							<key>files/stacks-image-a3e2147-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								GyXo75SWuN6C
								35TW9swtZQ==
								</data>
								<key>Size</key>
								<integer>115786</integer>
							</dict>
							<key>files/stacks-image-a4d3338-1198x798.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								3YW7fsJffz3y
								xSIicOAdcA==
								</data>
								<key>Size</key>
								<integer>553274</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x261.png</key>
							<dict>
								<key>Digest</key>
								<data>
								k+Uo+zE3itOO
								CHBXkFtOFw==
								</data>
								<key>Size</key>
								<integer>100229</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x261@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								/1jem4WrVx26
								xtJNIaY4lw==
								</data>
								<key>Size</key>
								<integer>354251</integer>
							</dict>
							<key>files/stacks-image-c381c2a-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								bv5OwqKC+5w5
								53U8zR+YXQ==
								</data>
								<key>Size</key>
								<integer>118399</integer>
							</dict>
							<key>files/stacks-image-c381c2a-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								M1QVEW3lxLlU
								yVZnMfW90Q==
								</data>
								<key>Size</key>
								<integer>398709</integer>
							</dict>
							<key>files/stacks-image-e5aa8ea-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								2p2P/KNkglOV
								GKG9dXELYA==
								</data>
								<key>Size</key>
								<integer>91673</integer>
							</dict>
							<key>files/stacks-image-e9cecfd-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								3AhObzr2/ZGz
								O3RZyyk5+A==
								</data>
								<key>Size</key>
								<integer>92073</integer>
							</dict>
							<key>files/stacks_page_page34.css</key>
							<dict>
								<key>Digest</key>
								<data>
								2JpntATUFUM5
								p5wGXDK8ig==
								</data>
								<key>Size</key>
								<integer>125676</integer>
							</dict>
							<key>files/stacks_page_page34.js</key>
							<dict>
								<key>Digest</key>
								<data>
								Z/V2CL41cBCn
								cCaLg21+DQ==
								</data>
								<key>Size</key>
								<integer>24349</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								EdKkGdVIaZsw
								f7PX3dSjJw==
								</data>
								<key>Size</key>
								<integer>66698</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page34</string>
						<key>SiteRoot</key>
						<string>events/health-and-wellness</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>ChildPages</string>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
