<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Proceedings</string>
				<key>CreatedDate</key>
				<date>2020-05-20T16:58:25Z</date>
				<key>ID</key>
				<string>page99</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Archives</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.2.4</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2022-08-03T10:51:03Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/DCE79F28-EA60-4789-B85B-36524B50F75A.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								IEzethOiNZT/
								CMFJwRU2Vg==
								</data>
								<key>Size</key>
								<integer>1269226</integer>
							</dict>
							<key>files/stacks-image-0d616da-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								4KeuHeUmHn6l
								N4pO+1nw7w==
								</data>
								<key>Size</key>
								<integer>22009</integer>
							</dict>
							<key>files/stacks-image-0d616da-200x200@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								WCFVZRPSadJ2
								XQcjv2mhZQ==
								</data>
								<key>Size</key>
								<integer>62704</integer>
							</dict>
							<key>files/stacks-image-2045aff-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zijKFJQLSQTX
								K1stNNJ8PA==
								</data>
								<key>Size</key>
								<integer>23480</integer>
							</dict>
							<key>files/stacks-image-2045aff-200x200@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								geT0IAJplLE9
								gASDTaqI2A==
								</data>
								<key>Size</key>
								<integer>71548</integer>
							</dict>
							<key>files/stacks-image-5797a7f-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								lPIlmXAeWr3C
								7Ss/IZKW/Q==
								</data>
								<key>Size</key>
								<integer>28226</integer>
							</dict>
							<key>files/stacks-image-5797a7f-200x200@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								wFacs30zg8fJ
								bJN5+Z7B1w==
								</data>
								<key>Size</key>
								<integer>81816</integer>
							</dict>
							<key>files/stacks-image-6e1f498-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								byKzS/MiDYFz
								Bk0GGfk0HA==
								</data>
								<key>Size</key>
								<integer>50277</integer>
							</dict>
							<key>files/stacks-image-6e1f498-200x200@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								eMKr6etDkZAl
								znWqLz0ekg==
								</data>
								<key>Size</key>
								<integer>148087</integer>
							</dict>
							<key>files/stacks-image-76ed3fc-1200x398.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								mMvxlr+JuzHT
								zLmSWco7Nw==
								</data>
								<key>Size</key>
								<integer>144886</integer>
							</dict>
							<key>files/stacks-image-79e99ab-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								0zA3ag1NTTPq
								xDAKIDBnnQ==
								</data>
								<key>Size</key>
								<integer>23931</integer>
							</dict>
							<key>files/stacks-image-79e99ab-200x200@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								IyCSKdWEffiv
								taJtnd/RNg==
								</data>
								<key>Size</key>
								<integer>73076</integer>
							</dict>
							<key>files/stacks-image-8b26cc2-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								KAvRuhtiQGY+
								2L4BuDxDag==
								</data>
								<key>Size</key>
								<integer>23163</integer>
							</dict>
							<key>files/stacks-image-8b26cc2-200x200@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ENp/s2dnRLGR
								Jx9Ao4hngw==
								</data>
								<key>Size</key>
								<integer>70520</integer>
							</dict>
							<key>files/stacks-image-95da015-150x96.png</key>
							<dict>
								<key>Digest</key>
								<data>
								/6A7aLluGcKF
								rpkbKRFpeA==
								</data>
								<key>Size</key>
								<integer>15557</integer>
							</dict>
							<key>files/stacks-image-9e74983-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								R/6VDpsPTGNQ
								9TEBRYU76A==
								</data>
								<key>Size</key>
								<integer>19453</integer>
							</dict>
							<key>files/stacks-image-9e74983-200x200@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								EpZ/HwxTvcOU
								UZet7S190w==
								</data>
								<key>Size</key>
								<integer>59264</integer>
							</dict>
							<key>files/stacks-image-c0287c5-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JtzOptC8en/Q
								bRZOoklweA==
								</data>
								<key>Size</key>
								<integer>26495</integer>
							</dict>
							<key>files/stacks-image-c0287c5-200x200@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								/lw/dmPQ5m3k
								46eyRk6n4A==
								</data>
								<key>Size</key>
								<integer>74941</integer>
							</dict>
							<key>files/stacks-image-c4903d5-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								XYJg/XmvjtIy
								ED+yr9zd7w==
								</data>
								<key>Size</key>
								<integer>23272</integer>
							</dict>
							<key>files/stacks-image-c4903d5-200x200@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								tsFTBuPr4kqx
								bEQMKVVr9g==
								</data>
								<key>Size</key>
								<integer>71008</integer>
							</dict>
							<key>files/stacks-image-f033414-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								mB1b1ybj4xT4
								jHGPClOsOA==
								</data>
								<key>Size</key>
								<integer>32594</integer>
							</dict>
							<key>files/stacks-image-f033414-200x200@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Sku48XsnyQr6
								X6vXa+yO6g==
								</data>
								<key>Size</key>
								<integer>93913</integer>
							</dict>
							<key>files/stacks-image-f219963-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								qD+vrHmB7Z5m
								h3CnYCD4PA==
								</data>
								<key>Size</key>
								<integer>26096</integer>
							</dict>
							<key>files/stacks-image-f219963-200x200@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ONiQIeGFssn+
								hV4IeqvNOw==
								</data>
								<key>Size</key>
								<integer>79862</integer>
							</dict>
							<key>files/stacks-image-fb91eba-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zqXwg0hWcuHm
								+RRNMugs3Q==
								</data>
								<key>Size</key>
								<integer>30019</integer>
							</dict>
							<key>files/stacks-image-fb91eba-200x200@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								R1ouYT+IXUZQ
								YBLvpcNi2g==
								</data>
								<key>Size</key>
								<integer>88015</integer>
							</dict>
							<key>files/stacks-image-fecc660-98x150.png</key>
							<dict>
								<key>Digest</key>
								<data>
								E6W+CR/NnDIi
								zIS/T/XN4g==
								</data>
								<key>Size</key>
								<integer>12653</integer>
							</dict>
							<key>files/stacks_page_page99.css</key>
							<dict>
								<key>Digest</key>
								<data>
								cDF94ZXVbdol
								6qTdZx/x+g==
								</data>
								<key>Size</key>
								<integer>134949</integer>
							</dict>
							<key>files/stacks_page_page99.js</key>
							<dict>
								<key>Digest</key>
								<data>
								rI1w9yn93Mu/
								s69H/OinEw==
								</data>
								<key>Size</key>
								<integer>22386</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								8jG+KoZ+Z5Xm
								rA6QYCawaQ==
								</data>
								<key>Size</key>
								<integer>82844</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page99</string>
						<key>SiteRoot</key>
						<string>events/cnww/CNWW-Virtual/Proceedings</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
