<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>ALIFE 2020</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>CustomThemeName</key>
				<string>Foundation</string>
				<key>ID</key>
				<string>page64</string>
				<key>PageTitle</key>
				<string>ALIFE 2020</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.0.3</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-11-22T19:29:08Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/backgroundImage_114352.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Emo4e0JCXjn6
								rDTN/YC8lg==
								</data>
								<key>Size</key>
								<integer>2493452</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/small_p60311_n109710.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JfxF8Omi0icK
								xIwohpIZqw==
								</data>
								<key>Size</key>
								<integer>77487</integer>
							</dict>
							<key>files/small_p60311_n109714.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2NMhf1k+YDl
								uPpd6H1dBw==
								</data>
								<key>Size</key>
								<integer>15019</integer>
							</dict>
							<key>files/small_p60311_n109735.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D2nm4R7babci
								2M5NjfUDZQ==
								</data>
								<key>Size</key>
								<integer>18925</integer>
							</dict>
							<key>files/small_p60311_n109736.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgRiuB3NhhIh
								SwZTifI18g==
								</data>
								<key>Size</key>
								<integer>21987</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								C82d5dfws9q4
								DDOA2BFu1w==
								</data>
								<key>Size</key>
								<integer>35273</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								v/SijtX2gRco
								SwESRI9B4g==
								</data>
								<key>Size</key>
								<integer>68378</integer>
							</dict>
							<key>files/stacks-image-19dca8a-350x450.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								P8tV4jQfCCzA
								TfAh4lNIsw==
								</data>
								<key>Size</key>
								<integer>35983</integer>
							</dict>
							<key>files/stacks-image-19dca8a-350x450@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								5BdesvlayYZG
								prgxQfHz2g==
								</data>
								<key>Size</key>
								<integer>61504</integer>
							</dict>
							<key>files/stacks-image-19f190a.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								KrBVbIAWst1k
								DnJHa18ADA==
								</data>
								<key>Size</key>
								<integer>39542</integer>
							</dict>
							<key>files/stacks-image-1eb6b30.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								OUbC3/O+Hzkh
								wcGqgjSFYQ==
								</data>
								<key>Size</key>
								<integer>6660</integer>
							</dict>
							<key>files/stacks-image-28ec906-332x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								q8MeK0zynaYB
								QnEg4xgJlg==
								</data>
								<key>Size</key>
								<integer>43537</integer>
							</dict>
							<key>files/stacks-image-2dbbe83.png</key>
							<dict>
								<key>Digest</key>
								<data>
								YRy2S5aoKzt/
								v1ucadp4zA==
								</data>
								<key>Size</key>
								<integer>6879</integer>
							</dict>
							<key>files/stacks-image-35e7390-250x300.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								FCuUoisN4dGd
								KKOkwfNccw==
								</data>
								<key>Size</key>
								<integer>20892</integer>
							</dict>
							<key>files/stacks-image-45b2809.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								bmw3QAtIF5ps
								bZ1zJ/iVtQ==
								</data>
								<key>Size</key>
								<integer>12897</integer>
							</dict>
							<key>files/stacks-image-485f523.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								8jpSLF89IUPH
								+2TIALk1ZQ==
								</data>
								<key>Size</key>
								<integer>76975</integer>
							</dict>
							<key>files/stacks-image-4b4af78-350x450.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								P8tV4jQfCCzA
								TfAh4lNIsw==
								</data>
								<key>Size</key>
								<integer>35983</integer>
							</dict>
							<key>files/stacks-image-4b4af78-350x450@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								5BdesvlayYZG
								prgxQfHz2g==
								</data>
								<key>Size</key>
								<integer>61504</integer>
							</dict>
							<key>files/stacks-image-522d24f-498x280.png</key>
							<dict>
								<key>Digest</key>
								<data>
								lUgKz65D5tU+
								WFGLEsJ+ZQ==
								</data>
								<key>Size</key>
								<integer>301971</integer>
							</dict>
							<key>files/stacks-image-522d24f-498x280@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								fO1Wt+xhEm8z
								uZIE3AsDag==
								</data>
								<key>Size</key>
								<integer>1031893</integer>
							</dict>
							<key>files/stacks-image-53ce784-350x450.png</key>
							<dict>
								<key>Digest</key>
								<data>
								xKwLe++Te1sA
								xW2drXccKA==
								</data>
								<key>Size</key>
								<integer>252055</integer>
							</dict>
							<key>files/stacks-image-5cba074-350x450.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								nfVrOcfXb9t6
								S6FXG4zdVQ==
								</data>
								<key>Size</key>
								<integer>32936</integer>
							</dict>
							<key>files/stacks-image-60981b4.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								vqxxAEMk+ctF
								chGdP/9ZsQ==
								</data>
								<key>Size</key>
								<integer>58637</integer>
							</dict>
							<key>files/stacks-image-63bfdf1-898x1200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								JzGDCTr3VpQ9
								ZXa76S/QnA==
								</data>
								<key>Size</key>
								<integer>379215</integer>
							</dict>
							<key>files/stacks-image-63bfdf1-898x1200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9Q9bA8/nbmZM
								L3BvVZFtbw==
								</data>
								<key>Size</key>
								<integer>623013</integer>
							</dict>
							<key>files/stacks-image-67b56a5.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								YOCeqXp58f6C
								y3kw4GxquA==
								</data>
								<key>Size</key>
								<integer>123649</integer>
							</dict>
							<key>files/stacks-image-6c2cdff-498x498.png</key>
							<dict>
								<key>Digest</key>
								<data>
								qf9xvRNuZZ9j
								Nvg+IDtY8Q==
								</data>
								<key>Size</key>
								<integer>418278</integer>
							</dict>
							<key>files/stacks-image-6c2cdff-498x498@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								TybxTpA+Kdfc
								FVo9zHxbuQ==
								</data>
								<key>Size</key>
								<integer>1685445</integer>
							</dict>
							<key>files/stacks-image-786426a.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								YYI7GCtOSDb+
								rmmCqgclVA==
								</data>
								<key>Size</key>
								<integer>30509</integer>
							</dict>
							<key>files/stacks-image-8147c3d-350x450.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								jVLyVbV2AfEk
								QMiZi0MQBw==
								</data>
								<key>Size</key>
								<integer>31630</integer>
							</dict>
							<key>files/stacks-image-9e44611-350x450.png</key>
							<dict>
								<key>Digest</key>
								<data>
								4REYtxEkrr/S
								TkpNxjbtKw==
								</data>
								<key>Size</key>
								<integer>316533</integer>
							</dict>
							<key>files/stacks-image-b246ee9-332x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								+f6Ey65eQu7C
								O+4C54/d3w==
								</data>
								<key>Size</key>
								<integer>41532</integer>
							</dict>
							<key>files/stacks-image-cd0a404.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Nb2TZEoroRSC
								Y+xT2IHd1Q==
								</data>
								<key>Size</key>
								<integer>27178</integer>
							</dict>
							<key>files/stacks-image-d4c72a8-350x450.png</key>
							<dict>
								<key>Digest</key>
								<data>
								xKwLe++Te1sA
								xW2drXccKA==
								</data>
								<key>Size</key>
								<integer>252055</integer>
							</dict>
							<key>files/stacks-image-d77b357.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								dumsJ8F1KD44
								fbbi7lrPSQ==
								</data>
								<key>Size</key>
								<integer>140458</integer>
							</dict>
							<key>files/stacks-image-d885e70-500x478.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ST2D0jK/x/75
								StHzUsfIHg==
								</data>
								<key>Size</key>
								<integer>63507</integer>
							</dict>
							<key>files/stacks-image-dba79ff.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								CXPAaLfpWqSB
								wSWTx//1ig==
								</data>
								<key>Size</key>
								<integer>19539</integer>
							</dict>
							<key>files/stacks-image-e391cfd-650x188.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								fIVhURqrHBXl
								HA6uwnKrpg==
								</data>
								<key>Size</key>
								<integer>50556</integer>
							</dict>
							<key>files/stacks-image-e4f96a0-392x498.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								cpfpiz1dyvUr
								9uwShH6lgg==
								</data>
								<key>Size</key>
								<integer>50499</integer>
							</dict>
							<key>files/stacks-image-e4f96a0-392x498@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Rl4nhkyyV/xa
								Nv+fDH6puQ==
								</data>
								<key>Size</key>
								<integer>90896</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								IcJyU76V543g
								RUdnIXKzHw==
								</data>
								<key>Size</key>
								<integer>19481</integer>
							</dict>
							<key>files/stacks-image-eba9e45-250x300.png</key>
							<dict>
								<key>Digest</key>
								<data>
								RZDCjo4/a+OU
								603g3ATArA==
								</data>
								<key>Size</key>
								<integer>157448</integer>
							</dict>
							<key>files/stacks-image-fb79e8e-250x300.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								/XTCWs3DSysP
								aR9PvCSL7g==
								</data>
								<key>Size</key>
								<integer>18511</integer>
							</dict>
							<key>files/stacks-image-fec4b4d-898x1200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								JzGDCTr3VpQ9
								ZXa76S/QnA==
								</data>
								<key>Size</key>
								<integer>379215</integer>
							</dict>
							<key>files/stacks-image-fec4b4d-898x1200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9Q9bA8/nbmZM
								L3BvVZFtbw==
								</data>
								<key>Size</key>
								<integer>623013</integer>
							</dict>
							<key>files/stacks-image-ffaa771.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								QFxKm0wCrQNC
								RR4aV0AnrA==
								</data>
								<key>Size</key>
								<integer>12191</integer>
							</dict>
							<key>files/stacks.css</key>
							<dict>
								<key>Digest</key>
								<data>
								wgmIAuepvJFg
								INqwDCfPXQ==
								</data>
								<key>Size</key>
								<integer>1879</integer>
							</dict>
							<key>files/stacks_page_page64.css</key>
							<dict>
								<key>Digest</key>
								<data>
								ChdNEEcYSOAu
								QnljeP+dXA==
								</data>
								<key>Size</key>
								<integer>404642</integer>
							</dict>
							<key>files/stacks_page_page64.js</key>
							<dict>
								<key>Digest</key>
								<data>
								UCqp8+w8hNI+
								Z+aLbscA4g==
								</data>
								<key>Size</key>
								<integer>32699</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								6x6vZVGHnyCI
								Pqh7NIsiTw==
								</data>
								<key>Size</key>
								<integer>313160</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page64</string>
						<key>SiteRoot</key>
						<string>events/ALIFE-2020</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>ChildPages</string>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
