<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>ALIFE 2020</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page64</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>ALIFE 2020</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.6.9</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-11-16T17:36:23Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/backgroundImage_114352.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Emo4e0JCXjn6
								rDTN/YC8lg==
								</data>
								<key>Size</key>
								<integer>2493452</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								5SEHlmzIRPnE
								h1Zlyu2W+A==
								</data>
								<key>Size</key>
								<integer>35205</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZP2FJ/yve/bb
								UMUDEFQ7OA==
								</data>
								<key>Size</key>
								<integer>68310</integer>
							</dict>
							<key>files/stacks-image-19dca8a-350x450.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								P8tV4jQfCCzA
								TfAh4lNIsw==
								</data>
								<key>Size</key>
								<integer>35983</integer>
							</dict>
							<key>files/stacks-image-19dca8a-350x450@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								5BdesvlayYZG
								prgxQfHz2g==
								</data>
								<key>Size</key>
								<integer>61504</integer>
							</dict>
							<key>files/stacks-image-19f190a.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								KrBVbIAWst1k
								DnJHa18ADA==
								</data>
								<key>Size</key>
								<integer>39542</integer>
							</dict>
							<key>files/stacks-image-1eb6b30.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								OUbC3/O+Hzkh
								wcGqgjSFYQ==
								</data>
								<key>Size</key>
								<integer>6660</integer>
							</dict>
							<key>files/stacks-image-28ec906-332x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								q8MeK0zynaYB
								QnEg4xgJlg==
								</data>
								<key>Size</key>
								<integer>43537</integer>
							</dict>
							<key>files/stacks-image-2dbbe83.png</key>
							<dict>
								<key>Digest</key>
								<data>
								YRy2S5aoKzt/
								v1ucadp4zA==
								</data>
								<key>Size</key>
								<integer>6879</integer>
							</dict>
							<key>files/stacks-image-35e7390-250x300.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								FCuUoisN4dGd
								KKOkwfNccw==
								</data>
								<key>Size</key>
								<integer>20892</integer>
							</dict>
							<key>files/stacks-image-45b2809.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								bmw3QAtIF5ps
								bZ1zJ/iVtQ==
								</data>
								<key>Size</key>
								<integer>12897</integer>
							</dict>
							<key>files/stacks-image-485f523.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								8jpSLF89IUPH
								+2TIALk1ZQ==
								</data>
								<key>Size</key>
								<integer>76975</integer>
							</dict>
							<key>files/stacks-image-4b4af78-350x450.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								P8tV4jQfCCzA
								TfAh4lNIsw==
								</data>
								<key>Size</key>
								<integer>35983</integer>
							</dict>
							<key>files/stacks-image-4b4af78-350x450@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								5BdesvlayYZG
								prgxQfHz2g==
								</data>
								<key>Size</key>
								<integer>61504</integer>
							</dict>
							<key>files/stacks-image-522d24f-498x280.png</key>
							<dict>
								<key>Digest</key>
								<data>
								OBUqSH2iVPrd
								a22q5m3n3Q==
								</data>
								<key>Size</key>
								<integer>301903</integer>
							</dict>
							<key>files/stacks-image-522d24f-498x280@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zmKJXH/4oFlA
								HQK8IcMggA==
								</data>
								<key>Size</key>
								<integer>1031825</integer>
							</dict>
							<key>files/stacks-image-53ce784-350x450.png</key>
							<dict>
								<key>Digest</key>
								<data>
								xVNAudMUjLd/
								gD5Vs846yg==
								</data>
								<key>Size</key>
								<integer>251987</integer>
							</dict>
							<key>files/stacks-image-5cba074-350x450.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								nfVrOcfXb9t6
								S6FXG4zdVQ==
								</data>
								<key>Size</key>
								<integer>32936</integer>
							</dict>
							<key>files/stacks-image-60981b4.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								vqxxAEMk+ctF
								chGdP/9ZsQ==
								</data>
								<key>Size</key>
								<integer>58637</integer>
							</dict>
							<key>files/stacks-image-63bfdf1-898x1200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								JzGDCTr3VpQ9
								ZXa76S/QnA==
								</data>
								<key>Size</key>
								<integer>379215</integer>
							</dict>
							<key>files/stacks-image-63bfdf1-898x1200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9Q9bA8/nbmZM
								L3BvVZFtbw==
								</data>
								<key>Size</key>
								<integer>623013</integer>
							</dict>
							<key>files/stacks-image-67b56a5.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								YOCeqXp58f6C
								y3kw4GxquA==
								</data>
								<key>Size</key>
								<integer>123649</integer>
							</dict>
							<key>files/stacks-image-6c2cdff-498x498.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Apm0YX/gnbI3
								zp4eGQJLSg==
								</data>
								<key>Size</key>
								<integer>449741</integer>
							</dict>
							<key>files/stacks-image-6c2cdff-498x498@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								W2VvDVxI1WSB
								A5Oq08LL9A==
								</data>
								<key>Size</key>
								<integer>1688404</integer>
							</dict>
							<key>files/stacks-image-786426a.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								YYI7GCtOSDb+
								rmmCqgclVA==
								</data>
								<key>Size</key>
								<integer>30509</integer>
							</dict>
							<key>files/stacks-image-8147c3d-350x450.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								tVrOw/CjJh8g
								j0WlTpZ1Ug==
								</data>
								<key>Size</key>
								<integer>32261</integer>
							</dict>
							<key>files/stacks-image-9e44611-350x450.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JGC2WU8piQgU
								KN/ZjQqj9g==
								</data>
								<key>Size</key>
								<integer>316465</integer>
							</dict>
							<key>files/stacks-image-b246ee9-332x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								+f6Ey65eQu7C
								O+4C54/d3w==
								</data>
								<key>Size</key>
								<integer>41532</integer>
							</dict>
							<key>files/stacks-image-cd0a404.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Nb2TZEoroRSC
								Y+xT2IHd1Q==
								</data>
								<key>Size</key>
								<integer>27178</integer>
							</dict>
							<key>files/stacks-image-d4c72a8-350x450.png</key>
							<dict>
								<key>Digest</key>
								<data>
								xVNAudMUjLd/
								gD5Vs846yg==
								</data>
								<key>Size</key>
								<integer>251987</integer>
							</dict>
							<key>files/stacks-image-d77b357.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								dumsJ8F1KD44
								fbbi7lrPSQ==
								</data>
								<key>Size</key>
								<integer>140458</integer>
							</dict>
							<key>files/stacks-image-d885e70-500x478.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ST2D0jK/x/75
								StHzUsfIHg==
								</data>
								<key>Size</key>
								<integer>63507</integer>
							</dict>
							<key>files/stacks-image-dba79ff.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								CXPAaLfpWqSB
								wSWTx//1ig==
								</data>
								<key>Size</key>
								<integer>19539</integer>
							</dict>
							<key>files/stacks-image-e391cfd-650x188.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								fIVhURqrHBXl
								HA6uwnKrpg==
								</data>
								<key>Size</key>
								<integer>50556</integer>
							</dict>
							<key>files/stacks-image-e4f96a0-392x498.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ODHNFT6rHtP2
								ZHfus5nKhQ==
								</data>
								<key>Size</key>
								<integer>49582</integer>
							</dict>
							<key>files/stacks-image-e4f96a0-392x498@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								d8B6WPlVX3kL
								531MC8xEtw==
								</data>
								<key>Size</key>
								<integer>90787</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								FWLv4iC2Yarl
								ySGORUZ3Iw==
								</data>
								<key>Size</key>
								<integer>19413</integer>
							</dict>
							<key>files/stacks-image-eba9e45-250x300.png</key>
							<dict>
								<key>Digest</key>
								<data>
								s9IbXmbxGAAa
								sV4ySA3+lg==
								</data>
								<key>Size</key>
								<integer>157380</integer>
							</dict>
							<key>files/stacks-image-fb79e8e-250x300.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								M3y6NxlV4L0D
								b20EIfG7Hw==
								</data>
								<key>Size</key>
								<integer>18900</integer>
							</dict>
							<key>files/stacks-image-fec4b4d-898x1200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								JzGDCTr3VpQ9
								ZXa76S/QnA==
								</data>
								<key>Size</key>
								<integer>379215</integer>
							</dict>
							<key>files/stacks-image-fec4b4d-898x1200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9Q9bA8/nbmZM
								L3BvVZFtbw==
								</data>
								<key>Size</key>
								<integer>623013</integer>
							</dict>
							<key>files/stacks-image-ffaa771.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								QFxKm0wCrQNC
								RR4aV0AnrA==
								</data>
								<key>Size</key>
								<integer>12191</integer>
							</dict>
							<key>files/stacks_page_page64.css</key>
							<dict>
								<key>Digest</key>
								<data>
								EDa8jaYrnq/n
								Bs3zcjOgbQ==
								</data>
								<key>Size</key>
								<integer>257690</integer>
							</dict>
							<key>files/stacks_page_page64.js</key>
							<dict>
								<key>Digest</key>
								<data>
								v3vftXjub4Ev
								5eA06PYsNQ==
								</data>
								<key>Size</key>
								<integer>28328</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								mwpwi+gmtFsb
								Be+xbv/qjQ==
								</data>
								<key>Size</key>
								<integer>177418</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page64</string>
						<key>SiteRoot</key>
						<string>events/ALIFE-2020</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>ChildPages</string>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
