<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>External Faculty</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page94</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>External Faculty </string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.1.4</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2021-02-12T21:10:35Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small-109623-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/small-109710-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JfxF8Omi0icK
								xIwohpIZqw==
								</data>
								<key>Size</key>
								<integer>77487</integer>
							</dict>
							<key>files/small-109714-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2NMhf1k+YDl
								uPpd6H1dBw==
								</data>
								<key>Size</key>
								<integer>15019</integer>
							</dict>
							<key>files/small-109735-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D2nm4R7babci
								2M5NjfUDZQ==
								</data>
								<key>Size</key>
								<integer>18925</integer>
							</dict>
							<key>files/small-109736-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgRiuB3NhhIh
								SwZTifI18g==
								</data>
								<key>Size</key>
								<integer>21987</integer>
							</dict>
							<key>files/stacks-image-000b83c-300x262.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								hiB1wWXaGPcB
								mNahdjlY1g==
								</data>
								<key>Size</key>
								<integer>17180</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								C82d5dfws9q4
								DDOA2BFu1w==
								</data>
								<key>Size</key>
								<integer>35273</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								v/SijtX2gRco
								SwESRI9B4g==
								</data>
								<key>Size</key>
								<integer>68378</integer>
							</dict>
							<key>files/stacks-image-0f943fb-300x350.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								DRnZRSJgYOFG
								u/Rw7l/93Q==
								</data>
								<key>Size</key>
								<integer>20078</integer>
							</dict>
							<key>files/stacks-image-28a6ff3-300x300.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								F6nqZ1KuGO8p
								gu4fJSJUCg==
								</data>
								<key>Size</key>
								<integer>17668</integer>
							</dict>
							<key>files/stacks-image-2c86e5c-300x350.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								XYDxHLkPuHxK
								+vCdTKNq3w==
								</data>
								<key>Size</key>
								<integer>26979</integer>
							</dict>
							<key>files/stacks-image-2c86e5c-300x350@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								+Vc7DubAhGfx
								JbTUvDs3Cw==
								</data>
								<key>Size</key>
								<integer>43454</integer>
							</dict>
							<key>files/stacks-image-3132463-300x300.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								QriXLAHIZxG2
								vcdbdJQQAg==
								</data>
								<key>Size</key>
								<integer>15671</integer>
							</dict>
							<key>files/stacks-image-3f16e60-300x298.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								A8FH5/DNB4Jm
								YJ47QMFHlQ==
								</data>
								<key>Size</key>
								<integer>22581</integer>
							</dict>
							<key>files/stacks-image-3f16e60-300x298@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								XSb4K+N4a9ja
								B3ITTuvFWw==
								</data>
								<key>Size</key>
								<integer>36272</integer>
							</dict>
							<key>files/stacks-image-4a1594e.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								vqxxAEMk+ctF
								chGdP/9ZsQ==
								</data>
								<key>Size</key>
								<integer>58637</integer>
							</dict>
							<key>files/stacks-image-5518809-300x256.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								VOHfmkZaWtzN
								VBwZhUyKNw==
								</data>
								<key>Size</key>
								<integer>30908</integer>
							</dict>
							<key>files/stacks-image-5518809-300x256@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								zAioOcRkzC1g
								Zt3ufKhC6g==
								</data>
								<key>Size</key>
								<integer>53399</integer>
							</dict>
							<key>files/stacks-image-5d54d29.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								RYcT4wU90EOn
								Tn92cdVRLA==
								</data>
								<key>Size</key>
								<integer>7369</integer>
							</dict>
							<key>files/stacks-image-5d6979e-300x322.png</key>
							<dict>
								<key>Digest</key>
								<data>
								2GAVNsFa1k0X
								GaasmNTYEw==
								</data>
								<key>Size</key>
								<integer>171272</integer>
							</dict>
							<key>files/stacks-image-5d6979e-300x322@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								q/bFn6dvhrqg
								Vq1xIcah9A==
								</data>
								<key>Size</key>
								<integer>672572</integer>
							</dict>
							<key>files/stacks-image-65a350f-300x350.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								B+NNW386Em4d
								Nrdkrn0uDg==
								</data>
								<key>Size</key>
								<integer>26494</integer>
							</dict>
							<key>files/stacks-image-65a350f-300x350@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								s3Rn93QI1j2q
								tpmeRf3QNA==
								</data>
								<key>Size</key>
								<integer>47733</integer>
							</dict>
							<key>files/stacks-image-662401b-300x350.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								HPHtcPCgY3ph
								0YprbNr4iA==
								</data>
								<key>Size</key>
								<integer>38622</integer>
							</dict>
							<key>files/stacks-image-6d9ca75-300x350.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Cnef9eKnmDnF
								GLaalTPk2A==
								</data>
								<key>Size</key>
								<integer>18155</integer>
							</dict>
							<key>files/stacks-image-74af0ff-230x350.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								nitd6EH+44fF
								8vCcab+SNQ==
								</data>
								<key>Size</key>
								<integer>25790</integer>
							</dict>
							<key>files/stacks-image-7923041-300x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								iSvT3IIug6Hd
								cSOWOlXLTw==
								</data>
								<key>Size</key>
								<integer>19227</integer>
							</dict>
							<key>files/stacks-image-7923041-300x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								abgP++tl4PqV
								gkicw4zqFA==
								</data>
								<key>Size</key>
								<integer>29491</integer>
							</dict>
							<key>files/stacks-image-79fb775-300x350.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ESTKLm5bve6w
								mcbIrd4CtA==
								</data>
								<key>Size</key>
								<integer>20527</integer>
							</dict>
							<key>files/stacks-image-7f88ddc-300x350.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								8zR3yCBuWA72
								BWyQUXSM6A==
								</data>
								<key>Size</key>
								<integer>24622</integer>
							</dict>
							<key>files/stacks-image-93f8852-300x350.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								dz3yXj45D+3l
								KfsQwi7PwA==
								</data>
								<key>Size</key>
								<integer>28123</integer>
							</dict>
							<key>files/stacks-image-93f8852-300x350@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								LkPv9iw5ZVb3
								q41oLNBzLA==
								</data>
								<key>Size</key>
								<integer>44639</integer>
							</dict>
							<key>files/stacks-image-972fdf4-300x300.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								LR0tmi904jT/
								4wtU5HNnbg==
								</data>
								<key>Size</key>
								<integer>36226</integer>
							</dict>
							<key>files/stacks-image-abbba8f-300x350.png</key>
							<dict>
								<key>Digest</key>
								<data>
								RKKLteMoafnf
								RnvARCroOA==
								</data>
								<key>Size</key>
								<integer>189672</integer>
							</dict>
							<key>files/stacks-image-abbba8f-300x350@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								60A89fJSMvp5
								U1rJuiqBiw==
								</data>
								<key>Size</key>
								<integer>716950</integer>
							</dict>
							<key>files/stacks-image-bd6dcce-300x256.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								VOHfmkZaWtzN
								VBwZhUyKNw==
								</data>
								<key>Size</key>
								<integer>30908</integer>
							</dict>
							<key>files/stacks-image-bd6dcce-300x256@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								zAioOcRkzC1g
								Zt3ufKhC6g==
								</data>
								<key>Size</key>
								<integer>53399</integer>
							</dict>
							<key>files/stacks-image-cd48b26-300x300.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								bd554fp5ICzC
								PaxSwXlY/w==
								</data>
								<key>Size</key>
								<integer>22337</integer>
							</dict>
							<key>files/stacks-image-cd48b26-300x300@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								YAhJyy3CNMqy
								LFkfcwesrQ==
								</data>
								<key>Size</key>
								<integer>39716</integer>
							</dict>
							<key>files/stacks-image-cf2d479-300x350.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9XnOyNGabMmI
								lz81yYSQrA==
								</data>
								<key>Size</key>
								<integer>16100</integer>
							</dict>
							<key>files/stacks-image-d25b799-300x350.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								f6jNYCd/A9lU
								DsCFMt7KHA==
								</data>
								<key>Size</key>
								<integer>32817</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								IcJyU76V543g
								RUdnIXKzHw==
								</data>
								<key>Size</key>
								<integer>19481</integer>
							</dict>
							<key>files/stacks_page_page94.css</key>
							<dict>
								<key>Digest</key>
								<data>
								1vIhTwZnZOwA
								i5ycI8/Y8Q==
								</data>
								<key>Size</key>
								<integer>247693</integer>
							</dict>
							<key>files/stacks_page_page94.js</key>
							<dict>
								<key>Digest</key>
								<data>
								xG02GpGRESAx
								dU/Ywb7DFw==
								</data>
								<key>Size</key>
								<integer>25488</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								/Zz65cAZ8Nch
								pe8mAAluOw==
								</data>
								<key>Size</key>
								<integer>171500</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page94</string>
						<key>SiteRoot</key>
						<string>people/external-faculty</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
