<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page66</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Vermont Computer Science Alliance</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.6.8</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-07-08T20:15:06Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small_109886.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Yb+L/heiX6tP
								YliFF2auMA==
								</data>
								<key>Size</key>
								<integer>269913</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZFHf9zniv4SK
								z9ywIWAR7Q==
								</data>
								<key>Size</key>
								<integer>124861</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								5SEHlmzIRPnE
								h1Zlyu2W+A==
								</data>
								<key>Size</key>
								<integer>35205</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZP2FJ/yve/bb
								UMUDEFQ7OA==
								</data>
								<key>Size</key>
								<integer>68310</integer>
							</dict>
							<key>files/stacks-image-1139604-1198x776.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								J3rEE3q6XKuF
								QIbbt3NUZQ==
								</data>
								<key>Size</key>
								<integer>87694</integer>
							</dict>
							<key>files/stacks-image-1139604-1198x776@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								CBgj5CfA23S7
								RGBEAw4e5g==
								</data>
								<key>Size</key>
								<integer>164953</integer>
							</dict>
							<key>files/stacks-image-e33bcc7-650x198.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								07IbU+lr3l0r
								h1dxavx18w==
								</data>
								<key>Size</key>
								<integer>24595</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								FWLv4iC2Yarl
								ySGORUZ3Iw==
								</data>
								<key>Size</key>
								<integer>19413</integer>
							</dict>
							<key>files/stacks_page_page66.css</key>
							<dict>
								<key>Digest</key>
								<data>
								2VA+HpwZpThV
								F2B7GoxTmQ==
								</data>
								<key>Size</key>
								<integer>102842</integer>
							</dict>
							<key>files/stacks_page_page66.js</key>
							<dict>
								<key>Digest</key>
								<data>
								cJITlAWChp3O
								Rg5BSoUS7w==
								</data>
								<key>Size</key>
								<integer>23922</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								bKthbtyVyUBW
								a9cEGfvrHA==
								</data>
								<key>Size</key>
								<integer>41073</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page66</string>
						<key>SiteRoot</key>
						<string>events/VCSA</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
