<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:32Z</date>
				<key>ID</key>
				<string>page11</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Paper Shredder</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.6.5</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-01-18T16:06:18Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small_525330.png</key>
							<dict>
								<key>Digest</key>
								<data>
								21CwrXHpwxlG
								aGrPOAqUaQ==
								</data>
								<key>Size</key>
								<integer>90946</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZFHf9zniv4SK
								z9ywIWAR7Q==
								</data>
								<key>Size</key>
								<integer>124861</integer>
							</dict>
							<key>files/stacks-image-580baf6-248x248.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								yZQqhuEMgia3
								owVDiEQk8g==
								</data>
								<key>Size</key>
								<integer>13322</integer>
							</dict>
							<key>files/stacks-image-90966db-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								kcVxqK0Y23YI
								Ns11kdYJ6w==
								</data>
								<key>Size</key>
								<integer>21714</integer>
							</dict>
							<key>files/stacks_page_page11.css</key>
							<dict>
								<key>Digest</key>
								<data>
								9s/Sc/0APkrj
								004lqy1vug==
								</data>
								<key>Size</key>
								<integer>92523</integer>
							</dict>
							<key>files/stacks_page_page11.js</key>
							<dict>
								<key>Digest</key>
								<data>
								VRmRp6MjKOJV
								FrlixUyAew==
								</data>
								<key>Size</key>
								<integer>24349</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								t3AE5Lv5x4f1
								L8fzFXp2Tg==
								</data>
								<key>Size</key>
								<integer>79232</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page11</string>
						<key>SiteRoot</key>
						<string>community/papershredder</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
