<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Students</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page89</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Students </string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.2.2</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2021-05-06T14:55:49Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small-109623-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/small-109710-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JfxF8Omi0icK
								xIwohpIZqw==
								</data>
								<key>Size</key>
								<integer>77487</integer>
							</dict>
							<key>files/small-109714-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2NMhf1k+YDl
								uPpd6H1dBw==
								</data>
								<key>Size</key>
								<integer>15019</integer>
							</dict>
							<key>files/small-109735-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D2nm4R7babci
								2M5NjfUDZQ==
								</data>
								<key>Size</key>
								<integer>18925</integer>
							</dict>
							<key>files/small-109736-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgRiuB3NhhIh
								SwZTifI18g==
								</data>
								<key>Size</key>
								<integer>21987</integer>
							</dict>
							<key>files/stacks-image-05189a6-250x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								k8jVw4Cngce3
								T1lwPjoz+w==
								</data>
								<key>Size</key>
								<integer>19661</integer>
							</dict>
							<key>files/stacks-image-05189a6-250x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								31+sxLjS6Kpb
								kM26Enm8uQ==
								</data>
								<key>Size</key>
								<integer>35940</integer>
							</dict>
							<key>files/stacks-image-0705093-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MY2mF2mfXIou
								jmnADpy6gQ==
								</data>
								<key>Size</key>
								<integer>18632</integer>
							</dict>
							<key>files/stacks-image-0705093-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								PWuV3f1raSLe
								E8nmE6QutQ==
								</data>
								<key>Size</key>
								<integer>26161</integer>
							</dict>
							<key>files/stacks-image-074db50-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								AQ0f8Wyr4BCq
								9s+EjK6F1A==
								</data>
								<key>Size</key>
								<integer>23043</integer>
							</dict>
							<key>files/stacks-image-074db50-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								mkqu/Zsw71xe
								MzfHKy23kQ==
								</data>
								<key>Size</key>
								<integer>33183</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								C82d5dfws9q4
								DDOA2BFu1w==
								</data>
								<key>Size</key>
								<integer>35273</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								v/SijtX2gRco
								SwESRI9B4g==
								</data>
								<key>Size</key>
								<integer>68378</integer>
							</dict>
							<key>files/stacks-image-099e8bb-332x248.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								0mbDV5LXtkim
								kMjNdS84ag==
								</data>
								<key>Size</key>
								<integer>23621</integer>
							</dict>
							<key>files/stacks-image-099e8bb-332x248@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								1v7K8UMu1t8y
								ixsv7yGQCQ==
								</data>
								<key>Size</key>
								<integer>45327</integer>
							</dict>
							<key>files/stacks-image-0b98171-500x428.png</key>
							<dict>
								<key>Digest</key>
								<data>
								XcN1BmwBCr0T
								sWQvPX2duw==
								</data>
								<key>Size</key>
								<integer>69519</integer>
							</dict>
							<key>files/stacks-image-0b98171-500x428@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								jEfbYwHvHz7P
								LJUYWxo1fw==
								</data>
								<key>Size</key>
								<integer>184926</integer>
							</dict>
							<key>files/stacks-image-1a773ad-186x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								HHGTgbsf/FVk
								bm8NjX4lwA==
								</data>
								<key>Size</key>
								<integer>10684</integer>
							</dict>
							<key>files/stacks-image-1a773ad-186x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								QGTmiCmFOKlR
								g2s8iBGnEA==
								</data>
								<key>Size</key>
								<integer>15042</integer>
							</dict>
							<key>files/stacks-image-1f1ee52-1200x1028.png</key>
							<dict>
								<key>Digest</key>
								<data>
								CK++6AB52BQC
								tv9vl4Bvyg==
								</data>
								<key>Size</key>
								<integer>265153</integer>
							</dict>
							<key>files/stacks-image-1f1ee52-1200x1028@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								mZrcbmt8JgLc
								fMoyUOaNRQ==
								</data>
								<key>Size</key>
								<integer>809163</integer>
							</dict>
							<key>files/stacks-image-2247e1c-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								uJMYh1JCatOG
								ZV7akKbTQw==
								</data>
								<key>Size</key>
								<integer>55064</integer>
							</dict>
							<key>files/stacks-image-2cede1e-150x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								1a+H2rXW1x8r
								GxJQR91GOA==
								</data>
								<key>Size</key>
								<integer>11984</integer>
							</dict>
							<key>files/stacks-image-2cede1e-150x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								GH0OauDdtWkF
								wCI8iPf8uQ==
								</data>
								<key>Size</key>
								<integer>17079</integer>
							</dict>
							<key>files/stacks-image-2cede1e-186x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								GA+JAEeocDeS
								QevyQ9xN1g==
								</data>
								<key>Size</key>
								<integer>15324</integer>
							</dict>
							<key>files/stacks-image-2cede1e-186x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								vFQXNDZpcYve
								kZP6iWnslQ==
								</data>
								<key>Size</key>
								<integer>22064</integer>
							</dict>
							<key>files/stacks-image-30be980-266x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								1FqGWeHF5ESm
								575b0hFsWA==
								</data>
								<key>Size</key>
								<integer>27733</integer>
							</dict>
							<key>files/stacks-image-30be980-266x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								LJEUQH/AoJa6
								ywzSinrgQQ==
								</data>
								<key>Size</key>
								<integer>51355</integer>
							</dict>
							<key>files/stacks-image-3bc9a0b-168x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								FSRHhsdD4ZKy
								1lXIz+sOKQ==
								</data>
								<key>Size</key>
								<integer>12940</integer>
							</dict>
							<key>files/stacks-image-3bc9a0b-168x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								lFQDxgh0uRxt
								UKm2jU1AQg==
								</data>
								<key>Size</key>
								<integer>28094</integer>
							</dict>
							<key>files/stacks-image-468f1c7-178x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Pi6itMw2jILU
								IaT+57LLcw==
								</data>
								<key>Size</key>
								<integer>13805</integer>
							</dict>
							<key>files/stacks-image-468f1c7-178x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								X0i9kOo2RBSB
								DjDmKJnI5w==
								</data>
								<key>Size</key>
								<integer>19971</integer>
							</dict>
							<key>files/stacks-image-48562ce-150x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								t/0xjeXqyk60
								6Nsh13eqnQ==
								</data>
								<key>Size</key>
								<integer>8657</integer>
							</dict>
							<key>files/stacks-image-48562ce-150x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								iLPrviiHUKjl
								1eVQhIT5sA==
								</data>
								<key>Size</key>
								<integer>11577</integer>
							</dict>
							<key>files/stacks-image-49ca07f-1200x1028.png</key>
							<dict>
								<key>Digest</key>
								<data>
								p6PhGnHdKRXj
								wFlAijnXHw==
								</data>
								<key>Size</key>
								<integer>341319</integer>
							</dict>
							<key>files/stacks-image-49ca07f-1200x1028@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								3uqGZFjy02Fs
								0lzBrDSI6g==
								</data>
								<key>Size</key>
								<integer>1062370</integer>
							</dict>
							<key>files/stacks-image-4dc199b.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								va3qU1QdMCSr
								EhFZVluK0w==
								</data>
								<key>Size</key>
								<integer>10795</integer>
							</dict>
							<key>files/stacks-image-541b38d.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Mag094rYUSM7
								OlN+5qzw/Q==
								</data>
								<key>Size</key>
								<integer>33074</integer>
							</dict>
							<key>files/stacks-image-5a00b16-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								+qmCLA4HrjzX
								f9AovjMdyg==
								</data>
								<key>Size</key>
								<integer>51281</integer>
							</dict>
							<key>files/stacks-image-62f12e6-111381.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								0CrJ1NTHqiRG
								Kdzv6oiguA==
								</data>
								<key>Size</key>
								<integer>7659</integer>
							</dict>
							<key>files/stacks-image-636ed7c-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								w4eD2AKNUI5B
								QRY1a2aBIg==
								</data>
								<key>Size</key>
								<integer>16061</integer>
							</dict>
							<key>files/stacks-image-636ed7c-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								5+zBR5W9WjqX
								D+hHbEtuMA==
								</data>
								<key>Size</key>
								<integer>24457</integer>
							</dict>
							<key>files/stacks-image-6503b5c-164x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								FRNTxeb2fRFk
								cix68DUNCA==
								</data>
								<key>Size</key>
								<integer>11630</integer>
							</dict>
							<key>files/stacks-image-6503b5c-164x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								MUW+2Nhcqx5D
								k9ITDXPrAg==
								</data>
								<key>Size</key>
								<integer>16172</integer>
							</dict>
							<key>files/stacks-image-6503b5c-206x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Ii4WsD0hA47B
								o+p3p9I3rg==
								</data>
								<key>Size</key>
								<integer>14906</integer>
							</dict>
							<key>files/stacks-image-6503b5c-206x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								rtxRtyFUKF0c
								fEE6PAnioQ==
								</data>
								<key>Size</key>
								<integer>22544</integer>
							</dict>
							<key>files/stacks-image-685b5ef-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								kylTBcLMQUlm
								Z+hxdAUehw==
								</data>
								<key>Size</key>
								<integer>22637</integer>
							</dict>
							<key>files/stacks-image-685b5ef-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								WPYAxrcIAYWw
								E91X5Ewaow==
								</data>
								<key>Size</key>
								<integer>36039</integer>
							</dict>
							<key>files/stacks-image-685b5ef-250x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								G06cmeluZrhB
								9sDaebujxQ==
								</data>
								<key>Size</key>
								<integer>30973</integer>
							</dict>
							<key>files/stacks-image-685b5ef-250x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								xRXOrEgdW4dO
								EVnjXqi7aQ==
								</data>
								<key>Size</key>
								<integer>51812</integer>
							</dict>
							<key>files/stacks-image-6db3380-224x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Dqwu79/Gm0D3
								uKvQdgQ5fg==
								</data>
								<key>Size</key>
								<integer>17309</integer>
							</dict>
							<key>files/stacks-image-6db3380-224x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								hZfg1OLYrplA
								s2KFGOvjLA==
								</data>
								<key>Size</key>
								<integer>26792</integer>
							</dict>
							<key>files/stacks-image-6f0fe08-354x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								cjregk5FpCe1
								ZLxJxLdbwA==
								</data>
								<key>Size</key>
								<integer>21535</integer>
							</dict>
							<key>files/stacks-image-6f0fe08-354x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								EuFsjR0m1UfF
								J9/poQ9VhQ==
								</data>
								<key>Size</key>
								<integer>41587</integer>
							</dict>
							<key>files/stacks-image-7141bc3-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								urTGoDh4Ogkz
								DKmu/UemhQ==
								</data>
								<key>Size</key>
								<integer>81739</integer>
							</dict>
							<key>files/stacks-image-7141bc3-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								7dmgD3Jt05Gh
								1ixaYMUC8w==
								</data>
								<key>Size</key>
								<integer>123837</integer>
							</dict>
							<key>files/stacks-image-75adb1c.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								EBZBFWxJVBkw
								M+DN+KKvmg==
								</data>
								<key>Size</key>
								<integer>10191</integer>
							</dict>
							<key>files/stacks-image-775734f-1200x1028.png</key>
							<dict>
								<key>Digest</key>
								<data>
								oOyWXPk2+TAE
								hYU/CMlQYg==
								</data>
								<key>Size</key>
								<integer>275835</integer>
							</dict>
							<key>files/stacks-image-775734f-1200x1028@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								1yAiS+7KKmQI
								APtRqVoDtg==
								</data>
								<key>Size</key>
								<integer>816349</integer>
							</dict>
							<key>files/stacks-image-824db91-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								8T8ixfNoLRhu
								+YbDGA4cgw==
								</data>
								<key>Size</key>
								<integer>32257</integer>
							</dict>
							<key>files/stacks-image-869f5d7-352x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								mKDeqSNoez4l
								VGbYxl1qUQ==
								</data>
								<key>Size</key>
								<integer>53178</integer>
							</dict>
							<key>files/stacks-image-8f84d6c-264x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								d2tF6bg+rN/T
								rltNbQU5eg==
								</data>
								<key>Size</key>
								<integer>19561</integer>
							</dict>
							<key>files/stacks-image-94d2d36-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								X1yEQpWa8NmG
								RFgpA+ylaQ==
								</data>
								<key>Size</key>
								<integer>13764</integer>
							</dict>
							<key>files/stacks-image-9f0e280-444x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								UmX4khym9zvr
								mpH9xORmOw==
								</data>
								<key>Size</key>
								<integer>34299</integer>
							</dict>
							<key>files/stacks-image-9f0e280-444x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								8Q26K9IMsqvM
								mnfRbHw74A==
								</data>
								<key>Size</key>
								<integer>61988</integer>
							</dict>
							<key>files/stacks-image-b4f0aa6-182x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								54WAntr6EAkH
								UtA8ibpz9Q==
								</data>
								<key>Size</key>
								<integer>16469</integer>
							</dict>
							<key>files/stacks-image-b4f0aa6-182x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								aDtaSD7ZpnlH
								YgMiEyur5w==
								</data>
								<key>Size</key>
								<integer>24180</integer>
							</dict>
							<key>files/stacks-image-b9534b9-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								djah6uczg/OL
								I/Mf2XdF9Q==
								</data>
								<key>Size</key>
								<integer>15002</integer>
							</dict>
							<key>files/stacks-image-b9534b9-250x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								p7TAE3ybZEZc
								+TihDuzZJw==
								</data>
								<key>Size</key>
								<integer>20073</integer>
							</dict>
							<key>files/stacks-image-bc4e7a0-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Dmw116lnd6JR
								lyL5oWI6sQ==
								</data>
								<key>Size</key>
								<integer>14092</integer>
							</dict>
							<key>files/stacks-image-bc4e7a0-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								K2Z3r6siIxJh
								lU/7S88fMw==
								</data>
								<key>Size</key>
								<integer>24072</integer>
							</dict>
							<key>files/stacks-image-bc98195-111079.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								AzbAi8CsngnA
								PWASKJ60ig==
								</data>
								<key>Size</key>
								<integer>10193</integer>
							</dict>
							<key>files/stacks-image-bc98195-111079@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								8t3r7S7l/AOE
								4iEONt1iXg==
								</data>
								<key>Size</key>
								<integer>14350</integer>
							</dict>
							<key>files/stacks-image-bc98195-212x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								928d2aS0Oads
								hxrVJFq1sA==
								</data>
								<key>Size</key>
								<integer>11794</integer>
							</dict>
							<key>files/stacks-image-bc98195-212x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								T0tYidWSgynY
								bzkk+c9sYg==
								</data>
								<key>Size</key>
								<integer>17097</integer>
							</dict>
							<key>files/stacks-image-bed9ff0-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								snWjcgEFolcC
								X3uw5QR9SA==
								</data>
								<key>Size</key>
								<integer>40654</integer>
							</dict>
							<key>files/stacks-image-c2d9b60-198x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								H0U2HJTH+SDH
								UZpxycXg6g==
								</data>
								<key>Size</key>
								<integer>42018</integer>
							</dict>
							<key>files/stacks-image-c405c5c.png</key>
							<dict>
								<key>Digest</key>
								<data>
								41fwGdHpvP31
								cVJWak+3YA==
								</data>
								<key>Size</key>
								<integer>38189</integer>
							</dict>
							<key>files/stacks-image-c5c3484-266x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								1FqGWeHF5ESm
								575b0hFsWA==
								</data>
								<key>Size</key>
								<integer>27733</integer>
							</dict>
							<key>files/stacks-image-c5c3484-266x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								LJEUQH/AoJa6
								ywzSinrgQQ==
								</data>
								<key>Size</key>
								<integer>51355</integer>
							</dict>
							<key>files/stacks-image-c820341-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Y5gvQAx8HQi7
								OsYyNon+OA==
								</data>
								<key>Size</key>
								<integer>11867</integer>
							</dict>
							<key>files/stacks-image-c820341-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								sc1lqbSYCshh
								y+bgZx15Og==
								</data>
								<key>Size</key>
								<integer>19235</integer>
							</dict>
							<key>files/stacks-image-c820341-250x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								yN/fVXRKu49n
								5R+pK9kLww==
								</data>
								<key>Size</key>
								<integer>16929</integer>
							</dict>
							<key>files/stacks-image-c820341-250x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								qDIhuAsjmcs+
								ft0t6zjnBA==
								</data>
								<key>Size</key>
								<integer>31019</integer>
							</dict>
							<key>files/stacks-image-d55994e-166x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								TQqdTDt634Ct
								kOsNybvmDA==
								</data>
								<key>Size</key>
								<integer>18103</integer>
							</dict>
							<key>files/stacks-image-d55994e-166x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								BGXXjJ/sXmAH
								rxZIBCsaNQ==
								</data>
								<key>Size</key>
								<integer>34880</integer>
							</dict>
							<key>files/stacks-image-d55994e-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								OoYzFQMMqkpC
								RHRyqNKWog==
								</data>
								<key>Size</key>
								<integer>18404</integer>
							</dict>
							<key>files/stacks-image-d55994e-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								EprgDjXaCMFp
								MErNXomdhw==
								</data>
								<key>Size</key>
								<integer>31997</integer>
							</dict>
							<key>files/stacks-image-dfcdde1-134x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								JN2usMU65a9l
								5OPaSiqIuA==
								</data>
								<key>Size</key>
								<integer>9901</integer>
							</dict>
							<key>files/stacks-image-dfcdde1-134x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								98Y6otrOXm2U
								gpaVHhMhEg==
								</data>
								<key>Size</key>
								<integer>18548</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								IcJyU76V543g
								RUdnIXKzHw==
								</data>
								<key>Size</key>
								<integer>19481</integer>
							</dict>
							<key>files/stacks-image-e9f1c85-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								dWt2nYXt29a+
								zRsJXwmZbQ==
								</data>
								<key>Size</key>
								<integer>15624</integer>
							</dict>
							<key>files/stacks-image-e9f1c85-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								kdBMQX/hfrPY
								Fc+bkUQcXQ==
								</data>
								<key>Size</key>
								<integer>28000</integer>
							</dict>
							<key>files/stacks-image-efc4fea-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Z1vJA+iglzdY
								NXdODBqV+g==
								</data>
								<key>Size</key>
								<integer>31753</integer>
							</dict>
							<key>files/stacks-image-fa3a187-111706.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								OYUfNlB5O2W9
								0dLV1q41SQ==
								</data>
								<key>Size</key>
								<integer>167412</integer>
							</dict>
							<key>files/stacks-image-fa94417-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								r0QduHtvTv51
								Vh5DUVqy9Q==
								</data>
								<key>Size</key>
								<integer>15574</integer>
							</dict>
							<key>files/stacks-image-fa94417.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								JMUT2jCEoCN+
								jPGaptfhqA==
								</data>
								<key>Size</key>
								<integer>11176</integer>
							</dict>
							<key>files/stacks-image-fc73006-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								eRET5TIBs8r9
								TCwM8ayGog==
								</data>
								<key>Size</key>
								<integer>32987</integer>
							</dict>
							<key>files/stacks-image-fe387d5-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								O6BDMQh72VMT
								cjF+A4mQSQ==
								</data>
								<key>Size</key>
								<integer>14970</integer>
							</dict>
							<key>files/stacks-image-fe387d5-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Zcpsx0AiYm/1
								zB6lJVBywg==
								</data>
								<key>Size</key>
								<integer>22134</integer>
							</dict>
							<key>files/stacks_page_page89.css</key>
							<dict>
								<key>Digest</key>
								<data>
								MDDJP+uXEJo+
								roKkxfXPBg==
								</data>
								<key>Size</key>
								<integer>329930</integer>
							</dict>
							<key>files/stacks_page_page89.js</key>
							<dict>
								<key>Digest</key>
								<data>
								K/xxcmiVxNI9
								tlwsqv8CsA==
								</data>
								<key>Size</key>
								<integer>33005</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								DoPZ/E+mIrfc
								ty9wz9o5tA==
								</data>
								<key>Size</key>
								<integer>227217</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page89</string>
						<key>SiteRoot</key>
						<string>people/students</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>ChildPages</string>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
