<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Students</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page89</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Students </string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.0.4</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2021-09-28T20:42:16Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/small_p60311_n109710.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JfxF8Omi0icK
								xIwohpIZqw==
								</data>
								<key>Size</key>
								<integer>77487</integer>
							</dict>
							<key>files/small_p60311_n109714.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2NMhf1k+YDl
								uPpd6H1dBw==
								</data>
								<key>Size</key>
								<integer>15019</integer>
							</dict>
							<key>files/small_p60311_n109735.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D2nm4R7babci
								2M5NjfUDZQ==
								</data>
								<key>Size</key>
								<integer>18925</integer>
							</dict>
							<key>files/small_p60311_n109736.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgRiuB3NhhIh
								SwZTifI18g==
								</data>
								<key>Size</key>
								<integer>21987</integer>
							</dict>
							<key>files/stacks-image-05189a6-250x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								GmJHGeK7qwSe
								EHEaICwoKQ==
								</data>
								<key>Size</key>
								<integer>19645</integer>
							</dict>
							<key>files/stacks-image-05189a6-250x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								fxFS/38dPJsR
								4NFISa2GaA==
								</data>
								<key>Size</key>
								<integer>35924</integer>
							</dict>
							<key>files/stacks-image-0705093-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								fWsq+x82sDjN
								g2kD9mbYSg==
								</data>
								<key>Size</key>
								<integer>18621</integer>
							</dict>
							<key>files/stacks-image-0705093-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								qQKSTxQ2IDvT
								nF/XnkOnqQ==
								</data>
								<key>Size</key>
								<integer>26150</integer>
							</dict>
							<key>files/stacks-image-074db50-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								46cE3OYZ5H9e
								XxuTiEzW8w==
								</data>
								<key>Size</key>
								<integer>23032</integer>
							</dict>
							<key>files/stacks-image-074db50-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								EsNULB+zoeYm
								cihJ3a2MQQ==
								</data>
								<key>Size</key>
								<integer>33172</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								nc/RlhmvGDDL
								K+SuTjMLPQ==
								</data>
								<key>Size</key>
								<integer>35262</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								tvAomUQyeND0
								vTpTZz/VVg==
								</data>
								<key>Size</key>
								<integer>68367</integer>
							</dict>
							<key>files/stacks-image-099e8bb-332x248.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Z0cY574BXuVa
								/rljUFXVag==
								</data>
								<key>Size</key>
								<integer>23505</integer>
							</dict>
							<key>files/stacks-image-099e8bb-332x248@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								3MdKFr/2YrmU
								9XIrWN5/XQ==
								</data>
								<key>Size</key>
								<integer>45246</integer>
							</dict>
							<key>files/stacks-image-0b98171-500x428.png</key>
							<dict>
								<key>Digest</key>
								<data>
								7TF/+htTYTiA
								BDDy8c6gCA==
								</data>
								<key>Size</key>
								<integer>69508</integer>
							</dict>
							<key>files/stacks-image-0b98171-500x428@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								HToeC0P9aNlG
								0oiJD1QlTA==
								</data>
								<key>Size</key>
								<integer>184915</integer>
							</dict>
							<key>files/stacks-image-1a773ad-186x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								JnKqeLV/vD/l
								bbEMvuD0Pw==
								</data>
								<key>Size</key>
								<integer>10759</integer>
							</dict>
							<key>files/stacks-image-1a773ad-186x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								f8aQbaxVl6QC
								sveYm3r86Q==
								</data>
								<key>Size</key>
								<integer>15046</integer>
							</dict>
							<key>files/stacks-image-1f1ee52-1200x1028.png</key>
							<dict>
								<key>Digest</key>
								<data>
								SCaVbbxDAIB8
								A/Y2P8Xxnw==
								</data>
								<key>Size</key>
								<integer>265142</integer>
							</dict>
							<key>files/stacks-image-1f1ee52-1200x1028@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								+N7PHOnbSs0F
								8FTXToFWAg==
								</data>
								<key>Size</key>
								<integer>809152</integer>
							</dict>
							<key>files/stacks-image-2247e1c-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MtcqxvMvlf6a
								Vv0rgYqInQ==
								</data>
								<key>Size</key>
								<integer>55053</integer>
							</dict>
							<key>files/stacks-image-2cede1e-150x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								OYuIbolLrkiu
								2QBoJX3WWg==
								</data>
								<key>Size</key>
								<integer>12203</integer>
							</dict>
							<key>files/stacks-image-2cede1e-150x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								BT+40mCMMZVL
								+McUBINxYg==
								</data>
								<key>Size</key>
								<integer>17042</integer>
							</dict>
							<key>files/stacks-image-2cede1e-186x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								XmOJboJHkqUZ
								TfMQPn+Yrg==
								</data>
								<key>Size</key>
								<integer>15644</integer>
							</dict>
							<key>files/stacks-image-2cede1e-186x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								jQgoJGrzKYbZ
								GbkeZd9hnQ==
								</data>
								<key>Size</key>
								<integer>22080</integer>
							</dict>
							<key>files/stacks-image-30be980-266x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								brVclkBg/fjc
								X/OCL+bmmA==
								</data>
								<key>Size</key>
								<integer>27717</integer>
							</dict>
							<key>files/stacks-image-30be980-266x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								wbniCxFqW5FA
								/UILMX8xIA==
								</data>
								<key>Size</key>
								<integer>51339</integer>
							</dict>
							<key>files/stacks-image-3bc9a0b-168x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								LGgSmWHGMkTC
								pyaycigzOQ==
								</data>
								<key>Size</key>
								<integer>12924</integer>
							</dict>
							<key>files/stacks-image-3bc9a0b-168x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								sFujbP8tEQiW
								+/DK631QfA==
								</data>
								<key>Size</key>
								<integer>28078</integer>
							</dict>
							<key>files/stacks-image-468f1c7-178x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								igtnK9P+jDuK
								/U6A/8wrwA==
								</data>
								<key>Size</key>
								<integer>13789</integer>
							</dict>
							<key>files/stacks-image-468f1c7-178x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								mMdKoDd5CEMk
								hs1ZGL+nuQ==
								</data>
								<key>Size</key>
								<integer>19955</integer>
							</dict>
							<key>files/stacks-image-48562ce-150x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ns7l6gj+I9Cr
								7DDqi0kfmQ==
								</data>
								<key>Size</key>
								<integer>8672</integer>
							</dict>
							<key>files/stacks-image-48562ce-150x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								0zaByPlWm+gq
								uvVUeI4PnA==
								</data>
								<key>Size</key>
								<integer>11689</integer>
							</dict>
							<key>files/stacks-image-49ca07f-1200x1028.png</key>
							<dict>
								<key>Digest</key>
								<data>
								01BLFXh68+3O
								YV3B8FrroQ==
								</data>
								<key>Size</key>
								<integer>341308</integer>
							</dict>
							<key>files/stacks-image-49ca07f-1200x1028@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								3rhGjnetmU4/
								HgtW1jB06Q==
								</data>
								<key>Size</key>
								<integer>1062359</integer>
							</dict>
							<key>files/stacks-image-4dc199b.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								va3qU1QdMCSr
								EhFZVluK0w==
								</data>
								<key>Size</key>
								<integer>10795</integer>
							</dict>
							<key>files/stacks-image-541b38d.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Mag094rYUSM7
								OlN+5qzw/Q==
								</data>
								<key>Size</key>
								<integer>33074</integer>
							</dict>
							<key>files/stacks-image-5a00b16-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MXR3QyI2Cd6x
								6sYtUMuInA==
								</data>
								<key>Size</key>
								<integer>51270</integer>
							</dict>
							<key>files/stacks-image-62f12e6-111381.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								t5vSZ4keMdu1
								zOY/5lDalQ==
								</data>
								<key>Size</key>
								<integer>7643</integer>
							</dict>
							<key>files/stacks-image-636ed7c-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								8GX5NHmW7XqN
								oddBIGmGww==
								</data>
								<key>Size</key>
								<integer>16045</integer>
							</dict>
							<key>files/stacks-image-636ed7c-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								h3B6RAl9t6Ak
								7OwkMWP+ow==
								</data>
								<key>Size</key>
								<integer>24441</integer>
							</dict>
							<key>files/stacks-image-6503b5c-164x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								iSLtgpzuNEiT
								x7TMNHqTKg==
								</data>
								<key>Size</key>
								<integer>11604</integer>
							</dict>
							<key>files/stacks-image-6503b5c-164x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								uru/f1tLzkv8
								fEV8NR9DIA==
								</data>
								<key>Size</key>
								<integer>16120</integer>
							</dict>
							<key>files/stacks-image-6503b5c-206x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								L/rtyJRdxgys
								Th2CwBSZNA==
								</data>
								<key>Size</key>
								<integer>14890</integer>
							</dict>
							<key>files/stacks-image-6503b5c-206x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								IG6fNb5RNPQt
								kJJryYTXfA==
								</data>
								<key>Size</key>
								<integer>22499</integer>
							</dict>
							<key>files/stacks-image-685b5ef-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								JptHqMkSkt+c
								wa0GdzKZaA==
								</data>
								<key>Size</key>
								<integer>22621</integer>
							</dict>
							<key>files/stacks-image-685b5ef-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								YVqGvWU4lsZS
								NS7K4M+JQQ==
								</data>
								<key>Size</key>
								<integer>36023</integer>
							</dict>
							<key>files/stacks-image-685b5ef-250x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								TnOMAhF8645S
								N4zxMTtDNw==
								</data>
								<key>Size</key>
								<integer>30957</integer>
							</dict>
							<key>files/stacks-image-685b5ef-250x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9hpgXs+v7+Vr
								qBxC4k2X2w==
								</data>
								<key>Size</key>
								<integer>51796</integer>
							</dict>
							<key>files/stacks-image-6db3380-224x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								4ynhckyQ7j1m
								mRnxYr3mrQ==
								</data>
								<key>Size</key>
								<integer>17293</integer>
							</dict>
							<key>files/stacks-image-6db3380-224x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								5O5VsTC8VHCT
								cCKAm2cFpQ==
								</data>
								<key>Size</key>
								<integer>26776</integer>
							</dict>
							<key>files/stacks-image-6f0fe08-354x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								6Gtj1VAQPti1
								D5jMognFwA==
								</data>
								<key>Size</key>
								<integer>21484</integer>
							</dict>
							<key>files/stacks-image-6f0fe08-354x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Smy+SA0kFPl5
								hkFwcEpQbw==
								</data>
								<key>Size</key>
								<integer>41563</integer>
							</dict>
							<key>files/stacks-image-7141bc3-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								+YlJDXQNLWwm
								5NAU74dMdA==
								</data>
								<key>Size</key>
								<integer>81728</integer>
							</dict>
							<key>files/stacks-image-7141bc3-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Nn2i0eYuTHs6
								bmI41YgoaA==
								</data>
								<key>Size</key>
								<integer>123826</integer>
							</dict>
							<key>files/stacks-image-75adb1c.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								EBZBFWxJVBkw
								M+DN+KKvmg==
								</data>
								<key>Size</key>
								<integer>10191</integer>
							</dict>
							<key>files/stacks-image-775734f-1200x1028.png</key>
							<dict>
								<key>Digest</key>
								<data>
								+yCYOo430SO/
								caAvI+Gcxw==
								</data>
								<key>Size</key>
								<integer>275824</integer>
							</dict>
							<key>files/stacks-image-775734f-1200x1028@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								7eRT8WnigP8E
								zS1In5bQww==
								</data>
								<key>Size</key>
								<integer>816338</integer>
							</dict>
							<key>files/stacks-image-824db91-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								KrDPqBqfEesl
								UezOo6lEeQ==
								</data>
								<key>Size</key>
								<integer>32246</integer>
							</dict>
							<key>files/stacks-image-869f5d7-352x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								QcNB4TOGqg4D
								r/IHyGN8Yg==
								</data>
								<key>Size</key>
								<integer>53167</integer>
							</dict>
							<key>files/stacks-image-8f84d6c-264x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								aWgvxV9mU8tA
								ZXm+jEKG/Q==
								</data>
								<key>Size</key>
								<integer>19545</integer>
							</dict>
							<key>files/stacks-image-94d2d36-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								sDP7dFsWxWJy
								x8X8ZhXpAQ==
								</data>
								<key>Size</key>
								<integer>13748</integer>
							</dict>
							<key>files/stacks-image-9f0e280-444x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								xQxV5nHZjCZ6
								Ar6IrNooxg==
								</data>
								<key>Size</key>
								<integer>34326</integer>
							</dict>
							<key>files/stacks-image-9f0e280-444x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								A+4JjrZiEpHH
								ej7rRR9veQ==
								</data>
								<key>Size</key>
								<integer>61960</integer>
							</dict>
							<key>files/stacks-image-b4f0aa6-182x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								b/YvFCYke4Ks
								e/IffSX/zw==
								</data>
								<key>Size</key>
								<integer>16453</integer>
							</dict>
							<key>files/stacks-image-b4f0aa6-182x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								emNUXKPTbANc
								alhZblYRkA==
								</data>
								<key>Size</key>
								<integer>24164</integer>
							</dict>
							<key>files/stacks-image-b9534b9-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								bOAcl1TnITSL
								brZ8uop9dA==
								</data>
								<key>Size</key>
								<integer>14986</integer>
							</dict>
							<key>files/stacks-image-b9534b9-250x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								F355TBXiznz4
								mX6S9zFamQ==
								</data>
								<key>Size</key>
								<integer>20057</integer>
							</dict>
							<key>files/stacks-image-bc4e7a0-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								/+h7aqYJ98VG
								Y7DKzN3NJQ==
								</data>
								<key>Size</key>
								<integer>14076</integer>
							</dict>
							<key>files/stacks-image-bc4e7a0-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								jWXNDP3yTv8l
								KU+0epfl4A==
								</data>
								<key>Size</key>
								<integer>24056</integer>
							</dict>
							<key>files/stacks-image-bc98195-111079.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								fvVRCUBJfpB0
								nVUPkkM8EQ==
								</data>
								<key>Size</key>
								<integer>10141</integer>
							</dict>
							<key>files/stacks-image-bc98195-111079@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								wHMJD+dC+siI
								mRj12QlGmw==
								</data>
								<key>Size</key>
								<integer>14331</integer>
							</dict>
							<key>files/stacks-image-bc98195-212x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								0AGaRCqWh+En
								t6TWQsK++Q==
								</data>
								<key>Size</key>
								<integer>11790</integer>
							</dict>
							<key>files/stacks-image-bc98195-212x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								EN90GawmeY/k
								H3njSkkIWg==
								</data>
								<key>Size</key>
								<integer>17072</integer>
							</dict>
							<key>files/stacks-image-bed9ff0-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								R0KHxB4CLt1L
								xGqCDTA9YA==
								</data>
								<key>Size</key>
								<integer>40643</integer>
							</dict>
							<key>files/stacks-image-c2d9b60-198x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								A6ZiE28NfrlM
								kRu7sMaHLQ==
								</data>
								<key>Size</key>
								<integer>42007</integer>
							</dict>
							<key>files/stacks-image-c405c5c.png</key>
							<dict>
								<key>Digest</key>
								<data>
								41fwGdHpvP31
								cVJWak+3YA==
								</data>
								<key>Size</key>
								<integer>38189</integer>
							</dict>
							<key>files/stacks-image-c5c3484-266x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								brVclkBg/fjc
								X/OCL+bmmA==
								</data>
								<key>Size</key>
								<integer>27717</integer>
							</dict>
							<key>files/stacks-image-c5c3484-266x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								wbniCxFqW5FA
								/UILMX8xIA==
								</data>
								<key>Size</key>
								<integer>51339</integer>
							</dict>
							<key>files/stacks-image-c820341-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								xXfpybP06f/W
								bqmJuqc4jQ==
								</data>
								<key>Size</key>
								<integer>11851</integer>
							</dict>
							<key>files/stacks-image-c820341-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								cizuiCnhA994
								n99EFqmUxQ==
								</data>
								<key>Size</key>
								<integer>19219</integer>
							</dict>
							<key>files/stacks-image-c820341-250x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								rZ9/4e5aalHJ
								nMz7GGB8Lw==
								</data>
								<key>Size</key>
								<integer>16913</integer>
							</dict>
							<key>files/stacks-image-c820341-250x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								vcEmcu6U8W1a
								XOErY18Uag==
								</data>
								<key>Size</key>
								<integer>31003</integer>
							</dict>
							<key>files/stacks-image-d55994e-166x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								PZiW4KABB6aD
								pdc+OPTQnQ==
								</data>
								<key>Size</key>
								<integer>18087</integer>
							</dict>
							<key>files/stacks-image-d55994e-166x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								6iD1OosjAK4m
								9y8dcAsv5Q==
								</data>
								<key>Size</key>
								<integer>34864</integer>
							</dict>
							<key>files/stacks-image-d55994e-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								uh6AqtQfu2zz
								p05ISpzd+g==
								</data>
								<key>Size</key>
								<integer>18388</integer>
							</dict>
							<key>files/stacks-image-d55994e-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								fPsRN5vM10mz
								O4W7Ymg8GA==
								</data>
								<key>Size</key>
								<integer>31981</integer>
							</dict>
							<key>files/stacks-image-dfcdde1-134x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								OwjWPIKj7r8Q
								F2dNfpx5Dg==
								</data>
								<key>Size</key>
								<integer>9885</integer>
							</dict>
							<key>files/stacks-image-dfcdde1-134x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								GxZmgC8ODdU4
								RSmEbL9cBA==
								</data>
								<key>Size</key>
								<integer>18532</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Hwezk6t72J5g
								2awHy7YAqA==
								</data>
								<key>Size</key>
								<integer>19470</integer>
							</dict>
							<key>files/stacks-image-e9f1c85-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								iBXX+x33/WVZ
								X2DS6HfLWg==
								</data>
								<key>Size</key>
								<integer>15515</integer>
							</dict>
							<key>files/stacks-image-e9f1c85-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								6cZrC9OtRrg8
								+e7CzefIJw==
								</data>
								<key>Size</key>
								<integer>27964</integer>
							</dict>
							<key>files/stacks-image-efc4fea-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								56p/ubd2Y9dW
								TTIGDG3akw==
								</data>
								<key>Size</key>
								<integer>31742</integer>
							</dict>
							<key>files/stacks-image-fa3a187-111706.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ZTbYRM/a3H/g
								R3T23sLTvA==
								</data>
								<key>Size</key>
								<integer>167238</integer>
							</dict>
							<key>files/stacks-image-fa94417-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								i6vUCgZUUn9h
								jzH6WGr0+w==
								</data>
								<key>Size</key>
								<integer>15558</integer>
							</dict>
							<key>files/stacks-image-fa94417.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								JMUT2jCEoCN+
								jPGaptfhqA==
								</data>
								<key>Size</key>
								<integer>11176</integer>
							</dict>
							<key>files/stacks-image-fc73006-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Mkf5M2E11f4u
								YTWkg55c7w==
								</data>
								<key>Size</key>
								<integer>32976</integer>
							</dict>
							<key>files/stacks-image-fe387d5-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								F2P92OlXe31B
								w1LzPUw0Ig==
								</data>
								<key>Size</key>
								<integer>14954</integer>
							</dict>
							<key>files/stacks-image-fe387d5-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								DgaS3zwhOQcR
								cOheIKXVpA==
								</data>
								<key>Size</key>
								<integer>22118</integer>
							</dict>
							<key>files/stacks_page_page89.css</key>
							<dict>
								<key>Digest</key>
								<data>
								i943JVsbFFhu
								V3z6QFfmwg==
								</data>
								<key>Size</key>
								<integer>355285</integer>
							</dict>
							<key>files/stacks_page_page89.js</key>
							<dict>
								<key>Digest</key>
								<data>
								i+CjyIheXvcL
								RdDIx+OfKg==
								</data>
								<key>Size</key>
								<integer>34342</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								rQ9zvnwz65KS
								zq0y8V37AA==
								</data>
								<key>Size</key>
								<integer>240998</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page89</string>
						<key>SiteRoot</key>
						<string>people/students</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>ChildPages</string>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
