<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page35</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Symposium - Science of stories</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.2.2</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2021-02-12T18:22:49Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small-109623-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/small-109710-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JfxF8Omi0icK
								xIwohpIZqw==
								</data>
								<key>Size</key>
								<integer>77487</integer>
							</dict>
							<key>files/small-109714-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2NMhf1k+YDl
								uPpd6H1dBw==
								</data>
								<key>Size</key>
								<integer>15019</integer>
							</dict>
							<key>files/small-109735-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D2nm4R7babci
								2M5NjfUDZQ==
								</data>
								<key>Size</key>
								<integer>18925</integer>
							</dict>
							<key>files/small-109736-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgRiuB3NhhIh
								SwZTifI18g==
								</data>
								<key>Size</key>
								<integer>21987</integer>
							</dict>
							<key>files/small-109872.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Yb+L/heiX6tP
								YliFF2auMA==
								</data>
								<key>Size</key>
								<integer>269913</integer>
							</dict>
							<key>files/stacks-image-04756dc-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MG+eMxddOSAl
								8z6J9SYW/w==
								</data>
								<key>Size</key>
								<integer>103569</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								C82d5dfws9q4
								DDOA2BFu1w==
								</data>
								<key>Size</key>
								<integer>35273</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								v/SijtX2gRco
								SwESRI9B4g==
								</data>
								<key>Size</key>
								<integer>68378</integer>
							</dict>
							<key>files/stacks-image-173d8dd-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								YXV2zyNb3L7O
								0gXicwb1iw==
								</data>
								<key>Size</key>
								<integer>107245</integer>
							</dict>
							<key>files/stacks-image-19cb322-250x256.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Xc984pfMXYYr
								JRytdRYsGw==
								</data>
								<key>Size</key>
								<integer>98950</integer>
							</dict>
							<key>files/stacks-image-1aebfb5-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								GIMg2GjIGTIf
								NrJ6zB/Idw==
								</data>
								<key>Size</key>
								<integer>94369</integer>
							</dict>
							<key>files/stacks-image-1aebfb5-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								PvQDFFUiSyri
								9tOuNhG9Ug==
								</data>
								<key>Size</key>
								<integer>335685</integer>
							</dict>
							<key>files/stacks-image-1b7cfd7-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Tdv+C2UlFe+A
								q0tf0XW1pA==
								</data>
								<key>Size</key>
								<integer>83822</integer>
							</dict>
							<key>files/stacks-image-1cd049f-250x256.png</key>
							<dict>
								<key>Digest</key>
								<data>
								RgLlbyUwFolL
								A4Dwva4fjw==
								</data>
								<key>Size</key>
								<integer>106009</integer>
							</dict>
							<key>files/stacks-image-22d1215-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Tdv+C2UlFe+A
								q0tf0XW1pA==
								</data>
								<key>Size</key>
								<integer>83822</integer>
							</dict>
							<key>files/stacks-image-3b3cfea-261x251.png</key>
							<dict>
								<key>Digest</key>
								<data>
								sLhVgFkJgEjv
								hKR0d8ajWg==
								</data>
								<key>Size</key>
								<integer>70296</integer>
							</dict>
							<key>files/stacks-image-40a568b-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								yN2NmFq7oBtf
								fIEgzVEf7Q==
								</data>
								<key>Size</key>
								<integer>93383</integer>
							</dict>
							<key>files/stacks-image-4935364-261x251.png</key>
							<dict>
								<key>Digest</key>
								<data>
								TPMoEnNxEdYl
								0TvI7Sgnsg==
								</data>
								<key>Size</key>
								<integer>126767</integer>
							</dict>
							<key>files/stacks-image-4935364-261x251@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Z51cMv5rzZSS
								mamR7vYJ7w==
								</data>
								<key>Size</key>
								<integer>462310</integer>
							</dict>
							<key>files/stacks-image-4df5cda.png</key>
							<dict>
								<key>Digest</key>
								<data>
								YgptBbFzQoqL
								rKiDtkMUPg==
								</data>
								<key>Size</key>
								<integer>107302</integer>
							</dict>
							<key>files/stacks-image-6efad1d-250x256.png</key>
							<dict>
								<key>Digest</key>
								<data>
								UYZajZD6ftPZ
								yuMsl/LZAQ==
								</data>
								<key>Size</key>
								<integer>117301</integer>
							</dict>
							<key>files/stacks-image-79e9ee7.png</key>
							<dict>
								<key>Digest</key>
								<data>
								chmdSR2cEweM
								Eplrb+Djnw==
								</data>
								<key>Size</key>
								<integer>94289</integer>
							</dict>
							<key>files/stacks-image-8364b1f-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								5QxVm1Ktvtwj
								ZrwDw8Sajw==
								</data>
								<key>Size</key>
								<integer>82825</integer>
							</dict>
							<key>files/stacks-image-8364b1f-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								bPz6qOVYNtfK
								XcAHorYUHQ==
								</data>
								<key>Size</key>
								<integer>273969</integer>
							</dict>
							<key>files/stacks-image-8387376-251x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								E+LLJoz6sKqX
								zMOC2FP6sg==
								</data>
								<key>Size</key>
								<integer>92328</integer>
							</dict>
							<key>files/stacks-image-8387376-251x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								cNQxs/lubdkh
								FxCiAgnYTQ==
								</data>
								<key>Size</key>
								<integer>329304</integer>
							</dict>
							<key>files/stacks-image-9268316-254x307.png</key>
							<dict>
								<key>Digest</key>
								<data>
								P4Ns+SDMYxWt
								KwmoKYd/3Q==
								</data>
								<key>Size</key>
								<integer>102440</integer>
							</dict>
							<key>files/stacks-image-9399623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								wR0JgUS1XI1O
								VhaAJs6dNw==
								</data>
								<key>Size</key>
								<integer>66878</integer>
							</dict>
							<key>files/stacks-image-95b64f0-259x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								yybtfpitp3iw
								EzAWEUQswg==
								</data>
								<key>Size</key>
								<integer>108787</integer>
							</dict>
							<key>files/stacks-image-9b65a45-261x251.png</key>
							<dict>
								<key>Digest</key>
								<data>
								US5ITGwciNqB
								zZJEvHThYA==
								</data>
								<key>Size</key>
								<integer>101122</integer>
							</dict>
							<key>files/stacks-image-a4d3338-1200x800.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								UxzmWeVF8jv8
								QdCebHz3qA==
								</data>
								<key>Size</key>
								<integer>606124</integer>
							</dict>
							<key>files/stacks-image-b5d4a25-261x251.png</key>
							<dict>
								<key>Digest</key>
								<data>
								GBjgZewDIRDT
								vlbHXzG1mg==
								</data>
								<key>Size</key>
								<integer>103902</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x256.png</key>
							<dict>
								<key>Digest</key>
								<data>
								8m5TdqH0SYC9
								xDET3JSndw==
								</data>
								<key>Size</key>
								<integer>100614</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x256@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								rn35TiYjQdqz
								VZWwiZ8Mug==
								</data>
								<key>Size</key>
								<integer>352790</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								l/jholAihVDN
								ItGk0OiREg==
								</data>
								<key>Size</key>
								<integer>100747</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								pkyMF38YLsqJ
								SbfWoDadPg==
								</data>
								<key>Size</key>
								<integer>353247</integer>
							</dict>
							<key>files/stacks-image-c9f8f3e-300x168.png</key>
							<dict>
								<key>Digest</key>
								<data>
								FBi/auegAc4H
								CtrEc0vi1Q==
								</data>
								<key>Size</key>
								<integer>37242</integer>
							</dict>
							<key>files/stacks-image-e4ff3fb-250x72.png</key>
							<dict>
								<key>Digest</key>
								<data>
								+FvCnh3xiNPB
								ioQqBeZ6vA==
								</data>
								<key>Size</key>
								<integer>11306</integer>
							</dict>
							<key>files/stacks-image-e4ff3fb-250x72@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Cn5lciWizs2B
								TRNjOu/W3Q==
								</data>
								<key>Size</key>
								<integer>25140</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								IcJyU76V543g
								RUdnIXKzHw==
								</data>
								<key>Size</key>
								<integer>19481</integer>
							</dict>
							<key>files/stacks-image-fedaa0e-259x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								rZyvGvC3t7y+
								/4ohjwG1Cg==
								</data>
								<key>Size</key>
								<integer>106014</integer>
							</dict>
							<key>files/stacks-image-fedaa0e-261x251.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Al9yjqWkh71Q
								EL3Vtm8hnA==
								</data>
								<key>Size</key>
								<integer>106282</integer>
							</dict>
							<key>files/stacks_page_page35.css</key>
							<dict>
								<key>Digest</key>
								<data>
								0NzQiJVd5wTj
								mT60pZV5+g==
								</data>
								<key>Size</key>
								<integer>184818</integer>
							</dict>
							<key>files/stacks_page_page35.js</key>
							<dict>
								<key>Digest</key>
								<data>
								RQeWIWe6eRyN
								p5Z0IYm8xw==
								</data>
								<key>Size</key>
								<integer>26239</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								PSWjsMrhtkYV
								D0wlL5feoA==
								</data>
								<key>Size</key>
								<integer>144066</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page35</string>
						<key>SiteRoot</key>
						<string>events/science-of-stories</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>ChildPages</string>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
