<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>NetSci Sponsors</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page59</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>NetSci Sponsors</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.6.8</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-08-16T12:32:23Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/backgroundImage_pp110888_n18_n1.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								GQHOUzuyjCs9
								Jfbg60A9OQ==
								</data>
								<key>Size</key>
								<integer>700318</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZFHf9zniv4SK
								z9ywIWAR7Q==
								</data>
								<key>Size</key>
								<integer>124861</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								5SEHlmzIRPnE
								h1Zlyu2W+A==
								</data>
								<key>Size</key>
								<integer>35205</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZP2FJ/yve/bb
								UMUDEFQ7OA==
								</data>
								<key>Size</key>
								<integer>68310</integer>
							</dict>
							<key>files/stacks-image-0c6cc01-1200x338.png</key>
							<dict>
								<key>Digest</key>
								<data>
								/6i4CunOpI/h
								PDAgDSQKGQ==
								</data>
								<key>Size</key>
								<integer>70836</integer>
							</dict>
							<key>files/stacks-image-24a3404-500x224.png</key>
							<dict>
								<key>Digest</key>
								<data>
								p0PWDefxtxJ/
								mYWr/QHZWw==
								</data>
								<key>Size</key>
								<integer>12701</integer>
							</dict>
							<key>files/stacks-image-2968668-150x150.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D+xnE6kc8lIE
								b1KBcd97/A==
								</data>
								<key>Size</key>
								<integer>11777</integer>
							</dict>
							<key>files/stacks-image-2968668-150x150@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								nZDDRkpmcO0I
								+NAo+m476A==
								</data>
								<key>Size</key>
								<integer>34905</integer>
							</dict>
							<key>files/stacks-image-34e7445-248x104.png</key>
							<dict>
								<key>Digest</key>
								<data>
								2sUkOVCAgAcp
								dV6fH0+n0w==
								</data>
								<key>Size</key>
								<integer>14766</integer>
							</dict>
							<key>files/stacks-image-34e7445-248x104@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								uOcVN3cS9ubO
								PJtjjXxijA==
								</data>
								<key>Size</key>
								<integer>36359</integer>
							</dict>
							<key>files/stacks-image-4d3140c.png</key>
							<dict>
								<key>Digest</key>
								<data>
								RVKY4j0x222n
								9kDcJ0uiQQ==
								</data>
								<key>Size</key>
								<integer>18064</integer>
							</dict>
							<key>files/stacks-image-50350b4.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								rif/KOhWt5Q/
								un8+gKHJKg==
								</data>
								<key>Size</key>
								<integer>33671</integer>
							</dict>
							<key>files/stacks-image-61fe2fb-148x138.png</key>
							<dict>
								<key>Digest</key>
								<data>
								DJgt0jKFDJ4b
								Fn/odNe+pg==
								</data>
								<key>Size</key>
								<integer>6526</integer>
							</dict>
							<key>files/stacks-image-61fe2fb-148x138@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								3UWGr+U5dzYk
								nhJsZy+SQw==
								</data>
								<key>Size</key>
								<integer>18305</integer>
							</dict>
							<key>files/stacks-image-6a88b68.png</key>
							<dict>
								<key>Digest</key>
								<data>
								eDsLKAvYnEp1
								hSTDGVejlg==
								</data>
								<key>Size</key>
								<integer>15296</integer>
							</dict>
							<key>files/stacks-image-6fb48dc-1200x488.png</key>
							<dict>
								<key>Digest</key>
								<data>
								GuHwA2GkvWbi
								SvmadcRb+g==
								</data>
								<key>Size</key>
								<integer>107278</integer>
							</dict>
							<key>files/stacks-image-7d9976e-150x128.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Wz4B5PSzp5CP
								ZTzl9L2bsA==
								</data>
								<key>Size</key>
								<integer>20634</integer>
							</dict>
							<key>files/stacks-image-7d9976e-150x128@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								1ViXyayIaoxU
								tqymwClHHA==
								</data>
								<key>Size</key>
								<integer>63491</integer>
							</dict>
							<key>files/stacks-image-7e48fa7-148x150.png</key>
							<dict>
								<key>Digest</key>
								<data>
								DDw+Vqr/eNhe
								0tRtnlCqEQ==
								</data>
								<key>Size</key>
								<integer>25681</integer>
							</dict>
							<key>files/stacks-image-7e48fa7-148x150@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								th9R1aMnNop7
								6M3i0IkyQw==
								</data>
								<key>Size</key>
								<integer>83593</integer>
							</dict>
							<key>files/stacks-image-7ef88b0-300x62.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								sh+edZdbSav9
								0Ex1ePhQJg==
								</data>
								<key>Size</key>
								<integer>9754</integer>
							</dict>
							<key>files/stacks-image-805fb33.png</key>
							<dict>
								<key>Digest</key>
								<data>
								wmr3y64p1dLv
								Ha2AV71VQQ==
								</data>
								<key>Size</key>
								<integer>2522</integer>
							</dict>
							<key>files/stacks-image-8e88332-100x104.png</key>
							<dict>
								<key>Digest</key>
								<data>
								HU9N9ocudZ8O
								ypHw3ik3hA==
								</data>
								<key>Size</key>
								<integer>15274</integer>
							</dict>
							<key>files/stacks-image-8e88332-100x104@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								YE+dgcrhhdU3
								9lbeQWrQig==
								</data>
								<key>Size</key>
								<integer>50137</integer>
							</dict>
							<key>files/stacks-image-a3bad70-200x170.png</key>
							<dict>
								<key>Digest</key>
								<data>
								LTd3rtSYw/UO
								66CMjN5v1g==
								</data>
								<key>Size</key>
								<integer>35960</integer>
							</dict>
							<key>files/stacks-image-a3bad70-200x170@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								gQifc4f3O29z
								/0MzMQYUtA==
								</data>
								<key>Size</key>
								<integer>111879</integer>
							</dict>
							<key>files/stacks-image-aaee00a.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								obaKPfrSEyni
								lRN+PF0aGA==
								</data>
								<key>Size</key>
								<integer>37226</integer>
							</dict>
							<key>files/stacks-image-b30865a.png</key>
							<dict>
								<key>Digest</key>
								<data>
								LVN6rbV2QdyG
								lVx/4pD8cA==
								</data>
								<key>Size</key>
								<integer>34508</integer>
							</dict>
							<key>files/stacks-image-cc75d0b-150x138.png</key>
							<dict>
								<key>Digest</key>
								<data>
								skaUCcqiaV40
								BjAmCIP0vw==
								</data>
								<key>Size</key>
								<integer>21531</integer>
							</dict>
							<key>files/stacks-image-cc75d0b-150x138@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								P2WhNfZNh37D
								+/EldxphRg==
								</data>
								<key>Size</key>
								<integer>67264</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								FWLv4iC2Yarl
								ySGORUZ3Iw==
								</data>
								<key>Size</key>
								<integer>19413</integer>
							</dict>
							<key>files/stacks-image-eaa7bd3-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								SrehxleURey0
								/AYibDl4KA==
								</data>
								<key>Size</key>
								<integer>74903</integer>
							</dict>
							<key>files/stacks-image-eaa7bd3-200x200@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								fzbCll8iOYNu
								rbUz/a6mAw==
								</data>
								<key>Size</key>
								<integer>265323</integer>
							</dict>
							<key>files/stacks-image-f332e12.png</key>
							<dict>
								<key>Digest</key>
								<data>
								rzfTtx6ywXOR
								Yn29hLGKig==
								</data>
								<key>Size</key>
								<integer>8378</integer>
							</dict>
							<key>files/stacks-image-f5f8092.png</key>
							<dict>
								<key>Digest</key>
								<data>
								7+0xcCXOk8Sr
								rTDuJ+BbLg==
								</data>
								<key>Size</key>
								<integer>12393</integer>
							</dict>
							<key>files/stacks-image-f793485-1200x360.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								yW3JowtF3Fey
								i3AQIDStYw==
								</data>
								<key>Size</key>
								<integer>59895</integer>
							</dict>
							<key>files/stacks-image-fd0e8b0-248x56.png</key>
							<dict>
								<key>Digest</key>
								<data>
								xbuJ2rziJrvi
								GGDomNbt6A==
								</data>
								<key>Size</key>
								<integer>16266</integer>
							</dict>
							<key>files/stacks_page_page59.css</key>
							<dict>
								<key>Digest</key>
								<data>
								f28CnX0P7s7q
								3FI0Fo41Jw==
								</data>
								<key>Size</key>
								<integer>151951</integer>
							</dict>
							<key>files/stacks_page_page59.js</key>
							<dict>
								<key>Digest</key>
								<data>
								HK50xyo5122H
								IJ4FYVvrSA==
								</data>
								<key>Size</key>
								<integer>24324</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								lX89Cnc1TqSZ
								062pyVH+qA==
								</data>
								<key>Size</key>
								<integer>82155</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page59</string>
						<key>SiteRoot</key>
						<string>events/netsci/sponsors</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
