<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>External Faculty</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page94</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>External Faculty </string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.2.5</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2022-12-09T15:34:55Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small-109623-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/small-109710-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JfxF8Omi0icK
								xIwohpIZqw==
								</data>
								<key>Size</key>
								<integer>77487</integer>
							</dict>
							<key>files/small-109714-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2NMhf1k+YDl
								uPpd6H1dBw==
								</data>
								<key>Size</key>
								<integer>15019</integer>
							</dict>
							<key>files/small-109735-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D2nm4R7babci
								2M5NjfUDZQ==
								</data>
								<key>Size</key>
								<integer>18925</integer>
							</dict>
							<key>files/small-109736-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgRiuB3NhhIh
								SwZTifI18g==
								</data>
								<key>Size</key>
								<integer>21987</integer>
							</dict>
							<key>files/stacks-image-000b83c-300x262.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								AjyATyENrYfG
								9BaEyC3oVQ==
								</data>
								<key>Size</key>
								<integer>17171</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JV5ejNT3Y8/E
								W0wI16l5/Q==
								</data>
								<key>Size</key>
								<integer>35252</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Su+ZpJd1NY34
								s0J16tjsFg==
								</data>
								<key>Size</key>
								<integer>68409</integer>
							</dict>
							<key>files/stacks-image-1002011-300x350.png</key>
							<dict>
								<key>Digest</key>
								<data>
								oIHPLK1OI6Xj
								OcKHM2tjTw==
								</data>
								<key>Size</key>
								<integer>163142</integer>
							</dict>
							<key>files/stacks-image-1002011-300x350@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								G2KwjMw4Msgz
								rIFvhB7xYw==
								</data>
								<key>Size</key>
								<integer>564769</integer>
							</dict>
							<key>files/stacks-image-2802bbf-300x350.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								kPHBpX0tOyGr
								rgXiB7DudA==
								</data>
								<key>Size</key>
								<integer>17933</integer>
							</dict>
							<key>files/stacks-image-2c86e5c-300x350.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Fz8gsX4sLDMN
								dDm1hesYLw==
								</data>
								<key>Size</key>
								<integer>27051</integer>
							</dict>
							<key>files/stacks-image-2c86e5c-300x350@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								a4KkjJsAHZrl
								fPKb7rYHmg==
								</data>
								<key>Size</key>
								<integer>45022</integer>
							</dict>
							<key>files/stacks-image-3132463-300x300.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								p726uUF2dlJR
								ELdKVBQU3Q==
								</data>
								<key>Size</key>
								<integer>15656</integer>
							</dict>
							<key>files/stacks-image-3eb7b3f-300x350.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								l0ms6z6wRf55
								6G0/AT1auA==
								</data>
								<key>Size</key>
								<integer>34963</integer>
							</dict>
							<key>files/stacks-image-3f16e60-300x298.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								HSjC0sHmXgub
								qgte7qQI3w==
								</data>
								<key>Size</key>
								<integer>22488</integer>
							</dict>
							<key>files/stacks-image-3f16e60-300x298@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								4hDNsyorD5MD
								QTNuX2Wq1Q==
								</data>
								<key>Size</key>
								<integer>36931</integer>
							</dict>
							<key>files/stacks-image-4763906.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								FTCCQ5QigUWB
								rr7gUTUnFQ==
								</data>
								<key>Size</key>
								<integer>82742</integer>
							</dict>
							<key>files/stacks-image-4a1594e.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								vqxxAEMk+ctF
								chGdP/9ZsQ==
								</data>
								<key>Size</key>
								<integer>58637</integer>
							</dict>
							<key>files/stacks-image-5197a6d-300x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								mlYOVaYFHTuX
								gWK+2n5/iw==
								</data>
								<key>Size</key>
								<integer>12249</integer>
							</dict>
							<key>files/stacks-image-5197a6d-300x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								mrXLaYxalt/b
								0z9/iqXAHA==
								</data>
								<key>Size</key>
								<integer>17006</integer>
							</dict>
							<key>files/stacks-image-5518809-300x256.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								5J65SV8/66H9
								NaJDpRWeMA==
								</data>
								<key>Size</key>
								<integer>30907</integer>
							</dict>
							<key>files/stacks-image-5518809-300x256@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								4NetCrzPEA7/
								fRx6xrb0SQ==
								</data>
								<key>Size</key>
								<integer>53372</integer>
							</dict>
							<key>files/stacks-image-5d54d29.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								RYcT4wU90EOn
								Tn92cdVRLA==
								</data>
								<key>Size</key>
								<integer>7369</integer>
							</dict>
							<key>files/stacks-image-5d6979e-300x322.png</key>
							<dict>
								<key>Digest</key>
								<data>
								KcaeZoqiWTh5
								uCqRQ4HYHQ==
								</data>
								<key>Size</key>
								<integer>171280</integer>
							</dict>
							<key>files/stacks-image-5d6979e-300x322@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								sp2k7+WjOQ6Z
								WgHrjltK4w==
								</data>
								<key>Size</key>
								<integer>672463</integer>
							</dict>
							<key>files/stacks-image-662401b-300x350.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								xMydPNnDiAov
								TWZff6Frew==
								</data>
								<key>Size</key>
								<integer>38633</integer>
							</dict>
							<key>files/stacks-image-6af183c-300x350.png</key>
							<dict>
								<key>Digest</key>
								<data>
								lkwGTwsAlLS2
								Hh4dqHYwFw==
								</data>
								<key>Size</key>
								<integer>226670</integer>
							</dict>
							<key>files/stacks-image-6d9ca75-300x350.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								VhRMnLzELn7H
								F4AmKKZgOw==
								</data>
								<key>Size</key>
								<integer>18132</integer>
							</dict>
							<key>files/stacks-image-78bb7b9-300x324.png</key>
							<dict>
								<key>Digest</key>
								<data>
								tFRzvljKdIDx
								QcUrh/EO7w==
								</data>
								<key>Size</key>
								<integer>151225</integer>
							</dict>
							<key>files/stacks-image-78bb7b9-300x324@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								OEa7kTrpazY+
								N/CDnfa/6w==
								</data>
								<key>Size</key>
								<integer>517488</integer>
							</dict>
							<key>files/stacks-image-79fb775-300x350.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								8Dafj4k6LqPP
								PScp36nl3g==
								</data>
								<key>Size</key>
								<integer>20504</integer>
							</dict>
							<key>files/stacks-image-7f88ddc-300x350.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								mtJ+ulolkK8I
								bExmF0C13g==
								</data>
								<key>Size</key>
								<integer>24614</integer>
							</dict>
							<key>files/stacks-image-8ae62b5-300x300.png</key>
							<dict>
								<key>Digest</key>
								<data>
								rcmT6D2PLv+r
								/sYzL7OQxg==
								</data>
								<key>Size</key>
								<integer>192108</integer>
							</dict>
							<key>files/stacks-image-941e3da-300x198.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								uibqY2LE8ZKh
								29QfEaaUnA==
								</data>
								<key>Size</key>
								<integer>8097</integer>
							</dict>
							<key>files/stacks-image-972fdf4-300x300.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								FSNxMBqg0HyN
								evynKm3h9Q==
								</data>
								<key>Size</key>
								<integer>36219</integer>
							</dict>
							<key>files/stacks-image-9f7d73f-300x216.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								AYrICCRnLRy8
								USrJeCJ7wA==
								</data>
								<key>Size</key>
								<integer>18993</integer>
							</dict>
							<key>files/stacks-image-a2c194c-300x350.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								jdEYyNUUkm6L
								h+fq0FGUGw==
								</data>
								<key>Size</key>
								<integer>24390</integer>
							</dict>
							<key>files/stacks-image-abbba8f-300x350.png</key>
							<dict>
								<key>Digest</key>
								<data>
								cWj53DhU/USk
								/WCTAIkELg==
								</data>
								<key>Size</key>
								<integer>189722</integer>
							</dict>
							<key>files/stacks-image-abbba8f-300x350@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								5Iad/+MEFZbj
								FuPm3cBdbA==
								</data>
								<key>Size</key>
								<integer>717000</integer>
							</dict>
							<key>files/stacks-image-bd6dcce-300x256.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								5J65SV8/66H9
								NaJDpRWeMA==
								</data>
								<key>Size</key>
								<integer>30907</integer>
							</dict>
							<key>files/stacks-image-bd6dcce-300x256@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								4NetCrzPEA7/
								fRx6xrb0SQ==
								</data>
								<key>Size</key>
								<integer>53372</integer>
							</dict>
							<key>files/stacks-image-c304529-300x350.png</key>
							<dict>
								<key>Digest</key>
								<data>
								a4Gfv7BlgJJ4
								J+7WUOD6HA==
								</data>
								<key>Size</key>
								<integer>36922</integer>
							</dict>
							<key>files/stacks-image-c742e83-300x350.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								H0rfo2jILu4w
								lrvOBLzFYQ==
								</data>
								<key>Size</key>
								<integer>17217</integer>
							</dict>
							<key>files/stacks-image-c742e83-300x350@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								oMMXsk/F7Jci
								sKqarmd8/w==
								</data>
								<key>Size</key>
								<integer>26518</integer>
							</dict>
							<key>files/stacks-image-cf2d479-300x350.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								AcLMdV8SE3Vz
								OcTdpu1ygg==
								</data>
								<key>Size</key>
								<integer>16084</integer>
							</dict>
							<key>files/stacks-image-d60e596-300x300.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								XH509kXvJ64r
								Y7qCs0+W6g==
								</data>
								<key>Size</key>
								<integer>31510</integer>
							</dict>
							<key>files/stacks-image-e7c7152-300x312.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								o+0u4LTWxgKg
								u519/NzwjQ==
								</data>
								<key>Size</key>
								<integer>18529</integer>
							</dict>
							<key>files/stacks-image-e7c7152-300x312@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Mbo+VX83CsfB
								KAakf8ge/w==
								</data>
								<key>Size</key>
								<integer>31617</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								0LBTZh9Y4iZ6
								By0DZuC++A==
								</data>
								<key>Size</key>
								<integer>19463</integer>
							</dict>
							<key>files/stacks-image-f9bef41-300x350.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								LAWtFLazA4N3
								/0WCwCkVMQ==
								</data>
								<key>Size</key>
								<integer>21093</integer>
							</dict>
							<key>files/stacks-image-f9bef41-300x350@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								RJIdxv7DIaMG
								3JBCbZiyuw==
								</data>
								<key>Size</key>
								<integer>36388</integer>
							</dict>
							<key>files/stacks_page_page94.css</key>
							<dict>
								<key>Digest</key>
								<data>
								6FHorob8nBWR
								dnlylj1Ecg==
								</data>
								<key>Size</key>
								<integer>288343</integer>
							</dict>
							<key>files/stacks_page_page94.js</key>
							<dict>
								<key>Digest</key>
								<data>
								D30hRPlA3PU0
								+xKpILMlSw==
								</data>
								<key>Size</key>
								<integer>26935</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								3ZXUcgPTYhH4
								/kiI+5525w==
								</data>
								<key>Size</key>
								<integer>214653</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page94</string>
						<key>SiteRoot</key>
						<string>people/external-faculty</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
