<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Science of Stories</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page35</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Symposium - Science of Stories</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.3.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2024-10-02T18:15:42Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small-109623-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/small-109710-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JfxF8Omi0icK
								xIwohpIZqw==
								</data>
								<key>Size</key>
								<integer>77487</integer>
							</dict>
							<key>files/small-109714-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2NMhf1k+YDl
								uPpd6H1dBw==
								</data>
								<key>Size</key>
								<integer>15019</integer>
							</dict>
							<key>files/small-109735-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D2nm4R7babci
								2M5NjfUDZQ==
								</data>
								<key>Size</key>
								<integer>18925</integer>
							</dict>
							<key>files/small-109736-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgRiuB3NhhIh
								SwZTifI18g==
								</data>
								<key>Size</key>
								<integer>21987</integer>
							</dict>
							<key>files/small-109872.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Yb+L/heiX6tP
								YliFF2auMA==
								</data>
								<key>Size</key>
								<integer>269913</integer>
							</dict>
							<key>files/stacks-image-04756dc-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MojkrAZNvDsH
								pOzOCAZspw==
								</data>
								<key>Size</key>
								<integer>103516</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JV5ejNT3Y8/E
								W0wI16l5/Q==
								</data>
								<key>Size</key>
								<integer>35252</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Su+ZpJd1NY34
								s0J16tjsFg==
								</data>
								<key>Size</key>
								<integer>68409</integer>
							</dict>
							<key>files/stacks-image-173d8dd-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								OmGiGjfttocU
								L2w9Lw8dAg==
								</data>
								<key>Size</key>
								<integer>107200</integer>
							</dict>
							<key>files/stacks-image-19cb322-250x256.png</key>
							<dict>
								<key>Digest</key>
								<data>
								4zX/boOwblR5
								HxHu3ADc1g==
								</data>
								<key>Size</key>
								<integer>98934</integer>
							</dict>
							<key>files/stacks-image-1aebfb5-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JVU7ZMjrGeSn
								jbWk60HjZQ==
								</data>
								<key>Size</key>
								<integer>94299</integer>
							</dict>
							<key>files/stacks-image-1aebfb5-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zFV17x6f/i10
								HN//2jgcQQ==
								</data>
								<key>Size</key>
								<integer>335670</integer>
							</dict>
							<key>files/stacks-image-1b7cfd7-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								wnM4qYoA7RBx
								zuqeU+azkQ==
								</data>
								<key>Size</key>
								<integer>83727</integer>
							</dict>
							<key>files/stacks-image-1cd049f-250x256.png</key>
							<dict>
								<key>Digest</key>
								<data>
								iD02Xt9fx5qH
								3Ye1a1BRFg==
								</data>
								<key>Size</key>
								<integer>105992</integer>
							</dict>
							<key>files/stacks-image-22d1215-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								wnM4qYoA7RBx
								zuqeU+azkQ==
								</data>
								<key>Size</key>
								<integer>83727</integer>
							</dict>
							<key>files/stacks-image-3b3cfea-261x251.png</key>
							<dict>
								<key>Digest</key>
								<data>
								rjW3QRwmZabA
								vD9JswEiLA==
								</data>
								<key>Size</key>
								<integer>70309</integer>
							</dict>
							<key>files/stacks-image-40a568b-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								KJ7ahQe4MOPy
								4HpnvIbWQg==
								</data>
								<key>Size</key>
								<integer>93419</integer>
							</dict>
							<key>files/stacks-image-4935364-261x251.png</key>
							<dict>
								<key>Digest</key>
								<data>
								CWYkM8YXY2zO
								D/H9gNM/DQ==
								</data>
								<key>Size</key>
								<integer>126783</integer>
							</dict>
							<key>files/stacks-image-4935364-261x251@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								LwWVdeO1dbVB
								13xX5ovu8g==
								</data>
								<key>Size</key>
								<integer>462269</integer>
							</dict>
							<key>files/stacks-image-4df5cda.png</key>
							<dict>
								<key>Digest</key>
								<data>
								YgptBbFzQoqL
								rKiDtkMUPg==
								</data>
								<key>Size</key>
								<integer>107302</integer>
							</dict>
							<key>files/stacks-image-6efad1d-250x256.png</key>
							<dict>
								<key>Digest</key>
								<data>
								R85rumOtuvmt
								Nrc2py3eZQ==
								</data>
								<key>Size</key>
								<integer>117307</integer>
							</dict>
							<key>files/stacks-image-79e9ee7.png</key>
							<dict>
								<key>Digest</key>
								<data>
								chmdSR2cEweM
								Eplrb+Djnw==
								</data>
								<key>Size</key>
								<integer>94289</integer>
							</dict>
							<key>files/stacks-image-8364b1f-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								0DbsKxoB7kyM
								AjBrUEvNbQ==
								</data>
								<key>Size</key>
								<integer>82732</integer>
							</dict>
							<key>files/stacks-image-8364b1f-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								PCSznoEC7d56
								9ktXeXcIQA==
								</data>
								<key>Size</key>
								<integer>274052</integer>
							</dict>
							<key>files/stacks-image-8387376-251x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								rSIcTVF0qKrx
								BjOJ/zqe3g==
								</data>
								<key>Size</key>
								<integer>92273</integer>
							</dict>
							<key>files/stacks-image-8387376-251x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								0jDIiGf6bg7f
								I4bTu0KNGQ==
								</data>
								<key>Size</key>
								<integer>329363</integer>
							</dict>
							<key>files/stacks-image-9268316-254x307.png</key>
							<dict>
								<key>Digest</key>
								<data>
								j0p5S119cGic
								rQkKaaZvKg==
								</data>
								<key>Size</key>
								<integer>102443</integer>
							</dict>
							<key>files/stacks-image-9399623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								wR0JgUS1XI1O
								VhaAJs6dNw==
								</data>
								<key>Size</key>
								<integer>66878</integer>
							</dict>
							<key>files/stacks-image-95b64f0-259x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								k3fv3KD3AQ93
								wyxg4axapA==
								</data>
								<key>Size</key>
								<integer>108788</integer>
							</dict>
							<key>files/stacks-image-9b65a45-261x251.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Hiw5mCwe09nw
								nuOFhLsHjw==
								</data>
								<key>Size</key>
								<integer>101122</integer>
							</dict>
							<key>files/stacks-image-a4d3338-1200x800.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								p7QtpmhauUI/
								gE7/NkK0LQ==
								</data>
								<key>Size</key>
								<integer>589094</integer>
							</dict>
							<key>files/stacks-image-b5d4a25-261x251.png</key>
							<dict>
								<key>Digest</key>
								<data>
								tJ9jYXevuaBI
								bI6hezjQ0g==
								</data>
								<key>Size</key>
								<integer>103926</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x256.png</key>
							<dict>
								<key>Digest</key>
								<data>
								6KRCijRCyDQc
								8Qn6/KXA2A==
								</data>
								<key>Size</key>
								<integer>100759</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x256@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								DOlGpcG87tZ/
								Ew73CvcEuA==
								</data>
								<key>Size</key>
								<integer>353032</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								IxZwRv91Z5AF
								mVcIKfznCQ==
								</data>
								<key>Size</key>
								<integer>100889</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								gjzy4seweBRV
								q9xgwigcRA==
								</data>
								<key>Size</key>
								<integer>353488</integer>
							</dict>
							<key>files/stacks-image-c9f8f3e-300x168.png</key>
							<dict>
								<key>Digest</key>
								<data>
								j3Rrrrkv4esM
								W/hpwdTGiQ==
								</data>
								<key>Size</key>
								<integer>37212</integer>
							</dict>
							<key>files/stacks-image-e4ff3fb-250x72.png</key>
							<dict>
								<key>Digest</key>
								<data>
								qwTScsKdWyDa
								+wKc66KKAg==
								</data>
								<key>Size</key>
								<integer>11322</integer>
							</dict>
							<key>files/stacks-image-e4ff3fb-250x72@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								eXv1CEHeoGxP
								QDyfMrO/Uw==
								</data>
								<key>Size</key>
								<integer>25126</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								0LBTZh9Y4iZ6
								By0DZuC++A==
								</data>
								<key>Size</key>
								<integer>19463</integer>
							</dict>
							<key>files/stacks-image-fedaa0e-259x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								YUGwUWTKg/EM
								DPHE585cIQ==
								</data>
								<key>Size</key>
								<integer>106017</integer>
							</dict>
							<key>files/stacks-image-fedaa0e-261x251.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Oief44lMQbed
								OF9JL4xeag==
								</data>
								<key>Size</key>
								<integer>106244</integer>
							</dict>
							<key>files/stacks_page_page35.css</key>
							<dict>
								<key>Digest</key>
								<data>
								Fq06dbJ/zp93
								WDRht6we/w==
								</data>
								<key>Size</key>
								<integer>184821</integer>
							</dict>
							<key>files/stacks_page_page35.js</key>
							<dict>
								<key>Digest</key>
								<data>
								6sTBGsNrzwMr
								Id5G2Isohw==
								</data>
								<key>Size</key>
								<integer>27048</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								ZwCaqf3ywMNW
								o47CtUEaUQ==
								</data>
								<key>Size</key>
								<integer>145101</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page35</string>
						<key>SiteRoot</key>
						<string>events/science-of-stories</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>ChildPages</string>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
