<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>CustomThemeName</key>
				<string>Foundation</string>
				<key>ID</key>
				<string>page34</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Symposium - Health and Wellness</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.6.5</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-01-15T17:40:06Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/backgroundImage_110345.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								syd5ScMzK+Md
								76SbQPb+5w==
								</data>
								<key>Size</key>
								<integer>438998</integer>
							</dict>
							<key>files/small_109872.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Yb+L/heiX6tP
								YliFF2auMA==
								</data>
								<key>Size</key>
								<integer>269913</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZFHf9zniv4SK
								z9ywIWAR7Q==
								</data>
								<key>Size</key>
								<integer>124861</integer>
							</dict>
							<key>files/stacks-image-049024f-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								jo+oWHm7GeQe
								hLXCpLOAgw==
								</data>
								<key>Size</key>
								<integer>114420</integer>
							</dict>
							<key>files/stacks-image-049024f-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								jJD2u9g5k5Em
								B039eeTZ9g==
								</data>
								<key>Size</key>
								<integer>401336</integer>
							</dict>
							<key>files/stacks-image-062a04b-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								63qOJZD98mt9
								HZhGCtdvIQ==
								</data>
								<key>Size</key>
								<integer>89923</integer>
							</dict>
							<key>files/stacks-image-062a04b-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								aZ6PcHB1+DwK
								wDwlM5GwGQ==
								</data>
								<key>Size</key>
								<integer>326360</integer>
							</dict>
							<key>files/stacks-image-1893018-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								J7OxNlUesYnU
								tSxKwxT2CQ==
								</data>
								<key>Size</key>
								<integer>51378</integer>
							</dict>
							<key>files/stacks-image-2058ce3-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								PCZpF5TiTWqg
								jKYPwL3hjg==
								</data>
								<key>Size</key>
								<integer>47230</integer>
							</dict>
							<key>files/stacks-image-2a6716e-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								kuMqyUQOyCdF
								3j4X1nF0JA==
								</data>
								<key>Size</key>
								<integer>84966</integer>
							</dict>
							<key>files/stacks-image-38af08b-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								2EgBAIL3FIk9
								qeAFvCufNA==
								</data>
								<key>Size</key>
								<integer>116032</integer>
							</dict>
							<key>files/stacks-image-48ee80b-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								LgIM9wnb0gVa
								ge7RSU+Slg==
								</data>
								<key>Size</key>
								<integer>90591</integer>
							</dict>
							<key>files/stacks-image-48ee80b-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								2wzTudHyJQqB
								Zxq7jihBHw==
								</data>
								<key>Size</key>
								<integer>336849</integer>
							</dict>
							<key>files/stacks-image-555e842-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								U7h5XFv0RgCY
								gKcEYhkfow==
								</data>
								<key>Size</key>
								<integer>90992</integer>
							</dict>
							<key>files/stacks-image-580baf6-248x248.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								yZQqhuEMgia3
								owVDiEQk8g==
								</data>
								<key>Size</key>
								<integer>13322</integer>
							</dict>
							<key>files/stacks-image-799943b-750x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								8vuwVjI5Zm/x
								WCod5eQJbg==
								</data>
								<key>Size</key>
								<integer>29706</integer>
							</dict>
							<key>files/stacks-image-799943b-750x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								2UPKFHiDhBis
								FgHSBekAMw==
								</data>
								<key>Size</key>
								<integer>76508</integer>
							</dict>
							<key>files/stacks-image-7ceb613-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								McXG2NQGbpCF
								Ck0SJIPx5Q==
								</data>
								<key>Size</key>
								<integer>107043</integer>
							</dict>
							<key>files/stacks-image-7ceb613-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								aGNY+u/0/UGt
								gjYvBloniA==
								</data>
								<key>Size</key>
								<integer>378676</integer>
							</dict>
							<key>files/stacks-image-90966db-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								kcVxqK0Y23YI
								Ns11kdYJ6w==
								</data>
								<key>Size</key>
								<integer>21714</integer>
							</dict>
							<key>files/stacks-image-9268316-250x303.png</key>
							<dict>
								<key>Digest</key>
								<data>
								3vduYcWU3ZU6
								O32/nF/wrg==
								</data>
								<key>Size</key>
								<integer>99716</integer>
							</dict>
							<key>files/stacks-image-92e3075-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								jo+oWHm7GeQe
								hLXCpLOAgw==
								</data>
								<key>Size</key>
								<integer>114420</integer>
							</dict>
							<key>files/stacks-image-92e3075-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								jJD2u9g5k5Em
								B039eeTZ9g==
								</data>
								<key>Size</key>
								<integer>401336</integer>
							</dict>
							<key>files/stacks-image-a036329-156x248.png</key>
							<dict>
								<key>Digest</key>
								<data>
								TcQ/qPCAt7Iu
								M+Vfo9wKLA==
								</data>
								<key>Size</key>
								<integer>13286</integer>
							</dict>
							<key>files/stacks-image-a036329-156x248@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								6HPGH+LAh1Ok
								ufT0bo9urw==
								</data>
								<key>Size</key>
								<integer>30042</integer>
							</dict>
							<key>files/stacks-image-a3e2147-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								2EgBAIL3FIk9
								qeAFvCufNA==
								</data>
								<key>Size</key>
								<integer>116032</integer>
							</dict>
							<key>files/stacks-image-a4d3338-1198x798.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ZICvyrXh8/t7
								EJ4s8DeywQ==
								</data>
								<key>Size</key>
								<integer>552920</integer>
							</dict>
							<key>files/stacks-image-a86e0b9-1200x354.png</key>
							<dict>
								<key>Digest</key>
								<data>
								uaHHzkoOdZCw
								vUg2x+irtg==
								</data>
								<key>Size</key>
								<integer>89315</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x261.png</key>
							<dict>
								<key>Digest</key>
								<data>
								4y5PfTVLdVYB
								M0UiscKH8w==
								</data>
								<key>Size</key>
								<integer>99799</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x261@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MId+fK/caS2W
								wXlidXqj/A==
								</data>
								<key>Size</key>
								<integer>353205</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x264.png</key>
							<dict>
								<key>Digest</key>
								<data>
								c1Q1fmsE7X/x
								IqPrWXMLHg==
								</data>
								<key>Size</key>
								<integer>100733</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x264@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								jQQtnhjQkUcM
								SAqQON9vBg==
								</data>
								<key>Size</key>
								<integer>353305</integer>
							</dict>
							<key>files/stacks-image-c381c2a-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								OCXG9NUJe9Di
								EYJ8UGQAGg==
								</data>
								<key>Size</key>
								<integer>118116</integer>
							</dict>
							<key>files/stacks-image-c381c2a-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								c5YfwHyGcZQ6
								Nnmn7+L5rg==
								</data>
								<key>Size</key>
								<integer>397443</integer>
							</dict>
							<key>files/stacks-image-e5aa8ea-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								SwHbUY/w4uJZ
								LGxA4gAHTw==
								</data>
								<key>Size</key>
								<integer>92114</integer>
							</dict>
							<key>files/stacks-image-e9cecfd-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								1IAccNlOf0pC
								89E2KVVo0g==
								</data>
								<key>Size</key>
								<integer>92085</integer>
							</dict>
							<key>files/stacks-image-f0a1e8a-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								U7h5XFv0RgCY
								gKcEYhkfow==
								</data>
								<key>Size</key>
								<integer>90992</integer>
							</dict>
							<key>files/stacks_page_page34.css</key>
							<dict>
								<key>Digest</key>
								<data>
								pyysAYrY3oml
								Ppqz/hMfEQ==
								</data>
								<key>Size</key>
								<integer>191262</integer>
							</dict>
							<key>files/stacks_page_page34.js</key>
							<dict>
								<key>Digest</key>
								<data>
								efCV8wQFcIdl
								xYbGN3MJ6Q==
								</data>
								<key>Size</key>
								<integer>26533</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								klAiDuCY4wgi
								I0FHv6wSyw==
								</data>
								<key>Size</key>
								<integer>127908</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page34</string>
						<key>SiteRoot</key>
						<string>events/health-and-wellness</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>ChildPages</string>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
