<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>CustomThemeName</key>
				<string>Foundation</string>
				<key>ID</key>
				<string>page34</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Symposium - Health and Wellness</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.6.1</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2018-09-10T20:29:00Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/backgroundImage_110345.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								syd5ScMzK+Md
								76SbQPb+5w==
								</data>
								<key>Size</key>
								<integer>438998</integer>
							</dict>
							<key>files/small_109872.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Yb+L/heiX6tP
								YliFF2auMA==
								</data>
								<key>Size</key>
								<integer>269913</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZFHf9zniv4SK
								z9ywIWAR7Q==
								</data>
								<key>Size</key>
								<integer>124861</integer>
							</dict>
							<key>files/stacks-image-049024f-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								c1UCR/sFBLCH
								zn5n5UJwOA==
								</data>
								<key>Size</key>
								<integer>114477</integer>
							</dict>
							<key>files/stacks-image-049024f-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								hUfRkkISOpi4
								M81sAcHQ1g==
								</data>
								<key>Size</key>
								<integer>402239</integer>
							</dict>
							<key>files/stacks-image-062a04b-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								eQ9Rh52FGIe7
								UYosePi0aA==
								</data>
								<key>Size</key>
								<integer>89870</integer>
							</dict>
							<key>files/stacks-image-062a04b-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								2B7IB/yHoOnv
								HElNONFqwA==
								</data>
								<key>Size</key>
								<integer>329420</integer>
							</dict>
							<key>files/stacks-image-1893018-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								UL1lx9Jmq6hF
								vAlK5orB6w==
								</data>
								<key>Size</key>
								<integer>51388</integer>
							</dict>
							<key>files/stacks-image-2058ce3-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZRC2NrSeL/9y
								yjtAupB0iA==
								</data>
								<key>Size</key>
								<integer>47260</integer>
							</dict>
							<key>files/stacks-image-2a6716e-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								mnzgKuqr0m9E
								I/UFfknqfg==
								</data>
								<key>Size</key>
								<integer>84922</integer>
							</dict>
							<key>files/stacks-image-38af08b-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgqZvEALTUts
								d6df1U3bjQ==
								</data>
								<key>Size</key>
								<integer>115798</integer>
							</dict>
							<key>files/stacks-image-48ee80b-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								7K6PSQh9mROR
								+7K5Nsj+3w==
								</data>
								<key>Size</key>
								<integer>90798</integer>
							</dict>
							<key>files/stacks-image-48ee80b-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								6zdIUUehofVi
								nwpnAVNoCw==
								</data>
								<key>Size</key>
								<integer>338288</integer>
							</dict>
							<key>files/stacks-image-555e842-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Th4ZQ3m162Hz
								RpEAXGMHWw==
								</data>
								<key>Size</key>
								<integer>90979</integer>
							</dict>
							<key>files/stacks-image-580baf6-248x248.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								OGSW8MSxffNf
								eqQN8VH97Q==
								</data>
								<key>Size</key>
								<integer>13349</integer>
							</dict>
							<key>files/stacks-image-799943b-750x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								QItmjV1ggL6b
								efG75dMJdw==
								</data>
								<key>Size</key>
								<integer>29480</integer>
							</dict>
							<key>files/stacks-image-799943b-750x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								QVUhkk6Dt7iw
								/XqmB3b5AA==
								</data>
								<key>Size</key>
								<integer>76074</integer>
							</dict>
							<key>files/stacks-image-7ceb613-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								+tv/HsN8D/Dd
								+mwdKel4Zg==
								</data>
								<key>Size</key>
								<integer>107548</integer>
							</dict>
							<key>files/stacks-image-7ceb613-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								KXvmS9DAvlAp
								SxELDYlXxQ==
								</data>
								<key>Size</key>
								<integer>380074</integer>
							</dict>
							<key>files/stacks-image-90966db-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								YpjTgVVBaf31
								xzRYJpWpzQ==
								</data>
								<key>Size</key>
								<integer>21870</integer>
							</dict>
							<key>files/stacks-image-9268316-250x303.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Ep/9fYVA4ZG7
								A9Dh1qCO4g==
								</data>
								<key>Size</key>
								<integer>99800</integer>
							</dict>
							<key>files/stacks-image-92e3075-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								c1UCR/sFBLCH
								zn5n5UJwOA==
								</data>
								<key>Size</key>
								<integer>114477</integer>
							</dict>
							<key>files/stacks-image-92e3075-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								hUfRkkISOpi4
								M81sAcHQ1g==
								</data>
								<key>Size</key>
								<integer>402239</integer>
							</dict>
							<key>files/stacks-image-a036329-156x248.png</key>
							<dict>
								<key>Digest</key>
								<data>
								RTWYlmmLWn6R
								HTW0sQzOjw==
								</data>
								<key>Size</key>
								<integer>13409</integer>
							</dict>
							<key>files/stacks-image-a036329-156x248@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								NEc9Uv2d3WDh
								2s5rzRXy9A==
								</data>
								<key>Size</key>
								<integer>30479</integer>
							</dict>
							<key>files/stacks-image-a3e2147-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgqZvEALTUts
								d6df1U3bjQ==
								</data>
								<key>Size</key>
								<integer>115798</integer>
							</dict>
							<key>files/stacks-image-a4d3338-1198x798.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								3YW7fsJffz3y
								xSIicOAdcA==
								</data>
								<key>Size</key>
								<integer>553274</integer>
							</dict>
							<key>files/stacks-image-a86e0b9-1200x354.png</key>
							<dict>
								<key>Digest</key>
								<data>
								CTkxOl9nw86Q
								e4c/9FO+ZQ==
								</data>
								<key>Size</key>
								<integer>89355</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x261.png</key>
							<dict>
								<key>Digest</key>
								<data>
								2a33aPMuWlIG
								4xQanQANSQ==
								</data>
								<key>Size</key>
								<integer>100241</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x261@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								qznoTS82TEfe
								ArlUZYiftA==
								</data>
								<key>Size</key>
								<integer>354263</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x264.png</key>
							<dict>
								<key>Digest</key>
								<data>
								aAhKilfmY8y9
								99tUn/0ElQ==
								</data>
								<key>Size</key>
								<integer>101534</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x264@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								CWim7WXJ/Bma
								BoeCPBY+TQ==
								</data>
								<key>Size</key>
								<integer>354377</integer>
							</dict>
							<key>files/stacks-image-c381c2a-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								bZp1B1xTcikI
								WCPQd9oHJw==
								</data>
								<key>Size</key>
								<integer>118411</integer>
							</dict>
							<key>files/stacks-image-c381c2a-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								M8zMJ8Y240mZ
								qx5QoawjFg==
								</data>
								<key>Size</key>
								<integer>398721</integer>
							</dict>
							<key>files/stacks-image-e5aa8ea-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								nNZ0CqQGihyE
								0J726E/Mag==
								</data>
								<key>Size</key>
								<integer>91685</integer>
							</dict>
							<key>files/stacks-image-e9cecfd-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								1IAccNlOf0pC
								89E2KVVo0g==
								</data>
								<key>Size</key>
								<integer>92085</integer>
							</dict>
							<key>files/stacks-image-f0a1e8a-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Th4ZQ3m162Hz
								RpEAXGMHWw==
								</data>
								<key>Size</key>
								<integer>90979</integer>
							</dict>
							<key>files/stacks_page_page34.css</key>
							<dict>
								<key>Digest</key>
								<data>
								n/N55XvDCNV/
								5mkpobn2tQ==
								</data>
								<key>Size</key>
								<integer>192100</integer>
							</dict>
							<key>files/stacks_page_page34.js</key>
							<dict>
								<key>Digest</key>
								<data>
								efCV8wQFcIdl
								xYbGN3MJ6Q==
								</data>
								<key>Size</key>
								<integer>26533</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								aouevtEUTXTB
								v/Y/dndAUw==
								</data>
								<key>Size</key>
								<integer>127997</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page34</string>
						<key>SiteRoot</key>
						<string>events/health-and-wellness</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>ChildPages</string>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
