<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>NetSci 2019</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page53</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>NetSci 2019</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.6.5</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-01-24T15:20:26Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/backgroundImage_pp114270_n18_n1.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								GQHOUzuyjCs9
								Jfbg60A9OQ==
								</data>
								<key>Size</key>
								<integer>700318</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZFHf9zniv4SK
								z9ywIWAR7Q==
								</data>
								<key>Size</key>
								<integer>124861</integer>
							</dict>
							<key>files/stacks-image-012ccd0-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								XsvJYylntJyu
								SBVPvLHXuw==
								</data>
								<key>Size</key>
								<integer>38805</integer>
							</dict>
							<key>files/stacks-image-01b6cb7.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								28a9qyUZUYuy
								Z9wh4S00OA==
								</data>
								<key>Size</key>
								<integer>199450</integer>
							</dict>
							<key>files/stacks-image-0655a30-350x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								CGMCqHLLwgog
								XwGGhaiz1g==
								</data>
								<key>Size</key>
								<integer>18286</integer>
							</dict>
							<key>files/stacks-image-0a2e163-328x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9rtUmvuU3CEL
								VPZU5lZSBA==
								</data>
								<key>Size</key>
								<integer>43469</integer>
							</dict>
							<key>files/stacks-image-1118fd8.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								sFraoy+16ql5
								9exyyMmEmg==
								</data>
								<key>Size</key>
								<integer>35091</integer>
							</dict>
							<key>files/stacks-image-127916a.png</key>
							<dict>
								<key>Digest</key>
								<data>
								3LgVp1RAakvu
								6pxIT/gAjg==
								</data>
								<key>Size</key>
								<integer>530208</integer>
							</dict>
							<key>files/stacks-image-13ba940-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								GFmuIpFOOBIH
								etd5uUV0Pw==
								</data>
								<key>Size</key>
								<integer>30136</integer>
							</dict>
							<key>files/stacks-image-13ba940-350x375@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								LVbyvasYrV91
								Rc5zjmtsSw==
								</data>
								<key>Size</key>
								<integer>52151</integer>
							</dict>
							<key>files/stacks-image-1500267-332x498.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								/1yJEGVtgDYC
								qJpjqOOqSg==
								</data>
								<key>Size</key>
								<integer>37050</integer>
							</dict>
							<key>files/stacks-image-1500267-332x498@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								5HaFH1+IeZ2q
								+imybGmwWQ==
								</data>
								<key>Size</key>
								<integer>61496</integer>
							</dict>
							<key>files/stacks-image-1629f24.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								PCup30bjv0Xn
								AFSA01ed5A==
								</data>
								<key>Size</key>
								<integer>26372</integer>
							</dict>
							<key>files/stacks-image-1fdb6e6-350x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								g6thop/HnSKe
								Ig6OjJrbbA==
								</data>
								<key>Size</key>
								<integer>18459</integer>
							</dict>
							<key>files/stacks-image-1fdb6e6-350x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								tXjKBMneT+k2
								iYAI/fgNXQ==
								</data>
								<key>Size</key>
								<integer>26330</integer>
							</dict>
							<key>files/stacks-image-239cbaa-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								4+MD2lluE/v8
								P3P4cYsfGg==
								</data>
								<key>Size</key>
								<integer>30647</integer>
							</dict>
							<key>files/stacks-image-239cbaa-350x375@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								JyszyP6C4FQg
								UIxslUmduw==
								</data>
								<key>Size</key>
								<integer>48100</integer>
							</dict>
							<key>files/stacks-image-248de64-1200x776.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								aDwp8v2fYCpM
								Z+2n5otAww==
								</data>
								<key>Size</key>
								<integer>297149</integer>
							</dict>
							<key>files/stacks-image-28ec906-332x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								q8MeK0zynaYB
								QnEg4xgJlg==
								</data>
								<key>Size</key>
								<integer>43537</integer>
							</dict>
							<key>files/stacks-image-2aeee5b.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								We9pB8ka4Vmx
								H5keC9AVbg==
								</data>
								<key>Size</key>
								<integer>24736</integer>
							</dict>
							<key>files/stacks-image-2bb391c-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								rIsBSPXIJg9o
								JpYbQc66tQ==
								</data>
								<key>Size</key>
								<integer>35003</integer>
							</dict>
							<key>files/stacks-image-3179185-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								F9b2GlY9B0E6
								KtfJt7YGVg==
								</data>
								<key>Size</key>
								<integer>28413</integer>
							</dict>
							<key>files/stacks-image-391616f-500x500.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zlRdT63pSYEq
								jsF4lNV65A==
								</data>
								<key>Size</key>
								<integer>558997</integer>
							</dict>
							<key>files/stacks-image-40613bc-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9DG1zXcng4pv
								1Cs+7y0zHw==
								</data>
								<key>Size</key>
								<integer>21510</integer>
							</dict>
							<key>files/stacks-image-40613bc-350x375@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								IHD+CTacdDRA
								MnGBEKRyCQ==
								</data>
								<key>Size</key>
								<integer>33052</integer>
							</dict>
							<key>files/stacks-image-506ca91.png</key>
							<dict>
								<key>Digest</key>
								<data>
								8EdMMOs3/vIq
								ik9HPArzCA==
								</data>
								<key>Size</key>
								<integer>340983</integer>
							</dict>
							<key>files/stacks-image-5433a01-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9DG1zXcng4pv
								1Cs+7y0zHw==
								</data>
								<key>Size</key>
								<integer>21510</integer>
							</dict>
							<key>files/stacks-image-5433a01-350x375@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								IHD+CTacdDRA
								MnGBEKRyCQ==
								</data>
								<key>Size</key>
								<integer>33052</integer>
							</dict>
							<key>files/stacks-image-571e73c-350x375.png</key>
							<dict>
								<key>Digest</key>
								<data>
								w++uVQIsNKzQ
								8sk0yV0SyQ==
								</data>
								<key>Size</key>
								<integer>219500</integer>
							</dict>
							<key>files/stacks-image-571e73c-350x375@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								0zgjt6cRhe85
								sQl2mFszmg==
								</data>
								<key>Size</key>
								<integer>722662</integer>
							</dict>
							<key>files/stacks-image-580baf6-248x248.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								yZQqhuEMgia3
								owVDiEQk8g==
								</data>
								<key>Size</key>
								<integer>13322</integer>
							</dict>
							<key>files/stacks-image-6298502.png</key>
							<dict>
								<key>Digest</key>
								<data>
								I7BlJ/sIfKCd
								y/+Noen/4A==
								</data>
								<key>Size</key>
								<integer>69706</integer>
							</dict>
							<key>files/stacks-image-6467c3a-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Krp7Og269lDp
								zJmYejGYxg==
								</data>
								<key>Size</key>
								<integer>29317</integer>
							</dict>
							<key>files/stacks-image-6db2017-500x376.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								wOfA8edrkkfM
								NWK6uRIuRQ==
								</data>
								<key>Size</key>
								<integer>29250</integer>
							</dict>
							<key>files/stacks-image-6db2017-500x376@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								04KcM5WoEtyv
								2QNxAt6bEQ==
								</data>
								<key>Size</key>
								<integer>45733</integer>
							</dict>
							<key>files/stacks-image-6f3f11d-350x375.png</key>
							<dict>
								<key>Digest</key>
								<data>
								P6aCQhxrPVYY
								vqg7M+aIkQ==
								</data>
								<key>Size</key>
								<integer>257542</integer>
							</dict>
							<key>files/stacks-image-7322bd0-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								cNt5hI+M+5eC
								/dqj0DvG4A==
								</data>
								<key>Size</key>
								<integer>31845</integer>
							</dict>
							<key>files/stacks-image-7322bd0-350x375@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								eYEpTYx3k7Ut
								iuUxBICnPw==
								</data>
								<key>Size</key>
								<integer>52289</integer>
							</dict>
							<key>files/stacks-image-7700296-350x375.png</key>
							<dict>
								<key>Digest</key>
								<data>
								P6aCQhxrPVYY
								vqg7M+aIkQ==
								</data>
								<key>Size</key>
								<integer>257542</integer>
							</dict>
							<key>files/stacks-image-7841e09.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								N4PpCrmytr8z
								lNWtcwKD6g==
								</data>
								<key>Size</key>
								<integer>8443</integer>
							</dict>
							<key>files/stacks-image-78f98c2-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								VQeylHByJYMt
								eHl8ZH4K0Q==
								</data>
								<key>Size</key>
								<integer>40200</integer>
							</dict>
							<key>files/stacks-image-78f98c2-350x375@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ayixwrm11vSB
								j4hesfTjNw==
								</data>
								<key>Size</key>
								<integer>66232</integer>
							</dict>
							<key>files/stacks-image-7baace1.png</key>
							<dict>
								<key>Digest</key>
								<data>
								uEJORZYvXD+2
								XjdrJ+u0zA==
								</data>
								<key>Size</key>
								<integer>54441</integer>
							</dict>
							<key>files/stacks-image-7bc5484-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								SOlRP1yO0rWu
								gZ/HtPG+rw==
								</data>
								<key>Size</key>
								<integer>36199</integer>
							</dict>
							<key>files/stacks-image-7bc5484-350x375@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								TL7yNXylaDtA
								Ftz2qb0T9g==
								</data>
								<key>Size</key>
								<integer>61533</integer>
							</dict>
							<key>files/stacks-image-853176b-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								FkA9v/PoA28I
								V57P/MIy9A==
								</data>
								<key>Size</key>
								<integer>25454</integer>
							</dict>
							<key>files/stacks-image-85b8eaa-500x500.png</key>
							<dict>
								<key>Digest</key>
								<data>
								8Z0xBVfVGb07
								6RmqEwjufA==
								</data>
								<key>Size</key>
								<integer>390378</integer>
							</dict>
							<key>files/stacks-image-8bfe41d-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								VQeylHByJYMt
								eHl8ZH4K0Q==
								</data>
								<key>Size</key>
								<integer>40200</integer>
							</dict>
							<key>files/stacks-image-8bfe41d-350x375@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ayixwrm11vSB
								j4hesfTjNw==
								</data>
								<key>Size</key>
								<integer>66232</integer>
							</dict>
							<key>files/stacks-image-90966db-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								kcVxqK0Y23YI
								Ns11kdYJ6w==
								</data>
								<key>Size</key>
								<integer>21714</integer>
							</dict>
							<key>files/stacks-image-9c884d0.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								fU/F14sAci93
								dY+HaHVrFw==
								</data>
								<key>Size</key>
								<integer>243823</integer>
							</dict>
							<key>files/stacks-image-9dd6b57.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Ja70Tal4C+3g
								51eZ/sKWCA==
								</data>
								<key>Size</key>
								<integer>340206</integer>
							</dict>
							<key>files/stacks-image-a0c9938-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								+9qPfPvDFaVC
								lDF0ikR3Dw==
								</data>
								<key>Size</key>
								<integer>21308</integer>
							</dict>
							<key>files/stacks-image-ab30bf8-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								SOlRP1yO0rWu
								gZ/HtPG+rw==
								</data>
								<key>Size</key>
								<integer>36199</integer>
							</dict>
							<key>files/stacks-image-ab30bf8-350x375@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								TL7yNXylaDtA
								Ftz2qb0T9g==
								</data>
								<key>Size</key>
								<integer>61533</integer>
							</dict>
							<key>files/stacks-image-ae20feb-500x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								KpUrEuwqKPAt
								oK7fFHwzkA==
								</data>
								<key>Size</key>
								<integer>39433</integer>
							</dict>
							<key>files/stacks-image-ae20feb-500x500@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								NJMzxw9xUnvT
								YGI55pTjEA==
								</data>
								<key>Size</key>
								<integer>61619</integer>
							</dict>
							<key>files/stacks-image-ae82c9c-650x406.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								OaC8UWN1uyLr
								3npva2pgwQ==
								</data>
								<key>Size</key>
								<integer>73694</integer>
							</dict>
							<key>files/stacks-image-b379a6f-498x498.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								NEzKvPBozUaA
								hXktWHJnDA==
								</data>
								<key>Size</key>
								<integer>53902</integer>
							</dict>
							<key>files/stacks-image-b90e42d.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								7Ov4M+uEO0lh
								avEtq2w06w==
								</data>
								<key>Size</key>
								<integer>31635</integer>
							</dict>
							<key>files/stacks-image-bce74cf-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								rIsBSPXIJg9o
								JpYbQc66tQ==
								</data>
								<key>Size</key>
								<integer>35003</integer>
							</dict>
							<key>files/stacks-image-c6e25a9.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								pGqdJwYojFxw
								HJPiARAEZQ==
								</data>
								<key>Size</key>
								<integer>42733</integer>
							</dict>
							<key>files/stacks-image-ca23846-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								GFmuIpFOOBIH
								etd5uUV0Pw==
								</data>
								<key>Size</key>
								<integer>30136</integer>
							</dict>
							<key>files/stacks-image-ca23846-350x375@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								LVbyvasYrV91
								Rc5zjmtsSw==
								</data>
								<key>Size</key>
								<integer>52151</integer>
							</dict>
							<key>files/stacks-image-cd0a404.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Nb2TZEoroRSC
								Y+xT2IHd1Q==
								</data>
								<key>Size</key>
								<integer>27178</integer>
							</dict>
							<key>files/stacks-image-cd43f5e-500x374.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Koa4QxEPEbS7
								nPIAYMvT/A==
								</data>
								<key>Size</key>
								<integer>47879</integer>
							</dict>
							<key>files/stacks-image-cd43f5e-500x374@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								MTfXORRF1KKv
								J82ZhJk71g==
								</data>
								<key>Size</key>
								<integer>146897</integer>
							</dict>
							<key>files/stacks-image-cfadf25.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9nBAHyaW6iKX
								SMq0xWVuoA==
								</data>
								<key>Size</key>
								<integer>25161</integer>
							</dict>
							<key>files/stacks-image-e5e8064-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								4+MD2lluE/v8
								P3P4cYsfGg==
								</data>
								<key>Size</key>
								<integer>30647</integer>
							</dict>
							<key>files/stacks-image-e5e8064-350x375@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								JyszyP6C4FQg
								UIxslUmduw==
								</data>
								<key>Size</key>
								<integer>48100</integer>
							</dict>
							<key>files/stacks-image-eb41103.png</key>
							<dict>
								<key>Digest</key>
								<data>
								TtBSlYnCR35b
								mXgxzoVV0g==
								</data>
								<key>Size</key>
								<integer>511231</integer>
							</dict>
							<key>files/stacks-image-eb59750-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								F9b2GlY9B0E6
								KtfJt7YGVg==
								</data>
								<key>Size</key>
								<integer>28413</integer>
							</dict>
							<key>files/stacks-image-f14500c-500x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								SLiZEYJUyzQg
								aTtxvYxxIQ==
								</data>
								<key>Size</key>
								<integer>46330</integer>
							</dict>
							<key>files/stacks-image-f162ac2-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								XsvJYylntJyu
								SBVPvLHXuw==
								</data>
								<key>Size</key>
								<integer>38805</integer>
							</dict>
							<key>files/stacks-image-f653d0a.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								hCVTK4oyyITK
								kXBXOiPsAg==
								</data>
								<key>Size</key>
								<integer>22811</integer>
							</dict>
							<key>files/stacks-image-f9056c6-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								FkA9v/PoA28I
								V57P/MIy9A==
								</data>
								<key>Size</key>
								<integer>25454</integer>
							</dict>
							<key>files/stacks-image-fa235ce-400x498.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								JA4lnRqpCKjA
								ZxX7/bFuIw==
								</data>
								<key>Size</key>
								<integer>61114</integer>
							</dict>
							<key>files/stacks_page_page53.css</key>
							<dict>
								<key>Digest</key>
								<data>
								GGjL6fxzFfLu
								hWKvkFs02A==
								</data>
								<key>Size</key>
								<integer>330254</integer>
							</dict>
							<key>files/stacks_page_page53.js</key>
							<dict>
								<key>Digest</key>
								<data>
								VB+hM+WxDxa/
								hHSsp94+wA==
								</data>
								<key>Size</key>
								<integer>32031</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								Ag7YtldrL8BL
								cCdU4VM/YQ==
								</data>
								<key>Size</key>
								<integer>245616</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page53</string>
						<key>SiteRoot</key>
						<string>events/netsci</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>ChildPages</string>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
