<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Sponsors</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page78</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>ALife Sponsors</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.6.8</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-08-20T15:59:23Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/backgroundImage_110889.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								t6sVWeH5Dwiz
								lTdhjl5wGA==
								</data>
								<key>Size</key>
								<integer>3099081</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZFHf9zniv4SK
								z9ywIWAR7Q==
								</data>
								<key>Size</key>
								<integer>124861</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								5SEHlmzIRPnE
								h1Zlyu2W+A==
								</data>
								<key>Size</key>
								<integer>35205</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZP2FJ/yve/bb
								UMUDEFQ7OA==
								</data>
								<key>Size</key>
								<integer>68310</integer>
							</dict>
							<key>files/stacks-image-2968668-150x150.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D+xnE6kc8lIE
								b1KBcd97/A==
								</data>
								<key>Size</key>
								<integer>11777</integer>
							</dict>
							<key>files/stacks-image-2968668-150x150@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								nZDDRkpmcO0I
								+NAo+m476A==
								</data>
								<key>Size</key>
								<integer>34905</integer>
							</dict>
							<key>files/stacks-image-61fe2fb-148x138.png</key>
							<dict>
								<key>Digest</key>
								<data>
								DJgt0jKFDJ4b
								Fn/odNe+pg==
								</data>
								<key>Size</key>
								<integer>6526</integer>
							</dict>
							<key>files/stacks-image-61fe2fb-148x138@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								3UWGr+U5dzYk
								nhJsZy+SQw==
								</data>
								<key>Size</key>
								<integer>18305</integer>
							</dict>
							<key>files/stacks-image-7d9976e-150x128.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Wz4B5PSzp5CP
								ZTzl9L2bsA==
								</data>
								<key>Size</key>
								<integer>20634</integer>
							</dict>
							<key>files/stacks-image-7d9976e-150x128@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								1ViXyayIaoxU
								tqymwClHHA==
								</data>
								<key>Size</key>
								<integer>63491</integer>
							</dict>
							<key>files/stacks-image-7e48fa7-148x150.png</key>
							<dict>
								<key>Digest</key>
								<data>
								DDw+Vqr/eNhe
								0tRtnlCqEQ==
								</data>
								<key>Size</key>
								<integer>25681</integer>
							</dict>
							<key>files/stacks-image-7e48fa7-148x150@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								th9R1aMnNop7
								6M3i0IkyQw==
								</data>
								<key>Size</key>
								<integer>83593</integer>
							</dict>
							<key>files/stacks-image-8e88332-100x104.png</key>
							<dict>
								<key>Digest</key>
								<data>
								HU9N9ocudZ8O
								ypHw3ik3hA==
								</data>
								<key>Size</key>
								<integer>15274</integer>
							</dict>
							<key>files/stacks-image-8e88332-100x104@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								YE+dgcrhhdU3
								9lbeQWrQig==
								</data>
								<key>Size</key>
								<integer>50137</integer>
							</dict>
							<key>files/stacks-image-cc75d0b-150x138.png</key>
							<dict>
								<key>Digest</key>
								<data>
								skaUCcqiaV40
								BjAmCIP0vw==
								</data>
								<key>Size</key>
								<integer>21531</integer>
							</dict>
							<key>files/stacks-image-cc75d0b-150x138@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								P2WhNfZNh37D
								+/EldxphRg==
								</data>
								<key>Size</key>
								<integer>67264</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								FWLv4iC2Yarl
								ySGORUZ3Iw==
								</data>
								<key>Size</key>
								<integer>19413</integer>
							</dict>
							<key>files/stacks_page_page78.css</key>
							<dict>
								<key>Digest</key>
								<data>
								mEtDKV7upymj
								NEHLrop6nA==
								</data>
								<key>Size</key>
								<integer>133796</integer>
							</dict>
							<key>files/stacks_page_page78.js</key>
							<dict>
								<key>Digest</key>
								<data>
								JBjveoLMW+qj
								6EZTHGhCAw==
								</data>
								<key>Size</key>
								<integer>24324</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								cdz/MUC+lHCX
								jwQBOM9JSA==
								</data>
								<key>Size</key>
								<integer>66583</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page78</string>
						<key>SiteRoot</key>
						<string>events/ALIFE-2020/Sponsors</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
