<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page49</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Details</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.6.1</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2018-07-19T13:26:43Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/backgroundImage_110258.png</key>
							<dict>
								<key>Digest</key>
								<data>
								QETP738VfUvU
								/jzCm7P3tw==
								</data>
								<key>Size</key>
								<integer>41544</integer>
							</dict>
							<key>files/backgroundImage_110333.png</key>
							<dict>
								<key>Digest</key>
								<data>
								QETP738VfUvU
								/jzCm7P3tw==
								</data>
								<key>Size</key>
								<integer>41544</integer>
							</dict>
							<key>files/small_109872.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Yb+L/heiX6tP
								YliFF2auMA==
								</data>
								<key>Size</key>
								<integer>269913</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZFHf9zniv4SK
								z9ywIWAR7Q==
								</data>
								<key>Size</key>
								<integer>124861</integer>
							</dict>
							<key>files/small_p60311_n109628.png</key>
							<dict>
								<key>Digest</key>
								<data>
								pcpK3KZBcBVd
								Ns6QdrLpNA==
								</data>
								<key>Size</key>
								<integer>68548</integer>
							</dict>
							<key>files/stacks-image-10532b8-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								U8fXe2mIAwWX
								hw+GczBpSg==
								</data>
								<key>Size</key>
								<integer>97116</integer>
							</dict>
							<key>files/stacks-image-10532b8-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								8WCcaPD7Laqf
								FSKjvdKBnQ==
								</data>
								<key>Size</key>
								<integer>319859</integer>
							</dict>
							<key>files/stacks-image-17fd2ba-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								N0khg3CNZLPo
								Gy4lYWwyhQ==
								</data>
								<key>Size</key>
								<integer>87965</integer>
							</dict>
							<key>files/stacks-image-17fd2ba-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Os8gTdkxTsH7
								wsVCDx+aDw==
								</data>
								<key>Size</key>
								<integer>319397</integer>
							</dict>
							<key>files/stacks-image-1aebfb5-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Er/+pE7hNNIn
								W7FQzXekEQ==
								</data>
								<key>Size</key>
								<integer>94699</integer>
							</dict>
							<key>files/stacks-image-1aebfb5-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								5xACEUvkvEwz
								VJnG6F3YxQ==
								</data>
								<key>Size</key>
								<integer>337058</integer>
							</dict>
							<key>files/stacks-image-1e491bc-300x256.png</key>
							<dict>
								<key>Digest</key>
								<data>
								/+gUVNDoUa72
								sq7BV9NzCQ==
								</data>
								<key>Size</key>
								<integer>68345</integer>
							</dict>
							<key>files/stacks-image-1e491bc-300x256@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								erVlCbjiU39h
								v10x8sPHoA==
								</data>
								<key>Size</key>
								<integer>222004</integer>
							</dict>
							<key>files/stacks-image-24a754b-250x254.png</key>
							<dict>
								<key>Digest</key>
								<data>
								vVeZyTy9ktpw
								4c/asRc/Xg==
								</data>
								<key>Size</key>
								<integer>87004</integer>
							</dict>
							<key>files/stacks-image-25ae135-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								HmvZZAhJxjQg
								NXNd+h4fSg==
								</data>
								<key>Size</key>
								<integer>110199</integer>
							</dict>
							<key>files/stacks-image-25ae135-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								AYe3rBztL3rf
								zgqqfTP94Q==
								</data>
								<key>Size</key>
								<integer>379405</integer>
							</dict>
							<key>files/stacks-image-2d02c4e-1200x284.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								UPkPTvU1UdUT
								PbcV5iRj+g==
								</data>
								<key>Size</key>
								<integer>80046</integer>
							</dict>
							<key>files/stacks-image-2d02c4e-1200x284@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								r80l+IqCf+My
								5iFaww2t3A==
								</data>
								<key>Size</key>
								<integer>138088</integer>
							</dict>
							<key>files/stacks-image-3dfae34-300x218.png</key>
							<dict>
								<key>Digest</key>
								<data>
								jdOwxthDYAgR
								Be0ngDdx0g==
								</data>
								<key>Size</key>
								<integer>18725</integer>
							</dict>
							<key>files/stacks-image-3dfae34-300x218@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								yF5XMAWDgg4Q
								6tTSb2qY3A==
								</data>
								<key>Size</key>
								<integer>41827</integer>
							</dict>
							<key>files/stacks-image-45fda98-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								YcuiUOp4a+di
								PJUgW9ZScA==
								</data>
								<key>Size</key>
								<integer>105702</integer>
							</dict>
							<key>files/stacks-image-45fda98-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								QJcyiiGLSzuD
								67ZodTbr1g==
								</data>
								<key>Size</key>
								<integer>402052</integer>
							</dict>
							<key>files/stacks-image-48ee80b-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								7K6PSQh9mROR
								+7K5Nsj+3w==
								</data>
								<key>Size</key>
								<integer>90798</integer>
							</dict>
							<key>files/stacks-image-48ee80b-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								6zdIUUehofVi
								nwpnAVNoCw==
								</data>
								<key>Size</key>
								<integer>338288</integer>
							</dict>
							<key>files/stacks-image-4d44245-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								+vdMEyY2Nma2
								i47OSlhwZA==
								</data>
								<key>Size</key>
								<integer>67249</integer>
							</dict>
							<key>files/stacks-image-55f5c6b-298x58.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Zi5S7JDhTkJD
								7VUl6uQUMA==
								</data>
								<key>Size</key>
								<integer>15096</integer>
							</dict>
							<key>files/stacks-image-5e1ff49-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								d/12RsCKoVv4
								r9+0ESaqAg==
								</data>
								<key>Size</key>
								<integer>78971</integer>
							</dict>
							<key>files/stacks-image-6a176f2.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								QqZb7VYPgF3P
								tZSj/BjKEg==
								</data>
								<key>Size</key>
								<integer>229581</integer>
							</dict>
							<key>files/stacks-image-7e9dad3-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								wxt8EJvqjpqY
								mD8BZ/M6FQ==
								</data>
								<key>Size</key>
								<integer>75276</integer>
							</dict>
							<key>files/stacks-image-a63dce2-1200x796.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								NN73MZhZn2Z/
								btTinsrASA==
								</data>
								<key>Size</key>
								<integer>361736</integer>
							</dict>
							<key>files/stacks-image-a63dce2-1200x796@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								tTupR8SJAHcJ
								Tf5Y/v9t8g==
								</data>
								<key>Size</key>
								<integer>654306</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								kIzXf5nC37dU
								ED0RuUkYDQ==
								</data>
								<key>Size</key>
								<integer>101485</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Y9RpQKxhcjiN
								udjjwCufbQ==
								</data>
								<key>Size</key>
								<integer>354232</integer>
							</dict>
							<key>files/stacks-image-cfb5234-98x98.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								uIa+ZpRMODfY
								8L1symw+qA==
								</data>
								<key>Size</key>
								<integer>6246</integer>
							</dict>
							<key>files/stacks-image-cfb5234-98x98@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								oL3dMLrPIItY
								AkFFEoSKHQ==
								</data>
								<key>Size</key>
								<integer>7818</integer>
							</dict>
							<key>files/stacks-image-d36e992-250x322.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Gt6fhKisPy1D
								I0SvPrdIeQ==
								</data>
								<key>Size</key>
								<integer>125068</integer>
							</dict>
							<key>files/stacks-image-e712d99-98x98.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								uIa+ZpRMODfY
								8L1symw+qA==
								</data>
								<key>Size</key>
								<integer>6246</integer>
							</dict>
							<key>files/stacks-image-e712d99-98x98@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								oL3dMLrPIItY
								AkFFEoSKHQ==
								</data>
								<key>Size</key>
								<integer>7818</integer>
							</dict>
							<key>files/stacks-image-f38d32b-450x386.png</key>
							<dict>
								<key>Digest</key>
								<data>
								BOLf/keU4lon
								gRAFjgtFfg==
								</data>
								<key>Size</key>
								<integer>67530</integer>
							</dict>
							<key>files/stacks-image-f38d32b-450x386@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								BKnt+BMFzYt0
								6aH1mFPVbA==
								</data>
								<key>Size</key>
								<integer>196392</integer>
							</dict>
							<key>files/stacks-image-faf7292-250x374.png</key>
							<dict>
								<key>Digest</key>
								<data>
								NNBt6Bo0YD+W
								OAAFcd+YGA==
								</data>
								<key>Size</key>
								<integer>97449</integer>
							</dict>
							<key>files/stacks-image-fecc660-98x150.png</key>
							<dict>
								<key>Digest</key>
								<data>
								SdC49IhJ3JHE
								zutzsmftPQ==
								</data>
								<key>Size</key>
								<integer>12547</integer>
							</dict>
							<key>files/stacks_page_page49.css</key>
							<dict>
								<key>Digest</key>
								<data>
								0u34inBGjKuF
								kNanwB+RPQ==
								</data>
								<key>Size</key>
								<integer>172498</integer>
							</dict>
							<key>files/stacks_page_page49.js</key>
							<dict>
								<key>Digest</key>
								<data>
								XI/AKqgx8JbV
								Uw7pT8TVPw==
								</data>
								<key>Size</key>
								<integer>24349</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								IGXvsSlAUwe3
								ATQhqE4y0g==
								</data>
								<key>Size</key>
								<integer>119335</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page49</string>
						<key>SiteRoot</key>
						<string>events/cnww/deets</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
