<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page49</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Details</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.6.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-02-14T21:38:30Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small_109872.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Yb+L/heiX6tP
								YliFF2auMA==
								</data>
								<key>Size</key>
								<integer>269913</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZFHf9zniv4SK
								z9ywIWAR7Q==
								</data>
								<key>Size</key>
								<integer>124861</integer>
							</dict>
							<key>files/stacks-image-1e491bc-300x256.png</key>
							<dict>
								<key>Digest</key>
								<data>
								twuRugCiPWQ4
								FbZuqTTMjQ==
								</data>
								<key>Size</key>
								<integer>68167</integer>
							</dict>
							<key>files/stacks-image-1e491bc-300x256@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								LNXfpAz0JCCP
								ljD5+CD97g==
								</data>
								<key>Size</key>
								<integer>223202</integer>
							</dict>
							<key>files/stacks-image-24a754b-250x254.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Of8NbQu10Bep
								xBQoyVJ0wQ==
								</data>
								<key>Size</key>
								<integer>86631</integer>
							</dict>
							<key>files/stacks-image-2d02c4e-1200x284.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								w80OyVMHZKl5
								Q0ZA2e961w==
								</data>
								<key>Size</key>
								<integer>80139</integer>
							</dict>
							<key>files/stacks-image-2d02c4e-1200x284@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								/K5JPXgH8ydT
								hi3zoCCGwQ==
								</data>
								<key>Size</key>
								<integer>138239</integer>
							</dict>
							<key>files/stacks-image-3dfae34-300x218.png</key>
							<dict>
								<key>Digest</key>
								<data>
								3pOqKVOKiTfm
								vhScvUZ46A==
								</data>
								<key>Size</key>
								<integer>18337</integer>
							</dict>
							<key>files/stacks-image-3dfae34-300x218@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								WiV3CxBUITiH
								22JZhKwX8A==
								</data>
								<key>Size</key>
								<integer>40839</integer>
							</dict>
							<key>files/stacks-image-48ee80b-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								LgIM9wnb0gVa
								ge7RSU+Slg==
								</data>
								<key>Size</key>
								<integer>90591</integer>
							</dict>
							<key>files/stacks-image-48ee80b-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								2wzTudHyJQqB
								Zxq7jihBHw==
								</data>
								<key>Size</key>
								<integer>336849</integer>
							</dict>
							<key>files/stacks-image-55f5c6b-298x58.png</key>
							<dict>
								<key>Digest</key>
								<data>
								5akV9inyL/Zr
								qczaTP5ZFw==
								</data>
								<key>Size</key>
								<integer>14820</integer>
							</dict>
							<key>files/stacks-image-580baf6-248x248.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								yZQqhuEMgia3
								owVDiEQk8g==
								</data>
								<key>Size</key>
								<integer>13322</integer>
							</dict>
							<key>files/stacks-image-6a176f2.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								QqZb7VYPgF3P
								tZSj/BjKEg==
								</data>
								<key>Size</key>
								<integer>229581</integer>
							</dict>
							<key>files/stacks-image-90966db-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								kcVxqK0Y23YI
								Ns11kdYJ6w==
								</data>
								<key>Size</key>
								<integer>21714</integer>
							</dict>
							<key>files/stacks-image-95da015-150x96.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Rj51BO3CnN+I
								8zAJGkHDGw==
								</data>
								<key>Size</key>
								<integer>15500</integer>
							</dict>
							<key>files/stacks-image-a63dce2-1200x796.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								t52Enu04ZCnf
								Dk8ODmI+1Q==
								</data>
								<key>Size</key>
								<integer>361540</integer>
							</dict>
							<key>files/stacks-image-a63dce2-1200x796@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								kyWVwRqqM7iD
								fTPbpyHg2g==
								</data>
								<key>Size</key>
								<integer>653959</integer>
							</dict>
							<key>files/stacks-image-abaa395-448x388.png</key>
							<dict>
								<key>Digest</key>
								<data>
								bC3rx70ZIVLf
								bHOBolfZ/Q==
								</data>
								<key>Size</key>
								<integer>90051</integer>
							</dict>
							<key>files/stacks-image-abaa395-448x388@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								R3MTvOzsuhFo
								B1NKIocw6w==
								</data>
								<key>Size</key>
								<integer>215408</integer>
							</dict>
							<key>files/stacks-image-cd71898-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								RWGVKXEy+thp
								IYsgttRIiw==
								</data>
								<key>Size</key>
								<integer>92633</integer>
							</dict>
							<key>files/stacks-image-d36e992-250x322.png</key>
							<dict>
								<key>Digest</key>
								<data>
								S3xI3i+B+p4q
								nlm1rlRCSg==
								</data>
								<key>Size</key>
								<integer>125490</integer>
							</dict>
							<key>files/stacks-image-e712d99-98x98.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								DrXzqFxO+3lS
								a1HeNbtvnw==
								</data>
								<key>Size</key>
								<integer>6235</integer>
							</dict>
							<key>files/stacks-image-e712d99-98x98@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								qd9R6Jbs85PY
								IaUvLvQM+w==
								</data>
								<key>Size</key>
								<integer>7778</integer>
							</dict>
							<key>files/stacks-image-faf7292-250x374.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ldv/13lcQEpm
								/6tw5EkhhA==
								</data>
								<key>Size</key>
								<integer>97542</integer>
							</dict>
							<key>files/stacks-image-fecc660-98x150.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZC+PaKuDnQCR
								FCIwEzARCw==
								</data>
								<key>Size</key>
								<integer>12596</integer>
							</dict>
							<key>files/stacks_page_page49.css</key>
							<dict>
								<key>Digest</key>
								<data>
								YCW+RszxLxsA
								M7+W7iNYXw==
								</data>
								<key>Size</key>
								<integer>143833</integer>
							</dict>
							<key>files/stacks_page_page49.js</key>
							<dict>
								<key>Digest</key>
								<data>
								XI/AKqgx8JbV
								Uw7pT8TVPw==
								</data>
								<key>Size</key>
								<integer>24349</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								rhVyJe4xKOpq
								KZF1Vq+6ew==
								</data>
								<key>Size</key>
								<integer>102103</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page49</string>
						<key>SiteRoot</key>
						<string>events/cnww/deets</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
