<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page49</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Details</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.0.4</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-02-18T16:47:44Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small_109872.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Yb+L/heiX6tP
								YliFF2auMA==
								</data>
								<key>Size</key>
								<integer>269913</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/small_p60311_n109710.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JfxF8Omi0icK
								xIwohpIZqw==
								</data>
								<key>Size</key>
								<integer>77487</integer>
							</dict>
							<key>files/small_p60311_n109714.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2NMhf1k+YDl
								uPpd6H1dBw==
								</data>
								<key>Size</key>
								<integer>15019</integer>
							</dict>
							<key>files/small_p60311_n109735.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D2nm4R7babci
								2M5NjfUDZQ==
								</data>
								<key>Size</key>
								<integer>18925</integer>
							</dict>
							<key>files/small_p60311_n109736.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgRiuB3NhhIh
								SwZTifI18g==
								</data>
								<key>Size</key>
								<integer>21987</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								C82d5dfws9q4
								DDOA2BFu1w==
								</data>
								<key>Size</key>
								<integer>35273</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								v/SijtX2gRco
								SwESRI9B4g==
								</data>
								<key>Size</key>
								<integer>68378</integer>
							</dict>
							<key>files/stacks-image-1e491bc-300x256.png</key>
							<dict>
								<key>Digest</key>
								<data>
								hJdXW8Fke8Bd
								p44ZHKSGOA==
								</data>
								<key>Size</key>
								<integer>68235</integer>
							</dict>
							<key>files/stacks-image-1e491bc-300x256@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								uPXK6QU7sDTC
								1m8aRu4ySA==
								</data>
								<key>Size</key>
								<integer>223270</integer>
							</dict>
							<key>files/stacks-image-2d02c4e-1200x284.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ZnS9uIE/AAFz
								kvN765DL1A==
								</data>
								<key>Size</key>
								<integer>79476</integer>
							</dict>
							<key>files/stacks-image-2d02c4e-1200x284@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								J8qmynV14aw7
								mRYNoZjFLA==
								</data>
								<key>Size</key>
								<integer>134356</integer>
							</dict>
							<key>files/stacks-image-3dfae34-300x218.png</key>
							<dict>
								<key>Digest</key>
								<data>
								o5g4g+Rs8tCY
								zXKpfndT1w==
								</data>
								<key>Size</key>
								<integer>18405</integer>
							</dict>
							<key>files/stacks-image-3dfae34-300x218@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								NFCJgNARSz8C
								wZM/qwlryA==
								</data>
								<key>Size</key>
								<integer>40907</integer>
							</dict>
							<key>files/stacks-image-40dfc96-450x388.png</key>
							<dict>
								<key>Digest</key>
								<data>
								efpmkNgTPtCV
								vNhx7nJzYg==
								</data>
								<key>Size</key>
								<integer>87624</integer>
							</dict>
							<key>files/stacks-image-40dfc96-450x388@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								xWI/zvgFfSCQ
								brKAmVkL3Q==
								</data>
								<key>Size</key>
								<integer>240741</integer>
							</dict>
							<key>files/stacks-image-48ee80b-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								lrFqOMVJFYpJ
								rYOhmlJp+A==
								</data>
								<key>Size</key>
								<integer>90760</integer>
							</dict>
							<key>files/stacks-image-48ee80b-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								trlveds4I4VE
								lASQDABA7w==
								</data>
								<key>Size</key>
								<integer>327651</integer>
							</dict>
							<key>files/stacks-image-6a176f2.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								QqZb7VYPgF3P
								tZSj/BjKEg==
								</data>
								<key>Size</key>
								<integer>229581</integer>
							</dict>
							<key>files/stacks-image-95da015-150x96.png</key>
							<dict>
								<key>Digest</key>
								<data>
								viW7sEN5xzFd
								L7bZI4PI5g==
								</data>
								<key>Size</key>
								<integer>15568</integer>
							</dict>
							<key>files/stacks-image-a63dce2-1200x796.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								eqvKEpNItMc4
								mmHAOluF6g==
								</data>
								<key>Size</key>
								<integer>369683</integer>
							</dict>
							<key>files/stacks-image-a63dce2-1200x796@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								A2W6hoa43xCc
								PyY6xkPeNw==
								</data>
								<key>Size</key>
								<integer>653725</integer>
							</dict>
							<key>files/stacks-image-cd71898-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								UaF1kNohHZR2
								zttjiLyPqg==
								</data>
								<key>Size</key>
								<integer>94012</integer>
							</dict>
							<key>files/stacks-image-d36e992-250x322.png</key>
							<dict>
								<key>Digest</key>
								<data>
								qF/3iBtBHFZy
								eFRD15Sjhw==
								</data>
								<key>Size</key>
								<integer>125558</integer>
							</dict>
							<key>files/stacks-image-e712d99-100x100.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								tShj14q7gD39
								RN+/ccxKyA==
								</data>
								<key>Size</key>
								<integer>6431</integer>
							</dict>
							<key>files/stacks-image-e712d99-100x100@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								M8azEY5BbuZz
								oVKP5q1tnQ==
								</data>
								<key>Size</key>
								<integer>7860</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								IcJyU76V543g
								RUdnIXKzHw==
								</data>
								<key>Size</key>
								<integer>19481</integer>
							</dict>
							<key>files/stacks-image-faf7292-250x374.png</key>
							<dict>
								<key>Digest</key>
								<data>
								OONYa55gMmmT
								z5PWqRHO9A==
								</data>
								<key>Size</key>
								<integer>97610</integer>
							</dict>
							<key>files/stacks-image-fecc660-98x150.png</key>
							<dict>
								<key>Digest</key>
								<data>
								41j9W6yJSrrD
								ImPwzmzEPQ==
								</data>
								<key>Size</key>
								<integer>12664</integer>
							</dict>
							<key>files/stacks_page_page49.css</key>
							<dict>
								<key>Digest</key>
								<data>
								zrVW/PEchOKR
								e2hYrO5upw==
								</data>
								<key>Size</key>
								<integer>153836</integer>
							</dict>
							<key>files/stacks_page_page49.js</key>
							<dict>
								<key>Digest</key>
								<data>
								O2/vhwsgPR1c
								MWL76UGjZA==
								</data>
								<key>Size</key>
								<integer>23887</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								Coa26PC6TjKt
								gN8SVHrvHw==
								</data>
								<key>Size</key>
								<integer>110278</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page49</string>
						<key>SiteRoot</key>
						<string>events/cnww/deets</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
