<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page15</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>People</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.0.5</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2016-04-11T00:56:47Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>PageDigests</key>
					<dict>
						<key>files/backgroundImage_p294904_n294909.png</key>
						<dict>
							<key>Digest</key>
							<data>
							W72uV+4SlDB/aeaImPHE
							/w==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
						<key>files/small_64038.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							gE7mklmEnmixjDjSHaxV
							xg==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
						<key>files/small_64044.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							32DTqTW6orCHj72/1/Y8
							Rg==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
						<key>files/small_64050.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							AkpobewmLWWo2c8JGxiy
							fQ==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
						<key>files/stacks_page_page15.css</key>
						<dict>
							<key>Digest</key>
							<data>
							w+FtuW3u+PpcV6nK5HjH
							eA==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
						<key>files/stacks_page_page15.js</key>
						<dict>
							<key>Digest</key>
							<data>
							cWWg1gRKxG1xHeyfCCw6
							GQ==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
						<key>index.html</key>
						<dict>
							<key>Digest</key>
							<data>
							/6givpd+tRRGqNe8pxwQ
							2g==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page15</string>
					<key>SiteRoot</key>
					<string>people</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
