<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict/>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>01-Events-Calendar</string>
				<string>02-Symposium---Health-and-Wellness</string>
				<string>03-Symposium---Science-of-stories</string>
				<string>04-Complex-Networks-Winter-Workshop</string>
				<string>05-NetSci-2019</string>
				<string>06-Complex-Systems-Seminars</string>
				<string>07-Big-Spread002C-Big-Dead</string>
				<string>08-Prediction003A-The-Next-Big-Thing</string>
				<string>09-Big-Scale002C-...-Big-Fail003F</string>
				<string>10-Big-Data002C-Big-Stories</string>
				<string>11-Idea-Collider</string>
				<string>12-Research-Jam</string>
				<string>13-Community-Lectures</string>
				<string>14-Vermont-Computer-Science-Alliance</string>
				<string>15-Science-Olympiad</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Pages</string>
</dict>
</plist>
