<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-03-03T14:19:25Z</date>
				<key>ID</key>
				<string>page50</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Fellowships</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.6.4</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2018-10-29T15:44:28Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/backgroundImage_525648.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								wLSEDPxm2+Dh
								xayFdo9MbA==
								</data>
								<key>Size</key>
								<integer>2504788</integer>
							</dict>
							<key>files/small_525701.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								/orr/bg4QftS
								VAbCzuVb5Q==
								</data>
								<key>Size</key>
								<integer>234406</integer>
							</dict>
							<key>files/small_525723.png</key>
							<dict>
								<key>Digest</key>
								<data>
								7ptO0Z9QNBVX
								TOf1Zy8YhQ==
								</data>
								<key>Size</key>
								<integer>46883</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZFHf9zniv4SK
								z9ywIWAR7Q==
								</data>
								<key>Size</key>
								<integer>124861</integer>
							</dict>
							<key>files/stacks-image-580baf6-248x248.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								yZQqhuEMgia3
								owVDiEQk8g==
								</data>
								<key>Size</key>
								<integer>13322</integer>
							</dict>
							<key>files/stacks-image-850a43f-700x124.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								lyxiBhrhdGFD
								Qx3fwJlO2A==
								</data>
								<key>Size</key>
								<integer>20782</integer>
							</dict>
							<key>files/stacks-image-8abf195.png</key>
							<dict>
								<key>Digest</key>
								<data>
								QzkXb4HS250X
								7IprFR+7/Q==
								</data>
								<key>Size</key>
								<integer>3623</integer>
							</dict>
							<key>files/stacks-image-90966db-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								kcVxqK0Y23YI
								Ns11kdYJ6w==
								</data>
								<key>Size</key>
								<integer>21714</integer>
							</dict>
							<key>files/stacks-image-920fdb4-500x166.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Z7UFH6TUMfTc
								DrYc/8SFeQ==
								</data>
								<key>Size</key>
								<integer>33522</integer>
							</dict>
							<key>files/stacks_page_page50.css</key>
							<dict>
								<key>Digest</key>
								<data>
								nuh9DVcgXvXo
								XsNK2A0D0g==
								</data>
								<key>Size</key>
								<integer>160933</integer>
							</dict>
							<key>files/stacks_page_page50.js</key>
							<dict>
								<key>Digest</key>
								<data>
								AJn2prbnigOl
								EmxqaCARLA==
								</data>
								<key>Size</key>
								<integer>24349</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								7fQsR8Ib8S77
								vmCwI8d0Xw==
								</data>
								<key>Size</key>
								<integer>74912</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page50</string>
						<key>SiteRoot</key>
						<string>education/funding</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
