<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Computational Ethics Lab</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:30Z</date>
				<key>ID</key>
				<string>page103</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>CEL</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.2.2</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2022-01-06T19:01:10Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small-109623-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/small-109710-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JfxF8Omi0icK
								xIwohpIZqw==
								</data>
								<key>Size</key>
								<integer>77487</integer>
							</dict>
							<key>files/small-109714-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2NMhf1k+YDl
								uPpd6H1dBw==
								</data>
								<key>Size</key>
								<integer>15019</integer>
							</dict>
							<key>files/small-109735-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D2nm4R7babci
								2M5NjfUDZQ==
								</data>
								<key>Size</key>
								<integer>18925</integer>
							</dict>
							<key>files/small-109736-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgRiuB3NhhIh
								SwZTifI18g==
								</data>
								<key>Size</key>
								<integer>21987</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								nc/RlhmvGDDL
								K+SuTjMLPQ==
								</data>
								<key>Size</key>
								<integer>35262</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								tvAomUQyeND0
								vTpTZz/VVg==
								</data>
								<key>Size</key>
								<integer>68367</integer>
							</dict>
							<key>files/stacks-image-0e88fe4.png</key>
							<dict>
								<key>Digest</key>
								<data>
								A6ZiE28NfrlM
								kRu7sMaHLQ==
								</data>
								<key>Size</key>
								<integer>42007</integer>
							</dict>
							<key>files/stacks-image-1255401-300x278.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								zLt5g0VQEHM2
								C1uCOIcNRw==
								</data>
								<key>Size</key>
								<integer>32757</integer>
							</dict>
							<key>files/stacks-image-22b1c3e-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								nZmSgVuvW+wj
								z6GCmqLS2g==
								</data>
								<key>Size</key>
								<integer>15578</integer>
							</dict>
							<key>files/stacks-image-2cede1e-186x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								7KT7ykn5Vyt3
								77rLZP8oNQ==
								</data>
								<key>Size</key>
								<integer>15630</integer>
							</dict>
							<key>files/stacks-image-2cede1e-186x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								EmkMbKQh2eHX
								QYq5H48Hxg==
								</data>
								<key>Size</key>
								<integer>22073</integer>
							</dict>
							<key>files/stacks-image-2cede1e-224x300.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								xzGGgdu/9l4e
								NNIeCp8r5g==
								</data>
								<key>Size</key>
								<integer>18479</integer>
							</dict>
							<key>files/stacks-image-2cede1e-224x300@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								WA5EOxsudL7i
								UcAyNw/9Dw==
								</data>
								<key>Size</key>
								<integer>28968</integer>
							</dict>
							<key>files/stacks-image-32d1cb0-700x600.png</key>
							<dict>
								<key>Digest</key>
								<data>
								LsW07mwdD2Mt
								b8mHbpA3pg==
								</data>
								<key>Size</key>
								<integer>150118</integer>
							</dict>
							<key>files/stacks-image-32d1cb0-700x600@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								cpXGTg8+VUw6
								tcuFAhxFrA==
								</data>
								<key>Size</key>
								<integer>435158</integer>
							</dict>
							<key>files/stacks-image-33b3907.png</key>
							<dict>
								<key>Digest</key>
								<data>
								A6ZiE28NfrlM
								kRu7sMaHLQ==
								</data>
								<key>Size</key>
								<integer>42007</integer>
							</dict>
							<key>files/stacks-image-541b38d.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Mag094rYUSM7
								OlN+5qzw/Q==
								</data>
								<key>Size</key>
								<integer>33074</integer>
							</dict>
							<key>files/stacks-image-636ed7c-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								8GX5NHmW7XqN
								oddBIGmGww==
								</data>
								<key>Size</key>
								<integer>16045</integer>
							</dict>
							<key>files/stacks-image-636ed7c-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								h3B6RAl9t6Ak
								7OwkMWP+ow==
								</data>
								<key>Size</key>
								<integer>24441</integer>
							</dict>
							<key>files/stacks-image-636ed7c-200x300.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								q9bn1eWDxmJP
								0MQSS/owGA==
								</data>
								<key>Size</key>
								<integer>20386</integer>
							</dict>
							<key>files/stacks-image-636ed7c-200x300@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								WOJZmXS1ptmP
								utmZEFSl9w==
								</data>
								<key>Size</key>
								<integer>31645</integer>
							</dict>
							<key>files/stacks-image-6490b6e-200x300.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								4SLm5Wf9al+p
								t0Zv8AyI6A==
								</data>
								<key>Size</key>
								<integer>20398</integer>
							</dict>
							<key>files/stacks-image-68c7485-200x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								2+1PNNC3MoE5
								h9TtVMOd/w==
								</data>
								<key>Size</key>
								<integer>102131</integer>
							</dict>
							<key>files/stacks-image-6ebb971-244x350.png</key>
							<dict>
								<key>Digest</key>
								<data>
								rHdV4vnWSzoN
								YDqox6qA4g==
								</data>
								<key>Size</key>
								<integer>165879</integer>
							</dict>
							<key>files/stacks-image-82572eb-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								BQEtvWMzDN/O
								EULXPzyjeQ==
								</data>
								<key>Size</key>
								<integer>21278</integer>
							</dict>
							<key>files/stacks-image-8e925a9.png</key>
							<dict>
								<key>Digest</key>
								<data>
								2+1PNNC3MoE5
								h9TtVMOd/w==
								</data>
								<key>Size</key>
								<integer>102131</integer>
							</dict>
							<key>files/stacks-image-a6a502d.png</key>
							<dict>
								<key>Digest</key>
								<data>
								rHdV4vnWSzoN
								YDqox6qA4g==
								</data>
								<key>Size</key>
								<integer>165879</integer>
							</dict>
							<key>files/stacks-image-ad92488.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Mag094rYUSM7
								OlN+5qzw/Q==
								</data>
								<key>Size</key>
								<integer>33074</integer>
							</dict>
							<key>files/stacks-image-af133be.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								zLt5g0VQEHM2
								C1uCOIcNRw==
								</data>
								<key>Size</key>
								<integer>32757</integer>
							</dict>
							<key>files/stacks-image-c2d9b60-198x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								A6ZiE28NfrlM
								kRu7sMaHLQ==
								</data>
								<key>Size</key>
								<integer>42007</integer>
							</dict>
							<key>files/stacks-image-e413c39.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Mag094rYUSM7
								OlN+5qzw/Q==
								</data>
								<key>Size</key>
								<integer>33074</integer>
							</dict>
							<key>files/stacks-image-e533700-526107.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								d32XLR76wmjy
								Vfvm5s8row==
								</data>
								<key>Size</key>
								<integer>21883</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Hwezk6t72J5g
								2awHy7YAqA==
								</data>
								<key>Size</key>
								<integer>19470</integer>
							</dict>
							<key>files/stacks.css</key>
							<dict>
								<key>Digest</key>
								<data>
								wgmIAuepvJFg
								INqwDCfPXQ==
								</data>
								<key>Size</key>
								<integer>1879</integer>
							</dict>
							<key>files/stacks_page_page103.css</key>
							<dict>
								<key>Digest</key>
								<data>
								V9pUtnwnaO/B
								fcg1T1onJw==
								</data>
								<key>Size</key>
								<integer>163034</integer>
							</dict>
							<key>files/stacks_page_page103.js</key>
							<dict>
								<key>Digest</key>
								<data>
								xX1klche2TqQ
								JNxKKbE9ug==
								</data>
								<key>Size</key>
								<integer>25451</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								ltmsyT9jYPoL
								0M5e1x54iw==
								</data>
								<key>Size</key>
								<integer>92650</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page103</string>
						<key>SiteRoot</key>
						<string>Research/CEL</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
