<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Master Degree in Complex Systems</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:30Z</date>
				<key>ID</key>
				<string>page0</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Masters in Complex Systems and Data Science</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.2.4</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2022-04-15T19:06:46Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/6572FA29-82D3-43C6-8558-888692800D86.png</key>
							<dict>
								<key>Digest</key>
								<data>
								SwtDNBnLEGeJ
								SRvXQX3t+Q==
								</data>
								<key>Size</key>
								<integer>147</integer>
							</dict>
							<key>files/large-306079.png</key>
							<dict>
								<key>Digest</key>
								<data>
								s8ntLAgSXQxH
								YWg3QVpaTg==
								</data>
								<key>Size</key>
								<integer>261806</integer>
							</dict>
							<key>files/large-306182.png</key>
							<dict>
								<key>Digest</key>
								<data>
								EJGt+acXqWdn
								xGl3vH09Zg==
								</data>
								<key>Size</key>
								<integer>228083</integer>
							</dict>
							<key>files/medium-306079.png</key>
							<dict>
								<key>Digest</key>
								<data>
								s8ntLAgSXQxH
								YWg3QVpaTg==
								</data>
								<key>Size</key>
								<integer>261806</integer>
							</dict>
							<key>files/medium-306364.png</key>
							<dict>
								<key>Digest</key>
								<data>
								UEIK1usj3VmC
								lRpzHiqKoA==
								</data>
								<key>Size</key>
								<integer>283695</integer>
							</dict>
							<key>files/medium-306365.png</key>
							<dict>
								<key>Digest</key>
								<data>
								UEIK1usj3VmC
								lRpzHiqKoA==
								</data>
								<key>Size</key>
								<integer>283695</integer>
							</dict>
							<key>files/small-109623-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/small-109710-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JfxF8Omi0icK
								xIwohpIZqw==
								</data>
								<key>Size</key>
								<integer>77487</integer>
							</dict>
							<key>files/small-109714-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2NMhf1k+YDl
								uPpd6H1dBw==
								</data>
								<key>Size</key>
								<integer>15019</integer>
							</dict>
							<key>files/small-109735-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D2nm4R7babci
								2M5NjfUDZQ==
								</data>
								<key>Size</key>
								<integer>18925</integer>
							</dict>
							<key>files/small-109736-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgRiuB3NhhIh
								SwZTifI18g==
								</data>
								<key>Size</key>
								<integer>21987</integer>
							</dict>
							<key>files/small-306079.png</key>
							<dict>
								<key>Digest</key>
								<data>
								s8ntLAgSXQxH
								YWg3QVpaTg==
								</data>
								<key>Size</key>
								<integer>261806</integer>
							</dict>
							<key>files/small-306123.png</key>
							<dict>
								<key>Digest</key>
								<data>
								PHbChnVk3Z3+
								Djx4kmy/Lw==
								</data>
								<key>Size</key>
								<integer>541593</integer>
							</dict>
							<key>files/small-306160.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ucnS9kdiKF8g
								ex3PnI+LJw==
								</data>
								<key>Size</key>
								<integer>260795</integer>
							</dict>
							<key>files/small-306182.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B7ucwtGc/QUa
								FI0vCTgb8w==
								</data>
								<key>Size</key>
								<integer>111754</integer>
							</dict>
							<key>files/small-306190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZWE78KlR9Srz
								PLug/WlfMA==
								</data>
								<key>Size</key>
								<integer>92613</integer>
							</dict>
							<key>files/small-306201.png</key>
							<dict>
								<key>Digest</key>
								<data>
								bZn4eu5nYpgz
								Kt6i/CsH/g==
								</data>
								<key>Size</key>
								<integer>89938</integer>
							</dict>
							<key>files/small-306219.png</key>
							<dict>
								<key>Digest</key>
								<data>
								azBklrZ8XGht
								8pVeJmzjIg==
								</data>
								<key>Size</key>
								<integer>85972</integer>
							</dict>
							<key>files/small-306252.png</key>
							<dict>
								<key>Digest</key>
								<data>
								TeBwU0sg3z7e
								mgscX6BdQA==
								</data>
								<key>Size</key>
								<integer>61740</integer>
							</dict>
							<key>files/small-306268.png</key>
							<dict>
								<key>Digest</key>
								<data>
								GU/urgFlj28K
								JGgxAX3INQ==
								</data>
								<key>Size</key>
								<integer>12561</integer>
							</dict>
							<key>files/small-306295.png</key>
							<dict>
								<key>Digest</key>
								<data>
								/tqoCjkTOMw2
								hUzDnE1bOQ==
								</data>
								<key>Size</key>
								<integer>24860</integer>
							</dict>
							<key>files/small-306332.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Cg4UULlHMDzQ
								/PBHaO3Idg==
								</data>
								<key>Size</key>
								<integer>41009</integer>
							</dict>
							<key>files/small-306364.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Leh61kFYO9HX
								fJwmuX9bzQ==
								</data>
								<key>Size</key>
								<integer>81683</integer>
							</dict>
							<key>files/small-306365.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Leh61kFYO9HX
								fJwmuX9bzQ==
								</data>
								<key>Size</key>
								<integer>81683</integer>
							</dict>
							<key>files/small-306446.png</key>
							<dict>
								<key>Digest</key>
								<data>
								iWPmO+FX8ThK
								m6thUHM2qA==
								</data>
								<key>Size</key>
								<integer>29415</integer>
							</dict>
							<key>files/small-306460.png</key>
							<dict>
								<key>Digest</key>
								<data>
								oSRYFqYDTTAe
								SMSPp1rOqA==
								</data>
								<key>Size</key>
								<integer>279755</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								nc/RlhmvGDDL
								K+SuTjMLPQ==
								</data>
								<key>Size</key>
								<integer>35262</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								tvAomUQyeND0
								vTpTZz/VVg==
								</data>
								<key>Size</key>
								<integer>68367</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Hwezk6t72J5g
								2awHy7YAqA==
								</data>
								<key>Size</key>
								<integer>19470</integer>
							</dict>
							<key>files/stacks_page_page0.css</key>
							<dict>
								<key>Digest</key>
								<data>
								LF616AMzyLtZ
								0YgIcj8+eQ==
								</data>
								<key>Size</key>
								<integer>218430</integer>
							</dict>
							<key>files/stacks_page_page0.js</key>
							<dict>
								<key>Digest</key>
								<data>
								HFfyv1AzJBh9
								WYgL1ZD7og==
								</data>
								<key>Size</key>
								<integer>24633</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								r/gAbuL+9sMt
								UraKxV0ekw==
								</data>
								<key>Size</key>
								<integer>133972</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page0</string>
						<key>SiteRoot</key>
						<string>education/masters</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
