<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:31Z</date>
				<key>ID</key>
				<string>page60</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Events Calendar</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.6.6</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-05-02T20:30:55Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small_525314.png</key>
							<dict>
								<key>Digest</key>
								<data>
								u2w2yG/YQ6pL
								1p+apVl5/w==
								</data>
								<key>Size</key>
								<integer>25244</integer>
							</dict>
							<key>files/small_525346.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Yb+L/heiX6tP
								YliFF2auMA==
								</data>
								<key>Size</key>
								<integer>269913</integer>
							</dict>
							<key>files/small_525370.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ICYi4Z+nlMU5
								ZJ5jWAVsyg==
								</data>
								<key>Size</key>
								<integer>170336</integer>
							</dict>
							<key>files/small_525392.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								WH6KVJtESc55
								UPLBdfd4OA==
								</data>
								<key>Size</key>
								<integer>53326</integer>
							</dict>
							<key>files/small_525407.png</key>
							<dict>
								<key>Digest</key>
								<data>
								u2w2yG/YQ6pL
								1p+apVl5/w==
								</data>
								<key>Size</key>
								<integer>25244</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZFHf9zniv4SK
								z9ywIWAR7Q==
								</data>
								<key>Size</key>
								<integer>124861</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								TPGeujKpTzHL
								QR5lGhvUSw==
								</data>
								<key>Size</key>
								<integer>35739</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								v9Af7SEGojgo
								zGOufpUslA==
								</data>
								<key>Size</key>
								<integer>69192</integer>
							</dict>
							<key>files/stacks-image-50acd30-500x428.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								VoSNb4EtwwYI
								YbQ9fVpm1g==
								</data>
								<key>Size</key>
								<integer>45587</integer>
							</dict>
							<key>files/stacks-image-50acd30-500x428@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								aHhdLsFgkaWw
								v3EkZ6O8OQ==
								</data>
								<key>Size</key>
								<integer>77983</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								FWLv4iC2Yarl
								ySGORUZ3Iw==
								</data>
								<key>Size</key>
								<integer>19413</integer>
							</dict>
							<key>files/stacks_page_page60.css</key>
							<dict>
								<key>Digest</key>
								<data>
								TBAZ6CslR3hX
								6DUT7M5h6w==
								</data>
								<key>Size</key>
								<integer>125077</integer>
							</dict>
							<key>files/stacks_page_page60.js</key>
							<dict>
								<key>Digest</key>
								<data>
								FoT+TJHITszU
								7jgRVicdRg==
								</data>
								<key>Size</key>
								<integer>24349</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								Mm3cOQ5Kv2KB
								VJD1LtsPhg==
								</data>
								<key>Size</key>
								<integer>64145</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page60</string>
						<key>SiteRoot</key>
						<string>events/eventscal</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
