<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>NetSci Speakers</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page57</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>NetSci Speakers</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.2.2</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2021-10-27T21:36:44Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/D289564D-C2D0-4B94-AA16-FC8C366062A7.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								GQHOUzuyjCs9
								Jfbg60A9OQ==
								</data>
								<key>Size</key>
								<integer>700318</integer>
							</dict>
							<key>files/small-109623-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/small-109710-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JfxF8Omi0icK
								xIwohpIZqw==
								</data>
								<key>Size</key>
								<integer>77487</integer>
							</dict>
							<key>files/small-109714-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2NMhf1k+YDl
								uPpd6H1dBw==
								</data>
								<key>Size</key>
								<integer>15019</integer>
							</dict>
							<key>files/small-109735-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D2nm4R7babci
								2M5NjfUDZQ==
								</data>
								<key>Size</key>
								<integer>18925</integer>
							</dict>
							<key>files/small-109736-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgRiuB3NhhIh
								SwZTifI18g==
								</data>
								<key>Size</key>
								<integer>21987</integer>
							</dict>
							<key>files/stacks-image-012ccd0-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								MwuBisOoCaru
								V8uhx76OwQ==
								</data>
								<key>Size</key>
								<integer>37453</integer>
							</dict>
							<key>files/stacks-image-0655a30-350x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Or3ITo4mdjr8
								94M61kjraA==
								</data>
								<key>Size</key>
								<integer>18175</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								nc/RlhmvGDDL
								K+SuTjMLPQ==
								</data>
								<key>Size</key>
								<integer>35262</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								tvAomUQyeND0
								vTpTZz/VVg==
								</data>
								<key>Size</key>
								<integer>68367</integer>
							</dict>
							<key>files/stacks-image-0c90353-700x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								QemuvwD3fWhz
								9bxmU42FVg==
								</data>
								<key>Size</key>
								<integer>72347</integer>
							</dict>
							<key>files/stacks-image-1629f24.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								PCup30bjv0Xn
								AFSA01ed5A==
								</data>
								<key>Size</key>
								<integer>26372</integer>
							</dict>
							<key>files/stacks-image-1fdb6e6-350x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								2jt+y7f/kfuw
								eCSNxmvN4A==
								</data>
								<key>Size</key>
								<integer>17460</integer>
							</dict>
							<key>files/stacks-image-1fdb6e6-350x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								hcHtomvXDQl7
								8/rsRUmOdw==
								</data>
								<key>Size</key>
								<integer>26325</integer>
							</dict>
							<key>files/stacks-image-2085074-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								OvV/dBCXsj69
								n0+TlxbusA==
								</data>
								<key>Size</key>
								<integer>22206</integer>
							</dict>
							<key>files/stacks-image-239cbaa-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								C24yrVneOquf
								3OsmlbiaFQ==
								</data>
								<key>Size</key>
								<integer>30631</integer>
							</dict>
							<key>files/stacks-image-239cbaa-350x375@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								dng8K+/zJSxg
								QtsoU1n02Q==
								</data>
								<key>Size</key>
								<integer>48084</integer>
							</dict>
							<key>files/stacks-image-3956a46-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								OvV/dBCXsj69
								n0+TlxbusA==
								</data>
								<key>Size</key>
								<integer>22206</integer>
							</dict>
							<key>files/stacks-image-45366af-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								LavIuIjkXa+B
								RYb7QpCObw==
								</data>
								<key>Size</key>
								<integer>24552</integer>
							</dict>
							<key>files/stacks-image-571e73c-350x375.png</key>
							<dict>
								<key>Digest</key>
								<data>
								xpNds+On1RfX
								MUusTh8EGA==
								</data>
								<key>Size</key>
								<integer>219557</integer>
							</dict>
							<key>files/stacks-image-571e73c-350x375@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								+Ahbgit9lWWP
								Dl5fRFRt6g==
								</data>
								<key>Size</key>
								<integer>725674</integer>
							</dict>
							<key>files/stacks-image-5aa6b15-350x375.png</key>
							<dict>
								<key>Digest</key>
								<data>
								qP6RPmXoFDzS
								LgYyMCMQ4A==
								</data>
								<key>Size</key>
								<integer>227153</integer>
							</dict>
							<key>files/stacks-image-6467c3a-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								MCcuFyGJQhgK
								tcx8swUTDQ==
								</data>
								<key>Size</key>
								<integer>29001</integer>
							</dict>
							<key>files/stacks-image-681c98a-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								YM176hvPA9ly
								jw7D6MfayA==
								</data>
								<key>Size</key>
								<integer>50367</integer>
							</dict>
							<key>files/stacks-image-6d7780c-350x375.png</key>
							<dict>
								<key>Digest</key>
								<data>
								jZV7JZhNIKsK
								ZfDh5LBxRw==
								</data>
								<key>Size</key>
								<integer>131360</integer>
							</dict>
							<key>files/stacks-image-6d7780c-350x375@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								TN09FHAYdnL4
								lWydfURt6w==
								</data>
								<key>Size</key>
								<integer>484671</integer>
							</dict>
							<key>files/stacks-image-6f3f11d-350x375.png</key>
							<dict>
								<key>Digest</key>
								<data>
								gxv+xBMaZYB0
								8iOUHTNOBw==
								</data>
								<key>Size</key>
								<integer>257599</integer>
							</dict>
							<key>files/stacks-image-6fb48dc-1200x488.png</key>
							<dict>
								<key>Digest</key>
								<data>
								bl1GIjKh70GY
								JYM1e/UhGw==
								</data>
								<key>Size</key>
								<integer>107335</integer>
							</dict>
							<key>files/stacks-image-70cf7c9-332x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								SvRuaRZeonni
								jS6bsNyzyw==
								</data>
								<key>Size</key>
								<integer>38694</integer>
							</dict>
							<key>files/stacks-image-7700296-350x375.png</key>
							<dict>
								<key>Digest</key>
								<data>
								gxv+xBMaZYB0
								8iOUHTNOBw==
								</data>
								<key>Size</key>
								<integer>257599</integer>
							</dict>
							<key>files/stacks-image-78f98c2-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								5//3wc+gyL9w
								icjnYdlSJA==
								</data>
								<key>Size</key>
								<integer>40184</integer>
							</dict>
							<key>files/stacks-image-78f98c2-350x375@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ZLUPWdxPwASO
								enV4kRUGKQ==
								</data>
								<key>Size</key>
								<integer>66216</integer>
							</dict>
							<key>files/stacks-image-7bc5484-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								FyYBIRZcj01n
								UsAzynqMNQ==
								</data>
								<key>Size</key>
								<integer>32968</integer>
							</dict>
							<key>files/stacks-image-7bc5484-350x375@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								A2L3HObLBvYD
								k0x3cjmZBQ==
								</data>
								<key>Size</key>
								<integer>63325</integer>
							</dict>
							<key>files/stacks-image-7d4bd33-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								u6987/Le0Vxt
								enz2NRoDnQ==
								</data>
								<key>Size</key>
								<integer>27176</integer>
							</dict>
							<key>files/stacks-image-7d4bd33-350x375@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								4cBsuLcp6hBV
								Z5sAgQaKnA==
								</data>
								<key>Size</key>
								<integer>53643</integer>
							</dict>
							<key>files/stacks-image-853176b-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								XUEkHMWGxyeP
								aqGKNPpU2A==
								</data>
								<key>Size</key>
								<integer>25438</integer>
							</dict>
							<key>files/stacks-image-8bfe41d-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								5//3wc+gyL9w
								icjnYdlSJA==
								</data>
								<key>Size</key>
								<integer>40184</integer>
							</dict>
							<key>files/stacks-image-8bfe41d-350x375@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ZLUPWdxPwASO
								enV4kRUGKQ==
								</data>
								<key>Size</key>
								<integer>66216</integer>
							</dict>
							<key>files/stacks-image-9416b79-350x375.png</key>
							<dict>
								<key>Digest</key>
								<data>
								qP6RPmXoFDzS
								LgYyMCMQ4A==
								</data>
								<key>Size</key>
								<integer>227153</integer>
							</dict>
							<key>files/stacks-image-a0c9938-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								anYnvjfRf7lW
								+7v5zdP+iA==
								</data>
								<key>Size</key>
								<integer>20113</integer>
							</dict>
							<key>files/stacks-image-ab30bf8-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								FyYBIRZcj01n
								UsAzynqMNQ==
								</data>
								<key>Size</key>
								<integer>32968</integer>
							</dict>
							<key>files/stacks-image-ab30bf8-350x375@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								A2L3HObLBvYD
								k0x3cjmZBQ==
								</data>
								<key>Size</key>
								<integer>63325</integer>
							</dict>
							<key>files/stacks-image-b6595c0-250x82.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zZKPZConj8wG
								iVwF9P3nUA==
								</data>
								<key>Size</key>
								<integer>14796</integer>
							</dict>
							<key>files/stacks-image-b8bc7d5-350x375.png</key>
							<dict>
								<key>Digest</key>
								<data>
								jZV7JZhNIKsK
								ZfDh5LBxRw==
								</data>
								<key>Size</key>
								<integer>131360</integer>
							</dict>
							<key>files/stacks-image-b8bc7d5-350x375@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								TN09FHAYdnL4
								lWydfURt6w==
								</data>
								<key>Size</key>
								<integer>484671</integer>
							</dict>
							<key>files/stacks-image-bded2de-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								u6987/Le0Vxt
								enz2NRoDnQ==
								</data>
								<key>Size</key>
								<integer>27176</integer>
							</dict>
							<key>files/stacks-image-bded2de-350x375@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								4cBsuLcp6hBV
								Z5sAgQaKnA==
								</data>
								<key>Size</key>
								<integer>53643</integer>
							</dict>
							<key>files/stacks-image-bf17dfe-700x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								X0NYHAlc59Af
								mjh+kWyzGQ==
								</data>
								<key>Size</key>
								<integer>90474</integer>
							</dict>
							<key>files/stacks-image-c6fac6f-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								YM176hvPA9ly
								jw7D6MfayA==
								</data>
								<key>Size</key>
								<integer>50367</integer>
							</dict>
							<key>files/stacks-image-e5e8064-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								C24yrVneOquf
								3OsmlbiaFQ==
								</data>
								<key>Size</key>
								<integer>30631</integer>
							</dict>
							<key>files/stacks-image-e5e8064-350x375@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								dng8K+/zJSxg
								QtsoU1n02Q==
								</data>
								<key>Size</key>
								<integer>48084</integer>
							</dict>
							<key>files/stacks-image-e8c938f-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ZjCO9QWUz1dJ
								KLys0aU5Mg==
								</data>
								<key>Size</key>
								<integer>33845</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Hwezk6t72J5g
								2awHy7YAqA==
								</data>
								<key>Size</key>
								<integer>19470</integer>
							</dict>
							<key>files/stacks-image-f162ac2-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								MwuBisOoCaru
								V8uhx76OwQ==
								</data>
								<key>Size</key>
								<integer>37453</integer>
							</dict>
							<key>files/stacks-image-f9056c6-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								XUEkHMWGxyeP
								aqGKNPpU2A==
								</data>
								<key>Size</key>
								<integer>25438</integer>
							</dict>
							<key>files/stacks_page_page57.css</key>
							<dict>
								<key>Digest</key>
								<data>
								h2RVFtbAIGFC
								1uscfB536Q==
								</data>
								<key>Size</key>
								<integer>241377</integer>
							</dict>
							<key>files/stacks_page_page57.js</key>
							<dict>
								<key>Digest</key>
								<data>
								UkJAIsOh8Shb
								he+XuQubiA==
								</data>
								<key>Size</key>
								<integer>27905</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								IkoiFIFXcTWR
								0pqA4POy8A==
								</data>
								<key>Size</key>
								<integer>163275</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page57</string>
						<key>SiteRoot</key>
						<string>events/netsci/speakers</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
