<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>NetSci 2019</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page53</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>NetSci 2019</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.2.5</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2022-09-29T18:34:26Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/D289564D-C2D0-4B94-AA16-FC8C366062A7.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								GQHOUzuyjCs9
								Jfbg60A9OQ==
								</data>
								<key>Size</key>
								<integer>700318</integer>
							</dict>
							<key>files/small-109623-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/small-109710-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JfxF8Omi0icK
								xIwohpIZqw==
								</data>
								<key>Size</key>
								<integer>77487</integer>
							</dict>
							<key>files/small-109714-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2NMhf1k+YDl
								uPpd6H1dBw==
								</data>
								<key>Size</key>
								<integer>15019</integer>
							</dict>
							<key>files/small-109735-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D2nm4R7babci
								2M5NjfUDZQ==
								</data>
								<key>Size</key>
								<integer>18925</integer>
							</dict>
							<key>files/small-109736-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgRiuB3NhhIh
								SwZTifI18g==
								</data>
								<key>Size</key>
								<integer>21987</integer>
							</dict>
							<key>files/stacks-image-012ccd0-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								2OO7h5yPn6v+
								vNXGew8pWw==
								</data>
								<key>Size</key>
								<integer>37472</integer>
							</dict>
							<key>files/stacks-image-01b6cb7.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								28a9qyUZUYuy
								Z9wh4S00OA==
								</data>
								<key>Size</key>
								<integer>199450</integer>
							</dict>
							<key>files/stacks-image-0655a30-350x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Du+53j3rRTzX
								qGWOsevZBQ==
								</data>
								<key>Size</key>
								<integer>18175</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JV5ejNT3Y8/E
								W0wI16l5/Q==
								</data>
								<key>Size</key>
								<integer>35252</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Su+ZpJd1NY34
								s0J16tjsFg==
								</data>
								<key>Size</key>
								<integer>68409</integer>
							</dict>
							<key>files/stacks-image-0a2e163-328x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								LVyc5+e4Eghn
								2IN5rxUZQg==
								</data>
								<key>Size</key>
								<integer>43479</integer>
							</dict>
							<key>files/stacks-image-0c90353-700x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								FgLXF8KeKGcW
								heFDZMBkKA==
								</data>
								<key>Size</key>
								<integer>72355</integer>
							</dict>
							<key>files/stacks-image-1118fd8.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								sFraoy+16ql5
								9exyyMmEmg==
								</data>
								<key>Size</key>
								<integer>35091</integer>
							</dict>
							<key>files/stacks-image-127916a.png</key>
							<dict>
								<key>Digest</key>
								<data>
								lh2BKuvCaAhy
								4CAhyk89ew==
								</data>
								<key>Size</key>
								<integer>524978</integer>
							</dict>
							<key>files/stacks-image-1629f24.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								PCup30bjv0Xn
								AFSA01ed5A==
								</data>
								<key>Size</key>
								<integer>26372</integer>
							</dict>
							<key>files/stacks-image-1fdb6e6-350x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								C5CpnrhaCVvz
								h+CZ3BbW9g==
								</data>
								<key>Size</key>
								<integer>18215</integer>
							</dict>
							<key>files/stacks-image-1fdb6e6-350x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Y1yYZjBXDKdr
								JXLOVXNdLQ==
								</data>
								<key>Size</key>
								<integer>26328</integer>
							</dict>
							<key>files/stacks-image-239cbaa-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								k+2WR4UWHdB/
								6qtdfVWv8A==
								</data>
								<key>Size</key>
								<integer>30659</integer>
							</dict>
							<key>files/stacks-image-239cbaa-350x375@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Hu50rlYs//GM
								2G/OAmv8bw==
								</data>
								<key>Size</key>
								<integer>48074</integer>
							</dict>
							<key>files/stacks-image-28ec906-332x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								WZbrTyBPja5n
								qywE/tglgQ==
								</data>
								<key>Size</key>
								<integer>43534</integer>
							</dict>
							<key>files/stacks-image-2aeee5b.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								We9pB8ka4Vmx
								H5keC9AVbg==
								</data>
								<key>Size</key>
								<integer>24736</integer>
							</dict>
							<key>files/stacks-image-391616f-500x500.png</key>
							<dict>
								<key>Digest</key>
								<data>
								faGw8OkXF4fC
								fgOG+WZ5lQ==
								</data>
								<key>Size</key>
								<integer>559108</integer>
							</dict>
							<key>files/stacks-image-408abbc-500x280.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								dN7sKPAey6Bf
								PDwMMV3HvA==
								</data>
								<key>Size</key>
								<integer>27823</integer>
							</dict>
							<key>files/stacks-image-45366af-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								a4z7iE8okcaS
								S6oi11wCjg==
								</data>
								<key>Size</key>
								<integer>24565</integer>
							</dict>
							<key>files/stacks-image-506ca91.png</key>
							<dict>
								<key>Digest</key>
								<data>
								8EdMMOs3/vIq
								ik9HPArzCA==
								</data>
								<key>Size</key>
								<integer>340983</integer>
							</dict>
							<key>files/stacks-image-529cde2.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								GXFXYjQLv+hV
								FDCl0G8p2g==
								</data>
								<key>Size</key>
								<integer>25905</integer>
							</dict>
							<key>files/stacks-image-56a1744-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								yKL8V9PErNgJ
								9Pn7N1cqXQ==
								</data>
								<key>Size</key>
								<integer>33827</integer>
							</dict>
							<key>files/stacks-image-571e73c-350x375.png</key>
							<dict>
								<key>Digest</key>
								<data>
								nJWoYlyxyVW7
								V8yL40Ik0Q==
								</data>
								<key>Size</key>
								<integer>219670</integer>
							</dict>
							<key>files/stacks-image-571e73c-350x375@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								1gms+BROI5Kh
								kdtrQxUZbg==
								</data>
								<key>Size</key>
								<integer>725996</integer>
							</dict>
							<key>files/stacks-image-5aa6b15-350x375.png</key>
							<dict>
								<key>Digest</key>
								<data>
								3HuWCeisABnN
								kWoY4RMBSA==
								</data>
								<key>Size</key>
								<integer>227096</integer>
							</dict>
							<key>files/stacks-image-6037ffd-500x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								oP/U9M/4BfGF
								c/usHvX2WQ==
								</data>
								<key>Size</key>
								<integer>56685</integer>
							</dict>
							<key>files/stacks-image-6298502.png</key>
							<dict>
								<key>Digest</key>
								<data>
								I7BlJ/sIfKCd
								y/+Noen/4A==
								</data>
								<key>Size</key>
								<integer>69706</integer>
							</dict>
							<key>files/stacks-image-6467c3a-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								qApioKGI3+70
								Lvx/x9+Wcg==
								</data>
								<key>Size</key>
								<integer>28990</integer>
							</dict>
							<key>files/stacks-image-681c98a-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								D8zwRcyFXEz8
								RlIrbFeNEQ==
								</data>
								<key>Size</key>
								<integer>50380</integer>
							</dict>
							<key>files/stacks-image-6c2cdff-500x500.png</key>
							<dict>
								<key>Digest</key>
								<data>
								FRhxa8d300P6
								4xfS8PLKgg==
								</data>
								<key>Size</key>
								<integer>432179</integer>
							</dict>
							<key>files/stacks-image-6c2cdff-500x500@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								CnJMV6UuvZUo
								21y4vbLsGA==
								</data>
								<key>Size</key>
								<integer>1647406</integer>
							</dict>
							<key>files/stacks-image-6d7780c-350x375.png</key>
							<dict>
								<key>Digest</key>
								<data>
								TjS3bTNtczXT
								Ah+lmk+l7w==
								</data>
								<key>Size</key>
								<integer>131527</integer>
							</dict>
							<key>files/stacks-image-6d7780c-350x375@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								FQ7JHI/dEQ9b
								c+20b7RhEg==
								</data>
								<key>Size</key>
								<integer>484712</integer>
							</dict>
							<key>files/stacks-image-6db2017-500x376.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ExVcnOETsCID
								kApBla2CpA==
								</data>
								<key>Size</key>
								<integer>28831</integer>
							</dict>
							<key>files/stacks-image-6db2017-500x376@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								MsYcKpi8r/W6
								YdrImizXPg==
								</data>
								<key>Size</key>
								<integer>44973</integer>
							</dict>
							<key>files/stacks-image-6f3f11d-350x375.png</key>
							<dict>
								<key>Digest</key>
								<data>
								98+VX1r9IKR0
								QE9wy5wyCQ==
								</data>
								<key>Size</key>
								<integer>257573</integer>
							</dict>
							<key>files/stacks-image-6fb48dc-1200x488.png</key>
							<dict>
								<key>Digest</key>
								<data>
								qTEXB3cE5dqK
								ZRg67qCguw==
								</data>
								<key>Size</key>
								<integer>107336</integer>
							</dict>
							<key>files/stacks-image-7700296-350x375.png</key>
							<dict>
								<key>Digest</key>
								<data>
								98+VX1r9IKR0
								QE9wy5wyCQ==
								</data>
								<key>Size</key>
								<integer>257573</integer>
							</dict>
							<key>files/stacks-image-7841e09.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								N4PpCrmytr8z
								lNWtcwKD6g==
								</data>
								<key>Size</key>
								<integer>8443</integer>
							</dict>
							<key>files/stacks-image-78f98c2-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								4OB7AP5ePB+0
								vq7gSHacpg==
								</data>
								<key>Size</key>
								<integer>40174</integer>
							</dict>
							<key>files/stacks-image-78f98c2-350x375@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								UG41r1Wui2Gz
								XEc/xr/2SQ==
								</data>
								<key>Size</key>
								<integer>66234</integer>
							</dict>
							<key>files/stacks-image-7baace1.png</key>
							<dict>
								<key>Digest</key>
								<data>
								uEJORZYvXD+2
								XjdrJ+u0zA==
								</data>
								<key>Size</key>
								<integer>54441</integer>
							</dict>
							<key>files/stacks-image-7bc5484-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								g/B+7SergNCM
								lwCFW6sUOg==
								</data>
								<key>Size</key>
								<integer>35176</integer>
							</dict>
							<key>files/stacks-image-7bc5484-350x375@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								+geuZ33hOWmL
								MccS68xblA==
								</data>
								<key>Size</key>
								<integer>60079</integer>
							</dict>
							<key>files/stacks-image-7d4bd33-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								IiGn/kgQp8Xh
								OSV9YqoQIg==
								</data>
								<key>Size</key>
								<integer>29488</integer>
							</dict>
							<key>files/stacks-image-7d4bd33-350x375@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								QCCwB5Gm3l0u
								oP0e8wAUsg==
								</data>
								<key>Size</key>
								<integer>50889</integer>
							</dict>
							<key>files/stacks-image-853176b-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								vJZq4MQf2R+K
								PsSoaQ1/ZQ==
								</data>
								<key>Size</key>
								<integer>25433</integer>
							</dict>
							<key>files/stacks-image-85b8eaa-500x500.png</key>
							<dict>
								<key>Digest</key>
								<data>
								xUFuw+cg3Kle
								Hl29WZStww==
								</data>
								<key>Size</key>
								<integer>390545</integer>
							</dict>
							<key>files/stacks-image-8bfe41d-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								4OB7AP5ePB+0
								vq7gSHacpg==
								</data>
								<key>Size</key>
								<integer>40174</integer>
							</dict>
							<key>files/stacks-image-8bfe41d-350x375@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								UG41r1Wui2Gz
								XEc/xr/2SQ==
								</data>
								<key>Size</key>
								<integer>66234</integer>
							</dict>
							<key>files/stacks-image-93fd638-332x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								146qYMFm7Qq6
								ZQH9RXRS4g==
								</data>
								<key>Size</key>
								<integer>38719</integer>
							</dict>
							<key>files/stacks-image-9416b79-350x375.png</key>
							<dict>
								<key>Digest</key>
								<data>
								3HuWCeisABnN
								kWoY4RMBSA==
								</data>
								<key>Size</key>
								<integer>227096</integer>
							</dict>
							<key>files/stacks-image-9c884d0.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								fU/F14sAci93
								dY+HaHVrFw==
								</data>
								<key>Size</key>
								<integer>243823</integer>
							</dict>
							<key>files/stacks-image-9dd6b57.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Ja70Tal4C+3g
								51eZ/sKWCA==
								</data>
								<key>Size</key>
								<integer>340206</integer>
							</dict>
							<key>files/stacks-image-9e8a1b4-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								uSQDo16+eNX1
								PjSvXDFAOg==
								</data>
								<key>Size</key>
								<integer>22205</integer>
							</dict>
							<key>files/stacks-image-a0c9938-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								anYnvjfRf7lW
								+7v5zdP+iA==
								</data>
								<key>Size</key>
								<integer>20113</integer>
							</dict>
							<key>files/stacks-image-a95c28b-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								uSQDo16+eNX1
								PjSvXDFAOg==
								</data>
								<key>Size</key>
								<integer>22205</integer>
							</dict>
							<key>files/stacks-image-ab30bf8-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								g/B+7SergNCM
								lwCFW6sUOg==
								</data>
								<key>Size</key>
								<integer>35176</integer>
							</dict>
							<key>files/stacks-image-ab30bf8-350x375@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								+geuZ33hOWmL
								MccS68xblA==
								</data>
								<key>Size</key>
								<integer>60079</integer>
							</dict>
							<key>files/stacks-image-ae20feb-500x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ms5DSb50pQn+
								DssZIAlw+A==
								</data>
								<key>Size</key>
								<integer>39119</integer>
							</dict>
							<key>files/stacks-image-ae20feb-500x500@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								nt5ZH4BMDWeJ
								S5dUjVWR+A==
								</data>
								<key>Size</key>
								<integer>61729</integer>
							</dict>
							<key>files/stacks-image-b379a6f-500x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								1YOW81i9D26z
								EQlvLag0rw==
								</data>
								<key>Size</key>
								<integer>54046</integer>
							</dict>
							<key>files/stacks-image-b6595c0-250x82.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JCcuuQKB27HD
								0sYA9fAtLA==
								</data>
								<key>Size</key>
								<integer>14785</integer>
							</dict>
							<key>files/stacks-image-b8bc7d5-350x375.png</key>
							<dict>
								<key>Digest</key>
								<data>
								TjS3bTNtczXT
								Ah+lmk+l7w==
								</data>
								<key>Size</key>
								<integer>131527</integer>
							</dict>
							<key>files/stacks-image-b8bc7d5-350x375@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								FQ7JHI/dEQ9b
								c+20b7RhEg==
								</data>
								<key>Size</key>
								<integer>484712</integer>
							</dict>
							<key>files/stacks-image-b90e42d.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								7Ov4M+uEO0lh
								avEtq2w06w==
								</data>
								<key>Size</key>
								<integer>31635</integer>
							</dict>
							<key>files/stacks-image-bded2de-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								IiGn/kgQp8Xh
								OSV9YqoQIg==
								</data>
								<key>Size</key>
								<integer>29488</integer>
							</dict>
							<key>files/stacks-image-bded2de-350x375@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								QCCwB5Gm3l0u
								oP0e8wAUsg==
								</data>
								<key>Size</key>
								<integer>50889</integer>
							</dict>
							<key>files/stacks-image-c132778-1200x800.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								v1/QzqGRsn32
								qHi20lGOzQ==
								</data>
								<key>Size</key>
								<integer>170062</integer>
							</dict>
							<key>files/stacks-image-c132778-1200x800@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								GdHjtxpwIihn
								IM7f7Q0u9Q==
								</data>
								<key>Size</key>
								<integer>300634</integer>
							</dict>
							<key>files/stacks-image-c6e25a9.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								pGqdJwYojFxw
								HJPiARAEZQ==
								</data>
								<key>Size</key>
								<integer>42733</integer>
							</dict>
							<key>files/stacks-image-c6fac6f-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								D8zwRcyFXEz8
								RlIrbFeNEQ==
								</data>
								<key>Size</key>
								<integer>50380</integer>
							</dict>
							<key>files/stacks-image-cd0a404.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Nb2TZEoroRSC
								Y+xT2IHd1Q==
								</data>
								<key>Size</key>
								<integer>27178</integer>
							</dict>
							<key>files/stacks-image-cd43f5e-500x374.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								qmG6nOyloctI
								JPlasrYB5A==
								</data>
								<key>Size</key>
								<integer>46874</integer>
							</dict>
							<key>files/stacks-image-cd43f5e-500x374@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								/Ry9GqaS7uQf
								Z5npO7LRRg==
								</data>
								<key>Size</key>
								<integer>146947</integer>
							</dict>
							<key>files/stacks-image-cfadf25.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9nBAHyaW6iKX
								SMq0xWVuoA==
								</data>
								<key>Size</key>
								<integer>25161</integer>
							</dict>
							<key>files/stacks-image-d7139db.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								d8N940Mz+Z7w
								r1KttVpXdw==
								</data>
								<key>Size</key>
								<integer>204779</integer>
							</dict>
							<key>files/stacks-image-e5e8064-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								k+2WR4UWHdB/
								6qtdfVWv8A==
								</data>
								<key>Size</key>
								<integer>30659</integer>
							</dict>
							<key>files/stacks-image-e5e8064-350x375@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Hu50rlYs//GM
								2G/OAmv8bw==
								</data>
								<key>Size</key>
								<integer>48074</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								0LBTZh9Y4iZ6
								By0DZuC++A==
								</data>
								<key>Size</key>
								<integer>19463</integer>
							</dict>
							<key>files/stacks-image-eb41103.png</key>
							<dict>
								<key>Digest</key>
								<data>
								U8rs2tG9P5kx
								+qQ8DkmxVg==
								</data>
								<key>Size</key>
								<integer>375487</integer>
							</dict>
							<key>files/stacks-image-f14500c-500x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								mp0v7KB+MsYG
								ENm1pmTCWg==
								</data>
								<key>Size</key>
								<integer>46319</integer>
							</dict>
							<key>files/stacks-image-f162ac2-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								2OO7h5yPn6v+
								vNXGew8pWw==
								</data>
								<key>Size</key>
								<integer>37472</integer>
							</dict>
							<key>files/stacks-image-f653d0a.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								hCVTK4oyyITK
								kXBXOiPsAg==
								</data>
								<key>Size</key>
								<integer>22811</integer>
							</dict>
							<key>files/stacks-image-f6abd7f-332x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								146qYMFm7Qq6
								ZQH9RXRS4g==
								</data>
								<key>Size</key>
								<integer>38719</integer>
							</dict>
							<key>files/stacks-image-f9056c6-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								vJZq4MQf2R+K
								PsSoaQ1/ZQ==
								</data>
								<key>Size</key>
								<integer>25433</integer>
							</dict>
							<key>files/stacks-image-fa235ce-400x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								/6g0CTN6+oUu
								lfj1eCBhqw==
								</data>
								<key>Size</key>
								<integer>61282</integer>
							</dict>
							<key>files/stacks_page_page53.css</key>
							<dict>
								<key>Digest</key>
								<data>
								rBmKZlK45ocV
								Rk1S8+ZrzQ==
								</data>
								<key>Size</key>
								<integer>361705</integer>
							</dict>
							<key>files/stacks_page_page53.js</key>
							<dict>
								<key>Digest</key>
								<data>
								ZPkN2NdEDuri
								d4DoE+YN2Q==
								</data>
								<key>Size</key>
								<integer>32574</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								kpi4btTgSq9Z
								DGmmaNqqMQ==
								</data>
								<key>Size</key>
								<integer>286381</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page53</string>
						<key>SiteRoot</key>
						<string>events/netsci</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>ChildPages</string>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
