<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Students</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page89</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Students </string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.2.4</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2022-05-05T22:06:09Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small-109623-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/small-109710-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JfxF8Omi0icK
								xIwohpIZqw==
								</data>
								<key>Size</key>
								<integer>77487</integer>
							</dict>
							<key>files/small-109714-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2NMhf1k+YDl
								uPpd6H1dBw==
								</data>
								<key>Size</key>
								<integer>15019</integer>
							</dict>
							<key>files/small-109735-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D2nm4R7babci
								2M5NjfUDZQ==
								</data>
								<key>Size</key>
								<integer>18925</integer>
							</dict>
							<key>files/small-109736-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgRiuB3NhhIh
								SwZTifI18g==
								</data>
								<key>Size</key>
								<integer>21987</integer>
							</dict>
							<key>files/stacks-image-05189a6-250x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								GmJHGeK7qwSe
								EHEaICwoKQ==
								</data>
								<key>Size</key>
								<integer>19645</integer>
							</dict>
							<key>files/stacks-image-05189a6-250x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								fxFS/38dPJsR
								4NFISa2GaA==
								</data>
								<key>Size</key>
								<integer>35924</integer>
							</dict>
							<key>files/stacks-image-0705093-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								fWsq+x82sDjN
								g2kD9mbYSg==
								</data>
								<key>Size</key>
								<integer>18621</integer>
							</dict>
							<key>files/stacks-image-0705093-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								qQKSTxQ2IDvT
								nF/XnkOnqQ==
								</data>
								<key>Size</key>
								<integer>26150</integer>
							</dict>
							<key>files/stacks-image-074db50-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								46cE3OYZ5H9e
								XxuTiEzW8w==
								</data>
								<key>Size</key>
								<integer>23032</integer>
							</dict>
							<key>files/stacks-image-074db50-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								EsNULB+zoeYm
								cihJ3a2MQQ==
								</data>
								<key>Size</key>
								<integer>33172</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								nc/RlhmvGDDL
								K+SuTjMLPQ==
								</data>
								<key>Size</key>
								<integer>35262</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								tvAomUQyeND0
								vTpTZz/VVg==
								</data>
								<key>Size</key>
								<integer>68367</integer>
							</dict>
							<key>files/stacks-image-0b98171-500x428.png</key>
							<dict>
								<key>Digest</key>
								<data>
								7TF/+htTYTiA
								BDDy8c6gCA==
								</data>
								<key>Size</key>
								<integer>69508</integer>
							</dict>
							<key>files/stacks-image-0b98171-500x428@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								HToeC0P9aNlG
								0oiJD1QlTA==
								</data>
								<key>Size</key>
								<integer>184915</integer>
							</dict>
							<key>files/stacks-image-13dcb14-198x198.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								61fpD8m0LyG7
								fthNPhL5/A==
								</data>
								<key>Size</key>
								<integer>16205</integer>
							</dict>
							<key>files/stacks-image-13dcb14-198x198@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								q1ZKipGYYQ2o
								xDexmTY+HA==
								</data>
								<key>Size</key>
								<integer>23811</integer>
							</dict>
							<key>files/stacks-image-1822fe3-250x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								3F8+ssh9JNl+
								+n1bcrFSxA==
								</data>
								<key>Size</key>
								<integer>16175</integer>
							</dict>
							<key>files/stacks-image-1822fe3-250x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								U2YWk/F34X8f
								+d5GOd2SWw==
								</data>
								<key>Size</key>
								<integer>25061</integer>
							</dict>
							<key>files/stacks-image-1a5be56-250x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								lV0FsC8gsmez
								/rABGxJtew==
								</data>
								<key>Size</key>
								<integer>16897</integer>
							</dict>
							<key>files/stacks-image-1f1ee52-1200x1028.png</key>
							<dict>
								<key>Digest</key>
								<data>
								SCaVbbxDAIB8
								A/Y2P8Xxnw==
								</data>
								<key>Size</key>
								<integer>265142</integer>
							</dict>
							<key>files/stacks-image-1f1ee52-1200x1028@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								+N7PHOnbSs0F
								8FTXToFWAg==
								</data>
								<key>Size</key>
								<integer>809152</integer>
							</dict>
							<key>files/stacks-image-2247e1c-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MtcqxvMvlf6a
								Vv0rgYqInQ==
								</data>
								<key>Size</key>
								<integer>55053</integer>
							</dict>
							<key>files/stacks-image-281e592-250x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ZQh+vYPrnAOU
								gvkRqjj8YA==
								</data>
								<key>Size</key>
								<integer>16128</integer>
							</dict>
							<key>files/stacks-image-281e592-250x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								xaLlXdjqz2lj
								ns0JCaX/5w==
								</data>
								<key>Size</key>
								<integer>23953</integer>
							</dict>
							<key>files/stacks-image-2cab695-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								FckvgwQIihgo
								yzkgiAR0Mg==
								</data>
								<key>Size</key>
								<integer>14893</integer>
							</dict>
							<key>files/stacks-image-2cede1e-186x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								7KT7ykn5Vyt3
								77rLZP8oNQ==
								</data>
								<key>Size</key>
								<integer>15630</integer>
							</dict>
							<key>files/stacks-image-2cede1e-186x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								EmkMbKQh2eHX
								QYq5H48Hxg==
								</data>
								<key>Size</key>
								<integer>22073</integer>
							</dict>
							<key>files/stacks-image-36472c7-250x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								e0XgWXhaOhgA
								W5nN2BxZEA==
								</data>
								<key>Size</key>
								<integer>21554</integer>
							</dict>
							<key>files/stacks-image-36472c7-250x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								IHNxMdbomgQr
								VF2W66Pfpw==
								</data>
								<key>Size</key>
								<integer>32963</integer>
							</dict>
							<key>files/stacks-image-3d2ee87-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Z4jb8h4rH5ov
								QJQ5y5mvwg==
								</data>
								<key>Size</key>
								<integer>22947</integer>
							</dict>
							<key>files/stacks-image-3d2ee87-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								E03SvcA/rHeX
								5MxXkSXTjA==
								</data>
								<key>Size</key>
								<integer>41868</integer>
							</dict>
							<key>files/stacks-image-4112ee5-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								MUfvHqJ/n78A
								WUewB66PWg==
								</data>
								<key>Size</key>
								<integer>12613</integer>
							</dict>
							<key>files/stacks-image-4112ee5-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								pI7uppxozfdK
								/lQuSr7njA==
								</data>
								<key>Size</key>
								<integer>18784</integer>
							</dict>
							<key>files/stacks-image-4220915-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								YKRScGM2KTZu
								TgX//082vg==
								</data>
								<key>Size</key>
								<integer>12976</integer>
							</dict>
							<key>files/stacks-image-45ca9fb-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								nZ8gM8J7xGRd
								NVWw/KF4PA==
								</data>
								<key>Size</key>
								<integer>11846</integer>
							</dict>
							<key>files/stacks-image-45ca9fb-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								vMIQfW8N2XUI
								0nk0UZAz2Q==
								</data>
								<key>Size</key>
								<integer>17448</integer>
							</dict>
							<key>files/stacks-image-49b4ce9-250x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								TDsbhRz1fAng
								PXRgaIWQHA==
								</data>
								<key>Size</key>
								<integer>32869</integer>
							</dict>
							<key>files/stacks-image-49b4ce9-250x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								tHjJYhGSDb48
								X7aP/0pTxw==
								</data>
								<key>Size</key>
								<integer>63090</integer>
							</dict>
							<key>files/stacks-image-49ca07f-1200x1028.png</key>
							<dict>
								<key>Digest</key>
								<data>
								01BLFXh68+3O
								YV3B8FrroQ==
								</data>
								<key>Size</key>
								<integer>341308</integer>
							</dict>
							<key>files/stacks-image-49ca07f-1200x1028@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								3rhGjnetmU4/
								HgtW1jB06Q==
								</data>
								<key>Size</key>
								<integer>1062359</integer>
							</dict>
							<key>files/stacks-image-4b73cc1.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								aWgvxV9mU8tA
								ZXm+jEKG/Q==
								</data>
								<key>Size</key>
								<integer>19545</integer>
							</dict>
							<key>files/stacks-image-4dc199b.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								va3qU1QdMCSr
								EhFZVluK0w==
								</data>
								<key>Size</key>
								<integer>10795</integer>
							</dict>
							<key>files/stacks-image-4f13951-162x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								dx6PuZ7iBiPL
								IsvPmjbIug==
								</data>
								<key>Size</key>
								<integer>75515</integer>
							</dict>
							<key>files/stacks-image-4f13951-162x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								G5mkESUvbrvf
								FlBu/UiFsA==
								</data>
								<key>Size</key>
								<integer>273814</integer>
							</dict>
							<key>files/stacks-image-541b38d.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Mag094rYUSM7
								OlN+5qzw/Q==
								</data>
								<key>Size</key>
								<integer>33074</integer>
							</dict>
							<key>files/stacks-image-5483662-168x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								rH/fLQOq3Hjl
								A+ww6/c0pA==
								</data>
								<key>Size</key>
								<integer>13257</integer>
							</dict>
							<key>files/stacks-image-5a00b16-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MXR3QyI2Cd6x
								6sYtUMuInA==
								</data>
								<key>Size</key>
								<integer>51270</integer>
							</dict>
							<key>files/stacks-image-5b4eb3e-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								WjaOoucqcAGf
								AIM19bQ/XA==
								</data>
								<key>Size</key>
								<integer>13535</integer>
							</dict>
							<key>files/stacks-image-5b4eb3e-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								6naAeX7u8jo/
								0Kt/PjX6jA==
								</data>
								<key>Size</key>
								<integer>18709</integer>
							</dict>
							<key>files/stacks-image-62f12e6-111381.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								t5vSZ4keMdu1
								zOY/5lDalQ==
								</data>
								<key>Size</key>
								<integer>7643</integer>
							</dict>
							<key>files/stacks-image-636ed7c-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								8GX5NHmW7XqN
								oddBIGmGww==
								</data>
								<key>Size</key>
								<integer>16045</integer>
							</dict>
							<key>files/stacks-image-636ed7c-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								h3B6RAl9t6Ak
								7OwkMWP+ow==
								</data>
								<key>Size</key>
								<integer>24441</integer>
							</dict>
							<key>files/stacks-image-6503b5c-206x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								WmtZdxvGXddJ
								lC2Cis23cg==
								</data>
								<key>Size</key>
								<integer>14890</integer>
							</dict>
							<key>files/stacks-image-6503b5c-206x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								kV8lp1Z7Ajgm
								oqKicG94HQ==
								</data>
								<key>Size</key>
								<integer>22528</integer>
							</dict>
							<key>files/stacks-image-6561426-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								nqsr67qxwRE/
								L7NMvT3BBQ==
								</data>
								<key>Size</key>
								<integer>23135</integer>
							</dict>
							<key>files/stacks-image-65c86ab-224x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								B9CEDP42fi1K
								9GbyRWBNhA==
								</data>
								<key>Size</key>
								<integer>17953</integer>
							</dict>
							<key>files/stacks-image-685b5ef-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								JptHqMkSkt+c
								wa0GdzKZaA==
								</data>
								<key>Size</key>
								<integer>22621</integer>
							</dict>
							<key>files/stacks-image-685b5ef-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								YVqGvWU4lsZS
								NS7K4M+JQQ==
								</data>
								<key>Size</key>
								<integer>36023</integer>
							</dict>
							<key>files/stacks-image-6b903a6-250x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								nDqmV8KWqIG5
								QKsNlyMCMw==
								</data>
								<key>Size</key>
								<integer>23824</integer>
							</dict>
							<key>files/stacks-image-6b903a6-250x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								M4ji1xND2qFt
								QFO+Z1rMBw==
								</data>
								<key>Size</key>
								<integer>42389</integer>
							</dict>
							<key>files/stacks-image-6de621d-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								7JHrdPGrfJbn
								4eLsvuHUcg==
								</data>
								<key>Size</key>
								<integer>17760</integer>
							</dict>
							<key>files/stacks-image-6de621d-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ptwyAEdhG4Gr
								+05kT7ZcHA==
								</data>
								<key>Size</key>
								<integer>30316</integer>
							</dict>
							<key>files/stacks-image-6e12f17.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								F355TBXiznz4
								mX6S9zFamQ==
								</data>
								<key>Size</key>
								<integer>20057</integer>
							</dict>
							<key>files/stacks-image-6f5c9c8-250x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								V09G3tG29YpN
								rB6rhHykSg==
								</data>
								<key>Size</key>
								<integer>30620</integer>
							</dict>
							<key>files/stacks-image-7141bc3-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								+YlJDXQNLWwm
								5NAU74dMdA==
								</data>
								<key>Size</key>
								<integer>81728</integer>
							</dict>
							<key>files/stacks-image-7141bc3-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Nn2i0eYuTHs6
								bmI41YgoaA==
								</data>
								<key>Size</key>
								<integer>123826</integer>
							</dict>
							<key>files/stacks-image-7239536-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ToONSVdRKkp3
								iPRU1K2xMw==
								</data>
								<key>Size</key>
								<integer>12338</integer>
							</dict>
							<key>files/stacks-image-7239536-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								6rwVER0eylwM
								PWt11JPfFg==
								</data>
								<key>Size</key>
								<integer>17360</integer>
							</dict>
							<key>files/stacks-image-75adb1c.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								EBZBFWxJVBkw
								M+DN+KKvmg==
								</data>
								<key>Size</key>
								<integer>10191</integer>
							</dict>
							<key>files/stacks-image-775734f-1200x1028.png</key>
							<dict>
								<key>Digest</key>
								<data>
								+yCYOo430SO/
								caAvI+Gcxw==
								</data>
								<key>Size</key>
								<integer>275824</integer>
							</dict>
							<key>files/stacks-image-775734f-1200x1028@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								7eRT8WnigP8E
								zS1In5bQww==
								</data>
								<key>Size</key>
								<integer>816338</integer>
							</dict>
							<key>files/stacks-image-869f5d7-352x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								QcNB4TOGqg4D
								r/IHyGN8Yg==
								</data>
								<key>Size</key>
								<integer>53167</integer>
							</dict>
							<key>files/stacks-image-9106f9a-250x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								nvYZoLVy4YU1
								QR7ywmVGWg==
								</data>
								<key>Size</key>
								<integer>16805</integer>
							</dict>
							<key>files/stacks-image-9106f9a-250x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								3ZlYAZLcBgjq
								hfxC1MCiJA==
								</data>
								<key>Size</key>
								<integer>24243</integer>
							</dict>
							<key>files/stacks-image-94d2d36-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								sDP7dFsWxWJy
								x8X8ZhXpAQ==
								</data>
								<key>Size</key>
								<integer>13748</integer>
							</dict>
							<key>files/stacks-image-9d678b0-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								YqKMiH9oGRkk
								b9Mpo5Kq1w==
								</data>
								<key>Size</key>
								<integer>19944</integer>
							</dict>
							<key>files/stacks-image-9d678b0-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								w45H+WAYOyoN
								GfhrGuN2vA==
								</data>
								<key>Size</key>
								<integer>32722</integer>
							</dict>
							<key>files/stacks-image-b9534b9-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								bOAcl1TnITSL
								brZ8uop9dA==
								</data>
								<key>Size</key>
								<integer>14986</integer>
							</dict>
							<key>files/stacks-image-b9a197f-250x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								eGmRgYs15E2F
								gCLfzytSAQ==
								</data>
								<key>Size</key>
								<integer>20673</integer>
							</dict>
							<key>files/stacks-image-bc4e7a0-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								/+h7aqYJ98VG
								Y7DKzN3NJQ==
								</data>
								<key>Size</key>
								<integer>14076</integer>
							</dict>
							<key>files/stacks-image-bc4e7a0-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								jWXNDP3yTv8l
								KU+0epfl4A==
								</data>
								<key>Size</key>
								<integer>24056</integer>
							</dict>
							<key>files/stacks-image-bc98195-111079.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								eIcGZ/52DMEJ
								UydRP37KAA==
								</data>
								<key>Size</key>
								<integer>10135</integer>
							</dict>
							<key>files/stacks-image-bc98195-111079@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								VAJ1LvqnKG1l
								077rtp8S+w==
								</data>
								<key>Size</key>
								<integer>14344</integer>
							</dict>
							<key>files/stacks-image-bc98195-212x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								4qR5kzKqlEcD
								9MFCezuC+A==
								</data>
								<key>Size</key>
								<integer>11794</integer>
							</dict>
							<key>files/stacks-image-bc98195-212x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								3j3jFQP9m80X
								oQClj7OD4w==
								</data>
								<key>Size</key>
								<integer>17097</integer>
							</dict>
							<key>files/stacks-image-bed9ff0-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								R0KHxB4CLt1L
								xGqCDTA9YA==
								</data>
								<key>Size</key>
								<integer>40643</integer>
							</dict>
							<key>files/stacks-image-bf58fcb-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								aiQxWqb9aP2r
								/fbgoD1kaA==
								</data>
								<key>Size</key>
								<integer>14956</integer>
							</dict>
							<key>files/stacks-image-bf58fcb-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								7Fc37OkNlJ4v
								fnJP9z5ZyA==
								</data>
								<key>Size</key>
								<integer>21197</integer>
							</dict>
							<key>files/stacks-image-c010867-250x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								LgP02OBdvA+Q
								ZBu0xMAOAQ==
								</data>
								<key>Size</key>
								<integer>14989</integer>
							</dict>
							<key>files/stacks-image-c010867-250x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								WwbWNH2PxU3I
								iIrxBktxXQ==
								</data>
								<key>Size</key>
								<integer>26053</integer>
							</dict>
							<key>files/stacks-image-c0b834e-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								H+RqA9SiHmn+
								5L/1kVFtmw==
								</data>
								<key>Size</key>
								<integer>12932</integer>
							</dict>
							<key>files/stacks-image-c0b834e-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								2DCSWlD+97sw
								qSEUK8/ewQ==
								</data>
								<key>Size</key>
								<integer>17678</integer>
							</dict>
							<key>files/stacks-image-c0f94ea-186x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								JyPQCNcwP16L
								U/rSNEilzA==
								</data>
								<key>Size</key>
								<integer>10233</integer>
							</dict>
							<key>files/stacks-image-c229d6e-334x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								kbTdtYBnD1Gk
								ptdnxSUmpQ==
								</data>
								<key>Size</key>
								<integer>25186</integer>
							</dict>
							<key>files/stacks-image-c2d9b60-198x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								A6ZiE28NfrlM
								kRu7sMaHLQ==
								</data>
								<key>Size</key>
								<integer>42007</integer>
							</dict>
							<key>files/stacks-image-c405c5c.png</key>
							<dict>
								<key>Digest</key>
								<data>
								41fwGdHpvP31
								cVJWak+3YA==
								</data>
								<key>Size</key>
								<integer>38189</integer>
							</dict>
							<key>files/stacks-image-c477107-250x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								aGH9pAQGPzZ4
								HFbugVcfaA==
								</data>
								<key>Size</key>
								<integer>21104</integer>
							</dict>
							<key>files/stacks-image-c820341-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								xXfpybP06f/W
								bqmJuqc4jQ==
								</data>
								<key>Size</key>
								<integer>11851</integer>
							</dict>
							<key>files/stacks-image-c820341-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								cizuiCnhA994
								n99EFqmUxQ==
								</data>
								<key>Size</key>
								<integer>19219</integer>
							</dict>
							<key>files/stacks-image-c926267-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Fup7kbFdsi73
								/Mr62yYNGQ==
								</data>
								<key>Size</key>
								<integer>17970</integer>
							</dict>
							<key>files/stacks-image-c926267-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								sU+IWUzMb/DV
								zuFCza039A==
								</data>
								<key>Size</key>
								<integer>27267</integer>
							</dict>
							<key>files/stacks-image-d0b6053-250x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								bkWWLNmdSAwI
								FKg39NnBnA==
								</data>
								<key>Size</key>
								<integer>23682</integer>
							</dict>
							<key>files/stacks-image-d0b6053-250x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								snj9HUqkeoX5
								RQ1TTjR8XA==
								</data>
								<key>Size</key>
								<integer>43659</integer>
							</dict>
							<key>files/stacks-image-d3a82ac-250x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Q4P4yToXx2tT
								sN9CjP+OBg==
								</data>
								<key>Size</key>
								<integer>32218</integer>
							</dict>
							<key>files/stacks-image-d55994e-166x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								PZiW4KABB6aD
								pdc+OPTQnQ==
								</data>
								<key>Size</key>
								<integer>18087</integer>
							</dict>
							<key>files/stacks-image-d55994e-166x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								6iD1OosjAK4m
								9y8dcAsv5Q==
								</data>
								<key>Size</key>
								<integer>34864</integer>
							</dict>
							<key>files/stacks-image-d55994e-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								uh6AqtQfu2zz
								p05ISpzd+g==
								</data>
								<key>Size</key>
								<integer>18388</integer>
							</dict>
							<key>files/stacks-image-d55994e-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								fPsRN5vM10mz
								O4W7Ymg8GA==
								</data>
								<key>Size</key>
								<integer>31981</integer>
							</dict>
							<key>files/stacks-image-d7fcbbb-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Dpammi0U+u0T
								axBiRGk6Vw==
								</data>
								<key>Size</key>
								<integer>11590</integer>
							</dict>
							<key>files/stacks-image-d7fcbbb-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								aIJ01ETb+6eK
								cOvk4mg+1g==
								</data>
								<key>Size</key>
								<integer>16808</integer>
							</dict>
							<key>files/stacks-image-dcdd364-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Gcu80wFd8zjY
								HPirnQQEaw==
								</data>
								<key>Size</key>
								<integer>15321</integer>
							</dict>
							<key>files/stacks-image-dcdd364-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								S8iRREpcq9P+
								rqME9E/c8A==
								</data>
								<key>Size</key>
								<integer>24181</integer>
							</dict>
							<key>files/stacks-image-e4b39a9-250x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Fr4LrUxy0Zgy
								HWg81LJsIQ==
								</data>
								<key>Size</key>
								<integer>28043</integer>
							</dict>
							<key>files/stacks-image-e4b39a9-250x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ho+OKgFVJVHQ
								IU48NZrafQ==
								</data>
								<key>Size</key>
								<integer>48659</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Hwezk6t72J5g
								2awHy7YAqA==
								</data>
								<key>Size</key>
								<integer>19470</integer>
							</dict>
							<key>files/stacks-image-e9f1c85-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								v3Ub01hA/K4g
								a8txkwIBVQ==
								</data>
								<key>Size</key>
								<integer>15497</integer>
							</dict>
							<key>files/stacks-image-e9f1c85-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								/UGO8AwpVVMG
								QrM55UtVdw==
								</data>
								<key>Size</key>
								<integer>27976</integer>
							</dict>
							<key>files/stacks-image-eaa0881-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								2RSQtGgjaoPu
								IFl9jSSJ7Q==
								</data>
								<key>Size</key>
								<integer>10826</integer>
							</dict>
							<key>files/stacks-image-efc4fea-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								56p/ubd2Y9dW
								TTIGDG3akw==
								</data>
								<key>Size</key>
								<integer>31742</integer>
							</dict>
							<key>files/stacks-image-f4d28b6-250x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								HKCtKaS+uy1U
								IPPGAenPsQ==
								</data>
								<key>Size</key>
								<integer>15452</integer>
							</dict>
							<key>files/stacks-image-f4d28b6-250x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								bA/1/opUod8K
								6n1PE225ow==
								</data>
								<key>Size</key>
								<integer>23040</integer>
							</dict>
							<key>files/stacks-image-fa94417-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								i6vUCgZUUn9h
								jzH6WGr0+w==
								</data>
								<key>Size</key>
								<integer>15558</integer>
							</dict>
							<key>files/stacks-image-fa94417.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								JMUT2jCEoCN+
								jPGaptfhqA==
								</data>
								<key>Size</key>
								<integer>11176</integer>
							</dict>
							<key>files/stacks-image-fc73006-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Mkf5M2E11f4u
								YTWkg55c7w==
								</data>
								<key>Size</key>
								<integer>32976</integer>
							</dict>
							<key>files/stacks-image-fe387d5-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								F2P92OlXe31B
								w1LzPUw0Ig==
								</data>
								<key>Size</key>
								<integer>14954</integer>
							</dict>
							<key>files/stacks-image-fe387d5-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								DgaS3zwhOQcR
								cOheIKXVpA==
								</data>
								<key>Size</key>
								<integer>22118</integer>
							</dict>
							<key>files/stacks-image-fe6691f-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								F/GDQFUauWGP
								SXzH6J+uZg==
								</data>
								<key>Size</key>
								<integer>11711</integer>
							</dict>
							<key>files/stacks-image-fe6691f-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								5zDGGAQtR0Fg
								50STrq10jw==
								</data>
								<key>Size</key>
								<integer>16537</integer>
							</dict>
							<key>files/stacks_page_page89.css</key>
							<dict>
								<key>Digest</key>
								<data>
								tlVrk3Wpdr/8
								BnR6APQh/Q==
								</data>
								<key>Size</key>
								<integer>401490</integer>
							</dict>
							<key>files/stacks_page_page89.js</key>
							<dict>
								<key>Digest</key>
								<data>
								BLfFJE6+MCDh
								AXuPPZUEXQ==
								</data>
								<key>Size</key>
								<integer>34132</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								3X1E8sJtFBaE
								g9OCp4hxxg==
								</data>
								<key>Size</key>
								<integer>272682</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page89</string>
						<key>SiteRoot</key>
						<string>people/students</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
