<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Logistics</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page52</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>NetSci Logistics</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.5.9</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2018-06-09T18:17:41Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZFHf9zniv4SK
								z9ywIWAR7Q==
								</data>
								<key>Size</key>
								<integer>124861</integer>
							</dict>
							<key>files/small_p60311_n109628.png</key>
							<dict>
								<key>Digest</key>
								<data>
								pcpK3KZBcBVd
								Ns6QdrLpNA==
								</data>
								<key>Size</key>
								<integer>68548</integer>
							</dict>
							<key>files/stacks-image-1afe1f3.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								VuZRBAMHHEiM
								Rjfj5W6ilg==
								</data>
								<key>Size</key>
								<integer>310855</integer>
							</dict>
							<key>files/stacks-image-248de64-1200x776.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9bJ5af31ToLq
								s071AM1Pvg==
								</data>
								<key>Size</key>
								<integer>297644</integer>
							</dict>
							<key>files/stacks-image-3bd846c-1200x636.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								7Tdr9WgJR/uS
								BovdBArFyQ==
								</data>
								<key>Size</key>
								<integer>295684</integer>
							</dict>
							<key>files/stacks-image-69ebcea.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								wcQWJYoOe1An
								41Iye9rWOQ==
								</data>
								<key>Size</key>
								<integer>146527</integer>
							</dict>
							<key>files/stacks-image-ae82c9c.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								htVRWvdP8e2u
								FioTWTJ/HA==
								</data>
								<key>Size</key>
								<integer>228758</integer>
							</dict>
							<key>files/stacks_page_page52.css</key>
							<dict>
								<key>Digest</key>
								<data>
								Wr0hvLIIZz98
								ujMKb/LkBg==
								</data>
								<key>Size</key>
								<integer>114640</integer>
							</dict>
							<key>files/stacks_page_page52.js</key>
							<dict>
								<key>Digest</key>
								<data>
								UKuHMtBTmVqO
								+QPs/YoMAQ==
								</data>
								<key>Size</key>
								<integer>24477</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								ZJW3TY0NCaFT
								ZPfYJAJE4g==
								</data>
								<key>Size</key>
								<integer>58443</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page52</string>
						<key>SiteRoot</key>
						<string>events/netsci/logistics</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
