<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Organizers</string>
				<key>CreatedDate</key>
				<date>2020-05-20T16:58:25Z</date>
				<key>ID</key>
				<string>page102</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Organizers</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.3.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2024-01-26T21:03:20Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/DCE79F28-EA60-4789-B85B-36524B50F75A.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								IEzethOiNZT/
								CMFJwRU2Vg==
								</data>
								<key>Size</key>
								<integer>1269226</integer>
							</dict>
							<key>files/stacks-image-0dd0fd3-300x256.png</key>
							<dict>
								<key>Digest</key>
								<data>
								667dVtcSBORm
								fSn6LdZGtw==
								</data>
								<key>Size</key>
								<integer>68302</integer>
							</dict>
							<key>files/stacks-image-0dd0fd3-300x256@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								hQbB35nzyVkx
								xYy+ycImKw==
								</data>
								<key>Size</key>
								<integer>223277</integer>
							</dict>
							<key>files/stacks-image-2c71488-500x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								JL1j9lRPXeW6
								cZwj5+3yug==
								</data>
								<key>Size</key>
								<integer>80092</integer>
							</dict>
							<key>files/stacks-image-2c71488-500x500@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								tkun/LRGINwF
								emk7H5mLDA==
								</data>
								<key>Size</key>
								<integer>133084</integer>
							</dict>
							<key>files/stacks-image-48ee80b-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								i4JJgb+uafAj
								AhER5UCiww==
								</data>
								<key>Size</key>
								<integer>90831</integer>
							</dict>
							<key>files/stacks-image-48ee80b-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Zv80oPR29pQG
								xwIzNKcdVw==
								</data>
								<key>Size</key>
								<integer>327709</integer>
							</dict>
							<key>files/stacks-image-559974f-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								nzL9tRqS+lXt
								CqQ8ueH+Dw==
								</data>
								<key>Size</key>
								<integer>111467</integer>
							</dict>
							<key>files/stacks-image-79c18a1-300x218.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ueB0oaNV6Eak
								KS8xmPn5ow==
								</data>
								<key>Size</key>
								<integer>18385</integer>
							</dict>
							<key>files/stacks-image-79c18a1-300x218@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								8LTNP8XWC9dD
								cUF8pGs2JQ==
								</data>
								<key>Size</key>
								<integer>40924</integer>
							</dict>
							<key>files/stacks-image-be56b68-1200x398.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								H3Xg1P0VjAZ4
								Qjqa5qvnKQ==
								</data>
								<key>Size</key>
								<integer>144885</integer>
							</dict>
							<key>files/stacks-image-cd71898-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								axtbMbIQlnFS
								5qg4VI5osA==
								</data>
								<key>Size</key>
								<integer>93985</integer>
							</dict>
							<key>files/stacks-image-d36e992-250x322.png</key>
							<dict>
								<key>Digest</key>
								<data>
								N/bprgY12d2v
								t/h9YX+u7g==
								</data>
								<key>Size</key>
								<integer>125477</integer>
							</dict>
							<key>files/stacks-image-faf7292-250x374.png</key>
							<dict>
								<key>Digest</key>
								<data>
								EjSrl7BLVxn9
								sscAUFivdw==
								</data>
								<key>Size</key>
								<integer>97617</integer>
							</dict>
							<key>files/stacks_page_page102.css</key>
							<dict>
								<key>Digest</key>
								<data>
								dWtK/jbgkk4L
								89AjqHtW0g==
								</data>
								<key>Size</key>
								<integer>108078</integer>
							</dict>
							<key>files/stacks_page_page102.js</key>
							<dict>
								<key>Digest</key>
								<data>
								ejYDQfWYq5Te
								qShfrU+VEw==
								</data>
								<key>Size</key>
								<integer>20681</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								c1YkFBJ/dLZB
								fKTY28Rfhg==
								</data>
								<key>Size</key>
								<integer>52480</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page102</string>
						<key>SiteRoot</key>
						<string>events/cnww/CNWW-Virtual/organizers</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
