<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Funding</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:30Z</date>
				<key>ID</key>
				<string>page25</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Funding</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.3.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2023-08-03T17:05:03Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small-109623-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/small-109710-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JfxF8Omi0icK
								xIwohpIZqw==
								</data>
								<key>Size</key>
								<integer>77487</integer>
							</dict>
							<key>files/small-109714-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2NMhf1k+YDl
								uPpd6H1dBw==
								</data>
								<key>Size</key>
								<integer>15019</integer>
							</dict>
							<key>files/small-109735-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D2nm4R7babci
								2M5NjfUDZQ==
								</data>
								<key>Size</key>
								<integer>18925</integer>
							</dict>
							<key>files/small-109736-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgRiuB3NhhIh
								SwZTifI18g==
								</data>
								<key>Size</key>
								<integer>21987</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JV5ejNT3Y8/E
								W0wI16l5/Q==
								</data>
								<key>Size</key>
								<integer>35252</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Su+ZpJd1NY34
								s0J16tjsFg==
								</data>
								<key>Size</key>
								<integer>68409</integer>
							</dict>
							<key>files/stacks-image-16a60ee-150x150.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zpWOylcy2FQW
								WjBVviijOg==
								</data>
								<key>Size</key>
								<integer>21276</integer>
							</dict>
							<key>files/stacks-image-54d1767-350x232.png</key>
							<dict>
								<key>Digest</key>
								<data>
								M4qDCfz0DcXk
								z7jD4k5cyw==
								</data>
								<key>Size</key>
								<integer>16032</integer>
							</dict>
							<key>files/stacks-image-8f6cb46-350x222.png</key>
							<dict>
								<key>Digest</key>
								<data>
								pLwIlRX2wzbf
								sTXVA4hryw==
								</data>
								<key>Size</key>
								<integer>18629</integer>
							</dict>
							<key>files/stacks-image-8f6cb46-350x222@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								OLw2mOPpKMGw
								ugAiyDVI8w==
								</data>
								<key>Size</key>
								<integer>43405</integer>
							</dict>
							<key>files/stacks-image-9d5546e-148x188.png</key>
							<dict>
								<key>Digest</key>
								<data>
								XorDSqOFX1mE
								4iJZbFE3wQ==
								</data>
								<key>Size</key>
								<integer>28923</integer>
							</dict>
							<key>files/stacks-image-b438d3e-148x148.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Z4aJVSvWBOVE
								lOKpae2w8Q==
								</data>
								<key>Size</key>
								<integer>18934</integer>
							</dict>
							<key>files/stacks-image-b99fbf1-150x144.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								t8AlJP+YHWYf
								vRf0QpCSuQ==
								</data>
								<key>Size</key>
								<integer>7772</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								0LBTZh9Y4iZ6
								By0DZuC++A==
								</data>
								<key>Size</key>
								<integer>19463</integer>
							</dict>
							<key>files/stacks_page_page25.css</key>
							<dict>
								<key>Digest</key>
								<data>
								E6J8yweSGn7y
								2RJmOiVcCg==
								</data>
								<key>Size</key>
								<integer>106702</integer>
							</dict>
							<key>files/stacks_page_page25.js</key>
							<dict>
								<key>Digest</key>
								<data>
								6Kl0iemIu+qe
								MFk5mn5KDw==
								</data>
								<key>Size</key>
								<integer>24472</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								xLI+pChEakbS
								VkmJFEP1jA==
								</data>
								<key>Size</key>
								<integer>51621</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page25</string>
						<key>SiteRoot</key>
						<string>Research/funding</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
