<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Speakers</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page77</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>ALife Speakers</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.6.9</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-10-22T14:41:21Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/backgroundImage_111179.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								t6sVWeH5Dwiz
								lTdhjl5wGA==
								</data>
								<key>Size</key>
								<integer>3099081</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								kDQdTd/TojTe
								5RskwegNJw==
								</data>
								<key>Size</key>
								<integer>361514</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								5SEHlmzIRPnE
								h1Zlyu2W+A==
								</data>
								<key>Size</key>
								<integer>35205</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZP2FJ/yve/bb
								UMUDEFQ7OA==
								</data>
								<key>Size</key>
								<integer>68310</integer>
							</dict>
							<key>files/stacks-image-19dca8a-350x450.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								P8tV4jQfCCzA
								TfAh4lNIsw==
								</data>
								<key>Size</key>
								<integer>35983</integer>
							</dict>
							<key>files/stacks-image-19dca8a-350x450@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								5BdesvlayYZG
								prgxQfHz2g==
								</data>
								<key>Size</key>
								<integer>61504</integer>
							</dict>
							<key>files/stacks-image-35e7390-350x450.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								nfVrOcfXb9t6
								S6FXG4zdVQ==
								</data>
								<key>Size</key>
								<integer>32936</integer>
							</dict>
							<key>files/stacks-image-4b4af78-350x450.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								P8tV4jQfCCzA
								TfAh4lNIsw==
								</data>
								<key>Size</key>
								<integer>35983</integer>
							</dict>
							<key>files/stacks-image-4b4af78-350x450@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								5BdesvlayYZG
								prgxQfHz2g==
								</data>
								<key>Size</key>
								<integer>61504</integer>
							</dict>
							<key>files/stacks-image-5cba074-350x450.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								nfVrOcfXb9t6
								S6FXG4zdVQ==
								</data>
								<key>Size</key>
								<integer>32936</integer>
							</dict>
							<key>files/stacks-image-8147c3d-350x450.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								tVrOw/CjJh8g
								j0WlTpZ1Ug==
								</data>
								<key>Size</key>
								<integer>32261</integer>
							</dict>
							<key>files/stacks-image-9e44611-350x450.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JGC2WU8piQgU
								KN/ZjQqj9g==
								</data>
								<key>Size</key>
								<integer>316465</integer>
							</dict>
							<key>files/stacks-image-e1d92c9.png</key>
							<dict>
								<key>Digest</key>
								<data>
								YRy2S5aoKzt/
								v1ucadp4zA==
								</data>
								<key>Size</key>
								<integer>6879</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								FWLv4iC2Yarl
								ySGORUZ3Iw==
								</data>
								<key>Size</key>
								<integer>19413</integer>
							</dict>
							<key>files/stacks-image-eba9e45-350x450.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JGC2WU8piQgU
								KN/ZjQqj9g==
								</data>
								<key>Size</key>
								<integer>316465</integer>
							</dict>
							<key>files/stacks-image-fb79e8e-350x450.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								tVrOw/CjJh8g
								j0WlTpZ1Ug==
								</data>
								<key>Size</key>
								<integer>32261</integer>
							</dict>
							<key>files/stacks_page_page77.css</key>
							<dict>
								<key>Digest</key>
								<data>
								GcWjsKEOTAhe
								+MAzIG2JGg==
								</data>
								<key>Size</key>
								<integer>148805</integer>
							</dict>
							<key>files/stacks_page_page77.js</key>
							<dict>
								<key>Digest</key>
								<data>
								TX1L0bZu4ujb
								FGPmkuvOJA==
								</data>
								<key>Size</key>
								<integer>25052</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								1N3ZEtp4Uv71
								TIASyRDhZg==
								</data>
								<key>Size</key>
								<integer>75065</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page77</string>
						<key>SiteRoot</key>
						<string>events/ALIFE-2020/Speakers</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
