<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:30Z</date>
				<key>ID</key>
				<string>page70</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>MassMutual Center of Excellence</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.2.2</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2021-05-06T14:55:49Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small-109623-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/small-109710-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JfxF8Omi0icK
								xIwohpIZqw==
								</data>
								<key>Size</key>
								<integer>77487</integer>
							</dict>
							<key>files/small-109714-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2NMhf1k+YDl
								uPpd6H1dBw==
								</data>
								<key>Size</key>
								<integer>15019</integer>
							</dict>
							<key>files/small-109735-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D2nm4R7babci
								2M5NjfUDZQ==
								</data>
								<key>Size</key>
								<integer>18925</integer>
							</dict>
							<key>files/small-109736-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgRiuB3NhhIh
								SwZTifI18g==
								</data>
								<key>Size</key>
								<integer>21987</integer>
							</dict>
							<key>files/small-526288.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ov4zbH1JnH3K
								F618M3iCVw==
								</data>
								<key>Size</key>
								<integer>20443</integer>
							</dict>
							<key>files/small-526501.png</key>
							<dict>
								<key>Digest</key>
								<data>
								7ptO0Z9QNBVX
								TOf1Zy8YhQ==
								</data>
								<key>Size</key>
								<integer>46883</integer>
							</dict>
							<key>files/stacks-image-009084f-926x1198.png</key>
							<dict>
								<key>Digest</key>
								<data>
								YoSP/a9uKYZ9
								xhE5aPZK8g==
								</data>
								<key>Size</key>
								<integer>1113312</integer>
							</dict>
							<key>files/stacks-image-009084f-926x1198@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								XQP5d0U9RiJ8
								Fk97c1yy/Q==
								</data>
								<key>Size</key>
								<integer>3851764</integer>
							</dict>
							<key>files/stacks-image-01d9136-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								+BcFpQc8J2/p
								hAS+bovdzw==
								</data>
								<key>Size</key>
								<integer>23072</integer>
							</dict>
							<key>files/stacks-image-01d9136-400x400@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								cV1M0HgHoB7K
								XJ2ULmbzFg==
								</data>
								<key>Size</key>
								<integer>36125</integer>
							</dict>
							<key>files/stacks-image-08b1d33-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								o9aPqcySd4Y1
								0WeXw5juLw==
								</data>
								<key>Size</key>
								<integer>27167</integer>
							</dict>
							<key>files/stacks-image-08b1d33-400x400@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ioZaWSaos47J
								HTswps89rQ==
								</data>
								<key>Size</key>
								<integer>42320</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								C82d5dfws9q4
								DDOA2BFu1w==
								</data>
								<key>Size</key>
								<integer>35273</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								v/SijtX2gRco
								SwESRI9B4g==
								</data>
								<key>Size</key>
								<integer>68378</integer>
							</dict>
							<key>files/stacks-image-0f335ab-300x300.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								356aBOu7uhMe
								Fg6N46JzZA==
								</data>
								<key>Size</key>
								<integer>18267</integer>
							</dict>
							<key>files/stacks-image-0f335ab-300x300@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								fQR+m+8n4kXB
								0qmmKd8A1g==
								</data>
								<key>Size</key>
								<integer>27295</integer>
							</dict>
							<key>files/stacks-image-0fbca84-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								SeGAp0Wg9lBR
								ek9FYclXeQ==
								</data>
								<key>Size</key>
								<integer>30221</integer>
							</dict>
							<key>files/stacks-image-0fbca84-400x400@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								yfG6AOg+8WBT
								4jFskP8ZPw==
								</data>
								<key>Size</key>
								<integer>45909</integer>
							</dict>
							<key>files/stacks-image-1107355-200x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								49pTXmL3FURi
								DrOvYiq6ww==
								</data>
								<key>Size</key>
								<integer>95438</integer>
							</dict>
							<key>files/stacks-image-1107355-200x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								HS5LMGGjlD0X
								QPH3iGu9uQ==
								</data>
								<key>Size</key>
								<integer>344105</integer>
							</dict>
							<key>files/stacks-image-1255401-300x278.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								qDEvDgI5+tM+
								ri1MDpl0dQ==
								</data>
								<key>Size</key>
								<integer>32773</integer>
							</dict>
							<key>files/stacks-image-23b3b9c-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								D8fDq4ERT4CP
								SygLejgTxA==
								</data>
								<key>Size</key>
								<integer>24464</integer>
							</dict>
							<key>files/stacks-image-23b3b9c-400x400@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								HVA5OQC8ANO8
								fKzVzF38Lw==
								</data>
								<key>Size</key>
								<integer>42546</integer>
							</dict>
							<key>files/stacks-image-255a2f1-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								hZ7GeleAdz/N
								XlI9wufLRg==
								</data>
								<key>Size</key>
								<integer>39464</integer>
							</dict>
							<key>files/stacks-image-255a2f1-400x400@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								/NbezhjhzYOs
								d1BX14O8fw==
								</data>
								<key>Size</key>
								<integer>62312</integer>
							</dict>
							<key>files/stacks-image-2706f3f.png</key>
							<dict>
								<key>Digest</key>
								<data>
								38DyDEe6U7zk
								+jpdOMXc/w==
								</data>
								<key>Size</key>
								<integer>2858</integer>
							</dict>
							<key>files/stacks-image-2fa4b42-232x350.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								KaG83vRshh2/
								4JZ+23xX5g==
								</data>
								<key>Size</key>
								<integer>25369</integer>
							</dict>
							<key>files/stacks-image-2fa4b42-232x350@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								7B6k6v4nijKB
								thOtrRgejg==
								</data>
								<key>Size</key>
								<integer>38402</integer>
							</dict>
							<key>files/stacks-image-344e7c0-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								WzyYYpOio7CL
								TwKPvCXIhg==
								</data>
								<key>Size</key>
								<integer>18274</integer>
							</dict>
							<key>files/stacks-image-344e7c0-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								n69jmW/VQmpz
								oLn6jHwYKg==
								</data>
								<key>Size</key>
								<integer>28227</integer>
							</dict>
							<key>files/stacks-image-3789a03-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								mDjAghcBLh9o
								O2afAuAcjg==
								</data>
								<key>Size</key>
								<integer>25182</integer>
							</dict>
							<key>files/stacks-image-52e49fd-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								edRKUxRab7i7
								mhhjynqa3Q==
								</data>
								<key>Size</key>
								<integer>54858</integer>
							</dict>
							<key>files/stacks-image-5518809-300x256.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								VOHfmkZaWtzN
								VBwZhUyKNw==
								</data>
								<key>Size</key>
								<integer>30908</integer>
							</dict>
							<key>files/stacks-image-5518809-300x256@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								zAioOcRkzC1g
								Zt3ufKhC6g==
								</data>
								<key>Size</key>
								<integer>53399</integer>
							</dict>
							<key>files/stacks-image-592091c-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								TrjKO+Z+lJqC
								z6Jj+WyXNg==
								</data>
								<key>Size</key>
								<integer>40422</integer>
							</dict>
							<key>files/stacks-image-676d351.png</key>
							<dict>
								<key>Digest</key>
								<data>
								/NarK5xFE7cq
								2ApvkTtzYg==
								</data>
								<key>Size</key>
								<integer>123486</integer>
							</dict>
							<key>files/stacks-image-68c7485-200x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								na8zrqhdER9k
								6MVRx4dHwA==
								</data>
								<key>Size</key>
								<integer>102142</integer>
							</dict>
							<key>files/stacks-image-6ebb971-244x350.png</key>
							<dict>
								<key>Digest</key>
								<data>
								2EhHUbzDtYYK
								PuipcAkf/g==
								</data>
								<key>Size</key>
								<integer>165890</integer>
							</dict>
							<key>files/stacks-image-6fea7df-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								jKos59JBhb2c
								7wor/t8uMg==
								</data>
								<key>Size</key>
								<integer>12718</integer>
							</dict>
							<key>files/stacks-image-82572eb-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								oH0aL+K8vJ4d
								77w13GAYTQ==
								</data>
								<key>Size</key>
								<integer>21294</integer>
							</dict>
							<key>files/stacks-image-867a696-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								BFBCJqmBU4CB
								QRmUSJe9mA==
								</data>
								<key>Size</key>
								<integer>29236</integer>
							</dict>
							<key>files/stacks-image-8d46f3c-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								aVks2K4TAdtZ
								Jtx+/+NeKg==
								</data>
								<key>Size</key>
								<integer>32995</integer>
							</dict>
							<key>files/stacks-image-920fdb4-500x166.png</key>
							<dict>
								<key>Digest</key>
								<data>
								i0cPuilEDDGb
								6x7/SultuA==
								</data>
								<key>Size</key>
								<integer>33590</integer>
							</dict>
							<key>files/stacks-image-9785b82-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								k+SvJTJ/z7fq
								5rRZzL8Olw==
								</data>
								<key>Size</key>
								<integer>43693</integer>
							</dict>
							<key>files/stacks-image-9874180-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								W9+FY3BVkZP0
								zJonk/xIYw==
								</data>
								<key>Size</key>
								<integer>25236</integer>
							</dict>
							<key>files/stacks-image-9874180-400x400@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Hcv7YiXJuQi2
								QoOw0L6drQ==
								</data>
								<key>Size</key>
								<integer>42498</integer>
							</dict>
							<key>files/stacks-image-a79d539-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								XJFcPh3Kp5ey
								WgJTffG5Ng==
								</data>
								<key>Size</key>
								<integer>23371</integer>
							</dict>
							<key>files/stacks-image-a79d539-400x400@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								qBThv/KeYhFH
								RqqiOiRRoA==
								</data>
								<key>Size</key>
								<integer>48589</integer>
							</dict>
							<key>files/stacks-image-b4a7cc2-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								S0BU3sYvJmTy
								7CUfNGEARA==
								</data>
								<key>Size</key>
								<integer>33349</integer>
							</dict>
							<key>files/stacks-image-b4a7cc2-400x400@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								dzokGR+8K8cw
								XeOYoJTFvQ==
								</data>
								<key>Size</key>
								<integer>53504</integer>
							</dict>
							<key>files/stacks-image-bbaa6d8-400x400.png</key>
							<dict>
								<key>Digest</key>
								<data>
								57bOLPtj9Q53
								HePFRA43MA==
								</data>
								<key>Size</key>
								<integer>283444</integer>
							</dict>
							<key>files/stacks-image-bbaa6d8-400x400@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								SXrSt+PexhR7
								45c+OQX6Hw==
								</data>
								<key>Size</key>
								<integer>1112382</integer>
							</dict>
							<key>files/stacks-image-bc2cc40-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Y2AeE0W24dEF
								jWY1jwGIyg==
								</data>
								<key>Size</key>
								<integer>25132</integer>
							</dict>
							<key>files/stacks-image-bd6dcce-300x256.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								VOHfmkZaWtzN
								VBwZhUyKNw==
								</data>
								<key>Size</key>
								<integer>30908</integer>
							</dict>
							<key>files/stacks-image-bd6dcce-300x256@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								zAioOcRkzC1g
								Zt3ufKhC6g==
								</data>
								<key>Size</key>
								<integer>53399</integer>
							</dict>
							<key>files/stacks-image-c269e63-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								OK7FeKMRfCSj
								1Z+jp390iA==
								</data>
								<key>Size</key>
								<integer>31949</integer>
							</dict>
							<key>files/stacks-image-c269e63-400x400@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								n1VTiC2H9t5z
								JA7/FfX7dQ==
								</data>
								<key>Size</key>
								<integer>50253</integer>
							</dict>
							<key>files/stacks-image-cde41f6-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								kiiUTaJ6MSFN
								zWB5BwY05Q==
								</data>
								<key>Size</key>
								<integer>13195</integer>
							</dict>
							<key>files/stacks-image-cde41f6-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Q3AMCFNVp8iS
								QMdY2OF3LQ==
								</data>
								<key>Size</key>
								<integer>19372</integer>
							</dict>
							<key>files/stacks-image-ddd9365-700x116.png</key>
							<dict>
								<key>Digest</key>
								<data>
								GmW5AI8WwY0P
								Eo44v3nSXg==
								</data>
								<key>Size</key>
								<integer>31522</integer>
							</dict>
							<key>files/stacks-image-e1f7cf2.png</key>
							<dict>
								<key>Digest</key>
								<data>
								fT4N1ZudP8iu
								qPln4OkGMA==
								</data>
								<key>Size</key>
								<integer>87197</integer>
							</dict>
							<key>files/stacks-image-e4392ce-290x350.png</key>
							<dict>
								<key>Digest</key>
								<data>
								HWJZKv24HHrc
								NIWBcv8nSQ==
								</data>
								<key>Size</key>
								<integer>186034</integer>
							</dict>
							<key>files/stacks-image-e446302-400x400.png</key>
							<dict>
								<key>Digest</key>
								<data>
								G4TLZKfhr44W
								utSw/WnewA==
								</data>
								<key>Size</key>
								<integer>103238</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								IcJyU76V543g
								RUdnIXKzHw==
								</data>
								<key>Size</key>
								<integer>19481</integer>
							</dict>
							<key>files/stacks-image-f3d6f69-400x400.png</key>
							<dict>
								<key>Digest</key>
								<data>
								G4TLZKfhr44W
								utSw/WnewA==
								</data>
								<key>Size</key>
								<integer>103238</integer>
							</dict>
							<key>files/stacks-image-f61ed89-200x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								KNkHYEdIfPb+
								ZdmcS/UjXg==
								</data>
								<key>Size</key>
								<integer>87884</integer>
							</dict>
							<key>files/stacks-image-f61ed89-200x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								vk+RmpTfuxQ5
								tDD+NLVRtw==
								</data>
								<key>Size</key>
								<integer>346114</integer>
							</dict>
							<key>files/stacks-image-faf2218-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								qIPfaMECSwq5
								LalflyJCRQ==
								</data>
								<key>Size</key>
								<integer>34699</integer>
							</dict>
							<key>files/stacks-image-faf2218-400x400@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								6WCNIUfu1P3s
								rGG/5rVXjw==
								</data>
								<key>Size</key>
								<integer>56409</integer>
							</dict>
							<key>files/stacks-image-fc8fc2c-300x306.png</key>
							<dict>
								<key>Digest</key>
								<data>
								eMur5tPmH/m8
								TiEALWRFcQ==
								</data>
								<key>Size</key>
								<integer>156103</integer>
							</dict>
							<key>files/stacks-image-fc8fc2c-300x306@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								wSonwKZ3rUCW
								xPAYVUza0Q==
								</data>
								<key>Size</key>
								<integer>621180</integer>
							</dict>
							<key>files/stacks.css</key>
							<dict>
								<key>Digest</key>
								<data>
								wgmIAuepvJFg
								INqwDCfPXQ==
								</data>
								<key>Size</key>
								<integer>1879</integer>
							</dict>
							<key>files/stacks_page_page70.css</key>
							<dict>
								<key>Digest</key>
								<data>
								VEP55WavpvCL
								wOkal3lQ3w==
								</data>
								<key>Size</key>
								<integer>322698</integer>
							</dict>
							<key>files/stacks_page_page70.js</key>
							<dict>
								<key>Digest</key>
								<data>
								OfHXYVuUZcmG
								NLtUuVKBxA==
								</data>
								<key>Size</key>
								<integer>26577</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								axDm1MOno1P2
								ruLd0l3wtQ==
								</data>
								<key>Size</key>
								<integer>212156</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page70</string>
						<key>SiteRoot</key>
						<string>partner/MMCOE</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
