<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Talkboctopus</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page91</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Talkboctopus</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.3.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2023-03-13T14:39:20Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small-109623-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/small-109710-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JfxF8Omi0icK
								xIwohpIZqw==
								</data>
								<key>Size</key>
								<integer>77487</integer>
							</dict>
							<key>files/small-109714-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2NMhf1k+YDl
								uPpd6H1dBw==
								</data>
								<key>Size</key>
								<integer>15019</integer>
							</dict>
							<key>files/small-109735-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D2nm4R7babci
								2M5NjfUDZQ==
								</data>
								<key>Size</key>
								<integer>18925</integer>
							</dict>
							<key>files/small-109736-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgRiuB3NhhIh
								SwZTifI18g==
								</data>
								<key>Size</key>
								<integer>21987</integer>
							</dict>
							<key>files/stacks-image-074db50-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								3jvZBSpjW2+w
								vLzLxIWELA==
								</data>
								<key>Size</key>
								<integer>33191</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JV5ejNT3Y8/E
								W0wI16l5/Q==
								</data>
								<key>Size</key>
								<integer>35252</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Su+ZpJd1NY34
								s0J16tjsFg==
								</data>
								<key>Size</key>
								<integer>68409</integer>
							</dict>
							<key>files/stacks-image-0d23015-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								TrU2lPKKNV2U
								OcXsyGUUaw==
								</data>
								<key>Size</key>
								<integer>18226</integer>
							</dict>
							<key>files/stacks-image-0d23015-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								5owjT3G/+oKE
								/cgjlBBeAg==
								</data>
								<key>Size</key>
								<integer>25028</integer>
							</dict>
							<key>files/stacks-image-0ea7c9b.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								u9oQrCMfZ1mp
								a+TGmkefXA==
								</data>
								<key>Size</key>
								<integer>105491</integer>
							</dict>
							<key>files/stacks-image-0f3986a-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								usY6V1ImVzV4
								d3c8/JzYvg==
								</data>
								<key>Size</key>
								<integer>14076</integer>
							</dict>
							<key>files/stacks-image-0f3986a-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								266VpvUsPzzr
								k0aLNj8aXg==
								</data>
								<key>Size</key>
								<integer>23942</integer>
							</dict>
							<key>files/stacks-image-17e14fc-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								U3ngbm62vPTB
								0rFwhrQl8A==
								</data>
								<key>Size</key>
								<integer>10701</integer>
							</dict>
							<key>files/stacks-image-17e14fc-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								5jRUzn0pUENq
								n9YWTDkWSg==
								</data>
								<key>Size</key>
								<integer>15638</integer>
							</dict>
							<key>files/stacks-image-18fc8bb-300x300.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								hg5gFdI3sioB
								qY1mYbvGKg==
								</data>
								<key>Size</key>
								<integer>14925</integer>
							</dict>
							<key>files/stacks-image-1eef836-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Dc+dw5uxeXlF
								p+k/0b/Ngw==
								</data>
								<key>Size</key>
								<integer>18739</integer>
							</dict>
							<key>files/stacks-image-23fe2e2-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								xAh/g8P5A7jO
								9H44UUUGhw==
								</data>
								<key>Size</key>
								<integer>16279</integer>
							</dict>
							<key>files/stacks-image-23fe2e2-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								HoByOYmswZ1j
								gmBu9ieKYQ==
								</data>
								<key>Size</key>
								<integer>25454</integer>
							</dict>
							<key>files/stacks-image-29ef119-200x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								tM3s3jmnvteO
								M8SHhf7cVQ==
								</data>
								<key>Size</key>
								<integer>91440</integer>
							</dict>
							<key>files/stacks-image-2b2723f-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								OQ00h22x1YrE
								TQttoS5lWw==
								</data>
								<key>Size</key>
								<integer>12653</integer>
							</dict>
							<key>files/stacks-image-2b2723f-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ac9XNoVN21e8
								G0JtoAbq7A==
								</data>
								<key>Size</key>
								<integer>19912</integer>
							</dict>
							<key>files/stacks-image-2d2c788-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								QwVcQsi7cKiG
								RnVqbxwgeQ==
								</data>
								<key>Size</key>
								<integer>14232</integer>
							</dict>
							<key>files/stacks-image-3753c1e-500x498.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								qGjKvB8pXpmZ
								yyiwmWt1cA==
								</data>
								<key>Size</key>
								<integer>40024</integer>
							</dict>
							<key>files/stacks-image-3a11b0c-200x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								SmifyoeYk5i8
								WX3C3zxt5A==
								</data>
								<key>Size</key>
								<integer>81496</integer>
							</dict>
							<key>files/stacks-image-3a11b0c-200x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								4uMLoAbaOFHF
								WZ929JoiZA==
								</data>
								<key>Size</key>
								<integer>284860</integer>
							</dict>
							<key>files/stacks-image-3b955a4-300x300.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								PUWwzh/hx9QM
								4ERQFMW+9w==
								</data>
								<key>Size</key>
								<integer>26405</integer>
							</dict>
							<key>files/stacks-image-3d22f3f-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								BT/5sHIIOnH4
								X/rXIfuGFw==
								</data>
								<key>Size</key>
								<integer>17204</integer>
							</dict>
							<key>files/stacks-image-3d22f3f-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								odNRWL6rV6m6
								RxVyTHe/kg==
								</data>
								<key>Size</key>
								<integer>24333</integer>
							</dict>
							<key>files/stacks-image-456042f-800x1200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								5V9Rt05RIWmJ
								lHYMnn8/8Q==
								</data>
								<key>Size</key>
								<integer>119988</integer>
							</dict>
							<key>files/stacks-image-456042f-800x1200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								aiOp2j4ZC54b
								BkqFDle8bg==
								</data>
								<key>Size</key>
								<integer>197792</integer>
							</dict>
							<key>files/stacks-image-4bb9d98-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								5YV823kAt9Ek
								a3FGsy9czw==
								</data>
								<key>Size</key>
								<integer>10269</integer>
							</dict>
							<key>files/stacks-image-4bb9d98-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9dkrXJiUJ4hK
								aCu85IN3gw==
								</data>
								<key>Size</key>
								<integer>13419</integer>
							</dict>
							<key>files/stacks-image-4caf911-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								63ajvuSw5FVK
								haK1A+kKhw==
								</data>
								<key>Size</key>
								<integer>19452</integer>
							</dict>
							<key>files/stacks-image-4d267d5.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								8L272rRcNx/K
								zeC3FxXL5w==
								</data>
								<key>Size</key>
								<integer>5037</integer>
							</dict>
							<key>files/stacks-image-4d82f27-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								pVpHN4FIvrJw
								BSD0dKYNCQ==
								</data>
								<key>Size</key>
								<integer>14323</integer>
							</dict>
							<key>files/stacks-image-4d8e34c-200x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								+fesUpeyH+gH
								F5j6rn2jQw==
								</data>
								<key>Size</key>
								<integer>76194</integer>
							</dict>
							<key>files/stacks-image-4d8e34c-200x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								hNmx4U/UEYp8
								eK8ZRZGCZQ==
								</data>
								<key>Size</key>
								<integer>253787</integer>
							</dict>
							<key>files/stacks-image-5259eb3-200x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								SC3ZkQ1mpoGb
								vVBFIX/lkA==
								</data>
								<key>Size</key>
								<integer>57236</integer>
							</dict>
							<key>files/stacks-image-564025d-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Fr0wif01uEPE
								LtMR7PAZoQ==
								</data>
								<key>Size</key>
								<integer>12163</integer>
							</dict>
							<key>files/stacks-image-564025d-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								gzRaV+ra9TqL
								qRCuKBdk+A==
								</data>
								<key>Size</key>
								<integer>20377</integer>
							</dict>
							<key>files/stacks-image-5788fcc-250x350.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								eCSO3lNVZbBz
								NMAd2PI+7Q==
								</data>
								<key>Size</key>
								<integer>18744</integer>
							</dict>
							<key>files/stacks-image-5bf3092-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Dz+W+i9LzYZm
								NZY+ei745w==
								</data>
								<key>Size</key>
								<integer>12939</integer>
							</dict>
							<key>files/stacks-image-5d61bd5-300x346.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								m56+2h7hr1ci
								1aq8hlHyXQ==
								</data>
								<key>Size</key>
								<integer>24734</integer>
							</dict>
							<key>files/stacks-image-5d84a60-300x300.png</key>
							<dict>
								<key>Digest</key>
								<data>
								pNGdRS71Y6Kc
								ik0TLuqlgQ==
								</data>
								<key>Size</key>
								<integer>187864</integer>
							</dict>
							<key>files/stacks-image-636ed7c-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								v25T9KpMK7F1
								67EmqHBKgw==
								</data>
								<key>Size</key>
								<integer>16055</integer>
							</dict>
							<key>files/stacks-image-636ed7c-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Z3aCXXFNELQd
								Jr6sKCvrhw==
								</data>
								<key>Size</key>
								<integer>24433</integer>
							</dict>
							<key>files/stacks-image-6ad6ed1-300x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								W/pfID0VGZYs
								8hCUyH3onw==
								</data>
								<key>Size</key>
								<integer>30525</integer>
							</dict>
							<key>files/stacks-image-6ad6ed1-300x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								iGGyJkuygo2p
								2zicjDimcQ==
								</data>
								<key>Size</key>
								<integer>57622</integer>
							</dict>
							<key>files/stacks-image-7228587-200x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JBreGj1u0Hn8
								mIKdvc0Nlg==
								</data>
								<key>Size</key>
								<integer>66761</integer>
							</dict>
							<key>files/stacks-image-7228587-200x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								4IE+vEq/xTPz
								KCGMfgaCNA==
								</data>
								<key>Size</key>
								<integer>219229</integer>
							</dict>
							<key>files/stacks-image-77b7304-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								B5gFCeYQ1cLB
								xvaPVNZIwg==
								</data>
								<key>Size</key>
								<integer>13171</integer>
							</dict>
							<key>files/stacks-image-824db91-164x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								d0Z4VwBbBHYl
								/xpPmsuzoQ==
								</data>
								<key>Size</key>
								<integer>29323</integer>
							</dict>
							<key>files/stacks-image-85378e5.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								z16kvwltBJ9+
								vMTNToOVKQ==
								</data>
								<key>Size</key>
								<integer>12745</integer>
							</dict>
							<key>files/stacks-image-88772e3-300x300.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								wjiWuF7a+PHz
								K3IFjSf6sw==
								</data>
								<key>Size</key>
								<integer>27436</integer>
							</dict>
							<key>files/stacks-image-893502b-300x316.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								qzXDM/XLUVu4
								1OEUrKtiGQ==
								</data>
								<key>Size</key>
								<integer>16055</integer>
							</dict>
							<key>files/stacks-image-893502b-300x316@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								5r230upYee8w
								8s4+Zvecug==
								</data>
								<key>Size</key>
								<integer>24149</integer>
							</dict>
							<key>files/stacks-image-89bb320-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								mjdXZ99AHMFu
								zG/Pk5ywqQ==
								</data>
								<key>Size</key>
								<integer>12486</integer>
							</dict>
							<key>files/stacks-image-8fccb52-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Xp8/nDcXyh0t
								vfkq6ivIAQ==
								</data>
								<key>Size</key>
								<integer>78045</integer>
							</dict>
							<key>files/stacks-image-904cb2c-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								PA4RW62BZp9J
								8uSittayaw==
								</data>
								<key>Size</key>
								<integer>15553</integer>
							</dict>
							<key>files/stacks-image-904cb2c-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								+0T/sF2VeDan
								SkiV/xqxAQ==
								</data>
								<key>Size</key>
								<integer>26608</integer>
							</dict>
							<key>files/stacks-image-97610c3.png</key>
							<dict>
								<key>Digest</key>
								<data>
								a/UJ2obnsOaW
								k18EsIswdA==
								</data>
								<key>Size</key>
								<integer>167479</integer>
							</dict>
							<key>files/stacks-image-980835a-300x270.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								++SFKdRdbZX+
								Wp0U66lggQ==
								</data>
								<key>Size</key>
								<integer>25097</integer>
							</dict>
							<key>files/stacks-image-980835a-300x270@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								I6vzOCn5r/DA
								CWhxWB8Ivw==
								</data>
								<key>Size</key>
								<integer>42458</integer>
							</dict>
							<key>files/stacks-image-9d1f9ae.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								RfihxIN0jLrt
								qwBcPo1SAA==
								</data>
								<key>Size</key>
								<integer>4707</integer>
							</dict>
							<key>files/stacks-image-a598849-200x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								4SenTmYdgQ+0
								OE3xN8wE3A==
								</data>
								<key>Size</key>
								<integer>89352</integer>
							</dict>
							<key>files/stacks-image-a598849-200x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MhuNasWtmYmu
								HXjlGdqZ6A==
								</data>
								<key>Size</key>
								<integer>344195</integer>
							</dict>
							<key>files/stacks-image-a5d5c7b-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								B5bXNj4OI7FN
								oTfuinbQTg==
								</data>
								<key>Size</key>
								<integer>12923</integer>
							</dict>
							<key>files/stacks-image-a5d5c7b-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								LinUuN5kq9HV
								v7oWJhUhPQ==
								</data>
								<key>Size</key>
								<integer>20443</integer>
							</dict>
							<key>files/stacks-image-a9b228a-300x300.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								1MbJbkpX3ZNy
								2Vca/3cUYA==
								</data>
								<key>Size</key>
								<integer>28889</integer>
							</dict>
							<key>files/stacks-image-ad1dd40-200x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								AiqUl1UKeNsh
								/wsH6MliHg==
								</data>
								<key>Size</key>
								<integer>92949</integer>
							</dict>
							<key>files/stacks-image-ad1dd40-200x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								4PYBEkjnlLs6
								aaAGMO2kTQ==
								</data>
								<key>Size</key>
								<integer>360809</integer>
							</dict>
							<key>files/stacks-image-b747098-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								dtzbkaEnLBFF
								epzH/X34lQ==
								</data>
								<key>Size</key>
								<integer>11049</integer>
							</dict>
							<key>files/stacks-image-b8a1951-300x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								vzoofRUUNFmr
								LS7Ou+tYiQ==
								</data>
								<key>Size</key>
								<integer>15555</integer>
							</dict>
							<key>files/stacks-image-ba97414.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								yjhcJUP88k0K
								zilb/ZzhVA==
								</data>
								<key>Size</key>
								<integer>39282</integer>
							</dict>
							<key>files/stacks-image-c1c3c13-300x168.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								zWPXht8hmT9R
								Q40g1S5+oA==
								</data>
								<key>Size</key>
								<integer>11578</integer>
							</dict>
							<key>files/stacks-image-c1c3c13-300x168@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								fqU5NoJJeN12
								fvuRX4jV0Q==
								</data>
								<key>Size</key>
								<integer>17402</integer>
							</dict>
							<key>files/stacks-image-c69624c-300x332.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								R4e90fuNpx6C
								PVKbHyrWCQ==
								</data>
								<key>Size</key>
								<integer>24462</integer>
							</dict>
							<key>files/stacks-image-c69624c-300x332@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								oaAAhDkNPTjg
								Urjiu6E5rg==
								</data>
								<key>Size</key>
								<integer>38164</integer>
							</dict>
							<key>files/stacks-image-ca62e54-274x350.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ZSQJnA5CYRxz
								oWBmSUA27A==
								</data>
								<key>Size</key>
								<integer>21776</integer>
							</dict>
							<key>files/stacks-image-d105c8b-300x300.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								exjg1yHKXppI
								ORi2DBqAZA==
								</data>
								<key>Size</key>
								<integer>24199</integer>
							</dict>
							<key>files/stacks-image-d25a93e-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								GoReZzOE+Lyj
								lqiK4jslyg==
								</data>
								<key>Size</key>
								<integer>18190</integer>
							</dict>
							<key>files/stacks-image-d25a93e-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								XhSN2kVsMuiK
								BlbH1HNxBQ==
								</data>
								<key>Size</key>
								<integer>29466</integer>
							</dict>
							<key>files/stacks-image-db209a0-200x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								0gGOcgok/JcQ
								gkkNDbkjsA==
								</data>
								<key>Size</key>
								<integer>109920</integer>
							</dict>
							<key>files/stacks-image-db209a0-200x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								FdtQhyS7hfTx
								c2nAX4FJRA==
								</data>
								<key>Size</key>
								<integer>381162</integer>
							</dict>
							<key>files/stacks-image-dbf9ee9-298x198.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								H8VToPSS8Whg
								qUvBAk+gqQ==
								</data>
								<key>Size</key>
								<integer>21959</integer>
							</dict>
							<key>files/stacks-image-ddbd7f7-300x264.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								PvCSf4Q9RtRp
								4mWUubaozw==
								</data>
								<key>Size</key>
								<integer>26070</integer>
							</dict>
							<key>files/stacks-image-e60a35d-300x300.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9NDlzJ+52KQP
								iX8I5CUsWg==
								</data>
								<key>Size</key>
								<integer>20093</integer>
							</dict>
							<key>files/stacks-image-e60a35d-300x300@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								J5PhBL4Z4bWG
								bywoCTqNuw==
								</data>
								<key>Size</key>
								<integer>32050</integer>
							</dict>
							<key>files/stacks-image-e803ae1-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								eWfoolxx6QOM
								uwY3jNSrfg==
								</data>
								<key>Size</key>
								<integer>18971</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								0LBTZh9Y4iZ6
								By0DZuC++A==
								</data>
								<key>Size</key>
								<integer>19463</integer>
							</dict>
							<key>files/stacks-image-eaa153d-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								zuAFdzTivMm6
								kXmSUv7A4A==
								</data>
								<key>Size</key>
								<integer>14495</integer>
							</dict>
							<key>files/stacks-image-eaa153d-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								h+VBKgT+eLVM
								85ZLL4sTbQ==
								</data>
								<key>Size</key>
								<integer>29675</integer>
							</dict>
							<key>files/stacks-image-eb709ee-300x300.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								LW4c+IFACOtT
								br2jlWoKGA==
								</data>
								<key>Size</key>
								<integer>21205</integer>
							</dict>
							<key>files/stacks-image-eb709ee-300x300@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								i70zRoqcNItQ
								Vi1utIJ02A==
								</data>
								<key>Size</key>
								<integer>37541</integer>
							</dict>
							<key>files/stacks-image-eccd3f1-300x300.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								T7UWklEzbOoW
								tfmmMWfJAg==
								</data>
								<key>Size</key>
								<integer>29907</integer>
							</dict>
							<key>files/stacks-image-ed0cb92-234x350.png</key>
							<dict>
								<key>Digest</key>
								<data>
								E/3kRK7TaAVw
								bOtXMFQVaQ==
								</data>
								<key>Size</key>
								<integer>119297</integer>
							</dict>
							<key>files/stacks-image-f03fa06-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ZMhtVW9wCNO9
								iTYU2W7eMw==
								</data>
								<key>Size</key>
								<integer>20211</integer>
							</dict>
							<key>files/stacks-image-f03fa06-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								fHYfX5xFXyjM
								nD0Xze+5Kg==
								</data>
								<key>Size</key>
								<integer>31780</integer>
							</dict>
							<key>files/stacks-image-f0e0efd-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								FOUY6iTJXBo/
								qbySR5BW8w==
								</data>
								<key>Size</key>
								<integer>15560</integer>
							</dict>
							<key>files/stacks-image-f0e0efd-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								JWfiS8tIcSmj
								oN/HPLBpsg==
								</data>
								<key>Size</key>
								<integer>23465</integer>
							</dict>
							<key>files/stacks-image-f2416e2-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								kollLlgE8D0d
								wtxx66pJXQ==
								</data>
								<key>Size</key>
								<integer>13367</integer>
							</dict>
							<key>files/stacks-image-f2416e2-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								CJSO3P+7KA1x
								4KCegRR36w==
								</data>
								<key>Size</key>
								<integer>19517</integer>
							</dict>
							<key>files/stacks-image-fb2ed7f-300x300.png</key>
							<dict>
								<key>Digest</key>
								<data>
								+vTMuzm5NM1T
								viJ7i/D9oA==
								</data>
								<key>Size</key>
								<integer>158931</integer>
							</dict>
							<key>files/stacks-image-fb2ed7f-300x300@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MA0+i1IynYSi
								dgYYN0LuEw==
								</data>
								<key>Size</key>
								<integer>622110</integer>
							</dict>
							<key>files/stacks-image-fe232a9-280x350.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								OaFilo3eLBYY
								Mda+KnB6JQ==
								</data>
								<key>Size</key>
								<integer>32713</integer>
							</dict>
							<key>files/stacks-image-fe232a9-280x350@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								d/VLqwJAUlkR
								chk6WKNYMA==
								</data>
								<key>Size</key>
								<integer>55291</integer>
							</dict>
							<key>files/stacks-image-fefcb4d-300x300.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Jl/bSqE840q4
								zCN7VAJP9Q==
								</data>
								<key>Size</key>
								<integer>18818</integer>
							</dict>
							<key>files/stacks.css</key>
							<dict>
								<key>Digest</key>
								<data>
								50GRTTbiED16
								GoEnKyM7jQ==
								</data>
								<key>Size</key>
								<integer>1325</integer>
							</dict>
							<key>files/stacks_page_page91.css</key>
							<dict>
								<key>Digest</key>
								<data>
								pKg4GoAGUsbE
								aDaZzs44Lw==
								</data>
								<key>Size</key>
								<integer>550163</integer>
							</dict>
							<key>files/stacks_page_page91.js</key>
							<dict>
								<key>Digest</key>
								<data>
								gV/rlnlQlUFD
								5ZeqBlPCiw==
								</data>
								<key>Size</key>
								<integer>29785</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								+L/JVZKbjIu0
								JTc/mPGVOA==
								</data>
								<key>Size</key>
								<integer>376499</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page91</string>
						<key>SiteRoot</key>
						<string>events/Seminars-Tutorials/talkboctopus</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
