<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page86</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>CS Education Summit</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.2.2</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2021-10-27T21:36:44Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/stacks-image-393fc00-250x124.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ovWKTSINc382
								fbEhivPyfQ==
								</data>
								<key>Size</key>
								<integer>13434</integer>
							</dict>
							<key>files/stacks-image-3a0796a-650x542.png</key>
							<dict>
								<key>Digest</key>
								<data>
								lSk0ov4VS+pC
								1+xkkQLSIA==
								</data>
								<key>Size</key>
								<integer>89521</integer>
							</dict>
							<key>files/stacks-image-6fdef3a-400x292.png</key>
							<dict>
								<key>Digest</key>
								<data>
								DJEBACl3+Tsj
								nbyxcJntFw==
								</data>
								<key>Size</key>
								<integer>34418</integer>
							</dict>
							<key>files/stacks-image-7247378-250x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								EoE421+iJYs2
								S55lwGAq0A==
								</data>
								<key>Size</key>
								<integer>19761</integer>
							</dict>
							<key>files/stacks-image-77e58ea-250x374.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								MB+7kD31rjup
								FntDy9+XlA==
								</data>
								<key>Size</key>
								<integer>26689</integer>
							</dict>
							<key>files/stacks-image-8322d28-250x374.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								DeUhNCRilwdk
								GO1Tg+DQgA==
								</data>
								<key>Size</key>
								<integer>19033</integer>
							</dict>
							<key>files/stacks-image-99c2fbb-250x124.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								E1XyaHBtXgb/
								QZQ74KpDrA==
								</data>
								<key>Size</key>
								<integer>14819</integer>
							</dict>
							<key>files/stacks-image-a10c695-450x116.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ubfLji99h4Um
								j4LepXVvLQ==
								</data>
								<key>Size</key>
								<integer>19809</integer>
							</dict>
							<key>files/stacks-image-a86827b-250x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9de+Z1eZFncC
								7/ZufSRA6g==
								</data>
								<key>Size</key>
								<integer>16845</integer>
							</dict>
							<key>files/stacks-image-aa89d24-250x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								pwmND1WCJR1g
								3kEZc7cTMQ==
								</data>
								<key>Size</key>
								<integer>12445</integer>
							</dict>
							<key>files/stacks_page_page86.css</key>
							<dict>
								<key>Digest</key>
								<data>
								y50DhQej6RDZ
								E/SeO98HaQ==
								</data>
								<key>Size</key>
								<integer>107358</integer>
							</dict>
							<key>files/stacks_page_page86.js</key>
							<dict>
								<key>Digest</key>
								<data>
								bJZIXpZVsda8
								rT4HBZqKww==
								</data>
								<key>Size</key>
								<integer>20544</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								ywtKxMotj4+3
								DsRhgXURRQ==
								</data>
								<key>Size</key>
								<integer>55682</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page86</string>
						<key>SiteRoot</key>
						<string>events/page-9/CSE-Summit</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
