<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-03-03T14:19:25Z</date>
				<key>ID</key>
				<string>page50</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Potential funding</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.6.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2018-09-19T14:31:44Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZFHf9zniv4SK
								z9ywIWAR7Q==
								</data>
								<key>Size</key>
								<integer>124861</integer>
							</dict>
							<key>files/stacks-image-580baf6-248x248.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								OGSW8MSxffNf
								eqQN8VH97Q==
								</data>
								<key>Size</key>
								<integer>13349</integer>
							</dict>
							<key>files/stacks-image-90966db-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								YpjTgVVBaf31
								xzRYJpWpzQ==
								</data>
								<key>Size</key>
								<integer>21870</integer>
							</dict>
							<key>files/stacks-image-920fdb4-500x166.png</key>
							<dict>
								<key>Digest</key>
								<data>
								pD/w9MfgXicN
								F3YJ5ZZsiw==
								</data>
								<key>Size</key>
								<integer>33174</integer>
							</dict>
							<key>files/stacks-image-94d2932-948x494.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								7E5nDgh5r90l
								0Pt5o8LHiw==
								</data>
								<key>Size</key>
								<integer>118751</integer>
							</dict>
							<key>files/stacks-image-94d2932-948x494@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								gHg80sATtJyP
								/6JwZAC/OQ==
								</data>
								<key>Size</key>
								<integer>184293</integer>
							</dict>
							<key>files/stacks_page_page50.css</key>
							<dict>
								<key>Digest</key>
								<data>
								5hiA14HrKnrO
								vwfTI25hXA==
								</data>
								<key>Size</key>
								<integer>102656</integer>
							</dict>
							<key>files/stacks_page_page50.js</key>
							<dict>
								<key>Digest</key>
								<data>
								AJn2prbnigOl
								EmxqaCARLA==
								</data>
								<key>Size</key>
								<integer>24349</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								/PexL4sXK1lg
								/ROPHwDv3Q==
								</data>
								<key>Size</key>
								<integer>40338</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page50</string>
						<key>SiteRoot</key>
						<string>education/funding</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
