<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:30Z</date>
				<key>ID</key>
				<string>page68</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>NIH T32 in Complexity and Neurobiology</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.6.3</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2018-10-04T00:19:13Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small_525333.png</key>
							<dict>
								<key>Digest</key>
								<data>
								jthzH9c2934x
								N77LvExAMw==
								</data>
								<key>Size</key>
								<integer>306447</integer>
							</dict>
							<key>files/small_525664.png</key>
							<dict>
								<key>Digest</key>
								<data>
								5+t9XVPD46G2
								sqwq01uoMg==
								</data>
								<key>Size</key>
								<integer>251461</integer>
							</dict>
							<key>files/small_525804.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JE+HjQLhZXOl
								ElUsFcg4Sw==
								</data>
								<key>Size</key>
								<integer>44309</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZFHf9zniv4SK
								z9ywIWAR7Q==
								</data>
								<key>Size</key>
								<integer>124861</integer>
							</dict>
							<key>files/stacks-image-2cf1fa2.png</key>
							<dict>
								<key>Digest</key>
								<data>
								U36Xip2sKigA
								exUIkd0fLA==
								</data>
								<key>Size</key>
								<integer>51303</integer>
							</dict>
							<key>files/stacks-image-580baf6-248x248.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								OGSW8MSxffNf
								eqQN8VH97Q==
								</data>
								<key>Size</key>
								<integer>13349</integer>
							</dict>
							<key>files/stacks-image-90966db-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								YpjTgVVBaf31
								xzRYJpWpzQ==
								</data>
								<key>Size</key>
								<integer>21870</integer>
							</dict>
							<key>files/stacks-image-d6c772e.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Dvw2Q6Y7lsFt
								7po5shYd2w==
								</data>
								<key>Size</key>
								<integer>29249</integer>
							</dict>
							<key>files/stacks_page_page68.css</key>
							<dict>
								<key>Digest</key>
								<data>
								UhjPkHfgPV6T
								ASLUdJTb7w==
								</data>
								<key>Size</key>
								<integer>152288</integer>
							</dict>
							<key>files/stacks_page_page68.js</key>
							<dict>
								<key>Digest</key>
								<data>
								CdVcg+AgDrnL
								a9IQZLmCIw==
								</data>
								<key>Size</key>
								<integer>24349</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								wFJ+tvsrlCPH
								h0jtKFB4gQ==
								</data>
								<key>Size</key>
								<integer>89203</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page68</string>
						<key>SiteRoot</key>
						<string>education/complexbrain</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
