<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Logistics</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page52</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>NetSci Logistics</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.6.6</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-03-19T17:22:09Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/backgroundImage_pp111463_n18_n1.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								GQHOUzuyjCs9
								Jfbg60A9OQ==
								</data>
								<key>Size</key>
								<integer>700318</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZFHf9zniv4SK
								z9ywIWAR7Q==
								</data>
								<key>Size</key>
								<integer>124861</integer>
							</dict>
							<key>files/stacks-image-0c90353-700x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								eYg9kPLcsi2d
								u36RV5UmQw==
								</data>
								<key>Size</key>
								<integer>72363</integer>
							</dict>
							<key>files/stacks-image-1d10683-800x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								1ztAYhKy9mqy
								nVAoO2eUrQ==
								</data>
								<key>Size</key>
								<integer>180477</integer>
							</dict>
							<key>files/stacks-image-248de64-1200x776.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								aDwp8v2fYCpM
								Z+2n5otAww==
								</data>
								<key>Size</key>
								<integer>297149</integer>
							</dict>
							<key>files/stacks-image-3bd846c-1200x636.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								gjpHI02onhSe
								i6Rp0PciEg==
								</data>
								<key>Size</key>
								<integer>293568</integer>
							</dict>
							<key>files/stacks-image-5751fa0-800x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								iWfXP7lYL1+C
								oQ+fCEQuQg==
								</data>
								<key>Size</key>
								<integer>147428</integer>
							</dict>
							<key>files/stacks-image-580baf6-248x248.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								yZQqhuEMgia3
								owVDiEQk8g==
								</data>
								<key>Size</key>
								<integer>13322</integer>
							</dict>
							<key>files/stacks-image-765d0a8-800x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								eANjUeSJbW46
								XxmJPl7RYA==
								</data>
								<key>Size</key>
								<integer>194068</integer>
							</dict>
							<key>files/stacks-image-7afeed7-800x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								nRqvE6l9cKv/
								NOdsWuYj2A==
								</data>
								<key>Size</key>
								<integer>154438</integer>
							</dict>
							<key>files/stacks-image-90966db-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								kcVxqK0Y23YI
								Ns11kdYJ6w==
								</data>
								<key>Size</key>
								<integer>21714</integer>
							</dict>
							<key>files/stacks-image-ae82c9c.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								htVRWvdP8e2u
								FioTWTJ/HA==
								</data>
								<key>Size</key>
								<integer>228758</integer>
							</dict>
							<key>files/stacks-image-b198aab-800x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								YaInHxqGuvew
								o9UH07zX8w==
								</data>
								<key>Size</key>
								<integer>114505</integer>
							</dict>
							<key>files/stacks-image-bd8f6d3-1200x802.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								2k3Xy9ALhoYd
								/WCF2kQ47w==
								</data>
								<key>Size</key>
								<integer>305694</integer>
							</dict>
							<key>files/stacks-image-bf17dfe-700x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Yy1aWDvV+utD
								fj+8Mokh9A==
								</data>
								<key>Size</key>
								<integer>90490</integer>
							</dict>
							<key>files/stacks-image-cefbcff-1200x800.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								OT47m5t9hjdV
								IR91e1lG7g==
								</data>
								<key>Size</key>
								<integer>220476</integer>
							</dict>
							<key>files/stacks-image-d1e9fe8-1200x782.png</key>
							<dict>
								<key>Digest</key>
								<data>
								NoqQJI0Flu+I
								R1LiSG3/ZA==
								</data>
								<key>Size</key>
								<integer>563060</integer>
							</dict>
							<key>files/stacks-image-d4950dd-1200x786.png</key>
							<dict>
								<key>Digest</key>
								<data>
								rehVF6BB4vzE
								yBgnh4weFw==
								</data>
								<key>Size</key>
								<integer>2375376</integer>
							</dict>
							<key>files/stacks-image-dc54b98-800x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								gu8VfhRwuxQr
								FlE6zv3Upg==
								</data>
								<key>Size</key>
								<integer>88238</integer>
							</dict>
							<key>files/stacks-image-edf4fb1.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								pHKJ1hU/SJOq
								c+73o/tFDg==
								</data>
								<key>Size</key>
								<integer>342588</integer>
							</dict>
							<key>files/stacks_page_page52.css</key>
							<dict>
								<key>Digest</key>
								<data>
								oFeRtGdsPLUW
								c1rtXSHXxg==
								</data>
								<key>Size</key>
								<integer>191303</integer>
							</dict>
							<key>files/stacks_page_page52.js</key>
							<dict>
								<key>Digest</key>
								<data>
								44twr3US0IJJ
								8nqN06sAMw==
								</data>
								<key>Size</key>
								<integer>24933</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								a+gzml3EBX4+
								H0EmRyQYdw==
								</data>
								<key>Size</key>
								<integer>131401</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page52</string>
						<key>SiteRoot</key>
						<string>events/netsci/logistics</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
