<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Brainstorm Rooms</string>
				<key>CreatedDate</key>
				<date>2020-05-20T16:58:25Z</date>
				<key>ID</key>
				<string>page98</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Brainstorm Rooms</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.2.2</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2021-10-27T21:36:45Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/DCE79F28-EA60-4789-B85B-36524B50F75A.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								IEzethOiNZT/
								CMFJwRU2Vg==
								</data>
								<key>Size</key>
								<integer>1269226</integer>
							</dict>
							<key>files/stacks-image-4e487e1-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								7nDw5UDGL1gU
								SmgxUo5FbQ==
								</data>
								<key>Size</key>
								<integer>40116</integer>
							</dict>
							<key>files/stacks-image-5572282-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								e2VF/hpM6t8E
								F7n6yo2CXA==
								</data>
								<key>Size</key>
								<integer>51475</integer>
							</dict>
							<key>files/stacks-image-751defd-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								icS9SDj+WwqQ
								9ByiVhzDzw==
								</data>
								<key>Size</key>
								<integer>53112</integer>
							</dict>
							<key>files/stacks-image-76ed3fc-1200x398.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								mMvxlr+JuzHT
								zLmSWco7Nw==
								</data>
								<key>Size</key>
								<integer>144886</integer>
							</dict>
							<key>files/stacks-image-91d6538-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Jg1/gCS60US5
								RmHgGJ3bAQ==
								</data>
								<key>Size</key>
								<integer>53622</integer>
							</dict>
							<key>files/stacks-image-d4b0169-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								zZD6y/Kqc7ju
								rUQcbODwPA==
								</data>
								<key>Size</key>
								<integer>56080</integer>
							</dict>
							<key>files/stacks-image-fc23ad2-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								cp+MMSI30EeH
								aVkNLn1IJg==
								</data>
								<key>Size</key>
								<integer>53628</integer>
							</dict>
							<key>files/stacks_page_page98.css</key>
							<dict>
								<key>Digest</key>
								<data>
								1860acvtMVlq
								wG43ozdHfg==
								</data>
								<key>Size</key>
								<integer>93822</integer>
							</dict>
							<key>files/stacks_page_page98.js</key>
							<dict>
								<key>Digest</key>
								<data>
								5lhS/tCDSRWO
								QLMxMYguyw==
								</data>
								<key>Size</key>
								<integer>20526</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								d8x29/a3X35n
								ssT2Uu2pVw==
								</data>
								<key>Size</key>
								<integer>36046</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page98</string>
						<key>SiteRoot</key>
						<string>events/cnww/page-3/page-12</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
