<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Schedule</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page75</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>ALife Schedule</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.6.9</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-11-19T15:19:45Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/backgroundImage_113139.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Emo4e0JCXjn6
								rDTN/YC8lg==
								</data>
								<key>Size</key>
								<integer>2493452</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								5SEHlmzIRPnE
								h1Zlyu2W+A==
								</data>
								<key>Size</key>
								<integer>35205</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZP2FJ/yve/bb
								UMUDEFQ7OA==
								</data>
								<key>Size</key>
								<integer>68310</integer>
							</dict>
							<key>files/stacks-image-2001ec0.png</key>
							<dict>
								<key>Digest</key>
								<data>
								YRy2S5aoKzt/
								v1ucadp4zA==
								</data>
								<key>Size</key>
								<integer>6879</integer>
							</dict>
							<key>files/stacks-image-63bfdf1-898x1200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								JzGDCTr3VpQ9
								ZXa76S/QnA==
								</data>
								<key>Size</key>
								<integer>379215</integer>
							</dict>
							<key>files/stacks-image-63bfdf1-898x1200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9Q9bA8/nbmZM
								L3BvVZFtbw==
								</data>
								<key>Size</key>
								<integer>623013</integer>
							</dict>
							<key>files/stacks-image-80c235e.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								hCsTIYTgqpV1
								m/mTzMTKtg==
								</data>
								<key>Size</key>
								<integer>182050</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								FWLv4iC2Yarl
								ySGORUZ3Iw==
								</data>
								<key>Size</key>
								<integer>19413</integer>
							</dict>
							<key>files/stacks_page_page75.css</key>
							<dict>
								<key>Digest</key>
								<data>
								AKwHIR+HeYDW
								YwxpPMH7IA==
								</data>
								<key>Size</key>
								<integer>157627</integer>
							</dict>
							<key>files/stacks_page_page75.js</key>
							<dict>
								<key>Digest</key>
								<data>
								wJjKetABcF7c
								SKCtT0+zLg==
								</data>
								<key>Size</key>
								<integer>24324</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								FmEDGbboY+Rq
								+eDb4eNS7A==
								</data>
								<key>Size</key>
								<integer>73756</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page75</string>
						<key>SiteRoot</key>
						<string>events/ALIFE-2020/Schedule</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
