<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict/>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>01-Research-Groups</string>
				<string>02-Projects</string>
				<string>03-CEL</string>
				<string>04-Publications</string>
				<string>05-Press</string>
				<string>06-Media</string>
				<string>07-Funding</string>
				<string>08-What-are-Complex-Systems</string>
				<string>09-ARCHIVE_Publications</string>
				<string>10-ARCHIVE_Press-</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Pages</string>
</dict>
</plist>
