<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict/>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>1-Research-Groups</string>
				<string>2-CEL</string>
				<string>3-Publications</string>
				<string>4-Press</string>
				<string>5-Media</string>
				<string>6-Funding</string>
				<string>7-What-are-Complex-Systems</string>
				<string>8-ARCHIVE_Publications</string>
				<string>9-ARCHIVE_Press-</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Pages</string>
</dict>
</plist>
