<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page49</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Details</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.6.6</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-06-26T19:51:52Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small_109872.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Yb+L/heiX6tP
								YliFF2auMA==
								</data>
								<key>Size</key>
								<integer>269913</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZFHf9zniv4SK
								z9ywIWAR7Q==
								</data>
								<key>Size</key>
								<integer>124861</integer>
							</dict>
							<key>files/stacks-image-00cf38f-448x388.png</key>
							<dict>
								<key>Digest</key>
								<data>
								4wW0ebOVNmZt
								2rU7/gbdTQ==
								</data>
								<key>Size</key>
								<integer>90963</integer>
							</dict>
							<key>files/stacks-image-00cf38f-448x388@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								sShZiC5S7NUC
								v3EN3CF+/w==
								</data>
								<key>Size</key>
								<integer>217418</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								5SEHlmzIRPnE
								h1Zlyu2W+A==
								</data>
								<key>Size</key>
								<integer>35205</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZP2FJ/yve/bb
								UMUDEFQ7OA==
								</data>
								<key>Size</key>
								<integer>68310</integer>
							</dict>
							<key>files/stacks-image-10532b8-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								a1BUOzaR5KPl
								3RINwCJxkw==
								</data>
								<key>Size</key>
								<integer>97254</integer>
							</dict>
							<key>files/stacks-image-10532b8-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								lwNbJHwMBUTZ
								VU3YaEeMnw==
								</data>
								<key>Size</key>
								<integer>320696</integer>
							</dict>
							<key>files/stacks-image-1aebfb5-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								+izhYKYrLWD4
								lK4RNUA97Q==
								</data>
								<key>Size</key>
								<integer>94301</integer>
							</dict>
							<key>files/stacks-image-1aebfb5-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								J6OHZRoZ633w
								4PBLPHS8EQ==
								</data>
								<key>Size</key>
								<integer>335617</integer>
							</dict>
							<key>files/stacks-image-1e491bc-300x256.png</key>
							<dict>
								<key>Digest</key>
								<data>
								twuRugCiPWQ4
								FbZuqTTMjQ==
								</data>
								<key>Size</key>
								<integer>68167</integer>
							</dict>
							<key>files/stacks-image-1e491bc-300x256@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								LNXfpAz0JCCP
								ljD5+CD97g==
								</data>
								<key>Size</key>
								<integer>223202</integer>
							</dict>
							<key>files/stacks-image-2d02c4e-1200x284.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								w80OyVMHZKl5
								Q0ZA2e961w==
								</data>
								<key>Size</key>
								<integer>80139</integer>
							</dict>
							<key>files/stacks-image-2d02c4e-1200x284@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								/K5JPXgH8ydT
								hi3zoCCGwQ==
								</data>
								<key>Size</key>
								<integer>138239</integer>
							</dict>
							<key>files/stacks-image-3dfae34-300x218.png</key>
							<dict>
								<key>Digest</key>
								<data>
								3pOqKVOKiTfm
								vhScvUZ46A==
								</data>
								<key>Size</key>
								<integer>18337</integer>
							</dict>
							<key>files/stacks-image-3dfae34-300x218@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								WiV3CxBUITiH
								22JZhKwX8A==
								</data>
								<key>Size</key>
								<integer>40839</integer>
							</dict>
							<key>files/stacks-image-45fda98-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								l8H9kc9ii8h2
								NizRj4XNwg==
								</data>
								<key>Size</key>
								<integer>105228</integer>
							</dict>
							<key>files/stacks-image-45fda98-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								pnacJGDQuc99
								lWcCfiGekw==
								</data>
								<key>Size</key>
								<integer>401602</integer>
							</dict>
							<key>files/stacks-image-48ee80b-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								LgIM9wnb0gVa
								ge7RSU+Slg==
								</data>
								<key>Size</key>
								<integer>90591</integer>
							</dict>
							<key>files/stacks-image-48ee80b-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								2wzTudHyJQqB
								Zxq7jihBHw==
								</data>
								<key>Size</key>
								<integer>336849</integer>
							</dict>
							<key>files/stacks-image-579eb0e-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								vK7f/XKTwh+c
								rFx3vAmGnA==
								</data>
								<key>Size</key>
								<integer>105735</integer>
							</dict>
							<key>files/stacks-image-5dab26b-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D0TrcOu48kDa
								0smMKNI6Hg==
								</data>
								<key>Size</key>
								<integer>73997</integer>
							</dict>
							<key>files/stacks-image-5dab26b-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								7jtUM9/g9wd6
								PqIVYseRtg==
								</data>
								<key>Size</key>
								<integer>238657</integer>
							</dict>
							<key>files/stacks-image-5e1ff49-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								guTR1w879WqI
								inPMO5tVtg==
								</data>
								<key>Size</key>
								<integer>79044</integer>
							</dict>
							<key>files/stacks-image-6a176f2.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								QqZb7VYPgF3P
								tZSj/BjKEg==
								</data>
								<key>Size</key>
								<integer>229581</integer>
							</dict>
							<key>files/stacks-image-7ca5723-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								F43SwHG9eISq
								4fDMJ4YlBQ==
								</data>
								<key>Size</key>
								<integer>100673</integer>
							</dict>
							<key>files/stacks-image-7ca5723-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								829W9ha5iRlM
								IT7BKh15Fw==
								</data>
								<key>Size</key>
								<integer>375016</integer>
							</dict>
							<key>files/stacks-image-95da015-150x96.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Rj51BO3CnN+I
								8zAJGkHDGw==
								</data>
								<key>Size</key>
								<integer>15500</integer>
							</dict>
							<key>files/stacks-image-a2c2113-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								W+W+U6cLz7Mn
								NwGaYpHcIw==
								</data>
								<key>Size</key>
								<integer>81756</integer>
							</dict>
							<key>files/stacks-image-a63dce2-1200x796.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								t52Enu04ZCnf
								Dk8ODmI+1Q==
								</data>
								<key>Size</key>
								<integer>361540</integer>
							</dict>
							<key>files/stacks-image-a63dce2-1200x796@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								kyWVwRqqM7iD
								fTPbpyHg2g==
								</data>
								<key>Size</key>
								<integer>653959</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								nlKP5a7IuNYc
								laKH9nPmag==
								</data>
								<key>Size</key>
								<integer>100679</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								jOEZ4E0dcsFS
								fS+cc4Xm9Q==
								</data>
								<key>Size</key>
								<integer>353179</integer>
							</dict>
							<key>files/stacks-image-cd71898-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								RWGVKXEy+thp
								IYsgttRIiw==
								</data>
								<key>Size</key>
								<integer>92633</integer>
							</dict>
							<key>files/stacks-image-d36e992-250x322.png</key>
							<dict>
								<key>Digest</key>
								<data>
								S3xI3i+B+p4q
								nlm1rlRCSg==
								</data>
								<key>Size</key>
								<integer>125490</integer>
							</dict>
							<key>files/stacks-image-e712d99-98x98.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								DrXzqFxO+3lS
								a1HeNbtvnw==
								</data>
								<key>Size</key>
								<integer>6235</integer>
							</dict>
							<key>files/stacks-image-e712d99-98x98@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								qd9R6Jbs85PY
								IaUvLvQM+w==
								</data>
								<key>Size</key>
								<integer>7778</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								FWLv4iC2Yarl
								ySGORUZ3Iw==
								</data>
								<key>Size</key>
								<integer>19413</integer>
							</dict>
							<key>files/stacks-image-faf7292-250x374.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ldv/13lcQEpm
								/6tw5EkhhA==
								</data>
								<key>Size</key>
								<integer>97542</integer>
							</dict>
							<key>files/stacks-image-fecc660-98x150.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZC+PaKuDnQCR
								FCIwEzARCw==
								</data>
								<key>Size</key>
								<integer>12596</integer>
							</dict>
							<key>files/stacks_page_page49.css</key>
							<dict>
								<key>Digest</key>
								<data>
								5wQEJCKqgq1v
								mx3Pyuigow==
								</data>
								<key>Size</key>
								<integer>192255</integer>
							</dict>
							<key>files/stacks_page_page49.js</key>
							<dict>
								<key>Digest</key>
								<data>
								P1Y4iOel1wGJ
								P5ZT+izY0Q==
								</data>
								<key>Size</key>
								<integer>23922</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								/rZ18MmxoZH3
								gnHpwWRQYg==
								</data>
								<key>Size</key>
								<integer>148332</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page49</string>
						<key>SiteRoot</key>
						<string>events/cnww/deets</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
