<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Proceedings</string>
				<key>CreatedDate</key>
				<date>2020-05-20T16:58:25Z</date>
				<key>ID</key>
				<string>page99</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Archives</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.2.5</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2022-10-03T17:17:11Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/DCE79F28-EA60-4789-B85B-36524B50F75A.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								IEzethOiNZT/
								CMFJwRU2Vg==
								</data>
								<key>Size</key>
								<integer>1269226</integer>
							</dict>
							<key>files/stacks-image-0d616da-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								YTORjyxcz9il
								mvYDYlJkqQ==
								</data>
								<key>Size</key>
								<integer>21900</integer>
							</dict>
							<key>files/stacks-image-0d616da-200x200@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								sKldVyC5ZxJI
								OGVgtIyiKQ==
								</data>
								<key>Size</key>
								<integer>62479</integer>
							</dict>
							<key>files/stacks-image-2045aff-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								J++k8ly3AQOm
								IefUP4kJYw==
								</data>
								<key>Size</key>
								<integer>23187</integer>
							</dict>
							<key>files/stacks-image-2045aff-200x200@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								sLFhIh3fIr6f
								yFbFB1q2ZQ==
								</data>
								<key>Size</key>
								<integer>70636</integer>
							</dict>
							<key>files/stacks-image-5797a7f-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								WTwb2EpwRX05
								IJ/7dNsT0w==
								</data>
								<key>Size</key>
								<integer>28115</integer>
							</dict>
							<key>files/stacks-image-5797a7f-200x200@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								xdeiMr7zqYwr
								ToZt6PzviA==
								</data>
								<key>Size</key>
								<integer>81425</integer>
							</dict>
							<key>files/stacks-image-6e1f498-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								7btmFRGZryoi
								dAeTfXH7OA==
								</data>
								<key>Size</key>
								<integer>50325</integer>
							</dict>
							<key>files/stacks-image-6e1f498-200x200@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								GHGGkhhPQE86
								HhWTMkwSng==
								</data>
								<key>Size</key>
								<integer>148182</integer>
							</dict>
							<key>files/stacks-image-76ed3fc-1200x398.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								H3Xg1P0VjAZ4
								Qjqa5qvnKQ==
								</data>
								<key>Size</key>
								<integer>144885</integer>
							</dict>
							<key>files/stacks-image-79e99ab-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								WCy6AoFj5pBe
								ZHKvfqAthA==
								</data>
								<key>Size</key>
								<integer>23832</integer>
							</dict>
							<key>files/stacks-image-79e99ab-200x200@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Z1Ca7PQF0IDN
								8b5//dP/VA==
								</data>
								<key>Size</key>
								<integer>72575</integer>
							</dict>
							<key>files/stacks-image-8b26cc2-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ncb0onAe8RyC
								sFNr+1PZEw==
								</data>
								<key>Size</key>
								<integer>23006</integer>
							</dict>
							<key>files/stacks-image-8b26cc2-200x200@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								aCLg2C6gGCmq
								5B/5sz1Wcw==
								</data>
								<key>Size</key>
								<integer>69885</integer>
							</dict>
							<key>files/stacks-image-95da015-150x96.png</key>
							<dict>
								<key>Digest</key>
								<data>
								fCjQwbySev+c
								wyFhbPd24A==
								</data>
								<key>Size</key>
								<integer>15575</integer>
							</dict>
							<key>files/stacks-image-9e74983-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								/yt/WK+mmohk
								mMWtsnr2VA==
								</data>
								<key>Size</key>
								<integer>19459</integer>
							</dict>
							<key>files/stacks-image-9e74983-200x200@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								NXsa8kqi5EjG
								6CJIQCkA+w==
								</data>
								<key>Size</key>
								<integer>59221</integer>
							</dict>
							<key>files/stacks-image-c0287c5-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								kT4NZ4JSxkrt
								RGTtsBJrvA==
								</data>
								<key>Size</key>
								<integer>26480</integer>
							</dict>
							<key>files/stacks-image-c0287c5-200x200@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								RQDTCfT1haMH
								pN27tIL4+g==
								</data>
								<key>Size</key>
								<integer>74961</integer>
							</dict>
							<key>files/stacks-image-c4903d5-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								g+phMPlW817m
								Vpok9+t6OQ==
								</data>
								<key>Size</key>
								<integer>23145</integer>
							</dict>
							<key>files/stacks-image-c4903d5-200x200@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								q4dN2+SfS9ox
								zRGx47TDZg==
								</data>
								<key>Size</key>
								<integer>70589</integer>
							</dict>
							<key>files/stacks-image-f033414-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								of3A/l5O5OvW
								ipGHZIgLag==
								</data>
								<key>Size</key>
								<integer>32338</integer>
							</dict>
							<key>files/stacks-image-f033414-200x200@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								G774k6eCDa1Q
								MOQemSkG6A==
								</data>
								<key>Size</key>
								<integer>92715</integer>
							</dict>
							<key>files/stacks-image-f219963-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								6dPFlkj8nHsQ
								4uzzEqvCCA==
								</data>
								<key>Size</key>
								<integer>26009</integer>
							</dict>
							<key>files/stacks-image-f219963-200x200@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								kHR1fmnnAioB
								XMEunwHjIA==
								</data>
								<key>Size</key>
								<integer>79394</integer>
							</dict>
							<key>files/stacks-image-fb91eba-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								TYv4wl8dNhkD
								chOcf3xGDg==
								</data>
								<key>Size</key>
								<integer>29790</integer>
							</dict>
							<key>files/stacks-image-fb91eba-200x200@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								RST0NJj7KnMZ
								IgzXUTwqTA==
								</data>
								<key>Size</key>
								<integer>87553</integer>
							</dict>
							<key>files/stacks-image-fecc660-98x150.png</key>
							<dict>
								<key>Digest</key>
								<data>
								31PfHIasA3Vq
								G4uSE8XTZA==
								</data>
								<key>Size</key>
								<integer>12627</integer>
							</dict>
							<key>files/stacks_page_page99.css</key>
							<dict>
								<key>Digest</key>
								<data>
								cDF94ZXVbdol
								6qTdZx/x+g==
								</data>
								<key>Size</key>
								<integer>134949</integer>
							</dict>
							<key>files/stacks_page_page99.js</key>
							<dict>
								<key>Digest</key>
								<data>
								rI1w9yn93Mu/
								s69H/OinEw==
								</data>
								<key>Size</key>
								<integer>22386</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								KUbFhUh9RuJp
								YoQA9hRL8A==
								</data>
								<key>Size</key>
								<integer>83202</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page99</string>
						<key>SiteRoot</key>
						<string>events/cnww/CNWW-Virtual/Proceedings</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
