<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Logistics</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page52</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>NetSci Logistics</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.6.1</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2018-07-31T02:07:33Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/backgroundImage_110517.png</key>
							<dict>
								<key>Digest</key>
								<data>
								/ytKW+d8532o
								LG20qBSPRw==
								</data>
								<key>Size</key>
								<integer>383766</integer>
							</dict>
							<key>files/backgroundImage_110620.png</key>
							<dict>
								<key>Digest</key>
								<data>
								/ytKW+d8532o
								LG20qBSPRw==
								</data>
								<key>Size</key>
								<integer>383766</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZFHf9zniv4SK
								z9ywIWAR7Q==
								</data>
								<key>Size</key>
								<integer>124861</integer>
							</dict>
							<key>files/small_p60311_n109628.png</key>
							<dict>
								<key>Digest</key>
								<data>
								pcpK3KZBcBVd
								Ns6QdrLpNA==
								</data>
								<key>Size</key>
								<integer>68548</integer>
							</dict>
							<key>files/stacks-image-1d10683-666x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								FcI/Mp/S2MST
								FDw50qdR2w==
								</data>
								<key>Size</key>
								<integer>126157</integer>
							</dict>
							<key>files/stacks-image-248de64-1200x776.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9bJ5af31ToLq
								s071AM1Pvg==
								</data>
								<key>Size</key>
								<integer>297644</integer>
							</dict>
							<key>files/stacks-image-2c90133-700x398.png</key>
							<dict>
								<key>Digest</key>
								<data>
								WNYrWgw4gMan
								tiFFTLkLNg==
								</data>
								<key>Size</key>
								<integer>60972</integer>
							</dict>
							<key>files/stacks-image-3bd846c-1200x636.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								7Tdr9WgJR/uS
								BovdBArFyQ==
								</data>
								<key>Size</key>
								<integer>295684</integer>
							</dict>
							<key>files/stacks-image-5751fa0-750x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ils0YE8Bo7cC
								utaO84MhTg==
								</data>
								<key>Size</key>
								<integer>140849</integer>
							</dict>
							<key>files/stacks-image-69ebcea.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								wcQWJYoOe1An
								41Iye9rWOQ==
								</data>
								<key>Size</key>
								<integer>146527</integer>
							</dict>
							<key>files/stacks-image-765d0a8-666x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								25fKlON0lBH/
								0pMn8NPtYg==
								</data>
								<key>Size</key>
								<integer>146450</integer>
							</dict>
							<key>files/stacks-image-7afeed7-750x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								0qAEBkoLDo7B
								ts8HF7DpPg==
								</data>
								<key>Size</key>
								<integer>150248</integer>
							</dict>
							<key>files/stacks-image-ae82c9c.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								htVRWvdP8e2u
								FioTWTJ/HA==
								</data>
								<key>Size</key>
								<integer>228758</integer>
							</dict>
							<key>files/stacks-image-b198aab-666x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								eaYIysXqvLH9
								ZJYa22nPJQ==
								</data>
								<key>Size</key>
								<integer>104274</integer>
							</dict>
							<key>files/stacks-image-dc54b98-666x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								crv4aa4ojXs0
								vF45rVifeg==
								</data>
								<key>Size</key>
								<integer>69413</integer>
							</dict>
							<key>files/stacks-image-edf4fb1.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								pHKJ1hU/SJOq
								c+73o/tFDg==
								</data>
								<key>Size</key>
								<integer>342588</integer>
							</dict>
							<key>files/stacks_page_page52.css</key>
							<dict>
								<key>Digest</key>
								<data>
								KiAru8Q47eZi
								IGa2XBTVUQ==
								</data>
								<key>Size</key>
								<integer>132089</integer>
							</dict>
							<key>files/stacks_page_page52.js</key>
							<dict>
								<key>Digest</key>
								<data>
								kiy8xP6ogIB+
								W8zBrIqEnA==
								</data>
								<key>Size</key>
								<integer>24751</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								KvArRdvTGUqI
								F2Xz0zn6Hw==
								</data>
								<key>Size</key>
								<integer>67081</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page52</string>
						<key>SiteRoot</key>
						<string>events/netsci/logistics</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
