<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Logistics</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page52</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>NetSci Logistics</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.6.1</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2018-07-31T00:34:35Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/backgroundImage_110147.png</key>
							<dict>
								<key>Digest</key>
								<data>
								/ytKW+d8532o
								LG20qBSPRw==
								</data>
								<key>Size</key>
								<integer>383766</integer>
							</dict>
							<key>files/backgroundImage_110517.png</key>
							<dict>
								<key>Digest</key>
								<data>
								/ytKW+d8532o
								LG20qBSPRw==
								</data>
								<key>Size</key>
								<integer>383766</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZFHf9zniv4SK
								z9ywIWAR7Q==
								</data>
								<key>Size</key>
								<integer>124861</integer>
							</dict>
							<key>files/small_p60311_n109628.png</key>
							<dict>
								<key>Digest</key>
								<data>
								pcpK3KZBcBVd
								Ns6QdrLpNA==
								</data>
								<key>Size</key>
								<integer>68548</integer>
							</dict>
							<key>files/stacks-image-248de64-1200x776.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9bJ5af31ToLq
								s071AM1Pvg==
								</data>
								<key>Size</key>
								<integer>297644</integer>
							</dict>
							<key>files/stacks-image-2c90133-700x398.png</key>
							<dict>
								<key>Digest</key>
								<data>
								WNYrWgw4gMan
								tiFFTLkLNg==
								</data>
								<key>Size</key>
								<integer>60972</integer>
							</dict>
							<key>files/stacks-image-3bd846c-1200x636.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								7Tdr9WgJR/uS
								BovdBArFyQ==
								</data>
								<key>Size</key>
								<integer>295684</integer>
							</dict>
							<key>files/stacks-image-60181c6-600x450.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								dP2sVb4Spr8c
								ZkrN6/sD8g==
								</data>
								<key>Size</key>
								<integer>115304</integer>
							</dict>
							<key>files/stacks-image-69ebcea.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								wcQWJYoOe1An
								41Iye9rWOQ==
								</data>
								<key>Size</key>
								<integer>146527</integer>
							</dict>
							<key>files/stacks-image-6b69c3d-600x450.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								KjO9OItNse8O
								iYfGznwWPg==
								</data>
								<key>Size</key>
								<integer>82772</integer>
							</dict>
							<key>files/stacks-image-7544077-600x450.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								nw3XvflIlz0s
								I0NXhAX+bw==
								</data>
								<key>Size</key>
								<integer>134193</integer>
							</dict>
							<key>files/stacks-image-843a067.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								gvLJWD1G+M0Z
								v6+xt5Bueg==
								</data>
								<key>Size</key>
								<integer>239632</integer>
							</dict>
							<key>files/stacks-image-92f5cb4-600x450.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								K20WJb+iC/Gq
								+n0ASTRm9w==
								</data>
								<key>Size</key>
								<integer>62564</integer>
							</dict>
							<key>files/stacks-image-ae82c9c.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								htVRWvdP8e2u
								FioTWTJ/HA==
								</data>
								<key>Size</key>
								<integer>228758</integer>
							</dict>
							<key>files/stacks-image-b8b914a-600x450.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								mjiZJKwpPW+K
								o1FcxjfJhQ==
								</data>
								<key>Size</key>
								<integer>103384</integer>
							</dict>
							<key>files/stacks-image-edf4fb1-598x354.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								HLZo/LCvUbtb
								W8UNCD//cA==
								</data>
								<key>Size</key>
								<integer>126447</integer>
							</dict>
							<key>files/stacks-image-edf4fb1.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								pHKJ1hU/SJOq
								c+73o/tFDg==
								</data>
								<key>Size</key>
								<integer>342588</integer>
							</dict>
							<key>files/stacks_page_page52.css</key>
							<dict>
								<key>Digest</key>
								<data>
								wai5PK7p0Dr/
								F3iYr2Rakg==
								</data>
								<key>Size</key>
								<integer>135716</integer>
							</dict>
							<key>files/stacks_page_page52.js</key>
							<dict>
								<key>Digest</key>
								<data>
								kiy8xP6ogIB+
								W8zBrIqEnA==
								</data>
								<key>Size</key>
								<integer>24751</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								wZg7p/ir8qEe
								w87oT/z0BA==
								</data>
								<key>Size</key>
								<integer>68184</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page52</string>
						<key>SiteRoot</key>
						<string>events/netsci/logistics</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
