<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>postdocs</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page45</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Postdocs</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.3.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2024-10-02T18:15:42Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small-109623-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/small-109710-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JfxF8Omi0icK
								xIwohpIZqw==
								</data>
								<key>Size</key>
								<integer>77487</integer>
							</dict>
							<key>files/small-109714-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2NMhf1k+YDl
								uPpd6H1dBw==
								</data>
								<key>Size</key>
								<integer>15019</integer>
							</dict>
							<key>files/small-109735-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D2nm4R7babci
								2M5NjfUDZQ==
								</data>
								<key>Size</key>
								<integer>18925</integer>
							</dict>
							<key>files/small-109736-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgRiuB3NhhIh
								SwZTifI18g==
								</data>
								<key>Size</key>
								<integer>21987</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JV5ejNT3Y8/E
								W0wI16l5/Q==
								</data>
								<key>Size</key>
								<integer>35252</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Su+ZpJd1NY34
								s0J16tjsFg==
								</data>
								<key>Size</key>
								<integer>68409</integer>
							</dict>
							<key>files/stacks-image-2aec50a.png</key>
							<dict>
								<key>Digest</key>
								<data>
								IToRvUzEFr+D
								K8NnVGLlcw==
								</data>
								<key>Size</key>
								<integer>58907</integer>
							</dict>
							<key>files/stacks-image-37a0fb0-300x300.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								D+vckAu/1uZv
								W35N2hgsCw==
								</data>
								<key>Size</key>
								<integer>23144</integer>
							</dict>
							<key>files/stacks-image-44bc0c8-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								jM8R+sapOXnT
								TLwdzkvw8w==
								</data>
								<key>Size</key>
								<integer>18628</integer>
							</dict>
							<key>files/stacks-image-44bc0c8-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								rnPVXpysF2QC
								hYwktzMmxA==
								</data>
								<key>Size</key>
								<integer>28232</integer>
							</dict>
							<key>files/stacks-image-53f1b7c.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								+fDwCAAKf/dR
								8sNOm3U9nQ==
								</data>
								<key>Size</key>
								<integer>12042</integer>
							</dict>
							<key>files/stacks-image-6e6fa2c-298x350.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								y35mZQ8YDiYw
								5zbZV+uZQw==
								</data>
								<key>Size</key>
								<integer>25302</integer>
							</dict>
							<key>files/stacks-image-7c69dc1-300x304.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								0wHBkJN/d/k+
								BbX6W8Wldg==
								</data>
								<key>Size</key>
								<integer>26850</integer>
							</dict>
							<key>files/stacks-image-803aa9a.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								bJJbX4mhEo62
								ikonWqEsHA==
								</data>
								<key>Size</key>
								<integer>60163</integer>
							</dict>
							<key>files/stacks-image-99ba26e-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								nwYaKpx/mSo3
								g25GBy8HjA==
								</data>
								<key>Size</key>
								<integer>16376</integer>
							</dict>
							<key>files/stacks-image-99ba26e-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								X7Zr/daEm6Ye
								iy+uB+uELQ==
								</data>
								<key>Size</key>
								<integer>27934</integer>
							</dict>
							<key>files/stacks-image-9af2bbd.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								NVBjeZFhFNvj
								eqs7we08+A==
								</data>
								<key>Size</key>
								<integer>17720</integer>
							</dict>
							<key>files/stacks-image-9d99711.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								V4fj+UcgssO4
								MOTt3Dz7Og==
								</data>
								<key>Size</key>
								<integer>20596</integer>
							</dict>
							<key>files/stacks-image-a8a47c8.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								NKegNXo4q3kq
								QD0PTyadjA==
								</data>
								<key>Size</key>
								<integer>14162</integer>
							</dict>
							<key>files/stacks-image-d7ca535-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								rJqAPcQJI05I
								ws9Fd6d/3g==
								</data>
								<key>Size</key>
								<integer>17915</integer>
							</dict>
							<key>files/stacks-image-d7ca535-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								kASx5Lc2wYXp
								JxCCLFWzYw==
								</data>
								<key>Size</key>
								<integer>28481</integer>
							</dict>
							<key>files/stacks-image-e24aa98.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								XOU5a/sMdppg
								8QTLaSTG9A==
								</data>
								<key>Size</key>
								<integer>11186</integer>
							</dict>
							<key>files/stacks-image-e3aa7f2-300x292.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								egRV7djOVL8k
								c02e03XQpg==
								</data>
								<key>Size</key>
								<integer>27122</integer>
							</dict>
							<key>files/stacks-image-e3aa7f2-300x292@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								EAVgj4iTA0lF
								s8UpaNSeVA==
								</data>
								<key>Size</key>
								<integer>40709</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								0LBTZh9Y4iZ6
								By0DZuC++A==
								</data>
								<key>Size</key>
								<integer>19463</integer>
							</dict>
							<key>files/stacks_page_page45.css</key>
							<dict>
								<key>Digest</key>
								<data>
								wCIogvXnMcuR
								0PTYKXZy+w==
								</data>
								<key>Size</key>
								<integer>156410</integer>
							</dict>
							<key>files/stacks_page_page45.js</key>
							<dict>
								<key>Digest</key>
								<data>
								pYxq/jDJ+9jZ
								mbz6TpyXWQ==
								</data>
								<key>Size</key>
								<integer>25277</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								olM92ArMMMqR
								3uCWDYxekA==
								</data>
								<key>Size</key>
								<integer>81865</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page45</string>
						<key>SiteRoot</key>
						<string>people/postdocs</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
