<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>team projects</string>
				<key>CreatedDate</key>
				<date>2020-05-20T16:58:25Z</date>
				<key>ID</key>
				<string>page97</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Projects</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.0.4</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2021-02-12T18:27:57Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/DCE79F28-EA60-4789-B85B-36524B50F75A.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								IEzethOiNZT/
								CMFJwRU2Vg==
								</data>
								<key>Size</key>
								<integer>1269226</integer>
							</dict>
							<key>files/stacks-image-0ccd1b9-1200x398.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								2M2cXFkI3Wbx
								DOK+41BfDQ==
								</data>
								<key>Size</key>
								<integer>144902</integer>
							</dict>
							<key>files/stacks-image-0d616da-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ISpX4Yfy+AOu
								MMc0xsboxQ==
								</data>
								<key>Size</key>
								<integer>22020</integer>
							</dict>
							<key>files/stacks-image-0d616da-200x200@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								n7eCawir5jo2
								vSwtmwm8sQ==
								</data>
								<key>Size</key>
								<integer>62715</integer>
							</dict>
							<key>files/stacks-image-2045aff-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ct7hZfo5g0na
								jxEVhkXFAQ==
								</data>
								<key>Size</key>
								<integer>23491</integer>
							</dict>
							<key>files/stacks-image-2045aff-200x200@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								WYvfa4FheHyM
								pDQOHOGrMw==
								</data>
								<key>Size</key>
								<integer>71559</integer>
							</dict>
							<key>files/stacks-image-5797a7f-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								p/qTCkJikU07
								VWBX9gq/tQ==
								</data>
								<key>Size</key>
								<integer>28237</integer>
							</dict>
							<key>files/stacks-image-5797a7f-200x200@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								xlvYfFr4Jt8H
								ZV39tf+KDQ==
								</data>
								<key>Size</key>
								<integer>81827</integer>
							</dict>
							<key>files/stacks-image-6e1f498-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								dx9UnOYVlWWS
								9554bTEV6A==
								</data>
								<key>Size</key>
								<integer>50288</integer>
							</dict>
							<key>files/stacks-image-6e1f498-200x200@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								voyKDmIv2iFl
								Wnb5InoEhQ==
								</data>
								<key>Size</key>
								<integer>148098</integer>
							</dict>
							<key>files/stacks-image-79e99ab-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								WviDmwuwlZIC
								mHNt+cNZXg==
								</data>
								<key>Size</key>
								<integer>23942</integer>
							</dict>
							<key>files/stacks-image-79e99ab-200x200@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								A0hzkFx82Dvo
								ZI9PAAkCLw==
								</data>
								<key>Size</key>
								<integer>73087</integer>
							</dict>
							<key>files/stacks-image-8b26cc2-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								OhMo9Is8YKTJ
								zz6jdpnO1g==
								</data>
								<key>Size</key>
								<integer>23174</integer>
							</dict>
							<key>files/stacks-image-8b26cc2-200x200@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								1Vn01Ak2XFh3
								PFYLr1Bt4Q==
								</data>
								<key>Size</key>
								<integer>70531</integer>
							</dict>
							<key>files/stacks-image-9e74983-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								t5L5yHIc2+Ww
								jTDhKKvw6w==
								</data>
								<key>Size</key>
								<integer>19464</integer>
							</dict>
							<key>files/stacks-image-9e74983-200x200@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								+/Q+2zDOdm6g
								A2DizXi5Yg==
								</data>
								<key>Size</key>
								<integer>59275</integer>
							</dict>
							<key>files/stacks-image-c0287c5-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								rBxzgcUbjd8O
								i1vdjQ6XWQ==
								</data>
								<key>Size</key>
								<integer>26506</integer>
							</dict>
							<key>files/stacks-image-c0287c5-200x200@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								RPcoNMvdnxHb
								41rPAVX0EQ==
								</data>
								<key>Size</key>
								<integer>74952</integer>
							</dict>
							<key>files/stacks-image-c4903d5-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								loNHMbltrE6T
								pVVfBZ3H5g==
								</data>
								<key>Size</key>
								<integer>23283</integer>
							</dict>
							<key>files/stacks-image-c4903d5-200x200@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								wbnC6ARD+Mit
								91ojVfNgrw==
								</data>
								<key>Size</key>
								<integer>71019</integer>
							</dict>
							<key>files/stacks-image-f033414-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zUduy4d8kzKv
								g8tyd4ZT0Q==
								</data>
								<key>Size</key>
								<integer>32605</integer>
							</dict>
							<key>files/stacks-image-f033414-200x200@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								fhc5tbK8eN0X
								eEUMsDTu8Q==
								</data>
								<key>Size</key>
								<integer>93924</integer>
							</dict>
							<key>files/stacks-image-f219963-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								90D2iUFej2cb
								Rzz/YGvrkA==
								</data>
								<key>Size</key>
								<integer>26107</integer>
							</dict>
							<key>files/stacks-image-f219963-200x200@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								CEec1cq8ckSS
								nxExsstSHQ==
								</data>
								<key>Size</key>
								<integer>79873</integer>
							</dict>
							<key>files/stacks-image-fb91eba-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								L0BvfGepyEYo
								VuIcybIWTQ==
								</data>
								<key>Size</key>
								<integer>30030</integer>
							</dict>
							<key>files/stacks-image-fb91eba-200x200@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								gXXPPI4twNyY
								Hli3Q5gw5w==
								</data>
								<key>Size</key>
								<integer>88026</integer>
							</dict>
							<key>files/stacks_page_page97.css</key>
							<dict>
								<key>Digest</key>
								<data>
								XPW5aota9YJU
								Qps/CVV4xg==
								</data>
								<key>Size</key>
								<integer>121443</integer>
							</dict>
							<key>files/stacks_page_page97.js</key>
							<dict>
								<key>Digest</key>
								<data>
								Kje6XcbkQ9aZ
								9P6ycmMjBw==
								</data>
								<key>Size</key>
								<integer>22541</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								ROQwjrQ+hPn9
								hsq+Izf4FQ==
								</data>
								<key>Size</key>
								<integer>68528</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page97</string>
						<key>SiteRoot</key>
						<string>events/cnww/page-3/page-11</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
