<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page69</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Partnerships</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.2.2</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2021-11-19T21:01:19Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/A74DE8A5-F230-4FC2-A2D2-EF8953721720.png</key>
							<dict>
								<key>Digest</key>
								<data>
								S/+NjCX24Lm/
								r4KlUdrwJg==
								</data>
								<key>Size</key>
								<integer>990133</integer>
							</dict>
							<key>files/small-109623-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/small-109710-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JfxF8Omi0icK
								xIwohpIZqw==
								</data>
								<key>Size</key>
								<integer>77487</integer>
							</dict>
							<key>files/small-109714-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2NMhf1k+YDl
								uPpd6H1dBw==
								</data>
								<key>Size</key>
								<integer>15019</integer>
							</dict>
							<key>files/small-109735-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D2nm4R7babci
								2M5NjfUDZQ==
								</data>
								<key>Size</key>
								<integer>18925</integer>
							</dict>
							<key>files/small-109736-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgRiuB3NhhIh
								SwZTifI18g==
								</data>
								<key>Size</key>
								<integer>21987</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								nc/RlhmvGDDL
								K+SuTjMLPQ==
								</data>
								<key>Size</key>
								<integer>35262</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								tvAomUQyeND0
								vTpTZz/VVg==
								</data>
								<key>Size</key>
								<integer>68367</integer>
							</dict>
							<key>files/stacks-image-0d315c7-126x150.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								C7I7IcbGFa2T
								opc02QJpww==
								</data>
								<key>Size</key>
								<integer>10866</integer>
							</dict>
							<key>files/stacks-image-20a9b85-148x112.png</key>
							<dict>
								<key>Digest</key>
								<data>
								kIIEb74mVwp2
								fDkSvR0lHQ==
								</data>
								<key>Size</key>
								<integer>21444</integer>
							</dict>
							<key>files/stacks-image-2706f3f.png</key>
							<dict>
								<key>Digest</key>
								<data>
								38DyDEe6U7zk
								+jpdOMXc/w==
								</data>
								<key>Size</key>
								<integer>2858</integer>
							</dict>
							<key>files/stacks-image-288a3eb-148x48.png</key>
							<dict>
								<key>Digest</key>
								<data>
								WaDdDLwAj/Y3
								MDb4VEWAbQ==
								</data>
								<key>Size</key>
								<integer>7671</integer>
							</dict>
							<key>files/stacks-image-29f94dd-150x80.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZElae0cMJb9K
								Iuo2zPgT+w==
								</data>
								<key>Size</key>
								<integer>11068</integer>
							</dict>
							<key>files/stacks-image-357371c-150x110.png</key>
							<dict>
								<key>Digest</key>
								<data>
								VId3zN5f9PNd
								P2xlXfQm9g==
								</data>
								<key>Size</key>
								<integer>21901</integer>
							</dict>
							<key>files/stacks-image-3e5d1b9-148x84.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MXNU+X2Cv4jC
								jJLrXjSlaA==
								</data>
								<key>Size</key>
								<integer>30593</integer>
							</dict>
							<key>files/stacks-image-42e96b3-150x98.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								X3M3YIhmWNK/
								dMvFIO1lhg==
								</data>
								<key>Size</key>
								<integer>7855</integer>
							</dict>
							<key>files/stacks-image-4dcf90e-300x122.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Dp18eXfX9usw
								aMr1Xa/KCg==
								</data>
								<key>Size</key>
								<integer>9158</integer>
							</dict>
							<key>files/stacks-image-54d1767-350x232.png</key>
							<dict>
								<key>Digest</key>
								<data>
								F9v0WGQMZnBL
								YcDg56ePdg==
								</data>
								<key>Size</key>
								<integer>15999</integer>
							</dict>
							<key>files/stacks-image-5a7224a-150x110.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								6e327iBQswm9
								UouaZ7nxJA==
								</data>
								<key>Size</key>
								<integer>8639</integer>
							</dict>
							<key>files/stacks-image-874cac4-150x70.png</key>
							<dict>
								<key>Digest</key>
								<data>
								k8niDEy0dx5p
								LissiAoq0g==
								</data>
								<key>Size</key>
								<integer>10571</integer>
							</dict>
							<key>files/stacks-image-890cd48.png</key>
							<dict>
								<key>Digest</key>
								<data>
								bBikOroID56t
								jGPkUM0bGg==
								</data>
								<key>Size</key>
								<integer>3109</integer>
							</dict>
							<key>files/stacks-image-931e159.png</key>
							<dict>
								<key>Digest</key>
								<data>
								wHFdVZAtYDow
								YLyieElOOQ==
								</data>
								<key>Size</key>
								<integer>14603</integer>
							</dict>
							<key>files/stacks-image-ac0a62a-150x98.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								utbFLU+ygMcm
								8SqIwqW/8g==
								</data>
								<key>Size</key>
								<integer>5769</integer>
							</dict>
							<key>files/stacks-image-bde58ff-150x74.png</key>
							<dict>
								<key>Digest</key>
								<data>
								tJpV+7zcYjR+
								Q83VPQeHyg==
								</data>
								<key>Size</key>
								<integer>25403</integer>
							</dict>
							<key>files/stacks-image-bed233e-150x120.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ZQBjBIdKQWbo
								BA+7MEbzXg==
								</data>
								<key>Size</key>
								<integer>8406</integer>
							</dict>
							<key>files/stacks-image-c6ac214-300x300.png</key>
							<dict>
								<key>Digest</key>
								<data>
								gYFq7I9p4ORh
								L+CFwig1JA==
								</data>
								<key>Size</key>
								<integer>23631</integer>
							</dict>
							<key>files/stacks-image-de46789-150x78.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ATwI0KfsDsJk
								ThcajfVwcw==
								</data>
								<key>Size</key>
								<integer>9724</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Hwezk6t72J5g
								2awHy7YAqA==
								</data>
								<key>Size</key>
								<integer>19470</integer>
							</dict>
							<key>files/stacks_page_page69.css</key>
							<dict>
								<key>Digest</key>
								<data>
								hSNSE0ulEHTJ
								zxTeZDYSSg==
								</data>
								<key>Size</key>
								<integer>138034</integer>
							</dict>
							<key>files/stacks_page_page69.js</key>
							<dict>
								<key>Digest</key>
								<data>
								6Kl0iemIu+qe
								MFk5mn5KDw==
								</data>
								<key>Size</key>
								<integer>24472</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								14J7EOV6CiMh
								2OtbGZ7sDg==
								</data>
								<key>Size</key>
								<integer>77427</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page69</string>
						<key>SiteRoot</key>
						<string>partner</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>ChildPages</string>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
