<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>NetSci Schedule</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page55</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>NetSci Schedule</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.6.6</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-04-01T12:55:30Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/backgroundImage_pp113009_n18_n1.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								GQHOUzuyjCs9
								Jfbg60A9OQ==
								</data>
								<key>Size</key>
								<integer>700318</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZFHf9zniv4SK
								z9ywIWAR7Q==
								</data>
								<key>Size</key>
								<integer>124861</integer>
							</dict>
							<key>files/stacks-image-012ccd0-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								XsvJYylntJyu
								SBVPvLHXuw==
								</data>
								<key>Size</key>
								<integer>38805</integer>
							</dict>
							<key>files/stacks-image-0655a30-350x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								CGMCqHLLwgog
								XwGGhaiz1g==
								</data>
								<key>Size</key>
								<integer>18286</integer>
							</dict>
							<key>files/stacks-image-0c90353-700x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								eYg9kPLcsi2d
								u36RV5UmQw==
								</data>
								<key>Size</key>
								<integer>72363</integer>
							</dict>
							<key>files/stacks-image-127916a.png</key>
							<dict>
								<key>Digest</key>
								<data>
								3LgVp1RAakvu
								6pxIT/gAjg==
								</data>
								<key>Size</key>
								<integer>530208</integer>
							</dict>
							<key>files/stacks-image-1500267-332x498.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								/1yJEGVtgDYC
								qJpjqOOqSg==
								</data>
								<key>Size</key>
								<integer>37050</integer>
							</dict>
							<key>files/stacks-image-1500267-332x498@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								5HaFH1+IeZ2q
								+imybGmwWQ==
								</data>
								<key>Size</key>
								<integer>61496</integer>
							</dict>
							<key>files/stacks-image-1fdb6e6-350x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								g6thop/HnSKe
								Ig6OjJrbbA==
								</data>
								<key>Size</key>
								<integer>18459</integer>
							</dict>
							<key>files/stacks-image-1fdb6e6-350x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								tXjKBMneT+k2
								iYAI/fgNXQ==
								</data>
								<key>Size</key>
								<integer>26330</integer>
							</dict>
							<key>files/stacks-image-3f840b6-400x400.png</key>
							<dict>
								<key>Digest</key>
								<data>
								YTLD/bUe0ORf
								RgdNKhsiZw==
								</data>
								<key>Size</key>
								<integer>38260</integer>
							</dict>
							<key>files/stacks-image-3f840b6-400x400@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ikxpBxIX6ud5
								VZ+scCDjnQ==
								</data>
								<key>Size</key>
								<integer>91182</integer>
							</dict>
							<key>files/stacks-image-5433a01-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9DG1zXcng4pv
								1Cs+7y0zHw==
								</data>
								<key>Size</key>
								<integer>21510</integer>
							</dict>
							<key>files/stacks-image-5433a01-350x375@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								IHD+CTacdDRA
								MnGBEKRyCQ==
								</data>
								<key>Size</key>
								<integer>33052</integer>
							</dict>
							<key>files/stacks-image-571e73c-350x375.png</key>
							<dict>
								<key>Digest</key>
								<data>
								w++uVQIsNKzQ
								8sk0yV0SyQ==
								</data>
								<key>Size</key>
								<integer>219500</integer>
							</dict>
							<key>files/stacks-image-571e73c-350x375@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								0zgjt6cRhe85
								sQl2mFszmg==
								</data>
								<key>Size</key>
								<integer>722662</integer>
							</dict>
							<key>files/stacks-image-580baf6-248x248.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								yZQqhuEMgia3
								owVDiEQk8g==
								</data>
								<key>Size</key>
								<integer>13322</integer>
							</dict>
							<key>files/stacks-image-5aa6b15-700x375.png</key>
							<dict>
								<key>Digest</key>
								<data>
								PTCRWcc73s1n
								jGVMNVtqzg==
								</data>
								<key>Size</key>
								<integer>339587</integer>
							</dict>
							<key>files/stacks-image-6467c3a-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Krp7Og269lDp
								zJmYejGYxg==
								</data>
								<key>Size</key>
								<integer>29317</integer>
							</dict>
							<key>files/stacks-image-681c98a-700x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								WFzuxAeQXtJT
								2StC5DbNvw==
								</data>
								<key>Size</key>
								<integer>84706</integer>
							</dict>
							<key>files/stacks-image-68a4e7f-350x375.png</key>
							<dict>
								<key>Digest</key>
								<data>
								LZv4DMej64SX
								MbLEHCTVEw==
								</data>
								<key>Size</key>
								<integer>129527</integer>
							</dict>
							<key>files/stacks-image-68a4e7f-350x375@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Tu0JMz7s2v5B
								ogb1V+xOlw==
								</data>
								<key>Size</key>
								<integer>477959</integer>
							</dict>
							<key>files/stacks-image-72d04bd-900x156.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								J0oCqNLQIZun
								8nxN/0xT1A==
								</data>
								<key>Size</key>
								<integer>28375</integer>
							</dict>
							<key>files/stacks-image-7700296-350x375.png</key>
							<dict>
								<key>Digest</key>
								<data>
								P6aCQhxrPVYY
								vqg7M+aIkQ==
								</data>
								<key>Size</key>
								<integer>257542</integer>
							</dict>
							<key>files/stacks-image-78f98c2-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								VQeylHByJYMt
								eHl8ZH4K0Q==
								</data>
								<key>Size</key>
								<integer>40200</integer>
							</dict>
							<key>files/stacks-image-78f98c2-350x375@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ayixwrm11vSB
								j4hesfTjNw==
								</data>
								<key>Size</key>
								<integer>66232</integer>
							</dict>
							<key>files/stacks-image-7bc5484-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								SOlRP1yO0rWu
								gZ/HtPG+rw==
								</data>
								<key>Size</key>
								<integer>36199</integer>
							</dict>
							<key>files/stacks-image-7bc5484-350x375@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								TL7yNXylaDtA
								Ftz2qb0T9g==
								</data>
								<key>Size</key>
								<integer>61533</integer>
							</dict>
							<key>files/stacks-image-80d7927-900x156.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								J0oCqNLQIZun
								8nxN/0xT1A==
								</data>
								<key>Size</key>
								<integer>28375</integer>
							</dict>
							<key>files/stacks-image-843a067.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								gvLJWD1G+M0Z
								v6+xt5Bueg==
								</data>
								<key>Size</key>
								<integer>239632</integer>
							</dict>
							<key>files/stacks-image-90966db-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								kcVxqK0Y23YI
								Ns11kdYJ6w==
								</data>
								<key>Size</key>
								<integer>21714</integer>
							</dict>
							<key>files/stacks-image-9416b79-700x375.png</key>
							<dict>
								<key>Digest</key>
								<data>
								PTCRWcc73s1n
								jGVMNVtqzg==
								</data>
								<key>Size</key>
								<integer>339587</integer>
							</dict>
							<key>files/stacks-image-a0c9938-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								+9qPfPvDFaVC
								lDF0ikR3Dw==
								</data>
								<key>Size</key>
								<integer>21308</integer>
							</dict>
							<key>files/stacks-image-a4b77ae-350x375.png</key>
							<dict>
								<key>Digest</key>
								<data>
								LZv4DMej64SX
								MbLEHCTVEw==
								</data>
								<key>Size</key>
								<integer>129527</integer>
							</dict>
							<key>files/stacks-image-a4b77ae-350x375@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Tu0JMz7s2v5B
								ogb1V+xOlw==
								</data>
								<key>Size</key>
								<integer>477959</integer>
							</dict>
							<key>files/stacks-image-ae80aa8-250x82.png</key>
							<dict>
								<key>Digest</key>
								<data>
								RkkqryPTGoE/
								j06LFQTwkQ==
								</data>
								<key>Size</key>
								<integer>14739</integer>
							</dict>
							<key>files/stacks-image-bce74cf-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								rIsBSPXIJg9o
								JpYbQc66tQ==
								</data>
								<key>Size</key>
								<integer>35003</integer>
							</dict>
							<key>files/stacks-image-bded2de-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								GFmuIpFOOBIH
								etd5uUV0Pw==
								</data>
								<key>Size</key>
								<integer>30136</integer>
							</dict>
							<key>files/stacks-image-bded2de-350x375@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								LVbyvasYrV91
								Rc5zjmtsSw==
								</data>
								<key>Size</key>
								<integer>52151</integer>
							</dict>
							<key>files/stacks-image-bf17dfe-700x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Yy1aWDvV+utD
								fj+8Mokh9A==
								</data>
								<key>Size</key>
								<integer>90490</integer>
							</dict>
							<key>files/stacks-image-c6fac6f-700x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								WFzuxAeQXtJT
								2StC5DbNvw==
								</data>
								<key>Size</key>
								<integer>84706</integer>
							</dict>
							<key>files/stacks-image-e5e8064-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								4+MD2lluE/v8
								P3P4cYsfGg==
								</data>
								<key>Size</key>
								<integer>30647</integer>
							</dict>
							<key>files/stacks-image-e5e8064-350x375@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								JyszyP6C4FQg
								UIxslUmduw==
								</data>
								<key>Size</key>
								<integer>48100</integer>
							</dict>
							<key>files/stacks-image-eb41103.png</key>
							<dict>
								<key>Digest</key>
								<data>
								TtBSlYnCR35b
								mXgxzoVV0g==
								</data>
								<key>Size</key>
								<integer>511231</integer>
							</dict>
							<key>files/stacks-image-f39249a-1200x900.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								uQPBzkerZ3yf
								AKih3wOo4A==
								</data>
								<key>Size</key>
								<integer>275910</integer>
							</dict>
							<key>files/stacks-image-f39249a-1200x900@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								1XUEj5zX7klL
								ueUBkeYxJA==
								</data>
								<key>Size</key>
								<integer>421454</integer>
							</dict>
							<key>files/stacks-image-f9056c6-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								FkA9v/PoA28I
								V57P/MIy9A==
								</data>
								<key>Size</key>
								<integer>25454</integer>
							</dict>
							<key>files/stacks-image-f9e98ca.png</key>
							<dict>
								<key>Digest</key>
								<data>
								t6NqD4BKfum7
								w6sBxo56PA==
								</data>
								<key>Size</key>
								<integer>15236</integer>
							</dict>
							<key>files/stacks_page_page55.css</key>
							<dict>
								<key>Digest</key>
								<data>
								qInlIkBlM7Uc
								aZTKIjlDBw==
								</data>
								<key>Size</key>
								<integer>691049</integer>
							</dict>
							<key>files/stacks_page_page55.js</key>
							<dict>
								<key>Digest</key>
								<data>
								q/j6iPbY1K/M
								dP1vFOTVvw==
								</data>
								<key>Size</key>
								<integer>44771</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								Fo2ZvVm0QuTN
								xaJEFMUvSA==
								</data>
								<key>Size</key>
								<integer>545444</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page55</string>
						<key>SiteRoot</key>
						<string>events/netsci/schedule</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
