<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page71</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Science Olympiad</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.6.6</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-06-12T14:46:24Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/backgroundImage_110288.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								qwn87Felf5V6
								j6H350OiZw==
								</data>
								<key>Size</key>
								<integer>15641164</integer>
							</dict>
							<key>files/stacks-image-0e16e70.png</key>
							<dict>
								<key>Digest</key>
								<data>
								yQKbGc3OVVx7
								Hyc5LZhQmg==
								</data>
								<key>Size</key>
								<integer>211846</integer>
							</dict>
							<key>files/stacks-image-15b4624.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JhAsjOQ7tKky
								gdg1ejJP2A==
								</data>
								<key>Size</key>
								<integer>164256</integer>
							</dict>
							<key>files/stacks-image-171fde8.png</key>
							<dict>
								<key>Digest</key>
								<data>
								YqTQrVDMYJWh
								nZj4zvtxlw==
								</data>
								<key>Size</key>
								<integer>217574</integer>
							</dict>
							<key>files/stacks-image-1e5d8e5.png</key>
							<dict>
								<key>Digest</key>
								<data>
								85Gr4FOZYTLa
								XJOSdpqNjw==
								</data>
								<key>Size</key>
								<integer>170207</integer>
							</dict>
							<key>files/stacks-image-2871e45.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Ama0oRTfYPxV
								y2YjCpO9Sg==
								</data>
								<key>Size</key>
								<integer>218359</integer>
							</dict>
							<key>files/stacks-image-3043393.png</key>
							<dict>
								<key>Digest</key>
								<data>
								3OPH591HKi3s
								D2D5Tyk4Ww==
								</data>
								<key>Size</key>
								<integer>175291</integer>
							</dict>
							<key>files/stacks-image-47dbc1f.png</key>
							<dict>
								<key>Digest</key>
								<data>
								5ZQBcoWh/Pfa
								MifFgrt2PQ==
								</data>
								<key>Size</key>
								<integer>215026</integer>
							</dict>
							<key>files/stacks-image-4aa612e.png</key>
							<dict>
								<key>Digest</key>
								<data>
								luJUBt5dJNk/
								CFO+FB6gZg==
								</data>
								<key>Size</key>
								<integer>207656</integer>
							</dict>
							<key>files/stacks-image-5ac1d29.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Q7wI3bwaVj3X
								5fl9neoclQ==
								</data>
								<key>Size</key>
								<integer>206453</integer>
							</dict>
							<key>files/stacks-image-5b473eb.png</key>
							<dict>
								<key>Digest</key>
								<data>
								UzyTZUovKviL
								lIuAG6kq9g==
								</data>
								<key>Size</key>
								<integer>229138</integer>
							</dict>
							<key>files/stacks-image-5f3f52d.png</key>
							<dict>
								<key>Digest</key>
								<data>
								177jl4LkQg5Z
								X+7KLvWKbg==
								</data>
								<key>Size</key>
								<integer>214653</integer>
							</dict>
							<key>files/stacks-image-6338d0f.png</key>
							<dict>
								<key>Digest</key>
								<data>
								RJTX5LC+vcD5
								TI7NklC55w==
								</data>
								<key>Size</key>
								<integer>184229</integer>
							</dict>
							<key>files/stacks-image-67d0f14-248x224.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								+HfMeHtXVoEn
								/nGTZRuOPQ==
								</data>
								<key>Size</key>
								<integer>18319</integer>
							</dict>
							<key>files/stacks-image-6a15205.png</key>
							<dict>
								<key>Digest</key>
								<data>
								2dvEc0qVn9Up
								sFpcCiyWRg==
								</data>
								<key>Size</key>
								<integer>204399</integer>
							</dict>
							<key>files/stacks-image-6a1a875.png</key>
							<dict>
								<key>Digest</key>
								<data>
								0rTPT03tcmG/
								VsGjdHkCQQ==
								</data>
								<key>Size</key>
								<integer>202028</integer>
							</dict>
							<key>files/stacks-image-6ea3a3d.png</key>
							<dict>
								<key>Digest</key>
								<data>
								YAUsH7tsVCYN
								zFNPggWSBg==
								</data>
								<key>Size</key>
								<integer>132499</integer>
							</dict>
							<key>files/stacks-image-6ed6300.png</key>
							<dict>
								<key>Digest</key>
								<data>
								7k9rCxd+XAQX
								Ld2ZbsKPeA==
								</data>
								<key>Size</key>
								<integer>224295</integer>
							</dict>
							<key>files/stacks-image-6fdef3a-398x292.png</key>
							<dict>
								<key>Digest</key>
								<data>
								H6KpkblKsWji
								NCljG2gZXA==
								</data>
								<key>Size</key>
								<integer>34040</integer>
							</dict>
							<key>files/stacks-image-77e58ea-250x374.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								+xmSWNmMkHdI
								mNQC9iDhwQ==
								</data>
								<key>Size</key>
								<integer>26705</integer>
							</dict>
							<key>files/stacks-image-781dab8.png</key>
							<dict>
								<key>Digest</key>
								<data>
								k+dyrXyGQUbA
								DoWR3eGH6g==
								</data>
								<key>Size</key>
								<integer>201644</integer>
							</dict>
							<key>files/stacks-image-80dee05.png</key>
							<dict>
								<key>Digest</key>
								<data>
								4NeBjMYbgLK6
								H/ShYNJ8fA==
								</data>
								<key>Size</key>
								<integer>216328</integer>
							</dict>
							<key>files/stacks-image-8432d09.png</key>
							<dict>
								<key>Digest</key>
								<data>
								4sXHczJnCvPQ
								Fbhtdl7C9Q==
								</data>
								<key>Size</key>
								<integer>141021</integer>
							</dict>
							<key>files/stacks-image-91b2db6.png</key>
							<dict>
								<key>Digest</key>
								<data>
								vXTPBvTWuINU
								JVyLvReYJQ==
								</data>
								<key>Size</key>
								<integer>24996</integer>
							</dict>
							<key>files/stacks-image-979afc6.png</key>
							<dict>
								<key>Digest</key>
								<data>
								08+3XLA+k5pE
								R0ly4rRbVA==
								</data>
								<key>Size</key>
								<integer>87706</integer>
							</dict>
							<key>files/stacks-image-9b8acf7.png</key>
							<dict>
								<key>Digest</key>
								<data>
								llDGEwFstjGD
								i9PT36L+4Q==
								</data>
								<key>Size</key>
								<integer>125373</integer>
							</dict>
							<key>files/stacks-image-9e289bc.png</key>
							<dict>
								<key>Digest</key>
								<data>
								k8dN7j+Gnwyn
								9yDdhhiauQ==
								</data>
								<key>Size</key>
								<integer>192744</integer>
							</dict>
							<key>files/stacks-image-a300915.png</key>
							<dict>
								<key>Digest</key>
								<data>
								5Js9JiL8kHNg
								W5qdknK7WQ==
								</data>
								<key>Size</key>
								<integer>58728</integer>
							</dict>
							<key>files/stacks-image-a751a5d.png</key>
							<dict>
								<key>Digest</key>
								<data>
								vumzubOTsx9v
								BBy5xiivxw==
								</data>
								<key>Size</key>
								<integer>143337</integer>
							</dict>
							<key>files/stacks-image-a8e04b3.png</key>
							<dict>
								<key>Digest</key>
								<data>
								kGblQWXDY07d
								CGXq4fc1WQ==
								</data>
								<key>Size</key>
								<integer>165857</integer>
							</dict>
							<key>files/stacks-image-a957c9e.png</key>
							<dict>
								<key>Digest</key>
								<data>
								PnGM3eJQoxtk
								6kf93F8JOg==
								</data>
								<key>Size</key>
								<integer>224175</integer>
							</dict>
							<key>files/stacks-image-aa89d24-250x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								nBfn4MHXFuiU
								u7PUaO/2Fg==
								</data>
								<key>Size</key>
								<integer>12461</integer>
							</dict>
							<key>files/stacks-image-b6ebf51.png</key>
							<dict>
								<key>Digest</key>
								<data>
								gSJopWt5LZ5j
								dutssFd3CQ==
								</data>
								<key>Size</key>
								<integer>218939</integer>
							</dict>
							<key>files/stacks-image-d0bd460.png</key>
							<dict>
								<key>Digest</key>
								<data>
								UCkE0YgTNSHl
								rCddf0t4Dw==
								</data>
								<key>Size</key>
								<integer>163226</integer>
							</dict>
							<key>files/stacks-image-d3167b3.png</key>
							<dict>
								<key>Digest</key>
								<data>
								UuZBCk1qCNDH
								5LUicfs8VQ==
								</data>
								<key>Size</key>
								<integer>25026</integer>
							</dict>
							<key>files/stacks-image-d3a016c.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Yphuh08hlcBW
								A1Pp6Usv2Q==
								</data>
								<key>Size</key>
								<integer>127636</integer>
							</dict>
							<key>files/stacks-image-dbbc630.png</key>
							<dict>
								<key>Digest</key>
								<data>
								2gU38jqhiU04
								rGlJcMOVKQ==
								</data>
								<key>Size</key>
								<integer>26268</integer>
							</dict>
							<key>files/stacks-image-f25a4cf.png</key>
							<dict>
								<key>Digest</key>
								<data>
								fIBskUaIvebA
								Oi2r5f4wuQ==
								</data>
								<key>Size</key>
								<integer>26921</integer>
							</dict>
							<key>files/stacks_page_page71.css</key>
							<dict>
								<key>Digest</key>
								<data>
								pIeX4FQNCvmn
								UVwEbytajg==
								</data>
								<key>Size</key>
								<integer>112894</integer>
							</dict>
							<key>files/stacks_page_page71.js</key>
							<dict>
								<key>Digest</key>
								<data>
								QikvBTK0NKr0
								zfj04YNdPg==
								</data>
								<key>Size</key>
								<integer>21087</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								0AQ2Lrk6E24r
								jkMVIYwyEg==
								</data>
								<key>Size</key>
								<integer>69767</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page71</string>
						<key>SiteRoot</key>
						<string>events/vt-science-olympiad</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
