<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page45</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Community Lectures</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.5.7</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2018-03-06T18:44:30Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZFHf9zniv4SK
								z9ywIWAR7Q==
								</data>
								<key>Size</key>
								<integer>124861</integer>
							</dict>
							<key>files/small_p60311_n109628.png</key>
							<dict>
								<key>Digest</key>
								<data>
								pcpK3KZBcBVd
								Ns6QdrLpNA==
								</data>
								<key>Size</key>
								<integer>68548</integer>
							</dict>
							<key>files/stacks-image-26fa0d2-266x398.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								nC2uMUbCLs0f
								Xmr/yfPnJA==
								</data>
								<key>Size</key>
								<integer>27261</integer>
							</dict>
							<key>files/stacks-image-26fa0d2-266x398@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								+LSGArJQmWv0
								Qlr08PgUtg==
								</data>
								<key>Size</key>
								<integer>41499</integer>
							</dict>
							<key>files/stacks-image-db6e3e4.png</key>
							<dict>
								<key>Digest</key>
								<data>
								BZlctRzG691v
								TJrEhyWB/A==
								</data>
								<key>Size</key>
								<integer>138820</integer>
							</dict>
							<key>files/stacks-image-e2bfe08-248x374.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								1Ug85H9RcAb3
								BD5SHznB9w==
								</data>
								<key>Size</key>
								<integer>21856</integer>
							</dict>
							<key>files/stacks-image-e2bfe08-248x374@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								LUC1K2Yo0FoJ
								T/Dqe9rAxg==
								</data>
								<key>Size</key>
								<integer>33807</integer>
							</dict>
							<key>files/stacks_page_page45.css</key>
							<dict>
								<key>Digest</key>
								<data>
								nAEB4IchyZLO
								W+NrGvXdfA==
								</data>
								<key>Size</key>
								<integer>127048</integer>
							</dict>
							<key>files/stacks_page_page45.js</key>
							<dict>
								<key>Digest</key>
								<data>
								6vGSgmAHC3zT
								1OCJEteo4Q==
								</data>
								<key>Size</key>
								<integer>27447</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								dKfr5ZgH5KPh
								cLbZZoNWPg==
								</data>
								<key>Size</key>
								<integer>41331</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page45</string>
						<key>SiteRoot</key>
						<string>education/events/community-lectures</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
