<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page83</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Scartch page</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.0.3</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-11-20T23:13:43Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small_109872.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Yb+L/heiX6tP
								YliFF2auMA==
								</data>
								<key>Size</key>
								<integer>269913</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/small_p60311_n109710.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JfxF8Omi0icK
								xIwohpIZqw==
								</data>
								<key>Size</key>
								<integer>77487</integer>
							</dict>
							<key>files/small_p60311_n109714.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2NMhf1k+YDl
								uPpd6H1dBw==
								</data>
								<key>Size</key>
								<integer>15019</integer>
							</dict>
							<key>files/small_p60311_n109735.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D2nm4R7babci
								2M5NjfUDZQ==
								</data>
								<key>Size</key>
								<integer>18925</integer>
							</dict>
							<key>files/small_p60311_n109736.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgRiuB3NhhIh
								SwZTifI18g==
								</data>
								<key>Size</key>
								<integer>21987</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								C82d5dfws9q4
								DDOA2BFu1w==
								</data>
								<key>Size</key>
								<integer>35273</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								v/SijtX2gRco
								SwESRI9B4g==
								</data>
								<key>Size</key>
								<integer>68378</integer>
							</dict>
							<key>files/stacks-image-10532b8-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								/MJOmcRAEtB1
								b59CueUYEQ==
								</data>
								<key>Size</key>
								<integer>97322</integer>
							</dict>
							<key>files/stacks-image-10532b8-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								+8TZpm/XAZ3G
								kCHZhXRsCQ==
								</data>
								<key>Size</key>
								<integer>320764</integer>
							</dict>
							<key>files/stacks-image-17fd2ba-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								tlTeUnZ87T3w
								AlS32p5ERQ==
								</data>
								<key>Size</key>
								<integer>88398</integer>
							</dict>
							<key>files/stacks-image-17fd2ba-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								gnwysnUsFZBB
								r0ccp4A/tQ==
								</data>
								<key>Size</key>
								<integer>321308</integer>
							</dict>
							<key>files/stacks-image-1aebfb5-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								GIMg2GjIGTIf
								NrJ6zB/Idw==
								</data>
								<key>Size</key>
								<integer>94369</integer>
							</dict>
							<key>files/stacks-image-1aebfb5-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								PvQDFFUiSyri
								9tOuNhG9Ug==
								</data>
								<key>Size</key>
								<integer>335685</integer>
							</dict>
							<key>files/stacks-image-1e491bc-300x256.png</key>
							<dict>
								<key>Digest</key>
								<data>
								hJdXW8Fke8Bd
								p44ZHKSGOA==
								</data>
								<key>Size</key>
								<integer>68235</integer>
							</dict>
							<key>files/stacks-image-1e491bc-300x256@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								uPXK6QU7sDTC
								1m8aRu4ySA==
								</data>
								<key>Size</key>
								<integer>223270</integer>
							</dict>
							<key>files/stacks-image-24a754b-250x254.png</key>
							<dict>
								<key>Digest</key>
								<data>
								n3P0vD/El6RJ
								mszvlO//Wg==
								</data>
								<key>Size</key>
								<integer>86699</integer>
							</dict>
							<key>files/stacks-image-25ae135-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								NnzetadtGlpE
								d7KzCCgHag==
								</data>
								<key>Size</key>
								<integer>110063</integer>
							</dict>
							<key>files/stacks-image-25ae135-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								h6dKrrkEC65A
								QP/SdR8a9w==
								</data>
								<key>Size</key>
								<integer>379926</integer>
							</dict>
							<key>files/stacks-image-2d02c4e-1200x284.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ZnS9uIE/AAFz
								kvN765DL1A==
								</data>
								<key>Size</key>
								<integer>79476</integer>
							</dict>
							<key>files/stacks-image-2d02c4e-1200x284@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								J8qmynV14aw7
								mRYNoZjFLA==
								</data>
								<key>Size</key>
								<integer>134356</integer>
							</dict>
							<key>files/stacks-image-3dfae34-300x218.png</key>
							<dict>
								<key>Digest</key>
								<data>
								o5g4g+Rs8tCY
								zXKpfndT1w==
								</data>
								<key>Size</key>
								<integer>18405</integer>
							</dict>
							<key>files/stacks-image-3dfae34-300x218@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								NFCJgNARSz8C
								wZM/qwlryA==
								</data>
								<key>Size</key>
								<integer>40907</integer>
							</dict>
							<key>files/stacks-image-45fda98-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								gfmlJs8sHFCK
								GC2rixViBA==
								</data>
								<key>Size</key>
								<integer>105296</integer>
							</dict>
							<key>files/stacks-image-45fda98-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								2gyAxNgMDgnB
								SknidQhx7g==
								</data>
								<key>Size</key>
								<integer>401670</integer>
							</dict>
							<key>files/stacks-image-48ee80b-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								5mPElWICRCKo
								HLa3qjUAXA==
								</data>
								<key>Size</key>
								<integer>90659</integer>
							</dict>
							<key>files/stacks-image-48ee80b-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								s78jzIMpOKCM
								dIK+xqFoCA==
								</data>
								<key>Size</key>
								<integer>336917</integer>
							</dict>
							<key>files/stacks-image-4d44245-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								hltTSwqPaJ1n
								YDvsSxG7pw==
								</data>
								<key>Size</key>
								<integer>67289</integer>
							</dict>
							<key>files/stacks-image-55f5c6b-298x58.png</key>
							<dict>
								<key>Digest</key>
								<data>
								LZRW3bhDOcY3
								DR5lXpLKLQ==
								</data>
								<key>Size</key>
								<integer>14888</integer>
							</dict>
							<key>files/stacks-image-5e1ff49-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zj0Pfe90bxN3
								+aFec4Jj4A==
								</data>
								<key>Size</key>
								<integer>79112</integer>
							</dict>
							<key>files/stacks-image-6a176f2.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								QqZb7VYPgF3P
								tZSj/BjKEg==
								</data>
								<key>Size</key>
								<integer>229581</integer>
							</dict>
							<key>files/stacks-image-8974712-1200x276.png</key>
							<dict>
								<key>Digest</key>
								<data>
								2WjHsIpbXH7d
								UFzjUIJ+AQ==
								</data>
								<key>Size</key>
								<integer>157821</integer>
							</dict>
							<key>files/stacks-image-a63dce2-1200x796.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								eqvKEpNItMc4
								mmHAOluF6g==
								</data>
								<key>Size</key>
								<integer>369683</integer>
							</dict>
							<key>files/stacks-image-a63dce2-1200x796@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								A2W6hoa43xCc
								PyY6xkPeNw==
								</data>
								<key>Size</key>
								<integer>653725</integer>
							</dict>
							<key>files/stacks-image-abaa395-448x388.png</key>
							<dict>
								<key>Digest</key>
								<data>
								wcLRUUIaDebo
								lbufnhftgQ==
								</data>
								<key>Size</key>
								<integer>90119</integer>
							</dict>
							<key>files/stacks-image-abaa395-448x388@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								hX2JjzLBZIOE
								ekFkQjV30Q==
								</data>
								<key>Size</key>
								<integer>215476</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								l/jholAihVDN
								ItGk0OiREg==
								</data>
								<key>Size</key>
								<integer>100747</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								pkyMF38YLsqJ
								SbfWoDadPg==
								</data>
								<key>Size</key>
								<integer>353247</integer>
							</dict>
							<key>files/stacks-image-cd71898-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								IOG4Q/3ekdoZ
								qBpkdiuJQg==
								</data>
								<key>Size</key>
								<integer>92701</integer>
							</dict>
							<key>files/stacks-image-d36e992-250x322.png</key>
							<dict>
								<key>Digest</key>
								<data>
								qF/3iBtBHFZy
								eFRD15Sjhw==
								</data>
								<key>Size</key>
								<integer>125558</integer>
							</dict>
							<key>files/stacks-image-e712d99-98x98.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								+CTGf33H6gpC
								aWRXrwnVTA==
								</data>
								<key>Size</key>
								<integer>6249</integer>
							</dict>
							<key>files/stacks-image-e712d99-98x98@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								zPgYo7Si84CK
								UNvee6+CfQ==
								</data>
								<key>Size</key>
								<integer>7764</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								IcJyU76V543g
								RUdnIXKzHw==
								</data>
								<key>Size</key>
								<integer>19481</integer>
							</dict>
							<key>files/stacks-image-faf7292-250x374.png</key>
							<dict>
								<key>Digest</key>
								<data>
								OONYa55gMmmT
								z5PWqRHO9A==
								</data>
								<key>Size</key>
								<integer>97610</integer>
							</dict>
							<key>files/stacks-image-fecc660-98x150.png</key>
							<dict>
								<key>Digest</key>
								<data>
								41j9W6yJSrrD
								ImPwzmzEPQ==
								</data>
								<key>Size</key>
								<integer>12664</integer>
							</dict>
							<key>files/stacks_page_page83.css</key>
							<dict>
								<key>Digest</key>
								<data>
								AjBaIy8kHjYc
								BUtQw4eyeQ==
								</data>
								<key>Size</key>
								<integer>183390</integer>
							</dict>
							<key>files/stacks_page_page83.js</key>
							<dict>
								<key>Digest</key>
								<data>
								q4G4bSRJcgtZ
								/9WwJHzVgQ==
								</data>
								<key>Size</key>
								<integer>24251</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								24yp3p0ZFkNj
								szmrGuth0Q==
								</data>
								<key>Size</key>
								<integer>147649</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page83</string>
						<key>SiteRoot</key>
						<string>events/cnww/page-6</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
