<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:31Z</date>
				<key>ID</key>
				<string>page60</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Events Calendar</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.6.5</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2018-11-26T02:13:00Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small_525314.png</key>
							<dict>
								<key>Digest</key>
								<data>
								u2w2yG/YQ6pL
								1p+apVl5/w==
								</data>
								<key>Size</key>
								<integer>25244</integer>
							</dict>
							<key>files/small_525346.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Yb+L/heiX6tP
								YliFF2auMA==
								</data>
								<key>Size</key>
								<integer>269913</integer>
							</dict>
							<key>files/small_525370.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ICYi4Z+nlMU5
								ZJ5jWAVsyg==
								</data>
								<key>Size</key>
								<integer>170336</integer>
							</dict>
							<key>files/small_525392.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								WH6KVJtESc55
								UPLBdfd4OA==
								</data>
								<key>Size</key>
								<integer>53326</integer>
							</dict>
							<key>files/small_525407.png</key>
							<dict>
								<key>Digest</key>
								<data>
								u2w2yG/YQ6pL
								1p+apVl5/w==
								</data>
								<key>Size</key>
								<integer>25244</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZFHf9zniv4SK
								z9ywIWAR7Q==
								</data>
								<key>Size</key>
								<integer>124861</integer>
							</dict>
							<key>files/stacks-image-50acd30-500x428.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								62fzR4BV8IeW
								g+4JD74Z/Q==
								</data>
								<key>Size</key>
								<integer>45578</integer>
							</dict>
							<key>files/stacks-image-50acd30-500x428@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								H8N3C4foo14j
								ceJ3KiLEqA==
								</data>
								<key>Size</key>
								<integer>78092</integer>
							</dict>
							<key>files/stacks-image-580baf6-248x248.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								OGSW8MSxffNf
								eqQN8VH97Q==
								</data>
								<key>Size</key>
								<integer>13349</integer>
							</dict>
							<key>files/stacks-image-90966db-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								YpjTgVVBaf31
								xzRYJpWpzQ==
								</data>
								<key>Size</key>
								<integer>21870</integer>
							</dict>
							<key>files/stacks_page_page60.css</key>
							<dict>
								<key>Digest</key>
								<data>
								Yfd+wykyj0HQ
								AIwF2BC3Pw==
								</data>
								<key>Size</key>
								<integer>121504</integer>
							</dict>
							<key>files/stacks_page_page60.js</key>
							<dict>
								<key>Digest</key>
								<data>
								FoT+TJHITszU
								7jgRVicdRg==
								</data>
								<key>Size</key>
								<integer>24349</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								l7qjc7wG8234
								RpnEh8mZHw==
								</data>
								<key>Size</key>
								<integer>59133</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page60</string>
						<key>SiteRoot</key>
						<string>events/eventscal</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
