<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page35</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Symposium - Science of stories</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.6.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2018-10-29T17:24:30Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/backgroundImage_110165.png</key>
							<dict>
								<key>Digest</key>
								<data>
								m4SIJWUYoI1W
								Jj7AajYAuA==
								</data>
								<key>Size</key>
								<integer>91721</integer>
							</dict>
							<key>files/small_109872.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Yb+L/heiX6tP
								YliFF2auMA==
								</data>
								<key>Size</key>
								<integer>269913</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZFHf9zniv4SK
								z9ywIWAR7Q==
								</data>
								<key>Size</key>
								<integer>124861</integer>
							</dict>
							<key>files/stacks-image-04756dc-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								RaRxWyGNHZE/
								Z8mvH0nK2Q==
								</data>
								<key>Size</key>
								<integer>103501</integer>
							</dict>
							<key>files/stacks-image-173d8dd-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								OaGHwJMb0CQO
								l31iZiWLAw==
								</data>
								<key>Size</key>
								<integer>107177</integer>
							</dict>
							<key>files/stacks-image-19cb322-250x256.png</key>
							<dict>
								<key>Digest</key>
								<data>
								pH98zi+5WC+Q
								7OogMuJz4w==
								</data>
								<key>Size</key>
								<integer>98882</integer>
							</dict>
							<key>files/stacks-image-1aebfb5-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								+izhYKYrLWD4
								lK4RNUA97Q==
								</data>
								<key>Size</key>
								<integer>94301</integer>
							</dict>
							<key>files/stacks-image-1aebfb5-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								J6OHZRoZ633w
								4PBLPHS8EQ==
								</data>
								<key>Size</key>
								<integer>335617</integer>
							</dict>
							<key>files/stacks-image-1b7cfd7-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								BhVU0Q7P84+X
								H770RqjyeA==
								</data>
								<key>Size</key>
								<integer>83754</integer>
							</dict>
							<key>files/stacks-image-1cd049f-250x256.png</key>
							<dict>
								<key>Digest</key>
								<data>
								OJKlYaKdRZ0u
								tix9ehWM+g==
								</data>
								<key>Size</key>
								<integer>105941</integer>
							</dict>
							<key>files/stacks-image-22d1215-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								BhVU0Q7P84+X
								H770RqjyeA==
								</data>
								<key>Size</key>
								<integer>83754</integer>
							</dict>
							<key>files/stacks-image-3b3cfea-261x251.png</key>
							<dict>
								<key>Digest</key>
								<data>
								7NAhtclC1l4f
								mUDVf7XpTA==
								</data>
								<key>Size</key>
								<integer>70228</integer>
							</dict>
							<key>files/stacks-image-40a568b-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								tsfg55d5nVX+
								Deg4bfAGaw==
								</data>
								<key>Size</key>
								<integer>93315</integer>
							</dict>
							<key>files/stacks-image-4935364-261x251.png</key>
							<dict>
								<key>Digest</key>
								<data>
								433y54/c96pw
								UlrVqSrWOg==
								</data>
								<key>Size</key>
								<integer>126699</integer>
							</dict>
							<key>files/stacks-image-4935364-261x251@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zGuadodtcX/a
								VX7VUe4IGQ==
								</data>
								<key>Size</key>
								<integer>462242</integer>
							</dict>
							<key>files/stacks-image-4df5cda.png</key>
							<dict>
								<key>Digest</key>
								<data>
								YgptBbFzQoqL
								rKiDtkMUPg==
								</data>
								<key>Size</key>
								<integer>107302</integer>
							</dict>
							<key>files/stacks-image-580baf6-248x248.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								yZQqhuEMgia3
								owVDiEQk8g==
								</data>
								<key>Size</key>
								<integer>13322</integer>
							</dict>
							<key>files/stacks-image-6efad1d-250x256.png</key>
							<dict>
								<key>Digest</key>
								<data>
								KErDUt1PyYSN
								LdlG1zdJ6A==
								</data>
								<key>Size</key>
								<integer>117233</integer>
							</dict>
							<key>files/stacks-image-79e9ee7.png</key>
							<dict>
								<key>Digest</key>
								<data>
								chmdSR2cEweM
								Eplrb+Djnw==
								</data>
								<key>Size</key>
								<integer>94289</integer>
							</dict>
							<key>files/stacks-image-8364b1f-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								q21rUqO1nyTM
								GcHTPF2Hsw==
								</data>
								<key>Size</key>
								<integer>82404</integer>
							</dict>
							<key>files/stacks-image-8364b1f-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MAp2icLnugA9
								ZpmJ1sHzjQ==
								</data>
								<key>Size</key>
								<integer>279183</integer>
							</dict>
							<key>files/stacks-image-8387376-251x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								OCwgOx4YiDCq
								ykDn2/s5Aw==
								</data>
								<key>Size</key>
								<integer>92260</integer>
							</dict>
							<key>files/stacks-image-8387376-251x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								mW5RIOHNHBQn
								NSNlddqIgA==
								</data>
								<key>Size</key>
								<integer>328734</integer>
							</dict>
							<key>files/stacks-image-90966db-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								kcVxqK0Y23YI
								Ns11kdYJ6w==
								</data>
								<key>Size</key>
								<integer>21714</integer>
							</dict>
							<key>files/stacks-image-9268316-254x307.png</key>
							<dict>
								<key>Digest</key>
								<data>
								oi+lOrWpiFhN
								0dbX6rv6gg==
								</data>
								<key>Size</key>
								<integer>102372</integer>
							</dict>
							<key>files/stacks-image-9399623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								wR0JgUS1XI1O
								VhaAJs6dNw==
								</data>
								<key>Size</key>
								<integer>66878</integer>
							</dict>
							<key>files/stacks-image-95b64f0-259x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Q73xjM0EbJ9x
								8c1YJq32Ng==
								</data>
								<key>Size</key>
								<integer>108719</integer>
							</dict>
							<key>files/stacks-image-9b65a45-261x251.png</key>
							<dict>
								<key>Digest</key>
								<data>
								1vX9EDEsPa8U
								ZXxUIem80Q==
								</data>
								<key>Size</key>
								<integer>101054</integer>
							</dict>
							<key>files/stacks-image-a4d3338-1198x798.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ZICvyrXh8/t7
								EJ4s8DeywQ==
								</data>
								<key>Size</key>
								<integer>552920</integer>
							</dict>
							<key>files/stacks-image-b5d4a25-261x251.png</key>
							<dict>
								<key>Digest</key>
								<data>
								WDEiDBi0AYVZ
								1ISLMO5f2Q==
								</data>
								<key>Size</key>
								<integer>103834</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x256.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JpnvK7gEvU8z
								ogK+AZywDQ==
								</data>
								<key>Size</key>
								<integer>100546</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x256@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								tUb9izpg3+Mg
								UujMLs2png==
								</data>
								<key>Size</key>
								<integer>352722</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								nlKP5a7IuNYc
								laKH9nPmag==
								</data>
								<key>Size</key>
								<integer>100679</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								jOEZ4E0dcsFS
								fS+cc4Xm9Q==
								</data>
								<key>Size</key>
								<integer>353179</integer>
							</dict>
							<key>files/stacks-image-c9f8f3e-300x168.png</key>
							<dict>
								<key>Digest</key>
								<data>
								QHJayImwvTjH
								KIxXk2nyPw==
								</data>
								<key>Size</key>
								<integer>37174</integer>
							</dict>
							<key>files/stacks-image-e4ff3fb-250x72.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MtQWetwdkgWY
								jY94kdahMQ==
								</data>
								<key>Size</key>
								<integer>11238</integer>
							</dict>
							<key>files/stacks-image-e4ff3fb-250x72@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								dIUiaJ29JRMP
								XZYoYfaydg==
								</data>
								<key>Size</key>
								<integer>25072</integer>
							</dict>
							<key>files/stacks-image-fedaa0e-259x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								uIDkGBZBZaz6
								GYjgPAE+Yw==
								</data>
								<key>Size</key>
								<integer>105946</integer>
							</dict>
							<key>files/stacks-image-fedaa0e-261x251.png</key>
							<dict>
								<key>Digest</key>
								<data>
								J9zymB08sPJk
								Fs0pAhnp3A==
								</data>
								<key>Size</key>
								<integer>106214</integer>
							</dict>
							<key>files/stacks_page_page35.css</key>
							<dict>
								<key>Digest</key>
								<data>
								3dQNywK0qHW7
								Wp2v45JLew==
								</data>
								<key>Size</key>
								<integer>206039</integer>
							</dict>
							<key>files/stacks_page_page35.js</key>
							<dict>
								<key>Digest</key>
								<data>
								ONNOg5fnDv7A
								4jCOkUqFLg==
								</data>
								<key>Size</key>
								<integer>27261</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								+rmYdpRyJ8Sq
								Yko+tBfodQ==
								</data>
								<key>Size</key>
								<integer>151547</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page35</string>
						<key>SiteRoot</key>
						<string>events/science-of-stories</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>ChildPages</string>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
