<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page35</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Symposium - Science of stories</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.6.1</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2018-07-23T17:07:17Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/backgroundImage_110165.png</key>
							<dict>
								<key>Digest</key>
								<data>
								m4SIJWUYoI1W
								Jj7AajYAuA==
								</data>
								<key>Size</key>
								<integer>91721</integer>
							</dict>
							<key>files/small_109872.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Yb+L/heiX6tP
								YliFF2auMA==
								</data>
								<key>Size</key>
								<integer>269913</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZFHf9zniv4SK
								z9ywIWAR7Q==
								</data>
								<key>Size</key>
								<integer>124861</integer>
							</dict>
							<key>files/small_p60311_n109628.png</key>
							<dict>
								<key>Digest</key>
								<data>
								pcpK3KZBcBVd
								Ns6QdrLpNA==
								</data>
								<key>Size</key>
								<integer>68548</integer>
							</dict>
							<key>files/stacks-image-04756dc-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								qAh+qbptlqDh
								13HUcV/6Og==
								</data>
								<key>Size</key>
								<integer>103135</integer>
							</dict>
							<key>files/stacks-image-1aebfb5-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Er/+pE7hNNIn
								W7FQzXekEQ==
								</data>
								<key>Size</key>
								<integer>94699</integer>
							</dict>
							<key>files/stacks-image-1aebfb5-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								5xACEUvkvEwz
								VJnG6F3YxQ==
								</data>
								<key>Size</key>
								<integer>337058</integer>
							</dict>
							<key>files/stacks-image-1b7cfd7-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								6850vL6xR3zu
								I585rDTQ9A==
								</data>
								<key>Size</key>
								<integer>83796</integer>
							</dict>
							<key>files/stacks-image-1cd049f-250x256.png</key>
							<dict>
								<key>Digest</key>
								<data>
								jDouJEb5UOgP
								r0dDWJlwxQ==
								</data>
								<key>Size</key>
								<integer>105930</integer>
							</dict>
							<key>files/stacks-image-22d1215-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								6850vL6xR3zu
								I585rDTQ9A==
								</data>
								<key>Size</key>
								<integer>83796</integer>
							</dict>
							<key>files/stacks-image-4935364-261x251.png</key>
							<dict>
								<key>Digest</key>
								<data>
								pUhB5Fqnu3YS
								YA9dT+6AqA==
								</data>
								<key>Size</key>
								<integer>126611</integer>
							</dict>
							<key>files/stacks-image-4935364-261x251@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								qhWr5oOEZqif
								DGH4sagTCw==
								</data>
								<key>Size</key>
								<integer>462108</integer>
							</dict>
							<key>files/stacks-image-8364b1f-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								54Pi3j6G6/2E
								lZMvrz7LCQ==
								</data>
								<key>Size</key>
								<integer>82434</integer>
							</dict>
							<key>files/stacks-image-8364b1f-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								jkc9i4T4u9l6
								TAQpPAe0oA==
								</data>
								<key>Size</key>
								<integer>279051</integer>
							</dict>
							<key>files/stacks-image-8387376-251x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								uLnjrAb6/rb2
								PvK474baVg==
								</data>
								<key>Size</key>
								<integer>93134</integer>
							</dict>
							<key>files/stacks-image-8387376-251x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								3ZabeVPvd9Kl
								twBcUWNgPQ==
								</data>
								<key>Size</key>
								<integer>331007</integer>
							</dict>
							<key>files/stacks-image-9268316-254x307.png</key>
							<dict>
								<key>Digest</key>
								<data>
								OWHKVNVR8avk
								Gw89ZYMSgA==
								</data>
								<key>Size</key>
								<integer>102415</integer>
							</dict>
							<key>files/stacks-image-95b64f0-259x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								koUbxWdIBl3I
								hyTmClYd4A==
								</data>
								<key>Size</key>
								<integer>108726</integer>
							</dict>
							<key>files/stacks-image-9e3cec5-98x150.png</key>
							<dict>
								<key>Digest</key>
								<data>
								SdC49IhJ3JHE
								zutzsmftPQ==
								</data>
								<key>Size</key>
								<integer>12547</integer>
							</dict>
							<key>files/stacks-image-a4d3338-1198x798.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								3YW7fsJffz3y
								xSIicOAdcA==
								</data>
								<key>Size</key>
								<integer>553274</integer>
							</dict>
							<key>files/stacks-image-b5d4a25-261x251.png</key>
							<dict>
								<key>Digest</key>
								<data>
								X4LIM0pJmROb
								OoK7OiXgTw==
								</data>
								<key>Size</key>
								<integer>103555</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x256.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JQq/tMG5yWnX
								mrXC2R4Oig==
								</data>
								<key>Size</key>
								<integer>101345</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x256@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								BBFEAKWPfxhN
								YCQVK2+Czg==
								</data>
								<key>Size</key>
								<integer>353790</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								kIzXf5nC37dU
								ED0RuUkYDQ==
								</data>
								<key>Size</key>
								<integer>101485</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Y9RpQKxhcjiN
								udjjwCufbQ==
								</data>
								<key>Size</key>
								<integer>354232</integer>
							</dict>
							<key>files/stacks-image-c8d05d0-261x251.png</key>
							<dict>
								<key>Digest</key>
								<data>
								gHccM48+cLRU
								AG+GE2HUdg==
								</data>
								<key>Size</key>
								<integer>87781</integer>
							</dict>
							<key>files/stacks-image-c8d05d0-261x251@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								mRgndT4jFIzn
								TuBSisqjPg==
								</data>
								<key>Size</key>
								<integer>326541</integer>
							</dict>
							<key>files/stacks-image-c9f8f3e-300x168.png</key>
							<dict>
								<key>Digest</key>
								<data>
								tPrKTkeRLB3f
								sDvisoqn9A==
								</data>
								<key>Size</key>
								<integer>36650</integer>
							</dict>
							<key>files/stacks-image-f24159b-261x251.png</key>
							<dict>
								<key>Digest</key>
								<data>
								gHccM48+cLRU
								AG+GE2HUdg==
								</data>
								<key>Size</key>
								<integer>87781</integer>
							</dict>
							<key>files/stacks-image-f24159b-261x251@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								mRgndT4jFIzn
								TuBSisqjPg==
								</data>
								<key>Size</key>
								<integer>326541</integer>
							</dict>
							<key>files/stacks-image-fedaa0e-259x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								1sfNyWCKk+No
								N6Tc6an/Wg==
								</data>
								<key>Size</key>
								<integer>105876</integer>
							</dict>
							<key>files/stacks-image-fedaa0e-261x251.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Qx3usBTZaMMY
								7hat0ECS2w==
								</data>
								<key>Size</key>
								<integer>106102</integer>
							</dict>
							<key>files/stacks_page_page35.css</key>
							<dict>
								<key>Digest</key>
								<data>
								3j3Nv9m00+cr
								8MnLfMfrtA==
								</data>
								<key>Size</key>
								<integer>172513</integer>
							</dict>
							<key>files/stacks_page_page35.js</key>
							<dict>
								<key>Digest</key>
								<data>
								FqG0drOaAuaU
								PwPDWvJSpw==
								</data>
								<key>Size</key>
								<integer>26351</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								jI+mmrx8Kzk/
								M07ZMoamOw==
								</data>
								<key>Size</key>
								<integer>112986</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page35</string>
						<key>SiteRoot</key>
						<string>events/science-of-stories</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>ChildPages</string>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
