<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page49</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Details</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.6.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2018-07-11T18:51:20Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/backgroundImage_110258.png</key>
							<dict>
								<key>Digest</key>
								<data>
								QETP738VfUvU
								/jzCm7P3tw==
								</data>
								<key>Size</key>
								<integer>41544</integer>
							</dict>
							<key>files/backgroundImage_110333.png</key>
							<dict>
								<key>Digest</key>
								<data>
								QETP738VfUvU
								/jzCm7P3tw==
								</data>
								<key>Size</key>
								<integer>41544</integer>
							</dict>
							<key>files/small_109872.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Yb+L/heiX6tP
								YliFF2auMA==
								</data>
								<key>Size</key>
								<integer>269913</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZFHf9zniv4SK
								z9ywIWAR7Q==
								</data>
								<key>Size</key>
								<integer>124861</integer>
							</dict>
							<key>files/small_p60311_n109628.png</key>
							<dict>
								<key>Digest</key>
								<data>
								pcpK3KZBcBVd
								Ns6QdrLpNA==
								</data>
								<key>Size</key>
								<integer>68548</integer>
							</dict>
							<key>files/stacks-image-10532b8-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								PuhV1N2hKIgZ
								hme9LBK+9w==
								</data>
								<key>Size</key>
								<integer>97104</integer>
							</dict>
							<key>files/stacks-image-10532b8-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								AQR0jRyP1OuW
								/qcR2L8sLw==
								</data>
								<key>Size</key>
								<integer>319847</integer>
							</dict>
							<key>files/stacks-image-17fd2ba-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								WFiXR68UpxtT
								SWeYJpTv4A==
								</data>
								<key>Size</key>
								<integer>87953</integer>
							</dict>
							<key>files/stacks-image-17fd2ba-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								5PyCN18CMqi8
								E09bH60EFA==
								</data>
								<key>Size</key>
								<integer>319385</integer>
							</dict>
							<key>files/stacks-image-1aebfb5-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Y4lgVTf8Gkkk
								8EHuVP0Cmw==
								</data>
								<key>Size</key>
								<integer>94687</integer>
							</dict>
							<key>files/stacks-image-1aebfb5-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								L89c/ljUrVh4
								r2rgzOjFhw==
								</data>
								<key>Size</key>
								<integer>337046</integer>
							</dict>
							<key>files/stacks-image-1e491bc-300x256.png</key>
							<dict>
								<key>Digest</key>
								<data>
								4frb7XCfD24E
								t3XBPwbhTA==
								</data>
								<key>Size</key>
								<integer>68333</integer>
							</dict>
							<key>files/stacks-image-1e491bc-300x256@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								pB3HD08J82L0
								6W0bAawXDA==
								</data>
								<key>Size</key>
								<integer>221992</integer>
							</dict>
							<key>files/stacks-image-24a754b-250x254.png</key>
							<dict>
								<key>Digest</key>
								<data>
								kBbEZrWsGn0u
								l36jBOx4qQ==
								</data>
								<key>Size</key>
								<integer>86992</integer>
							</dict>
							<key>files/stacks-image-25ae135-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								NcCHMM6opzO2
								Kc24ThzSBw==
								</data>
								<key>Size</key>
								<integer>110187</integer>
							</dict>
							<key>files/stacks-image-25ae135-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D030ruNUqPQP
								1Aq0QOXx8A==
								</data>
								<key>Size</key>
								<integer>379393</integer>
							</dict>
							<key>files/stacks-image-2d02c4e-1200x284.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								UPkPTvU1UdUT
								PbcV5iRj+g==
								</data>
								<key>Size</key>
								<integer>80046</integer>
							</dict>
							<key>files/stacks-image-2d02c4e-1200x284@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								r80l+IqCf+My
								5iFaww2t3A==
								</data>
								<key>Size</key>
								<integer>138088</integer>
							</dict>
							<key>files/stacks-image-3dfae34-300x218.png</key>
							<dict>
								<key>Digest</key>
								<data>
								n9a4GLsTZV+2
								+/A+X8dCLw==
								</data>
								<key>Size</key>
								<integer>18713</integer>
							</dict>
							<key>files/stacks-image-3dfae34-300x218@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								RIfZHfXIf8+3
								kANM+gtXIA==
								</data>
								<key>Size</key>
								<integer>41815</integer>
							</dict>
							<key>files/stacks-image-45fda98-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								UPkHo2GmQA9S
								nRnN5AC22g==
								</data>
								<key>Size</key>
								<integer>105690</integer>
							</dict>
							<key>files/stacks-image-45fda98-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								dAHNXNKMUW+w
								ai4WeucNqA==
								</data>
								<key>Size</key>
								<integer>402040</integer>
							</dict>
							<key>files/stacks-image-48ee80b-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								t4zMg+i7qJ90
								XBx6uNzwKw==
								</data>
								<key>Size</key>
								<integer>90786</integer>
							</dict>
							<key>files/stacks-image-48ee80b-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								PtAxOimLl9Lo
								lMvCRh8y6Q==
								</data>
								<key>Size</key>
								<integer>338276</integer>
							</dict>
							<key>files/stacks-image-4d44245-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								P0k4dvYWss+s
								A43wfbtuUA==
								</data>
								<key>Size</key>
								<integer>67237</integer>
							</dict>
							<key>files/stacks-image-55f5c6b-298x58.png</key>
							<dict>
								<key>Digest</key>
								<data>
								cPC/mgkDu6UM
								vqsPmR3ecQ==
								</data>
								<key>Size</key>
								<integer>15084</integer>
							</dict>
							<key>files/stacks-image-5e1ff49-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								FiGKFB9TiP2q
								bAW0RSbqDA==
								</data>
								<key>Size</key>
								<integer>78959</integer>
							</dict>
							<key>files/stacks-image-6a176f2.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								QqZb7VYPgF3P
								tZSj/BjKEg==
								</data>
								<key>Size</key>
								<integer>229581</integer>
							</dict>
							<key>files/stacks-image-7e9dad3-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								tbIPBQXJbF7c
								IWa5/Iv3mw==
								</data>
								<key>Size</key>
								<integer>75264</integer>
							</dict>
							<key>files/stacks-image-a63dce2-1200x796.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								NN73MZhZn2Z/
								btTinsrASA==
								</data>
								<key>Size</key>
								<integer>361736</integer>
							</dict>
							<key>files/stacks-image-a63dce2-1200x796@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								tTupR8SJAHcJ
								Tf5Y/v9t8g==
								</data>
								<key>Size</key>
								<integer>654306</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								C3kyqHbDXSkW
								b0WbC+z9lg==
								</data>
								<key>Size</key>
								<integer>101473</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								6F7wC5wlt+mG
								L9Fb1aUjiA==
								</data>
								<key>Size</key>
								<integer>354220</integer>
							</dict>
							<key>files/stacks-image-cfb5234-98x98.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								uIa+ZpRMODfY
								8L1symw+qA==
								</data>
								<key>Size</key>
								<integer>6246</integer>
							</dict>
							<key>files/stacks-image-cfb5234-98x98@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								oL3dMLrPIItY
								AkFFEoSKHQ==
								</data>
								<key>Size</key>
								<integer>7818</integer>
							</dict>
							<key>files/stacks-image-d36e992-250x322.png</key>
							<dict>
								<key>Digest</key>
								<data>
								lOr1949+Yath
								mMivYFHMvw==
								</data>
								<key>Size</key>
								<integer>125056</integer>
							</dict>
							<key>files/stacks-image-e712d99-98x98.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								uIa+ZpRMODfY
								8L1symw+qA==
								</data>
								<key>Size</key>
								<integer>6246</integer>
							</dict>
							<key>files/stacks-image-e712d99-98x98@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								oL3dMLrPIItY
								AkFFEoSKHQ==
								</data>
								<key>Size</key>
								<integer>7818</integer>
							</dict>
							<key>files/stacks-image-f38d32b-450x386.png</key>
							<dict>
								<key>Digest</key>
								<data>
								GDF7o5f2Ijq1
								Itm/KyFa5Q==
								</data>
								<key>Size</key>
								<integer>67518</integer>
							</dict>
							<key>files/stacks-image-f38d32b-450x386@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								HZi0m2wWckJS
								0GfGLjPrEw==
								</data>
								<key>Size</key>
								<integer>196380</integer>
							</dict>
							<key>files/stacks-image-faf7292-250x374.png</key>
							<dict>
								<key>Digest</key>
								<data>
								dsVM/TdGt3v6
								h0Y0rzhpxw==
								</data>
								<key>Size</key>
								<integer>97437</integer>
							</dict>
							<key>files/stacks-image-fecc660-98x150.png</key>
							<dict>
								<key>Digest</key>
								<data>
								puf8IgV3ZVSP
								HN7YynCLTg==
								</data>
								<key>Size</key>
								<integer>12535</integer>
							</dict>
							<key>files/stacks_page_page49.css</key>
							<dict>
								<key>Digest</key>
								<data>
								TpqbIJVbifYr
								TIr7P/YsqQ==
								</data>
								<key>Size</key>
								<integer>159828</integer>
							</dict>
							<key>files/stacks_page_page49.js</key>
							<dict>
								<key>Digest</key>
								<data>
								XI/AKqgx8JbV
								Uw7pT8TVPw==
								</data>
								<key>Size</key>
								<integer>24349</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								9ZdicBuhMEUr
								gCBAxkwG8w==
								</data>
								<key>Size</key>
								<integer>108635</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page49</string>
						<key>SiteRoot</key>
						<string>events/cnww/deets</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
