<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page49</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Details</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.5.8</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2018-04-16T23:39:22Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small_109872.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Yb+L/heiX6tP
								YliFF2auMA==
								</data>
								<key>Size</key>
								<integer>269913</integer>
							</dict>
							<key>files/small_110077.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								WH6KVJtESc55
								UPLBdfd4OA==
								</data>
								<key>Size</key>
								<integer>53326</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZFHf9zniv4SK
								z9ywIWAR7Q==
								</data>
								<key>Size</key>
								<integer>124861</integer>
							</dict>
							<key>files/small_p60311_n109628.png</key>
							<dict>
								<key>Digest</key>
								<data>
								pcpK3KZBcBVd
								Ns6QdrLpNA==
								</data>
								<key>Size</key>
								<integer>68548</integer>
							</dict>
							<key>files/stacks-image-2d02c4e-1200x284.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								UPkPTvU1UdUT
								PbcV5iRj+g==
								</data>
								<key>Size</key>
								<integer>80046</integer>
							</dict>
							<key>files/stacks-image-2d02c4e-1200x284@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								r80l+IqCf+My
								5iFaww2t3A==
								</data>
								<key>Size</key>
								<integer>138088</integer>
							</dict>
							<key>files/stacks-image-48ee80b-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								7K6PSQh9mROR
								+7K5Nsj+3w==
								</data>
								<key>Size</key>
								<integer>90798</integer>
							</dict>
							<key>files/stacks-image-48ee80b-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								6zdIUUehofVi
								nwpnAVNoCw==
								</data>
								<key>Size</key>
								<integer>338288</integer>
							</dict>
							<key>files/stacks-image-7e9dad3-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								wxt8EJvqjpqY
								mD8BZ/M6FQ==
								</data>
								<key>Size</key>
								<integer>75276</integer>
							</dict>
							<key>files/stacks-image-80d4159-1200x898.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								bgI8UIbrQxu1
								yCLbzUMs1g==
								</data>
								<key>Size</key>
								<integer>330970</integer>
							</dict>
							<key>files/stacks-image-91ace9a-98x98.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								uIa+ZpRMODfY
								8L1symw+qA==
								</data>
								<key>Size</key>
								<integer>6246</integer>
							</dict>
							<key>files/stacks-image-91ace9a-98x98@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								oL3dMLrPIItY
								AkFFEoSKHQ==
								</data>
								<key>Size</key>
								<integer>7818</integer>
							</dict>
							<key>files/stacks-image-a63dce2-1200x796.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								NN73MZhZn2Z/
								btTinsrASA==
								</data>
								<key>Size</key>
								<integer>361736</integer>
							</dict>
							<key>files/stacks-image-a63dce2-1200x796@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								tTupR8SJAHcJ
								Tf5Y/v9t8g==
								</data>
								<key>Size</key>
								<integer>654306</integer>
							</dict>
							<key>files/stacks-image-cfb5234-98x98.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								uIa+ZpRMODfY
								8L1symw+qA==
								</data>
								<key>Size</key>
								<integer>6246</integer>
							</dict>
							<key>files/stacks-image-cfb5234-98x98@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								oL3dMLrPIItY
								AkFFEoSKHQ==
								</data>
								<key>Size</key>
								<integer>7818</integer>
							</dict>
							<key>files/stacks-image-e712d99-98x98.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								uIa+ZpRMODfY
								8L1symw+qA==
								</data>
								<key>Size</key>
								<integer>6246</integer>
							</dict>
							<key>files/stacks-image-e712d99-98x98@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								oL3dMLrPIItY
								AkFFEoSKHQ==
								</data>
								<key>Size</key>
								<integer>7818</integer>
							</dict>
							<key>files/stacks-image-faf7292-250x374.png</key>
							<dict>
								<key>Digest</key>
								<data>
								NNBt6Bo0YD+W
								OAAFcd+YGA==
								</data>
								<key>Size</key>
								<integer>97449</integer>
							</dict>
							<key>files/stacks-image-fecc660-98x150.png</key>
							<dict>
								<key>Digest</key>
								<data>
								SdC49IhJ3JHE
								zutzsmftPQ==
								</data>
								<key>Size</key>
								<integer>12547</integer>
							</dict>
							<key>files/stacks_page_page49.css</key>
							<dict>
								<key>Digest</key>
								<data>
								/BZlYdVf8Yjs
								vW0QBEx7KQ==
								</data>
								<key>Size</key>
								<integer>155668</integer>
							</dict>
							<key>files/stacks_page_page49.js</key>
							<dict>
								<key>Digest</key>
								<data>
								2rYrzz2EZaIq
								rx0Zot0jOQ==
								</data>
								<key>Size</key>
								<integer>28346</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								W5ylrXprcYmp
								aDDtGGNS8g==
								</data>
								<key>Size</key>
								<integer>75182</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page49</string>
						<key>SiteRoot</key>
						<string>events/cnww/deets</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
