<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page49</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Details</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.5.7</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2018-03-06T18:44:30Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small_109872.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Yb+L/heiX6tP
								YliFF2auMA==
								</data>
								<key>Size</key>
								<integer>269913</integer>
							</dict>
							<key>files/small_110077.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								WH6KVJtESc55
								UPLBdfd4OA==
								</data>
								<key>Size</key>
								<integer>53326</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZFHf9zniv4SK
								z9ywIWAR7Q==
								</data>
								<key>Size</key>
								<integer>124861</integer>
							</dict>
							<key>files/small_p60311_n109628.png</key>
							<dict>
								<key>Digest</key>
								<data>
								pcpK3KZBcBVd
								Ns6QdrLpNA==
								</data>
								<key>Size</key>
								<integer>68548</integer>
							</dict>
							<key>files/stacks-image-2d02c4e-1200x284.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								UPkPTvU1UdUT
								PbcV5iRj+g==
								</data>
								<key>Size</key>
								<integer>80046</integer>
							</dict>
							<key>files/stacks-image-2d02c4e-1200x284@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								r80l+IqCf+My
								5iFaww2t3A==
								</data>
								<key>Size</key>
								<integer>138088</integer>
							</dict>
							<key>files/stacks-image-5f16556-100x150.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								zVK36KOY+dKO
								UhinWqIFVw==
								</data>
								<key>Size</key>
								<integer>8507</integer>
							</dict>
							<key>files/stacks-image-5f16556-100x150@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								FBGZfaKRY86E
								4HJ4zNJR9w==
								</data>
								<key>Size</key>
								<integer>12166</integer>
							</dict>
							<key>files/stacks-image-80d4159-1200x898.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								bgI8UIbrQxu1
								yCLbzUMs1g==
								</data>
								<key>Size</key>
								<integer>330970</integer>
							</dict>
							<key>files/stacks-image-a63dce2-1200x796.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								NN73MZhZn2Z/
								btTinsrASA==
								</data>
								<key>Size</key>
								<integer>361736</integer>
							</dict>
							<key>files/stacks-image-a63dce2-1200x796@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								tTupR8SJAHcJ
								Tf5Y/v9t8g==
								</data>
								<key>Size</key>
								<integer>654306</integer>
							</dict>
							<key>files/stacks-image-ac9502c-98x150.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								l7UFChf+62d9
								QXZmjz0ufA==
								</data>
								<key>Size</key>
								<integer>7717</integer>
							</dict>
							<key>files/stacks-image-ac9502c-98x150@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								0Xy+mCYDQ0jo
								Cvh5tl1QQg==
								</data>
								<key>Size</key>
								<integer>10312</integer>
							</dict>
							<key>files/stacks-image-fecc660-98x150.png</key>
							<dict>
								<key>Digest</key>
								<data>
								SdC49IhJ3JHE
								zutzsmftPQ==
								</data>
								<key>Size</key>
								<integer>12547</integer>
							</dict>
							<key>files/stacks_page_page49.css</key>
							<dict>
								<key>Digest</key>
								<data>
								HcNKj8zCP/xW
								lmkr7plrZQ==
								</data>
								<key>Size</key>
								<integer>134565</integer>
							</dict>
							<key>files/stacks_page_page49.js</key>
							<dict>
								<key>Digest</key>
								<data>
								D0Fr5aUoUvxV
								CI/wWVanjQ==
								</data>
								<key>Size</key>
								<integer>27447</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								7GzbSyB4pPUC
								CS3RshrawQ==
								</data>
								<key>Size</key>
								<integer>63369</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page49</string>
						<key>SiteRoot</key>
						<string>education/events/cnww/deets</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
