<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>NetSci Speakers</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page57</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>NetSci Speakers</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.3.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2023-02-24T17:23:27Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/D289564D-C2D0-4B94-AA16-FC8C366062A7.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								GQHOUzuyjCs9
								Jfbg60A9OQ==
								</data>
								<key>Size</key>
								<integer>700318</integer>
							</dict>
							<key>files/small-109623-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/small-109710-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JfxF8Omi0icK
								xIwohpIZqw==
								</data>
								<key>Size</key>
								<integer>77487</integer>
							</dict>
							<key>files/small-109714-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2NMhf1k+YDl
								uPpd6H1dBw==
								</data>
								<key>Size</key>
								<integer>15019</integer>
							</dict>
							<key>files/small-109735-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D2nm4R7babci
								2M5NjfUDZQ==
								</data>
								<key>Size</key>
								<integer>18925</integer>
							</dict>
							<key>files/small-109736-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgRiuB3NhhIh
								SwZTifI18g==
								</data>
								<key>Size</key>
								<integer>21987</integer>
							</dict>
							<key>files/stacks-image-012ccd0-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								2OO7h5yPn6v+
								vNXGew8pWw==
								</data>
								<key>Size</key>
								<integer>37472</integer>
							</dict>
							<key>files/stacks-image-0655a30-350x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Du+53j3rRTzX
								qGWOsevZBQ==
								</data>
								<key>Size</key>
								<integer>18175</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JV5ejNT3Y8/E
								W0wI16l5/Q==
								</data>
								<key>Size</key>
								<integer>35252</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Su+ZpJd1NY34
								s0J16tjsFg==
								</data>
								<key>Size</key>
								<integer>68409</integer>
							</dict>
							<key>files/stacks-image-0c90353-700x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								FgLXF8KeKGcW
								heFDZMBkKA==
								</data>
								<key>Size</key>
								<integer>72355</integer>
							</dict>
							<key>files/stacks-image-1629f24.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								PCup30bjv0Xn
								AFSA01ed5A==
								</data>
								<key>Size</key>
								<integer>26372</integer>
							</dict>
							<key>files/stacks-image-1fdb6e6-350x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								C5CpnrhaCVvz
								h+CZ3BbW9g==
								</data>
								<key>Size</key>
								<integer>18215</integer>
							</dict>
							<key>files/stacks-image-1fdb6e6-350x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Y1yYZjBXDKdr
								JXLOVXNdLQ==
								</data>
								<key>Size</key>
								<integer>26328</integer>
							</dict>
							<key>files/stacks-image-2085074-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								uSQDo16+eNX1
								PjSvXDFAOg==
								</data>
								<key>Size</key>
								<integer>22205</integer>
							</dict>
							<key>files/stacks-image-239cbaa-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								k+2WR4UWHdB/
								6qtdfVWv8A==
								</data>
								<key>Size</key>
								<integer>30659</integer>
							</dict>
							<key>files/stacks-image-239cbaa-350x375@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Hu50rlYs//GM
								2G/OAmv8bw==
								</data>
								<key>Size</key>
								<integer>48074</integer>
							</dict>
							<key>files/stacks-image-3956a46-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								uSQDo16+eNX1
								PjSvXDFAOg==
								</data>
								<key>Size</key>
								<integer>22205</integer>
							</dict>
							<key>files/stacks-image-45366af-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								a4z7iE8okcaS
								S6oi11wCjg==
								</data>
								<key>Size</key>
								<integer>24565</integer>
							</dict>
							<key>files/stacks-image-571e73c-350x375.png</key>
							<dict>
								<key>Digest</key>
								<data>
								nJWoYlyxyVW7
								V8yL40Ik0Q==
								</data>
								<key>Size</key>
								<integer>219670</integer>
							</dict>
							<key>files/stacks-image-571e73c-350x375@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								1gms+BROI5Kh
								kdtrQxUZbg==
								</data>
								<key>Size</key>
								<integer>725996</integer>
							</dict>
							<key>files/stacks-image-5aa6b15-350x375.png</key>
							<dict>
								<key>Digest</key>
								<data>
								3HuWCeisABnN
								kWoY4RMBSA==
								</data>
								<key>Size</key>
								<integer>227096</integer>
							</dict>
							<key>files/stacks-image-6467c3a-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								qApioKGI3+70
								Lvx/x9+Wcg==
								</data>
								<key>Size</key>
								<integer>28990</integer>
							</dict>
							<key>files/stacks-image-681c98a-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								D8zwRcyFXEz8
								RlIrbFeNEQ==
								</data>
								<key>Size</key>
								<integer>50380</integer>
							</dict>
							<key>files/stacks-image-6d7780c-350x375.png</key>
							<dict>
								<key>Digest</key>
								<data>
								TjS3bTNtczXT
								Ah+lmk+l7w==
								</data>
								<key>Size</key>
								<integer>131527</integer>
							</dict>
							<key>files/stacks-image-6d7780c-350x375@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								FQ7JHI/dEQ9b
								c+20b7RhEg==
								</data>
								<key>Size</key>
								<integer>484712</integer>
							</dict>
							<key>files/stacks-image-6f3f11d-350x375.png</key>
							<dict>
								<key>Digest</key>
								<data>
								98+VX1r9IKR0
								QE9wy5wyCQ==
								</data>
								<key>Size</key>
								<integer>257573</integer>
							</dict>
							<key>files/stacks-image-6fb48dc-1200x488.png</key>
							<dict>
								<key>Digest</key>
								<data>
								qTEXB3cE5dqK
								ZRg67qCguw==
								</data>
								<key>Size</key>
								<integer>107336</integer>
							</dict>
							<key>files/stacks-image-70cf7c9-332x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								146qYMFm7Qq6
								ZQH9RXRS4g==
								</data>
								<key>Size</key>
								<integer>38719</integer>
							</dict>
							<key>files/stacks-image-7700296-350x375.png</key>
							<dict>
								<key>Digest</key>
								<data>
								98+VX1r9IKR0
								QE9wy5wyCQ==
								</data>
								<key>Size</key>
								<integer>257573</integer>
							</dict>
							<key>files/stacks-image-78f98c2-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								4OB7AP5ePB+0
								vq7gSHacpg==
								</data>
								<key>Size</key>
								<integer>40174</integer>
							</dict>
							<key>files/stacks-image-78f98c2-350x375@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								UG41r1Wui2Gz
								XEc/xr/2SQ==
								</data>
								<key>Size</key>
								<integer>66234</integer>
							</dict>
							<key>files/stacks-image-7bc5484-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								g/B+7SergNCM
								lwCFW6sUOg==
								</data>
								<key>Size</key>
								<integer>35176</integer>
							</dict>
							<key>files/stacks-image-7bc5484-350x375@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								+geuZ33hOWmL
								MccS68xblA==
								</data>
								<key>Size</key>
								<integer>60079</integer>
							</dict>
							<key>files/stacks-image-7d4bd33-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								IiGn/kgQp8Xh
								OSV9YqoQIg==
								</data>
								<key>Size</key>
								<integer>29488</integer>
							</dict>
							<key>files/stacks-image-7d4bd33-350x375@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								QCCwB5Gm3l0u
								oP0e8wAUsg==
								</data>
								<key>Size</key>
								<integer>50889</integer>
							</dict>
							<key>files/stacks-image-853176b-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								vJZq4MQf2R+K
								PsSoaQ1/ZQ==
								</data>
								<key>Size</key>
								<integer>25433</integer>
							</dict>
							<key>files/stacks-image-8bfe41d-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								4OB7AP5ePB+0
								vq7gSHacpg==
								</data>
								<key>Size</key>
								<integer>40174</integer>
							</dict>
							<key>files/stacks-image-8bfe41d-350x375@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								UG41r1Wui2Gz
								XEc/xr/2SQ==
								</data>
								<key>Size</key>
								<integer>66234</integer>
							</dict>
							<key>files/stacks-image-9416b79-350x375.png</key>
							<dict>
								<key>Digest</key>
								<data>
								3HuWCeisABnN
								kWoY4RMBSA==
								</data>
								<key>Size</key>
								<integer>227096</integer>
							</dict>
							<key>files/stacks-image-a0c9938-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								anYnvjfRf7lW
								+7v5zdP+iA==
								</data>
								<key>Size</key>
								<integer>20113</integer>
							</dict>
							<key>files/stacks-image-ab30bf8-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								g/B+7SergNCM
								lwCFW6sUOg==
								</data>
								<key>Size</key>
								<integer>35176</integer>
							</dict>
							<key>files/stacks-image-ab30bf8-350x375@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								+geuZ33hOWmL
								MccS68xblA==
								</data>
								<key>Size</key>
								<integer>60079</integer>
							</dict>
							<key>files/stacks-image-b6595c0-250x82.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JCcuuQKB27HD
								0sYA9fAtLA==
								</data>
								<key>Size</key>
								<integer>14785</integer>
							</dict>
							<key>files/stacks-image-b8bc7d5-350x375.png</key>
							<dict>
								<key>Digest</key>
								<data>
								TjS3bTNtczXT
								Ah+lmk+l7w==
								</data>
								<key>Size</key>
								<integer>131527</integer>
							</dict>
							<key>files/stacks-image-b8bc7d5-350x375@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								FQ7JHI/dEQ9b
								c+20b7RhEg==
								</data>
								<key>Size</key>
								<integer>484712</integer>
							</dict>
							<key>files/stacks-image-bded2de-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								IiGn/kgQp8Xh
								OSV9YqoQIg==
								</data>
								<key>Size</key>
								<integer>29488</integer>
							</dict>
							<key>files/stacks-image-bded2de-350x375@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								QCCwB5Gm3l0u
								oP0e8wAUsg==
								</data>
								<key>Size</key>
								<integer>50889</integer>
							</dict>
							<key>files/stacks-image-bf17dfe-700x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								m5fdoGLB0UcC
								OrsvLxq6aw==
								</data>
								<key>Size</key>
								<integer>90501</integer>
							</dict>
							<key>files/stacks-image-c6fac6f-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								D8zwRcyFXEz8
								RlIrbFeNEQ==
								</data>
								<key>Size</key>
								<integer>50380</integer>
							</dict>
							<key>files/stacks-image-e5e8064-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								k+2WR4UWHdB/
								6qtdfVWv8A==
								</data>
								<key>Size</key>
								<integer>30659</integer>
							</dict>
							<key>files/stacks-image-e5e8064-350x375@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Hu50rlYs//GM
								2G/OAmv8bw==
								</data>
								<key>Size</key>
								<integer>48074</integer>
							</dict>
							<key>files/stacks-image-e8c938f-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								yKL8V9PErNgJ
								9Pn7N1cqXQ==
								</data>
								<key>Size</key>
								<integer>33827</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								0LBTZh9Y4iZ6
								By0DZuC++A==
								</data>
								<key>Size</key>
								<integer>19463</integer>
							</dict>
							<key>files/stacks-image-f162ac2-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								2OO7h5yPn6v+
								vNXGew8pWw==
								</data>
								<key>Size</key>
								<integer>37472</integer>
							</dict>
							<key>files/stacks-image-f9056c6-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								vJZq4MQf2R+K
								PsSoaQ1/ZQ==
								</data>
								<key>Size</key>
								<integer>25433</integer>
							</dict>
							<key>files/stacks_page_page57.css</key>
							<dict>
								<key>Digest</key>
								<data>
								zIY23Rt0rxAK
								n76Jus0uFA==
								</data>
								<key>Size</key>
								<integer>241446</integer>
							</dict>
							<key>files/stacks_page_page57.js</key>
							<dict>
								<key>Digest</key>
								<data>
								UkJAIsOh8Shb
								he+XuQubiA==
								</data>
								<key>Size</key>
								<integer>27905</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								dJE2uk546aHA
								U/77tmB/cg==
								</data>
								<key>Size</key>
								<integer>165119</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page57</string>
						<key>SiteRoot</key>
						<string>events/netsci/speakers</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
