<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page83</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Scartch page</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.2.2</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2021-10-27T21:36:44Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small-109623-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/small-109710-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JfxF8Omi0icK
								xIwohpIZqw==
								</data>
								<key>Size</key>
								<integer>77487</integer>
							</dict>
							<key>files/small-109714-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2NMhf1k+YDl
								uPpd6H1dBw==
								</data>
								<key>Size</key>
								<integer>15019</integer>
							</dict>
							<key>files/small-109735-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D2nm4R7babci
								2M5NjfUDZQ==
								</data>
								<key>Size</key>
								<integer>18925</integer>
							</dict>
							<key>files/small-109736-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgRiuB3NhhIh
								SwZTifI18g==
								</data>
								<key>Size</key>
								<integer>21987</integer>
							</dict>
							<key>files/small-109872.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Yb+L/heiX6tP
								YliFF2auMA==
								</data>
								<key>Size</key>
								<integer>269913</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								nc/RlhmvGDDL
								K+SuTjMLPQ==
								</data>
								<key>Size</key>
								<integer>35262</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								tvAomUQyeND0
								vTpTZz/VVg==
								</data>
								<key>Size</key>
								<integer>68367</integer>
							</dict>
							<key>files/stacks-image-10532b8-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								VARK4nOxOQ7J
								tehwcBrU9A==
								</data>
								<key>Size</key>
								<integer>96264</integer>
							</dict>
							<key>files/stacks-image-10532b8-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								lT1ctkQxxq+E
								x3Oct/k+SA==
								</data>
								<key>Size</key>
								<integer>320519</integer>
							</dict>
							<key>files/stacks-image-17fd2ba-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								HBD+sTYmpx05
								IppZrMKx2w==
								</data>
								<key>Size</key>
								<integer>88387</integer>
							</dict>
							<key>files/stacks-image-17fd2ba-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								pjc8U9h1GkFW
								ZV4M6n6qeA==
								</data>
								<key>Size</key>
								<integer>321297</integer>
							</dict>
							<key>files/stacks-image-1aebfb5-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								b3BpjUocDX4D
								5fD8x4EwZA==
								</data>
								<key>Size</key>
								<integer>94358</integer>
							</dict>
							<key>files/stacks-image-1aebfb5-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								3TO+0PvRrdnc
								RrjqWm0TQg==
								</data>
								<key>Size</key>
								<integer>335674</integer>
							</dict>
							<key>files/stacks-image-1e491bc-300x256.png</key>
							<dict>
								<key>Digest</key>
								<data>
								1iN9tPYAG0pP
								9Z9Xkng3nA==
								</data>
								<key>Size</key>
								<integer>68224</integer>
							</dict>
							<key>files/stacks-image-1e491bc-300x256@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								pihshD5Q0+VJ
								p+uh53WUbw==
								</data>
								<key>Size</key>
								<integer>223259</integer>
							</dict>
							<key>files/stacks-image-24a754b-250x254.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JvznCDlSnlQp
								3iAAVSq+CA==
								</data>
								<key>Size</key>
								<integer>86688</integer>
							</dict>
							<key>files/stacks-image-25ae135-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								8LErBrJa6mFn
								j6Y4f+Tg4g==
								</data>
								<key>Size</key>
								<integer>110052</integer>
							</dict>
							<key>files/stacks-image-25ae135-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								9FDQK4QUX59I
								5ee5kzZH0w==
								</data>
								<key>Size</key>
								<integer>379915</integer>
							</dict>
							<key>files/stacks-image-2d02c4e-1200x284.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Fvt+KPR05FUr
								hNhn5N4Iiw==
								</data>
								<key>Size</key>
								<integer>79460</integer>
							</dict>
							<key>files/stacks-image-2d02c4e-1200x284@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								wo/4fZok6LiD
								jMpFkQqJaQ==
								</data>
								<key>Size</key>
								<integer>134340</integer>
							</dict>
							<key>files/stacks-image-3dfae34-300x218.png</key>
							<dict>
								<key>Digest</key>
								<data>
								/sjIpoYC5uRJ
								A6gDNwZ4lA==
								</data>
								<key>Size</key>
								<integer>18394</integer>
							</dict>
							<key>files/stacks-image-3dfae34-300x218@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								V9QUkAIV9jW3
								vjDBuajVow==
								</data>
								<key>Size</key>
								<integer>40896</integer>
							</dict>
							<key>files/stacks-image-444f275-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JxgPO2CRbjla
								8nRKdfIY8A==
								</data>
								<key>Size</key>
								<integer>87427</integer>
							</dict>
							<key>files/stacks-image-444f275-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								/v9cuyrBceEg
								3J/ieihAZA==
								</data>
								<key>Size</key>
								<integer>289270</integer>
							</dict>
							<key>files/stacks-image-45fda98-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								yKb0Kwj0QfXn
								3DAdS2KKXw==
								</data>
								<key>Size</key>
								<integer>106930</integer>
							</dict>
							<key>files/stacks-image-45fda98-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								aY3U7XkvKWvb
								kbo4ig3S4Q==
								</data>
								<key>Size</key>
								<integer>404521</integer>
							</dict>
							<key>files/stacks-image-48ee80b-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZEvLQ4F2nCA9
								6OXF2XntaA==
								</data>
								<key>Size</key>
								<integer>90749</integer>
							</dict>
							<key>files/stacks-image-48ee80b-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								QhNDgLg120um
								1i6N6VJF0A==
								</data>
								<key>Size</key>
								<integer>327640</integer>
							</dict>
							<key>files/stacks-image-4d44245-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JgGePrQcV9FF
								OKacz+qvWQ==
								</data>
								<key>Size</key>
								<integer>67278</integer>
							</dict>
							<key>files/stacks-image-55f5c6b-300x58.png</key>
							<dict>
								<key>Digest</key>
								<data>
								UHr2yBMHn3FD
								cTSI+b6xTw==
								</data>
								<key>Size</key>
								<integer>14525</integer>
							</dict>
							<key>files/stacks-image-5dab26b-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								5jwoJYftCUKO
								brDA7IlicQ==
								</data>
								<key>Size</key>
								<integer>74054</integer>
							</dict>
							<key>files/stacks-image-5dab26b-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								L862Q8Bt+PtS
								hshHELnKYQ==
								</data>
								<key>Size</key>
								<integer>238714</integer>
							</dict>
							<key>files/stacks-image-5e1ff49-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								aGMvKznDCbc6
								ib4lQCY3SA==
								</data>
								<key>Size</key>
								<integer>79101</integer>
							</dict>
							<key>files/stacks-image-6a176f2.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								QqZb7VYPgF3P
								tZSj/BjKEg==
								</data>
								<key>Size</key>
								<integer>229581</integer>
							</dict>
							<key>files/stacks-image-6bca931-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZeL4I5VKQG0U
								CdN2sJnNKA==
								</data>
								<key>Size</key>
								<integer>90460</integer>
							</dict>
							<key>files/stacks-image-7ca5723-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								m9PCxOGHlzse
								tRMxSoOTjw==
								</data>
								<key>Size</key>
								<integer>100730</integer>
							</dict>
							<key>files/stacks-image-7ca5723-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								0f3W29CFoNcp
								ljY47Mwvzg==
								</data>
								<key>Size</key>
								<integer>375073</integer>
							</dict>
							<key>files/stacks-image-8974712-1200x276.png</key>
							<dict>
								<key>Digest</key>
								<data>
								FQbz1W0oTI5S
								ONoiNKmQ8A==
								</data>
								<key>Size</key>
								<integer>157810</integer>
							</dict>
							<key>files/stacks-image-8f6171b-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B/TRO3fW6Cnj
								nB65SyJdyg==
								</data>
								<key>Size</key>
								<integer>101541</integer>
							</dict>
							<key>files/stacks-image-a2c2113-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								5BQMpKM6ciuE
								M9yWNUqwqA==
								</data>
								<key>Size</key>
								<integer>81805</integer>
							</dict>
							<key>files/stacks-image-a63dce2-1200x796.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								rJgV2Kf9Ib6H
								1pw5zzogxQ==
								</data>
								<key>Size</key>
								<integer>369667</integer>
							</dict>
							<key>files/stacks-image-a63dce2-1200x796@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								vt+Y1pqMQEAv
								3BHDPBFV+g==
								</data>
								<key>Size</key>
								<integer>653709</integer>
							</dict>
							<key>files/stacks-image-abaa395-450x388.png</key>
							<dict>
								<key>Digest</key>
								<data>
								jlvv1284pBXz
								+Bco8Vv2JA==
								</data>
								<key>Size</key>
								<integer>86058</integer>
							</dict>
							<key>files/stacks-image-abaa395-450x388@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								dU+vFq+qBIu0
								2uTSrxsJ6w==
								</data>
								<key>Size</key>
								<integer>236170</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								kM8brHhWmFXj
								zBtdFSdWFw==
								</data>
								<key>Size</key>
								<integer>100736</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								wAq9n9ojxy0+
								3TuDbzvtBw==
								</data>
								<key>Size</key>
								<integer>353236</integer>
							</dict>
							<key>files/stacks-image-cd71898-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								GFCqsOk2On0Z
								wIVluYv/TQ==
								</data>
								<key>Size</key>
								<integer>94001</integer>
							</dict>
							<key>files/stacks-image-d01a50c-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JxgPO2CRbjla
								8nRKdfIY8A==
								</data>
								<key>Size</key>
								<integer>87427</integer>
							</dict>
							<key>files/stacks-image-d01a50c-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								/v9cuyrBceEg
								3J/ieihAZA==
								</data>
								<key>Size</key>
								<integer>289270</integer>
							</dict>
							<key>files/stacks-image-d36e992-250x322.png</key>
							<dict>
								<key>Digest</key>
								<data>
								NQFmXygJyMTP
								2x2oyy8tTg==
								</data>
								<key>Size</key>
								<integer>125547</integer>
							</dict>
							<key>files/stacks-image-e712d99-100x100.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								R24329s2duqF
								xZi540Gd9g==
								</data>
								<key>Size</key>
								<integer>6415</integer>
							</dict>
							<key>files/stacks-image-e712d99-100x100@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Aoo1avBqLABw
								SXplyiqPxw==
								</data>
								<key>Size</key>
								<integer>7844</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Hwezk6t72J5g
								2awHy7YAqA==
								</data>
								<key>Size</key>
								<integer>19470</integer>
							</dict>
							<key>files/stacks-image-fa80dc2-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B/TRO3fW6Cnj
								nB65SyJdyg==
								</data>
								<key>Size</key>
								<integer>101541</integer>
							</dict>
							<key>files/stacks-image-faf7292-250x374.png</key>
							<dict>
								<key>Digest</key>
								<data>
								1NMs0CmasizJ
								M+LmkQtE1Q==
								</data>
								<key>Size</key>
								<integer>97599</integer>
							</dict>
							<key>files/stacks-image-fecc660-98x150.png</key>
							<dict>
								<key>Digest</key>
								<data>
								E6W+CR/NnDIi
								zIS/T/XN4g==
								</data>
								<key>Size</key>
								<integer>12653</integer>
							</dict>
							<key>files/stacks_page_page83.css</key>
							<dict>
								<key>Digest</key>
								<data>
								AuR2zCvGnVCQ
								XXs8EBSgMA==
								</data>
								<key>Size</key>
								<integer>275024</integer>
							</dict>
							<key>files/stacks_page_page83.js</key>
							<dict>
								<key>Digest</key>
								<data>
								666NPOmCQVlo
								zLz2FczJrg==
								</data>
								<key>Size</key>
								<integer>25277</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								mYEwwJlXJEdp
								CLeGLwUOvw==
								</data>
								<key>Size</key>
								<integer>241398</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page83</string>
						<key>SiteRoot</key>
						<string>events/cnww/page-6</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
