<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:31Z</date>
				<key>ID</key>
				<string>page7</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>PhD in Complex Systems and Data Science</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.6.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2018-06-25T22:45:43Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/medium_525351.png</key>
							<dict>
								<key>Digest</key>
								<data>
								nADf6fHxau4a
								G2s0VctITQ==
								</data>
								<key>Size</key>
								<integer>144349</integer>
							</dict>
							<key>files/medium_525445.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ThbhVSq18Yh6
								MTZGDSx1Cw==
								</data>
								<key>Size</key>
								<integer>271685</integer>
							</dict>
							<key>files/medium_526278.png</key>
							<dict>
								<key>Digest</key>
								<data>
								yqKjmXAuuI/H
								V55dPXO2oQ==
								</data>
								<key>Size</key>
								<integer>45933</integer>
							</dict>
							<key>files/medium_526287.png</key>
							<dict>
								<key>Digest</key>
								<data>
								OBWec4/ieOTo
								L7hd4VHCrA==
								</data>
								<key>Size</key>
								<integer>146901</integer>
							</dict>
							<key>files/medium_526288.png</key>
							<dict>
								<key>Digest</key>
								<data>
								nADf6fHxau4a
								G2s0VctITQ==
								</data>
								<key>Size</key>
								<integer>144349</integer>
							</dict>
							<key>files/medium_526394.png</key>
							<dict>
								<key>Digest</key>
								<data>
								LCzEOs4yhmNp
								bETe2M5GKA==
								</data>
								<key>Size</key>
								<integer>822643</integer>
							</dict>
							<key>files/medium_526405.png</key>
							<dict>
								<key>Digest</key>
								<data>
								uWl3k16UEdoh
								a8GrMT6CrQ==
								</data>
								<key>Size</key>
								<integer>46033</integer>
							</dict>
							<key>files/small_525351.png</key>
							<dict>
								<key>Digest</key>
								<data>
								RQpG5l32LHX7
								TAk8lyjNOg==
								</data>
								<key>Size</key>
								<integer>181544</integer>
							</dict>
							<key>files/small_525391.png</key>
							<dict>
								<key>Digest</key>
								<data>
								XcZgaCJaWS+I
								s2qxConoJg==
								</data>
								<key>Size</key>
								<integer>297020</integer>
							</dict>
							<key>files/small_525445.png</key>
							<dict>
								<key>Digest</key>
								<data>
								n9wWAOxLo/Lt
								BaYSFx1EpQ==
								</data>
								<key>Size</key>
								<integer>124521</integer>
							</dict>
							<key>files/small_525544.png</key>
							<dict>
								<key>Digest</key>
								<data>
								aVucEX/LGt4i
								ajwJpZoRNg==
								</data>
								<key>Size</key>
								<integer>69167</integer>
							</dict>
							<key>files/small_525567.png</key>
							<dict>
								<key>Digest</key>
								<data>
								b3O8Q72TM7st
								943t+oEDew==
								</data>
								<key>Size</key>
								<integer>29114</integer>
							</dict>
							<key>files/small_526278.png</key>
							<dict>
								<key>Digest</key>
								<data>
								jtf94fXp6KXK
								x5TjecKAvw==
								</data>
								<key>Size</key>
								<integer>35180</integer>
							</dict>
							<key>files/small_526287.png</key>
							<dict>
								<key>Digest</key>
								<data>
								+ZfXoy5a2FPg
								/q7z41GqMg==
								</data>
								<key>Size</key>
								<integer>39855</integer>
							</dict>
							<key>files/small_526288.png</key>
							<dict>
								<key>Digest</key>
								<data>
								RQpG5l32LHX7
								TAk8lyjNOg==
								</data>
								<key>Size</key>
								<integer>181544</integer>
							</dict>
							<key>files/small_526315.png</key>
							<dict>
								<key>Digest</key>
								<data>
								TwRQXkiOZl3g
								IeSziM45aQ==
								</data>
								<key>Size</key>
								<integer>291484</integer>
							</dict>
							<key>files/small_526345.png</key>
							<dict>
								<key>Digest</key>
								<data>
								S0uNFCz0Hh8y
								dYZ0pT95hg==
								</data>
								<key>Size</key>
								<integer>370048</integer>
							</dict>
							<key>files/small_526394.png</key>
							<dict>
								<key>Digest</key>
								<data>
								GQWckfO3lr5o
								k8kvvmG67Q==
								</data>
								<key>Size</key>
								<integer>410595</integer>
							</dict>
							<key>files/small_526405.png</key>
							<dict>
								<key>Digest</key>
								<data>
								l/pk2fkfAyEW
								r9U/im3grQ==
								</data>
								<key>Size</key>
								<integer>35162</integer>
							</dict>
							<key>files/small_526412.png</key>
							<dict>
								<key>Digest</key>
								<data>
								uKpPGVQrC5+G
								uiQPJW61Bw==
								</data>
								<key>Size</key>
								<integer>109339</integer>
							</dict>
							<key>files/small_526443.png</key>
							<dict>
								<key>Digest</key>
								<data>
								gjAiEhiiqDce
								BVgF116ayA==
								</data>
								<key>Size</key>
								<integer>262942</integer>
							</dict>
							<key>files/small_526451.png</key>
							<dict>
								<key>Digest</key>
								<data>
								SjZ09NdtnBQZ
								WTbIICY9gA==
								</data>
								<key>Size</key>
								<integer>123389</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZFHf9zniv4SK
								z9ywIWAR7Q==
								</data>
								<key>Size</key>
								<integer>124861</integer>
							</dict>
							<key>files/small_p60311_n109628.png</key>
							<dict>
								<key>Digest</key>
								<data>
								pcpK3KZBcBVd
								Ns6QdrLpNA==
								</data>
								<key>Size</key>
								<integer>68548</integer>
							</dict>
							<key>files/stacks_page_page7.css</key>
							<dict>
								<key>Digest</key>
								<data>
								EQRmJJ7i96Fo
								iTEWszzyeA==
								</data>
								<key>Size</key>
								<integer>207114</integer>
							</dict>
							<key>files/stacks_page_page7.js</key>
							<dict>
								<key>Digest</key>
								<data>
								uF6Z/vMYpDTY
								hwm/1Cn45w==
								</data>
								<key>Size</key>
								<integer>24327</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								+dB8G/88+jMg
								bZCl+ZUCKA==
								</data>
								<key>Size</key>
								<integer>120904</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page7</string>
						<key>SiteRoot</key>
						<string>education/phd</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
