<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Participants</string>
				<key>CreatedDate</key>
				<date>2020-05-20T16:58:25Z</date>
				<key>ID</key>
				<string>page101</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Participants</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.3.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2023-08-01T15:23:53Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/DCE79F28-EA60-4789-B85B-36524B50F75A.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								IEzethOiNZT/
								CMFJwRU2Vg==
								</data>
								<key>Size</key>
								<integer>1269226</integer>
							</dict>
							<key>files/stacks-image-047ef2d-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								fsypFSIs+DI6
								Nh43isWG2A==
								</data>
								<key>Size</key>
								<integer>14206</integer>
							</dict>
							<key>files/stacks-image-0c3ab08-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ftdtTIoGSFHM
								MQ7zGxi3OQ==
								</data>
								<key>Size</key>
								<integer>13004</integer>
							</dict>
							<key>files/stacks-image-0c3ab08-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								fKA/IJSByGi2
								gUuiYuNKXw==
								</data>
								<key>Size</key>
								<integer>19008</integer>
							</dict>
							<key>files/stacks-image-0c4d84f-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								0sn+9kUDl9mS
								A/Gw5HYZvg==
								</data>
								<key>Size</key>
								<integer>21700</integer>
							</dict>
							<key>files/stacks-image-0c4d84f-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								GotGJBbcVOm4
								H2toOFh+Zw==
								</data>
								<key>Size</key>
								<integer>45931</integer>
							</dict>
							<key>files/stacks-image-0da047a-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								sZi68UhPDKuP
								FWoNbFC3Fw==
								</data>
								<key>Size</key>
								<integer>9478</integer>
							</dict>
							<key>files/stacks-image-0ff36b0-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Gqrbom5PuuBd
								4eYqiptZ9g==
								</data>
								<key>Size</key>
								<integer>14574</integer>
							</dict>
							<key>files/stacks-image-0ff36b0-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								QSNe0UljoE21
								DGsKY0O1+w==
								</data>
								<key>Size</key>
								<integer>28029</integer>
							</dict>
							<key>files/stacks-image-12f961e-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ETTGPuzHy9MJ
								oU3Wvz7znQ==
								</data>
								<key>Size</key>
								<integer>17814</integer>
							</dict>
							<key>files/stacks-image-12f961e-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								sPedki2hxpAd
								l7gFHujzxw==
								</data>
								<key>Size</key>
								<integer>29324</integer>
							</dict>
							<key>files/stacks-image-17909e9.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								lhpvtxppIH0m
								nqm/91RtuA==
								</data>
								<key>Size</key>
								<integer>10665</integer>
							</dict>
							<key>files/stacks-image-17d57e6-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								jsVXTp2Aa9S2
								R/H3Hnt7DQ==
								</data>
								<key>Size</key>
								<integer>12024</integer>
							</dict>
							<key>files/stacks-image-17d57e6-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								J1McvwdftBR1
								Vc8hSeX4kg==
								</data>
								<key>Size</key>
								<integer>17699</integer>
							</dict>
							<key>files/stacks-image-19d7853-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								R+4O8+8N8KZx
								wkSLVgfqyw==
								</data>
								<key>Size</key>
								<integer>12327</integer>
							</dict>
							<key>files/stacks-image-19d7853-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								/nliiLLOYJnY
								meG8UdDH9g==
								</data>
								<key>Size</key>
								<integer>16829</integer>
							</dict>
							<key>files/stacks-image-1c680c5-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								xaZ6sh/CrAzN
								En2N/tfb/g==
								</data>
								<key>Size</key>
								<integer>15784</integer>
							</dict>
							<key>files/stacks-image-1c680c5-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								fOb+3p+SWxeg
								BI8W2oacAQ==
								</data>
								<key>Size</key>
								<integer>23938</integer>
							</dict>
							<key>files/stacks-image-1ce2711-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								OasN0mreKTGi
								3uEx9ejPjw==
								</data>
								<key>Size</key>
								<integer>14586</integer>
							</dict>
							<key>files/stacks-image-1ce2711-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								mQBFXvAfrYcT
								KnLp564a/A==
								</data>
								<key>Size</key>
								<integer>20721</integer>
							</dict>
							<key>files/stacks-image-1ef886b-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								weP8WNnnk2Lj
								T/UdBQI93Q==
								</data>
								<key>Size</key>
								<integer>88381</integer>
							</dict>
							<key>files/stacks-image-1ef886b-200x200@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								8WkO0+aJggqf
								fJ1IxIwBuw==
								</data>
								<key>Size</key>
								<integer>333701</integer>
							</dict>
							<key>files/stacks-image-22e8a03-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								xh51Jm+dNPOr
								4MuePr1img==
								</data>
								<key>Size</key>
								<integer>19222</integer>
							</dict>
							<key>files/stacks-image-22e8a03-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								8Ro0nur5WsIK
								zZw1Ep+9bA==
								</data>
								<key>Size</key>
								<integer>30203</integer>
							</dict>
							<key>files/stacks-image-23ffbd4-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								RVahjtP508nR
								SjCXLczM8A==
								</data>
								<key>Size</key>
								<integer>12663</integer>
							</dict>
							<key>files/stacks-image-23ffbd4-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								X04I6fN+Z61h
								22MWtYsYVw==
								</data>
								<key>Size</key>
								<integer>20974</integer>
							</dict>
							<key>files/stacks-image-242732d-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								TxH8N/tjlmHI
								aZ6EOvlWwg==
								</data>
								<key>Size</key>
								<integer>11906</integer>
							</dict>
							<key>files/stacks-image-242732d-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Wi2TQ8mRafjA
								/sp8IO3OLw==
								</data>
								<key>Size</key>
								<integer>17369</integer>
							</dict>
							<key>files/stacks-image-27c807c-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								bIhU0Jq98IwZ
								VxW0qf+Uqw==
								</data>
								<key>Size</key>
								<integer>13826</integer>
							</dict>
							<key>files/stacks-image-27c807c-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Gb5CLcgKuJup
								HNFfMPjOqQ==
								</data>
								<key>Size</key>
								<integer>19161</integer>
							</dict>
							<key>files/stacks-image-2825ae3-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								yjklS1CceNBW
								QEO02s62LA==
								</data>
								<key>Size</key>
								<integer>16447</integer>
							</dict>
							<key>files/stacks-image-2825ae3-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								CRWJ9BtLar/k
								FtVxi/jDkQ==
								</data>
								<key>Size</key>
								<integer>29415</integer>
							</dict>
							<key>files/stacks-image-29e8d36-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								iMTdNv0yhaFe
								3Jmg4Bqs/A==
								</data>
								<key>Size</key>
								<integer>11001</integer>
							</dict>
							<key>files/stacks-image-29e8d36-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								K45oX72RLKUO
								KGasEvT7Ug==
								</data>
								<key>Size</key>
								<integer>16469</integer>
							</dict>
							<key>files/stacks-image-2a5403a-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								nlgvKjsyvOj6
								57DSPFP3dA==
								</data>
								<key>Size</key>
								<integer>9994</integer>
							</dict>
							<key>files/stacks-image-2a5403a-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								DEkHr05CU2HF
								byXkSFtOpQ==
								</data>
								<key>Size</key>
								<integer>13809</integer>
							</dict>
							<key>files/stacks-image-2bc1e68-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								TmlWg0nuHcxM
								dB5ygJ4qBw==
								</data>
								<key>Size</key>
								<integer>19094</integer>
							</dict>
							<key>files/stacks-image-2bc1e68-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								nlyP9iiqx540
								+cIGvuQU6g==
								</data>
								<key>Size</key>
								<integer>31152</integer>
							</dict>
							<key>files/stacks-image-2c96516-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								GZLTMY7Enzc/
								0pZAGVU0eg==
								</data>
								<key>Size</key>
								<integer>56179</integer>
							</dict>
							<key>files/stacks-image-2c96516-200x200@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								A4xmwN0yws48
								lFJPm7EA+g==
								</data>
								<key>Size</key>
								<integer>208090</integer>
							</dict>
							<key>files/stacks-image-317ba69-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								1WJi6DZGXnCz
								EaD4r2s1Aw==
								</data>
								<key>Size</key>
								<integer>14551</integer>
							</dict>
							<key>files/stacks-image-451d091-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								8GcwiYpCcH1R
								0z3ojQBPrg==
								</data>
								<key>Size</key>
								<integer>13297</integer>
							</dict>
							<key>files/stacks-image-451d091-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								myf9ENNbkbqF
								RXDbV5TxdA==
								</data>
								<key>Size</key>
								<integer>19683</integer>
							</dict>
							<key>files/stacks-image-4905015-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								PL02QUqYTkGA
								d6JSkz4H1g==
								</data>
								<key>Size</key>
								<integer>17230</integer>
							</dict>
							<key>files/stacks-image-4905015-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								KdfnU1ngXico
								anEjYmbyWg==
								</data>
								<key>Size</key>
								<integer>30709</integer>
							</dict>
							<key>files/stacks-image-4ef3191-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								58hexJRCCuwQ
								Af+d843cDg==
								</data>
								<key>Size</key>
								<integer>23077</integer>
							</dict>
							<key>files/stacks-image-527e6ed-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								NYmMtP8FPmGS
								Ua+Spq07oQ==
								</data>
								<key>Size</key>
								<integer>12608</integer>
							</dict>
							<key>files/stacks-image-527e6ed-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								okNp6PYWV+mA
								GtQrkF4RqQ==
								</data>
								<key>Size</key>
								<integer>18253</integer>
							</dict>
							<key>files/stacks-image-5f2eada-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								JI1RFPkaaZMv
								CsRY1DmesQ==
								</data>
								<key>Size</key>
								<integer>11294</integer>
							</dict>
							<key>files/stacks-image-5f2eada-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								UTVIJmcz4806
								TbsISyl8dA==
								</data>
								<key>Size</key>
								<integer>16837</integer>
							</dict>
							<key>files/stacks-image-611acd6-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								8KTXui0vzz1B
								X4bmGFN2lw==
								</data>
								<key>Size</key>
								<integer>18121</integer>
							</dict>
							<key>files/stacks-image-611acd6-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								XEJRh9CwPg5E
								t1Kj8S5ZlA==
								</data>
								<key>Size</key>
								<integer>30153</integer>
							</dict>
							<key>files/stacks-image-6a6e912-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Dc+G3ZDi0NVL
								Lmry+UWyMQ==
								</data>
								<key>Size</key>
								<integer>18153</integer>
							</dict>
							<key>files/stacks-image-6a6e912-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								1/s/0M29v9EG
								HD49vG+XfA==
								</data>
								<key>Size</key>
								<integer>28377</integer>
							</dict>
							<key>files/stacks-image-77b1041-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Dc+G3ZDi0NVL
								Lmry+UWyMQ==
								</data>
								<key>Size</key>
								<integer>18153</integer>
							</dict>
							<key>files/stacks-image-77b1041-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								1/s/0M29v9EG
								HD49vG+XfA==
								</data>
								<key>Size</key>
								<integer>28377</integer>
							</dict>
							<key>files/stacks-image-77ba45f-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								w6T5RlxeUY0u
								QmX1Elsq/w==
								</data>
								<key>Size</key>
								<integer>16239</integer>
							</dict>
							<key>files/stacks-image-77ba45f-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								fX44gOgTwPsM
								+fD05WfAyw==
								</data>
								<key>Size</key>
								<integer>30043</integer>
							</dict>
							<key>files/stacks-image-7c2ac19-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Ni9juv1imJC3
								AiIs/Lmuzg==
								</data>
								<key>Size</key>
								<integer>12205</integer>
							</dict>
							<key>files/stacks-image-7c2ac19-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								v/lZQEq3w5Jl
								FgcFFWv8rA==
								</data>
								<key>Size</key>
								<integer>17248</integer>
							</dict>
							<key>files/stacks-image-7d30c60-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								xaZ6sh/CrAzN
								En2N/tfb/g==
								</data>
								<key>Size</key>
								<integer>15784</integer>
							</dict>
							<key>files/stacks-image-7d30c60-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								fOb+3p+SWxeg
								BI8W2oacAQ==
								</data>
								<key>Size</key>
								<integer>23938</integer>
							</dict>
							<key>files/stacks-image-85deaaf.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								sI77WkrBeU4n
								HaJUPPM2BA==
								</data>
								<key>Size</key>
								<integer>11013</integer>
							</dict>
							<key>files/stacks-image-87ed1e6-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Zz9iRXjJl5JN
								vSxTPDR7dw==
								</data>
								<key>Size</key>
								<integer>85012</integer>
							</dict>
							<key>files/stacks-image-88f885f-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								tJy6E+9vehd/
								PW+b6M0Gkw==
								</data>
								<key>Size</key>
								<integer>14502</integer>
							</dict>
							<key>files/stacks-image-88f885f-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								22P4zQia2Jve
								XSfEG/+cRQ==
								</data>
								<key>Size</key>
								<integer>21918</integer>
							</dict>
							<key>files/stacks-image-89d1ae9-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								LyMcekwY1nCc
								HoKyhJ/Kzw==
								</data>
								<key>Size</key>
								<integer>16969</integer>
							</dict>
							<key>files/stacks-image-89d1ae9-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								d31AeFkkkPi6
								OhSE4atBYw==
								</data>
								<key>Size</key>
								<integer>26684</integer>
							</dict>
							<key>files/stacks-image-8c0a7e9-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								HmG0dVDDlxF1
								dnty35+Big==
								</data>
								<key>Size</key>
								<integer>17847</integer>
							</dict>
							<key>files/stacks-image-8c0a7e9-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								eFAnRiUIuSe+
								nVW9uAw2xw==
								</data>
								<key>Size</key>
								<integer>28890</integer>
							</dict>
							<key>files/stacks-image-8edf16e-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								2DXBUs8cMIsn
								FagEVc49lg==
								</data>
								<key>Size</key>
								<integer>10991</integer>
							</dict>
							<key>files/stacks-image-8edf16e-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								gDn1UCpMMdQU
								s+1wOk0E8Q==
								</data>
								<key>Size</key>
								<integer>14869</integer>
							</dict>
							<key>files/stacks-image-90333e9-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Dc+G3ZDi0NVL
								Lmry+UWyMQ==
								</data>
								<key>Size</key>
								<integer>18153</integer>
							</dict>
							<key>files/stacks-image-90333e9-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								1/s/0M29v9EG
								HD49vG+XfA==
								</data>
								<key>Size</key>
								<integer>28377</integer>
							</dict>
							<key>files/stacks-image-92b0bb9-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								yiq4+6Ow2JAo
								6shD1Mk83g==
								</data>
								<key>Size</key>
								<integer>15606</integer>
							</dict>
							<key>files/stacks-image-92b0bb9-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								V+RQlW6vXI6M
								/33sNfD9gw==
								</data>
								<key>Size</key>
								<integer>24054</integer>
							</dict>
							<key>files/stacks-image-96fecce-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								X+V7/lzwT/94
								pwRcPsX1Ig==
								</data>
								<key>Size</key>
								<integer>19930</integer>
							</dict>
							<key>files/stacks-image-96fecce-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								jE4vcstOSkoR
								/XfKcmvETQ==
								</data>
								<key>Size</key>
								<integer>40581</integer>
							</dict>
							<key>files/stacks-image-9b57602-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								8ZzW2sFefq/M
								bx70N0kSwg==
								</data>
								<key>Size</key>
								<integer>18855</integer>
							</dict>
							<key>files/stacks-image-9b57602-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								BIgOpAmpbp2n
								/aVLLqsA2w==
								</data>
								<key>Size</key>
								<integer>31007</integer>
							</dict>
							<key>files/stacks-image-9f55d52-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								vpZmEr8Uokh7
								vvg2kJvdIQ==
								</data>
								<key>Size</key>
								<integer>12715</integer>
							</dict>
							<key>files/stacks-image-9f55d52-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								AbrJ0Ud7c4tQ
								flu3NemGKA==
								</data>
								<key>Size</key>
								<integer>17432</integer>
							</dict>
							<key>files/stacks-image-a1090e0-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								GT1vrgjE26zL
								k3C9wzCeyQ==
								</data>
								<key>Size</key>
								<integer>25236</integer>
							</dict>
							<key>files/stacks-image-a1090e0-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								uoShhdWCAoWl
								K1c1BS6SJA==
								</data>
								<key>Size</key>
								<integer>49585</integer>
							</dict>
							<key>files/stacks-image-a302ea6-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								lAhiL6XaMW/r
								9lKpaNx0Zw==
								</data>
								<key>Size</key>
								<integer>17689</integer>
							</dict>
							<key>files/stacks-image-a302ea6-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Nke27kcTe1MV
								5rf5jUaZCQ==
								</data>
								<key>Size</key>
								<integer>34301</integer>
							</dict>
							<key>files/stacks-image-a3ccfd4-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								6Ls3QIZ3cDnu
								UDP6k9mG2w==
								</data>
								<key>Size</key>
								<integer>19380</integer>
							</dict>
							<key>files/stacks-image-a3ccfd4-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								LwhSz607/3uv
								kvfyJH4hBw==
								</data>
								<key>Size</key>
								<integer>31200</integer>
							</dict>
							<key>files/stacks-image-afab053-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								i2DGQjWWanx0
								xA1kXysg3Q==
								</data>
								<key>Size</key>
								<integer>10632</integer>
							</dict>
							<key>files/stacks-image-afab053-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								OOXz/vsLJuao
								9Br1yVQDrw==
								</data>
								<key>Size</key>
								<integer>14711</integer>
							</dict>
							<key>files/stacks-image-c17d304-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								q0Y+/tdB7pH0
								WE1bfYMlSg==
								</data>
								<key>Size</key>
								<integer>11755</integer>
							</dict>
							<key>files/stacks-image-c17d304-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								C4r7awrHpMTX
								+QffcDCehg==
								</data>
								<key>Size</key>
								<integer>16593</integer>
							</dict>
							<key>files/stacks-image-c28368e-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								jiUX6piOsF6h
								2GZWk1zoyw==
								</data>
								<key>Size</key>
								<integer>77539</integer>
							</dict>
							<key>files/stacks-image-c28368e-200x200@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								xtWPRJkpf9gi
								QdqyofGrQQ==
								</data>
								<key>Size</key>
								<integer>301816</integer>
							</dict>
							<key>files/stacks-image-c667c34-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								TmlWg0nuHcxM
								dB5ygJ4qBw==
								</data>
								<key>Size</key>
								<integer>19094</integer>
							</dict>
							<key>files/stacks-image-c667c34-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								nlyP9iiqx540
								+cIGvuQU6g==
								</data>
								<key>Size</key>
								<integer>31152</integer>
							</dict>
							<key>files/stacks-image-c91c1e5-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								wuOrCaDhGU2s
								QqSibwUHkA==
								</data>
								<key>Size</key>
								<integer>14812</integer>
							</dict>
							<key>files/stacks-image-c91c1e5-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								fUGQuPWwEPwY
								Xzqa7Ef0yg==
								</data>
								<key>Size</key>
								<integer>21190</integer>
							</dict>
							<key>files/stacks-image-cbb86c5-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								58hexJRCCuwQ
								Af+d843cDg==
								</data>
								<key>Size</key>
								<integer>23077</integer>
							</dict>
							<key>files/stacks-image-d1d7693-1200x398.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								H3Xg1P0VjAZ4
								Qjqa5qvnKQ==
								</data>
								<key>Size</key>
								<integer>144885</integer>
							</dict>
							<key>files/stacks-image-e09c1b7-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								dwpgfwSVBCO7
								PXTkT3kqTQ==
								</data>
								<key>Size</key>
								<integer>85884</integer>
							</dict>
							<key>files/stacks-image-e19f1bc-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								VU0j4cNAhaP2
								Rw1QN20zpg==
								</data>
								<key>Size</key>
								<integer>89609</integer>
							</dict>
							<key>files/stacks-image-e19f1bc-200x200@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								VkwUB67H7vyJ
								nDAlRwtRRA==
								</data>
								<key>Size</key>
								<integer>325411</integer>
							</dict>
							<key>files/stacks-image-e31493c-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								VBP7BnCePW7R
								z7MN6Xflew==
								</data>
								<key>Size</key>
								<integer>14002</integer>
							</dict>
							<key>files/stacks-image-e31493c-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								+PAAmE7Os2+L
								dhhej+GNGA==
								</data>
								<key>Size</key>
								<integer>20432</integer>
							</dict>
							<key>files/stacks-image-e32d835-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								MTLRu0ToeXqI
								NukW0aR3ag==
								</data>
								<key>Size</key>
								<integer>13233</integer>
							</dict>
							<key>files/stacks-image-e559cc7-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								L/n3V+1FFowB
								DuyAJXT3cg==
								</data>
								<key>Size</key>
								<integer>82420</integer>
							</dict>
							<key>files/stacks-image-e559cc7-200x200@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								2PKqpLBrcrBC
								NwKU9APLOg==
								</data>
								<key>Size</key>
								<integer>277890</integer>
							</dict>
							<key>files/stacks-image-e7ed632-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								GpPd8SYkIvL7
								H+Es6OrCjg==
								</data>
								<key>Size</key>
								<integer>11202</integer>
							</dict>
							<key>files/stacks-image-e7ed632-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								vmn3zNvpsN60
								hdEOUmMXkQ==
								</data>
								<key>Size</key>
								<integer>15464</integer>
							</dict>
							<key>files/stacks-image-e9268cb-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								kWOF4LThGeQt
								BAz5637U5g==
								</data>
								<key>Size</key>
								<integer>78236</integer>
							</dict>
							<key>files/stacks-image-e9268cb-200x200@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								jIdcoC+LVAn8
								2gBkjjNQKg==
								</data>
								<key>Size</key>
								<integer>310040</integer>
							</dict>
							<key>files/stacks-image-f2ce94f-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								NiiTlTbPrQAS
								4F89jhsxbw==
								</data>
								<key>Size</key>
								<integer>9427</integer>
							</dict>
							<key>files/stacks-image-f2ce94f-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								c91AvHDkvQ5K
								20ZAXtWe5w==
								</data>
								<key>Size</key>
								<integer>13419</integer>
							</dict>
							<key>files/stacks-image-f419c7d-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Hku9YPFhD+Za
								QDPIqGLNCg==
								</data>
								<key>Size</key>
								<integer>16070</integer>
							</dict>
							<key>files/stacks-image-f5c0b93-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								dc9uyToGbBn7
								hP8cU2ZEeQ==
								</data>
								<key>Size</key>
								<integer>13713</integer>
							</dict>
							<key>files/stacks-image-f5c0b93-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								VyYZH8h0ksN5
								qtiXUgGc/w==
								</data>
								<key>Size</key>
								<integer>19380</integer>
							</dict>
							<key>files/stacks-image-fc196d2-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								2RR2aDvflnqd
								xGhQKMACNA==
								</data>
								<key>Size</key>
								<integer>18661</integer>
							</dict>
							<key>files/stacks-image-fc196d2-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								A726x8HJt0jR
								8n2lgMCJIw==
								</data>
								<key>Size</key>
								<integer>29860</integer>
							</dict>
							<key>files/stacks-image-fd80e70-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								HFkXckVbAxFk
								J6sgiFcnAg==
								</data>
								<key>Size</key>
								<integer>16424</integer>
							</dict>
							<key>files/stacks-image-fd80e70-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								D+qE871qIqEU
								A3l+II30rA==
								</data>
								<key>Size</key>
								<integer>25668</integer>
							</dict>
							<key>files/stacks_page_page101.css</key>
							<dict>
								<key>Digest</key>
								<data>
								eP3msuerr1ga
								6Bephc/QNA==
								</data>
								<key>Size</key>
								<integer>223909</integer>
							</dict>
							<key>files/stacks_page_page101.js</key>
							<dict>
								<key>Digest</key>
								<data>
								DyxmtWsuoQ7x
								7tB6T+SYuQ==
								</data>
								<key>Size</key>
								<integer>30601</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								h8ZTRNHjCZqj
								7ffmixkhLw==
								</data>
								<key>Size</key>
								<integer>208310</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page101</string>
						<key>SiteRoot</key>
						<string>events/cnww/CNWW-Virtual/page-15</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
