<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>publice house</string>
				<key>CreatedDate</key>
				<date>2020-05-20T16:58:25Z</date>
				<key>ID</key>
				<string>page96</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Pub</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.2.4</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2022-05-16T19:49:35Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/DCE79F28-EA60-4789-B85B-36524B50F75A.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								IEzethOiNZT/
								CMFJwRU2Vg==
								</data>
								<key>Size</key>
								<integer>1269226</integer>
							</dict>
							<key>files/stacks-image-0ccd1b9-1200x398.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								mMvxlr+JuzHT
								zLmSWco7Nw==
								</data>
								<key>Size</key>
								<integer>144886</integer>
							</dict>
							<key>files/stacks-image-34cc10a.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								QHXl7wglntvn
								yedoEP+YqQ==
								</data>
								<key>Size</key>
								<integer>136921</integer>
							</dict>
							<key>files/stacks-image-36684ae-800x800.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								PJTvIIH0IkEU
								8uFZggjgSQ==
								</data>
								<key>Size</key>
								<integer>172507</integer>
							</dict>
							<key>files/stacks-image-36684ae-800x800@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								oPe4ohv8mtVr
								dEyP8TrVEA==
								</data>
								<key>Size</key>
								<integer>278498</integer>
							</dict>
							<key>files/stacks-image-42c23c5.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ZP2EZKfwm/Ur
								LDN13qvvcw==
								</data>
								<key>Size</key>
								<integer>351747</integer>
							</dict>
							<key>files/stacks-image-509bb6d.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								w4oMAgThW/tc
								I4snnRFP1Q==
								</data>
								<key>Size</key>
								<integer>47287</integer>
							</dict>
							<key>files/stacks-image-544219d.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								epNjkFu4g8go
								ONPreVAE0g==
								</data>
								<key>Size</key>
								<integer>246585</integer>
							</dict>
							<key>files/stacks-image-5e79179-630x800.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								utlABtHhwLm8
								1ul7XcSNBQ==
								</data>
								<key>Size</key>
								<integer>139714</integer>
							</dict>
							<key>files/stacks-image-792faf6.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								73awfTtYOqRp
								VOl/cDE9bQ==
								</data>
								<key>Size</key>
								<integer>485234</integer>
							</dict>
							<key>files/stacks-image-8753fa7-800x800.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								PJTvIIH0IkEU
								8uFZggjgSQ==
								</data>
								<key>Size</key>
								<integer>172507</integer>
							</dict>
							<key>files/stacks-image-8753fa7-800x800@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								oPe4ohv8mtVr
								dEyP8TrVEA==
								</data>
								<key>Size</key>
								<integer>278498</integer>
							</dict>
							<key>files/stacks-image-8784d5b.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								w4oMAgThW/tc
								I4snnRFP1Q==
								</data>
								<key>Size</key>
								<integer>47287</integer>
							</dict>
							<key>files/stacks-image-8de494a-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								/a7xXwG5WCc9
								AujSDRC5Bg==
								</data>
								<key>Size</key>
								<integer>52989</integer>
							</dict>
							<key>files/stacks-image-8de494a-400x400@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								s93qUHbqADLc
								KZUWKQyfgQ==
								</data>
								<key>Size</key>
								<integer>103108</integer>
							</dict>
							<key>files/stacks-image-902a536.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								vSA88M5om05E
								3UpXzceSLA==
								</data>
								<key>Size</key>
								<integer>608197</integer>
							</dict>
							<key>files/stacks-image-bbbcf93.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ZP2EZKfwm/Ur
								LDN13qvvcw==
								</data>
								<key>Size</key>
								<integer>351747</integer>
							</dict>
							<key>files/stacks-image-f3fc7e9-800x600.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								MAGRcpsm0kT8
								U3NL03p8Aw==
								</data>
								<key>Size</key>
								<integer>138312</integer>
							</dict>
							<key>files/stacks-image-f3fc7e9-800x600@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								lg4fVnsYeoKb
								df0lhwn0PA==
								</data>
								<key>Size</key>
								<integer>253612</integer>
							</dict>
							<key>files/stacks-image-fc33763-1200x1200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								jnkCcxwBbSU8
								cQSkRdz2LQ==
								</data>
								<key>Size</key>
								<integer>379101</integer>
							</dict>
							<key>files/stacks_page_page96.css</key>
							<dict>
								<key>Digest</key>
								<data>
								vR7u3ZwxsJ/K
								dD1u6Z3Ceg==
								</data>
								<key>Size</key>
								<integer>94119</integer>
							</dict>
							<key>files/stacks_page_page96.js</key>
							<dict>
								<key>Digest</key>
								<data>
								K1OPQb63m8Rf
								WKaqMRugKg==
								</data>
								<key>Size</key>
								<integer>21456</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								Nmcdb/x1N70t
								V1tmbeJrbA==
								</data>
								<key>Size</key>
								<integer>46052</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page96</string>
						<key>SiteRoot</key>
						<string>events/cnww/CNWW-Virtual/pub</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
