<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page66</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Vermont Computer Science Alliance</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.0.3</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-11-20T14:29:28Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small_109886.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Yb+L/heiX6tP
								YliFF2auMA==
								</data>
								<key>Size</key>
								<integer>269913</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								C82d5dfws9q4
								DDOA2BFu1w==
								</data>
								<key>Size</key>
								<integer>35273</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								v/SijtX2gRco
								SwESRI9B4g==
								</data>
								<key>Size</key>
								<integer>68378</integer>
							</dict>
							<key>files/stacks-image-1139604-1198x776.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								+hXeKXWS7yXq
								Oc88jLW7Rw==
								</data>
								<key>Size</key>
								<integer>85441</integer>
							</dict>
							<key>files/stacks-image-1139604-1198x776@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								/o0EGfquY1q9
								MUqPAD4lkw==
								</data>
								<key>Size</key>
								<integer>165189</integer>
							</dict>
							<key>files/stacks-image-e33bcc7-650x198.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								JA0ywVzz4wHB
								uiG+PSLhZQ==
								</data>
								<key>Size</key>
								<integer>24569</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								IcJyU76V543g
								RUdnIXKzHw==
								</data>
								<key>Size</key>
								<integer>19481</integer>
							</dict>
							<key>files/stacks_page_page66.css</key>
							<dict>
								<key>Digest</key>
								<data>
								ztWR7HKXK7np
								7d/Kac/vVQ==
								</data>
								<key>Size</key>
								<integer>101989</integer>
							</dict>
							<key>files/stacks_page_page66.js</key>
							<dict>
								<key>Digest</key>
								<data>
								lLVBeshFzLoB
								OTRI2voj2Q==
								</data>
								<key>Size</key>
								<integer>23887</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								h+QrCik88tKD
								XuFHtTQCBQ==
								</data>
								<key>Size</key>
								<integer>39791</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page66</string>
						<key>SiteRoot</key>
						<string>events/VCSA</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
