<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:32Z</date>
				<key>ID</key>
				<string>page13</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Press </string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.0.4</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2021-05-06T14:55:49Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small-109623-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/small-109710-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JfxF8Omi0icK
								xIwohpIZqw==
								</data>
								<key>Size</key>
								<integer>77487</integer>
							</dict>
							<key>files/small-109714-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2NMhf1k+YDl
								uPpd6H1dBw==
								</data>
								<key>Size</key>
								<integer>15019</integer>
							</dict>
							<key>files/small-109735-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D2nm4R7babci
								2M5NjfUDZQ==
								</data>
								<key>Size</key>
								<integer>18925</integer>
							</dict>
							<key>files/small-109736-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgRiuB3NhhIh
								SwZTifI18g==
								</data>
								<key>Size</key>
								<integer>21987</integer>
							</dict>
							<key>files/stacks-image-02561eb-150x92.png</key>
							<dict>
								<key>Digest</key>
								<data>
								420kOaqJgiP6
								6MShN4ozrg==
								</data>
								<key>Size</key>
								<integer>16434</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								C82d5dfws9q4
								DDOA2BFu1w==
								</data>
								<key>Size</key>
								<integer>35273</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								v/SijtX2gRco
								SwESRI9B4g==
								</data>
								<key>Size</key>
								<integer>68378</integer>
							</dict>
							<key>files/stacks-image-0c9f04e-150x98.png</key>
							<dict>
								<key>Digest</key>
								<data>
								l9xP1unqG8jk
								wNUUWez+rg==
								</data>
								<key>Size</key>
								<integer>36470</integer>
							</dict>
							<key>files/stacks-image-0d315c7-126x150.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								PllHGWmEgSuf
								Jcf4nR2D2Q==
								</data>
								<key>Size</key>
								<integer>10882</integer>
							</dict>
							<key>files/stacks-image-20a9b85-148x112.png</key>
							<dict>
								<key>Digest</key>
								<data>
								cj91oe0FLrxQ
								N8BAyPex7A==
								</data>
								<key>Size</key>
								<integer>21455</integer>
							</dict>
							<key>files/stacks-image-288a3eb-148x48.png</key>
							<dict>
								<key>Digest</key>
								<data>
								do2lmetkYgto
								A0u2ey2KHw==
								</data>
								<key>Size</key>
								<integer>7682</integer>
							</dict>
							<key>files/stacks-image-29f94dd-150x80.png</key>
							<dict>
								<key>Digest</key>
								<data>
								62eU3/1G5nrQ
								V/RUCvXRpw==
								</data>
								<key>Size</key>
								<integer>11079</integer>
							</dict>
							<key>files/stacks-image-316f1d3-150x178.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Sbb6y03Tk86I
								+bbkf+QV4Q==
								</data>
								<key>Size</key>
								<integer>40342</integer>
							</dict>
							<key>files/stacks-image-357371c-150x110.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Eo5f5sjCP/6x
								+WkpfS5qbw==
								</data>
								<key>Size</key>
								<integer>21912</integer>
							</dict>
							<key>files/stacks-image-369360d-148x82.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								rHKJ80dwzaDX
								mNdyzYwJcg==
								</data>
								<key>Size</key>
								<integer>6234</integer>
							</dict>
							<key>files/stacks-image-3e5d1b9-148x84.png</key>
							<dict>
								<key>Digest</key>
								<data>
								kodMLGE05dze
								Mo4Szmbp+g==
								</data>
								<key>Size</key>
								<integer>30604</integer>
							</dict>
							<key>files/stacks-image-42e96b3-150x98.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								T6f9/6zYOveu
								DXktFYw6sw==
								</data>
								<key>Size</key>
								<integer>7871</integer>
							</dict>
							<key>files/stacks-image-4e29675-150x106.png</key>
							<dict>
								<key>Digest</key>
								<data>
								3AaCQWip8R2k
								DQ0KA4zAjw==
								</data>
								<key>Size</key>
								<integer>36458</integer>
							</dict>
							<key>files/stacks-image-592e55b-1200x694.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								xCaa5dxg/JXK
								5IqOx3V+fg==
								</data>
								<key>Size</key>
								<integer>77152</integer>
							</dict>
							<key>files/stacks-image-5a7224a-150x110.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								XXob0W+Tmhuj
								OrwHWW5G+w==
								</data>
								<key>Size</key>
								<integer>8655</integer>
							</dict>
							<key>files/stacks-image-5c81baf-150x126.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MjHu6oMm8xR9
								xfVtNk5IUQ==
								</data>
								<key>Size</key>
								<integer>25747</integer>
							</dict>
							<key>files/stacks-image-75b8789-150x52.png</key>
							<dict>
								<key>Digest</key>
								<data>
								S1M4y/ItvPal
								OQRZl1sLRg==
								</data>
								<key>Size</key>
								<integer>20558</integer>
							</dict>
							<key>files/stacks-image-78d12af-1200x900.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								3qpEXwyh3ufw
								Vs6qG35jgQ==
								</data>
								<key>Size</key>
								<integer>145924</integer>
							</dict>
							<key>files/stacks-image-874cac4-150x70.png</key>
							<dict>
								<key>Digest</key>
								<data>
								YJWDnercTA7m
								KolgUoF6Xw==
								</data>
								<key>Size</key>
								<integer>10582</integer>
							</dict>
							<key>files/stacks-image-8bf4c8f.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Ydhuiv22wB72
								0oVB0jtaDQ==
								</data>
								<key>Size</key>
								<integer>30576</integer>
							</dict>
							<key>files/stacks-image-931e159.png</key>
							<dict>
								<key>Digest</key>
								<data>
								wHFdVZAtYDow
								YLyieElOOQ==
								</data>
								<key>Size</key>
								<integer>14603</integer>
							</dict>
							<key>files/stacks-image-ac0a62a-150x98.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								U4zdomIOER8f
								6F3tPKj4OQ==
								</data>
								<key>Size</key>
								<integer>5785</integer>
							</dict>
							<key>files/stacks-image-bde58ff-150x74.png</key>
							<dict>
								<key>Digest</key>
								<data>
								e69QQ3jftXpz
								b95618dQ8Q==
								</data>
								<key>Size</key>
								<integer>25414</integer>
							</dict>
							<key>files/stacks-image-bed233e-150x120.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								vsCOrNfmy6tH
								XaiD0N3HqA==
								</data>
								<key>Size</key>
								<integer>8422</integer>
							</dict>
							<key>files/stacks-image-d1216db-150x112.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								hHhte4KHuUeH
								zxi/DHzp9w==
								</data>
								<key>Size</key>
								<integer>6629</integer>
							</dict>
							<key>files/stacks-image-de46789-150x78.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								95gPW/Sp8c+0
								PEEgUWp2hg==
								</data>
								<key>Size</key>
								<integer>9740</integer>
							</dict>
							<key>files/stacks-image-e0d0fba-150x84.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								iQt5nqL51vDC
								CWhjdzD1fw==
								</data>
								<key>Size</key>
								<integer>8389</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								IcJyU76V543g
								RUdnIXKzHw==
								</data>
								<key>Size</key>
								<integer>19481</integer>
							</dict>
							<key>files/stacks-image-fb374a3.png</key>
							<dict>
								<key>Digest</key>
								<data>
								fXbSEcsq1HUa
								n4kpmmayNA==
								</data>
								<key>Size</key>
								<integer>264699</integer>
							</dict>
							<key>files/stacks-image-fdb7bcb-1200x596.png</key>
							<dict>
								<key>Digest</key>
								<data>
								e03yxdKf9uLy
								eYnsX1LPcw==
								</data>
								<key>Size</key>
								<integer>379834</integer>
							</dict>
							<key>files/stacks_page_page13.css</key>
							<dict>
								<key>Digest</key>
								<data>
								0+josj4fHHIx
								HZqPy9QU4g==
								</data>
								<key>Size</key>
								<integer>122725</integer>
							</dict>
							<key>files/stacks_page_page13.js</key>
							<dict>
								<key>Digest</key>
								<data>
								6Kl0iemIu+qe
								MFk5mn5KDw==
								</data>
								<key>Size</key>
								<integer>24472</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								D8evnBnn3pX+
								ruJV8U9nVg==
								</data>
								<key>Size</key>
								<integer>71823</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page13</string>
						<key>SiteRoot</key>
						<string>research/press</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
