<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Virtual CNWW</string>
				<key>CreatedDate</key>
				<date>2020-05-20T16:58:25Z</date>
				<key>ID</key>
				<string>page95</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>CNWW Virtual</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.3.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2023-08-09T17:35:47Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/DCE79F28-EA60-4789-B85B-36524B50F75A.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								IEzethOiNZT/
								CMFJwRU2Vg==
								</data>
								<key>Size</key>
								<integer>1269226</integer>
							</dict>
							<key>files/stacks-image-0564df1-1200x398.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								6QGhrGdBLNZH
								dWEsGkRJMg==
								</data>
								<key>Size</key>
								<integer>147882</integer>
							</dict>
							<key>files/stacks-image-2c71488-500x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								JL1j9lRPXeW6
								cZwj5+3yug==
								</data>
								<key>Size</key>
								<integer>80092</integer>
							</dict>
							<key>files/stacks-image-2c71488-500x500@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								tkun/LRGINwF
								emk7H5mLDA==
								</data>
								<key>Size</key>
								<integer>133084</integer>
							</dict>
							<key>files/stacks-image-4e487e1-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								iQ8XgfeFIQyD
								Gcl0HxDJRw==
								</data>
								<key>Size</key>
								<integer>40119</integer>
							</dict>
							<key>files/stacks-image-5572282-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								vbtx6xPTRleP
								McLr8p6/1w==
								</data>
								<key>Size</key>
								<integer>51462</integer>
							</dict>
							<key>files/stacks-image-55d9607-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								k0bZ1MBUJWx2
								N3bLVQ/Y3Q==
								</data>
								<key>Size</key>
								<integer>49758</integer>
							</dict>
							<key>files/stacks-image-751defd-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								SjGCEV4EAy0e
								L+OVjip0Zw==
								</data>
								<key>Size</key>
								<integer>53140</integer>
							</dict>
							<key>files/stacks-image-8de494a-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								7R02rWSZ/NDu
								bM8abyQ6Og==
								</data>
								<key>Size</key>
								<integer>56002</integer>
							</dict>
							<key>files/stacks-image-8de494a-400x400@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								0EhT0qOZrdFe
								43ktWU2Guw==
								</data>
								<key>Size</key>
								<integer>99668</integer>
							</dict>
							<key>files/stacks-image-91d6538-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								dm/nkVZltOUh
								RvY65WJrrA==
								</data>
								<key>Size</key>
								<integer>53621</integer>
							</dict>
							<key>files/stacks-image-b6446aa-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								qtz1ny7bs+iN
								bssWdiZcdQ==
								</data>
								<key>Size</key>
								<integer>50865</integer>
							</dict>
							<key>files/stacks-image-d4b0169-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								SGYxmKzs0zes
								kI1QMojllA==
								</data>
								<key>Size</key>
								<integer>56106</integer>
							</dict>
							<key>files/stacks-image-fc23ad2-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								1OhJ9G2NIrmz
								T0LMb1S29g==
								</data>
								<key>Size</key>
								<integer>53641</integer>
							</dict>
							<key>files/stacks.css</key>
							<dict>
								<key>Digest</key>
								<data>
								wANifJ2yGeIS
								vLjVRAp1mw==
								</data>
								<key>Size</key>
								<integer>1296</integer>
							</dict>
							<key>files/stacks_in_798_logout.php</key>
							<dict>
								<key>Digest</key>
								<data>
								ngGvqFyiaVPo
								vjSykmcazg==
								</data>
								<key>Size</key>
								<integer>296</integer>
							</dict>
							<key>files/stacks_page_page95.css</key>
							<dict>
								<key>Digest</key>
								<data>
								OMK3HGt7uDyV
								JFpvulcajw==
								</data>
								<key>Size</key>
								<integer>108671</integer>
							</dict>
							<key>files/stacks_page_page95.js</key>
							<dict>
								<key>Digest</key>
								<data>
								Ak8zWYiwrXec
								hS56C3BW3A==
								</data>
								<key>Size</key>
								<integer>20681</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								FTOzP7Q8AanC
								qa5i9shbwA==
								</data>
								<key>Size</key>
								<integer>76049</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page95</string>
						<key>SiteRoot</key>
						<string>events/cnww/CNWW-Virtual</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>ChildPages</string>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
