<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>satellites</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page88</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>ALife Satellites</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.0.4</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-03-09T17:42:21Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/backgroundImage_113139.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Emo4e0JCXjn6
								rDTN/YC8lg==
								</data>
								<key>Size</key>
								<integer>2493452</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/small_p60311_n109710.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JfxF8Omi0icK
								xIwohpIZqw==
								</data>
								<key>Size</key>
								<integer>77487</integer>
							</dict>
							<key>files/small_p60311_n109714.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2NMhf1k+YDl
								uPpd6H1dBw==
								</data>
								<key>Size</key>
								<integer>15019</integer>
							</dict>
							<key>files/small_p60311_n109735.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D2nm4R7babci
								2M5NjfUDZQ==
								</data>
								<key>Size</key>
								<integer>18925</integer>
							</dict>
							<key>files/small_p60311_n109736.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgRiuB3NhhIh
								SwZTifI18g==
								</data>
								<key>Size</key>
								<integer>21987</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								C82d5dfws9q4
								DDOA2BFu1w==
								</data>
								<key>Size</key>
								<integer>35273</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								v/SijtX2gRco
								SwESRI9B4g==
								</data>
								<key>Size</key>
								<integer>68378</integer>
							</dict>
							<key>files/stacks-image-1217683-400x134.png</key>
							<dict>
								<key>Digest</key>
								<data>
								F8775acbTuqU
								3shusZPmjQ==
								</data>
								<key>Size</key>
								<integer>21070</integer>
							</dict>
							<key>files/stacks-image-2618d61-400x282.png</key>
							<dict>
								<key>Digest</key>
								<data>
								RQXS0qcyMxoH
								FHdIW3L8MQ==
								</data>
								<key>Size</key>
								<integer>46185</integer>
							</dict>
							<key>files/stacks-image-40bc0c8-400x80.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								DFkX1dSQLqKu
								GtNDfBa3HA==
								</data>
								<key>Size</key>
								<integer>8554</integer>
							</dict>
							<key>files/stacks-image-61d04d1-400x400.png</key>
							<dict>
								<key>Digest</key>
								<data>
								VCzPqUXtp8N/
								IdEWNbGfaw==
								</data>
								<key>Size</key>
								<integer>19525</integer>
							</dict>
							<key>files/stacks-image-63bfdf1-900x1198.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ASHoYGdez5TZ
								35+Ldnjc+Q==
								</data>
								<key>Size</key>
								<integer>377305</integer>
							</dict>
							<key>files/stacks-image-63bfdf1-900x1198@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								lsujFhrJP8ag
								1o/LxTBUWQ==
								</data>
								<key>Size</key>
								<integer>621093</integer>
							</dict>
							<key>files/stacks-image-6f4f93e-400x338.png</key>
							<dict>
								<key>Digest</key>
								<data>
								CGbunTCbL9pG
								L/iTatvxPA==
								</data>
								<key>Size</key>
								<integer>71256</integer>
							</dict>
							<key>files/stacks-image-83839cd-400x394.png</key>
							<dict>
								<key>Digest</key>
								<data>
								0mRH9zYDjgzh
								0ZLScjBgZA==
								</data>
								<key>Size</key>
								<integer>58654</integer>
							</dict>
							<key>files/stacks-image-ac4e0ef-400x304.png</key>
							<dict>
								<key>Digest</key>
								<data>
								p2hxrDxVguAr
								FByI8jC4rA==
								</data>
								<key>Size</key>
								<integer>49827</integer>
							</dict>
							<key>files/stacks-image-c201a42-400x224.png</key>
							<dict>
								<key>Digest</key>
								<data>
								P+5J/g8IG5D2
								oxYrNNvcpg==
								</data>
								<key>Size</key>
								<integer>25969</integer>
							</dict>
							<key>files/stacks-image-c201a42-400x224@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								pBky+h1SPsSk
								v8dRLksOmg==
								</data>
								<key>Size</key>
								<integer>64219</integer>
							</dict>
							<key>files/stacks-image-e39337e-400x400.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Dn8onP1rXntM
								oZTr56tRdw==
								</data>
								<key>Size</key>
								<integer>44090</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								IcJyU76V543g
								RUdnIXKzHw==
								</data>
								<key>Size</key>
								<integer>19481</integer>
							</dict>
							<key>files/stacks-image-f14609c-400x354.png</key>
							<dict>
								<key>Digest</key>
								<data>
								22rcf2dMPQ+F
								Vpxga1TQiQ==
								</data>
								<key>Size</key>
								<integer>46783</integer>
							</dict>
							<key>files/stacks-image-f581be1-400x378.png</key>
							<dict>
								<key>Digest</key>
								<data>
								GN9/I5DFf8vN
								dw5wfnpFhg==
								</data>
								<key>Size</key>
								<integer>122758</integer>
							</dict>
							<key>files/stacks_page_page88.css</key>
							<dict>
								<key>Digest</key>
								<data>
								nEH7AZdKoaLz
								X1dM8+ssbQ==
								</data>
								<key>Size</key>
								<integer>264152</integer>
							</dict>
							<key>files/stacks_page_page88.js</key>
							<dict>
								<key>Digest</key>
								<data>
								010+FmixyNUT
								Rzo3oKh9Tg==
								</data>
								<key>Size</key>
								<integer>24289</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								YQ3LWZdYevFQ
								aXZBeKvLfA==
								</data>
								<key>Size</key>
								<integer>139732</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page88</string>
						<key>SiteRoot</key>
						<string>events/ALIFE-2020/satellites</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
