<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:30Z</date>
				<key>ID</key>
				<string>page47</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Certificate of Graduate Study in Complex Systems</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.6.9</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-11-19T15:19:46Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/large_525806.png</key>
							<dict>
								<key>Digest</key>
								<data>
								mhkr3WEeG0oU
								u6sW6NZPoQ==
								</data>
								<key>Size</key>
								<integer>260234</integer>
							</dict>
							<key>files/medium_525745.png</key>
							<dict>
								<key>Digest</key>
								<data>
								awWUX/ecvP0d
								3geqkqj1Bw==
								</data>
								<key>Size</key>
								<integer>31185</integer>
							</dict>
							<key>files/medium_525746.png</key>
							<dict>
								<key>Digest</key>
								<data>
								T+YCYuU8mYwA
								9dKUL7J8Sg==
								</data>
								<key>Size</key>
								<integer>31103</integer>
							</dict>
							<key>files/medium_525806.png</key>
							<dict>
								<key>Digest</key>
								<data>
								mhkr3WEeG0oU
								u6sW6NZPoQ==
								</data>
								<key>Size</key>
								<integer>260234</integer>
							</dict>
							<key>files/small_525333.png</key>
							<dict>
								<key>Digest</key>
								<data>
								jthzH9c2934x
								N77LvExAMw==
								</data>
								<key>Size</key>
								<integer>306447</integer>
							</dict>
							<key>files/small_525521.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								uwW5EaO0TZSF
								OERmYQtmzg==
								</data>
								<key>Size</key>
								<integer>88810</integer>
							</dict>
							<key>files/small_525664.png</key>
							<dict>
								<key>Digest</key>
								<data>
								5+t9XVPD46G2
								sqwq01uoMg==
								</data>
								<key>Size</key>
								<integer>251461</integer>
							</dict>
							<key>files/small_525744.png</key>
							<dict>
								<key>Digest</key>
								<data>
								u2w2yG/YQ6pL
								1p+apVl5/w==
								</data>
								<key>Size</key>
								<integer>25244</integer>
							</dict>
							<key>files/small_525745.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ttO6QbIwllw0
								fYKsouCeYw==
								</data>
								<key>Size</key>
								<integer>156890</integer>
							</dict>
							<key>files/small_525746.png</key>
							<dict>
								<key>Digest</key>
								<data>
								/ZVPJGCKFaUW
								475ADmpVVg==
								</data>
								<key>Size</key>
								<integer>156673</integer>
							</dict>
							<key>files/small_525752.png</key>
							<dict>
								<key>Digest</key>
								<data>
								7z83DvVOmoZh
								OzhDztdtFg==
								</data>
								<key>Size</key>
								<integer>30991</integer>
							</dict>
							<key>files/small_525798.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MdxlMZUnyuZb
								UUbmqMAanQ==
								</data>
								<key>Size</key>
								<integer>16936</integer>
							</dict>
							<key>files/small_525803.png</key>
							<dict>
								<key>Digest</key>
								<data>
								dXEfTaWGtptT
								/8dX1Y5CBg==
								</data>
								<key>Size</key>
								<integer>21982</integer>
							</dict>
							<key>files/small_525804.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JE+HjQLhZXOl
								ElUsFcg4Sw==
								</data>
								<key>Size</key>
								<integer>44309</integer>
							</dict>
							<key>files/small_525806.png</key>
							<dict>
								<key>Digest</key>
								<data>
								mhkr3WEeG0oU
								u6sW6NZPoQ==
								</data>
								<key>Size</key>
								<integer>260234</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								5SEHlmzIRPnE
								h1Zlyu2W+A==
								</data>
								<key>Size</key>
								<integer>35205</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZP2FJ/yve/bb
								UMUDEFQ7OA==
								</data>
								<key>Size</key>
								<integer>68310</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								FWLv4iC2Yarl
								ySGORUZ3Iw==
								</data>
								<key>Size</key>
								<integer>19413</integer>
							</dict>
							<key>files/stacks_in_p525893_n7_page47_export.php</key>
							<dict>
								<key>Digest</key>
								<data>
								6qyOSyR17JIQ
								Q8hlwB30Jw==
								</data>
								<key>Size</key>
								<integer>1088</integer>
							</dict>
							<key>files/stacks_in_p525893_n7_page47_phpinsert.php</key>
							<dict>
								<key>Digest</key>
								<data>
								JpAFwJhywTEy
								c04/oOkpaA==
								</data>
								<key>Size</key>
								<integer>1032</integer>
							</dict>
							<key>files/stacks_in_p525893_n7_page47_phpmailer.php</key>
							<dict>
								<key>Digest</key>
								<data>
								SDwV7oF+s2AL
								GbStQIhlGg==
								</data>
								<key>Size</key>
								<integer>1250</integer>
							</dict>
							<key>files/stacks_in_p525893_n7_page47_phpmailer2.php</key>
							<dict>
								<key>Digest</key>
								<data>
								OKpHU5GbmpQx
								Ubz10ER4xQ==
								</data>
								<key>Size</key>
								<integer>1218</integer>
							</dict>
							<key>files/stacks_page_page47.css</key>
							<dict>
								<key>Digest</key>
								<data>
								uljv9dUNmr75
								hzgkY00KBw==
								</data>
								<key>Size</key>
								<integer>179750</integer>
							</dict>
							<key>files/stacks_page_page47.js</key>
							<dict>
								<key>Digest</key>
								<data>
								JWoi2HuzlU7Q
								IXx88QQ9dA==
								</data>
								<key>Size</key>
								<integer>26957</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								rSaGX4P1fJ0i
								aPVlZAXHug==
								</data>
								<key>Size</key>
								<integer>98703</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page47</string>
						<key>SiteRoot</key>
						<string>education/certificate</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
