<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Organizers</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page79</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>ALife Organizers</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.6.5</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-02-01T21:40:35Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/backgroundImage_111157.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								t6sVWeH5Dwiz
								lTdhjl5wGA==
								</data>
								<key>Size</key>
								<integer>3099081</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZFHf9zniv4SK
								z9ywIWAR7Q==
								</data>
								<key>Size</key>
								<integer>124861</integer>
							</dict>
							<key>files/stacks-image-28ec906-332x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								q8MeK0zynaYB
								QnEg4xgJlg==
								</data>
								<key>Size</key>
								<integer>43537</integer>
							</dict>
							<key>files/stacks-image-485f523.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								8jpSLF89IUPH
								+2TIALk1ZQ==
								</data>
								<key>Size</key>
								<integer>76975</integer>
							</dict>
							<key>files/stacks-image-580baf6-248x248.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								yZQqhuEMgia3
								owVDiEQk8g==
								</data>
								<key>Size</key>
								<integer>13322</integer>
							</dict>
							<key>files/stacks-image-90966db-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								kcVxqK0Y23YI
								Ns11kdYJ6w==
								</data>
								<key>Size</key>
								<integer>21714</integer>
							</dict>
							<key>files/stacks-image-90a1ebe-876x490.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								pBnYvmERauml
								Hzfa300r0w==
								</data>
								<key>Size</key>
								<integer>101169</integer>
							</dict>
							<key>files/stacks-image-cd0a404.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Nb2TZEoroRSC
								Y+xT2IHd1Q==
								</data>
								<key>Size</key>
								<integer>27178</integer>
							</dict>
							<key>files/stacks_page_page79.css</key>
							<dict>
								<key>Digest</key>
								<data>
								LYe/IYOTN2Eu
								FrinkVAEpg==
								</data>
								<key>Size</key>
								<integer>137845</integer>
							</dict>
							<key>files/stacks_page_page79.js</key>
							<dict>
								<key>Digest</key>
								<data>
								A3Q2HPJgLuxV
								QaSJoETYkw==
								</data>
								<key>Size</key>
								<integer>25297</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								AIsvyEf9/+E1
								FvkjaC2FSg==
								</data>
								<key>Size</key>
								<integer>68180</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page79</string>
						<key>SiteRoot</key>
						<string>events/ALIFE-2020/Organizers</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
