<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>NetSci Sponsors</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page59</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>NetSci Sponsors</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.0.3</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-11-20T14:29:28Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/backgroundImage_pp110888_n18_n1.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								GQHOUzuyjCs9
								Jfbg60A9OQ==
								</data>
								<key>Size</key>
								<integer>700318</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								C82d5dfws9q4
								DDOA2BFu1w==
								</data>
								<key>Size</key>
								<integer>35273</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								v/SijtX2gRco
								SwESRI9B4g==
								</data>
								<key>Size</key>
								<integer>68378</integer>
							</dict>
							<key>files/stacks-image-0c6cc01-1200x338.png</key>
							<dict>
								<key>Digest</key>
								<data>
								rEjUqdsHon4t
								1eJMEQX/6A==
								</data>
								<key>Size</key>
								<integer>70904</integer>
							</dict>
							<key>files/stacks-image-24a3404-500x224.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JmOcL+5uKqkL
								39rb0jOXUg==
								</data>
								<key>Size</key>
								<integer>12769</integer>
							</dict>
							<key>files/stacks-image-2968668-150x150.png</key>
							<dict>
								<key>Digest</key>
								<data>
								G7B2fK0DxzrV
								OP1vw5R89g==
								</data>
								<key>Size</key>
								<integer>11845</integer>
							</dict>
							<key>files/stacks-image-2968668-150x150@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								dshcHwEP3aWW
								3bgPuFZ5Yw==
								</data>
								<key>Size</key>
								<integer>34973</integer>
							</dict>
							<key>files/stacks-image-34e7445-248x104.png</key>
							<dict>
								<key>Digest</key>
								<data>
								6PqdVYaKzSii
								cGDgzNfyIw==
								</data>
								<key>Size</key>
								<integer>14834</integer>
							</dict>
							<key>files/stacks-image-34e7445-248x104@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								scosdN77XZDx
								0lb14rvd7Q==
								</data>
								<key>Size</key>
								<integer>36427</integer>
							</dict>
							<key>files/stacks-image-4d3140c.png</key>
							<dict>
								<key>Digest</key>
								<data>
								RVKY4j0x222n
								9kDcJ0uiQQ==
								</data>
								<key>Size</key>
								<integer>18064</integer>
							</dict>
							<key>files/stacks-image-50350b4.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								rif/KOhWt5Q/
								un8+gKHJKg==
								</data>
								<key>Size</key>
								<integer>33671</integer>
							</dict>
							<key>files/stacks-image-61fe2fb-148x138.png</key>
							<dict>
								<key>Digest</key>
								<data>
								HeyXsRvsoWkK
								M/5LZMqhnw==
								</data>
								<key>Size</key>
								<integer>6594</integer>
							</dict>
							<key>files/stacks-image-61fe2fb-148x138@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								mq/BGKf2JUK8
								W4uF/9/qjQ==
								</data>
								<key>Size</key>
								<integer>18373</integer>
							</dict>
							<key>files/stacks-image-6a88b68.png</key>
							<dict>
								<key>Digest</key>
								<data>
								eDsLKAvYnEp1
								hSTDGVejlg==
								</data>
								<key>Size</key>
								<integer>15296</integer>
							</dict>
							<key>files/stacks-image-6fb48dc-1200x488.png</key>
							<dict>
								<key>Digest</key>
								<data>
								SVUHIltGdj3d
								L6VGF5wq0w==
								</data>
								<key>Size</key>
								<integer>107346</integer>
							</dict>
							<key>files/stacks-image-7d9976e-150x128.png</key>
							<dict>
								<key>Digest</key>
								<data>
								byKriyG8GAsq
								q7W7q4qGzw==
								</data>
								<key>Size</key>
								<integer>20702</integer>
							</dict>
							<key>files/stacks-image-7d9976e-150x128@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								LrpmCichnQNd
								aPiPZhIPsw==
								</data>
								<key>Size</key>
								<integer>63559</integer>
							</dict>
							<key>files/stacks-image-7e48fa7-148x150.png</key>
							<dict>
								<key>Digest</key>
								<data>
								gGa6aj2mCJAI
								hNT4f1Zblw==
								</data>
								<key>Size</key>
								<integer>25749</integer>
							</dict>
							<key>files/stacks-image-7e48fa7-148x150@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								cVxY487syBw2
								tdtwQiCucg==
								</data>
								<key>Size</key>
								<integer>83661</integer>
							</dict>
							<key>files/stacks-image-7ef88b0-300x62.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								No5ncjzR+wXC
								z05MUpx1rg==
								</data>
								<key>Size</key>
								<integer>9674</integer>
							</dict>
							<key>files/stacks-image-805fb33.png</key>
							<dict>
								<key>Digest</key>
								<data>
								wmr3y64p1dLv
								Ha2AV71VQQ==
								</data>
								<key>Size</key>
								<integer>2522</integer>
							</dict>
							<key>files/stacks-image-8e88332-100x104.png</key>
							<dict>
								<key>Digest</key>
								<data>
								yGQeTqJcL8d7
								LuGMTcY70w==
								</data>
								<key>Size</key>
								<integer>15342</integer>
							</dict>
							<key>files/stacks-image-8e88332-100x104@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								2iT99O9OaAUI
								l/qViQQVMw==
								</data>
								<key>Size</key>
								<integer>50205</integer>
							</dict>
							<key>files/stacks-image-a3bad70-200x170.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Z+0z5il9Fvna
								CS9B4BrSyg==
								</data>
								<key>Size</key>
								<integer>36028</integer>
							</dict>
							<key>files/stacks-image-a3bad70-200x170@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								x/9axr+v41hG
								OJEvnGPcEQ==
								</data>
								<key>Size</key>
								<integer>111947</integer>
							</dict>
							<key>files/stacks-image-aaee00a.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								obaKPfrSEyni
								lRN+PF0aGA==
								</data>
								<key>Size</key>
								<integer>37226</integer>
							</dict>
							<key>files/stacks-image-b30865a.png</key>
							<dict>
								<key>Digest</key>
								<data>
								LVN6rbV2QdyG
								lVx/4pD8cA==
								</data>
								<key>Size</key>
								<integer>34508</integer>
							</dict>
							<key>files/stacks-image-cc75d0b-150x138.png</key>
							<dict>
								<key>Digest</key>
								<data>
								UDz7gHIVSDx0
								c2wuAqLLRQ==
								</data>
								<key>Size</key>
								<integer>21599</integer>
							</dict>
							<key>files/stacks-image-cc75d0b-150x138@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								H26EjSoRttCA
								AwCFBm4yfA==
								</data>
								<key>Size</key>
								<integer>67332</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								IcJyU76V543g
								RUdnIXKzHw==
								</data>
								<key>Size</key>
								<integer>19481</integer>
							</dict>
							<key>files/stacks-image-eaa7bd3-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								qoPFb6ky++r+
								ddT5ghQ1Dw==
								</data>
								<key>Size</key>
								<integer>74971</integer>
							</dict>
							<key>files/stacks-image-eaa7bd3-200x200@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Yx7ADOV3xdcb
								XS+DVbZu+w==
								</data>
								<key>Size</key>
								<integer>265391</integer>
							</dict>
							<key>files/stacks-image-f332e12.png</key>
							<dict>
								<key>Digest</key>
								<data>
								rzfTtx6ywXOR
								Yn29hLGKig==
								</data>
								<key>Size</key>
								<integer>8378</integer>
							</dict>
							<key>files/stacks-image-f5f8092.png</key>
							<dict>
								<key>Digest</key>
								<data>
								7+0xcCXOk8Sr
								rTDuJ+BbLg==
								</data>
								<key>Size</key>
								<integer>12393</integer>
							</dict>
							<key>files/stacks-image-f793485-1200x360.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								dFIpANhVsqir
								JmhmcjJR7Q==
								</data>
								<key>Size</key>
								<integer>60234</integer>
							</dict>
							<key>files/stacks-image-fd0e8b0-248x56.png</key>
							<dict>
								<key>Digest</key>
								<data>
								gBCXp3uYneIy
								Wr1851JIrA==
								</data>
								<key>Size</key>
								<integer>16334</integer>
							</dict>
							<key>files/stacks_page_page59.css</key>
							<dict>
								<key>Digest</key>
								<data>
								KcZhBXxwJugv
								zlAMkXlZZQ==
								</data>
								<key>Size</key>
								<integer>151763</integer>
							</dict>
							<key>files/stacks_page_page59.js</key>
							<dict>
								<key>Digest</key>
								<data>
								CeBFdvpHHkFX
								FBDqrYp23g==
								</data>
								<key>Size</key>
								<integer>24289</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								U429ewfy2UC4
								BeaipUQtqQ==
								</data>
								<key>Size</key>
								<integer>81303</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page59</string>
						<key>SiteRoot</key>
						<string>events/netsci/sponsors</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
