<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>postdocs</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page45</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Postdocs</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.2.2</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2021-12-02T19:28:38Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small-109623-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/small-109710-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JfxF8Omi0icK
								xIwohpIZqw==
								</data>
								<key>Size</key>
								<integer>77487</integer>
							</dict>
							<key>files/small-109714-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2NMhf1k+YDl
								uPpd6H1dBw==
								</data>
								<key>Size</key>
								<integer>15019</integer>
							</dict>
							<key>files/small-109735-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D2nm4R7babci
								2M5NjfUDZQ==
								</data>
								<key>Size</key>
								<integer>18925</integer>
							</dict>
							<key>files/small-109736-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgRiuB3NhhIh
								SwZTifI18g==
								</data>
								<key>Size</key>
								<integer>21987</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								nc/RlhmvGDDL
								K+SuTjMLPQ==
								</data>
								<key>Size</key>
								<integer>35262</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								tvAomUQyeND0
								vTpTZz/VVg==
								</data>
								<key>Size</key>
								<integer>68367</integer>
							</dict>
							<key>files/stacks-image-7c69dc1-300x304.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								HLzkNFJ8zk0p
								45qfbnL4gA==
								</data>
								<key>Size</key>
								<integer>26835</integer>
							</dict>
							<key>files/stacks-image-951093d-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								zUxyuAbCRzuX
								D+libeZk1w==
								</data>
								<key>Size</key>
								<integer>30733</integer>
							</dict>
							<key>files/stacks-image-951093d-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								2XaXkG25zGFR
								oAEzZWnnMA==
								</data>
								<key>Size</key>
								<integer>50928</integer>
							</dict>
							<key>files/stacks-image-d7ca535-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								BBwncaelESHk
								0rmLlGiiuA==
								</data>
								<key>Size</key>
								<integer>17920</integer>
							</dict>
							<key>files/stacks-image-d7ca535-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								IXCek5Z61eCd
								tDJh1YFQ8A==
								</data>
								<key>Size</key>
								<integer>28482</integer>
							</dict>
							<key>files/stacks-image-e2604b8-350x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								KLDS47hCLmay
								Phd5TEiAIw==
								</data>
								<key>Size</key>
								<integer>29027</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Hwezk6t72J5g
								2awHy7YAqA==
								</data>
								<key>Size</key>
								<integer>19470</integer>
							</dict>
							<key>files/stacks-image-ed8fc90-300x300.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								hTbzbzpv6xQA
								7zezrYDlHg==
								</data>
								<key>Size</key>
								<integer>21784</integer>
							</dict>
							<key>files/stacks-image-f366a3b-300x224.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								uIuXh/rF1Hiz
								6CSEuY5Nzw==
								</data>
								<key>Size</key>
								<integer>35784</integer>
							</dict>
							<key>files/stacks-image-f366a3b-300x224@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								YFMgipcZkwjK
								QVPsBWjWwg==
								</data>
								<key>Size</key>
								<integer>74453</integer>
							</dict>
							<key>files/stacks-image-fb7e09e-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								yec8KkfJQuKU
								2QeX3OwFUw==
								</data>
								<key>Size</key>
								<integer>15414</integer>
							</dict>
							<key>files/stacks_page_page45.css</key>
							<dict>
								<key>Digest</key>
								<data>
								zkE2bWVS7JHk
								cbq31VhPAA==
								</data>
								<key>Size</key>
								<integer>129352</integer>
							</dict>
							<key>files/stacks_page_page45.js</key>
							<dict>
								<key>Digest</key>
								<data>
								DUI+Bct3jLWs
								b0Muy/5ZCQ==
								</data>
								<key>Size</key>
								<integer>24955</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								yzo522v+P58J
								9aWfznyiYQ==
								</data>
								<key>Size</key>
								<integer>71645</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page45</string>
						<key>SiteRoot</key>
						<string>people/postdocs</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
