<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2020-05-20T16:58:25Z</date>
				<key>ID</key>
				<string>page95</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>CNWW Virtual</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.0.4</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2021-02-12T18:27:57Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/DCE79F28-EA60-4789-B85B-36524B50F75A.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								IEzethOiNZT/
								CMFJwRU2Vg==
								</data>
								<key>Size</key>
								<integer>1269226</integer>
							</dict>
							<key>files/stacks-image-0564df1-1200x398.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ulzaZw4Nj+2V
								IfpX+R124A==
								</data>
								<key>Size</key>
								<integer>147886</integer>
							</dict>
							<key>files/stacks-image-2c71488-500x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								xNKZejZbnV/m
								vXZEEdx+3A==
								</data>
								<key>Size</key>
								<integer>80143</integer>
							</dict>
							<key>files/stacks-image-2c71488-500x500@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								UgxR8j6Fm9Lv
								cTeIMeR/fw==
								</data>
								<key>Size</key>
								<integer>133078</integer>
							</dict>
							<key>files/stacks-image-4e487e1-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								sH45oaRBepxS
								161bQkc6kQ==
								</data>
								<key>Size</key>
								<integer>40132</integer>
							</dict>
							<key>files/stacks-image-5572282-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								FbhSYGcmD1tG
								AlKDv559pg==
								</data>
								<key>Size</key>
								<integer>51491</integer>
							</dict>
							<key>files/stacks-image-55d9607-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								pF3MAv7VEbBU
								4jXcS+c2tA==
								</data>
								<key>Size</key>
								<integer>49754</integer>
							</dict>
							<key>files/stacks-image-751defd-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								jmBRkFoN7Uoe
								kCrcLQoysg==
								</data>
								<key>Size</key>
								<integer>53128</integer>
							</dict>
							<key>files/stacks-image-8de494a-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Mgto3wcgsEP1
								IHLPvUS7uQ==
								</data>
								<key>Size</key>
								<integer>53987</integer>
							</dict>
							<key>files/stacks-image-8de494a-400x400@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								VUdriJRl3bKz
								D4wNbgURrA==
								</data>
								<key>Size</key>
								<integer>104141</integer>
							</dict>
							<key>files/stacks-image-91d6538-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								prxdCKAjH2I0
								OrfCl4K99w==
								</data>
								<key>Size</key>
								<integer>53638</integer>
							</dict>
							<key>files/stacks-image-b6446aa-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								xfInipqxCGO4
								8yVPO+hxxQ==
								</data>
								<key>Size</key>
								<integer>50862</integer>
							</dict>
							<key>files/stacks-image-d4b0169-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Mnbny+XjahIh
								LzYMOtvRTA==
								</data>
								<key>Size</key>
								<integer>56096</integer>
							</dict>
							<key>files/stacks-image-fc23ad2-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								QBzeYsZue1tE
								Urivfn/gVQ==
								</data>
								<key>Size</key>
								<integer>53644</integer>
							</dict>
							<key>files/stacks_page_page95.css</key>
							<dict>
								<key>Digest</key>
								<data>
								cJoI3uL9Xm5x
								oReb20gQZQ==
								</data>
								<key>Size</key>
								<integer>126536</integer>
							</dict>
							<key>files/stacks_page_page95.js</key>
							<dict>
								<key>Digest</key>
								<data>
								+Tv9J0B2gowc
								yypgj121yA==
								</data>
								<key>Size</key>
								<integer>22180</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								4WJ/grCgtMU5
								MHLQtxC6NQ==
								</data>
								<key>Size</key>
								<integer>79199</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page95</string>
						<key>SiteRoot</key>
						<string>events/cnww/page-3</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>ChildPages</string>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
