<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Talkboctopus</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page91</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Talkboctopus</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.2.2</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2021-05-06T14:55:49Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small-109623-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/small-109710-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JfxF8Omi0icK
								xIwohpIZqw==
								</data>
								<key>Size</key>
								<integer>77487</integer>
							</dict>
							<key>files/small-109714-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2NMhf1k+YDl
								uPpd6H1dBw==
								</data>
								<key>Size</key>
								<integer>15019</integer>
							</dict>
							<key>files/small-109735-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D2nm4R7babci
								2M5NjfUDZQ==
								</data>
								<key>Size</key>
								<integer>18925</integer>
							</dict>
							<key>files/small-109736-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgRiuB3NhhIh
								SwZTifI18g==
								</data>
								<key>Size</key>
								<integer>21987</integer>
							</dict>
							<key>files/stacks-image-074db50-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								mkqu/Zsw71xe
								MzfHKy23kQ==
								</data>
								<key>Size</key>
								<integer>33183</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								C82d5dfws9q4
								DDOA2BFu1w==
								</data>
								<key>Size</key>
								<integer>35273</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								v/SijtX2gRco
								SwESRI9B4g==
								</data>
								<key>Size</key>
								<integer>68378</integer>
							</dict>
							<key>files/stacks-image-0ea7c9b.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								u9oQrCMfZ1mp
								a+TGmkefXA==
								</data>
								<key>Size</key>
								<integer>105491</integer>
							</dict>
							<key>files/stacks-image-17e14fc-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								AoWbgDYSD5mP
								eI/AEHns4g==
								</data>
								<key>Size</key>
								<integer>10700</integer>
							</dict>
							<key>files/stacks-image-17e14fc-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								gcN4YueplGnY
								2fyldVmVKQ==
								</data>
								<key>Size</key>
								<integer>15362</integer>
							</dict>
							<key>files/stacks-image-2b2723f-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								gIEBVnSMFdjj
								F8ZOIYTLYA==
								</data>
								<key>Size</key>
								<integer>12756</integer>
							</dict>
							<key>files/stacks-image-2b2723f-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								CsScM2QZv8S+
								CVAwddBr/Q==
								</data>
								<key>Size</key>
								<integer>19428</integer>
							</dict>
							<key>files/stacks-image-2d2c788-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								uCQ78Ho9dCcs
								9/3JGazIcw==
								</data>
								<key>Size</key>
								<integer>14240</integer>
							</dict>
							<key>files/stacks-image-3753c1e-500x498.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								K6r+OlaRPbEH
								wnoBmGt6cA==
								</data>
								<key>Size</key>
								<integer>40024</integer>
							</dict>
							<key>files/stacks-image-3a11b0c-200x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								icjBLgYtNkq4
								qLtXj/IXBA==
								</data>
								<key>Size</key>
								<integer>81465</integer>
							</dict>
							<key>files/stacks-image-3a11b0c-200x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								yIi2JRLjdunJ
								jNfInGJ08g==
								</data>
								<key>Size</key>
								<integer>284972</integer>
							</dict>
							<key>files/stacks-image-456042f-800x1200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								G5LRkczHASvA
								bkDm8tShew==
								</data>
								<key>Size</key>
								<integer>121276</integer>
							</dict>
							<key>files/stacks-image-456042f-800x1200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								d/nNAVcjM/bb
								gl2rkb/H+w==
								</data>
								<key>Size</key>
								<integer>197215</integer>
							</dict>
							<key>files/stacks-image-4d82f27-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								W4pZlK3Op3ej
								ZkrdowoEmg==
								</data>
								<key>Size</key>
								<integer>14339</integer>
							</dict>
							<key>files/stacks-image-4d8e34c-200x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								dGrxIsUBDDBR
								C8pcPcLdGg==
								</data>
								<key>Size</key>
								<integer>76214</integer>
							</dict>
							<key>files/stacks-image-4d8e34c-200x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								rpaqBZBYH1YD
								KwP2iLpq6w==
								</data>
								<key>Size</key>
								<integer>253692</integer>
							</dict>
							<key>files/stacks-image-5259eb3-200x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								09fZKHFDA+D3
								2HXLSk8zLQ==
								</data>
								<key>Size</key>
								<integer>57248</integer>
							</dict>
							<key>files/stacks-image-5bf3092-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Rx+ChDuuAn3M
								8mLbXUBGXw==
								</data>
								<key>Size</key>
								<integer>12956</integer>
							</dict>
							<key>files/stacks-image-5d61bd5-300x346.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								VFS4Wh5Rbs5D
								+zic5n1/DA==
								</data>
								<key>Size</key>
								<integer>24751</integer>
							</dict>
							<key>files/stacks-image-636ed7c-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								w4eD2AKNUI5B
								QRY1a2aBIg==
								</data>
								<key>Size</key>
								<integer>16061</integer>
							</dict>
							<key>files/stacks-image-636ed7c-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								5+zBR5W9WjqX
								D+hHbEtuMA==
								</data>
								<key>Size</key>
								<integer>24457</integer>
							</dict>
							<key>files/stacks-image-6ad6ed1-300x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								3GisGp4jnwGr
								sOZcFSD07w==
								</data>
								<key>Size</key>
								<integer>30844</integer>
							</dict>
							<key>files/stacks-image-6ad6ed1-300x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								3z8zcreYPpMu
								SahBjJ3Vqw==
								</data>
								<key>Size</key>
								<integer>58133</integer>
							</dict>
							<key>files/stacks-image-7228587-200x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								a01x+qaJF1uF
								nTw+cylqgg==
								</data>
								<key>Size</key>
								<integer>66576</integer>
							</dict>
							<key>files/stacks-image-7228587-200x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								xAcYlTYiLy7C
								bUkBuU2bLQ==
								</data>
								<key>Size</key>
								<integer>218978</integer>
							</dict>
							<key>files/stacks-image-824db91-164x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								J0RBisc9Pcz2
								4NCR8ikGbA==
								</data>
								<key>Size</key>
								<integer>29339</integer>
							</dict>
							<key>files/stacks-image-85378e5.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								z16kvwltBJ9+
								vMTNToOVKQ==
								</data>
								<key>Size</key>
								<integer>12745</integer>
							</dict>
							<key>files/stacks-image-893502b-300x316.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								xqGY0zwYNJ+Q
								KiHOOGl2rw==
								</data>
								<key>Size</key>
								<integer>15840</integer>
							</dict>
							<key>files/stacks-image-893502b-300x316@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9z6jTFbsX4Jq
								ufxOS4b5nQ==
								</data>
								<key>Size</key>
								<integer>24534</integer>
							</dict>
							<key>files/stacks-image-97610c3.png</key>
							<dict>
								<key>Digest</key>
								<data>
								a/UJ2obnsOaW
								k18EsIswdA==
								</data>
								<key>Size</key>
								<integer>167479</integer>
							</dict>
							<key>files/stacks-image-a598849-200x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								tmz0noP7CHjE
								xGio9iRQXw==
								</data>
								<key>Size</key>
								<integer>89288</integer>
							</dict>
							<key>files/stacks-image-a598849-200x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								UaGkMhDKHqw+
								5uQMDfp1MQ==
								</data>
								<key>Size</key>
								<integer>344032</integer>
							</dict>
							<key>files/stacks-image-ad1dd40-200x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								+n3XrGM7gn8f
								fw+1UZu8LQ==
								</data>
								<key>Size</key>
								<integer>92882</integer>
							</dict>
							<key>files/stacks-image-ad1dd40-200x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								OEd+Jt42jUkI
								YtYAb92b3Q==
								</data>
								<key>Size</key>
								<integer>360756</integer>
							</dict>
							<key>files/stacks-image-b8a1951-300x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								UWm9mduP92Li
								eQPOX00AMg==
								</data>
								<key>Size</key>
								<integer>15563</integer>
							</dict>
							<key>files/stacks-image-ba97414.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								yjhcJUP88k0K
								zilb/ZzhVA==
								</data>
								<key>Size</key>
								<integer>39282</integer>
							</dict>
							<key>files/stacks-image-c1c3c13-300x168.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								AI1WAnwCaDiM
								Jajpp+EVDA==
								</data>
								<key>Size</key>
								<integer>11578</integer>
							</dict>
							<key>files/stacks-image-c1c3c13-300x168@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								SlD9i52/f1tn
								zOQOBE1gVw==
								</data>
								<key>Size</key>
								<integer>17484</integer>
							</dict>
							<key>files/stacks-image-e60a35d-300x300.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								IDCPpHA7SCGn
								jq7plJ+jtQ==
								</data>
								<key>Size</key>
								<integer>19724</integer>
							</dict>
							<key>files/stacks-image-e60a35d-300x300@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								8mxYqhm0EIJX
								AiDuepXT3A==
								</data>
								<key>Size</key>
								<integer>33377</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								IcJyU76V543g
								RUdnIXKzHw==
								</data>
								<key>Size</key>
								<integer>19481</integer>
							</dict>
							<key>files/stacks-image-eaa153d-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								EkOF+ybE2w7K
								CP28CJOyag==
								</data>
								<key>Size</key>
								<integer>14509</integer>
							</dict>
							<key>files/stacks-image-eaa153d-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								raAh5HqvID8t
								3IJad0cBvQ==
								</data>
								<key>Size</key>
								<integer>29690</integer>
							</dict>
							<key>files/stacks-image-eccd3f1-300x300.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								C8ZW6fPBL7G3
								yylo2YukdA==
								</data>
								<key>Size</key>
								<integer>29900</integer>
							</dict>
							<key>files/stacks-image-ed0cb92-234x350.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Sv0pI4wC2iy5
								u9iYzvwUcw==
								</data>
								<key>Size</key>
								<integer>119156</integer>
							</dict>
							<key>files/stacks-image-fb2ed7f-300x300.png</key>
							<dict>
								<key>Digest</key>
								<data>
								UbZ+NOhDj7Jl
								7e5N9cAasg==
								</data>
								<key>Size</key>
								<integer>158817</integer>
							</dict>
							<key>files/stacks-image-fb2ed7f-300x300@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Ek24roiJzKmR
								jkIEHfgoAw==
								</data>
								<key>Size</key>
								<integer>622086</integer>
							</dict>
							<key>files/stacks_page_page91.css</key>
							<dict>
								<key>Digest</key>
								<data>
								WunGzkzYLJOZ
								eSndSoEfrQ==
								</data>
								<key>Size</key>
								<integer>292701</integer>
							</dict>
							<key>files/stacks_page_page91.js</key>
							<dict>
								<key>Digest</key>
								<data>
								oSQNktzm24v0
								z73SqdJmuA==
								</data>
								<key>Size</key>
								<integer>26887</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								sLZJzgC0Yvjw
								ScCbm33M9Q==
								</data>
								<key>Size</key>
								<integer>181546</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page91</string>
						<key>SiteRoot</key>
						<string>events/talkboctopus</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
