<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>NetSci Sponsors</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page59</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>NetSci Sponsors</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.2.5</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2022-11-14T16:49:56Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/D289564D-C2D0-4B94-AA16-FC8C366062A7.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								GQHOUzuyjCs9
								Jfbg60A9OQ==
								</data>
								<key>Size</key>
								<integer>700318</integer>
							</dict>
							<key>files/small-109623-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/small-109710-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JfxF8Omi0icK
								xIwohpIZqw==
								</data>
								<key>Size</key>
								<integer>77487</integer>
							</dict>
							<key>files/small-109714-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2NMhf1k+YDl
								uPpd6H1dBw==
								</data>
								<key>Size</key>
								<integer>15019</integer>
							</dict>
							<key>files/small-109735-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D2nm4R7babci
								2M5NjfUDZQ==
								</data>
								<key>Size</key>
								<integer>18925</integer>
							</dict>
							<key>files/small-109736-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgRiuB3NhhIh
								SwZTifI18g==
								</data>
								<key>Size</key>
								<integer>21987</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JV5ejNT3Y8/E
								W0wI16l5/Q==
								</data>
								<key>Size</key>
								<integer>35252</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Su+ZpJd1NY34
								s0J16tjsFg==
								</data>
								<key>Size</key>
								<integer>68409</integer>
							</dict>
							<key>files/stacks-image-0c6cc01-1200x338.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Av18nq4AtRtC
								eQHYX4kykA==
								</data>
								<key>Size</key>
								<integer>70975</integer>
							</dict>
							<key>files/stacks-image-24a3404-500x224.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Ar+W2zvWmt8R
								y8n1kYtFFg==
								</data>
								<key>Size</key>
								<integer>12783</integer>
							</dict>
							<key>files/stacks-image-2968668-150x150.png</key>
							<dict>
								<key>Digest</key>
								<data>
								bWcQr0wJe8YG
								9ob9NnGukg==
								</data>
								<key>Size</key>
								<integer>11810</integer>
							</dict>
							<key>files/stacks-image-2968668-150x150@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ByZ1vQ0W7s9z
								oGLHejr5vA==
								</data>
								<key>Size</key>
								<integer>34948</integer>
							</dict>
							<key>files/stacks-image-34e7445-250x104.png</key>
							<dict>
								<key>Digest</key>
								<data>
								xZuC3p1CduO8
								IFgRsZFYjQ==
								</data>
								<key>Size</key>
								<integer>15146</integer>
							</dict>
							<key>files/stacks-image-34e7445-250x104@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Znz76FQsCRw4
								EU/FXwF1NA==
								</data>
								<key>Size</key>
								<integer>36798</integer>
							</dict>
							<key>files/stacks-image-4d3140c.png</key>
							<dict>
								<key>Digest</key>
								<data>
								RVKY4j0x222n
								9kDcJ0uiQQ==
								</data>
								<key>Size</key>
								<integer>18064</integer>
							</dict>
							<key>files/stacks-image-50350b4.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								rif/KOhWt5Q/
								un8+gKHJKg==
								</data>
								<key>Size</key>
								<integer>33671</integer>
							</dict>
							<key>files/stacks-image-61fe2fb-150x138.png</key>
							<dict>
								<key>Digest</key>
								<data>
								y4rn+5q1i5Yy
								O5UBO+y1tg==
								</data>
								<key>Size</key>
								<integer>6491</integer>
							</dict>
							<key>files/stacks-image-61fe2fb-150x138@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								6rXhoHkQ9vVC
								/WS0aXwqGg==
								</data>
								<key>Size</key>
								<integer>17961</integer>
							</dict>
							<key>files/stacks-image-6a88b68.png</key>
							<dict>
								<key>Digest</key>
								<data>
								eDsLKAvYnEp1
								hSTDGVejlg==
								</data>
								<key>Size</key>
								<integer>15296</integer>
							</dict>
							<key>files/stacks-image-6fb48dc-1200x488.png</key>
							<dict>
								<key>Digest</key>
								<data>
								qTEXB3cE5dqK
								ZRg67qCguw==
								</data>
								<key>Size</key>
								<integer>107336</integer>
							</dict>
							<key>files/stacks-image-7d9976e-150x128.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ifxaoLVpjplF
								ISIWbPblJA==
								</data>
								<key>Size</key>
								<integer>20737</integer>
							</dict>
							<key>files/stacks-image-7d9976e-150x128@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								//ZEis6i24Dv
								Qc0O7WoQDA==
								</data>
								<key>Size</key>
								<integer>63571</integer>
							</dict>
							<key>files/stacks-image-7e48fa7-148x150.png</key>
							<dict>
								<key>Digest</key>
								<data>
								jWo93zSAxyET
								Jusq7uN1jA==
								</data>
								<key>Size</key>
								<integer>25721</integer>
							</dict>
							<key>files/stacks-image-7e48fa7-148x150@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								vG/ubAlg6dIz
								p8xE/pd8AQ==
								</data>
								<key>Size</key>
								<integer>83576</integer>
							</dict>
							<key>files/stacks-image-7ef88b0-300x62.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Bdl1gP+Khb31
								L3/DB4KDvg==
								</data>
								<key>Size</key>
								<integer>9657</integer>
							</dict>
							<key>files/stacks-image-805fb33.png</key>
							<dict>
								<key>Digest</key>
								<data>
								wmr3y64p1dLv
								Ha2AV71VQQ==
								</data>
								<key>Size</key>
								<integer>2522</integer>
							</dict>
							<key>files/stacks-image-8e88332-100x104.png</key>
							<dict>
								<key>Digest</key>
								<data>
								bP4VCPVmghYr
								euF+NrgvKQ==
								</data>
								<key>Size</key>
								<integer>15331</integer>
							</dict>
							<key>files/stacks-image-8e88332-100x104@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								N4JFROHXl5RF
								3OOgwx+B0g==
								</data>
								<key>Size</key>
								<integer>50216</integer>
							</dict>
							<key>files/stacks-image-a3bad70-200x170.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Ge126EioXcJl
								CXB+EPMBbw==
								</data>
								<key>Size</key>
								<integer>35987</integer>
							</dict>
							<key>files/stacks-image-a3bad70-200x170@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								9qDAS1r68gAo
								nMVM7Gc2VQ==
								</data>
								<key>Size</key>
								<integer>111949</integer>
							</dict>
							<key>files/stacks-image-aaee00a.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								obaKPfrSEyni
								lRN+PF0aGA==
								</data>
								<key>Size</key>
								<integer>37226</integer>
							</dict>
							<key>files/stacks-image-b30865a.png</key>
							<dict>
								<key>Digest</key>
								<data>
								LVN6rbV2QdyG
								lVx/4pD8cA==
								</data>
								<key>Size</key>
								<integer>34508</integer>
							</dict>
							<key>files/stacks-image-cc75d0b-150x138.png</key>
							<dict>
								<key>Digest</key>
								<data>
								7ey7QUPqlEzv
								64s+1G1e8w==
								</data>
								<key>Size</key>
								<integer>21621</integer>
							</dict>
							<key>files/stacks-image-cc75d0b-150x138@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								OwzCLH9wxlWC
								2hI7iaSfqQ==
								</data>
								<key>Size</key>
								<integer>67316</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								0LBTZh9Y4iZ6
								By0DZuC++A==
								</data>
								<key>Size</key>
								<integer>19463</integer>
							</dict>
							<key>files/stacks-image-eaa7bd3-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZBVHh4klGm9e
								3jPdYYOECg==
								</data>
								<key>Size</key>
								<integer>74947</integer>
							</dict>
							<key>files/stacks-image-eaa7bd3-200x200@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								1v0LFofTwp04
								6/D7K5Bh4w==
								</data>
								<key>Size</key>
								<integer>265269</integer>
							</dict>
							<key>files/stacks-image-f332e12.png</key>
							<dict>
								<key>Digest</key>
								<data>
								rzfTtx6ywXOR
								Yn29hLGKig==
								</data>
								<key>Size</key>
								<integer>8378</integer>
							</dict>
							<key>files/stacks-image-f5f8092.png</key>
							<dict>
								<key>Digest</key>
								<data>
								7+0xcCXOk8Sr
								rTDuJ+BbLg==
								</data>
								<key>Size</key>
								<integer>12393</integer>
							</dict>
							<key>files/stacks-image-f793485-1200x360.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								e8s9mMaTYd01
								EnjVFhJSnQ==
								</data>
								<key>Size</key>
								<integer>59869</integer>
							</dict>
							<key>files/stacks-image-fd0e8b0-250x56.png</key>
							<dict>
								<key>Digest</key>
								<data>
								rMfV9cDeaH3j
								KD0sI7VN8w==
								</data>
								<key>Size</key>
								<integer>15802</integer>
							</dict>
							<key>files/stacks_page_page59.css</key>
							<dict>
								<key>Digest</key>
								<data>
								s1vHWz3T9NJ5
								xsvmPBoubg==
								</data>
								<key>Size</key>
								<integer>145542</integer>
							</dict>
							<key>files/stacks_page_page59.js</key>
							<dict>
								<key>Digest</key>
								<data>
								QgPw2AyfXaXI
								tLmfU8gsCA==
								</data>
								<key>Size</key>
								<integer>24846</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								B962gsGvV5t6
								MYMHtM62/Q==
								</data>
								<key>Size</key>
								<integer>83175</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page59</string>
						<key>SiteRoot</key>
						<string>events/netsci/sponsors</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
