<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>External Faculty</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page94</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>External Faculty </string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.2.2</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2022-01-07T20:31:52Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small-109623-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/small-109710-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JfxF8Omi0icK
								xIwohpIZqw==
								</data>
								<key>Size</key>
								<integer>77487</integer>
							</dict>
							<key>files/small-109714-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2NMhf1k+YDl
								uPpd6H1dBw==
								</data>
								<key>Size</key>
								<integer>15019</integer>
							</dict>
							<key>files/small-109735-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D2nm4R7babci
								2M5NjfUDZQ==
								</data>
								<key>Size</key>
								<integer>18925</integer>
							</dict>
							<key>files/small-109736-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgRiuB3NhhIh
								SwZTifI18g==
								</data>
								<key>Size</key>
								<integer>21987</integer>
							</dict>
							<key>files/stacks-image-000b83c-300x262.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								IcNwF63W2BhA
								bgiwuWoxZw==
								</data>
								<key>Size</key>
								<integer>17164</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								nc/RlhmvGDDL
								K+SuTjMLPQ==
								</data>
								<key>Size</key>
								<integer>35262</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								tvAomUQyeND0
								vTpTZz/VVg==
								</data>
								<key>Size</key>
								<integer>68367</integer>
							</dict>
							<key>files/stacks-image-1002011-300x350.png</key>
							<dict>
								<key>Digest</key>
								<data>
								p2bVewFfyZsh
								hml2nFsL9A==
								</data>
								<key>Size</key>
								<integer>163103</integer>
							</dict>
							<key>files/stacks-image-1002011-300x350@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								mXB5vmNr3KHF
								m2j8g2dVGw==
								</data>
								<key>Size</key>
								<integer>564701</integer>
							</dict>
							<key>files/stacks-image-2802bbf-300x350.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Z7eo5fVEC4MN
								bYxaDQyY7w==
								</data>
								<key>Size</key>
								<integer>17936</integer>
							</dict>
							<key>files/stacks-image-2c86e5c-300x350.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								H/uUhMlePw/6
								YYtZBdP+yw==
								</data>
								<key>Size</key>
								<integer>27642</integer>
							</dict>
							<key>files/stacks-image-2c86e5c-300x350@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ZWjpvnCgWpxq
								RkB8KWYdtg==
								</data>
								<key>Size</key>
								<integer>43445</integer>
							</dict>
							<key>files/stacks-image-3132463-300x300.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								bwECNX0HVYRM
								5W3rx0Wtqw==
								</data>
								<key>Size</key>
								<integer>15655</integer>
							</dict>
							<key>files/stacks-image-3eb7b3f-300x350.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								itI+kIGWNixQ
								oBbMChJ1iA==
								</data>
								<key>Size</key>
								<integer>34954</integer>
							</dict>
							<key>files/stacks-image-3f16e60-300x298.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								3Cf/kxsYR4wh
								gc+E9bg/bQ==
								</data>
								<key>Size</key>
								<integer>22857</integer>
							</dict>
							<key>files/stacks-image-3f16e60-300x298@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9YApVlMrwpRw
								Ydo4n4EqQQ==
								</data>
								<key>Size</key>
								<integer>36271</integer>
							</dict>
							<key>files/stacks-image-4763906.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								FTCCQ5QigUWB
								rr7gUTUnFQ==
								</data>
								<key>Size</key>
								<integer>82742</integer>
							</dict>
							<key>files/stacks-image-4a1594e.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								vqxxAEMk+ctF
								chGdP/9ZsQ==
								</data>
								<key>Size</key>
								<integer>58637</integer>
							</dict>
							<key>files/stacks-image-5197a6d-300x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								uosZppU2i+WJ
								mP6fhL4cTg==
								</data>
								<key>Size</key>
								<integer>12228</integer>
							</dict>
							<key>files/stacks-image-5197a6d-300x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								UN7aiw9pa1nT
								lPwR1qz9zg==
								</data>
								<key>Size</key>
								<integer>16974</integer>
							</dict>
							<key>files/stacks-image-5518809-300x256.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								m7RB2S1Q2d9u
								gNaK1MHmzg==
								</data>
								<key>Size</key>
								<integer>30892</integer>
							</dict>
							<key>files/stacks-image-5518809-300x256@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								rGrMZ9fIG5/d
								wCj5TBicVQ==
								</data>
								<key>Size</key>
								<integer>53383</integer>
							</dict>
							<key>files/stacks-image-5d54d29.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								RYcT4wU90EOn
								Tn92cdVRLA==
								</data>
								<key>Size</key>
								<integer>7369</integer>
							</dict>
							<key>files/stacks-image-5d6979e-300x322.png</key>
							<dict>
								<key>Digest</key>
								<data>
								1Z6PGmXZh44d
								h6q++YpI2Q==
								</data>
								<key>Size</key>
								<integer>171261</integer>
							</dict>
							<key>files/stacks-image-5d6979e-300x322@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								UyQMZjnI94EF
								Sn+bs1QOCg==
								</data>
								<key>Size</key>
								<integer>672561</integer>
							</dict>
							<key>files/stacks-image-65a350f-300x350.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								bUROxmXu1jFB
								FsJCPyQQlQ==
								</data>
								<key>Size</key>
								<integer>26478</integer>
							</dict>
							<key>files/stacks-image-65a350f-300x350@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								QDIy/TeXrxTU
								jaVJXjj3Jw==
								</data>
								<key>Size</key>
								<integer>47717</integer>
							</dict>
							<key>files/stacks-image-662401b-300x350.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								PHkttipl3MsR
								C6aReQzM5g==
								</data>
								<key>Size</key>
								<integer>38606</integer>
							</dict>
							<key>files/stacks-image-6af183c-300x350.png</key>
							<dict>
								<key>Digest</key>
								<data>
								0rkSKKi8sPfB
								LiNCX386Bg==
								</data>
								<key>Size</key>
								<integer>226641</integer>
							</dict>
							<key>files/stacks-image-6d9ca75-300x350.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								GZC68mBjc5Kj
								CeKdb45CEw==
								</data>
								<key>Size</key>
								<integer>18139</integer>
							</dict>
							<key>files/stacks-image-78bb7b9-300x324.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zFd2+ko1doHE
								az7iwynNYw==
								</data>
								<key>Size</key>
								<integer>151342</integer>
							</dict>
							<key>files/stacks-image-78bb7b9-300x324@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Iu0eJ5jpEVay
								Kz4f/sx2Sw==
								</data>
								<key>Size</key>
								<integer>517728</integer>
							</dict>
							<key>files/stacks-image-79fb775-300x350.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ZagjqDoql8wu
								OhdZuM7jsw==
								</data>
								<key>Size</key>
								<integer>20511</integer>
							</dict>
							<key>files/stacks-image-7f88ddc-300x350.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								x6FSFTLJzOC4
								o35UH6OfmA==
								</data>
								<key>Size</key>
								<integer>24606</integer>
							</dict>
							<key>files/stacks-image-8ae62b5-300x300.png</key>
							<dict>
								<key>Digest</key>
								<data>
								31dhvCVbRIUt
								F7G1Cdn5Jw==
								</data>
								<key>Size</key>
								<integer>192101</integer>
							</dict>
							<key>files/stacks-image-941e3da-300x198.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								QuWLrTIq+O9C
								EaUig6Y6rw==
								</data>
								<key>Size</key>
								<integer>8096</integer>
							</dict>
							<key>files/stacks-image-972fdf4-300x300.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								cXbqfkVu6UdM
								01uId2+K2w==
								</data>
								<key>Size</key>
								<integer>36210</integer>
							</dict>
							<key>files/stacks-image-9f7d73f-300x216.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								nVi+AVzApC11
								BfzRjNOOXA==
								</data>
								<key>Size</key>
								<integer>18998</integer>
							</dict>
							<key>files/stacks-image-a2c194c-300x350.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								txRdmust9ot1
								2D109+AiRg==
								</data>
								<key>Size</key>
								<integer>24398</integer>
							</dict>
							<key>files/stacks-image-abbba8f-300x350.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MOmh0x5eSLGI
								S2Ec2GhhLg==
								</data>
								<key>Size</key>
								<integer>189661</integer>
							</dict>
							<key>files/stacks-image-abbba8f-300x350@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								h5CN5IveLmRD
								FuqDOc+JdA==
								</data>
								<key>Size</key>
								<integer>716939</integer>
							</dict>
							<key>files/stacks-image-bd6dcce-300x256.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								m7RB2S1Q2d9u
								gNaK1MHmzg==
								</data>
								<key>Size</key>
								<integer>30892</integer>
							</dict>
							<key>files/stacks-image-bd6dcce-300x256@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								rGrMZ9fIG5/d
								wCj5TBicVQ==
								</data>
								<key>Size</key>
								<integer>53383</integer>
							</dict>
							<key>files/stacks-image-c742e83-300x350.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								0r6n6AJYZDB8
								73bNbdG+2w==
								</data>
								<key>Size</key>
								<integer>17231</integer>
							</dict>
							<key>files/stacks-image-c742e83-300x350@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								LAffRMWYPbFt
								uvR+x7qwhA==
								</data>
								<key>Size</key>
								<integer>26679</integer>
							</dict>
							<key>files/stacks-image-cd48b26-300x300.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								q2vgaYcHcHGs
								8AkpBZN8tg==
								</data>
								<key>Size</key>
								<integer>22321</integer>
							</dict>
							<key>files/stacks-image-cd48b26-300x300@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								xFDFv6S1gk9G
								6/7ynpF6Wg==
								</data>
								<key>Size</key>
								<integer>39700</integer>
							</dict>
							<key>files/stacks-image-cf2d479-300x350.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								AcLMdV8SE3Vz
								OcTdpu1ygg==
								</data>
								<key>Size</key>
								<integer>16084</integer>
							</dict>
							<key>files/stacks-image-d60e596-300x300.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								6rywPUyf1hA2
								CmKUdaVnZQ==
								</data>
								<key>Size</key>
								<integer>31524</integer>
							</dict>
							<key>files/stacks-image-e7c7152-300x312.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								wIlXDM4vboY1
								ZUT6WdJ2zg==
								</data>
								<key>Size</key>
								<integer>19356</integer>
							</dict>
							<key>files/stacks-image-e7c7152-300x312@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								mFP8QOAujjjo
								9ZEIkVVvzA==
								</data>
								<key>Size</key>
								<integer>30729</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Hwezk6t72J5g
								2awHy7YAqA==
								</data>
								<key>Size</key>
								<integer>19470</integer>
							</dict>
							<key>files/stacks-image-f9bef41-300x350.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								4cWpb87C9J1Q
								0XZrM2wMDQ==
								</data>
								<key>Size</key>
								<integer>20590</integer>
							</dict>
							<key>files/stacks-image-f9bef41-300x350@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								qiqffTFIHDQq
								uyCUTpA+Bw==
								</data>
								<key>Size</key>
								<integer>37517</integer>
							</dict>
							<key>files/stacks_page_page94.css</key>
							<dict>
								<key>Digest</key>
								<data>
								5Od81FdL46nD
								swWmK0l65A==
								</data>
								<key>Size</key>
								<integer>301762</integer>
							</dict>
							<key>files/stacks_page_page94.js</key>
							<dict>
								<key>Digest</key>
								<data>
								rzMj+lAv9+/2
								D/BKMr6bKA==
								</data>
								<key>Size</key>
								<integer>27102</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								ynRdeWPQRPz8
								M9fDQPYDkA==
								</data>
								<key>Size</key>
								<integer>225790</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page94</string>
						<key>SiteRoot</key>
						<string>people/external-faculty</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
