<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Computational Ethics Lab</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:30Z</date>
				<key>ID</key>
				<string>page103</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>CEL</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.2.2</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2021-05-06T15:05:33Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small-109623-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/small-109710-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JfxF8Omi0icK
								xIwohpIZqw==
								</data>
								<key>Size</key>
								<integer>77487</integer>
							</dict>
							<key>files/small-109714-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2NMhf1k+YDl
								uPpd6H1dBw==
								</data>
								<key>Size</key>
								<integer>15019</integer>
							</dict>
							<key>files/small-109735-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D2nm4R7babci
								2M5NjfUDZQ==
								</data>
								<key>Size</key>
								<integer>18925</integer>
							</dict>
							<key>files/small-109736-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgRiuB3NhhIh
								SwZTifI18g==
								</data>
								<key>Size</key>
								<integer>21987</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								C82d5dfws9q4
								DDOA2BFu1w==
								</data>
								<key>Size</key>
								<integer>35273</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								v/SijtX2gRco
								SwESRI9B4g==
								</data>
								<key>Size</key>
								<integer>68378</integer>
							</dict>
							<key>files/stacks-image-1255401-300x278.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								qDEvDgI5+tM+
								ri1MDpl0dQ==
								</data>
								<key>Size</key>
								<integer>32773</integer>
							</dict>
							<key>files/stacks-image-17aefd8-700x466.png</key>
							<dict>
								<key>Digest</key>
								<data>
								qh8uboswBTkZ
								tBcJyDMHQg==
								</data>
								<key>Size</key>
								<integer>142884</integer>
							</dict>
							<key>files/stacks-image-2cede1e-150x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								1a+H2rXW1x8r
								GxJQR91GOA==
								</data>
								<key>Size</key>
								<integer>11984</integer>
							</dict>
							<key>files/stacks-image-2cede1e-150x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								GH0OauDdtWkF
								wCI8iPf8uQ==
								</data>
								<key>Size</key>
								<integer>17079</integer>
							</dict>
							<key>files/stacks-image-2cede1e-186x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								GA+JAEeocDeS
								QevyQ9xN1g==
								</data>
								<key>Size</key>
								<integer>15324</integer>
							</dict>
							<key>files/stacks-image-2cede1e-186x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								vFQXNDZpcYve
								kZP6iWnslQ==
								</data>
								<key>Size</key>
								<integer>22064</integer>
							</dict>
							<key>files/stacks-image-2cede1e-224x300.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								td+zd3mlRigc
								EqMGkNiyiw==
								</data>
								<key>Size</key>
								<integer>18059</integer>
							</dict>
							<key>files/stacks-image-2cede1e-224x300@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								jqoosJn+pddW
								Z2hqZMc50Q==
								</data>
								<key>Size</key>
								<integer>29003</integer>
							</dict>
							<key>files/stacks-image-541b38d.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Mag094rYUSM7
								OlN+5qzw/Q==
								</data>
								<key>Size</key>
								<integer>33074</integer>
							</dict>
							<key>files/stacks-image-636ed7c-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								w4eD2AKNUI5B
								QRY1a2aBIg==
								</data>
								<key>Size</key>
								<integer>16061</integer>
							</dict>
							<key>files/stacks-image-636ed7c-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								5+zBR5W9WjqX
								D+hHbEtuMA==
								</data>
								<key>Size</key>
								<integer>24457</integer>
							</dict>
							<key>files/stacks-image-636ed7c-200x300.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								aPbfb3OBedV7
								UkbtBUbm+g==
								</data>
								<key>Size</key>
								<integer>20402</integer>
							</dict>
							<key>files/stacks-image-636ed7c-200x300@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								tUCqhTL0d378
								t7oGFOHOWQ==
								</data>
								<key>Size</key>
								<integer>31661</integer>
							</dict>
							<key>files/stacks-image-68c7485-200x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								na8zrqhdER9k
								6MVRx4dHwA==
								</data>
								<key>Size</key>
								<integer>102142</integer>
							</dict>
							<key>files/stacks-image-6ebb971-244x350.png</key>
							<dict>
								<key>Digest</key>
								<data>
								2EhHUbzDtYYK
								PuipcAkf/g==
								</data>
								<key>Size</key>
								<integer>165890</integer>
							</dict>
							<key>files/stacks-image-82572eb-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								oH0aL+K8vJ4d
								77w13GAYTQ==
								</data>
								<key>Size</key>
								<integer>21294</integer>
							</dict>
							<key>files/stacks-image-c2d9b60-198x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								H0U2HJTH+SDH
								UZpxycXg6g==
								</data>
								<key>Size</key>
								<integer>42018</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								IcJyU76V543g
								RUdnIXKzHw==
								</data>
								<key>Size</key>
								<integer>19481</integer>
							</dict>
							<key>files/stacks.css</key>
							<dict>
								<key>Digest</key>
								<data>
								wgmIAuepvJFg
								INqwDCfPXQ==
								</data>
								<key>Size</key>
								<integer>1879</integer>
							</dict>
							<key>files/stacks_page_page103.css</key>
							<dict>
								<key>Digest</key>
								<data>
								Tmys4P/q0lPT
								dKGbD1NfVg==
								</data>
								<key>Size</key>
								<integer>162780</integer>
							</dict>
							<key>files/stacks_page_page103.js</key>
							<dict>
								<key>Digest</key>
								<data>
								VutcrDgyYtYP
								ba1aEMAm3A==
								</data>
								<key>Size</key>
								<integer>25438</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								QIA+lf75DvLd
								EFFJK7/oDA==
								</data>
								<key>Size</key>
								<integer>91669</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page103</string>
						<key>SiteRoot</key>
						<string>research/groups/CEL</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
