<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>The Shopboctopus</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:30Z</date>
				<key>ID</key>
				<string>page48</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Shop</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.3.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2024-01-26T21:03:20Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/large-525767.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/medium-525767.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/small-109623-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/small-109710-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JfxF8Omi0icK
								xIwohpIZqw==
								</data>
								<key>Size</key>
								<integer>77487</integer>
							</dict>
							<key>files/small-109714-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2NMhf1k+YDl
								uPpd6H1dBw==
								</data>
								<key>Size</key>
								<integer>15019</integer>
							</dict>
							<key>files/small-109735-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D2nm4R7babci
								2M5NjfUDZQ==
								</data>
								<key>Size</key>
								<integer>18925</integer>
							</dict>
							<key>files/small-109736-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgRiuB3NhhIh
								SwZTifI18g==
								</data>
								<key>Size</key>
								<integer>21987</integer>
							</dict>
							<key>files/small-525767.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JV5ejNT3Y8/E
								W0wI16l5/Q==
								</data>
								<key>Size</key>
								<integer>35252</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Su+ZpJd1NY34
								s0J16tjsFg==
								</data>
								<key>Size</key>
								<integer>68409</integer>
							</dict>
							<key>files/stacks-image-18473bf.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								eRyEcLDU2mIu
								vvLXQVns7g==
								</data>
								<key>Size</key>
								<integer>82512</integer>
							</dict>
							<key>files/stacks-image-204432c-1200x894.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Xt1814rFjYC5
								XEvOqgx6bg==
								</data>
								<key>Size</key>
								<integer>120843</integer>
							</dict>
							<key>files/stacks-image-54257d0.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								KOxnagu4bDIS
								4EI+T4ZOjw==
								</data>
								<key>Size</key>
								<integer>69264</integer>
							</dict>
							<key>files/stacks-image-5494ea4.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Tfc1obHhoTtj
								9Src852eRg==
								</data>
								<key>Size</key>
								<integer>122434</integer>
							</dict>
							<key>files/stacks-image-5d70ab9.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								DLDt+HJa7dRj
								mg13ManJMw==
								</data>
								<key>Size</key>
								<integer>188977</integer>
							</dict>
							<key>files/stacks-image-62bceec.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								2yxDwJuS+ydg
								YMZxpyWLDg==
								</data>
								<key>Size</key>
								<integer>114644</integer>
							</dict>
							<key>files/stacks-image-837b543.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								thW52br/GmUN
								Xb6KQI2PWA==
								</data>
								<key>Size</key>
								<integer>210408</integer>
							</dict>
							<key>files/stacks-image-c91e868.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ayV5fP5yWqK6
								WhmrAEtklA==
								</data>
								<key>Size</key>
								<integer>65519</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								0LBTZh9Y4iZ6
								By0DZuC++A==
								</data>
								<key>Size</key>
								<integer>19463</integer>
							</dict>
							<key>files/stacks-image-f82f88b.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								8NJx0cd/bjhS
								fVrkZrCw4Q==
								</data>
								<key>Size</key>
								<integer>256909</integer>
							</dict>
							<key>files/stacks_page_page48.css</key>
							<dict>
								<key>Digest</key>
								<data>
								0pcz3AIo1LnQ
								20gKKZkfPw==
								</data>
								<key>Size</key>
								<integer>117708</integer>
							</dict>
							<key>files/stacks_page_page48.js</key>
							<dict>
								<key>Digest</key>
								<data>
								6Kl0iemIu+qe
								MFk5mn5KDw==
								</data>
								<key>Size</key>
								<integer>24472</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								iO183cxnuJvw
								Y1UXDhahDg==
								</data>
								<key>Size</key>
								<integer>57750</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page48</string>
						<key>SiteRoot</key>
						<string>shop</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
