<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:30Z</date>
				<key>ID</key>
				<string>page41</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Undergraduate degrees</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.6.9</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-10-22T14:41:21Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small_525295.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								bH/gwnwRbdZ8
								9ID3bIB61w==
								</data>
								<key>Size</key>
								<integer>96467</integer>
							</dict>
							<key>files/small_525309.png</key>
							<dict>
								<key>Digest</key>
								<data>
								OAFREfOgCFVX
								ZEK41eA/LA==
								</data>
								<key>Size</key>
								<integer>227556</integer>
							</dict>
							<key>files/small_525347.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								bH/gwnwRbdZ8
								9ID3bIB61w==
								</data>
								<key>Size</key>
								<integer>96467</integer>
							</dict>
							<key>files/small_525358.png</key>
							<dict>
								<key>Digest</key>
								<data>
								WP7a6xLcKSee
								DB8zvH1aUw==
								</data>
								<key>Size</key>
								<integer>34951</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								kDQdTd/TojTe
								5RskwegNJw==
								</data>
								<key>Size</key>
								<integer>361514</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								5SEHlmzIRPnE
								h1Zlyu2W+A==
								</data>
								<key>Size</key>
								<integer>35205</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZP2FJ/yve/bb
								UMUDEFQ7OA==
								</data>
								<key>Size</key>
								<integer>68310</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								FWLv4iC2Yarl
								ySGORUZ3Iw==
								</data>
								<key>Size</key>
								<integer>19413</integer>
							</dict>
							<key>files/stacks_page_page41.css</key>
							<dict>
								<key>Digest</key>
								<data>
								uxJ6l/1F5bKb
								atPCU+6eNQ==
								</data>
								<key>Size</key>
								<integer>110120</integer>
							</dict>
							<key>files/stacks_page_page41.js</key>
							<dict>
								<key>Digest</key>
								<data>
								wz0ozv2SGz6R
								RocwDFNA5Q==
								</data>
								<key>Size</key>
								<integer>23922</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								5UNqEkOGy88D
								3fx0tOIXSA==
								</data>
								<key>Size</key>
								<integer>48652</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page41</string>
						<key>SiteRoot</key>
						<string>education/undergraduate</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
