<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:30Z</date>
				<key>ID</key>
				<string>page41</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Undergraduate degrees</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.6.6</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-03-08T17:38:46Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/medium_525309.png</key>
							<dict>
								<key>Digest</key>
								<data>
								aSBmV7Fa6CFe
								VBLpy1oimQ==
								</data>
								<key>Size</key>
								<integer>151248</integer>
							</dict>
							<key>files/small_525295.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								bH/gwnwRbdZ8
								9ID3bIB61w==
								</data>
								<key>Size</key>
								<integer>96467</integer>
							</dict>
							<key>files/small_525309.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zyJjwa00+qS6
								8ZFxcDVfDg==
								</data>
								<key>Size</key>
								<integer>146474</integer>
							</dict>
							<key>files/small_525347.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								bH/gwnwRbdZ8
								9ID3bIB61w==
								</data>
								<key>Size</key>
								<integer>96467</integer>
							</dict>
							<key>files/small_525358.png</key>
							<dict>
								<key>Digest</key>
								<data>
								WP7a6xLcKSee
								DB8zvH1aUw==
								</data>
								<key>Size</key>
								<integer>34951</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZFHf9zniv4SK
								z9ywIWAR7Q==
								</data>
								<key>Size</key>
								<integer>124861</integer>
							</dict>
							<key>files/stacks-image-580baf6-248x248.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								yZQqhuEMgia3
								owVDiEQk8g==
								</data>
								<key>Size</key>
								<integer>13322</integer>
							</dict>
							<key>files/stacks-image-90966db-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								kcVxqK0Y23YI
								Ns11kdYJ6w==
								</data>
								<key>Size</key>
								<integer>21714</integer>
							</dict>
							<key>files/stacks_page_page41.css</key>
							<dict>
								<key>Digest</key>
								<data>
								VJe4NXSZeUIH
								7moEupltIg==
								</data>
								<key>Size</key>
								<integer>102186</integer>
							</dict>
							<key>files/stacks_page_page41.js</key>
							<dict>
								<key>Digest</key>
								<data>
								5oG0vXry+oFL
								oOszLjoyIQ==
								</data>
								<key>Size</key>
								<integer>24349</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								e0JvcUcHqdF/
								KNZE1jgwwQ==
								</data>
								<key>Size</key>
								<integer>44541</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page41</string>
						<key>SiteRoot</key>
						<string>education/undergraduate</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
