<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:30Z</date>
				<key>ID</key>
				<string>page92</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>OCEAN Awards</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.2.2</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2021-02-23T18:41:06Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small-109623-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/small-109710-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JfxF8Omi0icK
								xIwohpIZqw==
								</data>
								<key>Size</key>
								<integer>77487</integer>
							</dict>
							<key>files/small-109714-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2NMhf1k+YDl
								uPpd6H1dBw==
								</data>
								<key>Size</key>
								<integer>15019</integer>
							</dict>
							<key>files/small-109735-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D2nm4R7babci
								2M5NjfUDZQ==
								</data>
								<key>Size</key>
								<integer>18925</integer>
							</dict>
							<key>files/small-109736-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgRiuB3NhhIh
								SwZTifI18g==
								</data>
								<key>Size</key>
								<integer>21987</integer>
							</dict>
							<key>files/stacks-image-08b1d33-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								o9aPqcySd4Y1
								0WeXw5juLw==
								</data>
								<key>Size</key>
								<integer>27167</integer>
							</dict>
							<key>files/stacks-image-08b1d33-400x400@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ioZaWSaos47J
								HTswps89rQ==
								</data>
								<key>Size</key>
								<integer>42320</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								C82d5dfws9q4
								DDOA2BFu1w==
								</data>
								<key>Size</key>
								<integer>35273</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								v/SijtX2gRco
								SwESRI9B4g==
								</data>
								<key>Size</key>
								<integer>68378</integer>
							</dict>
							<key>files/stacks-image-18f1b71-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								LluifNqzekKz
								FiveAmY1ZQ==
								</data>
								<key>Size</key>
								<integer>31724</integer>
							</dict>
							<key>files/stacks-image-18f1b71-400x400@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Ozpxa7NAovXw
								HPC6GyOytw==
								</data>
								<key>Size</key>
								<integer>50815</integer>
							</dict>
							<key>files/stacks-image-39077ac-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								1GtNfleWDvhY
								pTOLLsB+mQ==
								</data>
								<key>Size</key>
								<integer>30964</integer>
							</dict>
							<key>files/stacks-image-4c10b4a-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								C1V4d/3m5gUD
								RfrzpFEBYg==
								</data>
								<key>Size</key>
								<integer>38528</integer>
							</dict>
							<key>files/stacks-image-9874180-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								W9+FY3BVkZP0
								zJonk/xIYw==
								</data>
								<key>Size</key>
								<integer>25236</integer>
							</dict>
							<key>files/stacks-image-9874180-400x400@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Hcv7YiXJuQi2
								QoOw0L6drQ==
								</data>
								<key>Size</key>
								<integer>42498</integer>
							</dict>
							<key>files/stacks-image-9db05da-400x400.png</key>
							<dict>
								<key>Digest</key>
								<data>
								yv1vnLoMNmHh
								0H51Bbu95Q==
								</data>
								<key>Size</key>
								<integer>224553</integer>
							</dict>
							<key>files/stacks-image-a26991d-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								OiiygIbpSBUI
								L35O0SJYGA==
								</data>
								<key>Size</key>
								<integer>32507</integer>
							</dict>
							<key>files/stacks-image-a839a62-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								T2qe+R0O6cnx
								F0gt6vbYYg==
								</data>
								<key>Size</key>
								<integer>27460</integer>
							</dict>
							<key>files/stacks-image-b4a7cc2-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								S0BU3sYvJmTy
								7CUfNGEARA==
								</data>
								<key>Size</key>
								<integer>33349</integer>
							</dict>
							<key>files/stacks-image-b4a7cc2-400x400@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								dzokGR+8K8cw
								XeOYoJTFvQ==
								</data>
								<key>Size</key>
								<integer>53504</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								IcJyU76V543g
								RUdnIXKzHw==
								</data>
								<key>Size</key>
								<integer>19481</integer>
							</dict>
							<key>files/stacks-image-f2b9c2a-400x400.png</key>
							<dict>
								<key>Digest</key>
								<data>
								/MIboxsc1Yqi
								rit2XgmGCA==
								</data>
								<key>Size</key>
								<integer>300345</integer>
							</dict>
							<key>files/stacks.css</key>
							<dict>
								<key>Digest</key>
								<data>
								wgmIAuepvJFg
								INqwDCfPXQ==
								</data>
								<key>Size</key>
								<integer>1879</integer>
							</dict>
							<key>files/stacks_page_page92.css</key>
							<dict>
								<key>Digest</key>
								<data>
								/PpemUCvCIDT
								nDYk1edauA==
								</data>
								<key>Size</key>
								<integer>160787</integer>
							</dict>
							<key>files/stacks_page_page92.js</key>
							<dict>
								<key>Digest</key>
								<data>
								dSAqVCQaswUd
								GckjUW5k0g==
								</data>
								<key>Size</key>
								<integer>23663</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								d1itovt+vu0A
								c5/9gfWfoQ==
								</data>
								<key>Size</key>
								<integer>89235</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page92</string>
						<key>SiteRoot</key>
						<string>partner/OCEAN/awards</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
