<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Talkboctopus</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page91</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Talkboctopus</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.2.4</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2022-08-03T10:51:03Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small-109623-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/small-109710-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JfxF8Omi0icK
								xIwohpIZqw==
								</data>
								<key>Size</key>
								<integer>77487</integer>
							</dict>
							<key>files/small-109714-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2NMhf1k+YDl
								uPpd6H1dBw==
								</data>
								<key>Size</key>
								<integer>15019</integer>
							</dict>
							<key>files/small-109735-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D2nm4R7babci
								2M5NjfUDZQ==
								</data>
								<key>Size</key>
								<integer>18925</integer>
							</dict>
							<key>files/small-109736-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgRiuB3NhhIh
								SwZTifI18g==
								</data>
								<key>Size</key>
								<integer>21987</integer>
							</dict>
							<key>files/stacks-image-074db50-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								EsNULB+zoeYm
								cihJ3a2MQQ==
								</data>
								<key>Size</key>
								<integer>33172</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								nc/RlhmvGDDL
								K+SuTjMLPQ==
								</data>
								<key>Size</key>
								<integer>35262</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								tvAomUQyeND0
								vTpTZz/VVg==
								</data>
								<key>Size</key>
								<integer>68367</integer>
							</dict>
							<key>files/stacks-image-0d23015-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								hGs3Wje1uSmJ
								XUfDmHdP9w==
								</data>
								<key>Size</key>
								<integer>18222</integer>
							</dict>
							<key>files/stacks-image-0d23015-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								OiXY00gH0+NV
								vC21gehXZg==
								</data>
								<key>Size</key>
								<integer>25032</integer>
							</dict>
							<key>files/stacks-image-0ea7c9b.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								u9oQrCMfZ1mp
								a+TGmkefXA==
								</data>
								<key>Size</key>
								<integer>105491</integer>
							</dict>
							<key>files/stacks-image-17e14fc-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Ch/ZBQuTpqor
								Jl5ttAB5Sw==
								</data>
								<key>Size</key>
								<integer>10684</integer>
							</dict>
							<key>files/stacks-image-17e14fc-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								aHt+1uRu+hLO
								XD3O3sro0Q==
								</data>
								<key>Size</key>
								<integer>15346</integer>
							</dict>
							<key>files/stacks-image-1eef836-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								5z5RnHFJ4xug
								V3ry3mzxng==
								</data>
								<key>Size</key>
								<integer>18717</integer>
							</dict>
							<key>files/stacks-image-29ef119-200x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ogBNss01WGJr
								lxQCW0N5Dg==
								</data>
								<key>Size</key>
								<integer>91488</integer>
							</dict>
							<key>files/stacks-image-2b2723f-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								utACWJgF+isC
								WXoMChmxoQ==
								</data>
								<key>Size</key>
								<integer>12740</integer>
							</dict>
							<key>files/stacks-image-2b2723f-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								L6w+OfcbegZv
								afB7p360Ow==
								</data>
								<key>Size</key>
								<integer>19412</integer>
							</dict>
							<key>files/stacks-image-2d2c788-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Ti1suxOJgR2J
								lahXzV4zWw==
								</data>
								<key>Size</key>
								<integer>14224</integer>
							</dict>
							<key>files/stacks-image-3753c1e-500x498.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								pvMCKXwIvY0i
								q5ThPXVHzg==
								</data>
								<key>Size</key>
								<integer>40008</integer>
							</dict>
							<key>files/stacks-image-3a11b0c-200x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								LgK67o3J01rA
								N6TZXl/M2Q==
								</data>
								<key>Size</key>
								<integer>81454</integer>
							</dict>
							<key>files/stacks-image-3a11b0c-200x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Z2s06bZUeH6a
								YVaK+Xokdw==
								</data>
								<key>Size</key>
								<integer>284961</integer>
							</dict>
							<key>files/stacks-image-3b955a4-300x300.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								BsHrNSPCOrSZ
								xz00utFRlA==
								</data>
								<key>Size</key>
								<integer>26408</integer>
							</dict>
							<key>files/stacks-image-3d22f3f-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								n15fyM3JBjL4
								uVOHiggRJw==
								</data>
								<key>Size</key>
								<integer>17201</integer>
							</dict>
							<key>files/stacks-image-3d22f3f-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								nNSlacrGPzYi
								r4e+GJWybA==
								</data>
								<key>Size</key>
								<integer>24346</integer>
							</dict>
							<key>files/stacks-image-456042f-800x1200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Nvhq8XvDl5bx
								7IX6kH9p/w==
								</data>
								<key>Size</key>
								<integer>121260</integer>
							</dict>
							<key>files/stacks-image-456042f-800x1200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								TnY0ogG+0HzC
								lmDuHCjZ6g==
								</data>
								<key>Size</key>
								<integer>197199</integer>
							</dict>
							<key>files/stacks-image-4caf911-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								zRJ/fKEd13H8
								SVZb99yrhQ==
								</data>
								<key>Size</key>
								<integer>19451</integer>
							</dict>
							<key>files/stacks-image-4d267d5.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								8L272rRcNx/K
								zeC3FxXL5w==
								</data>
								<key>Size</key>
								<integer>5037</integer>
							</dict>
							<key>files/stacks-image-4d82f27-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								pVpHN4FIvrJw
								BSD0dKYNCQ==
								</data>
								<key>Size</key>
								<integer>14323</integer>
							</dict>
							<key>files/stacks-image-4d8e34c-200x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								6729kTZaLKRv
								d/gyMBDB1g==
								</data>
								<key>Size</key>
								<integer>76203</integer>
							</dict>
							<key>files/stacks-image-4d8e34c-200x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								+7L9s9mNKRQX
								+jzKxinpIw==
								</data>
								<key>Size</key>
								<integer>253681</integer>
							</dict>
							<key>files/stacks-image-5259eb3-200x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								qRCgRs+X2Urg
								UAFW5/G2Bw==
								</data>
								<key>Size</key>
								<integer>57237</integer>
							</dict>
							<key>files/stacks-image-5bf3092-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ix5Rab2g0Ek5
								Vs346ZUqDw==
								</data>
								<key>Size</key>
								<integer>12940</integer>
							</dict>
							<key>files/stacks-image-5d61bd5-300x346.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								k7pb2TDxuo4U
								jgXo6Zj7sA==
								</data>
								<key>Size</key>
								<integer>24735</integer>
							</dict>
							<key>files/stacks-image-5d84a60-300x300.png</key>
							<dict>
								<key>Digest</key>
								<data>
								EI9cv6N3WUAq
								2dM9cqaHHw==
								</data>
								<key>Size</key>
								<integer>187894</integer>
							</dict>
							<key>files/stacks-image-636ed7c-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								8GX5NHmW7XqN
								oddBIGmGww==
								</data>
								<key>Size</key>
								<integer>16045</integer>
							</dict>
							<key>files/stacks-image-636ed7c-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								h3B6RAl9t6Ak
								7OwkMWP+ow==
								</data>
								<key>Size</key>
								<integer>24441</integer>
							</dict>
							<key>files/stacks-image-6ad6ed1-300x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								6RrUcyemhk3X
								7SLxfqPYAQ==
								</data>
								<key>Size</key>
								<integer>30828</integer>
							</dict>
							<key>files/stacks-image-6ad6ed1-300x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								eOKCoRhlEaet
								3cFeaT3x0Q==
								</data>
								<key>Size</key>
								<integer>58117</integer>
							</dict>
							<key>files/stacks-image-7228587-200x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								LMm0RWLdb1Kf
								HZT+2Bt84w==
								</data>
								<key>Size</key>
								<integer>66565</integer>
							</dict>
							<key>files/stacks-image-7228587-200x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								LoXZL3QGPYTG
								oF8/EecGCg==
								</data>
								<key>Size</key>
								<integer>218967</integer>
							</dict>
							<key>files/stacks-image-824db91-164x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								eIWFg/ENut64
								3/01xfdPhw==
								</data>
								<key>Size</key>
								<integer>29328</integer>
							</dict>
							<key>files/stacks-image-85378e5.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								z16kvwltBJ9+
								vMTNToOVKQ==
								</data>
								<key>Size</key>
								<integer>12745</integer>
							</dict>
							<key>files/stacks-image-88772e3-300x300.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								d6eiV2PR95De
								xcRYoi+idg==
								</data>
								<key>Size</key>
								<integer>27428</integer>
							</dict>
							<key>files/stacks-image-893502b-300x316.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								1sbnj5VjSw/G
								tyOkQi/DnQ==
								</data>
								<key>Size</key>
								<integer>15824</integer>
							</dict>
							<key>files/stacks-image-893502b-300x316@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								MtKDG6/FLCxA
								mZhvsYbx3g==
								</data>
								<key>Size</key>
								<integer>24518</integer>
							</dict>
							<key>files/stacks-image-89bb320-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								MXS2C61kH5Ec
								hEyYscv7Tg==
								</data>
								<key>Size</key>
								<integer>12494</integer>
							</dict>
							<key>files/stacks-image-8fccb52-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								tfBIU6WIIlKz
								VGufFjco8w==
								</data>
								<key>Size</key>
								<integer>78046</integer>
							</dict>
							<key>files/stacks-image-904cb2c-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								dsVmFSoXoBKO
								srsRzv0yIQ==
								</data>
								<key>Size</key>
								<integer>15550</integer>
							</dict>
							<key>files/stacks-image-904cb2c-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								SPQB4QSmDUiC
								1k8NHB6NSw==
								</data>
								<key>Size</key>
								<integer>26607</integer>
							</dict>
							<key>files/stacks-image-97610c3.png</key>
							<dict>
								<key>Digest</key>
								<data>
								a/UJ2obnsOaW
								k18EsIswdA==
								</data>
								<key>Size</key>
								<integer>167479</integer>
							</dict>
							<key>files/stacks-image-9d1f9ae.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								RfihxIN0jLrt
								qwBcPo1SAA==
								</data>
								<key>Size</key>
								<integer>4707</integer>
							</dict>
							<key>files/stacks-image-a598849-200x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								RrbSVXK3Yln2
								lpCAG39Ubg==
								</data>
								<key>Size</key>
								<integer>89277</integer>
							</dict>
							<key>files/stacks-image-a598849-200x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								aUrBIjhoeXeM
								HcXDq/q/cw==
								</data>
								<key>Size</key>
								<integer>344021</integer>
							</dict>
							<key>files/stacks-image-a5d5c7b-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ZSqbTYoV+esv
								s+J4R0wEMg==
								</data>
								<key>Size</key>
								<integer>12919</integer>
							</dict>
							<key>files/stacks-image-a5d5c7b-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								e9aKE8heFVqx
								PlGtPHLu+g==
								</data>
								<key>Size</key>
								<integer>20441</integer>
							</dict>
							<key>files/stacks-image-a9b228a-300x300.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								lxv+wiV8eD6n
								khYNgFnwfA==
								</data>
								<key>Size</key>
								<integer>28867</integer>
							</dict>
							<key>files/stacks-image-ad1dd40-200x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								mAfql/k5q8AG
								Au/DKiS45g==
								</data>
								<key>Size</key>
								<integer>92871</integer>
							</dict>
							<key>files/stacks-image-ad1dd40-200x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								0R5HpjSO3TIb
								hVvDv3/gRg==
								</data>
								<key>Size</key>
								<integer>360745</integer>
							</dict>
							<key>files/stacks-image-b747098-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Vc5mK3PONNEW
								G/eQE4TWpg==
								</data>
								<key>Size</key>
								<integer>11053</integer>
							</dict>
							<key>files/stacks-image-b8a1951-300x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								sScGtO1Oc530
								r9wX0bUbTQ==
								</data>
								<key>Size</key>
								<integer>15547</integer>
							</dict>
							<key>files/stacks-image-ba97414.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								yjhcJUP88k0K
								zilb/ZzhVA==
								</data>
								<key>Size</key>
								<integer>39282</integer>
							</dict>
							<key>files/stacks-image-c1c3c13-300x168.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								SIe/1stf3dl5
								Co2rxmchIQ==
								</data>
								<key>Size</key>
								<integer>11562</integer>
							</dict>
							<key>files/stacks-image-c1c3c13-300x168@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								iMFzEvKqCvnh
								3/pp4Hc0MQ==
								</data>
								<key>Size</key>
								<integer>17468</integer>
							</dict>
							<key>files/stacks-image-db209a0-200x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								qGJhxBbuMF9W
								eVMhEC8+RA==
								</data>
								<key>Size</key>
								<integer>109835</integer>
							</dict>
							<key>files/stacks-image-db209a0-200x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								TEoNMvL3G9Ky
								U+gPFrHorQ==
								</data>
								<key>Size</key>
								<integer>381105</integer>
							</dict>
							<key>files/stacks-image-ddbd7f7-300x264.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								sxdWxEq5HSZU
								x+HIon4knQ==
								</data>
								<key>Size</key>
								<integer>26056</integer>
							</dict>
							<key>files/stacks-image-e60a35d-300x300.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								THqUs3UE3K+g
								jyBqp/LmJA==
								</data>
								<key>Size</key>
								<integer>19708</integer>
							</dict>
							<key>files/stacks-image-e60a35d-300x300@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								IQfc/ShMa6Hx
								HvHWsbHCow==
								</data>
								<key>Size</key>
								<integer>33361</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Hwezk6t72J5g
								2awHy7YAqA==
								</data>
								<key>Size</key>
								<integer>19470</integer>
							</dict>
							<key>files/stacks-image-eaa153d-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								nqVFPHmlvCtY
								FZ9OyFE5eQ==
								</data>
								<key>Size</key>
								<integer>14493</integer>
							</dict>
							<key>files/stacks-image-eaa153d-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								b2VQG31cLEMf
								uHhGyMSKMg==
								</data>
								<key>Size</key>
								<integer>29674</integer>
							</dict>
							<key>files/stacks-image-eccd3f1-300x300.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								xARQD2dNyFqC
								QTFtTWLz2w==
								</data>
								<key>Size</key>
								<integer>29884</integer>
							</dict>
							<key>files/stacks-image-ed0cb92-234x350.png</key>
							<dict>
								<key>Digest</key>
								<data>
								BdLQ2FufO1vm
								2eUiNWfTEA==
								</data>
								<key>Size</key>
								<integer>119145</integer>
							</dict>
							<key>files/stacks-image-f03fa06-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								HcQyJo6y0EaV
								9vyG+zTd8A==
								</data>
								<key>Size</key>
								<integer>20191</integer>
							</dict>
							<key>files/stacks-image-f03fa06-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								lRywhcF6mhLm
								79O0LNzwng==
								</data>
								<key>Size</key>
								<integer>31773</integer>
							</dict>
							<key>files/stacks-image-f2416e2-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								nDQxQuOSsq3Q
								8wpas9kZZA==
								</data>
								<key>Size</key>
								<integer>13357</integer>
							</dict>
							<key>files/stacks-image-f2416e2-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								/RKOnsVFjPnS
								jU7uqUg9LQ==
								</data>
								<key>Size</key>
								<integer>19519</integer>
							</dict>
							<key>files/stacks-image-fb2ed7f-300x300.png</key>
							<dict>
								<key>Digest</key>
								<data>
								CR3HrXkFaWgo
								7WOI7R4okw==
								</data>
								<key>Size</key>
								<integer>158806</integer>
							</dict>
							<key>files/stacks-image-fb2ed7f-300x300@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								wo8eNKuK5WvC
								9MAceO+WiQ==
								</data>
								<key>Size</key>
								<integer>622075</integer>
							</dict>
							<key>files/stacks-image-fe232a9-280x350.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								hi+AQUQ/bonp
								zZ7llKtADQ==
								</data>
								<key>Size</key>
								<integer>32690</integer>
							</dict>
							<key>files/stacks-image-fe232a9-280x350@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								t4hmydbLF6hG
								2y+EJMOqMA==
								</data>
								<key>Size</key>
								<integer>55278</integer>
							</dict>
							<key>files/stacks-image-fefcb4d-300x300.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								7mNGd93MUzm0
								I/8tIfXU5A==
								</data>
								<key>Size</key>
								<integer>18818</integer>
							</dict>
							<key>files/stacks.css</key>
							<dict>
								<key>Digest</key>
								<data>
								wgmIAuepvJFg
								INqwDCfPXQ==
								</data>
								<key>Size</key>
								<integer>1879</integer>
							</dict>
							<key>files/stacks_page_page91.css</key>
							<dict>
								<key>Digest</key>
								<data>
								8e3HyQSBy6Dc
								CE7iZtBMHg==
								</data>
								<key>Size</key>
								<integer>500761</integer>
							</dict>
							<key>files/stacks_page_page91.js</key>
							<dict>
								<key>Digest</key>
								<data>
								m/Xht6VfPtHx
								A/FMauL9Jw==
								</data>
								<key>Size</key>
								<integer>28658</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								0ouQlgOGh5U1
								OgXPzJPY7w==
								</data>
								<key>Size</key>
								<integer>324940</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page91</string>
						<key>SiteRoot</key>
						<string>events/Seminars-Tutorials/talkboctopus</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
