<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:30Z</date>
				<key>ID</key>
				<string>page25</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Funding</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.6.8</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-08-16T12:32:23Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZFHf9zniv4SK
								z9ywIWAR7Q==
								</data>
								<key>Size</key>
								<integer>124861</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								5SEHlmzIRPnE
								h1Zlyu2W+A==
								</data>
								<key>Size</key>
								<integer>35205</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZP2FJ/yve/bb
								UMUDEFQ7OA==
								</data>
								<key>Size</key>
								<integer>68310</integer>
							</dict>
							<key>files/stacks-image-16a60ee-150x150.png</key>
							<dict>
								<key>Digest</key>
								<data>
								I3FgAuvCYy3N
								jrqandyTGA==
								</data>
								<key>Size</key>
								<integer>22606</integer>
							</dict>
							<key>files/stacks-image-54d1767-350x232.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JjrH0amRxRKF
								qcCYa9HS5Q==
								</data>
								<key>Size</key>
								<integer>15942</integer>
							</dict>
							<key>files/stacks-image-9d5546e-150x188.png</key>
							<dict>
								<key>Digest</key>
								<data>
								irKkOMpKwxP3
								QY91XovMUg==
								</data>
								<key>Size</key>
								<integer>29982</integer>
							</dict>
							<key>files/stacks-image-a2c916c-150x148.png</key>
							<dict>
								<key>Digest</key>
								<data>
								kaifFZDPxIKd
								xD06rNi6dA==
								</data>
								<key>Size</key>
								<integer>19258</integer>
							</dict>
							<key>files/stacks-image-b438d3e-150x150.png</key>
							<dict>
								<key>Digest</key>
								<data>
								qCWrzv2cKRV+
								ec7/7R10dA==
								</data>
								<key>Size</key>
								<integer>19187</integer>
							</dict>
							<key>files/stacks-image-b99fbf1-150x144.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								NumBFhgCihdo
								kfegYoQSpA==
								</data>
								<key>Size</key>
								<integer>7788</integer>
							</dict>
							<key>files/stacks-image-c6ac214-300x300.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Q/P5Kt6wrGWh
								PKE2mj7uyQ==
								</data>
								<key>Size</key>
								<integer>23574</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								FWLv4iC2Yarl
								ySGORUZ3Iw==
								</data>
								<key>Size</key>
								<integer>19413</integer>
							</dict>
							<key>files/stacks_page_page25.css</key>
							<dict>
								<key>Digest</key>
								<data>
								THYm0zntN6CC
								7cT1edh1Xg==
								</data>
								<key>Size</key>
								<integer>112618</integer>
							</dict>
							<key>files/stacks_page_page25.js</key>
							<dict>
								<key>Digest</key>
								<data>
								LhZXS6/yY0EW
								JjYhDywseQ==
								</data>
								<key>Size</key>
								<integer>23922</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								pduR93i/XzoY
								wpGS8DkZCQ==
								</data>
								<key>Size</key>
								<integer>49492</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page25</string>
						<key>SiteRoot</key>
						<string>research/funding</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
