<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:30Z</date>
				<key>ID</key>
				<string>page25</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Funding</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.0.3</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-11-20T14:29:28Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								C82d5dfws9q4
								DDOA2BFu1w==
								</data>
								<key>Size</key>
								<integer>35273</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								v/SijtX2gRco
								SwESRI9B4g==
								</data>
								<key>Size</key>
								<integer>68378</integer>
							</dict>
							<key>files/stacks-image-16a60ee-150x150.png</key>
							<dict>
								<key>Digest</key>
								<data>
								nU9oG7eV9/sf
								Me4J+iA3hg==
								</data>
								<key>Size</key>
								<integer>22674</integer>
							</dict>
							<key>files/stacks-image-54d1767-350x232.png</key>
							<dict>
								<key>Digest</key>
								<data>
								DMvsX3Xn1hwp
								DDb4DovClg==
								</data>
								<key>Size</key>
								<integer>16010</integer>
							</dict>
							<key>files/stacks-image-9d5546e-150x188.png</key>
							<dict>
								<key>Digest</key>
								<data>
								pRgPxILNs27h
								fhO/L1YBKA==
								</data>
								<key>Size</key>
								<integer>30050</integer>
							</dict>
							<key>files/stacks-image-a2c916c-150x148.png</key>
							<dict>
								<key>Digest</key>
								<data>
								W1xfarqlxADB
								LmLNdee+hg==
								</data>
								<key>Size</key>
								<integer>19326</integer>
							</dict>
							<key>files/stacks-image-b438d3e-150x150.png</key>
							<dict>
								<key>Digest</key>
								<data>
								LlBw7kFzWfR7
								VklDlf4tdA==
								</data>
								<key>Size</key>
								<integer>19255</integer>
							</dict>
							<key>files/stacks-image-b99fbf1-150x144.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								NumBFhgCihdo
								kfegYoQSpA==
								</data>
								<key>Size</key>
								<integer>7788</integer>
							</dict>
							<key>files/stacks-image-c6ac214-300x300.png</key>
							<dict>
								<key>Digest</key>
								<data>
								cE2l52jlgvf9
								f2VCjvB0RQ==
								</data>
								<key>Size</key>
								<integer>23642</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								IcJyU76V543g
								RUdnIXKzHw==
								</data>
								<key>Size</key>
								<integer>19481</integer>
							</dict>
							<key>files/stacks_page_page25.css</key>
							<dict>
								<key>Digest</key>
								<data>
								SH49PAwhgB0E
								Ru+hWJfftg==
								</data>
								<key>Size</key>
								<integer>111936</integer>
							</dict>
							<key>files/stacks_page_page25.js</key>
							<dict>
								<key>Digest</key>
								<data>
								jDWgNhOjLzCd
								16VOL7Ox8A==
								</data>
								<key>Size</key>
								<integer>23887</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								2k0DnQfT39cJ
								N7gfE7Bs+A==
								</data>
								<key>Size</key>
								<integer>48391</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page25</string>
						<key>SiteRoot</key>
						<string>research/funding</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
