<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Brainstorm Rooms</string>
				<key>CreatedDate</key>
				<date>2020-05-20T16:58:25Z</date>
				<key>ID</key>
				<string>page98</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Brainstorm Rooms</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.1.4</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2021-02-12T18:27:57Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/DCE79F28-EA60-4789-B85B-36524B50F75A.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								IEzethOiNZT/
								CMFJwRU2Vg==
								</data>
								<key>Size</key>
								<integer>1269226</integer>
							</dict>
							<key>files/stacks-image-4e487e1-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								sH45oaRBepxS
								161bQkc6kQ==
								</data>
								<key>Size</key>
								<integer>40132</integer>
							</dict>
							<key>files/stacks-image-5572282-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								FbhSYGcmD1tG
								AlKDv559pg==
								</data>
								<key>Size</key>
								<integer>51491</integer>
							</dict>
							<key>files/stacks-image-751defd-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								jmBRkFoN7Uoe
								kCrcLQoysg==
								</data>
								<key>Size</key>
								<integer>53128</integer>
							</dict>
							<key>files/stacks-image-76ed3fc-1200x398.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								2M2cXFkI3Wbx
								DOK+41BfDQ==
								</data>
								<key>Size</key>
								<integer>144902</integer>
							</dict>
							<key>files/stacks-image-91d6538-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								prxdCKAjH2I0
								OrfCl4K99w==
								</data>
								<key>Size</key>
								<integer>53638</integer>
							</dict>
							<key>files/stacks-image-d4b0169-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Mnbny+XjahIh
								LzYMOtvRTA==
								</data>
								<key>Size</key>
								<integer>56096</integer>
							</dict>
							<key>files/stacks-image-fc23ad2-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								QBzeYsZue1tE
								Urivfn/gVQ==
								</data>
								<key>Size</key>
								<integer>53644</integer>
							</dict>
							<key>files/stacks_page_page98.css</key>
							<dict>
								<key>Digest</key>
								<data>
								Z2/sjEeUu6ZA
								fiwtQToKKQ==
								</data>
								<key>Size</key>
								<integer>104886</integer>
							</dict>
							<key>files/stacks_page_page98.js</key>
							<dict>
								<key>Digest</key>
								<data>
								oMPiO7gHyF18
								knLB+wzNRQ==
								</data>
								<key>Size</key>
								<integer>21456</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								d6iHckNxuUZM
								gaQhc5lrpw==
								</data>
								<key>Size</key>
								<integer>38362</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page98</string>
						<key>SiteRoot</key>
						<string>events/cnww/page-3/page-12</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
