<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page36</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Complex Networks Winter Workshop</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.6.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2018-06-24T19:04:38Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/backgroundImage_109802.png</key>
							<dict>
								<key>Digest</key>
								<data>
								QETP738VfUvU
								/jzCm7P3tw==
								</data>
								<key>Size</key>
								<integer>41544</integer>
							</dict>
							<key>files/small_109886.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Yb+L/heiX6tP
								YliFF2auMA==
								</data>
								<key>Size</key>
								<integer>269913</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZFHf9zniv4SK
								z9ywIWAR7Q==
								</data>
								<key>Size</key>
								<integer>124861</integer>
							</dict>
							<key>files/small_p60311_n109628.png</key>
							<dict>
								<key>Digest</key>
								<data>
								pcpK3KZBcBVd
								Ns6QdrLpNA==
								</data>
								<key>Size</key>
								<integer>68548</integer>
							</dict>
							<key>files/stacks-image-0dd0fd3-300x256.png</key>
							<dict>
								<key>Digest</key>
								<data>
								/+gUVNDoUa72
								sq7BV9NzCQ==
								</data>
								<key>Size</key>
								<integer>68345</integer>
							</dict>
							<key>files/stacks-image-0dd0fd3-300x256@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								erVlCbjiU39h
								v10x8sPHoA==
								</data>
								<key>Size</key>
								<integer>222004</integer>
							</dict>
							<key>files/stacks-image-1aebfb5-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Er/+pE7hNNIn
								W7FQzXekEQ==
								</data>
								<key>Size</key>
								<integer>94699</integer>
							</dict>
							<key>files/stacks-image-1aebfb5-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								5xACEUvkvEwz
								VJnG6F3YxQ==
								</data>
								<key>Size</key>
								<integer>337058</integer>
							</dict>
							<key>files/stacks-image-48ee80b-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								7K6PSQh9mROR
								+7K5Nsj+3w==
								</data>
								<key>Size</key>
								<integer>90798</integer>
							</dict>
							<key>files/stacks-image-48ee80b-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								6zdIUUehofVi
								nwpnAVNoCw==
								</data>
								<key>Size</key>
								<integer>338288</integer>
							</dict>
							<key>files/stacks-image-7284e23-250x256.png</key>
							<dict>
								<key>Digest</key>
								<data>
								kYD0sCb5gkvr
								qqbTA+U0Ug==
								</data>
								<key>Size</key>
								<integer>102849</integer>
							</dict>
							<key>files/stacks-image-7284e23-250x256@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								U1V3NDUdEw9d
								tUH+4cCJ1g==
								</data>
								<key>Size</key>
								<integer>390987</integer>
							</dict>
							<key>files/stacks-image-742d922-1000x196.png</key>
							<dict>
								<key>Digest</key>
								<data>
								LBTIV5vD7DNM
								8WJkxi8aaQ==
								</data>
								<key>Size</key>
								<integer>75101</integer>
							</dict>
							<key>files/stacks-image-79c18a1-300x218.png</key>
							<dict>
								<key>Digest</key>
								<data>
								jdOwxthDYAgR
								Be0ngDdx0g==
								</data>
								<key>Size</key>
								<integer>18725</integer>
							</dict>
							<key>files/stacks-image-79c18a1-300x218@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								yF5XMAWDgg4Q
								6tTSb2qY3A==
								</data>
								<key>Size</key>
								<integer>41827</integer>
							</dict>
							<key>files/stacks-image-7e9dad3-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								wxt8EJvqjpqY
								mD8BZ/M6FQ==
								</data>
								<key>Size</key>
								<integer>75276</integer>
							</dict>
							<key>files/stacks-image-9e3cec5-98x150.png</key>
							<dict>
								<key>Digest</key>
								<data>
								SdC49IhJ3JHE
								zutzsmftPQ==
								</data>
								<key>Size</key>
								<integer>12547</integer>
							</dict>
							<key>files/stacks-image-baa9fbc-250x256.png</key>
							<dict>
								<key>Digest</key>
								<data>
								cUgi3wtcVtKz
								dWc8+D59tw==
								</data>
								<key>Size</key>
								<integer>108200</integer>
							</dict>
							<key>files/stacks-image-baa9fbc-250x256@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								OFbV+wdPT1N7
								OpiSaZfAXw==
								</data>
								<key>Size</key>
								<integer>375097</integer>
							</dict>
							<key>files/stacks-image-bbb78b8-250x256.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JGmq7bn3sZKr
								l/PS9TxkQw==
								</data>
								<key>Size</key>
								<integer>87862</integer>
							</dict>
							<key>files/stacks-image-bbb78b8-250x256@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								0bFXvBesPqoA
								8kzqWu367w==
								</data>
								<key>Size</key>
								<integer>319108</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x256.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JQq/tMG5yWnX
								mrXC2R4Oig==
								</data>
								<key>Size</key>
								<integer>101345</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x256@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								BBFEAKWPfxhN
								YCQVK2+Czg==
								</data>
								<key>Size</key>
								<integer>353790</integer>
							</dict>
							<key>files/stacks-image-eeb0773-250x256.png</key>
							<dict>
								<key>Digest</key>
								<data>
								GLa1SXJ3/KWi
								242Hx1R27g==
								</data>
								<key>Size</key>
								<integer>97076</integer>
							</dict>
							<key>files/stacks-image-eeb0773-250x256@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								E6u3Hrgo76W+
								JMp5vekY4g==
								</data>
								<key>Size</key>
								<integer>319747</integer>
							</dict>
							<key>files/stacks-image-f3385bb-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								d/12RsCKoVv4
								r9+0ESaqAg==
								</data>
								<key>Size</key>
								<integer>78971</integer>
							</dict>
							<key>files/stacks-image-f377940-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								7t1L83M+dR3B
								5dg1qRB/Hw==
								</data>
								<key>Size</key>
								<integer>63267</integer>
							</dict>
							<key>files/stacks-image-f38d32b-450x386.png</key>
							<dict>
								<key>Digest</key>
								<data>
								BOLf/keU4lon
								gRAFjgtFfg==
								</data>
								<key>Size</key>
								<integer>67530</integer>
							</dict>
							<key>files/stacks-image-f38d32b-450x386@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								BKnt+BMFzYt0
								6aH1mFPVbA==
								</data>
								<key>Size</key>
								<integer>196392</integer>
							</dict>
							<key>files/stacks_page_page36.css</key>
							<dict>
								<key>Digest</key>
								<data>
								SMv0AThlD0eJ
								Qh7wuXKcww==
								</data>
								<key>Size</key>
								<integer>121450</integer>
							</dict>
							<key>files/stacks_page_page36.js</key>
							<dict>
								<key>Digest</key>
								<data>
								9gJ4SOMT7PE+
								JUDfJl2wqA==
								</data>
								<key>Size</key>
								<integer>24075</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								nuZRuAHQFwMv
								8TBOI1vD3Q==
								</data>
								<key>Size</key>
								<integer>59527</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page36</string>
						<key>SiteRoot</key>
						<string>events/cnww</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>ChildPages</string>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
