<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>satellites</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page88</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>ALife Satellites</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.2.2</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2021-12-02T17:33:15Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/821CB729-4021-48D4-8AB9-7934D828DDCF.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Bh7ZBrBTQFNo
								MwKii2MEPA==
								</data>
								<key>Size</key>
								<integer>772878</integer>
							</dict>
							<key>files/small-109623-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/small-109710-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JfxF8Omi0icK
								xIwohpIZqw==
								</data>
								<key>Size</key>
								<integer>77487</integer>
							</dict>
							<key>files/small-109714-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2NMhf1k+YDl
								uPpd6H1dBw==
								</data>
								<key>Size</key>
								<integer>15019</integer>
							</dict>
							<key>files/small-109735-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D2nm4R7babci
								2M5NjfUDZQ==
								</data>
								<key>Size</key>
								<integer>18925</integer>
							</dict>
							<key>files/small-109736-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgRiuB3NhhIh
								SwZTifI18g==
								</data>
								<key>Size</key>
								<integer>21987</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								nc/RlhmvGDDL
								K+SuTjMLPQ==
								</data>
								<key>Size</key>
								<integer>35262</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								tvAomUQyeND0
								vTpTZz/VVg==
								</data>
								<key>Size</key>
								<integer>68367</integer>
							</dict>
							<key>files/stacks-image-0d00e18-400x400.png</key>
							<dict>
								<key>Digest</key>
								<data>
								J9vvPLHxUTlS
								Fd+bAr2oOA==
								</data>
								<key>Size</key>
								<integer>145578</integer>
							</dict>
							<key>files/stacks-image-1217683-400x134.png</key>
							<dict>
								<key>Digest</key>
								<data>
								glXfxdvuvCLr
								QZUfUjM1oA==
								</data>
								<key>Size</key>
								<integer>21059</integer>
							</dict>
							<key>files/stacks-image-2618d61-400x282.png</key>
							<dict>
								<key>Digest</key>
								<data>
								NJpQAaboc2eN
								dR8KEA1WrQ==
								</data>
								<key>Size</key>
								<integer>46174</integer>
							</dict>
							<key>files/stacks-image-2618d61-400x282@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								GBeoYgIumqWs
								TmtIPxNerQ==
								</data>
								<key>Size</key>
								<integer>92648</integer>
							</dict>
							<key>files/stacks-image-2a4abd8.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								qERUJyBHljSK
								cnvrKT0NlQ==
								</data>
								<key>Size</key>
								<integer>673292</integer>
							</dict>
							<key>files/stacks-image-40bc0c8-400x80.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								5Ku9AOZlca8k
								/TI08yTNPQ==
								</data>
								<key>Size</key>
								<integer>8538</integer>
							</dict>
							<key>files/stacks-image-6f4f93e-400x338.png</key>
							<dict>
								<key>Digest</key>
								<data>
								QszVZXXj5sQN
								1PPCiwor1Q==
								</data>
								<key>Size</key>
								<integer>71245</integer>
							</dict>
							<key>files/stacks-image-83839cd-400x394.png</key>
							<dict>
								<key>Digest</key>
								<data>
								VzlZObpaD/l9
								RGz0g6DwkQ==
								</data>
								<key>Size</key>
								<integer>58643</integer>
							</dict>
							<key>files/stacks-image-99133a5-400x300.png</key>
							<dict>
								<key>Digest</key>
								<data>
								7w4PlplZo5Ko
								FmrI+jNCDg==
								</data>
								<key>Size</key>
								<integer>49591</integer>
							</dict>
							<key>files/stacks-image-ac4e0ef-400x304.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZkELtiJxdUV1
								cqsGLE9vow==
								</data>
								<key>Size</key>
								<integer>49816</integer>
							</dict>
							<key>files/stacks-image-c201a42-400x224.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zcjtCnrCS1Jq
								KNMkDLwu2A==
								</data>
								<key>Size</key>
								<integer>25958</integer>
							</dict>
							<key>files/stacks-image-c201a42-400x224@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								i/nyspaI2N8Y
								/Z2eSWL17Q==
								</data>
								<key>Size</key>
								<integer>64208</integer>
							</dict>
							<key>files/stacks-image-e391cfd-650x188.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								e6KbjX06NqMS
								4ohZu4G2JA==
								</data>
								<key>Size</key>
								<integer>50540</integer>
							</dict>
							<key>files/stacks-image-e39337e-400x400.png</key>
							<dict>
								<key>Digest</key>
								<data>
								kI2KHK7B3q5F
								AD8O900g6g==
								</data>
								<key>Size</key>
								<integer>44079</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Hwezk6t72J5g
								2awHy7YAqA==
								</data>
								<key>Size</key>
								<integer>19470</integer>
							</dict>
							<key>files/stacks-image-f14609c-400x354.png</key>
							<dict>
								<key>Digest</key>
								<data>
								my3e6jV7csdH
								VRhaOg80qQ==
								</data>
								<key>Size</key>
								<integer>46772</integer>
							</dict>
							<key>files/stacks-image-f581be1-400x378.png</key>
							<dict>
								<key>Digest</key>
								<data>
								VaZnGNemUfqT
								yJbMSMCDTw==
								</data>
								<key>Size</key>
								<integer>122747</integer>
							</dict>
							<key>files/stacks-image-fec4b4d-900x1198.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								tFiOynIFnDvU
								nt1J3P5OjA==
								</data>
								<key>Size</key>
								<integer>377289</integer>
							</dict>
							<key>files/stacks-image-fec4b4d-900x1198@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								XUuedzQcvQ8f
								+jnfjUT6Sw==
								</data>
								<key>Size</key>
								<integer>621077</integer>
							</dict>
							<key>files/stacks_page_page88.css</key>
							<dict>
								<key>Digest</key>
								<data>
								KEfiqUjKctB8
								kEmXDdX0Jw==
								</data>
								<key>Size</key>
								<integer>249344</integer>
							</dict>
							<key>files/stacks_page_page88.js</key>
							<dict>
								<key>Digest</key>
								<data>
								jPV8Irufj6ao
								/c+KYp7zVA==
								</data>
								<key>Size</key>
								<integer>24846</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								B+U5lPsNxd0N
								OlfA4xUSnQ==
								</data>
								<key>Size</key>
								<integer>140427</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page88</string>
						<key>SiteRoot</key>
						<string>events/ALIFE-2020/satellites</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
