<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>NetSci 2019</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page53</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>NetSci 2019</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.6.3</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2018-10-05T14:42:06Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/backgroundImage_109967.png</key>
							<dict>
								<key>Digest</key>
								<data>
								/ytKW+d8532o
								LG20qBSPRw==
								</data>
								<key>Size</key>
								<integer>383766</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZFHf9zniv4SK
								z9ywIWAR7Q==
								</data>
								<key>Size</key>
								<integer>124861</integer>
							</dict>
							<key>files/stacks-image-1500267-332x498.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								u3v26uHIi/ZN
								Ej9m1eSAGA==
								</data>
								<key>Size</key>
								<integer>37090</integer>
							</dict>
							<key>files/stacks-image-1500267-332x498@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								+UXiwULySkAx
								/S4n2f4+/w==
								</data>
								<key>Size</key>
								<integer>61504</integer>
							</dict>
							<key>files/stacks-image-248de64-1200x776.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9bJ5af31ToLq
								s071AM1Pvg==
								</data>
								<key>Size</key>
								<integer>297644</integer>
							</dict>
							<key>files/stacks-image-28ec906-332x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								12n2ZVt1UoMv
								ca+NC8M9Og==
								</data>
								<key>Size</key>
								<integer>43571</integer>
							</dict>
							<key>files/stacks-image-2c90133-700x398.png</key>
							<dict>
								<key>Digest</key>
								<data>
								WNYrWgw4gMan
								tiFFTLkLNg==
								</data>
								<key>Size</key>
								<integer>60972</integer>
							</dict>
							<key>files/stacks-image-506ca91.png</key>
							<dict>
								<key>Digest</key>
								<data>
								8EdMMOs3/vIq
								ik9HPArzCA==
								</data>
								<key>Size</key>
								<integer>340983</integer>
							</dict>
							<key>files/stacks-image-580baf6-248x248.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								OGSW8MSxffNf
								eqQN8VH97Q==
								</data>
								<key>Size</key>
								<integer>13349</integer>
							</dict>
							<key>files/stacks-image-6298502.png</key>
							<dict>
								<key>Digest</key>
								<data>
								I7BlJ/sIfKCd
								y/+Noen/4A==
								</data>
								<key>Size</key>
								<integer>69706</integer>
							</dict>
							<key>files/stacks-image-69ebcea.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								wcQWJYoOe1An
								41Iye9rWOQ==
								</data>
								<key>Size</key>
								<integer>146527</integer>
							</dict>
							<key>files/stacks-image-843a067.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								gvLJWD1G+M0Z
								v6+xt5Bueg==
								</data>
								<key>Size</key>
								<integer>239632</integer>
							</dict>
							<key>files/stacks-image-90966db-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								YpjTgVVBaf31
								xzRYJpWpzQ==
								</data>
								<key>Size</key>
								<integer>21870</integer>
							</dict>
							<key>files/stacks-image-ae20feb-500x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ttDkLBzrSML3
								poQ9OrZ4ag==
								</data>
								<key>Size</key>
								<integer>39531</integer>
							</dict>
							<key>files/stacks-image-ae20feb-500x500@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								JRThUdzkMp3E
								SoWBl7hh1g==
								</data>
								<key>Size</key>
								<integer>61696</integer>
							</dict>
							<key>files/stacks-image-ae82c9c-650x406.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								CoOaL7t+irO6
								VVGp7MrraQ==
								</data>
								<key>Size</key>
								<integer>73705</integer>
							</dict>
							<key>files/stacks-image-cd0a404.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Nb2TZEoroRSC
								Y+xT2IHd1Q==
								</data>
								<key>Size</key>
								<integer>27178</integer>
							</dict>
							<key>files/stacks-image-d2c4351-164x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								5cpdWgCZk7HV
								ROwHuQNbEg==
								</data>
								<key>Size</key>
								<integer>29154</integer>
							</dict>
							<key>files/stacks-image-f14500c-500x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Vtko8MOtdbaI
								afH9f+nFEQ==
								</data>
								<key>Size</key>
								<integer>46475</integer>
							</dict>
							<key>files/stacks-image-f6e142c.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								fU/F14sAci93
								dY+HaHVrFw==
								</data>
								<key>Size</key>
								<integer>243823</integer>
							</dict>
							<key>files/stacks_page_page53.css</key>
							<dict>
								<key>Digest</key>
								<data>
								6zqbf02FQoEe
								eFSTqhZuVQ==
								</data>
								<key>Size</key>
								<integer>151111</integer>
							</dict>
							<key>files/stacks_page_page53.js</key>
							<dict>
								<key>Digest</key>
								<data>
								ItB8tFdfseG+
								Syp8KqvUmw==
								</data>
								<key>Size</key>
								<integer>26207</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								u2P1antsT4+j
								yxoHp2wbYg==
								</data>
								<key>Size</key>
								<integer>86267</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page53</string>
						<key>SiteRoot</key>
						<string>events/netsci</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>ChildPages</string>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
