<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Mentors</string>
				<key>CreatedDate</key>
				<date>2020-05-20T16:58:25Z</date>
				<key>ID</key>
				<string>page100</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Mentors</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.2.5</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2022-11-14T16:49:56Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/DCE79F28-EA60-4789-B85B-36524B50F75A.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								IEzethOiNZT/
								CMFJwRU2Vg==
								</data>
								<key>Size</key>
								<integer>1269226</integer>
							</dict>
							<key>files/stacks-image-10532b8-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								UGbMo+XSmIGN
								QdxqIV0aHA==
								</data>
								<key>Size</key>
								<integer>96309</integer>
							</dict>
							<key>files/stacks-image-10532b8-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								I9vTQpl1rqmt
								4kZgjd/vyQ==
								</data>
								<key>Size</key>
								<integer>320528</integer>
							</dict>
							<key>files/stacks-image-1aebfb5-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JVU7ZMjrGeSn
								jbWk60HjZQ==
								</data>
								<key>Size</key>
								<integer>94299</integer>
							</dict>
							<key>files/stacks-image-1aebfb5-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zFV17x6f/i10
								HN//2jgcQQ==
								</data>
								<key>Size</key>
								<integer>335670</integer>
							</dict>
							<key>files/stacks-image-2085074-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								uSQDo16+eNX1
								PjSvXDFAOg==
								</data>
								<key>Size</key>
								<integer>22205</integer>
							</dict>
							<key>files/stacks-image-45fda98-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								8T9dhK3jrJ8L
								smKlBbLfoA==
								</data>
								<key>Size</key>
								<integer>106938</integer>
							</dict>
							<key>files/stacks-image-45fda98-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								b+TKxW/ovWh6
								mobwM0iHHA==
								</data>
								<key>Size</key>
								<integer>404705</integer>
							</dict>
							<key>files/stacks-image-48ee80b-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								i4JJgb+uafAj
								AhER5UCiww==
								</data>
								<key>Size</key>
								<integer>90831</integer>
							</dict>
							<key>files/stacks-image-48ee80b-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Zv80oPR29pQG
								xwIzNKcdVw==
								</data>
								<key>Size</key>
								<integer>327709</integer>
							</dict>
							<key>files/stacks-image-559974f-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								nzL9tRqS+lXt
								CqQ8ueH+Dw==
								</data>
								<key>Size</key>
								<integer>111467</integer>
							</dict>
							<key>files/stacks-image-5dab26b-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ysgO7H750208
								lMUQSNsQHg==
								</data>
								<key>Size</key>
								<integer>74050</integer>
							</dict>
							<key>files/stacks-image-5dab26b-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								S0/QM0mY5tJ7
								ssC2osEqJg==
								</data>
								<key>Size</key>
								<integer>238709</integer>
							</dict>
							<key>files/stacks-image-5e1ff49-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Q44bEJiU3FQM
								3a0cJQj+PQ==
								</data>
								<key>Size</key>
								<integer>79068</integer>
							</dict>
							<key>files/stacks-image-7ca5723-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								fD6zld0PMDx6
								SfrpYG5z5Q==
								</data>
								<key>Size</key>
								<integer>100839</integer>
							</dict>
							<key>files/stacks-image-7ca5723-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								wslA0IVHJ3O4
								HmFVzZg9nw==
								</data>
								<key>Size</key>
								<integer>375011</integer>
							</dict>
							<key>files/stacks-image-a2c2113-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								y/kkLU2dJUv0
								1iEHRJQCqg==
								</data>
								<key>Size</key>
								<integer>81783</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								IxZwRv91Z5AF
								mVcIKfznCQ==
								</data>
								<key>Size</key>
								<integer>100889</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								gjzy4seweBRV
								q9xgwigcRA==
								</data>
								<key>Size</key>
								<integer>353488</integer>
							</dict>
							<key>files/stacks-image-c1d16d3-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								pkJlAGnL3GWJ
								Y2dYl7pfmQ==
								</data>
								<key>Size</key>
								<integer>72894</integer>
							</dict>
							<key>files/stacks-image-c1d16d3-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								QxbdN8z+GuuS
								PFP2g7wFxA==
								</data>
								<key>Size</key>
								<integer>262952</integer>
							</dict>
							<key>files/stacks-image-cd71898-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								axtbMbIQlnFS
								5qg4VI5osA==
								</data>
								<key>Size</key>
								<integer>93985</integer>
							</dict>
							<key>files/stacks-image-d1d7693-1200x398.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								H3Xg1P0VjAZ4
								Qjqa5qvnKQ==
								</data>
								<key>Size</key>
								<integer>144885</integer>
							</dict>
							<key>files/stacks-image-dc31182-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								VW7sgv+x6kYm
								Tg+K6DtquA==
								</data>
								<key>Size</key>
								<integer>37431</integer>
							</dict>
							<key>files/stacks-image-fa80dc2-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								tSE5EdNI2IYT
								3GCj7VTj+g==
								</data>
								<key>Size</key>
								<integer>101540</integer>
							</dict>
							<key>files/stacks_page_page100.css</key>
							<dict>
								<key>Digest</key>
								<data>
								mIH+izJQUjnY
								Ns7UUNVPqQ==
								</data>
								<key>Size</key>
								<integer>138451</integer>
							</dict>
							<key>files/stacks_page_page100.js</key>
							<dict>
								<key>Digest</key>
								<data>
								t6XtyxUT7P63
								xPGbwFVMfw==
								</data>
								<key>Size</key>
								<integer>20526</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								ZUlQJrGVP+E2
								g3ZYv2MOOQ==
								</data>
								<key>Size</key>
								<integer>80826</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page100</string>
						<key>SiteRoot</key>
						<string>events/cnww/CNWW-Virtual/mentors</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
