<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>VERSO</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:30Z</date>
				<key>ID</key>
				<string>page4</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>VERSO</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.2.2</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2021-11-19T21:01:19Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small-109623-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/small-109710-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JfxF8Omi0icK
								xIwohpIZqw==
								</data>
								<key>Size</key>
								<integer>77487</integer>
							</dict>
							<key>files/small-109714-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2NMhf1k+YDl
								uPpd6H1dBw==
								</data>
								<key>Size</key>
								<integer>15019</integer>
							</dict>
							<key>files/small-109735-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D2nm4R7babci
								2M5NjfUDZQ==
								</data>
								<key>Size</key>
								<integer>18925</integer>
							</dict>
							<key>files/small-109736-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgRiuB3NhhIh
								SwZTifI18g==
								</data>
								<key>Size</key>
								<integer>21987</integer>
							</dict>
							<key>files/stacks-image-089df92-400x400.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZnRc8lgAUrkY
								CPvkEX/Z9A==
								</data>
								<key>Size</key>
								<integer>61604</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								nc/RlhmvGDDL
								K+SuTjMLPQ==
								</data>
								<key>Size</key>
								<integer>35262</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								tvAomUQyeND0
								vTpTZz/VVg==
								</data>
								<key>Size</key>
								<integer>68367</integer>
							</dict>
							<key>files/stacks-image-3d19b76-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								L0gbCGDoi8kG
								3xqo7f9/mw==
								</data>
								<key>Size</key>
								<integer>33167</integer>
							</dict>
							<key>files/stacks-image-63452d8-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Qv2Ibu9QfbMt
								XDmAaJHvOQ==
								</data>
								<key>Size</key>
								<integer>28689</integer>
							</dict>
							<key>files/stacks-image-728a79b-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								TsEjLqMSUkOB
								kp0cffskSw==
								</data>
								<key>Size</key>
								<integer>42351</integer>
							</dict>
							<key>files/stacks-image-9874180-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								gy/CaZg5lTiI
								3Uac0UTz0g==
								</data>
								<key>Size</key>
								<integer>25182</integer>
							</dict>
							<key>files/stacks-image-9874180-400x400@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								7ZuKguNhAqSy
								/hYqOWL9yA==
								</data>
								<key>Size</key>
								<integer>42604</integer>
							</dict>
							<key>files/stacks-image-9b8fe6d-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								1zw7vKWfPhCf
								QKWmxP0C0Q==
								</data>
								<key>Size</key>
								<integer>30871</integer>
							</dict>
							<key>files/stacks-image-c3556df-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								dSyZst1P+jnV
								0l1fAlqJmg==
								</data>
								<key>Size</key>
								<integer>30229</integer>
							</dict>
							<key>files/stacks-image-c3556df-400x400@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								5N16n9MMrhEw
								qz+Kp483YQ==
								</data>
								<key>Size</key>
								<integer>45062</integer>
							</dict>
							<key>files/stacks-image-cadc2db-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								OnCStQLcZDpn
								6sFEb90Ezw==
								</data>
								<key>Size</key>
								<integer>27010</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Hwezk6t72J5g
								2awHy7YAqA==
								</data>
								<key>Size</key>
								<integer>19470</integer>
							</dict>
							<key>files/stacks_page_page4.css</key>
							<dict>
								<key>Digest</key>
								<data>
								wyXOXNTUugjz
								F8xrEXWwEA==
								</data>
								<key>Size</key>
								<integer>138973</integer>
							</dict>
							<key>files/stacks_page_page4.js</key>
							<dict>
								<key>Digest</key>
								<data>
								6Kl0iemIu+qe
								MFk5mn5KDw==
								</data>
								<key>Size</key>
								<integer>24472</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								6cdVuCvqLkfI
								p7lJlKu6IA==
								</data>
								<key>Size</key>
								<integer>70139</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page4</string>
						<key>SiteRoot</key>
						<string>education/verso</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
