<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>OCEAN</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:30Z</date>
				<key>ID</key>
				<string>page38</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>OCEAN</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.2.4</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2022-05-05T22:06:09Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small-109623-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/small-109710-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JfxF8Omi0icK
								xIwohpIZqw==
								</data>
								<key>Size</key>
								<integer>77487</integer>
							</dict>
							<key>files/small-109714-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2NMhf1k+YDl
								uPpd6H1dBw==
								</data>
								<key>Size</key>
								<integer>15019</integer>
							</dict>
							<key>files/small-109735-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D2nm4R7babci
								2M5NjfUDZQ==
								</data>
								<key>Size</key>
								<integer>18925</integer>
							</dict>
							<key>files/small-109736-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgRiuB3NhhIh
								SwZTifI18g==
								</data>
								<key>Size</key>
								<integer>21987</integer>
							</dict>
							<key>files/stacks-image-08b1d33-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								qhWDONH0gORq
								uvHsti5R8w==
								</data>
								<key>Size</key>
								<integer>27151</integer>
							</dict>
							<key>files/stacks-image-08b1d33-400x400@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								6TV5et/PwXb7
								tVEi14iM7Q==
								</data>
								<key>Size</key>
								<integer>42304</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								nc/RlhmvGDDL
								K+SuTjMLPQ==
								</data>
								<key>Size</key>
								<integer>35262</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								tvAomUQyeND0
								vTpTZz/VVg==
								</data>
								<key>Size</key>
								<integer>68367</integer>
							</dict>
							<key>files/stacks-image-18f1b71-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9qm+iGpSht79
								DjL1OUCcAw==
								</data>
								<key>Size</key>
								<integer>31708</integer>
							</dict>
							<key>files/stacks-image-18f1b71-400x400@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Kbaeitj021WY
								EFAYTYFfcw==
								</data>
								<key>Size</key>
								<integer>50799</integer>
							</dict>
							<key>files/stacks-image-2706f3f.png</key>
							<dict>
								<key>Digest</key>
								<data>
								38DyDEe6U7zk
								+jpdOMXc/w==
								</data>
								<key>Size</key>
								<integer>2858</integer>
							</dict>
							<key>files/stacks-image-39077ac-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								h/hRp5cJlmlM
								GNToq11hsg==
								</data>
								<key>Size</key>
								<integer>30948</integer>
							</dict>
							<key>files/stacks-image-4c10b4a-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								DIRAeha9GKWB
								e/KXePsUnQ==
								</data>
								<key>Size</key>
								<integer>38512</integer>
							</dict>
							<key>files/stacks-image-9874180-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								2niTNE66HJjm
								cIb3mzbKgg==
								</data>
								<key>Size</key>
								<integer>25178</integer>
							</dict>
							<key>files/stacks-image-9874180-400x400@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								K2tPKxuungpN
								qJo9lMNHCg==
								</data>
								<key>Size</key>
								<integer>42627</integer>
							</dict>
							<key>files/stacks-image-9db05da-400x400.png</key>
							<dict>
								<key>Digest</key>
								<data>
								58If3m5c9rXW
								jauT5nuZ8g==
								</data>
								<key>Size</key>
								<integer>224542</integer>
							</dict>
							<key>files/stacks-image-a26991d-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								zsVRIEb4J1S4
								TR7DEE58iQ==
								</data>
								<key>Size</key>
								<integer>32491</integer>
							</dict>
							<key>files/stacks-image-a839a62-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								8E3zHEEAlNFQ
								xD3DwWE94A==
								</data>
								<key>Size</key>
								<integer>27444</integer>
							</dict>
							<key>files/stacks-image-b4a7cc2-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								weD0xg+xedoL
								ZDrIIN46sQ==
								</data>
								<key>Size</key>
								<integer>33333</integer>
							</dict>
							<key>files/stacks-image-b4a7cc2-400x400@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								V75Fl3BalLJk
								KK8ducyNlg==
								</data>
								<key>Size</key>
								<integer>53488</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Hwezk6t72J5g
								2awHy7YAqA==
								</data>
								<key>Size</key>
								<integer>19470</integer>
							</dict>
							<key>files/stacks-image-f2b9c2a-400x400.png</key>
							<dict>
								<key>Digest</key>
								<data>
								xbL2OCrXdvyV
								s7xWeeZ/4Q==
								</data>
								<key>Size</key>
								<integer>300334</integer>
							</dict>
							<key>files/stacks_page_page38.css</key>
							<dict>
								<key>Digest</key>
								<data>
								zuCSGR7r6r7u
								dfcMoJb22w==
								</data>
								<key>Size</key>
								<integer>137334</integer>
							</dict>
							<key>files/stacks_page_page38.js</key>
							<dict>
								<key>Digest</key>
								<data>
								6Kl0iemIu+qe
								MFk5mn5KDw==
								</data>
								<key>Size</key>
								<integer>24472</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								55N5CDDVmCO4
								oaJdlj6mCA==
								</data>
								<key>Size</key>
								<integer>73422</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page38</string>
						<key>SiteRoot</key>
						<string>partner/OCEAN</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>ChildPages</string>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
