<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Organizers</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page80</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>skratch</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.0.3</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-11-20T14:29:28Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/backgroundImage_111157.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								t6sVWeH5Dwiz
								lTdhjl5wGA==
								</data>
								<key>Size</key>
								<integer>3099081</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/stacks-image-012ccd0-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Ci4Kgi4Momvi
								HQ2VzOSQgQ==
								</data>
								<key>Size</key>
								<integer>37469</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								C82d5dfws9q4
								DDOA2BFu1w==
								</data>
								<key>Size</key>
								<integer>35273</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								v/SijtX2gRco
								SwESRI9B4g==
								</data>
								<key>Size</key>
								<integer>68378</integer>
							</dict>
							<key>files/stacks-image-4b4af78-350x450.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								P8tV4jQfCCzA
								TfAh4lNIsw==
								</data>
								<key>Size</key>
								<integer>35983</integer>
							</dict>
							<key>files/stacks-image-4b4af78-350x450@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								5BdesvlayYZG
								prgxQfHz2g==
								</data>
								<key>Size</key>
								<integer>61504</integer>
							</dict>
							<key>files/stacks-image-6467c3a-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								UdDZfD6n3qBJ
								iXZSQpRTqA==
								</data>
								<key>Size</key>
								<integer>29017</integer>
							</dict>
							<key>files/stacks-image-68a4e7f-350x375.png</key>
							<dict>
								<key>Digest</key>
								<data>
								/NCULhFV9KM6
								OCNQPdh4Xg==
								</data>
								<key>Size</key>
								<integer>129595</integer>
							</dict>
							<key>files/stacks-image-68a4e7f-350x375@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								O8Fs/ELhiWCw
								meG7xIrLtw==
								</data>
								<key>Size</key>
								<integer>478027</integer>
							</dict>
							<key>files/stacks-image-e5e8064-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								4+MD2lluE/v8
								P3P4cYsfGg==
								</data>
								<key>Size</key>
								<integer>30647</integer>
							</dict>
							<key>files/stacks-image-e5e8064-350x375@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								JyszyP6C4FQg
								UIxslUmduw==
								</data>
								<key>Size</key>
								<integer>48100</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								IcJyU76V543g
								RUdnIXKzHw==
								</data>
								<key>Size</key>
								<integer>19481</integer>
							</dict>
							<key>files/stacks_page_page80.css</key>
							<dict>
								<key>Digest</key>
								<data>
								WIJywFqLR549
								QJc1LpCxSQ==
								</data>
								<key>Size</key>
								<integer>137437</integer>
							</dict>
							<key>files/stacks_page_page80.js</key>
							<dict>
								<key>Digest</key>
								<data>
								2LpueI5osWeZ
								ooQj6HnwJA==
								</data>
								<key>Size</key>
								<integer>25927</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								DAtUiofxWATn
								ugtezfKh0A==
								</data>
								<key>Size</key>
								<integer>83359</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page80</string>
						<key>SiteRoot</key>
						<string>events/ALIFE-2020/page-4</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
