<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Organizers</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page80</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>skratch</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.6.9</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-11-19T15:19:45Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/backgroundImage_111157.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								t6sVWeH5Dwiz
								lTdhjl5wGA==
								</data>
								<key>Size</key>
								<integer>3099081</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/stacks-image-012ccd0-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								XsvJYylntJyu
								SBVPvLHXuw==
								</data>
								<key>Size</key>
								<integer>38805</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								5SEHlmzIRPnE
								h1Zlyu2W+A==
								</data>
								<key>Size</key>
								<integer>35205</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZP2FJ/yve/bb
								UMUDEFQ7OA==
								</data>
								<key>Size</key>
								<integer>68310</integer>
							</dict>
							<key>files/stacks-image-4b4af78-350x450.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								P8tV4jQfCCzA
								TfAh4lNIsw==
								</data>
								<key>Size</key>
								<integer>35983</integer>
							</dict>
							<key>files/stacks-image-4b4af78-350x450@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								5BdesvlayYZG
								prgxQfHz2g==
								</data>
								<key>Size</key>
								<integer>61504</integer>
							</dict>
							<key>files/stacks-image-6467c3a-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Krp7Og269lDp
								zJmYejGYxg==
								</data>
								<key>Size</key>
								<integer>29317</integer>
							</dict>
							<key>files/stacks-image-68a4e7f-350x375.png</key>
							<dict>
								<key>Digest</key>
								<data>
								LZv4DMej64SX
								MbLEHCTVEw==
								</data>
								<key>Size</key>
								<integer>129527</integer>
							</dict>
							<key>files/stacks-image-68a4e7f-350x375@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Tu0JMz7s2v5B
								ogb1V+xOlw==
								</data>
								<key>Size</key>
								<integer>477959</integer>
							</dict>
							<key>files/stacks-image-e5e8064-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								4+MD2lluE/v8
								P3P4cYsfGg==
								</data>
								<key>Size</key>
								<integer>30647</integer>
							</dict>
							<key>files/stacks-image-e5e8064-350x375@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								JyszyP6C4FQg
								UIxslUmduw==
								</data>
								<key>Size</key>
								<integer>48100</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								FWLv4iC2Yarl
								ySGORUZ3Iw==
								</data>
								<key>Size</key>
								<integer>19413</integer>
							</dict>
							<key>files/stacks_page_page80.css</key>
							<dict>
								<key>Digest</key>
								<data>
								8/ltQHu3aGyA
								y23jplMiuw==
								</data>
								<key>Size</key>
								<integer>137887</integer>
							</dict>
							<key>files/stacks_page_page80.js</key>
							<dict>
								<key>Digest</key>
								<data>
								63deUSNEiYxQ
								+ACg5VMudg==
								</data>
								<key>Size</key>
								<integer>25962</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								Njn3WMamlSwA
								z/rKJp0A5g==
								</data>
								<key>Size</key>
								<integer>84311</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page80</string>
						<key>SiteRoot</key>
						<string>events/ALIFE-2020/page-4</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
