<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>NetSci Registration</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page54</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>NetSci Registration</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.2.2</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2022-02-24T19:46:40Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/D289564D-C2D0-4B94-AA16-FC8C366062A7.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								GQHOUzuyjCs9
								Jfbg60A9OQ==
								</data>
								<key>Size</key>
								<integer>700318</integer>
							</dict>
							<key>files/small-109623-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/small-109710-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JfxF8Omi0icK
								xIwohpIZqw==
								</data>
								<key>Size</key>
								<integer>77487</integer>
							</dict>
							<key>files/small-109714-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2NMhf1k+YDl
								uPpd6H1dBw==
								</data>
								<key>Size</key>
								<integer>15019</integer>
							</dict>
							<key>files/small-109735-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D2nm4R7babci
								2M5NjfUDZQ==
								</data>
								<key>Size</key>
								<integer>18925</integer>
							</dict>
							<key>files/small-109736-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgRiuB3NhhIh
								SwZTifI18g==
								</data>
								<key>Size</key>
								<integer>21987</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								nc/RlhmvGDDL
								K+SuTjMLPQ==
								</data>
								<key>Size</key>
								<integer>35262</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								tvAomUQyeND0
								vTpTZz/VVg==
								</data>
								<key>Size</key>
								<integer>68367</integer>
							</dict>
							<key>files/stacks-image-127916a.png</key>
							<dict>
								<key>Digest</key>
								<data>
								0GUWwCZaomta
								DcjE4zY/bQ==
								</data>
								<key>Size</key>
								<integer>523754</integer>
							</dict>
							<key>files/stacks-image-4d3140c.png</key>
							<dict>
								<key>Digest</key>
								<data>
								RVKY4j0x222n
								9kDcJ0uiQQ==
								</data>
								<key>Size</key>
								<integer>18064</integer>
							</dict>
							<key>files/stacks-image-b30865a.png</key>
							<dict>
								<key>Digest</key>
								<data>
								LVN6rbV2QdyG
								lVx/4pD8cA==
								</data>
								<key>Size</key>
								<integer>34508</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Hwezk6t72J5g
								2awHy7YAqA==
								</data>
								<key>Size</key>
								<integer>19470</integer>
							</dict>
							<key>files/stacks-image-eb41103.png</key>
							<dict>
								<key>Digest</key>
								<data>
								jAlW11yoyzWZ
								HjPBv5Qzmg==
								</data>
								<key>Size</key>
								<integer>375040</integer>
							</dict>
							<key>files/stacks-image-f793485-1200x360.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								IRBs/lG1vf71
								7M4ZU+zatA==
								</data>
								<key>Size</key>
								<integer>60218</integer>
							</dict>
							<key>files/stacks_page_page54.css</key>
							<dict>
								<key>Digest</key>
								<data>
								BNNfxwMGZcNC
								VOBcPoRmVA==
								</data>
								<key>Size</key>
								<integer>133731</integer>
							</dict>
							<key>files/stacks_page_page54.js</key>
							<dict>
								<key>Digest</key>
								<data>
								oAuYhT8/9Y7s
								PwJPUYjIRg==
								</data>
								<key>Size</key>
								<integer>24846</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								XE3647JtsLoH
								90m7vtXjQQ==
								</data>
								<key>Size</key>
								<integer>68305</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page54</string>
						<key>SiteRoot</key>
						<string>events/netsci/registration</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
