<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page66</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Vermont Computer Science Alliance</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.6.3</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2018-10-19T14:29:14Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small_109886.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Yb+L/heiX6tP
								YliFF2auMA==
								</data>
								<key>Size</key>
								<integer>269913</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZFHf9zniv4SK
								z9ywIWAR7Q==
								</data>
								<key>Size</key>
								<integer>124861</integer>
							</dict>
							<key>files/stacks-image-1139604-1198x776.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								h6KSCjSrRFfm
								Wbpc2JXS9w==
								</data>
								<key>Size</key>
								<integer>87749</integer>
							</dict>
							<key>files/stacks-image-1139604-1198x776@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								DhucPxitAWTU
								Mkuv6Az9Eg==
								</data>
								<key>Size</key>
								<integer>164952</integer>
							</dict>
							<key>files/stacks-image-28ec906-332x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								12n2ZVt1UoMv
								ca+NC8M9Og==
								</data>
								<key>Size</key>
								<integer>43571</integer>
							</dict>
							<key>files/stacks-image-38f3c42.png</key>
							<dict>
								<key>Digest</key>
								<data>
								EipoqTcmiWfg
								kqlufOrxjg==
								</data>
								<key>Size</key>
								<integer>1041</integer>
							</dict>
							<key>files/stacks-image-4ea4df7-500x128.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ub6b6/ubImMd
								EvyOwn7Imw==
								</data>
								<key>Size</key>
								<integer>30769</integer>
							</dict>
							<key>files/stacks-image-580baf6-248x248.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								OGSW8MSxffNf
								eqQN8VH97Q==
								</data>
								<key>Size</key>
								<integer>13349</integer>
							</dict>
							<key>files/stacks-image-8bd90e1.png</key>
							<dict>
								<key>Digest</key>
								<data>
								wDIMSbtOoHTa
								KlWl4y0rJg==
								</data>
								<key>Size</key>
								<integer>2195</integer>
							</dict>
							<key>files/stacks-image-90212f8-498x218.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								qe6DhnJsOIMA
								8UIpBTbMTw==
								</data>
								<key>Size</key>
								<integer>25849</integer>
							</dict>
							<key>files/stacks-image-90966db-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								YpjTgVVBaf31
								xzRYJpWpzQ==
								</data>
								<key>Size</key>
								<integer>21870</integer>
							</dict>
							<key>files/stacks-image-9279524-498x206.png</key>
							<dict>
								<key>Digest</key>
								<data>
								cXn4nUQbw6Zm
								DoBzpg6yRg==
								</data>
								<key>Size</key>
								<integer>26703</integer>
							</dict>
							<key>files/stacks-image-b03be97-500x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								WYWva+7JWJNp
								ZgYpyhpIwA==
								</data>
								<key>Size</key>
								<integer>89912</integer>
							</dict>
							<key>files/stacks-image-b0dbc25-500x128.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ub6b6/ubImMd
								EvyOwn7Imw==
								</data>
								<key>Size</key>
								<integer>30769</integer>
							</dict>
							<key>files/stacks-image-e75ce61.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								04d2Cl/rF1KQ
								5ngqU6mlsA==
								</data>
								<key>Size</key>
								<integer>5174</integer>
							</dict>
							<key>files/stacks-image-ff17fda.png</key>
							<dict>
								<key>Digest</key>
								<data>
								3t2CtEqlodic
								rKCggE/LPw==
								</data>
								<key>Size</key>
								<integer>4020</integer>
							</dict>
							<key>files/stacks_page_page66.css</key>
							<dict>
								<key>Digest</key>
								<data>
								YP0wszShZ2ka
								00d6jDuYeg==
								</data>
								<key>Size</key>
								<integer>142707</integer>
							</dict>
							<key>files/stacks_page_page66.js</key>
							<dict>
								<key>Digest</key>
								<data>
								P0gsOwG6csEz
								3cEuyfm97A==
								</data>
								<key>Size</key>
								<integer>26533</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								qFx0prdQrRVJ
								ImPVbfZCJQ==
								</data>
								<key>Size</key>
								<integer>76954</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page66</string>
						<key>SiteRoot</key>
						<string>events/VCSA</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
