<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Organizers</string>
				<key>CreatedDate</key>
				<date>2020-05-20T16:58:25Z</date>
				<key>ID</key>
				<string>page102</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Organizers</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.0.4</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2021-02-12T18:27:57Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/DCE79F28-EA60-4789-B85B-36524B50F75A.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								IEzethOiNZT/
								CMFJwRU2Vg==
								</data>
								<key>Size</key>
								<integer>1269226</integer>
							</dict>
							<key>files/stacks-image-0dd0fd3-300x256.png</key>
							<dict>
								<key>Digest</key>
								<data>
								hJdXW8Fke8Bd
								p44ZHKSGOA==
								</data>
								<key>Size</key>
								<integer>68235</integer>
							</dict>
							<key>files/stacks-image-0dd0fd3-300x256@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								uPXK6QU7sDTC
								1m8aRu4ySA==
								</data>
								<key>Size</key>
								<integer>223270</integer>
							</dict>
							<key>files/stacks-image-2c71488-500x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								xNKZejZbnV/m
								vXZEEdx+3A==
								</data>
								<key>Size</key>
								<integer>80143</integer>
							</dict>
							<key>files/stacks-image-2c71488-500x500@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								UgxR8j6Fm9Lv
								cTeIMeR/fw==
								</data>
								<key>Size</key>
								<integer>133078</integer>
							</dict>
							<key>files/stacks-image-48ee80b-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								lrFqOMVJFYpJ
								rYOhmlJp+A==
								</data>
								<key>Size</key>
								<integer>90760</integer>
							</dict>
							<key>files/stacks-image-48ee80b-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								trlveds4I4VE
								lASQDABA7w==
								</data>
								<key>Size</key>
								<integer>327651</integer>
							</dict>
							<key>files/stacks-image-559974f-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								7ihRaE5p6PiO
								ktnzMiMI1g==
								</data>
								<key>Size</key>
								<integer>111432</integer>
							</dict>
							<key>files/stacks-image-79c18a1-300x218.png</key>
							<dict>
								<key>Digest</key>
								<data>
								o5g4g+Rs8tCY
								zXKpfndT1w==
								</data>
								<key>Size</key>
								<integer>18405</integer>
							</dict>
							<key>files/stacks-image-79c18a1-300x218@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								NFCJgNARSz8C
								wZM/qwlryA==
								</data>
								<key>Size</key>
								<integer>40907</integer>
							</dict>
							<key>files/stacks-image-be56b68-1200x398.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								2M2cXFkI3Wbx
								DOK+41BfDQ==
								</data>
								<key>Size</key>
								<integer>144902</integer>
							</dict>
							<key>files/stacks-image-cd71898-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								UaF1kNohHZR2
								zttjiLyPqg==
								</data>
								<key>Size</key>
								<integer>94012</integer>
							</dict>
							<key>files/stacks-image-d36e992-250x322.png</key>
							<dict>
								<key>Digest</key>
								<data>
								qF/3iBtBHFZy
								eFRD15Sjhw==
								</data>
								<key>Size</key>
								<integer>125558</integer>
							</dict>
							<key>files/stacks-image-faf7292-250x374.png</key>
							<dict>
								<key>Digest</key>
								<data>
								OONYa55gMmmT
								z5PWqRHO9A==
								</data>
								<key>Size</key>
								<integer>97610</integer>
							</dict>
							<key>files/stacks_page_page102.css</key>
							<dict>
								<key>Digest</key>
								<data>
								dWtK/jbgkk4L
								89AjqHtW0g==
								</data>
								<key>Size</key>
								<integer>108078</integer>
							</dict>
							<key>files/stacks_page_page102.js</key>
							<dict>
								<key>Digest</key>
								<data>
								ejYDQfWYq5Te
								qShfrU+VEw==
								</data>
								<key>Size</key>
								<integer>20681</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								+Kzu8v/A+4Wi
								UhgkD+jnpw==
								</data>
								<key>Size</key>
								<integer>51490</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page102</string>
						<key>SiteRoot</key>
						<string>events/cnww/page-3/page-16</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
