<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:30Z</date>
				<key>ID</key>
				<string>page70</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>MassMutual Center of Excellence</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.6.5</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-01-15T17:40:06Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small_526288.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ov4zbH1JnH3K
								F618M3iCVw==
								</data>
								<key>Size</key>
								<integer>20443</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZFHf9zniv4SK
								z9ywIWAR7Q==
								</data>
								<key>Size</key>
								<integer>124861</integer>
							</dict>
							<key>files/stacks-image-18f1b71-800x1200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								1psfUK57UAUl
								wNmhr55fMA==
								</data>
								<key>Size</key>
								<integer>138333</integer>
							</dict>
							<key>files/stacks-image-18f1b71-800x1200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								26low1WOnh16
								9e0AiJy6hw==
								</data>
								<key>Size</key>
								<integer>259864</integer>
							</dict>
							<key>files/stacks-image-2706f3f.png</key>
							<dict>
								<key>Digest</key>
								<data>
								38DyDEe6U7zk
								+jpdOMXc/w==
								</data>
								<key>Size</key>
								<integer>2858</integer>
							</dict>
							<key>files/stacks-image-3789a03.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								90yLwMfKHRk6
								AWz4EokIsQ==
								</data>
								<key>Size</key>
								<integer>13140</integer>
							</dict>
							<key>files/stacks-image-515f404-798x1198.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								I6hdKXlb2MlR
								1O0FV4E+xw==
								</data>
								<key>Size</key>
								<integer>160872</integer>
							</dict>
							<key>files/stacks-image-515f404-798x1198@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								hCG2ZkKmgqds
								RtwtdAuP4g==
								</data>
								<key>Size</key>
								<integer>297492</integer>
							</dict>
							<key>files/stacks-image-580baf6-248x248.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								yZQqhuEMgia3
								owVDiEQk8g==
								</data>
								<key>Size</key>
								<integer>13322</integer>
							</dict>
							<key>files/stacks-image-662d1db.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								dZMbR9NV1Agn
								6qv2plT+7Q==
								</data>
								<key>Size</key>
								<integer>5362</integer>
							</dict>
							<key>files/stacks-image-804d650.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								E2yfYf9Dthhw
								ohLblPEdlw==
								</data>
								<key>Size</key>
								<integer>81939</integer>
							</dict>
							<key>files/stacks-image-850a43f-700x124.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								lyxiBhrhdGFD
								Qx3fwJlO2A==
								</data>
								<key>Size</key>
								<integer>20782</integer>
							</dict>
							<key>files/stacks-image-90966db-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								kcVxqK0Y23YI
								Ns11kdYJ6w==
								</data>
								<key>Size</key>
								<integer>21714</integer>
							</dict>
							<key>files/stacks-image-972d40d.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								wkwvFNDFcJOD
								91p7F7ZkWw==
								</data>
								<key>Size</key>
								<integer>74749</integer>
							</dict>
							<key>files/stacks-image-9874180-1200x1200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								XrS9Kf/Un0KY
								6Koyks/bGQ==
								</data>
								<key>Size</key>
								<integer>188190</integer>
							</dict>
							<key>files/stacks-image-ea8f203-1200x212.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								wziFppFfVyPG
								JR1kdbQHmg==
								</data>
								<key>Size</key>
								<integer>40102</integer>
							</dict>
							<key>files/stacks_page_page70.css</key>
							<dict>
								<key>Digest</key>
								<data>
								ZfA5o96hQdgN
								udvgbH/EwA==
								</data>
								<key>Size</key>
								<integer>190307</integer>
							</dict>
							<key>files/stacks_page_page70.js</key>
							<dict>
								<key>Digest</key>
								<data>
								wWWvfbSz7BcO
								frkv7fOVEg==
								</data>
								<key>Size</key>
								<integer>24349</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								i7OmzfQfFSvm
								3NTzMNZ6rw==
								</data>
								<key>Size</key>
								<integer>87143</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page70</string>
						<key>SiteRoot</key>
						<string>partner/MMCOE</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
