<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page42</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Listserv</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.5.8</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2018-03-28T18:58:43Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZFHf9zniv4SK
								z9ywIWAR7Q==
								</data>
								<key>Size</key>
								<integer>124861</integer>
							</dict>
							<key>files/small_p60311_n109628.png</key>
							<dict>
								<key>Digest</key>
								<data>
								pcpK3KZBcBVd
								Ns6QdrLpNA==
								</data>
								<key>Size</key>
								<integer>68548</integer>
							</dict>
							<key>files/stacks_in_109600_page42_export.php</key>
							<dict>
								<key>Digest</key>
								<data>
								7gHjgs4MLz/Z
								T11rs4yZxg==
								</data>
								<key>Size</key>
								<integer>4408</integer>
							</dict>
							<key>files/stacks_in_109600_page42_phpinsert.php</key>
							<dict>
								<key>Digest</key>
								<data>
								p/ECQ6L6eKr0
								lqJu6TDf0Q==
								</data>
								<key>Size</key>
								<integer>7910</integer>
							</dict>
							<key>files/stacks_in_109600_page42_phpmailer.php</key>
							<dict>
								<key>Digest</key>
								<data>
								DVEIDgHhA2Q7
								dHTXSQC6kw==
								</data>
								<key>Size</key>
								<integer>10779</integer>
							</dict>
							<key>files/stacks_in_109600_page42_phpmailer2.php</key>
							<dict>
								<key>Digest</key>
								<data>
								5+Y5ATqEX2lE
								QP8c7bs2YQ==
								</data>
								<key>Size</key>
								<integer>10626</integer>
							</dict>
							<key>files/stacks_page_page42.css</key>
							<dict>
								<key>Digest</key>
								<data>
								9g2Cso1bXky2
								lJHR0fgq2w==
								</data>
								<key>Size</key>
								<integer>134408</integer>
							</dict>
							<key>files/stacks_page_page42.js</key>
							<dict>
								<key>Digest</key>
								<data>
								AzTDJ1dVHQLE
								nzsj75tgnQ==
								</data>
								<key>Size</key>
								<integer>33252</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								N99gJ3WDYCDl
								Ca62ve6FnQ==
								</data>
								<key>Size</key>
								<integer>44420</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page42</string>
						<key>SiteRoot</key>
						<string>community/listserv</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
