<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Complex Networks Winter Workshop</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page36</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Complex Networks Winter Workshop</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.2.5</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2022-10-03T17:17:10Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/DCE79F28-EA60-4789-B85B-36524B50F75A.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								IEzethOiNZT/
								CMFJwRU2Vg==
								</data>
								<key>Size</key>
								<integer>1269226</integer>
							</dict>
							<key>files/small-109623-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/small-109710-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JfxF8Omi0icK
								xIwohpIZqw==
								</data>
								<key>Size</key>
								<integer>77487</integer>
							</dict>
							<key>files/small-109714-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2NMhf1k+YDl
								uPpd6H1dBw==
								</data>
								<key>Size</key>
								<integer>15019</integer>
							</dict>
							<key>files/small-109735-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D2nm4R7babci
								2M5NjfUDZQ==
								</data>
								<key>Size</key>
								<integer>18925</integer>
							</dict>
							<key>files/small-109736-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgRiuB3NhhIh
								SwZTifI18g==
								</data>
								<key>Size</key>
								<integer>21987</integer>
							</dict>
							<key>files/small-109886.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Yb+L/heiX6tP
								YliFF2auMA==
								</data>
								<key>Size</key>
								<integer>269913</integer>
							</dict>
							<key>files/stacks-image-076c5e3-1200x800.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9HlNkEWU37cC
								9faxinADBw==
								</data>
								<key>Size</key>
								<integer>289690</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JV5ejNT3Y8/E
								W0wI16l5/Q==
								</data>
								<key>Size</key>
								<integer>35252</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Su+ZpJd1NY34
								s0J16tjsFg==
								</data>
								<key>Size</key>
								<integer>68409</integer>
							</dict>
							<key>files/stacks-image-0dd0fd3-300x256.png</key>
							<dict>
								<key>Digest</key>
								<data>
								667dVtcSBORm
								fSn6LdZGtw==
								</data>
								<key>Size</key>
								<integer>68302</integer>
							</dict>
							<key>files/stacks-image-0dd0fd3-300x256@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								hQbB35nzyVkx
								xYy+ycImKw==
								</data>
								<key>Size</key>
								<integer>223277</integer>
							</dict>
							<key>files/stacks-image-10532b8-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								UGbMo+XSmIGN
								QdxqIV0aHA==
								</data>
								<key>Size</key>
								<integer>96309</integer>
							</dict>
							<key>files/stacks-image-10532b8-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								I9vTQpl1rqmt
								4kZgjd/vyQ==
								</data>
								<key>Size</key>
								<integer>320528</integer>
							</dict>
							<key>files/stacks-image-1aebfb5-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JVU7ZMjrGeSn
								jbWk60HjZQ==
								</data>
								<key>Size</key>
								<integer>94299</integer>
							</dict>
							<key>files/stacks-image-1aebfb5-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zFV17x6f/i10
								HN//2jgcQQ==
								</data>
								<key>Size</key>
								<integer>335670</integer>
							</dict>
							<key>files/stacks-image-2085074-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								uSQDo16+eNX1
								PjSvXDFAOg==
								</data>
								<key>Size</key>
								<integer>22205</integer>
							</dict>
							<key>files/stacks-image-238bd39-1200x800.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								uebmPBvxCyiu
								L7YfJccvcA==
								</data>
								<key>Size</key>
								<integer>117005</integer>
							</dict>
							<key>files/stacks-image-3e863c5-1200x800.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								J1FpuCBsamGD
								gzysl0nvBg==
								</data>
								<key>Size</key>
								<integer>204611</integer>
							</dict>
							<key>files/stacks-image-45fda98-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								8T9dhK3jrJ8L
								smKlBbLfoA==
								</data>
								<key>Size</key>
								<integer>106938</integer>
							</dict>
							<key>files/stacks-image-45fda98-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								b+TKxW/ovWh6
								mobwM0iHHA==
								</data>
								<key>Size</key>
								<integer>404705</integer>
							</dict>
							<key>files/stacks-image-48ee80b-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								i4JJgb+uafAj
								AhER5UCiww==
								</data>
								<key>Size</key>
								<integer>90831</integer>
							</dict>
							<key>files/stacks-image-48ee80b-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Zv80oPR29pQG
								xwIzNKcdVw==
								</data>
								<key>Size</key>
								<integer>327709</integer>
							</dict>
							<key>files/stacks-image-4e487e1-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								iQ8XgfeFIQyD
								Gcl0HxDJRw==
								</data>
								<key>Size</key>
								<integer>40119</integer>
							</dict>
							<key>files/stacks-image-5dab26b-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ysgO7H750208
								lMUQSNsQHg==
								</data>
								<key>Size</key>
								<integer>74050</integer>
							</dict>
							<key>files/stacks-image-5dab26b-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								S0/QM0mY5tJ7
								ssC2osEqJg==
								</data>
								<key>Size</key>
								<integer>238709</integer>
							</dict>
							<key>files/stacks-image-5e1ff49-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Q44bEJiU3FQM
								3a0cJQj+PQ==
								</data>
								<key>Size</key>
								<integer>79068</integer>
							</dict>
							<key>files/stacks-image-779681d-1200x800.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								veRVZaeekgWz
								ReYTBLIcmg==
								</data>
								<key>Size</key>
								<integer>154800</integer>
							</dict>
							<key>files/stacks-image-79c18a1-300x218.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ueB0oaNV6Eak
								KS8xmPn5ow==
								</data>
								<key>Size</key>
								<integer>18385</integer>
							</dict>
							<key>files/stacks-image-79c18a1-300x218@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								8LTNP8XWC9dD
								cUF8pGs2JQ==
								</data>
								<key>Size</key>
								<integer>40924</integer>
							</dict>
							<key>files/stacks-image-7ca5723-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								fD6zld0PMDx6
								SfrpYG5z5Q==
								</data>
								<key>Size</key>
								<integer>100839</integer>
							</dict>
							<key>files/stacks-image-7ca5723-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								wslA0IVHJ3O4
								HmFVzZg9nw==
								</data>
								<key>Size</key>
								<integer>375011</integer>
							</dict>
							<key>files/stacks-image-91d6538-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								dm/nkVZltOUh
								RvY65WJrrA==
								</data>
								<key>Size</key>
								<integer>53621</integer>
							</dict>
							<key>files/stacks-image-a2c2113-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								y/kkLU2dJUv0
								1iEHRJQCqg==
								</data>
								<key>Size</key>
								<integer>81783</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								IxZwRv91Z5AF
								mVcIKfznCQ==
								</data>
								<key>Size</key>
								<integer>100889</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								gjzy4seweBRV
								q9xgwigcRA==
								</data>
								<key>Size</key>
								<integer>353488</integer>
							</dict>
							<key>files/stacks-image-c1d16d3-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								pkJlAGnL3GWJ
								Y2dYl7pfmQ==
								</data>
								<key>Size</key>
								<integer>72894</integer>
							</dict>
							<key>files/stacks-image-c1d16d3-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								QxbdN8z+GuuS
								PFP2g7wFxA==
								</data>
								<key>Size</key>
								<integer>262952</integer>
							</dict>
							<key>files/stacks-image-cd71898-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								axtbMbIQlnFS
								5qg4VI5osA==
								</data>
								<key>Size</key>
								<integer>93985</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								0LBTZh9Y4iZ6
								By0DZuC++A==
								</data>
								<key>Size</key>
								<integer>19463</integer>
							</dict>
							<key>files/stacks-image-fa80dc2-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								tSE5EdNI2IYT
								3GCj7VTj+g==
								</data>
								<key>Size</key>
								<integer>101540</integer>
							</dict>
							<key>files/stacks-image-fc23ad2-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								1OhJ9G2NIrmz
								T0LMb1S29g==
								</data>
								<key>Size</key>
								<integer>53641</integer>
							</dict>
							<key>files/stacks_page_page36.css</key>
							<dict>
								<key>Digest</key>
								<data>
								lU/oY7I3TRYV
								pL5ybbViiA==
								</data>
								<key>Size</key>
								<integer>168039</integer>
							</dict>
							<key>files/stacks_page_page36.js</key>
							<dict>
								<key>Digest</key>
								<data>
								6Kl0iemIu+qe
								MFk5mn5KDw==
								</data>
								<key>Size</key>
								<integer>24472</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								qCS9dxraCUnj
								sXurzIAgJw==
								</data>
								<key>Size</key>
								<integer>112011</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page36</string>
						<key>SiteRoot</key>
						<string>events/cnww</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>ChildPages</string>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
