<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:32Z</date>
				<key>ID</key>
				<string>page11</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Paper Shredder</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.5.9</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2018-05-04T15:18:20Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small_525330.png</key>
							<dict>
								<key>Digest</key>
								<data>
								21CwrXHpwxlG
								aGrPOAqUaQ==
								</data>
								<key>Size</key>
								<integer>90946</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZFHf9zniv4SK
								z9ywIWAR7Q==
								</data>
								<key>Size</key>
								<integer>124861</integer>
							</dict>
							<key>files/small_p60311_n109628.png</key>
							<dict>
								<key>Digest</key>
								<data>
								pcpK3KZBcBVd
								Ns6QdrLpNA==
								</data>
								<key>Size</key>
								<integer>68548</integer>
							</dict>
							<key>files/stacks_page_page11.css</key>
							<dict>
								<key>Digest</key>
								<data>
								89uLkx8H18uH
								EvsF5PhwTQ==
								</data>
								<key>Size</key>
								<integer>128668</integer>
							</dict>
							<key>files/stacks_page_page11.js</key>
							<dict>
								<key>Digest</key>
								<data>
								dw+DTBeC4PcY
								i2Gx7l4aEA==
								</data>
								<key>Size</key>
								<integer>28346</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								zm1xLBfGW1iT
								oW2tEFY48Q==
								</data>
								<key>Size</key>
								<integer>84390</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page11</string>
						<key>SiteRoot</key>
						<string>community/papershredder</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
