<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>NetSci Organizers</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page86</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>NetSci Organizers Copy</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.3.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2024-10-02T18:15:42Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/18FEA8AE-67F7-472F-8DA7-6E643EFCA566.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								dg38IPrfvGy5
								DTfC25wjTg==
								</data>
								<key>Size</key>
								<integer>464003</integer>
							</dict>
							<key>files/small-109623-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/small-109710-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JfxF8Omi0icK
								xIwohpIZqw==
								</data>
								<key>Size</key>
								<integer>77487</integer>
							</dict>
							<key>files/small-109714-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2NMhf1k+YDl
								uPpd6H1dBw==
								</data>
								<key>Size</key>
								<integer>15019</integer>
							</dict>
							<key>files/small-109735-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D2nm4R7babci
								2M5NjfUDZQ==
								</data>
								<key>Size</key>
								<integer>18925</integer>
							</dict>
							<key>files/small-109736-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgRiuB3NhhIh
								SwZTifI18g==
								</data>
								<key>Size</key>
								<integer>21987</integer>
							</dict>
							<key>files/stacks-image-01b6cb7.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								28a9qyUZUYuy
								Z9wh4S00OA==
								</data>
								<key>Size</key>
								<integer>199450</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JV5ejNT3Y8/E
								W0wI16l5/Q==
								</data>
								<key>Size</key>
								<integer>35252</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Su+ZpJd1NY34
								s0J16tjsFg==
								</data>
								<key>Size</key>
								<integer>68409</integer>
							</dict>
							<key>files/stacks-image-0a2e163-328x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								LVyc5+e4Eghn
								2IN5rxUZQg==
								</data>
								<key>Size</key>
								<integer>43479</integer>
							</dict>
							<key>files/stacks-image-1118fd8.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								sFraoy+16ql5
								9exyyMmEmg==
								</data>
								<key>Size</key>
								<integer>35091</integer>
							</dict>
							<key>files/stacks-image-2076f85-326x490.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								nc8REOaXnwYb
								ieheC1pTHw==
								</data>
								<key>Size</key>
								<integer>18975</integer>
							</dict>
							<key>files/stacks-image-28ec906-332x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								WZbrTyBPja5n
								qywE/tglgQ==
								</data>
								<key>Size</key>
								<integer>43534</integer>
							</dict>
							<key>files/stacks-image-2aeee5b.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								We9pB8ka4Vmx
								H5keC9AVbg==
								</data>
								<key>Size</key>
								<integer>24736</integer>
							</dict>
							<key>files/stacks-image-391616f-500x500.png</key>
							<dict>
								<key>Digest</key>
								<data>
								faGw8OkXF4fC
								fgOG+WZ5lQ==
								</data>
								<key>Size</key>
								<integer>559108</integer>
							</dict>
							<key>files/stacks-image-408abbc-500x280.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								dN7sKPAey6Bf
								PDwMMV3HvA==
								</data>
								<key>Size</key>
								<integer>27823</integer>
							</dict>
							<key>files/stacks-image-452b5e8-332x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								146qYMFm7Qq6
								ZQH9RXRS4g==
								</data>
								<key>Size</key>
								<integer>38719</integer>
							</dict>
							<key>files/stacks-image-506ca91.png</key>
							<dict>
								<key>Digest</key>
								<data>
								8EdMMOs3/vIq
								ik9HPArzCA==
								</data>
								<key>Size</key>
								<integer>340983</integer>
							</dict>
							<key>files/stacks-image-529cde2.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								GXFXYjQLv+hV
								FDCl0G8p2g==
								</data>
								<key>Size</key>
								<integer>25905</integer>
							</dict>
							<key>files/stacks-image-6037ffd-500x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								oP/U9M/4BfGF
								c/usHvX2WQ==
								</data>
								<key>Size</key>
								<integer>56685</integer>
							</dict>
							<key>files/stacks-image-6298502.png</key>
							<dict>
								<key>Digest</key>
								<data>
								I7BlJ/sIfKCd
								y/+Noen/4A==
								</data>
								<key>Size</key>
								<integer>69706</integer>
							</dict>
							<key>files/stacks-image-6c2cdff-500x500.png</key>
							<dict>
								<key>Digest</key>
								<data>
								FRhxa8d300P6
								4xfS8PLKgg==
								</data>
								<key>Size</key>
								<integer>432179</integer>
							</dict>
							<key>files/stacks-image-6c2cdff-500x500@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								CnJMV6UuvZUo
								21y4vbLsGA==
								</data>
								<key>Size</key>
								<integer>1647406</integer>
							</dict>
							<key>files/stacks-image-6db2017-500x376.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ExVcnOETsCID
								kApBla2CpA==
								</data>
								<key>Size</key>
								<integer>28831</integer>
							</dict>
							<key>files/stacks-image-6db2017-500x376@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								MsYcKpi8r/W6
								YdrImizXPg==
								</data>
								<key>Size</key>
								<integer>44973</integer>
							</dict>
							<key>files/stacks-image-7841e09.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								N4PpCrmytr8z
								lNWtcwKD6g==
								</data>
								<key>Size</key>
								<integer>8443</integer>
							</dict>
							<key>files/stacks-image-7baace1.png</key>
							<dict>
								<key>Digest</key>
								<data>
								uEJORZYvXD+2
								XjdrJ+u0zA==
								</data>
								<key>Size</key>
								<integer>54441</integer>
							</dict>
							<key>files/stacks-image-85b8eaa-500x500.png</key>
							<dict>
								<key>Digest</key>
								<data>
								xUFuw+cg3Kle
								Hl29WZStww==
								</data>
								<key>Size</key>
								<integer>390545</integer>
							</dict>
							<key>files/stacks-image-9c884d0.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								fU/F14sAci93
								dY+HaHVrFw==
								</data>
								<key>Size</key>
								<integer>243823</integer>
							</dict>
							<key>files/stacks-image-ae20feb-500x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ms5DSb50pQn+
								DssZIAlw+A==
								</data>
								<key>Size</key>
								<integer>39119</integer>
							</dict>
							<key>files/stacks-image-ae20feb-500x500@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								nt5ZH4BMDWeJ
								S5dUjVWR+A==
								</data>
								<key>Size</key>
								<integer>61729</integer>
							</dict>
							<key>files/stacks-image-b379a6f-500x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								1YOW81i9D26z
								EQlvLag0rw==
								</data>
								<key>Size</key>
								<integer>54046</integer>
							</dict>
							<key>files/stacks-image-b90e42d.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								7Ov4M+uEO0lh
								avEtq2w06w==
								</data>
								<key>Size</key>
								<integer>31635</integer>
							</dict>
							<key>files/stacks-image-c6e25a9.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								pGqdJwYojFxw
								HJPiARAEZQ==
								</data>
								<key>Size</key>
								<integer>42733</integer>
							</dict>
							<key>files/stacks-image-cd0a404.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Nb2TZEoroRSC
								Y+xT2IHd1Q==
								</data>
								<key>Size</key>
								<integer>27178</integer>
							</dict>
							<key>files/stacks-image-cd43f5e-500x374.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								qmG6nOyloctI
								JPlasrYB5A==
								</data>
								<key>Size</key>
								<integer>46874</integer>
							</dict>
							<key>files/stacks-image-cd43f5e-500x374@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								/Ry9GqaS7uQf
								Z5npO7LRRg==
								</data>
								<key>Size</key>
								<integer>146947</integer>
							</dict>
							<key>files/stacks-image-cfadf25.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9nBAHyaW6iKX
								SMq0xWVuoA==
								</data>
								<key>Size</key>
								<integer>25161</integer>
							</dict>
							<key>files/stacks-image-d7139db.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								d8N940Mz+Z7w
								r1KttVpXdw==
								</data>
								<key>Size</key>
								<integer>204779</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								0LBTZh9Y4iZ6
								By0DZuC++A==
								</data>
								<key>Size</key>
								<integer>19463</integer>
							</dict>
							<key>files/stacks-image-f14500c-500x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								mp0v7KB+MsYG
								ENm1pmTCWg==
								</data>
								<key>Size</key>
								<integer>46319</integer>
							</dict>
							<key>files/stacks-image-f653d0a.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								hCVTK4oyyITK
								kXBXOiPsAg==
								</data>
								<key>Size</key>
								<integer>22811</integer>
							</dict>
							<key>files/stacks-image-fa235ce-400x500.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								/6g0CTN6+oUu
								lfj1eCBhqw==
								</data>
								<key>Size</key>
								<integer>61282</integer>
							</dict>
							<key>files/stacks_page_page86.css</key>
							<dict>
								<key>Digest</key>
								<data>
								1aFz4oQV9xpQ
								s8WtWzbdYA==
								</data>
								<key>Size</key>
								<integer>213751</integer>
							</dict>
							<key>files/stacks_page_page86.js</key>
							<dict>
								<key>Digest</key>
								<data>
								OmxdwxSFFlCO
								hXn3uZuvew==
								</data>
								<key>Size</key>
								<integer>29515</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								F0Iir6NBML7G
								jWz6y9X0hA==
								</data>
								<key>Size</key>
								<integer>152457</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page86</string>
						<key>SiteRoot</key>
						<string>events/netsci-2019/organizers</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
