<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Skratch</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page37</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Skratch</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.6.6</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-03-08T17:38:45Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/backgroundImage_pp111153_n18_n1.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								GQHOUzuyjCs9
								Jfbg60A9OQ==
								</data>
								<key>Size</key>
								<integer>700318</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZFHf9zniv4SK
								z9ywIWAR7Q==
								</data>
								<key>Size</key>
								<integer>124861</integer>
							</dict>
							<key>files/stacks-image-012ccd0-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								XsvJYylntJyu
								SBVPvLHXuw==
								</data>
								<key>Size</key>
								<integer>38805</integer>
							</dict>
							<key>files/stacks-image-1500267-332x498.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								/1yJEGVtgDYC
								qJpjqOOqSg==
								</data>
								<key>Size</key>
								<integer>37050</integer>
							</dict>
							<key>files/stacks-image-1500267-332x498@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								5HaFH1+IeZ2q
								+imybGmwWQ==
								</data>
								<key>Size</key>
								<integer>61496</integer>
							</dict>
							<key>files/stacks-image-3179185-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								F9b2GlY9B0E6
								KtfJt7YGVg==
								</data>
								<key>Size</key>
								<integer>28413</integer>
							</dict>
							<key>files/stacks-image-580baf6-248x248.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								yZQqhuEMgia3
								owVDiEQk8g==
								</data>
								<key>Size</key>
								<integer>13322</integer>
							</dict>
							<key>files/stacks-image-78f98c2-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								VQeylHByJYMt
								eHl8ZH4K0Q==
								</data>
								<key>Size</key>
								<integer>40200</integer>
							</dict>
							<key>files/stacks-image-78f98c2-350x375@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ayixwrm11vSB
								j4hesfTjNw==
								</data>
								<key>Size</key>
								<integer>66232</integer>
							</dict>
							<key>files/stacks-image-7bc5484-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								SOlRP1yO0rWu
								gZ/HtPG+rw==
								</data>
								<key>Size</key>
								<integer>36199</integer>
							</dict>
							<key>files/stacks-image-7bc5484-350x375@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								TL7yNXylaDtA
								Ftz2qb0T9g==
								</data>
								<key>Size</key>
								<integer>61533</integer>
							</dict>
							<key>files/stacks-image-90966db-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								kcVxqK0Y23YI
								Ns11kdYJ6w==
								</data>
								<key>Size</key>
								<integer>21714</integer>
							</dict>
							<key>files/stacks-image-e5e8064-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								4+MD2lluE/v8
								P3P4cYsfGg==
								</data>
								<key>Size</key>
								<integer>30647</integer>
							</dict>
							<key>files/stacks-image-e5e8064-350x375@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								JyszyP6C4FQg
								UIxslUmduw==
								</data>
								<key>Size</key>
								<integer>48100</integer>
							</dict>
							<key>files/stacks_page_page37.css</key>
							<dict>
								<key>Digest</key>
								<data>
								W/kX8dpf8rJB
								k2R4vYLV3A==
								</data>
								<key>Size</key>
								<integer>133972</integer>
							</dict>
							<key>files/stacks_page_page37.js</key>
							<dict>
								<key>Digest</key>
								<data>
								8GOYQtRVxhXr
								Y6LZOhFiGg==
								</data>
								<key>Size</key>
								<integer>26207</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								K0CTUD/6jTjX
								umjelsjeWA==
								</data>
								<key>Size</key>
								<integer>73800</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page37</string>
						<key>SiteRoot</key>
						<string>events/netsci/page-3</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
