<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:30Z</date>
				<key>ID</key>
				<string>page25</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Funding</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.5.9</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2018-05-04T15:18:20Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZFHf9zniv4SK
								z9ywIWAR7Q==
								</data>
								<key>Size</key>
								<integer>124861</integer>
							</dict>
							<key>files/small_p60311_n109628.png</key>
							<dict>
								<key>Digest</key>
								<data>
								pcpK3KZBcBVd
								Ns6QdrLpNA==
								</data>
								<key>Size</key>
								<integer>68548</integer>
							</dict>
							<key>files/stacks-image-8b170b9.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								kgQq8MCOCFyi
								Qp8z3bixnQ==
								</data>
								<key>Size</key>
								<integer>7558</integer>
							</dict>
							<key>files/stacks-image-9d5546e-150x188.png</key>
							<dict>
								<key>Digest</key>
								<data>
								1r06g3Xah+j8
								Qr05tT9jkQ==
								</data>
								<key>Size</key>
								<integer>30000</integer>
							</dict>
							<key>files/stacks-image-a2c916c-150x148.png</key>
							<dict>
								<key>Digest</key>
								<data>
								G5gXX6xln5Hc
								PBUvDYe+7A==
								</data>
								<key>Size</key>
								<integer>19246</integer>
							</dict>
							<key>files/stacks-image-b438d3e-150x150.png</key>
							<dict>
								<key>Digest</key>
								<data>
								lR3wVUUk9Ro/
								BZdkPdlhpQ==
								</data>
								<key>Size</key>
								<integer>19240</integer>
							</dict>
							<key>files/stacks-image-b99fbf1-150x144.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								AIhBUIZ7Nf4/
								UrLP5j4AWA==
								</data>
								<key>Size</key>
								<integer>7771</integer>
							</dict>
							<key>files/stacks_page_page25.css</key>
							<dict>
								<key>Digest</key>
								<data>
								Fcz9GMs/JhxA
								W8+1JKNAXA==
								</data>
								<key>Size</key>
								<integer>141557</integer>
							</dict>
							<key>files/stacks_page_page25.js</key>
							<dict>
								<key>Digest</key>
								<data>
								eo5DNP/UGYZh
								Ar0K6mCKZQ==
								</data>
								<key>Size</key>
								<integer>28346</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								Aeod7N4hIJch
								naFuiBvTmg==
								</data>
								<key>Size</key>
								<integer>48993</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page25</string>
						<key>SiteRoot</key>
						<string>community/funding</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
