<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict/>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>01-Events-Calendar</string>
				<string>02-ALIFE-2020</string>
				<string>03-Complex-Networks-Winter-Workshop</string>
				<string>04-Summer-REU</string>
				<string>05-Community-Lectures</string>
				<string>06-Seminars-0026-Tutorials</string>
				<string>07-Research-Jam</string>
				<string>08-Paper-Shredder</string>
				<string>09-UVM-K-12-STEM-Calendar</string>
				<string>10-Science-Olympiad</string>
				<string>11-CS-Education-Summit</string>
				<string>12-Vermont-Computer-Science-Alliance</string>
				<string>13-NetSci-2019</string>
				<string>14-Symposium---Science-of-stories</string>
				<string>15-Symposium---Health-and-Wellness</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Pages</string>
</dict>
</plist>
