<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict/>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>1-Talkboctopus</string>
				<string>2-Complex-Networks-Winter-Workshop</string>
				<string>3-Seminars-0026-Tutorials</string>
				<string>4-Paper-Shredder</string>
				<string>5-Summer-REU</string>
				<string>6-NetSci-2019</string>
				<string>7-Symposium---Science-of-stories</string>
				<string>8-ALIFE-2020</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Pages</string>
</dict>
</plist>
