<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict/>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>01-ALIFE-2020</string>
				<string>02-Complex-Networks-Winter-Workshop</string>
				<string>03-Talkboctopus</string>
				<string>04-Events-Calendar</string>
				<string>05-Summer-REU</string>
				<string>06-Seminars-0026-Tutorials</string>
				<string>07-Paper-Shredder</string>
				<string>08-UVM-K-12-STEM-</string>
				<string>09-NetSci-2019</string>
				<string>10-Symposium---Science-of-stories</string>
				<string>11-Symposium---Health-and-Wellness</string>
				<string>12-Dictionary-As-Data</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Pages</string>
</dict>
</plist>
