<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Core Team</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page37</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Core Team</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.0.4</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2021-05-06T14:55:49Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small-109623-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/small-109710-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JfxF8Omi0icK
								xIwohpIZqw==
								</data>
								<key>Size</key>
								<integer>77487</integer>
							</dict>
							<key>files/small-109714-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2NMhf1k+YDl
								uPpd6H1dBw==
								</data>
								<key>Size</key>
								<integer>15019</integer>
							</dict>
							<key>files/small-109735-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D2nm4R7babci
								2M5NjfUDZQ==
								</data>
								<key>Size</key>
								<integer>18925</integer>
							</dict>
							<key>files/small-109736-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgRiuB3NhhIh
								SwZTifI18g==
								</data>
								<key>Size</key>
								<integer>21987</integer>
							</dict>
							<key>files/stacks-image-02e91e7-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								+9YBt1twtl4q
								dKbEWYAtYw==
								</data>
								<key>Size</key>
								<integer>16932</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								C82d5dfws9q4
								DDOA2BFu1w==
								</data>
								<key>Size</key>
								<integer>35273</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								v/SijtX2gRco
								SwESRI9B4g==
								</data>
								<key>Size</key>
								<integer>68378</integer>
							</dict>
							<key>files/stacks-image-0f335ab-300x300.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								356aBOu7uhMe
								Fg6N46JzZA==
								</data>
								<key>Size</key>
								<integer>18267</integer>
							</dict>
							<key>files/stacks-image-0f335ab-300x300@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								fQR+m+8n4kXB
								0qmmKd8A1g==
								</data>
								<key>Size</key>
								<integer>27295</integer>
							</dict>
							<key>files/stacks-image-1107355-200x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								49pTXmL3FURi
								DrOvYiq6ww==
								</data>
								<key>Size</key>
								<integer>95438</integer>
							</dict>
							<key>files/stacks-image-1107355-200x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								HS5LMGGjlD0X
								QPH3iGu9uQ==
								</data>
								<key>Size</key>
								<integer>344105</integer>
							</dict>
							<key>files/stacks-image-1205ce1-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Q/P62n2u6f8/
								n6mqhwkDIg==
								</data>
								<key>Size</key>
								<integer>14552</integer>
							</dict>
							<key>files/stacks-image-1205ce1-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Ayjf+PI+zMLT
								vw5Cgs2QaA==
								</data>
								<key>Size</key>
								<integer>21170</integer>
							</dict>
							<key>files/stacks-image-1255401-300x278.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								qDEvDgI5+tM+
								ri1MDpl0dQ==
								</data>
								<key>Size</key>
								<integer>32773</integer>
							</dict>
							<key>files/stacks-image-25edea5-300x300.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								tCxHj7CcINQ8
								jwVTu1nGwA==
								</data>
								<key>Size</key>
								<integer>15388</integer>
							</dict>
							<key>files/stacks-image-25edea5-300x300@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ZGFwcz36PhH/
								tVkyxPrYog==
								</data>
								<key>Size</key>
								<integer>24551</integer>
							</dict>
							<key>files/stacks-image-2c99c16-200x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								6mClKm2gzYqN
								14ivLqeLag==
								</data>
								<key>Size</key>
								<integer>91499</integer>
							</dict>
							<key>files/stacks-image-2fa4b42-232x350.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								KaG83vRshh2/
								4JZ+23xX5g==
								</data>
								<key>Size</key>
								<integer>25369</integer>
							</dict>
							<key>files/stacks-image-2fa4b42-232x350@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								7B6k6v4nijKB
								thOtrRgejg==
								</data>
								<key>Size</key>
								<integer>38402</integer>
							</dict>
							<key>files/stacks-image-32939b0-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								CuYZkYtus2Th
								phOZOPkp9w==
								</data>
								<key>Size</key>
								<integer>21107</integer>
							</dict>
							<key>files/stacks-image-32939b0-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								gb6MzWgWrofm
								V0Uz6mNx6w==
								</data>
								<key>Size</key>
								<integer>38103</integer>
							</dict>
							<key>files/stacks-image-335560f-200x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								EGROiUNsP9fY
								K7C2HHY8Sg==
								</data>
								<key>Size</key>
								<integer>93202</integer>
							</dict>
							<key>files/stacks-image-344e7c0-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								WzyYYpOio7CL
								TwKPvCXIhg==
								</data>
								<key>Size</key>
								<integer>18274</integer>
							</dict>
							<key>files/stacks-image-344e7c0-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								n69jmW/VQmpz
								oLn6jHwYKg==
								</data>
								<key>Size</key>
								<integer>28227</integer>
							</dict>
							<key>files/stacks-image-372af0f-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								YqF5Xh1q7RlL
								wyENzqZcsg==
								</data>
								<key>Size</key>
								<integer>14092</integer>
							</dict>
							<key>files/stacks-image-372af0f-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								+OdIhoCmEThW
								K70iW2Egdg==
								</data>
								<key>Size</key>
								<integer>25418</integer>
							</dict>
							<key>files/stacks-image-41d24eb-300x300.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								LrV+X/SeaAc5
								FQ4PosiMvA==
								</data>
								<key>Size</key>
								<integer>22090</integer>
							</dict>
							<key>files/stacks-image-4affa1a-244x350.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								viulcUmZJhQf
								2XEemhxHmQ==
								</data>
								<key>Size</key>
								<integer>18352</integer>
							</dict>
							<key>files/stacks-image-4d2fb1a-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								YoH4TQBJBBks
								jtM4gjS4pA==
								</data>
								<key>Size</key>
								<integer>14816</integer>
							</dict>
							<key>files/stacks-image-4d2fb1a-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								KAECmeBsWp+f
								D56YEEF/jw==
								</data>
								<key>Size</key>
								<integer>23203</integer>
							</dict>
							<key>files/stacks-image-4db0364-300x324.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								t1oXvaHlSpMc
								n7RJVEGDrA==
								</data>
								<key>Size</key>
								<integer>25470</integer>
							</dict>
							<key>files/stacks-image-4db0364-300x324@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								rYhU8SR/G8ar
								kKru6FRdLA==
								</data>
								<key>Size</key>
								<integer>48565</integer>
							</dict>
							<key>files/stacks-image-5518809-300x256.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								VOHfmkZaWtzN
								VBwZhUyKNw==
								</data>
								<key>Size</key>
								<integer>30908</integer>
							</dict>
							<key>files/stacks-image-5518809-300x256@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								zAioOcRkzC1g
								Zt3ufKhC6g==
								</data>
								<key>Size</key>
								<integer>53399</integer>
							</dict>
							<key>files/stacks-image-5d1fcf8-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								zliuWCD6BsQY
								koXKJc9KGQ==
								</data>
								<key>Size</key>
								<integer>15651</integer>
							</dict>
							<key>files/stacks-image-5d1fcf8-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								lw4hXzup0pBO
								aSxxf9E4RA==
								</data>
								<key>Size</key>
								<integer>27947</integer>
							</dict>
							<key>files/stacks-image-632dba4.png</key>
							<dict>
								<key>Digest</key>
								<data>
								I7BlJ/sIfKCd
								y/+Noen/4A==
								</data>
								<key>Size</key>
								<integer>69706</integer>
							</dict>
							<key>files/stacks-image-68c7485-200x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								na8zrqhdER9k
								6MVRx4dHwA==
								</data>
								<key>Size</key>
								<integer>102142</integer>
							</dict>
							<key>files/stacks-image-6c21b97.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								k4WnWCTXIoxW
								Kwa62I66tw==
								</data>
								<key>Size</key>
								<integer>4647</integer>
							</dict>
							<key>files/stacks-image-6ebb971-244x350.png</key>
							<dict>
								<key>Digest</key>
								<data>
								2EhHUbzDtYYK
								PuipcAkf/g==
								</data>
								<key>Size</key>
								<integer>165890</integer>
							</dict>
							<key>files/stacks-image-6f950e8-272x350.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Mj8UP4yeqn/G
								WJcx8wfh6w==
								</data>
								<key>Size</key>
								<integer>33917</integer>
							</dict>
							<key>files/stacks-image-6f950e8-272x350@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								gJesW2oes6lU
								qd34QZL0mg==
								</data>
								<key>Size</key>
								<integer>60010</integer>
							</dict>
							<key>files/stacks-image-706625c-232x350.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Tndh8CBhBCEK
								4/hk0Vakqg==
								</data>
								<key>Size</key>
								<integer>23842</integer>
							</dict>
							<key>files/stacks-image-71f3a33-272x350.png</key>
							<dict>
								<key>Digest</key>
								<data>
								TSY3YchhSIHY
								Kc3cDYpayA==
								</data>
								<key>Size</key>
								<integer>166792</integer>
							</dict>
							<key>files/stacks-image-71f3a33-272x350@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								SQE7PfKvLhUd
								Bvx833p+TQ==
								</data>
								<key>Size</key>
								<integer>617334</integer>
							</dict>
							<key>files/stacks-image-7840532-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								/ETC1SLAYy7I
								JDctNOVPfQ==
								</data>
								<key>Size</key>
								<integer>12156</integer>
							</dict>
							<key>files/stacks-image-7840532-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								7IOpKROlcAkS
								RHOb6uy8PQ==
								</data>
								<key>Size</key>
								<integer>18593</integer>
							</dict>
							<key>files/stacks-image-7a83e22-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								FHVQ6aqRxGvA
								G4y3ldqCrA==
								</data>
								<key>Size</key>
								<integer>17491</integer>
							</dict>
							<key>files/stacks-image-7cf95e6-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								3A6ldxuaORaS
								0ifeQ1OdyQ==
								</data>
								<key>Size</key>
								<integer>14097</integer>
							</dict>
							<key>files/stacks-image-7cf95e6-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								dziLvHj/nhdj
								jxv8+JUiLA==
								</data>
								<key>Size</key>
								<integer>19933</integer>
							</dict>
							<key>files/stacks-image-82572eb-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								oH0aL+K8vJ4d
								77w13GAYTQ==
								</data>
								<key>Size</key>
								<integer>21294</integer>
							</dict>
							<key>files/stacks-image-860ac33-300x300.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								HPENvqXatZP3
								Gq2km4mN8A==
								</data>
								<key>Size</key>
								<integer>21153</integer>
							</dict>
							<key>files/stacks-image-860ac33-300x300@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								hkB0M2cXDquG
								ekwCgXz2Rg==
								</data>
								<key>Size</key>
								<integer>34355</integer>
							</dict>
							<key>files/stacks-image-8803ff3-300x198.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								DLCWVU4oC4rO
								b5Mb9eYa/g==
								</data>
								<key>Size</key>
								<integer>15238</integer>
							</dict>
							<key>files/stacks-image-8803ff3-300x198@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								6aI/tST0xFoY
								ND4oUdf73A==
								</data>
								<key>Size</key>
								<integer>21801</integer>
							</dict>
							<key>files/stacks-image-94fc02f-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								K4BdXryh57m6
								7RXQRbVWUg==
								</data>
								<key>Size</key>
								<integer>13707</integer>
							</dict>
							<key>files/stacks-image-94fc02f-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								pOnK0enVKlqM
								gQya7JPSrw==
								</data>
								<key>Size</key>
								<integer>21315</integer>
							</dict>
							<key>files/stacks-image-96f29bd-236x350.png</key>
							<dict>
								<key>Digest</key>
								<data>
								nN42xSvPRZcv
								hHlMdMeQKg==
								</data>
								<key>Size</key>
								<integer>145197</integer>
							</dict>
							<key>files/stacks-image-9790936-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								j1dclFvyT3CK
								PBo67Ti58w==
								</data>
								<key>Size</key>
								<integer>14970</integer>
							</dict>
							<key>files/stacks-image-a6a8d21-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								qh1NWS0O+etx
								J6w3Y5s+Ew==
								</data>
								<key>Size</key>
								<integer>14140</integer>
							</dict>
							<key>files/stacks-image-a6a8d21-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								FGjG8d8xHHpI
								G51Rpz1Ejw==
								</data>
								<key>Size</key>
								<integer>23713</integer>
							</dict>
							<key>files/stacks-image-ad0e117-232x350.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								eYP2zck/k19a
								uU5Du+WtmQ==
								</data>
								<key>Size</key>
								<integer>23498</integer>
							</dict>
							<key>files/stacks-image-aee6c47-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								g+seEYHQXBG+
								KMPSuXdwfA==
								</data>
								<key>Size</key>
								<integer>16616</integer>
							</dict>
							<key>files/stacks-image-aee6c47-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ibl2Tsz9QoT2
								2V1BIdpYDA==
								</data>
								<key>Size</key>
								<integer>24501</integer>
							</dict>
							<key>files/stacks-image-b258b0c-300x300.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								taJBFkiMpWKs
								jgyBcDim2w==
								</data>
								<key>Size</key>
								<integer>17154</integer>
							</dict>
							<key>files/stacks-image-b258b0c-300x300@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								sIsHI8zgjKi7
								2sWm0L6YsA==
								</data>
								<key>Size</key>
								<integer>27063</integer>
							</dict>
							<key>files/stacks-image-bd6dcce-300x256.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								VOHfmkZaWtzN
								VBwZhUyKNw==
								</data>
								<key>Size</key>
								<integer>30908</integer>
							</dict>
							<key>files/stacks-image-bd6dcce-300x256@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								zAioOcRkzC1g
								Zt3ufKhC6g==
								</data>
								<key>Size</key>
								<integer>53399</integer>
							</dict>
							<key>files/stacks-image-c1c3c13-300x168.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								AI1WAnwCaDiM
								Jajpp+EVDA==
								</data>
								<key>Size</key>
								<integer>11578</integer>
							</dict>
							<key>files/stacks-image-c1c3c13-300x168@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								SlD9i52/f1tn
								zOQOBE1gVw==
								</data>
								<key>Size</key>
								<integer>17484</integer>
							</dict>
							<key>files/stacks-image-c752e2d-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								jZ74qIIzvohu
								PwH/obX/ow==
								</data>
								<key>Size</key>
								<integer>12403</integer>
							</dict>
							<key>files/stacks-image-c752e2d-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								v547S2Sm8Y7y
								5zGoKMjwhA==
								</data>
								<key>Size</key>
								<integer>18605</integer>
							</dict>
							<key>files/stacks-image-cde41f6-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								kiiUTaJ6MSFN
								zWB5BwY05Q==
								</data>
								<key>Size</key>
								<integer>13195</integer>
							</dict>
							<key>files/stacks-image-cde41f6-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Q3AMCFNVp8iS
								QMdY2OF3LQ==
								</data>
								<key>Size</key>
								<integer>19372</integer>
							</dict>
							<key>files/stacks-image-d4269a0-300x298.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								0rq+IAJRNfpg
								yV1uAnPFmg==
								</data>
								<key>Size</key>
								<integer>20565</integer>
							</dict>
							<key>files/stacks-image-d4269a0-300x298@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								yMai2zwEEqes
								LRKLWfgW1w==
								</data>
								<key>Size</key>
								<integer>34024</integer>
							</dict>
							<key>files/stacks-image-d6cbc58-300x174.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								XqQO3FPpPxYZ
								zu51GTs/Bg==
								</data>
								<key>Size</key>
								<integer>19591</integer>
							</dict>
							<key>files/stacks-image-d81cfea.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								kEJaET7UMkw9
								k618OOJJqQ==
								</data>
								<key>Size</key>
								<integer>30501</integer>
							</dict>
							<key>files/stacks-image-da705e8-300x288.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								KvF2uUAjj+7+
								AaG5gkxmVA==
								</data>
								<key>Size</key>
								<integer>20223</integer>
							</dict>
							<key>files/stacks-image-da705e8-300x288@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								QV2XIdkFby1Q
								/PXW8PDiHg==
								</data>
								<key>Size</key>
								<integer>30035</integer>
							</dict>
							<key>files/stacks-image-e4392ce-290x350.png</key>
							<dict>
								<key>Digest</key>
								<data>
								HWJZKv24HHrc
								NIWBcv8nSQ==
								</data>
								<key>Size</key>
								<integer>186034</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								IcJyU76V543g
								RUdnIXKzHw==
								</data>
								<key>Size</key>
								<integer>19481</integer>
							</dict>
							<key>files/stacks-image-f438bd3-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								5z7zDMqLT2eK
								nw5swZOgPA==
								</data>
								<key>Size</key>
								<integer>16725</integer>
							</dict>
							<key>files/stacks-image-f438bd3-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								fDMrIPsYi5J+
								hLTBuWBTtw==
								</data>
								<key>Size</key>
								<integer>25227</integer>
							</dict>
							<key>files/stacks-image-f61ed89-200x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								KNkHYEdIfPb+
								ZdmcS/UjXg==
								</data>
								<key>Size</key>
								<integer>87884</integer>
							</dict>
							<key>files/stacks-image-f61ed89-200x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								vk+RmpTfuxQ5
								tDD+NLVRtw==
								</data>
								<key>Size</key>
								<integer>346114</integer>
							</dict>
							<key>files/stacks-image-f780824-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								zBsXmsKdsFDL
								Z2SivKVNGQ==
								</data>
								<key>Size</key>
								<integer>14415</integer>
							</dict>
							<key>files/stacks-image-fc8fc2c-300x306.png</key>
							<dict>
								<key>Digest</key>
								<data>
								eMur5tPmH/m8
								TiEALWRFcQ==
								</data>
								<key>Size</key>
								<integer>156103</integer>
							</dict>
							<key>files/stacks-image-fc8fc2c-300x306@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								wSonwKZ3rUCW
								xPAYVUza0Q==
								</data>
								<key>Size</key>
								<integer>621180</integer>
							</dict>
							<key>files/stacks-image-fe073d3-200x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								qSKYkfis9Qy4
								a/roL8BflQ==
								</data>
								<key>Size</key>
								<integer>93146</integer>
							</dict>
							<key>files/stacks-image-fe073d3-200x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								gXfaRQ6SLDMd
								U6REBDmWPQ==
								</data>
								<key>Size</key>
								<integer>349616</integer>
							</dict>
							<key>files/stacks.css</key>
							<dict>
								<key>Digest</key>
								<data>
								wgmIAuepvJFg
								INqwDCfPXQ==
								</data>
								<key>Size</key>
								<integer>1879</integer>
							</dict>
							<key>files/stacks_page_page37.css</key>
							<dict>
								<key>Digest</key>
								<data>
								717wswhl9mQv
								vdIMFfdVLg==
								</data>
								<key>Size</key>
								<integer>409113</integer>
							</dict>
							<key>files/stacks_page_page37.js</key>
							<dict>
								<key>Digest</key>
								<data>
								TJlrhkPu21HE
								Ct3Z1Sd63w==
								</data>
								<key>Size</key>
								<integer>28599</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								ZxQU771sEZ8H
								i0RXArJHfw==
								</data>
								<key>Size</key>
								<integer>320889</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page37</string>
						<key>SiteRoot</key>
						<string>people/core-team</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>ChildPages</string>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
