<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page36</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Complex Networks Winter Workshop</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.2.2</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2021-02-12T18:22:48Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/DCE79F28-EA60-4789-B85B-36524B50F75A.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								IEzethOiNZT/
								CMFJwRU2Vg==
								</data>
								<key>Size</key>
								<integer>1269226</integer>
							</dict>
							<key>files/small-109623-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/small-109710-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JfxF8Omi0icK
								xIwohpIZqw==
								</data>
								<key>Size</key>
								<integer>77487</integer>
							</dict>
							<key>files/small-109714-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2NMhf1k+YDl
								uPpd6H1dBw==
								</data>
								<key>Size</key>
								<integer>15019</integer>
							</dict>
							<key>files/small-109735-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D2nm4R7babci
								2M5NjfUDZQ==
								</data>
								<key>Size</key>
								<integer>18925</integer>
							</dict>
							<key>files/small-109736-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgRiuB3NhhIh
								SwZTifI18g==
								</data>
								<key>Size</key>
								<integer>21987</integer>
							</dict>
							<key>files/small-109886.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Yb+L/heiX6tP
								YliFF2auMA==
								</data>
								<key>Size</key>
								<integer>269913</integer>
							</dict>
							<key>files/stacks-image-076c5e3-1200x800.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ZjPQfWHhNWqA
								YVNuTf0Grw==
								</data>
								<key>Size</key>
								<integer>289677</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								C82d5dfws9q4
								DDOA2BFu1w==
								</data>
								<key>Size</key>
								<integer>35273</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								v/SijtX2gRco
								SwESRI9B4g==
								</data>
								<key>Size</key>
								<integer>68378</integer>
							</dict>
							<key>files/stacks-image-0dd0fd3-300x256.png</key>
							<dict>
								<key>Digest</key>
								<data>
								hJdXW8Fke8Bd
								p44ZHKSGOA==
								</data>
								<key>Size</key>
								<integer>68235</integer>
							</dict>
							<key>files/stacks-image-0dd0fd3-300x256@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								uPXK6QU7sDTC
								1m8aRu4ySA==
								</data>
								<key>Size</key>
								<integer>223270</integer>
							</dict>
							<key>files/stacks-image-10532b8-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								6htZwIKYLDqU
								RT7ncPLmIA==
								</data>
								<key>Size</key>
								<integer>96275</integer>
							</dict>
							<key>files/stacks-image-10532b8-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								voCE0J72udUH
								CRqrjKJd1Q==
								</data>
								<key>Size</key>
								<integer>320530</integer>
							</dict>
							<key>files/stacks-image-1aebfb5-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								GIMg2GjIGTIf
								NrJ6zB/Idw==
								</data>
								<key>Size</key>
								<integer>94369</integer>
							</dict>
							<key>files/stacks-image-1aebfb5-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								PvQDFFUiSyri
								9tOuNhG9Ug==
								</data>
								<key>Size</key>
								<integer>335685</integer>
							</dict>
							<key>files/stacks-image-2085074-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								LfuXI7R4pkX6
								jdYWJHM0Kg==
								</data>
								<key>Size</key>
								<integer>22222</integer>
							</dict>
							<key>files/stacks-image-238bd39-1200x800.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								JAJh+cX1oHF8
								oXUmvF1COA==
								</data>
								<key>Size</key>
								<integer>117009</integer>
							</dict>
							<key>files/stacks-image-3e863c5-1200x800.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ZA17o3KD8baV
								ZqZEpdDj1A==
								</data>
								<key>Size</key>
								<integer>204638</integer>
							</dict>
							<key>files/stacks-image-45fda98-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								0PwnOEKZqVty
								2iIMUzpyqw==
								</data>
								<key>Size</key>
								<integer>106941</integer>
							</dict>
							<key>files/stacks-image-45fda98-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								DwLb8x4kE94U
								dyVIt3vh8g==
								</data>
								<key>Size</key>
								<integer>404532</integer>
							</dict>
							<key>files/stacks-image-48ee80b-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								lrFqOMVJFYpJ
								rYOhmlJp+A==
								</data>
								<key>Size</key>
								<integer>90760</integer>
							</dict>
							<key>files/stacks-image-48ee80b-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								trlveds4I4VE
								lASQDABA7w==
								</data>
								<key>Size</key>
								<integer>327651</integer>
							</dict>
							<key>files/stacks-image-4e487e1-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								sH45oaRBepxS
								161bQkc6kQ==
								</data>
								<key>Size</key>
								<integer>40132</integer>
							</dict>
							<key>files/stacks-image-5572282-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								FbhSYGcmD1tG
								AlKDv559pg==
								</data>
								<key>Size</key>
								<integer>51491</integer>
							</dict>
							<key>files/stacks-image-55d9607-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								pF3MAv7VEbBU
								4jXcS+c2tA==
								</data>
								<key>Size</key>
								<integer>49754</integer>
							</dict>
							<key>files/stacks-image-5dab26b-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								W+QuN988hrg8
								ltA8GvYjhw==
								</data>
								<key>Size</key>
								<integer>74065</integer>
							</dict>
							<key>files/stacks-image-5dab26b-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zCScDzrHOlEM
								L1y19bhmrw==
								</data>
								<key>Size</key>
								<integer>238725</integer>
							</dict>
							<key>files/stacks-image-5e1ff49-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zj0Pfe90bxN3
								+aFec4Jj4A==
								</data>
								<key>Size</key>
								<integer>79112</integer>
							</dict>
							<key>files/stacks-image-751defd-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								jmBRkFoN7Uoe
								kCrcLQoysg==
								</data>
								<key>Size</key>
								<integer>53128</integer>
							</dict>
							<key>files/stacks-image-779681d-1200x800.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								5eJqe1Qr90QF
								x1UlcSR51g==
								</data>
								<key>Size</key>
								<integer>154790</integer>
							</dict>
							<key>files/stacks-image-79c18a1-300x218.png</key>
							<dict>
								<key>Digest</key>
								<data>
								o5g4g+Rs8tCY
								zXKpfndT1w==
								</data>
								<key>Size</key>
								<integer>18405</integer>
							</dict>
							<key>files/stacks-image-79c18a1-300x218@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								NFCJgNARSz8C
								wZM/qwlryA==
								</data>
								<key>Size</key>
								<integer>40907</integer>
							</dict>
							<key>files/stacks-image-7ca5723-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								XWxpzQgQ96yY
								CKrAuhtXxw==
								</data>
								<key>Size</key>
								<integer>100741</integer>
							</dict>
							<key>files/stacks-image-7ca5723-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								rKlEPLzchZwt
								AzbgVBKxpw==
								</data>
								<key>Size</key>
								<integer>375084</integer>
							</dict>
							<key>files/stacks-image-8de494a-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Mgto3wcgsEP1
								IHLPvUS7uQ==
								</data>
								<key>Size</key>
								<integer>53987</integer>
							</dict>
							<key>files/stacks-image-8de494a-400x400@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								VUdriJRl3bKz
								D4wNbgURrA==
								</data>
								<key>Size</key>
								<integer>104141</integer>
							</dict>
							<key>files/stacks-image-91d6538-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								prxdCKAjH2I0
								OrfCl4K99w==
								</data>
								<key>Size</key>
								<integer>53638</integer>
							</dict>
							<key>files/stacks-image-a2c2113-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								pKkTU6oZ9A2e
								qZ3l9N8pnA==
								</data>
								<key>Size</key>
								<integer>81816</integer>
							</dict>
							<key>files/stacks-image-b6446aa-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								xfInipqxCGO4
								8yVPO+hxxQ==
								</data>
								<key>Size</key>
								<integer>50862</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								l/jholAihVDN
								ItGk0OiREg==
								</data>
								<key>Size</key>
								<integer>100747</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								pkyMF38YLsqJ
								SbfWoDadPg==
								</data>
								<key>Size</key>
								<integer>353247</integer>
							</dict>
							<key>files/stacks-image-c1d16d3-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								QxdXj23IXOzf
								RgXpSSVA0Q==
								</data>
								<key>Size</key>
								<integer>72906</integer>
							</dict>
							<key>files/stacks-image-c1d16d3-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								rqNyIF00ABsP
								gCr6nkyM1A==
								</data>
								<key>Size</key>
								<integer>262797</integer>
							</dict>
							<key>files/stacks-image-c8a0f4c-450x388.png</key>
							<dict>
								<key>Digest</key>
								<data>
								LLinDNbqOgLW
								OIfi44XkkQ==
								</data>
								<key>Size</key>
								<integer>87321</integer>
							</dict>
							<key>files/stacks-image-c8a0f4c-450x388@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								mjB1Uuu02su0
								s+3V2tbjWw==
								</data>
								<key>Size</key>
								<integer>240008</integer>
							</dict>
							<key>files/stacks-image-cd71898-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								UaF1kNohHZR2
								zttjiLyPqg==
								</data>
								<key>Size</key>
								<integer>94012</integer>
							</dict>
							<key>files/stacks-image-d4b0169-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Mnbny+XjahIh
								LzYMOtvRTA==
								</data>
								<key>Size</key>
								<integer>56096</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								IcJyU76V543g
								RUdnIXKzHw==
								</data>
								<key>Size</key>
								<integer>19481</integer>
							</dict>
							<key>files/stacks-image-fa80dc2-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								dIbje4OvUs3Y
								SY8j/nFHPw==
								</data>
								<key>Size</key>
								<integer>101552</integer>
							</dict>
							<key>files/stacks-image-fc23ad2-400x400.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								QBzeYsZue1tE
								Urivfn/gVQ==
								</data>
								<key>Size</key>
								<integer>53644</integer>
							</dict>
							<key>files/stacks.css</key>
							<dict>
								<key>Digest</key>
								<data>
								wgmIAuepvJFg
								INqwDCfPXQ==
								</data>
								<key>Size</key>
								<integer>1879</integer>
							</dict>
							<key>files/stacks_page_page36.css</key>
							<dict>
								<key>Digest</key>
								<data>
								ZINwbb4HqaKa
								o2wGJce0ng==
								</data>
								<key>Size</key>
								<integer>168036</integer>
							</dict>
							<key>files/stacks_page_page36.js</key>
							<dict>
								<key>Digest</key>
								<data>
								dSAqVCQaswUd
								GckjUW5k0g==
								</data>
								<key>Size</key>
								<integer>23663</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								1DETtmfb92Zf
								PLNEgzLN2Q==
								</data>
								<key>Size</key>
								<integer>110052</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page36</string>
						<key>SiteRoot</key>
						<string>events/cnww</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>ChildPages</string>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
