<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page45</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Community Lectures</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.6.6</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-03-05T21:33:34Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZFHf9zniv4SK
								z9ywIWAR7Q==
								</data>
								<key>Size</key>
								<integer>124861</integer>
							</dict>
							<key>files/stacks-image-02b24a8-600x514.png</key>
							<dict>
								<key>Digest</key>
								<data>
								6s90We3ZFf5Q
								70qTvfTVgQ==
								</data>
								<key>Size</key>
								<integer>129604</integer>
							</dict>
							<key>files/stacks-image-02b24a8-600x514@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								peg0+xUgoxk6
								/h8wX37JYg==
								</data>
								<key>Size</key>
								<integer>367460</integer>
							</dict>
							<key>files/stacks-image-0de57a8-250x374.png</key>
							<dict>
								<key>Digest</key>
								<data>
								AlP0bTyYnAa4
								EFS41b8JQA==
								</data>
								<key>Size</key>
								<integer>98461</integer>
							</dict>
							<key>files/stacks-image-0de57a8-250x374@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								eARz5hpytm+4
								TQ7A+A7Q3Q==
								</data>
								<key>Size</key>
								<integer>354128</integer>
							</dict>
							<key>files/stacks-image-48ee80b-248x374.png</key>
							<dict>
								<key>Digest</key>
								<data>
								nAepRHrEG9lr
								sxdeSa5T3Q==
								</data>
								<key>Size</key>
								<integer>91533</integer>
							</dict>
							<key>files/stacks-image-580baf6-248x248.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								yZQqhuEMgia3
								owVDiEQk8g==
								</data>
								<key>Size</key>
								<integer>13322</integer>
							</dict>
							<key>files/stacks-image-90966db-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								kcVxqK0Y23YI
								Ns11kdYJ6w==
								</data>
								<key>Size</key>
								<integer>21714</integer>
							</dict>
							<key>files/stacks-image-abff188-248x386.png</key>
							<dict>
								<key>Digest</key>
								<data>
								LTLsyL3Eb4GG
								uz8I4WRMLQ==
								</data>
								<key>Size</key>
								<integer>146458</integer>
							</dict>
							<key>files/stacks_page_page45.css</key>
							<dict>
								<key>Digest</key>
								<data>
								chsfI9Ei0QXo
								1tUBtR1zJA==
								</data>
								<key>Size</key>
								<integer>106573</integer>
							</dict>
							<key>files/stacks_page_page45.js</key>
							<dict>
								<key>Digest</key>
								<data>
								oVpMclzIMxfa
								/3DJEgiAGA==
								</data>
								<key>Size</key>
								<integer>24349</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								zLktOsfwV6oD
								WnBzNOwKvg==
								</data>
								<key>Size</key>
								<integer>49745</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page45</string>
						<key>SiteRoot</key>
						<string>events/community-lectures</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
