<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Participants</string>
				<key>CreatedDate</key>
				<date>2020-05-20T16:58:25Z</date>
				<key>ID</key>
				<string>page101</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Participants</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.2.2</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2021-11-22T17:53:56Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/DCE79F28-EA60-4789-B85B-36524B50F75A.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								IEzethOiNZT/
								CMFJwRU2Vg==
								</data>
								<key>Size</key>
								<integer>1269226</integer>
							</dict>
							<key>files/stacks-image-047ef2d-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								aPUCGme+SdhP
								LXEVJiOcCw==
								</data>
								<key>Size</key>
								<integer>14185</integer>
							</dict>
							<key>files/stacks-image-0c3ab08-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Mz/i2Fm/2op2
								Xuun89atxg==
								</data>
								<key>Size</key>
								<integer>12744</integer>
							</dict>
							<key>files/stacks-image-0c3ab08-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								QxP7e+gcNNA9
								IZavsK543w==
								</data>
								<key>Size</key>
								<integer>19474</integer>
							</dict>
							<key>files/stacks-image-0c4d84f-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								fRNLC7jRfb6y
								fkVpex5CnQ==
								</data>
								<key>Size</key>
								<integer>21870</integer>
							</dict>
							<key>files/stacks-image-0c4d84f-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								kQubZyK/XPcg
								Ioin7qI1fw==
								</data>
								<key>Size</key>
								<integer>43928</integer>
							</dict>
							<key>files/stacks-image-0da047a-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								r7weNrVAWqV/
								MQ+j3yGfGw==
								</data>
								<key>Size</key>
								<integer>9478</integer>
							</dict>
							<key>files/stacks-image-0ff36b0-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								OVmpAgrs7D3u
								sv2P6HinsQ==
								</data>
								<key>Size</key>
								<integer>14588</integer>
							</dict>
							<key>files/stacks-image-0ff36b0-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								MJJ/OOrzIjcs
								iZrKr53ZGQ==
								</data>
								<key>Size</key>
								<integer>28045</integer>
							</dict>
							<key>files/stacks-image-12f961e-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								mtNJx56g1vo1
								V3HtsZ+Odg==
								</data>
								<key>Size</key>
								<integer>17821</integer>
							</dict>
							<key>files/stacks-image-12f961e-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								/pDZuVvemZQj
								fL7madmxog==
								</data>
								<key>Size</key>
								<integer>29319</integer>
							</dict>
							<key>files/stacks-image-17909e9.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								lhpvtxppIH0m
								nqm/91RtuA==
								</data>
								<key>Size</key>
								<integer>10665</integer>
							</dict>
							<key>files/stacks-image-17d57e6-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								bjtEZ6n86c3w
								5tkDiqb5/g==
								</data>
								<key>Size</key>
								<integer>12030</integer>
							</dict>
							<key>files/stacks-image-17d57e6-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								CHCaGrafXMX2
								MDDU55eHpQ==
								</data>
								<key>Size</key>
								<integer>17688</integer>
							</dict>
							<key>files/stacks-image-19d7853-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								73negINfissn
								yoWw1tk+Aw==
								</data>
								<key>Size</key>
								<integer>12316</integer>
							</dict>
							<key>files/stacks-image-19d7853-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								IfyTR0YlJORs
								AUY+1ifcDw==
								</data>
								<key>Size</key>
								<integer>16831</integer>
							</dict>
							<key>files/stacks-image-1c680c5-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								gjCmb2/2qXKj
								2gtcl6UyOg==
								</data>
								<key>Size</key>
								<integer>15781</integer>
							</dict>
							<key>files/stacks-image-1c680c5-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9WZbgfud+rtQ
								Vu90irRkIA==
								</data>
								<key>Size</key>
								<integer>23931</integer>
							</dict>
							<key>files/stacks-image-1ce2711-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								wI4SFGsNvQGA
								L/1zya3DtQ==
								</data>
								<key>Size</key>
								<integer>14941</integer>
							</dict>
							<key>files/stacks-image-1ce2711-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								yI0VMyiZQHZ2
								A6FhicHN+Q==
								</data>
								<key>Size</key>
								<integer>20514</integer>
							</dict>
							<key>files/stacks-image-1ef886b-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								jsLwll4fUKC5
								OKxsfJwaaA==
								</data>
								<key>Size</key>
								<integer>88456</integer>
							</dict>
							<key>files/stacks-image-1ef886b-200x200@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								PMHzNWJVvoDN
								w3XimvJPWQ==
								</data>
								<key>Size</key>
								<integer>333905</integer>
							</dict>
							<key>files/stacks-image-22e8a03-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ng5L79MgbYeg
								QnBcaW+KKw==
								</data>
								<key>Size</key>
								<integer>19223</integer>
							</dict>
							<key>files/stacks-image-22e8a03-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								iEKgDZYrFSyv
								oUCuKYQWtA==
								</data>
								<key>Size</key>
								<integer>30206</integer>
							</dict>
							<key>files/stacks-image-23ffbd4-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								GfXaF7TJth8z
								ZyyTjNl9tQ==
								</data>
								<key>Size</key>
								<integer>12580</integer>
							</dict>
							<key>files/stacks-image-23ffbd4-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								G3FVDpKC8jus
								Le0d8G6tYQ==
								</data>
								<key>Size</key>
								<integer>21282</integer>
							</dict>
							<key>files/stacks-image-242732d-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								DrWZzy4HD+rh
								b9OM3QkSjA==
								</data>
								<key>Size</key>
								<integer>11945</integer>
							</dict>
							<key>files/stacks-image-242732d-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								seg8EQr1O57S
								ATwaoh6tSA==
								</data>
								<key>Size</key>
								<integer>17575</integer>
							</dict>
							<key>files/stacks-image-27c807c-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								YKdMy1NUjsE8
								IgsLYsPQIA==
								</data>
								<key>Size</key>
								<integer>13610</integer>
							</dict>
							<key>files/stacks-image-27c807c-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								oYlJ/eHJnXhz
								hSMorOyDIg==
								</data>
								<key>Size</key>
								<integer>19510</integer>
							</dict>
							<key>files/stacks-image-2825ae3-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								4JSca9n0rLSv
								hwmiQgEQpA==
								</data>
								<key>Size</key>
								<integer>16427</integer>
							</dict>
							<key>files/stacks-image-2825ae3-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								z02dJ2SP5Ql1
								DM/HXcqE5w==
								</data>
								<key>Size</key>
								<integer>29407</integer>
							</dict>
							<key>files/stacks-image-29e8d36-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								H7nGLFrgwZ86
								7Pk8ohOuzw==
								</data>
								<key>Size</key>
								<integer>10877</integer>
							</dict>
							<key>files/stacks-image-29e8d36-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								RMoTU/1o8Bq4
								lAMuZH2mbw==
								</data>
								<key>Size</key>
								<integer>16851</integer>
							</dict>
							<key>files/stacks-image-2a5403a-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								NOR7ZdojVAmd
								eG4sOATtHg==
								</data>
								<key>Size</key>
								<integer>10037</integer>
							</dict>
							<key>files/stacks-image-2a5403a-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								RZbeUSg5vwgS
								XhnjaNuj5g==
								</data>
								<key>Size</key>
								<integer>13750</integer>
							</dict>
							<key>files/stacks-image-2bc1e68-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								MD/M3F4wx/N2
								ul3ypD6ZJg==
								</data>
								<key>Size</key>
								<integer>19104</integer>
							</dict>
							<key>files/stacks-image-2bc1e68-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								OISnbZyRfDkv
								YysW0yVizA==
								</data>
								<key>Size</key>
								<integer>31128</integer>
							</dict>
							<key>files/stacks-image-2c96516-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								hQCfBCylUu7a
								ekNbBwgXGw==
								</data>
								<key>Size</key>
								<integer>56244</integer>
							</dict>
							<key>files/stacks-image-2c96516-200x200@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								wWFs8B3Zo+Gw
								yDwy10Sd/A==
								</data>
								<key>Size</key>
								<integer>208222</integer>
							</dict>
							<key>files/stacks-image-317ba69-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Is3/uBF/WN4q
								gsaFbKMaoQ==
								</data>
								<key>Size</key>
								<integer>14550</integer>
							</dict>
							<key>files/stacks-image-451d091-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								I7QvDb1Tv9UN
								XgH160oJvw==
								</data>
								<key>Size</key>
								<integer>13384</integer>
							</dict>
							<key>files/stacks-image-451d091-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								1/hsTzq5pk+L
								V2Db7VDLUw==
								</data>
								<key>Size</key>
								<integer>19340</integer>
							</dict>
							<key>files/stacks-image-4905015-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								mF58pOfjTope
								cHL3B+xQmg==
								</data>
								<key>Size</key>
								<integer>17606</integer>
							</dict>
							<key>files/stacks-image-4905015-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								l4qMufMObOPX
								YhOJCKioAw==
								</data>
								<key>Size</key>
								<integer>29805</integer>
							</dict>
							<key>files/stacks-image-4ef3191-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								58hexJRCCuwQ
								Af+d843cDg==
								</data>
								<key>Size</key>
								<integer>23077</integer>
							</dict>
							<key>files/stacks-image-527e6ed-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								K+ewklVJj14q
								ITJw6hl2hA==
								</data>
								<key>Size</key>
								<integer>12605</integer>
							</dict>
							<key>files/stacks-image-527e6ed-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								PeIcqHsq1bDQ
								3lf7D8/gcw==
								</data>
								<key>Size</key>
								<integer>18281</integer>
							</dict>
							<key>files/stacks-image-5f2eada-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								gqevXhvmr9/W
								4nSkxMzcUA==
								</data>
								<key>Size</key>
								<integer>11288</integer>
							</dict>
							<key>files/stacks-image-5f2eada-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								gWSGWu9OrK5M
								eO3HG2vI7A==
								</data>
								<key>Size</key>
								<integer>16830</integer>
							</dict>
							<key>files/stacks-image-611acd6-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								e/tNshL0o+DM
								I5/l+R1YDg==
								</data>
								<key>Size</key>
								<integer>18463</integer>
							</dict>
							<key>files/stacks-image-611acd6-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								WjB/2r2fUBtK
								StUBcA4ejQ==
								</data>
								<key>Size</key>
								<integer>29722</integer>
							</dict>
							<key>files/stacks-image-6a6e912-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								pll/0eYDj66P
								YdBgQCdIaw==
								</data>
								<key>Size</key>
								<integer>18152</integer>
							</dict>
							<key>files/stacks-image-6a6e912-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								uqxWgu0kgLYJ
								elk6EbVYbA==
								</data>
								<key>Size</key>
								<integer>28330</integer>
							</dict>
							<key>files/stacks-image-77b1041-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								pll/0eYDj66P
								YdBgQCdIaw==
								</data>
								<key>Size</key>
								<integer>18152</integer>
							</dict>
							<key>files/stacks-image-77b1041-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								uqxWgu0kgLYJ
								elk6EbVYbA==
								</data>
								<key>Size</key>
								<integer>28330</integer>
							</dict>
							<key>files/stacks-image-77ba45f-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								WQGdL44unQFY
								868gCOdd5A==
								</data>
								<key>Size</key>
								<integer>16436</integer>
							</dict>
							<key>files/stacks-image-77ba45f-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								w8qwneJ8or/B
								j8POgKgAZA==
								</data>
								<key>Size</key>
								<integer>28412</integer>
							</dict>
							<key>files/stacks-image-7c2ac19-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								hi2HarFMAMxW
								T+QVcxKWXA==
								</data>
								<key>Size</key>
								<integer>11965</integer>
							</dict>
							<key>files/stacks-image-7c2ac19-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								UpztwkO+c93l
								FOxc4Ka6qA==
								</data>
								<key>Size</key>
								<integer>17537</integer>
							</dict>
							<key>files/stacks-image-7d30c60-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								gjCmb2/2qXKj
								2gtcl6UyOg==
								</data>
								<key>Size</key>
								<integer>15781</integer>
							</dict>
							<key>files/stacks-image-7d30c60-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9WZbgfud+rtQ
								Vu90irRkIA==
								</data>
								<key>Size</key>
								<integer>23931</integer>
							</dict>
							<key>files/stacks-image-85deaaf.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								sI77WkrBeU4n
								HaJUPPM2BA==
								</data>
								<key>Size</key>
								<integer>11013</integer>
							</dict>
							<key>files/stacks-image-87ed1e6-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								bjAmLiij9Ba1
								KMTDrybeIw==
								</data>
								<key>Size</key>
								<integer>85058</integer>
							</dict>
							<key>files/stacks-image-88f885f-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ZUtniiqQTfxA
								opSD1SmA5w==
								</data>
								<key>Size</key>
								<integer>14600</integer>
							</dict>
							<key>files/stacks-image-88f885f-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								CSxE62TTG/n6
								voomqMUiQw==
								</data>
								<key>Size</key>
								<integer>21668</integer>
							</dict>
							<key>files/stacks-image-89d1ae9-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								hV4VFOAPAIge
								/dQm8nO7bQ==
								</data>
								<key>Size</key>
								<integer>16971</integer>
							</dict>
							<key>files/stacks-image-89d1ae9-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								GmShggFHoxa9
								BrFwHYaeyQ==
								</data>
								<key>Size</key>
								<integer>26656</integer>
							</dict>
							<key>files/stacks-image-8c0a7e9-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								qxHuzCgajlst
								ABzEeiCAwA==
								</data>
								<key>Size</key>
								<integer>17835</integer>
							</dict>
							<key>files/stacks-image-8c0a7e9-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								TFPg8IS/RO/j
								SXUiXumnWA==
								</data>
								<key>Size</key>
								<integer>28885</integer>
							</dict>
							<key>files/stacks-image-8edf16e-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								/SmBgbnHLwgd
								UNel4MNulg==
								</data>
								<key>Size</key>
								<integer>10993</integer>
							</dict>
							<key>files/stacks-image-8edf16e-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								F+6ieYoNkO1g
								59oxPDv3xQ==
								</data>
								<key>Size</key>
								<integer>14865</integer>
							</dict>
							<key>files/stacks-image-90333e9-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								pll/0eYDj66P
								YdBgQCdIaw==
								</data>
								<key>Size</key>
								<integer>18152</integer>
							</dict>
							<key>files/stacks-image-90333e9-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								uqxWgu0kgLYJ
								elk6EbVYbA==
								</data>
								<key>Size</key>
								<integer>28330</integer>
							</dict>
							<key>files/stacks-image-92b0bb9-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								oo8DBr2bubap
								EdZzlktzUw==
								</data>
								<key>Size</key>
								<integer>15621</integer>
							</dict>
							<key>files/stacks-image-92b0bb9-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								PsD9M3NxbU1p
								Q4qjmAuHtQ==
								</data>
								<key>Size</key>
								<integer>24043</integer>
							</dict>
							<key>files/stacks-image-96fecce-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								RjRzjF/LlJ+O
								+ar3477HgA==
								</data>
								<key>Size</key>
								<integer>19918</integer>
							</dict>
							<key>files/stacks-image-96fecce-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ZHAS7vZkAb3p
								u/S9J+wyvw==
								</data>
								<key>Size</key>
								<integer>40554</integer>
							</dict>
							<key>files/stacks-image-9b57602-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								vpTs/QGVkBUg
								VDbtCH863Q==
								</data>
								<key>Size</key>
								<integer>19363</integer>
							</dict>
							<key>files/stacks-image-9b57602-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								+nrPHGodafOQ
								TGp1TEXEDQ==
								</data>
								<key>Size</key>
								<integer>30407</integer>
							</dict>
							<key>files/stacks-image-9f55d52-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								6EjeyhQQCasz
								7UvSEfGHig==
								</data>
								<key>Size</key>
								<integer>12471</integer>
							</dict>
							<key>files/stacks-image-9f55d52-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								JthaXiTN1Bqt
								aCyBR2qTHg==
								</data>
								<key>Size</key>
								<integer>17767</integer>
							</dict>
							<key>files/stacks-image-a1090e0-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ef3oeo+Kiu5Y
								8Siv9sKDjw==
								</data>
								<key>Size</key>
								<integer>25220</integer>
							</dict>
							<key>files/stacks-image-a1090e0-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								p0XvT1H+Wm3f
								u0t6Q/gnxQ==
								</data>
								<key>Size</key>
								<integer>49566</integer>
							</dict>
							<key>files/stacks-image-a302ea6-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								52uV09ZQWXL1
								925LIeZj6w==
								</data>
								<key>Size</key>
								<integer>17678</integer>
							</dict>
							<key>files/stacks-image-a302ea6-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								+Xan0xGFFIqs
								7nIEyYTavg==
								</data>
								<key>Size</key>
								<integer>34286</integer>
							</dict>
							<key>files/stacks-image-a3ccfd4-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								DxS3jNzbHl3J
								HTyeu/m79Q==
								</data>
								<key>Size</key>
								<integer>19379</integer>
							</dict>
							<key>files/stacks-image-a3ccfd4-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ygS2hr+VJd2+
								6it2pMdUjQ==
								</data>
								<key>Size</key>
								<integer>31181</integer>
							</dict>
							<key>files/stacks-image-afab053-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Us/JbHVT9Ohk
								tvqyFSKWYw==
								</data>
								<key>Size</key>
								<integer>10629</integer>
							</dict>
							<key>files/stacks-image-afab053-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								I1wDMAPTF4iQ
								VAPE8lAc7A==
								</data>
								<key>Size</key>
								<integer>14709</integer>
							</dict>
							<key>files/stacks-image-c17d304-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								KRdKQvGIFgr8
								1V0v+8EYQg==
								</data>
								<key>Size</key>
								<integer>11765</integer>
							</dict>
							<key>files/stacks-image-c17d304-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								COxWjgqWw56p
								IDeiNevhBA==
								</data>
								<key>Size</key>
								<integer>16582</integer>
							</dict>
							<key>files/stacks-image-c28368e-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								6CiRarxyC4Fe
								fCfeWO1DIg==
								</data>
								<key>Size</key>
								<integer>77615</integer>
							</dict>
							<key>files/stacks-image-c28368e-200x200@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								o6GNEa1szjdi
								oP3mg6WcQg==
								</data>
								<key>Size</key>
								<integer>301773</integer>
							</dict>
							<key>files/stacks-image-c667c34-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								MD/M3F4wx/N2
								ul3ypD6ZJg==
								</data>
								<key>Size</key>
								<integer>19104</integer>
							</dict>
							<key>files/stacks-image-c667c34-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								OISnbZyRfDkv
								YysW0yVizA==
								</data>
								<key>Size</key>
								<integer>31128</integer>
							</dict>
							<key>files/stacks-image-c91c1e5-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								RAi2XxT4EJQX
								gvRtNLO01w==
								</data>
								<key>Size</key>
								<integer>14810</integer>
							</dict>
							<key>files/stacks-image-c91c1e5-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								AWqEQEdqZkjE
								Gwp8c6D/MA==
								</data>
								<key>Size</key>
								<integer>21188</integer>
							</dict>
							<key>files/stacks-image-cbb86c5-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								58hexJRCCuwQ
								Af+d843cDg==
								</data>
								<key>Size</key>
								<integer>23077</integer>
							</dict>
							<key>files/stacks-image-d1d7693-1200x398.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								mMvxlr+JuzHT
								zLmSWco7Nw==
								</data>
								<key>Size</key>
								<integer>144886</integer>
							</dict>
							<key>files/stacks-image-e09c1b7-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								E3vO7fDUnM9m
								OOB761gh+g==
								</data>
								<key>Size</key>
								<integer>85856</integer>
							</dict>
							<key>files/stacks-image-e19f1bc-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								sR/3TXAy4ZWX
								jy/igPp2RQ==
								</data>
								<key>Size</key>
								<integer>89661</integer>
							</dict>
							<key>files/stacks-image-e19f1bc-200x200@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								5UlffM5Ow+mX
								7XBcyRCoMg==
								</data>
								<key>Size</key>
								<integer>325394</integer>
							</dict>
							<key>files/stacks-image-e31493c-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								zegSmvj3e+iX
								mA6ZVIM/Tg==
								</data>
								<key>Size</key>
								<integer>14477</integer>
							</dict>
							<key>files/stacks-image-e31493c-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								DUqkfFDEFGlf
								44Gr+i7yMQ==
								</data>
								<key>Size</key>
								<integer>20076</integer>
							</dict>
							<key>files/stacks-image-e32d835-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								riE/A0KAqmEe
								09egQIyLpg==
								</data>
								<key>Size</key>
								<integer>13228</integer>
							</dict>
							<key>files/stacks-image-e559cc7-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								7F0I0b+jatta
								Gjgj2dNFJQ==
								</data>
								<key>Size</key>
								<integer>82497</integer>
							</dict>
							<key>files/stacks-image-e559cc7-200x200@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								evf7gU9bcZSV
								71b0pUdI3A==
								</data>
								<key>Size</key>
								<integer>277793</integer>
							</dict>
							<key>files/stacks-image-e7ed632-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								uykHEyiZZhLD
								mObW3OTdHw==
								</data>
								<key>Size</key>
								<integer>11201</integer>
							</dict>
							<key>files/stacks-image-e7ed632-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								GWvIsShQMxQT
								Pu6d7BP6Fg==
								</data>
								<key>Size</key>
								<integer>15463</integer>
							</dict>
							<key>files/stacks-image-e9268cb-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								uY8KEaf9HHj+
								aCfR/SRAHA==
								</data>
								<key>Size</key>
								<integer>78216</integer>
							</dict>
							<key>files/stacks-image-e9268cb-200x200@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								h3HGC35giHZR
								JkZ1WKWuUg==
								</data>
								<key>Size</key>
								<integer>309970</integer>
							</dict>
							<key>files/stacks-image-f2ce94f-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								q1OHGV7mGI5T
								BOZ5198XnA==
								</data>
								<key>Size</key>
								<integer>9423</integer>
							</dict>
							<key>files/stacks-image-f2ce94f-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								mI7Ei1Cib4we
								NfPJSONuNQ==
								</data>
								<key>Size</key>
								<integer>13412</integer>
							</dict>
							<key>files/stacks-image-f419c7d-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								lbm+CDXCHf7R
								G+WGrz1fDg==
								</data>
								<key>Size</key>
								<integer>16084</integer>
							</dict>
							<key>files/stacks-image-f5c0b93-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ygGVSOv7jv1C
								9E4iN9H6Zw==
								</data>
								<key>Size</key>
								<integer>13702</integer>
							</dict>
							<key>files/stacks-image-f5c0b93-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								D6oXljl3OZKV
								v/8KhIp6gg==
								</data>
								<key>Size</key>
								<integer>19385</integer>
							</dict>
							<key>files/stacks-image-fc196d2-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								w5gelRzVWmYj
								C0DC31rCsQ==
								</data>
								<key>Size</key>
								<integer>18260</integer>
							</dict>
							<key>files/stacks-image-fc196d2-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								td9iW90nZ+gF
								wjmrQyXEQw==
								</data>
								<key>Size</key>
								<integer>30550</integer>
							</dict>
							<key>files/stacks-image-fd80e70-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								P9IoQilnKHre
								9uJnIEuZyQ==
								</data>
								<key>Size</key>
								<integer>16724</integer>
							</dict>
							<key>files/stacks-image-fd80e70-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								WQvaJ6Io0mGf
								xEYRwFbB6Q==
								</data>
								<key>Size</key>
								<integer>25179</integer>
							</dict>
							<key>files/stacks_page_page101.css</key>
							<dict>
								<key>Digest</key>
								<data>
								eP3msuerr1ga
								6Bephc/QNA==
								</data>
								<key>Size</key>
								<integer>223909</integer>
							</dict>
							<key>files/stacks_page_page101.js</key>
							<dict>
								<key>Digest</key>
								<data>
								DyxmtWsuoQ7x
								7tB6T+SYuQ==
								</data>
								<key>Size</key>
								<integer>30601</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								96f/dgwzSS32
								yNK2rpkStg==
								</data>
								<key>Size</key>
								<integer>206844</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page101</string>
						<key>SiteRoot</key>
						<string>events/cnww/CNWW-Virtual/page-15</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
