<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page36</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Complex Networks Winter Workshop</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.0.3</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-11-20T14:29:28Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small_109886.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Yb+L/heiX6tP
								YliFF2auMA==
								</data>
								<key>Size</key>
								<integer>269913</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/stacks-image-076c5e3-1200x800.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ZjPQfWHhNWqA
								YVNuTf0Grw==
								</data>
								<key>Size</key>
								<integer>289677</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								C82d5dfws9q4
								DDOA2BFu1w==
								</data>
								<key>Size</key>
								<integer>35273</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								v/SijtX2gRco
								SwESRI9B4g==
								</data>
								<key>Size</key>
								<integer>68378</integer>
							</dict>
							<key>files/stacks-image-0dd0fd3-300x256.png</key>
							<dict>
								<key>Digest</key>
								<data>
								hJdXW8Fke8Bd
								p44ZHKSGOA==
								</data>
								<key>Size</key>
								<integer>68235</integer>
							</dict>
							<key>files/stacks-image-0dd0fd3-300x256@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								uPXK6QU7sDTC
								1m8aRu4ySA==
								</data>
								<key>Size</key>
								<integer>223270</integer>
							</dict>
							<key>files/stacks-image-10532b8-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								/MJOmcRAEtB1
								b59CueUYEQ==
								</data>
								<key>Size</key>
								<integer>97322</integer>
							</dict>
							<key>files/stacks-image-10532b8-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								+8TZpm/XAZ3G
								kCHZhXRsCQ==
								</data>
								<key>Size</key>
								<integer>320764</integer>
							</dict>
							<key>files/stacks-image-1aebfb5-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								GIMg2GjIGTIf
								NrJ6zB/Idw==
								</data>
								<key>Size</key>
								<integer>94369</integer>
							</dict>
							<key>files/stacks-image-1aebfb5-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								PvQDFFUiSyri
								9tOuNhG9Ug==
								</data>
								<key>Size</key>
								<integer>335685</integer>
							</dict>
							<key>files/stacks-image-238bd39-1200x800.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								JAJh+cX1oHF8
								oXUmvF1COA==
								</data>
								<key>Size</key>
								<integer>117009</integer>
							</dict>
							<key>files/stacks-image-3e863c5-1200x800.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ZA17o3KD8baV
								ZqZEpdDj1A==
								</data>
								<key>Size</key>
								<integer>204638</integer>
							</dict>
							<key>files/stacks-image-45fda98-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								gfmlJs8sHFCK
								GC2rixViBA==
								</data>
								<key>Size</key>
								<integer>105296</integer>
							</dict>
							<key>files/stacks-image-45fda98-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								2gyAxNgMDgnB
								SknidQhx7g==
								</data>
								<key>Size</key>
								<integer>401670</integer>
							</dict>
							<key>files/stacks-image-48ee80b-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								5mPElWICRCKo
								HLa3qjUAXA==
								</data>
								<key>Size</key>
								<integer>90659</integer>
							</dict>
							<key>files/stacks-image-48ee80b-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								s78jzIMpOKCM
								dIK+xqFoCA==
								</data>
								<key>Size</key>
								<integer>336917</integer>
							</dict>
							<key>files/stacks-image-5dab26b-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								W+QuN988hrg8
								ltA8GvYjhw==
								</data>
								<key>Size</key>
								<integer>74065</integer>
							</dict>
							<key>files/stacks-image-5dab26b-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zCScDzrHOlEM
								L1y19bhmrw==
								</data>
								<key>Size</key>
								<integer>238725</integer>
							</dict>
							<key>files/stacks-image-5e1ff49-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zj0Pfe90bxN3
								+aFec4Jj4A==
								</data>
								<key>Size</key>
								<integer>79112</integer>
							</dict>
							<key>files/stacks-image-6bca931-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ie2WxD5QhvOn
								mpuI/DL/yQ==
								</data>
								<key>Size</key>
								<integer>90471</integer>
							</dict>
							<key>files/stacks-image-779681d-1200x800.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								5eJqe1Qr90QF
								x1UlcSR51g==
								</data>
								<key>Size</key>
								<integer>154790</integer>
							</dict>
							<key>files/stacks-image-79c18a1-300x218.png</key>
							<dict>
								<key>Digest</key>
								<data>
								o5g4g+Rs8tCY
								zXKpfndT1w==
								</data>
								<key>Size</key>
								<integer>18405</integer>
							</dict>
							<key>files/stacks-image-79c18a1-300x218@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								NFCJgNARSz8C
								wZM/qwlryA==
								</data>
								<key>Size</key>
								<integer>40907</integer>
							</dict>
							<key>files/stacks-image-7ca5723-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								XWxpzQgQ96yY
								CKrAuhtXxw==
								</data>
								<key>Size</key>
								<integer>100741</integer>
							</dict>
							<key>files/stacks-image-7ca5723-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								rKlEPLzchZwt
								AzbgVBKxpw==
								</data>
								<key>Size</key>
								<integer>375084</integer>
							</dict>
							<key>files/stacks-image-86a3ab1-448x388.png</key>
							<dict>
								<key>Digest</key>
								<data>
								edp7odcL5Wem
								DW4fkYhgzQ==
								</data>
								<key>Size</key>
								<integer>91031</integer>
							</dict>
							<key>files/stacks-image-86a3ab1-448x388@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								d36FqKKbc6lG
								SDH1CVA2Dg==
								</data>
								<key>Size</key>
								<integer>217486</integer>
							</dict>
							<key>files/stacks-image-a2c2113-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Sh+1QzjJItJC
								4RwEIb+08Q==
								</data>
								<key>Size</key>
								<integer>81824</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								l/jholAihVDN
								ItGk0OiREg==
								</data>
								<key>Size</key>
								<integer>100747</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								pkyMF38YLsqJ
								SbfWoDadPg==
								</data>
								<key>Size</key>
								<integer>353247</integer>
							</dict>
							<key>files/stacks-image-cd71898-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								IOG4Q/3ekdoZ
								qBpkdiuJQg==
								</data>
								<key>Size</key>
								<integer>92701</integer>
							</dict>
							<key>files/stacks-image-d01a50c-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ep/fAkui7xLW
								Y7R0xyxV4g==
								</data>
								<key>Size</key>
								<integer>87438</integer>
							</dict>
							<key>files/stacks-image-d01a50c-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								QAF+kFOeiKnn
								LO3omLnLCA==
								</data>
								<key>Size</key>
								<integer>289281</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								IcJyU76V543g
								RUdnIXKzHw==
								</data>
								<key>Size</key>
								<integer>19481</integer>
							</dict>
							<key>files/stacks_page_page36.css</key>
							<dict>
								<key>Digest</key>
								<data>
								nhVVToSScJxj
								Osij/2IG7g==
								</data>
								<key>Size</key>
								<integer>160753</integer>
							</dict>
							<key>files/stacks_page_page36.js</key>
							<dict>
								<key>Digest</key>
								<data>
								0z9tK1Lpu/yG
								1LIkijPQrw==
								</data>
								<key>Size</key>
								<integer>23887</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								zWBMjwMy2hyx
								Jf1bXQsINw==
								</data>
								<key>Size</key>
								<integer>90236</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page36</string>
						<key>SiteRoot</key>
						<string>events/cnww</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>ChildPages</string>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
