<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Science of Stories</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page35</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Symposium - Science of Stories</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.2.2</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2022-02-24T19:46:38Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small-109623-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/small-109710-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JfxF8Omi0icK
								xIwohpIZqw==
								</data>
								<key>Size</key>
								<integer>77487</integer>
							</dict>
							<key>files/small-109714-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2NMhf1k+YDl
								uPpd6H1dBw==
								</data>
								<key>Size</key>
								<integer>15019</integer>
							</dict>
							<key>files/small-109735-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D2nm4R7babci
								2M5NjfUDZQ==
								</data>
								<key>Size</key>
								<integer>18925</integer>
							</dict>
							<key>files/small-109736-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgRiuB3NhhIh
								SwZTifI18g==
								</data>
								<key>Size</key>
								<integer>21987</integer>
							</dict>
							<key>files/small-109872.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Yb+L/heiX6tP
								YliFF2auMA==
								</data>
								<key>Size</key>
								<integer>269913</integer>
							</dict>
							<key>files/stacks-image-04756dc-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								dBT6gj83uFqK
								8MSAxdC7DA==
								</data>
								<key>Size</key>
								<integer>103558</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								nc/RlhmvGDDL
								K+SuTjMLPQ==
								</data>
								<key>Size</key>
								<integer>35262</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								tvAomUQyeND0
								vTpTZz/VVg==
								</data>
								<key>Size</key>
								<integer>68367</integer>
							</dict>
							<key>files/stacks-image-173d8dd-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								bB+jr2fMn+j9
								UHqWZUdh3g==
								</data>
								<key>Size</key>
								<integer>107234</integer>
							</dict>
							<key>files/stacks-image-19cb322-250x256.png</key>
							<dict>
								<key>Digest</key>
								<data>
								hAeeaDWvGqEs
								seEAMT8PyA==
								</data>
								<key>Size</key>
								<integer>98939</integer>
							</dict>
							<key>files/stacks-image-1aebfb5-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								b3BpjUocDX4D
								5fD8x4EwZA==
								</data>
								<key>Size</key>
								<integer>94358</integer>
							</dict>
							<key>files/stacks-image-1aebfb5-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								3TO+0PvRrdnc
								RrjqWm0TQg==
								</data>
								<key>Size</key>
								<integer>335674</integer>
							</dict>
							<key>files/stacks-image-1b7cfd7-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								FjcJVvWHz45l
								RQWU0WQahg==
								</data>
								<key>Size</key>
								<integer>83811</integer>
							</dict>
							<key>files/stacks-image-1cd049f-250x256.png</key>
							<dict>
								<key>Digest</key>
								<data>
								IeYwAbMuDDcr
								Lc7bLgpRzQ==
								</data>
								<key>Size</key>
								<integer>105998</integer>
							</dict>
							<key>files/stacks-image-22d1215-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								FjcJVvWHz45l
								RQWU0WQahg==
								</data>
								<key>Size</key>
								<integer>83811</integer>
							</dict>
							<key>files/stacks-image-3b3cfea-261x251.png</key>
							<dict>
								<key>Digest</key>
								<data>
								9oey5pztWEHH
								71ZfJjuLCw==
								</data>
								<key>Size</key>
								<integer>70285</integer>
							</dict>
							<key>files/stacks-image-40a568b-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								SgSEWN8CB55e
								0P+R+GNSNw==
								</data>
								<key>Size</key>
								<integer>93372</integer>
							</dict>
							<key>files/stacks-image-4935364-261x251.png</key>
							<dict>
								<key>Digest</key>
								<data>
								tI5JRPtE+ewD
								Ltpu6XuViQ==
								</data>
								<key>Size</key>
								<integer>126756</integer>
							</dict>
							<key>files/stacks-image-4935364-261x251@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								fUbCapjFuMdm
								KBJU0G1AUg==
								</data>
								<key>Size</key>
								<integer>462299</integer>
							</dict>
							<key>files/stacks-image-4df5cda.png</key>
							<dict>
								<key>Digest</key>
								<data>
								YgptBbFzQoqL
								rKiDtkMUPg==
								</data>
								<key>Size</key>
								<integer>107302</integer>
							</dict>
							<key>files/stacks-image-6efad1d-250x256.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JKhTzUVokrbr
								vIXeUjKtiQ==
								</data>
								<key>Size</key>
								<integer>117290</integer>
							</dict>
							<key>files/stacks-image-79e9ee7.png</key>
							<dict>
								<key>Digest</key>
								<data>
								chmdSR2cEweM
								Eplrb+Djnw==
								</data>
								<key>Size</key>
								<integer>94289</integer>
							</dict>
							<key>files/stacks-image-8364b1f-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								XCw0B6byfHd6
								kr+ehv4hlw==
								</data>
								<key>Size</key>
								<integer>82814</integer>
							</dict>
							<key>files/stacks-image-8364b1f-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								chwZVg2cAlOj
								3wya7bEFgg==
								</data>
								<key>Size</key>
								<integer>273958</integer>
							</dict>
							<key>files/stacks-image-8387376-251x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								xMwAgjtadDxe
								qrw7k00/Tg==
								</data>
								<key>Size</key>
								<integer>92317</integer>
							</dict>
							<key>files/stacks-image-8387376-251x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								9iNv8lIpUyAY
								AE32D5dB0A==
								</data>
								<key>Size</key>
								<integer>329293</integer>
							</dict>
							<key>files/stacks-image-9268316-254x307.png</key>
							<dict>
								<key>Digest</key>
								<data>
								XU2DaqWudv14
								Jr/GZlwNVg==
								</data>
								<key>Size</key>
								<integer>102429</integer>
							</dict>
							<key>files/stacks-image-9399623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								wR0JgUS1XI1O
								VhaAJs6dNw==
								</data>
								<key>Size</key>
								<integer>66878</integer>
							</dict>
							<key>files/stacks-image-95b64f0-259x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MtAA73H7fBj1
								xrjPHo2ywg==
								</data>
								<key>Size</key>
								<integer>108776</integer>
							</dict>
							<key>files/stacks-image-9b65a45-261x251.png</key>
							<dict>
								<key>Digest</key>
								<data>
								pR41x5sKL3e9
								CIfrtvdD2w==
								</data>
								<key>Size</key>
								<integer>101111</integer>
							</dict>
							<key>files/stacks-image-a4d3338-1200x800.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								IIOrzcr6PocD
								5iT9HYpLxg==
								</data>
								<key>Size</key>
								<integer>591318</integer>
							</dict>
							<key>files/stacks-image-b5d4a25-261x251.png</key>
							<dict>
								<key>Digest</key>
								<data>
								8rZPyqjxehHb
								4ZPXtXcggw==
								</data>
								<key>Size</key>
								<integer>103891</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x256.png</key>
							<dict>
								<key>Digest</key>
								<data>
								YpPkVKcvsH1a
								RhpNcI3+iw==
								</data>
								<key>Size</key>
								<integer>100603</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x256@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								1TZatfQu8udy
								5X+Y6dkzmQ==
								</data>
								<key>Size</key>
								<integer>352779</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								kM8brHhWmFXj
								zBtdFSdWFw==
								</data>
								<key>Size</key>
								<integer>100736</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								wAq9n9ojxy0+
								3TuDbzvtBw==
								</data>
								<key>Size</key>
								<integer>353236</integer>
							</dict>
							<key>files/stacks-image-c9f8f3e-300x168.png</key>
							<dict>
								<key>Digest</key>
								<data>
								LMrRjxIBzd36
								Gr1wyMt+Hg==
								</data>
								<key>Size</key>
								<integer>37231</integer>
							</dict>
							<key>files/stacks-image-e4ff3fb-250x72.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zbfapBNjbU7N
								Zn4h66Ucfg==
								</data>
								<key>Size</key>
								<integer>11295</integer>
							</dict>
							<key>files/stacks-image-e4ff3fb-250x72@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								dAe+AHhdg6Vb
								I3jml11wMQ==
								</data>
								<key>Size</key>
								<integer>25129</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Hwezk6t72J5g
								2awHy7YAqA==
								</data>
								<key>Size</key>
								<integer>19470</integer>
							</dict>
							<key>files/stacks-image-fedaa0e-259x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								rVmf8cJp4bky
								5b5PZ+dkdA==
								</data>
								<key>Size</key>
								<integer>106003</integer>
							</dict>
							<key>files/stacks-image-fedaa0e-261x251.png</key>
							<dict>
								<key>Digest</key>
								<data>
								lVjeQJFgBEa8
								on6vOyxIbw==
								</data>
								<key>Size</key>
								<integer>106271</integer>
							</dict>
							<key>files/stacks.css</key>
							<dict>
								<key>Digest</key>
								<data>
								wgmIAuepvJFg
								INqwDCfPXQ==
								</data>
								<key>Size</key>
								<integer>1879</integer>
							</dict>
							<key>files/stacks_page_page35.css</key>
							<dict>
								<key>Digest</key>
								<data>
								Fq06dbJ/zp93
								WDRht6we/w==
								</data>
								<key>Size</key>
								<integer>184821</integer>
							</dict>
							<key>files/stacks_page_page35.js</key>
							<dict>
								<key>Digest</key>
								<data>
								6sTBGsNrzwMr
								Id5G2Isohw==
								</data>
								<key>Size</key>
								<integer>27048</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								8aIknSAVaiXT
								4aho0bdXOA==
								</data>
								<key>Size</key>
								<integer>145500</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page35</string>
						<key>SiteRoot</key>
						<string>events/science-of-stories</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>ChildPages</string>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
