<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2015-03-05T07:51:46Z</date>
				<key>ID</key>
				<string>page90</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>PageSafe</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.0.4</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-03-21T19:07:02Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/stacks-image-8a60460.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Uzyn6DxD2pd4
								hxeiX3IEDA==
								</data>
								<key>Size</key>
								<integer>5548</integer>
							</dict>
							<key>files/stacks_in_267_page90_logout.php</key>
							<dict>
								<key>Digest</key>
								<data>
								enV+m+u+2iSX
								F3zl8ZKj3g==
								</data>
								<key>Size</key>
								<integer>182</integer>
							</dict>
							<key>files/stacks_in_267_page90_pagesafe.css</key>
							<dict>
								<key>Digest</key>
								<data>
								geiZD0FC/iLm
								EKMzIj9Mjg==
								</data>
								<key>Size</key>
								<integer>5668</integer>
							</dict>
							<key>files/stacks_in_267_page90_pagesafe.js</key>
							<dict>
								<key>Digest</key>
								<data>
								xGZIL7xtunNg
								vOzhNNjfyA==
								</data>
								<key>Size</key>
								<integer>212099</integer>
							</dict>
							<key>files/stacks_in_267_page90_pagesafe.php</key>
							<dict>
								<key>Digest</key>
								<data>
								6aZyFFCMCtrm
								MXhryBvFhg==
								</data>
								<key>Size</key>
								<integer>683</integer>
							</dict>
							<key>files/stacks_page_page90.css</key>
							<dict>
								<key>Digest</key>
								<data>
								aLMp2piT40CZ
								x9itXLnJQA==
								</data>
								<key>Size</key>
								<integer>1</integer>
							</dict>
							<key>files/stacks_page_page90.js</key>
							<dict>
								<key>Digest</key>
								<data>
								kJHHruyD5Ffo
								ln3IcSeBLg==
								</data>
								<key>Size</key>
								<integer>9534</integer>
							</dict>
							<key>files/stacks_page_page90.php</key>
							<dict>
								<key>Digest</key>
								<data>
								fL5jbTuHiQSj
								3alpSYk1ow==
								</data>
								<key>Size</key>
								<integer>20</integer>
							</dict>
							<key>index.php</key>
							<dict>
								<key>Digest</key>
								<data>
								VrE8dxzapgcm
								ll2ezwgipQ==
								</data>
								<key>Size</key>
								<integer>20266</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page90</string>
						<key>SiteRoot</key>
						<string>events/ALIFE-2020/Virtual/pagesafe</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
