<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Press</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:32Z</date>
				<key>ID</key>
				<string>page13</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>ARCHIVE_Press </string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.2.5</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2022-11-14T16:49:56Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small-109623-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/small-109710-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JfxF8Omi0icK
								xIwohpIZqw==
								</data>
								<key>Size</key>
								<integer>77487</integer>
							</dict>
							<key>files/small-109714-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2NMhf1k+YDl
								uPpd6H1dBw==
								</data>
								<key>Size</key>
								<integer>15019</integer>
							</dict>
							<key>files/small-109735-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D2nm4R7babci
								2M5NjfUDZQ==
								</data>
								<key>Size</key>
								<integer>18925</integer>
							</dict>
							<key>files/small-109736-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgRiuB3NhhIh
								SwZTifI18g==
								</data>
								<key>Size</key>
								<integer>21987</integer>
							</dict>
							<key>files/stacks-image-02561eb-150x92.png</key>
							<dict>
								<key>Digest</key>
								<data>
								i4soWuW0TIUq
								YiveZOYczw==
								</data>
								<key>Size</key>
								<integer>16465</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JV5ejNT3Y8/E
								W0wI16l5/Q==
								</data>
								<key>Size</key>
								<integer>35252</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Su+ZpJd1NY34
								s0J16tjsFg==
								</data>
								<key>Size</key>
								<integer>68409</integer>
							</dict>
							<key>files/stacks-image-0c9f04e-150x98.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZAsgcOvkEPFm
								VfWEFxEDJQ==
								</data>
								<key>Size</key>
								<integer>36500</integer>
							</dict>
							<key>files/stacks-image-0d315c7-126x150.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								xsbHa1P88cFN
								qd/hh6fIIg==
								</data>
								<key>Size</key>
								<integer>10859</integer>
							</dict>
							<key>files/stacks-image-20a9b85-148x112.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Mcak8n6hagzD
								rNiP5nMVRg==
								</data>
								<key>Size</key>
								<integer>21442</integer>
							</dict>
							<key>files/stacks-image-288a3eb-148x48.png</key>
							<dict>
								<key>Digest</key>
								<data>
								axl9fjPdtEtK
								OITb9rO/lQ==
								</data>
								<key>Size</key>
								<integer>7674</integer>
							</dict>
							<key>files/stacks-image-29f94dd-150x80.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D4yOG41Ah0Nj
								nsWTYxMnog==
								</data>
								<key>Size</key>
								<integer>10924</integer>
							</dict>
							<key>files/stacks-image-316f1d3-150x178.png</key>
							<dict>
								<key>Digest</key>
								<data>
								XfrBn1JXBKz/
								zlT7jacDWg==
								</data>
								<key>Size</key>
								<integer>40115</integer>
							</dict>
							<key>files/stacks-image-357371c-150x110.png</key>
							<dict>
								<key>Digest</key>
								<data>
								nGOPg+BT+FmT
								4sFlrICfHg==
								</data>
								<key>Size</key>
								<integer>21891</integer>
							</dict>
							<key>files/stacks-image-369360d-148x82.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								NqeJa0u5OXHk
								JEHI7NOL9w==
								</data>
								<key>Size</key>
								<integer>6218</integer>
							</dict>
							<key>files/stacks-image-3e5d1b9-148x84.png</key>
							<dict>
								<key>Digest</key>
								<data>
								yCmz67N9Kgjx
								QPXOJsqU6A==
								</data>
								<key>Size</key>
								<integer>30567</integer>
							</dict>
							<key>files/stacks-image-42e96b3-150x98.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								5sMcLMwu5eNf
								ogCQfpll+Q==
								</data>
								<key>Size</key>
								<integer>7849</integer>
							</dict>
							<key>files/stacks-image-4e29675-150x106.png</key>
							<dict>
								<key>Digest</key>
								<data>
								pAEw84G7JE0U
								xrah2v1Zvw==
								</data>
								<key>Size</key>
								<integer>36592</integer>
							</dict>
							<key>files/stacks-image-592e55b-1200x694.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								E3OlSi53y5bS
								4q0ftGMEHQ==
								</data>
								<key>Size</key>
								<integer>75588</integer>
							</dict>
							<key>files/stacks-image-5a7224a-150x110.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								HSSvv5bUbNmx
								t7fzeGY58A==
								</data>
								<key>Size</key>
								<integer>8636</integer>
							</dict>
							<key>files/stacks-image-5c81baf-150x126.png</key>
							<dict>
								<key>Digest</key>
								<data>
								+LFFjx822iZm
								q1zjSu/N/g==
								</data>
								<key>Size</key>
								<integer>25786</integer>
							</dict>
							<key>files/stacks-image-75b8789-150x52.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zQmuyH1K9uJT
								+4FPddKK2Q==
								</data>
								<key>Size</key>
								<integer>20538</integer>
							</dict>
							<key>files/stacks-image-78d12af-1200x900.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								TzfxX28PBYRv
								w22UaA1NDA==
								</data>
								<key>Size</key>
								<integer>145498</integer>
							</dict>
							<key>files/stacks-image-874cac4-150x70.png</key>
							<dict>
								<key>Digest</key>
								<data>
								GPAHPxZrnAY3
								usNexZKcHg==
								</data>
								<key>Size</key>
								<integer>10566</integer>
							</dict>
							<key>files/stacks-image-8bf4c8f.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Ydhuiv22wB72
								0oVB0jtaDQ==
								</data>
								<key>Size</key>
								<integer>30576</integer>
							</dict>
							<key>files/stacks-image-931e159.png</key>
							<dict>
								<key>Digest</key>
								<data>
								wHFdVZAtYDow
								YLyieElOOQ==
								</data>
								<key>Size</key>
								<integer>14603</integer>
							</dict>
							<key>files/stacks-image-ac0a62a-150x98.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								tq5ymBw+eVfo
								+Syyr+sjtg==
								</data>
								<key>Size</key>
								<integer>5772</integer>
							</dict>
							<key>files/stacks-image-bde58ff-150x74.png</key>
							<dict>
								<key>Digest</key>
								<data>
								kFUxAIvH+Ksl
								9kUXpaXFkg==
								</data>
								<key>Size</key>
								<integer>25392</integer>
							</dict>
							<key>files/stacks-image-bed233e-150x120.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								26kTH0v5qh4N
								9qP5CeEQnw==
								</data>
								<key>Size</key>
								<integer>8410</integer>
							</dict>
							<key>files/stacks-image-d1216db-150x112.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								8fDFFxisMkyX
								2+ywsHX+VQ==
								</data>
								<key>Size</key>
								<integer>6612</integer>
							</dict>
							<key>files/stacks-image-de46789-150x78.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								+GJv0pCiYxI2
								nAntHdgKUw==
								</data>
								<key>Size</key>
								<integer>9716</integer>
							</dict>
							<key>files/stacks-image-e0d0fba-150x84.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								J0hN366WVWDn
								OO7oswhvhQ==
								</data>
								<key>Size</key>
								<integer>8355</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								0LBTZh9Y4iZ6
								By0DZuC++A==
								</data>
								<key>Size</key>
								<integer>19463</integer>
							</dict>
							<key>files/stacks-image-fb374a3.png</key>
							<dict>
								<key>Digest</key>
								<data>
								fXbSEcsq1HUa
								n4kpmmayNA==
								</data>
								<key>Size</key>
								<integer>264699</integer>
							</dict>
							<key>files/stacks-image-fdb7bcb-1200x596.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Fuq/2IIAU+vY
								u/26ZXJsJw==
								</data>
								<key>Size</key>
								<integer>379805</integer>
							</dict>
							<key>files/stacks_page_page13.css</key>
							<dict>
								<key>Digest</key>
								<data>
								X6phoOJMlIeM
								2r3M6cUWGA==
								</data>
								<key>Size</key>
								<integer>122794</integer>
							</dict>
							<key>files/stacks_page_page13.js</key>
							<dict>
								<key>Digest</key>
								<data>
								6Kl0iemIu+qe
								MFk5mn5KDw==
								</data>
								<key>Size</key>
								<integer>24472</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								/1QvXVWdnjsP
								gtG4MIjVLg==
								</data>
								<key>Size</key>
								<integer>73745</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page13</string>
						<key>SiteRoot</key>
						<string>Research/archive_press</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
