<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page48</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Details</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.5.9</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2018-05-02T21:56:44Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/pin.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								xcy6OK5dO/8V
								xnwWql1CCA==
								</data>
								<key>Size</key>
								<integer>3950</integer>
							</dict>
							<key>files/small_109809.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ICYi4Z+nlMU5
								ZJ5jWAVsyg==
								</data>
								<key>Size</key>
								<integer>170336</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZFHf9zniv4SK
								z9ywIWAR7Q==
								</data>
								<key>Size</key>
								<integer>124861</integer>
							</dict>
							<key>files/small_p60311_n109628.png</key>
							<dict>
								<key>Digest</key>
								<data>
								pcpK3KZBcBVd
								Ns6QdrLpNA==
								</data>
								<key>Size</key>
								<integer>68548</integer>
							</dict>
							<key>files/stacks-image-1aebfb5-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Er/+pE7hNNIn
								W7FQzXekEQ==
								</data>
								<key>Size</key>
								<integer>94699</integer>
							</dict>
							<key>files/stacks-image-1aebfb5-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								5xACEUvkvEwz
								VJnG6F3YxQ==
								</data>
								<key>Size</key>
								<integer>337058</integer>
							</dict>
							<key>files/stacks-image-1cd049f-250x256.png</key>
							<dict>
								<key>Digest</key>
								<data>
								jDouJEb5UOgP
								r0dDWJlwxQ==
								</data>
								<key>Size</key>
								<integer>105930</integer>
							</dict>
							<key>files/stacks-image-3edeb52-98x98.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								uIa+ZpRMODfY
								8L1symw+qA==
								</data>
								<key>Size</key>
								<integer>6246</integer>
							</dict>
							<key>files/stacks-image-3edeb52-98x98@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								oL3dMLrPIItY
								AkFFEoSKHQ==
								</data>
								<key>Size</key>
								<integer>7818</integer>
							</dict>
							<key>files/stacks-image-4935364-261x251.png</key>
							<dict>
								<key>Digest</key>
								<data>
								pUhB5Fqnu3YS
								YA9dT+6AqA==
								</data>
								<key>Size</key>
								<integer>126611</integer>
							</dict>
							<key>files/stacks-image-4935364-261x251@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								qhWr5oOEZqif
								DGH4sagTCw==
								</data>
								<key>Size</key>
								<integer>462108</integer>
							</dict>
							<key>files/stacks-image-6accef7-150x150.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zQ3j5jKmuA/V
								ClPgdCi34g==
								</data>
								<key>Size</key>
								<integer>20204</integer>
							</dict>
							<key>files/stacks-image-6accef7-150x150@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								xDB+Q1jIIwjJ
								DQuNfSyDBA==
								</data>
								<key>Size</key>
								<integer>64767</integer>
							</dict>
							<key>files/stacks-image-73fdc2e-98x150.png</key>
							<dict>
								<key>Digest</key>
								<data>
								SdC49IhJ3JHE
								zutzsmftPQ==
								</data>
								<key>Size</key>
								<integer>12547</integer>
							</dict>
							<key>files/stacks-image-810c5f5-98x98.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								uIa+ZpRMODfY
								8L1symw+qA==
								</data>
								<key>Size</key>
								<integer>6246</integer>
							</dict>
							<key>files/stacks-image-810c5f5-98x98@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								oL3dMLrPIItY
								AkFFEoSKHQ==
								</data>
								<key>Size</key>
								<integer>7818</integer>
							</dict>
							<key>files/stacks-image-8364b1f-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								54Pi3j6G6/2E
								lZMvrz7LCQ==
								</data>
								<key>Size</key>
								<integer>82434</integer>
							</dict>
							<key>files/stacks-image-8364b1f-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								jkc9i4T4u9l6
								TAQpPAe0oA==
								</data>
								<key>Size</key>
								<integer>279051</integer>
							</dict>
							<key>files/stacks-image-86b04b6-296x300.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ulRvSuax0xFi
								j1R3/SUVbQ==
								</data>
								<key>Size</key>
								<integer>83792</integer>
							</dict>
							<key>files/stacks-image-9268316-254x307.png</key>
							<dict>
								<key>Digest</key>
								<data>
								OWHKVNVR8avk
								Gw89ZYMSgA==
								</data>
								<key>Size</key>
								<integer>102415</integer>
							</dict>
							<key>files/stacks-image-a4d3338-1198x798.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								3YW7fsJffz3y
								xSIicOAdcA==
								</data>
								<key>Size</key>
								<integer>553274</integer>
							</dict>
							<key>files/stacks-image-b2e3b8a-98x98.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								uIa+ZpRMODfY
								8L1symw+qA==
								</data>
								<key>Size</key>
								<integer>6246</integer>
							</dict>
							<key>files/stacks-image-b2e3b8a-98x98@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								oL3dMLrPIItY
								AkFFEoSKHQ==
								</data>
								<key>Size</key>
								<integer>7818</integer>
							</dict>
							<key>files/stacks-image-b5d4a25-261x251.png</key>
							<dict>
								<key>Digest</key>
								<data>
								X4LIM0pJmROb
								OoK7OiXgTw==
								</data>
								<key>Size</key>
								<integer>103555</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								kIzXf5nC37dU
								ED0RuUkYDQ==
								</data>
								<key>Size</key>
								<integer>101485</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Y9RpQKxhcjiN
								udjjwCufbQ==
								</data>
								<key>Size</key>
								<integer>354232</integer>
							</dict>
							<key>files/stacks-image-faf7292-250x374.png</key>
							<dict>
								<key>Digest</key>
								<data>
								NNBt6Bo0YD+W
								OAAFcd+YGA==
								</data>
								<key>Size</key>
								<integer>97449</integer>
							</dict>
							<key>files/stacks-image-fedaa0e-259x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								1sfNyWCKk+No
								N6Tc6an/Wg==
								</data>
								<key>Size</key>
								<integer>105876</integer>
							</dict>
							<key>files/stacks_page_page48.css</key>
							<dict>
								<key>Digest</key>
								<data>
								tempKJxfkyYs
								sTLQ20zGTw==
								</data>
								<key>Size</key>
								<integer>186804</integer>
							</dict>
							<key>files/stacks_page_page48.js</key>
							<dict>
								<key>Digest</key>
								<data>
								cEPgkHmFclIt
								U2sH3Rg7fA==
								</data>
								<key>Size</key>
								<integer>31970</integer>
							</dict>
							<key>files/stacks_page_page48.php</key>
							<dict>
								<key>Digest</key>
								<data>
								asS6houAG3U0
								vky2WZQZ8A==
								</data>
								<key>Size</key>
								<integer>922</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								PsBGqna5q7im
								DtgXmfmXag==
								</data>
								<key>Size</key>
								<integer>102765</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page48</string>
						<key>SiteRoot</key>
						<string>events/science-of-stories/details</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
