<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page48</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Details</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.6.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2018-07-17T19:16:25Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/backgroundImage_110442.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								uSoquum6mCty
								uIn2fhh+hw==
								</data>
								<key>Size</key>
								<integer>571092</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZFHf9zniv4SK
								z9ywIWAR7Q==
								</data>
								<key>Size</key>
								<integer>124861</integer>
							</dict>
							<key>files/small_p60311_n109628.png</key>
							<dict>
								<key>Digest</key>
								<data>
								pcpK3KZBcBVd
								Ns6QdrLpNA==
								</data>
								<key>Size</key>
								<integer>68548</integer>
							</dict>
							<key>files/stacks-image-1aebfb5-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Y4lgVTf8Gkkk
								8EHuVP0Cmw==
								</data>
								<key>Size</key>
								<integer>94687</integer>
							</dict>
							<key>files/stacks-image-1aebfb5-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								L89c/ljUrVh4
								r2rgzOjFhw==
								</data>
								<key>Size</key>
								<integer>337046</integer>
							</dict>
							<key>files/stacks-image-1cd049f-250x256.png</key>
							<dict>
								<key>Digest</key>
								<data>
								KYjWU4n4Fd2k
								AoJaQWoioQ==
								</data>
								<key>Size</key>
								<integer>105918</integer>
							</dict>
							<key>files/stacks-image-22d1215-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								V3IbWWl3JOsc
								xD+1ev9Ukg==
								</data>
								<key>Size</key>
								<integer>83784</integer>
							</dict>
							<key>files/stacks-image-3edeb52-98x98.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								uIa+ZpRMODfY
								8L1symw+qA==
								</data>
								<key>Size</key>
								<integer>6246</integer>
							</dict>
							<key>files/stacks-image-3edeb52-98x98@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								oL3dMLrPIItY
								AkFFEoSKHQ==
								</data>
								<key>Size</key>
								<integer>7818</integer>
							</dict>
							<key>files/stacks-image-4935364-261x251.png</key>
							<dict>
								<key>Digest</key>
								<data>
								h86nWD8isiw4
								5W/HSehlMw==
								</data>
								<key>Size</key>
								<integer>126599</integer>
							</dict>
							<key>files/stacks-image-4935364-261x251@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								5MNxG52rxo47
								fAl1teNWPQ==
								</data>
								<key>Size</key>
								<integer>462096</integer>
							</dict>
							<key>files/stacks-image-6accef7-150x150.png</key>
							<dict>
								<key>Digest</key>
								<data>
								dOnpRa1sC7oP
								tpMA1dWfIg==
								</data>
								<key>Size</key>
								<integer>20192</integer>
							</dict>
							<key>files/stacks-image-6accef7-150x150@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								U3ErkD2T95mG
								E8hAgPJO6w==
								</data>
								<key>Size</key>
								<integer>64755</integer>
							</dict>
							<key>files/stacks-image-73fdc2e-98x150.png</key>
							<dict>
								<key>Digest</key>
								<data>
								puf8IgV3ZVSP
								HN7YynCLTg==
								</data>
								<key>Size</key>
								<integer>12535</integer>
							</dict>
							<key>files/stacks-image-810c5f5-98x98.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								uIa+ZpRMODfY
								8L1symw+qA==
								</data>
								<key>Size</key>
								<integer>6246</integer>
							</dict>
							<key>files/stacks-image-810c5f5-98x98@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								oL3dMLrPIItY
								AkFFEoSKHQ==
								</data>
								<key>Size</key>
								<integer>7818</integer>
							</dict>
							<key>files/stacks-image-8364b1f-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								VTNuN612V1GJ
								qoz67hsz/w==
								</data>
								<key>Size</key>
								<integer>82422</integer>
							</dict>
							<key>files/stacks-image-8364b1f-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Gx8aA3FxM3FU
								IW8ctwO33w==
								</data>
								<key>Size</key>
								<integer>279039</integer>
							</dict>
							<key>files/stacks-image-86b04b6-296x300.png</key>
							<dict>
								<key>Digest</key>
								<data>
								HBR/kcouY7Kf
								dNpwYWNsnw==
								</data>
								<key>Size</key>
								<integer>83780</integer>
							</dict>
							<key>files/stacks-image-9268316-254x307.png</key>
							<dict>
								<key>Digest</key>
								<data>
								GDhBV23tyrLp
								dkQTCK5NIA==
								</data>
								<key>Size</key>
								<integer>102403</integer>
							</dict>
							<key>files/stacks-image-95b64f0-259x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								lPxIqHNQbutL
								tnX3WJLdBw==
								</data>
								<key>Size</key>
								<integer>108714</integer>
							</dict>
							<key>files/stacks-image-a4d3338-974x648.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								lB1mh9fpr2ck
								Bq1LxBxRjg==
								</data>
								<key>Size</key>
								<integer>393696</integer>
							</dict>
							<key>files/stacks-image-a4d3338-974x648@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ZxrLMGpf77Sn
								PefUI19lpw==
								</data>
								<key>Size</key>
								<integer>784860</integer>
							</dict>
							<key>files/stacks-image-b2e3b8a-98x98.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								uIa+ZpRMODfY
								8L1symw+qA==
								</data>
								<key>Size</key>
								<integer>6246</integer>
							</dict>
							<key>files/stacks-image-b2e3b8a-98x98@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								oL3dMLrPIItY
								AkFFEoSKHQ==
								</data>
								<key>Size</key>
								<integer>7818</integer>
							</dict>
							<key>files/stacks-image-b5d4a25-261x251.png</key>
							<dict>
								<key>Digest</key>
								<data>
								wFkMRy2/WKvo
								H9dKvYDhIw==
								</data>
								<key>Size</key>
								<integer>103543</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								C3kyqHbDXSkW
								b0WbC+z9lg==
								</data>
								<key>Size</key>
								<integer>101473</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								6F7wC5wlt+mG
								L9Fb1aUjiA==
								</data>
								<key>Size</key>
								<integer>354220</integer>
							</dict>
							<key>files/stacks-image-faf7292-250x374.png</key>
							<dict>
								<key>Digest</key>
								<data>
								dsVM/TdGt3v6
								h0Y0rzhpxw==
								</data>
								<key>Size</key>
								<integer>97437</integer>
							</dict>
							<key>files/stacks-image-fedaa0e-259x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								EaMUSAnlrNRX
								wiyc8Ef80Q==
								</data>
								<key>Size</key>
								<integer>105864</integer>
							</dict>
							<key>files/stacks_page_page48.css</key>
							<dict>
								<key>Digest</key>
								<data>
								ymNSETjJ5aJz
								RrHcCkp3NA==
								</data>
								<key>Size</key>
								<integer>159741</integer>
							</dict>
							<key>files/stacks_page_page48.js</key>
							<dict>
								<key>Digest</key>
								<data>
								kmID2yPgzp5q
								qaodaoRZjg==
								</data>
								<key>Size</key>
								<integer>24531</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								NPXTDebOmX0p
								FJDQkXqqbA==
								</data>
								<key>Size</key>
								<integer>110711</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page48</string>
						<key>SiteRoot</key>
						<string>events/science-of-stories/details</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
