<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict/>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>01-ALife-Logistics</string>
				<string>02-ALife-Registration</string>
				<string>03-ALife-Schedule</string>
				<string>04-Virtual-ALife</string>
				<string>05-ALife-Satellites</string>
				<string>06-ALife-Calls</string>
				<string>07-ALife-Speakers</string>
				<string>08-ALife-Sponsors</string>
				<string>09-ALife-Organizers</string>
				<string>10-skratch</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Pages</string>
</dict>
</plist>
