<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page49</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Details</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.2.2</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2021-10-27T21:36:45Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small-109623-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/small-109710-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JfxF8Omi0icK
								xIwohpIZqw==
								</data>
								<key>Size</key>
								<integer>77487</integer>
							</dict>
							<key>files/small-109714-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2NMhf1k+YDl
								uPpd6H1dBw==
								</data>
								<key>Size</key>
								<integer>15019</integer>
							</dict>
							<key>files/small-109735-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D2nm4R7babci
								2M5NjfUDZQ==
								</data>
								<key>Size</key>
								<integer>18925</integer>
							</dict>
							<key>files/small-109736-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgRiuB3NhhIh
								SwZTifI18g==
								</data>
								<key>Size</key>
								<integer>21987</integer>
							</dict>
							<key>files/small-109872.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Yb+L/heiX6tP
								YliFF2auMA==
								</data>
								<key>Size</key>
								<integer>269913</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								nc/RlhmvGDDL
								K+SuTjMLPQ==
								</data>
								<key>Size</key>
								<integer>35262</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								tvAomUQyeND0
								vTpTZz/VVg==
								</data>
								<key>Size</key>
								<integer>68367</integer>
							</dict>
							<key>files/stacks-image-10532b8-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								VARK4nOxOQ7J
								tehwcBrU9A==
								</data>
								<key>Size</key>
								<integer>96264</integer>
							</dict>
							<key>files/stacks-image-10532b8-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								lT1ctkQxxq+E
								x3Oct/k+SA==
								</data>
								<key>Size</key>
								<integer>320519</integer>
							</dict>
							<key>files/stacks-image-1aebfb5-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								b3BpjUocDX4D
								5fD8x4EwZA==
								</data>
								<key>Size</key>
								<integer>94358</integer>
							</dict>
							<key>files/stacks-image-1aebfb5-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								3TO+0PvRrdnc
								RrjqWm0TQg==
								</data>
								<key>Size</key>
								<integer>335674</integer>
							</dict>
							<key>files/stacks-image-1e491bc-300x256.png</key>
							<dict>
								<key>Digest</key>
								<data>
								1iN9tPYAG0pP
								9Z9Xkng3nA==
								</data>
								<key>Size</key>
								<integer>68224</integer>
							</dict>
							<key>files/stacks-image-1e491bc-300x256@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								pihshD5Q0+VJ
								p+uh53WUbw==
								</data>
								<key>Size</key>
								<integer>223259</integer>
							</dict>
							<key>files/stacks-image-2085074-350x375.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								OvV/dBCXsj69
								n0+TlxbusA==
								</data>
								<key>Size</key>
								<integer>22206</integer>
							</dict>
							<key>files/stacks-image-3dfae34-300x218.png</key>
							<dict>
								<key>Digest</key>
								<data>
								/sjIpoYC5uRJ
								A6gDNwZ4lA==
								</data>
								<key>Size</key>
								<integer>18394</integer>
							</dict>
							<key>files/stacks-image-3dfae34-300x218@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								V9QUkAIV9jW3
								vjDBuajVow==
								</data>
								<key>Size</key>
								<integer>40896</integer>
							</dict>
							<key>files/stacks-image-45fda98-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								yKb0Kwj0QfXn
								3DAdS2KKXw==
								</data>
								<key>Size</key>
								<integer>106930</integer>
							</dict>
							<key>files/stacks-image-45fda98-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								aY3U7XkvKWvb
								kbo4ig3S4Q==
								</data>
								<key>Size</key>
								<integer>404521</integer>
							</dict>
							<key>files/stacks-image-48ee80b-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZEvLQ4F2nCA9
								6OXF2XntaA==
								</data>
								<key>Size</key>
								<integer>90749</integer>
							</dict>
							<key>files/stacks-image-48ee80b-250x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								QhNDgLg120um
								1i6N6VJF0A==
								</data>
								<key>Size</key>
								<integer>327640</integer>
							</dict>
							<key>files/stacks-image-5dab26b-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								5jwoJYftCUKO
								brDA7IlicQ==
								</data>
								<key>Size</key>
								<integer>74054</integer>
							</dict>
							<key>files/stacks-image-5dab26b-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								L862Q8Bt+PtS
								hshHELnKYQ==
								</data>
								<key>Size</key>
								<integer>238714</integer>
							</dict>
							<key>files/stacks-image-5e1ff49-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								aGMvKznDCbc6
								ib4lQCY3SA==
								</data>
								<key>Size</key>
								<integer>79101</integer>
							</dict>
							<key>files/stacks-image-7ca5723-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								m9PCxOGHlzse
								tRMxSoOTjw==
								</data>
								<key>Size</key>
								<integer>100730</integer>
							</dict>
							<key>files/stacks-image-7ca5723-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								0f3W29CFoNcp
								ljY47Mwvzg==
								</data>
								<key>Size</key>
								<integer>375073</integer>
							</dict>
							<key>files/stacks-image-8d17e59-450x388.png</key>
							<dict>
								<key>Digest</key>
								<data>
								+xBTG5wEaej0
								MEHW9G23uQ==
								</data>
								<key>Size</key>
								<integer>87310</integer>
							</dict>
							<key>files/stacks-image-8d17e59-450x388@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								U9FqguYIr0J5
								/z8k+5d5Sw==
								</data>
								<key>Size</key>
								<integer>239997</integer>
							</dict>
							<key>files/stacks-image-95da015-150x96.png</key>
							<dict>
								<key>Digest</key>
								<data>
								/6A7aLluGcKF
								rpkbKRFpeA==
								</data>
								<key>Size</key>
								<integer>15557</integer>
							</dict>
							<key>files/stacks-image-a2c2113-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								5BQMpKM6ciuE
								M9yWNUqwqA==
								</data>
								<key>Size</key>
								<integer>81805</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								kM8brHhWmFXj
								zBtdFSdWFw==
								</data>
								<key>Size</key>
								<integer>100736</integer>
							</dict>
							<key>files/stacks-image-bcdb310-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								wAq9n9ojxy0+
								3TuDbzvtBw==
								</data>
								<key>Size</key>
								<integer>353236</integer>
							</dict>
							<key>files/stacks-image-c1d16d3-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								PgB3sZ8Lu6Iy
								5491jn3xtA==
								</data>
								<key>Size</key>
								<integer>72895</integer>
							</dict>
							<key>files/stacks-image-c1d16d3-250x260@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								/aH15oruxvzK
								nGHHq4bM8w==
								</data>
								<key>Size</key>
								<integer>262786</integer>
							</dict>
							<key>files/stacks-image-cd71898-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								GFCqsOk2On0Z
								wIVluYv/TQ==
								</data>
								<key>Size</key>
								<integer>94001</integer>
							</dict>
							<key>files/stacks-image-d36e992-250x322.png</key>
							<dict>
								<key>Digest</key>
								<data>
								NQFmXygJyMTP
								2x2oyy8tTg==
								</data>
								<key>Size</key>
								<integer>125547</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Hwezk6t72J5g
								2awHy7YAqA==
								</data>
								<key>Size</key>
								<integer>19470</integer>
							</dict>
							<key>files/stacks-image-fa80dc2-250x260.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B/TRO3fW6Cnj
								nB65SyJdyg==
								</data>
								<key>Size</key>
								<integer>101541</integer>
							</dict>
							<key>files/stacks-image-faf7292-250x374.png</key>
							<dict>
								<key>Digest</key>
								<data>
								1NMs0CmasizJ
								M+LmkQtE1Q==
								</data>
								<key>Size</key>
								<integer>97599</integer>
							</dict>
							<key>files/stacks-image-fecc660-98x150.png</key>
							<dict>
								<key>Digest</key>
								<data>
								E6W+CR/NnDIi
								zIS/T/XN4g==
								</data>
								<key>Size</key>
								<integer>12653</integer>
							</dict>
							<key>files/stacks_page_page49.css</key>
							<dict>
								<key>Digest</key>
								<data>
								FvDKSQztYsKf
								18jZVPULLA==
								</data>
								<key>Size</key>
								<integer>184235</integer>
							</dict>
							<key>files/stacks_page_page49.js</key>
							<dict>
								<key>Digest</key>
								<data>
								6Kl0iemIu+qe
								MFk5mn5KDw==
								</data>
								<key>Size</key>
								<integer>24472</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								Ms2Ed1d17Gko
								SP9LwYjacQ==
								</data>
								<key>Size</key>
								<integer>133741</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page49</string>
						<key>SiteRoot</key>
						<string>events/cnww/deets</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
