<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>NetSci Sponsors</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page59</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>NetSci Sponsors</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.2.5</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2022-08-24T20:42:00Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/D289564D-C2D0-4B94-AA16-FC8C366062A7.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								GQHOUzuyjCs9
								Jfbg60A9OQ==
								</data>
								<key>Size</key>
								<integer>700318</integer>
							</dict>
							<key>files/small-109623-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/small-109710-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JfxF8Omi0icK
								xIwohpIZqw==
								</data>
								<key>Size</key>
								<integer>77487</integer>
							</dict>
							<key>files/small-109714-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2NMhf1k+YDl
								uPpd6H1dBw==
								</data>
								<key>Size</key>
								<integer>15019</integer>
							</dict>
							<key>files/small-109735-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D2nm4R7babci
								2M5NjfUDZQ==
								</data>
								<key>Size</key>
								<integer>18925</integer>
							</dict>
							<key>files/small-109736-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgRiuB3NhhIh
								SwZTifI18g==
								</data>
								<key>Size</key>
								<integer>21987</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								nc/RlhmvGDDL
								K+SuTjMLPQ==
								</data>
								<key>Size</key>
								<integer>35262</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								tvAomUQyeND0
								vTpTZz/VVg==
								</data>
								<key>Size</key>
								<integer>68367</integer>
							</dict>
							<key>files/stacks-image-0c6cc01-1200x338.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ePQDjpIyDeRR
								5oqWDvoR8g==
								</data>
								<key>Size</key>
								<integer>70893</integer>
							</dict>
							<key>files/stacks-image-24a3404-500x224.png</key>
							<dict>
								<key>Digest</key>
								<data>
								us5VgZ4rA2Ez
								HHXMsIGfyA==
								</data>
								<key>Size</key>
								<integer>12758</integer>
							</dict>
							<key>files/stacks-image-2968668-150x150.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Ghv6uyn/SpIw
								1X43l54SCg==
								</data>
								<key>Size</key>
								<integer>11834</integer>
							</dict>
							<key>files/stacks-image-2968668-150x150@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								pzlmDmbSznmb
								tPL96cHoqw==
								</data>
								<key>Size</key>
								<integer>34962</integer>
							</dict>
							<key>files/stacks-image-34e7445-250x104.png</key>
							<dict>
								<key>Digest</key>
								<data>
								LGEwQaKuP4gh
								uLDssjI+gw==
								</data>
								<key>Size</key>
								<integer>15140</integer>
							</dict>
							<key>files/stacks-image-34e7445-250x104@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								QaeHdPGK519M
								ZJ2gk1FN7g==
								</data>
								<key>Size</key>
								<integer>36856</integer>
							</dict>
							<key>files/stacks-image-4d3140c.png</key>
							<dict>
								<key>Digest</key>
								<data>
								RVKY4j0x222n
								9kDcJ0uiQQ==
								</data>
								<key>Size</key>
								<integer>18064</integer>
							</dict>
							<key>files/stacks-image-50350b4.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								rif/KOhWt5Q/
								un8+gKHJKg==
								</data>
								<key>Size</key>
								<integer>33671</integer>
							</dict>
							<key>files/stacks-image-61fe2fb-150x138.png</key>
							<dict>
								<key>Digest</key>
								<data>
								AfXfjKKOCFI8
								Yhks3xucCw==
								</data>
								<key>Size</key>
								<integer>6543</integer>
							</dict>
							<key>files/stacks-image-61fe2fb-150x138@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								KxEoiKwHLf02
								Vh0qs5m+eQ==
								</data>
								<key>Size</key>
								<integer>18171</integer>
							</dict>
							<key>files/stacks-image-6a88b68.png</key>
							<dict>
								<key>Digest</key>
								<data>
								eDsLKAvYnEp1
								hSTDGVejlg==
								</data>
								<key>Size</key>
								<integer>15296</integer>
							</dict>
							<key>files/stacks-image-6fb48dc-1200x488.png</key>
							<dict>
								<key>Digest</key>
								<data>
								bl1GIjKh70GY
								JYM1e/UhGw==
								</data>
								<key>Size</key>
								<integer>107335</integer>
							</dict>
							<key>files/stacks-image-7d9976e-150x128.png</key>
							<dict>
								<key>Digest</key>
								<data>
								1DR7IRo3barq
								va7NOPeQBQ==
								</data>
								<key>Size</key>
								<integer>20691</integer>
							</dict>
							<key>files/stacks-image-7d9976e-150x128@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								cv8a5eBW2Qfv
								5iIP+EUhUg==
								</data>
								<key>Size</key>
								<integer>63548</integer>
							</dict>
							<key>files/stacks-image-7e48fa7-148x150.png</key>
							<dict>
								<key>Digest</key>
								<data>
								xnYzzEBWOtp2
								V6LvDladSg==
								</data>
								<key>Size</key>
								<integer>25738</integer>
							</dict>
							<key>files/stacks-image-7e48fa7-148x150@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								vkQ41VZMhsFS
								q3+j5F9CzQ==
								</data>
								<key>Size</key>
								<integer>83650</integer>
							</dict>
							<key>files/stacks-image-7ef88b0-300x62.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								AROKU25vrJVs
								hwk4aPKUKQ==
								</data>
								<key>Size</key>
								<integer>9658</integer>
							</dict>
							<key>files/stacks-image-805fb33.png</key>
							<dict>
								<key>Digest</key>
								<data>
								wmr3y64p1dLv
								Ha2AV71VQQ==
								</data>
								<key>Size</key>
								<integer>2522</integer>
							</dict>
							<key>files/stacks-image-8e88332-100x104.png</key>
							<dict>
								<key>Digest</key>
								<data>
								yBrCm2XE2E8Y
								/He7kaTSIg==
								</data>
								<key>Size</key>
								<integer>15331</integer>
							</dict>
							<key>files/stacks-image-8e88332-100x104@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								I46SaVhnAiPe
								7pI6lQXVoA==
								</data>
								<key>Size</key>
								<integer>50194</integer>
							</dict>
							<key>files/stacks-image-a3bad70-200x170.png</key>
							<dict>
								<key>Digest</key>
								<data>
								P7nWqzx4nGXL
								+QrwboUFkA==
								</data>
								<key>Size</key>
								<integer>36017</integer>
							</dict>
							<key>files/stacks-image-a3bad70-200x170@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JehUs9lpSPqy
								KfXES7/yfg==
								</data>
								<key>Size</key>
								<integer>111936</integer>
							</dict>
							<key>files/stacks-image-aaee00a.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								obaKPfrSEyni
								lRN+PF0aGA==
								</data>
								<key>Size</key>
								<integer>37226</integer>
							</dict>
							<key>files/stacks-image-b30865a.png</key>
							<dict>
								<key>Digest</key>
								<data>
								LVN6rbV2QdyG
								lVx/4pD8cA==
								</data>
								<key>Size</key>
								<integer>34508</integer>
							</dict>
							<key>files/stacks-image-cc75d0b-150x138.png</key>
							<dict>
								<key>Digest</key>
								<data>
								WxKCQk+l4Ywz
								VRcaI5efhg==
								</data>
								<key>Size</key>
								<integer>21588</integer>
							</dict>
							<key>files/stacks-image-cc75d0b-150x138@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								i3qA50UZMfHh
								LyxaT8m9KQ==
								</data>
								<key>Size</key>
								<integer>67321</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Hwezk6t72J5g
								2awHy7YAqA==
								</data>
								<key>Size</key>
								<integer>19470</integer>
							</dict>
							<key>files/stacks-image-eaa7bd3-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								5aTbscTX9oIH
								Bp8k8mBcfg==
								</data>
								<key>Size</key>
								<integer>74960</integer>
							</dict>
							<key>files/stacks-image-eaa7bd3-200x200@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								UBGUsoSl1OU8
								Vissm9kIBw==
								</data>
								<key>Size</key>
								<integer>265380</integer>
							</dict>
							<key>files/stacks-image-f332e12.png</key>
							<dict>
								<key>Digest</key>
								<data>
								rzfTtx6ywXOR
								Yn29hLGKig==
								</data>
								<key>Size</key>
								<integer>8378</integer>
							</dict>
							<key>files/stacks-image-f5f8092.png</key>
							<dict>
								<key>Digest</key>
								<data>
								7+0xcCXOk8Sr
								rTDuJ+BbLg==
								</data>
								<key>Size</key>
								<integer>12393</integer>
							</dict>
							<key>files/stacks-image-f793485-1200x360.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								IRBs/lG1vf71
								7M4ZU+zatA==
								</data>
								<key>Size</key>
								<integer>60218</integer>
							</dict>
							<key>files/stacks-image-fd0e8b0-250x56.png</key>
							<dict>
								<key>Digest</key>
								<data>
								3YBLoVMRg7bD
								e2A2MwKf1w==
								</data>
								<key>Size</key>
								<integer>15807</integer>
							</dict>
							<key>files/stacks_page_page59.css</key>
							<dict>
								<key>Digest</key>
								<data>
								s1vHWz3T9NJ5
								xsvmPBoubg==
								</data>
								<key>Size</key>
								<integer>145542</integer>
							</dict>
							<key>files/stacks_page_page59.js</key>
							<dict>
								<key>Digest</key>
								<data>
								QgPw2AyfXaXI
								tLmfU8gsCA==
								</data>
								<key>Size</key>
								<integer>24846</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								xGbGB7koMmY5
								hLSK6zykyw==
								</data>
								<key>Size</key>
								<integer>82981</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page59</string>
						<key>SiteRoot</key>
						<string>events/netsci/sponsors</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
