<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Students</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page89</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Students </string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.3.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2024-01-26T21:03:20Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small-109623-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/small-109710-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JfxF8Omi0icK
								xIwohpIZqw==
								</data>
								<key>Size</key>
								<integer>77487</integer>
							</dict>
							<key>files/small-109714-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2NMhf1k+YDl
								uPpd6H1dBw==
								</data>
								<key>Size</key>
								<integer>15019</integer>
							</dict>
							<key>files/small-109735-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D2nm4R7babci
								2M5NjfUDZQ==
								</data>
								<key>Size</key>
								<integer>18925</integer>
							</dict>
							<key>files/small-109736-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgRiuB3NhhIh
								SwZTifI18g==
								</data>
								<key>Size</key>
								<integer>21987</integer>
							</dict>
							<key>files/stacks-image-05189a6-250x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								SB89lQ1Il/3D
								0XwO5OTZLQ==
								</data>
								<key>Size</key>
								<integer>19658</integer>
							</dict>
							<key>files/stacks-image-05189a6-250x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								57M1pspY7tey
								g1cj4B0SaA==
								</data>
								<key>Size</key>
								<integer>35932</integer>
							</dict>
							<key>files/stacks-image-0705093-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Pl60SeimLhua
								eCvxBChJLQ==
								</data>
								<key>Size</key>
								<integer>18592</integer>
							</dict>
							<key>files/stacks-image-0705093-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								q5BR3yfITgwg
								Ducc5LGXPA==
								</data>
								<key>Size</key>
								<integer>26130</integer>
							</dict>
							<key>files/stacks-image-074db50-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								IQgFPv0jbOkg
								GQEfsknodg==
								</data>
								<key>Size</key>
								<integer>22995</integer>
							</dict>
							<key>files/stacks-image-074db50-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								3jvZBSpjW2+w
								vLzLxIWELA==
								</data>
								<key>Size</key>
								<integer>33191</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JV5ejNT3Y8/E
								W0wI16l5/Q==
								</data>
								<key>Size</key>
								<integer>35252</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Su+ZpJd1NY34
								s0J16tjsFg==
								</data>
								<key>Size</key>
								<integer>68409</integer>
							</dict>
							<key>files/stacks-image-0b98171-500x428.png</key>
							<dict>
								<key>Digest</key>
								<data>
								GQGMnyUlGg3s
								VrWtEW4Onw==
								</data>
								<key>Size</key>
								<integer>69600</integer>
							</dict>
							<key>files/stacks-image-0b98171-500x428@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								XRltaf/UMxJy
								NNCux91/pg==
								</data>
								<key>Size</key>
								<integer>184675</integer>
							</dict>
							<key>files/stacks-image-13dcb14-198x198.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								g4I7lIXqSDAt
								uTg7eAXgtA==
								</data>
								<key>Size</key>
								<integer>16199</integer>
							</dict>
							<key>files/stacks-image-13dcb14-198x198@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								cvTvwAPAr6Nj
								dT91pX5BKg==
								</data>
								<key>Size</key>
								<integer>24342</integer>
							</dict>
							<key>files/stacks-image-1822fe3-250x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								yZYPxAOLTC+e
								ADZuryTtWw==
								</data>
								<key>Size</key>
								<integer>16175</integer>
							</dict>
							<key>files/stacks-image-1822fe3-250x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								T5x5mbFMcvtz
								zRzel13/Aw==
								</data>
								<key>Size</key>
								<integer>25053</integer>
							</dict>
							<key>files/stacks-image-1a5be56-250x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								0WthPmOc07N/
								0OpHuvzvvw==
								</data>
								<key>Size</key>
								<integer>16919</integer>
							</dict>
							<key>files/stacks-image-1f1ee52-1200x1028.png</key>
							<dict>
								<key>Digest</key>
								<data>
								qZi4sliie05G
								pL2TIjAyOw==
								</data>
								<key>Size</key>
								<integer>264905</integer>
							</dict>
							<key>files/stacks-image-1f1ee52-1200x1028@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								b6Sia7V7c9Ps
								LZBM8UYN+A==
								</data>
								<key>Size</key>
								<integer>808991</integer>
							</dict>
							<key>files/stacks-image-2247e1c-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								nOk2c0XgQlNW
								nMzsP9R6Dg==
								</data>
								<key>Size</key>
								<integer>54993</integer>
							</dict>
							<key>files/stacks-image-281e592-250x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								XRhJ046An1s4
								5TkE6c7fqw==
								</data>
								<key>Size</key>
								<integer>16074</integer>
							</dict>
							<key>files/stacks-image-281e592-250x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								g6dXJId7/kF9
								9CvzBMDrYg==
								</data>
								<key>Size</key>
								<integer>24419</integer>
							</dict>
							<key>files/stacks-image-2cab695-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								yxWyO+OPp0H/
								j+r2mQF1/A==
								</data>
								<key>Size</key>
								<integer>14885</integer>
							</dict>
							<key>files/stacks-image-2cede1e-186x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								BNvVtfiVmZqB
								ltuwhRRZuA==
								</data>
								<key>Size</key>
								<integer>15291</integer>
							</dict>
							<key>files/stacks-image-2cede1e-186x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								LG1Tv59moyLI
								q2pTl8SKtQ==
								</data>
								<key>Size</key>
								<integer>22489</integer>
							</dict>
							<key>files/stacks-image-32f92a0-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								QrHl92UVtewE
								O9ABi+m7Xg==
								</data>
								<key>Size</key>
								<integer>24635</integer>
							</dict>
							<key>files/stacks-image-32f92a0-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ZYwR6gXZOrTy
								c83BjGUdqg==
								</data>
								<key>Size</key>
								<integer>49540</integer>
							</dict>
							<key>files/stacks-image-36472c7-250x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								5gWiJybrNoyp
								q5kgfP9JJQ==
								</data>
								<key>Size</key>
								<integer>21377</integer>
							</dict>
							<key>files/stacks-image-36472c7-250x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								eWyFCvmZhWNn
								gOGTfOseeQ==
								</data>
								<key>Size</key>
								<integer>34039</integer>
							</dict>
							<key>files/stacks-image-3d2ee87-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								3hvsltHxnki6
								6EKzXjHMvw==
								</data>
								<key>Size</key>
								<integer>22802</integer>
							</dict>
							<key>files/stacks-image-3d2ee87-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								AAudTHKAamLE
								2jJxb8YSnw==
								</data>
								<key>Size</key>
								<integer>43185</integer>
							</dict>
							<key>files/stacks-image-4112ee5-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								+uLDw1V2LEbn
								hUjDwVt3/g==
								</data>
								<key>Size</key>
								<integer>12616</integer>
							</dict>
							<key>files/stacks-image-4112ee5-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								VXU5Xr2Zck45
								O+wDvW1mJA==
								</data>
								<key>Size</key>
								<integer>18787</integer>
							</dict>
							<key>files/stacks-image-4220915-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								hLZwmBl3oc96
								NwKCActA3Q==
								</data>
								<key>Size</key>
								<integer>12976</integer>
							</dict>
							<key>files/stacks-image-45ca9fb-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								FzbweOaWRQV5
								a/sHOIQa3A==
								</data>
								<key>Size</key>
								<integer>11850</integer>
							</dict>
							<key>files/stacks-image-45ca9fb-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								U/PiLpTfg5tx
								Rq4R5PraRg==
								</data>
								<key>Size</key>
								<integer>17459</integer>
							</dict>
							<key>files/stacks-image-49b4ce9-250x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								brM3pYnNEHSG
								0+pGdB9ECQ==
								</data>
								<key>Size</key>
								<integer>32780</integer>
							</dict>
							<key>files/stacks-image-49b4ce9-250x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ognzQrWm4AYO
								E2Zmfv8tWg==
								</data>
								<key>Size</key>
								<integer>66281</integer>
							</dict>
							<key>files/stacks-image-49ca07f-1200x1028.png</key>
							<dict>
								<key>Digest</key>
								<data>
								3ZerM4BKxEE4
								Yg1O4vPWPQ==
								</data>
								<key>Size</key>
								<integer>341366</integer>
							</dict>
							<key>files/stacks-image-49ca07f-1200x1028@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								9Fv+3mpEj2ih
								noXtX6ShHw==
								</data>
								<key>Size</key>
								<integer>1062460</integer>
							</dict>
							<key>files/stacks-image-4b73cc1.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								aWgvxV9mU8tA
								ZXm+jEKG/Q==
								</data>
								<key>Size</key>
								<integer>19545</integer>
							</dict>
							<key>files/stacks-image-4dc199b.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								va3qU1QdMCSr
								EhFZVluK0w==
								</data>
								<key>Size</key>
								<integer>10795</integer>
							</dict>
							<key>files/stacks-image-4f13951-162x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								NdOwJJytxjTL
								L1HqKWw9FA==
								</data>
								<key>Size</key>
								<integer>75555</integer>
							</dict>
							<key>files/stacks-image-4f13951-162x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								vx6lNYcKqEVh
								DaGV4PJRWw==
								</data>
								<key>Size</key>
								<integer>273751</integer>
							</dict>
							<key>files/stacks-image-541b38d.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Mag094rYUSM7
								OlN+5qzw/Q==
								</data>
								<key>Size</key>
								<integer>33074</integer>
							</dict>
							<key>files/stacks-image-5483662-168x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								WIUkZPloHeE9
								l/5laHo5Dg==
								</data>
								<key>Size</key>
								<integer>13245</integer>
							</dict>
							<key>files/stacks-image-5a00b16-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								RnVf/AU5A10X
								r+xPNrKLpQ==
								</data>
								<key>Size</key>
								<integer>51255</integer>
							</dict>
							<key>files/stacks-image-5b4eb3e-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								8ZTtfrbIdMEG
								uTSTGe/ICw==
								</data>
								<key>Size</key>
								<integer>13536</integer>
							</dict>
							<key>files/stacks-image-5b4eb3e-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Ofhck3K6LELr
								+ytaQ7dhYA==
								</data>
								<key>Size</key>
								<integer>18705</integer>
							</dict>
							<key>files/stacks-image-62f12e6-111381.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								KA3wFsOJqzpL
								YvTKP9F3mQ==
								</data>
								<key>Size</key>
								<integer>7645</integer>
							</dict>
							<key>files/stacks-image-636ed7c-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								v25T9KpMK7F1
								67EmqHBKgw==
								</data>
								<key>Size</key>
								<integer>16055</integer>
							</dict>
							<key>files/stacks-image-636ed7c-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Z3aCXXFNELQd
								Jr6sKCvrhw==
								</data>
								<key>Size</key>
								<integer>24433</integer>
							</dict>
							<key>files/stacks-image-6503b5c-206x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								LKifJ9stwBBV
								HeqQ/lWOTA==
								</data>
								<key>Size</key>
								<integer>15143</integer>
							</dict>
							<key>files/stacks-image-6503b5c-206x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								iGO/QHKq2AhS
								K4HTg3CtKA==
								</data>
								<key>Size</key>
								<integer>22115</integer>
							</dict>
							<key>files/stacks-image-6561426-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								tCqWXdQ1rBsp
								9Xig5Qhojg==
								</data>
								<key>Size</key>
								<integer>23130</integer>
							</dict>
							<key>files/stacks-image-65c86ab-224x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								8FTfx3YNb1z1
								77bqkEHCrQ==
								</data>
								<key>Size</key>
								<integer>17956</integer>
							</dict>
							<key>files/stacks-image-685b5ef-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								mhBOa1gixFlQ
								Jv5k7YXK7A==
								</data>
								<key>Size</key>
								<integer>22611</integer>
							</dict>
							<key>files/stacks-image-685b5ef-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								/R/qEePyVYn4
								mzu/29T0mQ==
								</data>
								<key>Size</key>
								<integer>36028</integer>
							</dict>
							<key>files/stacks-image-6b903a6-250x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								pMc8jKO+pqLy
								iAkBmDepsw==
								</data>
								<key>Size</key>
								<integer>24579</integer>
							</dict>
							<key>files/stacks-image-6b903a6-250x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								vJETsEvIwbUt
								LLoPisDXcQ==
								</data>
								<key>Size</key>
								<integer>41472</integer>
							</dict>
							<key>files/stacks-image-6de621d-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								3LraUlZwcy90
								UTqEKInXbw==
								</data>
								<key>Size</key>
								<integer>18482</integer>
							</dict>
							<key>files/stacks-image-6de621d-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								IstUbAlb+ELT
								IcKEz3URJw==
								</data>
								<key>Size</key>
								<integer>29363</integer>
							</dict>
							<key>files/stacks-image-6e12f17.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								F355TBXiznz4
								mX6S9zFamQ==
								</data>
								<key>Size</key>
								<integer>20057</integer>
							</dict>
							<key>files/stacks-image-6f5c9c8-250x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								o5eA9QN90mOb
								G9bmSA/RSg==
								</data>
								<key>Size</key>
								<integer>30616</integer>
							</dict>
							<key>files/stacks-image-7141bc3-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ePuXAeKheOTU
								pFsBaFOsgQ==
								</data>
								<key>Size</key>
								<integer>81732</integer>
							</dict>
							<key>files/stacks-image-7141bc3-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								NJTphb6F/Qyt
								5vebfBlG0g==
								</data>
								<key>Size</key>
								<integer>123809</integer>
							</dict>
							<key>files/stacks-image-7239536-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Hd7/veFcTWYh
								NiDlFlh7CA==
								</data>
								<key>Size</key>
								<integer>12338</integer>
							</dict>
							<key>files/stacks-image-7239536-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								+m5vwE1DH45F
								OxbUZB1nyg==
								</data>
								<key>Size</key>
								<integer>17580</integer>
							</dict>
							<key>files/stacks-image-75adb1c.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								EBZBFWxJVBkw
								M+DN+KKvmg==
								</data>
								<key>Size</key>
								<integer>10191</integer>
							</dict>
							<key>files/stacks-image-775734f-1200x1028.png</key>
							<dict>
								<key>Digest</key>
								<data>
								j6aWgKSc1P0R
								ozIsbcxnvw==
								</data>
								<key>Size</key>
								<integer>275870</integer>
							</dict>
							<key>files/stacks-image-775734f-1200x1028@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								+RjYE82KBq8D
								h2uM2yX/sg==
								</data>
								<key>Size</key>
								<integer>816785</integer>
							</dict>
							<key>files/stacks-image-869f5d7-352x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								pQ3ZKIqzGlZl
								wj5w+4GGCg==
								</data>
								<key>Size</key>
								<integer>53180</integer>
							</dict>
							<key>files/stacks-image-9106f9a-250x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								1++s1taA4rVO
								NSCc4yeyag==
								</data>
								<key>Size</key>
								<integer>16773</integer>
							</dict>
							<key>files/stacks-image-9106f9a-250x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								BD91SZVGo5K8
								Eu3Zqrjwvg==
								</data>
								<key>Size</key>
								<integer>24764</integer>
							</dict>
							<key>files/stacks-image-94d2d36-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								iyWgzJOulcDa
								HrtnUrxRRA==
								</data>
								<key>Size</key>
								<integer>13770</integer>
							</dict>
							<key>files/stacks-image-9d678b0-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								rW3aCFH7EsuL
								9uJAahYMxQ==
								</data>
								<key>Size</key>
								<integer>19936</integer>
							</dict>
							<key>files/stacks-image-9d678b0-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								nxwX+A5LsKay
								+Z1H20BMWA==
								</data>
								<key>Size</key>
								<integer>32726</integer>
							</dict>
							<key>files/stacks-image-b9534b9-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9Huin9eJsWZ0
								a3RKo2XFIg==
								</data>
								<key>Size</key>
								<integer>14973</integer>
							</dict>
							<key>files/stacks-image-b9a197f-250x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								bsTXBLYwJVZ8
								jYt4v8/ACg==
								</data>
								<key>Size</key>
								<integer>20669</integer>
							</dict>
							<key>files/stacks-image-bc4e7a0-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								22wkIHAA9j8e
								zJV8qR3/mw==
								</data>
								<key>Size</key>
								<integer>14099</integer>
							</dict>
							<key>files/stacks-image-bc4e7a0-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								xFi6C/nGH4n6
								uqY7+7yQMg==
								</data>
								<key>Size</key>
								<integer>24078</integer>
							</dict>
							<key>files/stacks-image-bc98195-111079.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								T3oiM9lOdq/m
								krZzrxgrXA==
								</data>
								<key>Size</key>
								<integer>10235</integer>
							</dict>
							<key>files/stacks-image-bc98195-111079@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Zg9K3AcFz1HN
								5tPov4QXaQ==
								</data>
								<key>Size</key>
								<integer>14205</integer>
							</dict>
							<key>files/stacks-image-bc98195-212x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								iD6lzWMWQaPz
								E0sa1s59BQ==
								</data>
								<key>Size</key>
								<integer>11865</integer>
							</dict>
							<key>files/stacks-image-bc98195-212x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								0C3CqMs81oXN
								Ccvr8mUoIQ==
								</data>
								<key>Size</key>
								<integer>16931</integer>
							</dict>
							<key>files/stacks-image-bed9ff0-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								vpv8BeLuwrCH
								jxhbOMB9PQ==
								</data>
								<key>Size</key>
								<integer>40624</integer>
							</dict>
							<key>files/stacks-image-bf58fcb-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								EHK4k+oiowcA
								aMmEPZ4FwQ==
								</data>
								<key>Size</key>
								<integer>14954</integer>
							</dict>
							<key>files/stacks-image-bf58fcb-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								2owYfpq5ppNY
								/XrmTqoK5w==
								</data>
								<key>Size</key>
								<integer>21200</integer>
							</dict>
							<key>files/stacks-image-c010867-250x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								sapudPRFCw7l
								0v9PihvDQA==
								</data>
								<key>Size</key>
								<integer>15461</integer>
							</dict>
							<key>files/stacks-image-c010867-250x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								VhX4Hm57YQNj
								F58bKHVYXQ==
								</data>
								<key>Size</key>
								<integer>25625</integer>
							</dict>
							<key>files/stacks-image-c0b834e-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								DGSckqMChSkF
								elNFL/8CuQ==
								</data>
								<key>Size</key>
								<integer>12826</integer>
							</dict>
							<key>files/stacks-image-c0b834e-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Czy4dgDTIVJq
								UwicFHUBEw==
								</data>
								<key>Size</key>
								<integer>17910</integer>
							</dict>
							<key>files/stacks-image-c0f94ea-186x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								1SSFVeYjV80m
								/I7w4Ucjvg==
								</data>
								<key>Size</key>
								<integer>10229</integer>
							</dict>
							<key>files/stacks-image-c229d6e-334x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								YSr098zRDSI7
								igD/pfVOfA==
								</data>
								<key>Size</key>
								<integer>25193</integer>
							</dict>
							<key>files/stacks-image-c2d9b60-198x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								yqJ1fSOauWaN
								s6+jL68w4w==
								</data>
								<key>Size</key>
								<integer>41975</integer>
							</dict>
							<key>files/stacks-image-c405c5c.png</key>
							<dict>
								<key>Digest</key>
								<data>
								41fwGdHpvP31
								cVJWak+3YA==
								</data>
								<key>Size</key>
								<integer>38189</integer>
							</dict>
							<key>files/stacks-image-c477107-250x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								O7+jcrusHE1e
								folRcKIuyg==
								</data>
								<key>Size</key>
								<integer>21131</integer>
							</dict>
							<key>files/stacks-image-c820341-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								pQPa4XF0Jfan
								5hxKC2aGnw==
								</data>
								<key>Size</key>
								<integer>11852</integer>
							</dict>
							<key>files/stacks-image-c820341-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								B+bKDfr5Yq2W
								W9s9VGKgeA==
								</data>
								<key>Size</key>
								<integer>19215</integer>
							</dict>
							<key>files/stacks-image-c8c54b1-250x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ZMsvmHf2q4Dy
								Xh+y4pdtAw==
								</data>
								<key>Size</key>
								<integer>36149</integer>
							</dict>
							<key>files/stacks-image-c8c54b1-250x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								yHrUvY15HTqC
								DrbmvkHqqA==
								</data>
								<key>Size</key>
								<integer>73400</integer>
							</dict>
							<key>files/stacks-image-c926267-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								lsA6lprCupl/
								GA0CFS6TPw==
								</data>
								<key>Size</key>
								<integer>17301</integer>
							</dict>
							<key>files/stacks-image-c926267-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								0nXlG1ugHyaF
								Z/r/XL5UlQ==
								</data>
								<key>Size</key>
								<integer>28811</integer>
							</dict>
							<key>files/stacks-image-d0b6053-250x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								MXWSbeteIbPF
								xgncqGAhqQ==
								</data>
								<key>Size</key>
								<integer>25165</integer>
							</dict>
							<key>files/stacks-image-d0b6053-250x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								JLYELx4HFvvf
								FTiuVuJIoQ==
								</data>
								<key>Size</key>
								<integer>42447</integer>
							</dict>
							<key>files/stacks-image-d3a82ac-250x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Rv3I9NAT5zFE
								uVMXVtVW/g==
								</data>
								<key>Size</key>
								<integer>32225</integer>
							</dict>
							<key>files/stacks-image-d55994e-166x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								S7DiRlTUFMii
								dbzy2x2VCA==
								</data>
								<key>Size</key>
								<integer>18097</integer>
							</dict>
							<key>files/stacks-image-d55994e-166x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								LEp2DTxcIlaX
								1k9MpoUsMA==
								</data>
								<key>Size</key>
								<integer>34849</integer>
							</dict>
							<key>files/stacks-image-d55994e-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ItAJwWm161+o
								pm+HYv9o0Q==
								</data>
								<key>Size</key>
								<integer>18376</integer>
							</dict>
							<key>files/stacks-image-d55994e-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								FYs4JCZloMvB
								kPeDs4xAtw==
								</data>
								<key>Size</key>
								<integer>31976</integer>
							</dict>
							<key>files/stacks-image-d7fcbbb-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								wQysp3qbnf6E
								kN5/GNkpqg==
								</data>
								<key>Size</key>
								<integer>11393</integer>
							</dict>
							<key>files/stacks-image-d7fcbbb-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								wjgTJQmj4mEr
								ia+6xZj5tQ==
								</data>
								<key>Size</key>
								<integer>17828</integer>
							</dict>
							<key>files/stacks-image-dcdd364-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								c/ZXWrnaWTYW
								htvv3pet2w==
								</data>
								<key>Size</key>
								<integer>15322</integer>
							</dict>
							<key>files/stacks-image-dcdd364-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								bPIh0+MkB9K5
								03QdZ2mt+g==
								</data>
								<key>Size</key>
								<integer>24182</integer>
							</dict>
							<key>files/stacks-image-e4b39a9-250x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								1TNEsVnPlMta
								EP6l89YgFg==
								</data>
								<key>Size</key>
								<integer>28030</integer>
							</dict>
							<key>files/stacks-image-e4b39a9-250x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								dgmVnfrO5R8a
								HWamXW42DQ==
								</data>
								<key>Size</key>
								<integer>48700</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								0LBTZh9Y4iZ6
								By0DZuC++A==
								</data>
								<key>Size</key>
								<integer>19463</integer>
							</dict>
							<key>files/stacks-image-e9f1c85-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								abduI7Gzr46J
								H7m6SoYUoQ==
								</data>
								<key>Size</key>
								<integer>15821</integer>
							</dict>
							<key>files/stacks-image-e9f1c85-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								RXC/DvoeDURQ
								sCxzyERdng==
								</data>
								<key>Size</key>
								<integer>27314</integer>
							</dict>
							<key>files/stacks-image-eaa0881-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Nkej9G3RG24p
								0YAZBzd0vw==
								</data>
								<key>Size</key>
								<integer>10831</integer>
							</dict>
							<key>files/stacks-image-efc4fea-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								xCuSKFZtpMKP
								Vx3OUnd4+Q==
								</data>
								<key>Size</key>
								<integer>31770</integer>
							</dict>
							<key>files/stacks-image-f4d28b6-250x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								+FtB/cIpugHy
								oUyGPwQ7YA==
								</data>
								<key>Size</key>
								<integer>15476</integer>
							</dict>
							<key>files/stacks-image-f4d28b6-250x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								DiHqCMIjFC1z
								oE0HCsyo2w==
								</data>
								<key>Size</key>
								<integer>23058</integer>
							</dict>
							<key>files/stacks-image-fa94417-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								zU3TT2VhEf1Q
								sLtjGun1Dw==
								</data>
								<key>Size</key>
								<integer>15565</integer>
							</dict>
							<key>files/stacks-image-fa94417.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								JMUT2jCEoCN+
								jPGaptfhqA==
								</data>
								<key>Size</key>
								<integer>11176</integer>
							</dict>
							<key>files/stacks-image-fc73006-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								jPolkT3yr7eM
								vaXrAKlL4A==
								</data>
								<key>Size</key>
								<integer>32965</integer>
							</dict>
							<key>files/stacks-image-fe387d5-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9JPX+H3QPNCx
								zTBrIWmbqA==
								</data>
								<key>Size</key>
								<integer>14951</integer>
							</dict>
							<key>files/stacks-image-fe387d5-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								QtyTk7ymWhws
								lVEx2VPo6w==
								</data>
								<key>Size</key>
								<integer>22115</integer>
							</dict>
							<key>files/stacks-image-fe6691f-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Lh3MrV7H8oCW
								BFUK6Fs8FA==
								</data>
								<key>Size</key>
								<integer>11720</integer>
							</dict>
							<key>files/stacks-image-fe6691f-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								NOxtyuWgrJij
								J3NHwAwXYA==
								</data>
								<key>Size</key>
								<integer>16541</integer>
							</dict>
							<key>files/stacks_page_page89.css</key>
							<dict>
								<key>Digest</key>
								<data>
								cptFPNkOJu3d
								xeK11uESAA==
								</data>
								<key>Size</key>
								<integer>408556</integer>
							</dict>
							<key>files/stacks_page_page89.js</key>
							<dict>
								<key>Digest</key>
								<data>
								YeaC87WzG9A1
								cRgj+Muj4w==
								</data>
								<key>Size</key>
								<integer>34293</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								J4aQCbNVkzgG
								fn495PJ8bA==
								</data>
								<key>Size</key>
								<integer>276908</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page89</string>
						<key>SiteRoot</key>
						<string>people/students</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
