<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:30Z</date>
				<key>ID</key>
				<string>page23</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Publications</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.0.4</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2021-05-06T14:55:49Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small-109623-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/small-109710-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JfxF8Omi0icK
								xIwohpIZqw==
								</data>
								<key>Size</key>
								<integer>77487</integer>
							</dict>
							<key>files/small-109714-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2NMhf1k+YDl
								uPpd6H1dBw==
								</data>
								<key>Size</key>
								<integer>15019</integer>
							</dict>
							<key>files/small-109735-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D2nm4R7babci
								2M5NjfUDZQ==
								</data>
								<key>Size</key>
								<integer>18925</integer>
							</dict>
							<key>files/small-109736-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgRiuB3NhhIh
								SwZTifI18g==
								</data>
								<key>Size</key>
								<integer>21987</integer>
							</dict>
							<key>files/stacks-image-02120b5-150x48.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								KlhOvwAis5We
								JoEOwKk/jQ==
								</data>
								<key>Size</key>
								<integer>5274</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								C82d5dfws9q4
								DDOA2BFu1w==
								</data>
								<key>Size</key>
								<integer>35273</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								v/SijtX2gRco
								SwESRI9B4g==
								</data>
								<key>Size</key>
								<integer>68378</integer>
							</dict>
							<key>files/stacks-image-22092d6-150x48.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								25yWBi7GiaEV
								EbdqHz9BuQ==
								</data>
								<key>Size</key>
								<integer>5669</integer>
							</dict>
							<key>files/stacks-image-611cc0e-150x60.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								sg/EfvlhSmyR
								NAWz1NlJQA==
								</data>
								<key>Size</key>
								<integer>5927</integer>
							</dict>
							<key>files/stacks-image-6980f10-150x122.png</key>
							<dict>
								<key>Digest</key>
								<data>
								upNOmNhPTz2t
								sJ672sJC6A==
								</data>
								<key>Size</key>
								<integer>23990</integer>
							</dict>
							<key>files/stacks-image-6a4e041-150x82.png</key>
							<dict>
								<key>Digest</key>
								<data>
								SLD7XguQSn7c
								L42dmL+1Tg==
								</data>
								<key>Size</key>
								<integer>10129</integer>
							</dict>
							<key>files/stacks-image-87a2eff-150x72.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								JMaVhsGexhRn
								9oG02/B+Ug==
								</data>
								<key>Size</key>
								<integer>6099</integer>
							</dict>
							<key>files/stacks-image-8b170b9.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								kgQq8MCOCFyi
								Qp8z3bixnQ==
								</data>
								<key>Size</key>
								<integer>7558</integer>
							</dict>
							<key>files/stacks-image-9afa408-150x94.png</key>
							<dict>
								<key>Digest</key>
								<data>
								7ZBnnQiXX+uI
								R4g+8LA2CQ==
								</data>
								<key>Size</key>
								<integer>24126</integer>
							</dict>
							<key>files/stacks-image-9d5546e-148x188.png</key>
							<dict>
								<key>Digest</key>
								<data>
								hSw/u2UFO4l0
								pBmorZAGEA==
								</data>
								<key>Size</key>
								<integer>28911</integer>
							</dict>
							<key>files/stacks-image-a2c916c-148x148.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Qynpmf/oOhnb
								cIQGs+0b+Q==
								</data>
								<key>Size</key>
								<integer>18933</integer>
							</dict>
							<key>files/stacks-image-afdb629-150x54.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								HU1Kg7eAD+cM
								v4v9m/uVwg==
								</data>
								<key>Size</key>
								<integer>7094</integer>
							</dict>
							<key>files/stacks-image-b438d3e-148x148.png</key>
							<dict>
								<key>Digest</key>
								<data>
								YB2x2liSEFEX
								BhZhLFa8nA==
								</data>
								<key>Size</key>
								<integer>18950</integer>
							</dict>
							<key>files/stacks-image-b99fbf1-150x144.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								NumBFhgCihdo
								kfegYoQSpA==
								</data>
								<key>Size</key>
								<integer>7788</integer>
							</dict>
							<key>files/stacks-image-be8877d-150x58.png</key>
							<dict>
								<key>Digest</key>
								<data>
								3PlCRSHsUdlP
								2tCqcVkaaw==
								</data>
								<key>Size</key>
								<integer>10351</integer>
							</dict>
							<key>files/stacks-image-c12fdb6.png</key>
							<dict>
								<key>Digest</key>
								<data>
								IqxQINOFm0Fm
								ivJdG/ySbA==
								</data>
								<key>Size</key>
								<integer>24236</integer>
							</dict>
							<key>files/stacks-image-c1ba1a1-150x44.png</key>
							<dict>
								<key>Digest</key>
								<data>
								hGKcBSQX+Gym
								v/Sm5tUjvg==
								</data>
								<key>Size</key>
								<integer>6836</integer>
							</dict>
							<key>files/stacks-image-c1f13f0-150x118.png</key>
							<dict>
								<key>Digest</key>
								<data>
								66yJetvbm5BC
								8aLDi3uIXA==
								</data>
								<key>Size</key>
								<integer>14487</integer>
							</dict>
							<key>files/stacks-image-c1f13f0-150x118@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								fywHUpvO2XDw
								tXnZxcLW2Q==
								</data>
								<key>Size</key>
								<integer>39530</integer>
							</dict>
							<key>files/stacks-image-d3bb225-150x98.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								tIDdWONYRXkK
								9rWEE+vbOQ==
								</data>
								<key>Size</key>
								<integer>11145</integer>
							</dict>
							<key>files/stacks-image-d3c79a2.png</key>
							<dict>
								<key>Digest</key>
								<data>
								/FivivmuReTY
								7Uo3Xsjy4A==
								</data>
								<key>Size</key>
								<integer>9763</integer>
							</dict>
							<key>files/stacks-image-e502eef-150x100.png</key>
							<dict>
								<key>Digest</key>
								<data>
								2rg9oo8lkXmE
								g+o5Y5lyrA==
								</data>
								<key>Size</key>
								<integer>10570</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								IcJyU76V543g
								RUdnIXKzHw==
								</data>
								<key>Size</key>
								<integer>19481</integer>
							</dict>
							<key>files/stacks_page_page23.css</key>
							<dict>
								<key>Digest</key>
								<data>
								l0E/aMKORSn8
								vvcnXYMIEg==
								</data>
								<key>Size</key>
								<integer>110088</integer>
							</dict>
							<key>files/stacks_page_page23.js</key>
							<dict>
								<key>Digest</key>
								<data>
								6Kl0iemIu+qe
								MFk5mn5KDw==
								</data>
								<key>Size</key>
								<integer>24472</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								E6pmuIBVcquB
								uWkq5seqHg==
								</data>
								<key>Size</key>
								<integer>60555</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page23</string>
						<key>SiteRoot</key>
						<string>research/publications</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
