<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Participants</string>
				<key>CreatedDate</key>
				<date>2020-05-20T16:58:25Z</date>
				<key>ID</key>
				<string>page101</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Participants</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.2.2</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2021-02-12T18:27:57Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/DCE79F28-EA60-4789-B85B-36524B50F75A.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								IEzethOiNZT/
								CMFJwRU2Vg==
								</data>
								<key>Size</key>
								<integer>1269226</integer>
							</dict>
							<key>files/stacks-image-047ef2d-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								CNl9i8Hn4eCI
								AwEyg2XBtg==
								</data>
								<key>Size</key>
								<integer>14201</integer>
							</dict>
							<key>files/stacks-image-0c3ab08-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Oxm+oUeXU8R6
								CPDWuIOsSw==
								</data>
								<key>Size</key>
								<integer>12838</integer>
							</dict>
							<key>files/stacks-image-0c3ab08-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								7HtThXKFxcG/
								zcIHbuWg1A==
								</data>
								<key>Size</key>
								<integer>19438</integer>
							</dict>
							<key>files/stacks-image-0c4d84f-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								zkBlGPs9DZuT
								dIRnqQ6eiA==
								</data>
								<key>Size</key>
								<integer>21677</integer>
							</dict>
							<key>files/stacks-image-0c4d84f-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								QbWOF5mvfLHu
								Rh4mcOPVMg==
								</data>
								<key>Size</key>
								<integer>39028</integer>
							</dict>
							<key>files/stacks-image-0da047a-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								pvfZYe5g4u09
								LbzVOhDPnw==
								</data>
								<key>Size</key>
								<integer>9494</integer>
							</dict>
							<key>files/stacks-image-0ff36b0-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								e4cTFwgNka22
								EBo6xrj3pg==
								</data>
								<key>Size</key>
								<integer>14604</integer>
							</dict>
							<key>files/stacks-image-0ff36b0-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								M0dX0IQ9L46a
								I2S1tGYRPA==
								</data>
								<key>Size</key>
								<integer>28061</integer>
							</dict>
							<key>files/stacks-image-12f961e-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								0Js3/gDBaIQD
								7od/dbsf6w==
								</data>
								<key>Size</key>
								<integer>17837</integer>
							</dict>
							<key>files/stacks-image-12f961e-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								sSMdHbytYUmD
								WGuV+Ae9IQ==
								</data>
								<key>Size</key>
								<integer>29335</integer>
							</dict>
							<key>files/stacks-image-17909e9.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								lhpvtxppIH0m
								nqm/91RtuA==
								</data>
								<key>Size</key>
								<integer>10665</integer>
							</dict>
							<key>files/stacks-image-17d57e6-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								0jdIYJCwOfZy
								bx+lvTxUyw==
								</data>
								<key>Size</key>
								<integer>12031</integer>
							</dict>
							<key>files/stacks-image-17d57e6-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								31MhE+7z4+Z4
								7DBLw3GUyQ==
								</data>
								<key>Size</key>
								<integer>17704</integer>
							</dict>
							<key>files/stacks-image-19d7853-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								e4xti5sKPYT1
								VwTx7aalGw==
								</data>
								<key>Size</key>
								<integer>12332</integer>
							</dict>
							<key>files/stacks-image-19d7853-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								c5Nhx/PlZfVw
								gcgSTSGyeA==
								</data>
								<key>Size</key>
								<integer>16847</integer>
							</dict>
							<key>files/stacks-image-1c680c5-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								AzqbDpTHJJbz
								E3CaqcWMSw==
								</data>
								<key>Size</key>
								<integer>15797</integer>
							</dict>
							<key>files/stacks-image-1c680c5-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								NnUFiV1MeHGB
								ocdhgPH+4g==
								</data>
								<key>Size</key>
								<integer>23947</integer>
							</dict>
							<key>files/stacks-image-1ce2711-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								rdGBSepoOwBd
								XVJzy3V/AA==
								</data>
								<key>Size</key>
								<integer>14693</integer>
							</dict>
							<key>files/stacks-image-1ce2711-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								yVmPJjRveQXR
								HmXMpur5/w==
								</data>
								<key>Size</key>
								<integer>20490</integer>
							</dict>
							<key>files/stacks-image-1ef886b-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								BmaR+3Gz9E77
								T9Z8/b0QoQ==
								</data>
								<key>Size</key>
								<integer>88467</integer>
							</dict>
							<key>files/stacks-image-1ef886b-200x200@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								DRAyk/+sia9x
								8Q9MkVLtCQ==
								</data>
								<key>Size</key>
								<integer>333916</integer>
							</dict>
							<key>files/stacks-image-22e8a03-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								du/JtDPMnIM/
								Mp3SCSlzhQ==
								</data>
								<key>Size</key>
								<integer>19239</integer>
							</dict>
							<key>files/stacks-image-22e8a03-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Dc5AqDvvHwUQ
								zCZI/IqBmQ==
								</data>
								<key>Size</key>
								<integer>30222</integer>
							</dict>
							<key>files/stacks-image-23ffbd4-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								t2AQqYGMwA5A
								T1ENdyg47g==
								</data>
								<key>Size</key>
								<integer>12596</integer>
							</dict>
							<key>files/stacks-image-23ffbd4-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9GFmO5w1L+HI
								LO7gIlV2fw==
								</data>
								<key>Size</key>
								<integer>21298</integer>
							</dict>
							<key>files/stacks-image-242732d-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								P1ooboxtZQsx
								X25qnrJeaQ==
								</data>
								<key>Size</key>
								<integer>11961</integer>
							</dict>
							<key>files/stacks-image-242732d-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								91YhEd0jl1X/
								4vAvFlSm2A==
								</data>
								<key>Size</key>
								<integer>17591</integer>
							</dict>
							<key>files/stacks-image-27c807c-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								70UsfKOqQ+UJ
								BhIICg3Hkg==
								</data>
								<key>Size</key>
								<integer>13675</integer>
							</dict>
							<key>files/stacks-image-27c807c-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								nqbgfvcGqKLr
								uOfQ/g1Mtg==
								</data>
								<key>Size</key>
								<integer>19502</integer>
							</dict>
							<key>files/stacks-image-2825ae3-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								IsxAqVmQ4yJx
								OHuOVYZpvg==
								</data>
								<key>Size</key>
								<integer>16443</integer>
							</dict>
							<key>files/stacks-image-2825ae3-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								F3SWYtCA8ceW
								WvgJ/Z10+Q==
								</data>
								<key>Size</key>
								<integer>29423</integer>
							</dict>
							<key>files/stacks-image-29e8d36-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								YxCjHM9Sfhbh
								Lvz5X/W+/w==
								</data>
								<key>Size</key>
								<integer>10895</integer>
							</dict>
							<key>files/stacks-image-29e8d36-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								I96OX6PB14nj
								nA4fU/e/aA==
								</data>
								<key>Size</key>
								<integer>16793</integer>
							</dict>
							<key>files/stacks-image-2a5403a-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								TFxo+xKiRJqK
								eijdGs7ScA==
								</data>
								<key>Size</key>
								<integer>10020</integer>
							</dict>
							<key>files/stacks-image-2a5403a-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								jECMBr09ruFz
								7vCv4HTmXA==
								</data>
								<key>Size</key>
								<integer>13742</integer>
							</dict>
							<key>files/stacks-image-2bc1e68-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								J8ExtKNoagea
								GrXdbkWSEg==
								</data>
								<key>Size</key>
								<integer>19120</integer>
							</dict>
							<key>files/stacks-image-2bc1e68-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								EjK9Hy2pvPD2
								/19vQFskXA==
								</data>
								<key>Size</key>
								<integer>31144</integer>
							</dict>
							<key>files/stacks-image-2c96516-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								8YMh3l0graKL
								iHVNLYrjig==
								</data>
								<key>Size</key>
								<integer>56255</integer>
							</dict>
							<key>files/stacks-image-2c96516-200x200@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								YsU9LSueXxRE
								aAtATlOP9Q==
								</data>
								<key>Size</key>
								<integer>208233</integer>
							</dict>
							<key>files/stacks-image-317ba69-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								t1iaUkAO9Xi6
								F8ArUpnpPQ==
								</data>
								<key>Size</key>
								<integer>14566</integer>
							</dict>
							<key>files/stacks-image-451d091-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								P2NMcSZq+qVC
								BLgTDceG/w==
								</data>
								<key>Size</key>
								<integer>13381</integer>
							</dict>
							<key>files/stacks-image-451d091-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								tXFo9h2g2NEu
								AHfB4caBLA==
								</data>
								<key>Size</key>
								<integer>19346</integer>
							</dict>
							<key>files/stacks-image-4905015-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								AmRmLK7P3RKK
								3WJ9s7c78g==
								</data>
								<key>Size</key>
								<integer>17335</integer>
							</dict>
							<key>files/stacks-image-4905015-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								60cdM4LiOZlW
								d5sIfLwcTw==
								</data>
								<key>Size</key>
								<integer>29840</integer>
							</dict>
							<key>files/stacks-image-4ef3191-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								LJB5LU3Nijyi
								SgD2rmWnHA==
								</data>
								<key>Size</key>
								<integer>23088</integer>
							</dict>
							<key>files/stacks-image-527e6ed-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								E2ggxh6KgBof
								p4n4/fow0A==
								</data>
								<key>Size</key>
								<integer>12621</integer>
							</dict>
							<key>files/stacks-image-527e6ed-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								eD+qjBJ1umZt
								uvoJfZs2Lg==
								</data>
								<key>Size</key>
								<integer>18297</integer>
							</dict>
							<key>files/stacks-image-5f2eada-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Aa/SGaXJ9R+H
								3LEswBbFRA==
								</data>
								<key>Size</key>
								<integer>11304</integer>
							</dict>
							<key>files/stacks-image-5f2eada-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								k8/2/npdB54M
								MBbcWfIPfg==
								</data>
								<key>Size</key>
								<integer>16846</integer>
							</dict>
							<key>files/stacks-image-611acd6-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								yWPWeRBB9yfv
								yH8U2yhORg==
								</data>
								<key>Size</key>
								<integer>18351</integer>
							</dict>
							<key>files/stacks-image-611acd6-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								uP+NvkSLylDF
								Hp8Lss+P0Q==
								</data>
								<key>Size</key>
								<integer>28845</integer>
							</dict>
							<key>files/stacks-image-6a6e912-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								tUnVrqUhnien
								IvUQuItytA==
								</data>
								<key>Size</key>
								<integer>18168</integer>
							</dict>
							<key>files/stacks-image-6a6e912-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								6Uqwko8MAbpw
								4BoHnwkFBA==
								</data>
								<key>Size</key>
								<integer>28346</integer>
							</dict>
							<key>files/stacks-image-77b1041-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								tUnVrqUhnien
								IvUQuItytA==
								</data>
								<key>Size</key>
								<integer>18168</integer>
							</dict>
							<key>files/stacks-image-77b1041-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								6Uqwko8MAbpw
								4BoHnwkFBA==
								</data>
								<key>Size</key>
								<integer>28346</integer>
							</dict>
							<key>files/stacks-image-77ba45f-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								D3FK1ZJyMYvJ
								HlFHdudd2A==
								</data>
								<key>Size</key>
								<integer>16183</integer>
							</dict>
							<key>files/stacks-image-77ba45f-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Q6ISMc6gSuAb
								iKEtu6T/6w==
								</data>
								<key>Size</key>
								<integer>28390</integer>
							</dict>
							<key>files/stacks-image-7c2ac19-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								AP+KXXxJVCV5
								TOiNCTo+NQ==
								</data>
								<key>Size</key>
								<integer>12024</integer>
							</dict>
							<key>files/stacks-image-7c2ac19-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Zhci+Q5kFYaV
								0vcr8c/53Q==
								</data>
								<key>Size</key>
								<integer>17550</integer>
							</dict>
							<key>files/stacks-image-7d30c60-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								AzqbDpTHJJbz
								E3CaqcWMSw==
								</data>
								<key>Size</key>
								<integer>15797</integer>
							</dict>
							<key>files/stacks-image-7d30c60-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								NnUFiV1MeHGB
								ocdhgPH+4g==
								</data>
								<key>Size</key>
								<integer>23947</integer>
							</dict>
							<key>files/stacks-image-85deaaf.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								sI77WkrBeU4n
								HaJUPPM2BA==
								</data>
								<key>Size</key>
								<integer>11013</integer>
							</dict>
							<key>files/stacks-image-87ed1e6-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								GGY9mRSWcIRC
								8G3RG5Bk3A==
								</data>
								<key>Size</key>
								<integer>85069</integer>
							</dict>
							<key>files/stacks-image-88f885f-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								HVwLTOfqI6Mm
								AZOcNiadIg==
								</data>
								<key>Size</key>
								<integer>14603</integer>
							</dict>
							<key>files/stacks-image-88f885f-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Pe6csOMNj7Cc
								Xs3k7wLvCA==
								</data>
								<key>Size</key>
								<integer>21708</integer>
							</dict>
							<key>files/stacks-image-89d1ae9-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ASm4qhFsxAn0
								JSDXCs565A==
								</data>
								<key>Size</key>
								<integer>16987</integer>
							</dict>
							<key>files/stacks-image-89d1ae9-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								OVDFqbGzsKl8
								DRK6K4Lgeg==
								</data>
								<key>Size</key>
								<integer>26672</integer>
							</dict>
							<key>files/stacks-image-8c0a7e9-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ZHMPEbUg3dA/
								kT5pRmj9dg==
								</data>
								<key>Size</key>
								<integer>17851</integer>
							</dict>
							<key>files/stacks-image-8c0a7e9-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								F+rXdUCGP7dE
								8wgDxDeONw==
								</data>
								<key>Size</key>
								<integer>28901</integer>
							</dict>
							<key>files/stacks-image-8edf16e-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								pDeSY6N7jaNI
								kdcqOliKXw==
								</data>
								<key>Size</key>
								<integer>11009</integer>
							</dict>
							<key>files/stacks-image-8edf16e-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								sPfPhFnFEtf3
								SCwf/o4Z+Q==
								</data>
								<key>Size</key>
								<integer>14881</integer>
							</dict>
							<key>files/stacks-image-90333e9-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								tUnVrqUhnien
								IvUQuItytA==
								</data>
								<key>Size</key>
								<integer>18168</integer>
							</dict>
							<key>files/stacks-image-90333e9-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								6Uqwko8MAbpw
								4BoHnwkFBA==
								</data>
								<key>Size</key>
								<integer>28346</integer>
							</dict>
							<key>files/stacks-image-92b0bb9-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								FsezRN2nOEM9
								CjSNzmkf0w==
								</data>
								<key>Size</key>
								<integer>15637</integer>
							</dict>
							<key>files/stacks-image-92b0bb9-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								orX94eP1ssMi
								rvvKRsYJ7Q==
								</data>
								<key>Size</key>
								<integer>24059</integer>
							</dict>
							<key>files/stacks-image-96fecce-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								TjSks6zszXv/
								V9PdQ4IB4Q==
								</data>
								<key>Size</key>
								<integer>19934</integer>
							</dict>
							<key>files/stacks-image-96fecce-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								YPAnScgPSWi5
								NhYfeQGZzw==
								</data>
								<key>Size</key>
								<integer>40570</integer>
							</dict>
							<key>files/stacks-image-9b57602-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								AuPZrtXQTwA0
								NLHgv47I9w==
								</data>
								<key>Size</key>
								<integer>19034</integer>
							</dict>
							<key>files/stacks-image-9b57602-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								dsMb8+82QG83
								4lNKNP7ipg==
								</data>
								<key>Size</key>
								<integer>30448</integer>
							</dict>
							<key>files/stacks-image-9f55d52-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ML+Q9ZYGibxc
								l6k2On/Mjg==
								</data>
								<key>Size</key>
								<integer>12536</integer>
							</dict>
							<key>files/stacks-image-9f55d52-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								oOsX9hlOh9Tm
								s710wPoXnA==
								</data>
								<key>Size</key>
								<integer>17804</integer>
							</dict>
							<key>files/stacks-image-a1090e0-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								oHs6g9IrVIw1
								GjTui/koUw==
								</data>
								<key>Size</key>
								<integer>25236</integer>
							</dict>
							<key>files/stacks-image-a1090e0-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								zz6RbZxnj++h
								PRBnCLj1Iw==
								</data>
								<key>Size</key>
								<integer>49582</integer>
							</dict>
							<key>files/stacks-image-a302ea6-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9b4rmCi80XKK
								tri3bBf9Cw==
								</data>
								<key>Size</key>
								<integer>17694</integer>
							</dict>
							<key>files/stacks-image-a302ea6-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								S29PhY/Gk4KV
								zPsAnIM/AA==
								</data>
								<key>Size</key>
								<integer>34302</integer>
							</dict>
							<key>files/stacks-image-a3ccfd4-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								C/g/pCkTApx5
								8GQUH6nn2A==
								</data>
								<key>Size</key>
								<integer>19395</integer>
							</dict>
							<key>files/stacks-image-a3ccfd4-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								SAXwbuect6/7
								9gt1k8RkNg==
								</data>
								<key>Size</key>
								<integer>31197</integer>
							</dict>
							<key>files/stacks-image-afab053-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								8uEpoLz4qlIE
								41J7k5PxjA==
								</data>
								<key>Size</key>
								<integer>10645</integer>
							</dict>
							<key>files/stacks-image-afab053-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								CuXnTW14vgRv
								IcA0ZhJwjA==
								</data>
								<key>Size</key>
								<integer>14725</integer>
							</dict>
							<key>files/stacks-image-c17d304-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								LajxNI1RrEbb
								y06MQWbOXg==
								</data>
								<key>Size</key>
								<integer>11781</integer>
							</dict>
							<key>files/stacks-image-c17d304-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								RZIBrYx0UxWX
								t5cYWPUBLw==
								</data>
								<key>Size</key>
								<integer>16598</integer>
							</dict>
							<key>files/stacks-image-c28368e-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JXeayee5Av1i
								42kQUJ/6Xg==
								</data>
								<key>Size</key>
								<integer>77626</integer>
							</dict>
							<key>files/stacks-image-c28368e-200x200@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								qjdWbU1PWp9I
								3OtCAUDBMg==
								</data>
								<key>Size</key>
								<integer>301784</integer>
							</dict>
							<key>files/stacks-image-c667c34-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								J8ExtKNoagea
								GrXdbkWSEg==
								</data>
								<key>Size</key>
								<integer>19120</integer>
							</dict>
							<key>files/stacks-image-c667c34-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								EjK9Hy2pvPD2
								/19vQFskXA==
								</data>
								<key>Size</key>
								<integer>31144</integer>
							</dict>
							<key>files/stacks-image-c91c1e5-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								VXHHc+fUn0/P
								vhqVav7vfQ==
								</data>
								<key>Size</key>
								<integer>14826</integer>
							</dict>
							<key>files/stacks-image-c91c1e5-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								n81cjC/SsgNS
								gMWRGv5Jog==
								</data>
								<key>Size</key>
								<integer>21204</integer>
							</dict>
							<key>files/stacks-image-cbb86c5-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								LJB5LU3Nijyi
								SgD2rmWnHA==
								</data>
								<key>Size</key>
								<integer>23088</integer>
							</dict>
							<key>files/stacks-image-d1d7693-1200x398.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								2M2cXFkI3Wbx
								DOK+41BfDQ==
								</data>
								<key>Size</key>
								<integer>144902</integer>
							</dict>
							<key>files/stacks-image-e09c1b7-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zfMTolSKQ/1E
								ptWGHfYzng==
								</data>
								<key>Size</key>
								<integer>85867</integer>
							</dict>
							<key>files/stacks-image-e19f1bc-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								uHQFcj+ChAOJ
								tTfBFUF8uA==
								</data>
								<key>Size</key>
								<integer>89672</integer>
							</dict>
							<key>files/stacks-image-e19f1bc-200x200@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ywBzy9CMGRdc
								/Z6vXhXxfQ==
								</data>
								<key>Size</key>
								<integer>325405</integer>
							</dict>
							<key>files/stacks-image-e31493c-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								DHRERranNg61
								cjB/XcDZAA==
								</data>
								<key>Size</key>
								<integer>14181</integer>
							</dict>
							<key>files/stacks-image-e31493c-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								kzot51Ethsjd
								MdImu1B+NQ==
								</data>
								<key>Size</key>
								<integer>20157</integer>
							</dict>
							<key>files/stacks-image-e32d835-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9+FvBZnk8IsF
								L+SK9WZxqA==
								</data>
								<key>Size</key>
								<integer>13244</integer>
							</dict>
							<key>files/stacks-image-e559cc7-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Onpqs8DilFAW
								WlBxQBb/5w==
								</data>
								<key>Size</key>
								<integer>82508</integer>
							</dict>
							<key>files/stacks-image-e559cc7-200x200@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								gjVHtjPrmvH4
								YGJN6SY7nQ==
								</data>
								<key>Size</key>
								<integer>277804</integer>
							</dict>
							<key>files/stacks-image-e7ed632-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								xErFcDn5XfFz
								kuAHDnTn2w==
								</data>
								<key>Size</key>
								<integer>11217</integer>
							</dict>
							<key>files/stacks-image-e7ed632-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								0qnbDzH1McZI
								P+C2O4ctXg==
								</data>
								<key>Size</key>
								<integer>15479</integer>
							</dict>
							<key>files/stacks-image-e9268cb-200x200.png</key>
							<dict>
								<key>Digest</key>
								<data>
								OXhcd7zUcVeJ
								jWUL2V4uXQ==
								</data>
								<key>Size</key>
								<integer>78227</integer>
							</dict>
							<key>files/stacks-image-e9268cb-200x200@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								GuaiUmxOgjlf
								pOnaBSuXQQ==
								</data>
								<key>Size</key>
								<integer>309981</integer>
							</dict>
							<key>files/stacks-image-f2ce94f-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								A1aLwD9rDb4A
								8FxvEurqIw==
								</data>
								<key>Size</key>
								<integer>9439</integer>
							</dict>
							<key>files/stacks-image-f2ce94f-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9HzZMnIUI/wJ
								MJyDXPZa5g==
								</data>
								<key>Size</key>
								<integer>13428</integer>
							</dict>
							<key>files/stacks-image-f419c7d-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								7lW/lCn/K9js
								7pGOE47yAw==
								</data>
								<key>Size</key>
								<integer>16100</integer>
							</dict>
							<key>files/stacks-image-f5c0b93-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								4Y+YnHtgwF2o
								ZP6k6C9P/A==
								</data>
								<key>Size</key>
								<integer>13718</integer>
							</dict>
							<key>files/stacks-image-f5c0b93-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Qnm4WgJhgDtx
								yRwN1h2Dxg==
								</data>
								<key>Size</key>
								<integer>19401</integer>
							</dict>
							<key>files/stacks-image-fc196d2-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								IzX2/O1iO4W8
								gXppLUwV+w==
								</data>
								<key>Size</key>
								<integer>18321</integer>
							</dict>
							<key>files/stacks-image-fc196d2-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								e/vOFJ3KtDoX
								J8IOojYjqw==
								</data>
								<key>Size</key>
								<integer>30554</integer>
							</dict>
							<key>files/stacks-image-fd80e70-200x200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								mHOkhzHUqM+6
								Z11wWWFImg==
								</data>
								<key>Size</key>
								<integer>16656</integer>
							</dict>
							<key>files/stacks-image-fd80e70-200x200@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ptsDUxCfYFSK
								yihLOvsBEg==
								</data>
								<key>Size</key>
								<integer>25264</integer>
							</dict>
							<key>files/stacks_page_page101.css</key>
							<dict>
								<key>Digest</key>
								<data>
								eP3msuerr1ga
								6Bephc/QNA==
								</data>
								<key>Size</key>
								<integer>223909</integer>
							</dict>
							<key>files/stacks_page_page101.js</key>
							<dict>
								<key>Digest</key>
								<data>
								DyxmtWsuoQ7x
								7tB6T+SYuQ==
								</data>
								<key>Size</key>
								<integer>30601</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								uDCznv8ujv9J
								cPISWHALuQ==
								</data>
								<key>Size</key>
								<integer>206571</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page101</string>
						<key>SiteRoot</key>
						<string>events/cnww/page-3/page-15</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
