<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:30Z</date>
				<key>ID</key>
				<string>page68</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>NIH T32 in Complexity and Neurobiology</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.2.2</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2021-10-29T14:53:00Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/large-526258.png</key>
							<dict>
								<key>Digest</key>
								<data>
								pMP3aJ5C0t7h
								l06d59+lUQ==
								</data>
								<key>Size</key>
								<integer>258001</integer>
							</dict>
							<key>files/medium-526258.png</key>
							<dict>
								<key>Digest</key>
								<data>
								pMP3aJ5C0t7h
								l06d59+lUQ==
								</data>
								<key>Size</key>
								<integer>258001</integer>
							</dict>
							<key>files/small-109623-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/small-109710-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JfxF8Omi0icK
								xIwohpIZqw==
								</data>
								<key>Size</key>
								<integer>77487</integer>
							</dict>
							<key>files/small-109714-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2NMhf1k+YDl
								uPpd6H1dBw==
								</data>
								<key>Size</key>
								<integer>15019</integer>
							</dict>
							<key>files/small-109735-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D2nm4R7babci
								2M5NjfUDZQ==
								</data>
								<key>Size</key>
								<integer>18925</integer>
							</dict>
							<key>files/small-109736-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgRiuB3NhhIh
								SwZTifI18g==
								</data>
								<key>Size</key>
								<integer>21987</integer>
							</dict>
							<key>files/small-526217.png</key>
							<dict>
								<key>Digest</key>
								<data>
								vSMm37Ei4+yP
								RTwvq0ybFg==
								</data>
								<key>Size</key>
								<integer>468536</integer>
							</dict>
							<key>files/small-526247.png</key>
							<dict>
								<key>Digest</key>
								<data>
								+1LGkXiL5tkM
								ZJZbZKVDkg==
								</data>
								<key>Size</key>
								<integer>704842</integer>
							</dict>
							<key>files/small-526258.png</key>
							<dict>
								<key>Digest</key>
								<data>
								pMP3aJ5C0t7h
								l06d59+lUQ==
								</data>
								<key>Size</key>
								<integer>258001</integer>
							</dict>
							<key>files/small-526267.png</key>
							<dict>
								<key>Digest</key>
								<data>
								hnsY74MQnPuQ
								d1A0HDGbNg==
								</data>
								<key>Size</key>
								<integer>383127</integer>
							</dict>
							<key>files/small-526270.png</key>
							<dict>
								<key>Digest</key>
								<data>
								4u0DO/fyixkc
								GRX6TLb7bQ==
								</data>
								<key>Size</key>
								<integer>460870</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								nc/RlhmvGDDL
								K+SuTjMLPQ==
								</data>
								<key>Size</key>
								<integer>35262</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								tvAomUQyeND0
								vTpTZz/VVg==
								</data>
								<key>Size</key>
								<integer>68367</integer>
							</dict>
							<key>files/stacks-image-2cf1fa2.png</key>
							<dict>
								<key>Digest</key>
								<data>
								U36Xip2sKigA
								exUIkd0fLA==
								</data>
								<key>Size</key>
								<integer>51303</integer>
							</dict>
							<key>files/stacks-image-bc02738-1198x216.png</key>
							<dict>
								<key>Digest</key>
								<data>
								J64dZFKpaFao
								kXIOvThGsw==
								</data>
								<key>Size</key>
								<integer>123561</integer>
							</dict>
							<key>files/stacks-image-d6c772e.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Dvw2Q6Y7lsFt
								7po5shYd2w==
								</data>
								<key>Size</key>
								<integer>29249</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Hwezk6t72J5g
								2awHy7YAqA==
								</data>
								<key>Size</key>
								<integer>19470</integer>
							</dict>
							<key>files/stacks_page_page68.css</key>
							<dict>
								<key>Digest</key>
								<data>
								QpRIENETH+Hz
								vvRsawJ0pw==
								</data>
								<key>Size</key>
								<integer>135256</integer>
							</dict>
							<key>files/stacks_page_page68.js</key>
							<dict>
								<key>Digest</key>
								<data>
								6Kl0iemIu+qe
								MFk5mn5KDw==
								</data>
								<key>Size</key>
								<integer>24472</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								3eyYojvzwu74
								n4hb4/00tw==
								</data>
								<key>Size</key>
								<integer>87304</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page68</string>
						<key>SiteRoot</key>
						<string>education/complexbrain</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
