<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Core Team</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page37</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Core Team</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.3.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2022-12-13T15:00:58Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/small-109623-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MvjnTxCGKox0
								P5Oe7v+ylA==
								</data>
								<key>Size</key>
								<integer>519311</integer>
							</dict>
							<key>files/small-109710-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JfxF8Omi0icK
								xIwohpIZqw==
								</data>
								<key>Size</key>
								<integer>77487</integer>
							</dict>
							<key>files/small-109714-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								B2NMhf1k+YDl
								uPpd6H1dBw==
								</data>
								<key>Size</key>
								<integer>15019</integer>
							</dict>
							<key>files/small-109735-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								D2nm4R7babci
								2M5NjfUDZQ==
								</data>
								<key>Size</key>
								<integer>18925</integer>
							</dict>
							<key>files/small-109736-E20.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zgRiuB3NhhIh
								SwZTifI18g==
								</data>
								<key>Size</key>
								<integer>21987</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JV5ejNT3Y8/E
								W0wI16l5/Q==
								</data>
								<key>Size</key>
								<integer>35252</integer>
							</dict>
							<key>files/stacks-image-097fb8f-400x190@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Su+ZpJd1NY34
								s0J16tjsFg==
								</data>
								<key>Size</key>
								<integer>68409</integer>
							</dict>
							<key>files/stacks-image-178f5b2.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								mXoXtlusSzAQ
								BZ2/TGCPtw==
								</data>
								<key>Size</key>
								<integer>12135</integer>
							</dict>
							<key>files/stacks-image-1acdb85-256x350.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								SPqmoWfKkrW8
								8wfNOXyqyA==
								</data>
								<key>Size</key>
								<integer>27846</integer>
							</dict>
							<key>files/stacks-image-1ce41f9.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								nsZGNaJXtlBE
								+eqmBbN5Gw==
								</data>
								<key>Size</key>
								<integer>17843</integer>
							</dict>
							<key>files/stacks-image-21519a5.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								AMBvHBRO94FT
								sXL2H/k1OA==
								</data>
								<key>Size</key>
								<integer>12261</integer>
							</dict>
							<key>files/stacks-image-23e18d9.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								bWX4VBR+ggnD
								KEWCe8Yh1Q==
								</data>
								<key>Size</key>
								<integer>15934</integer>
							</dict>
							<key>files/stacks-image-25edea5-300x300.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								qu2gI3nrt67S
								gOzyrotywQ==
								</data>
								<key>Size</key>
								<integer>15366</integer>
							</dict>
							<key>files/stacks-image-25edea5-300x300@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								5qrgwf3zRDzI
								NLjwrhumdA==
								</data>
								<key>Size</key>
								<integer>24539</integer>
							</dict>
							<key>files/stacks-image-32939b0-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								YgICEOxcG1Ix
								XOdzOGl36w==
								</data>
								<key>Size</key>
								<integer>21215</integer>
							</dict>
							<key>files/stacks-image-32939b0-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								xIWxlYgtPZN7
								7Xhxn7M5lg==
								</data>
								<key>Size</key>
								<integer>37215</integer>
							</dict>
							<key>files/stacks-image-335560f-200x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								oRoCzh+fLxYW
								8NRKgWlxYw==
								</data>
								<key>Size</key>
								<integer>93209</integer>
							</dict>
							<key>files/stacks-image-372af0f-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								eIJIABadzmfH
								hHf3bs3ykA==
								</data>
								<key>Size</key>
								<integer>14085</integer>
							</dict>
							<key>files/stacks-image-372af0f-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								TbGkLGjVoEUG
								v1qrMTEOmg==
								</data>
								<key>Size</key>
								<integer>25419</integer>
							</dict>
							<key>files/stacks-image-3864d23-276x350.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ptjE3WpfDbki
								92/OII9IoA==
								</data>
								<key>Size</key>
								<integer>27324</integer>
							</dict>
							<key>files/stacks-image-39d2e38.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								UyFTMJChH8Wh
								tX4o6tSzcw==
								</data>
								<key>Size</key>
								<integer>13517</integer>
							</dict>
							<key>files/stacks-image-3a6b16e-264x350.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								c2p3ZKAxVTl9
								1FW8IrxJ3Q==
								</data>
								<key>Size</key>
								<integer>27337</integer>
							</dict>
							<key>files/stacks-image-4a4c0ee.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								mXoXtlusSzAQ
								BZ2/TGCPtw==
								</data>
								<key>Size</key>
								<integer>12135</integer>
							</dict>
							<key>files/stacks-image-4affa1a-244x350.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								7EM7XotEVPiw
								ZThTOYuJDQ==
								</data>
								<key>Size</key>
								<integer>18339</integer>
							</dict>
							<key>files/stacks-image-4c0441d.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								iNFYujdBI8uz
								7CEAL/g8jg==
								</data>
								<key>Size</key>
								<integer>13403</integer>
							</dict>
							<key>files/stacks-image-5518809-300x256.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								5J65SV8/66H9
								NaJDpRWeMA==
								</data>
								<key>Size</key>
								<integer>30907</integer>
							</dict>
							<key>files/stacks-image-5518809-300x256@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								4NetCrzPEA7/
								fRx6xrb0SQ==
								</data>
								<key>Size</key>
								<integer>53372</integer>
							</dict>
							<key>files/stacks-image-59e1ec1.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								rnPAztZHz+RV
								ATwn58PTyw==
								</data>
								<key>Size</key>
								<integer>11503</integer>
							</dict>
							<key>files/stacks-image-628e666.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								otrwcH3Oz3Dc
								Y+FHwpJpQw==
								</data>
								<key>Size</key>
								<integer>12762</integer>
							</dict>
							<key>files/stacks-image-6476cd3.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								UdWR9733VDC1
								PJNYPZElKA==
								</data>
								<key>Size</key>
								<integer>11657</integer>
							</dict>
							<key>files/stacks-image-65206a6.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								jGy52Z71a2wP
								5bRy8YBI8w==
								</data>
								<key>Size</key>
								<integer>11901</integer>
							</dict>
							<key>files/stacks-image-6ba828e-200x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Q3SR5TaYQKzn
								llGWTkjbtw==
								</data>
								<key>Size</key>
								<integer>102146</integer>
							</dict>
							<key>files/stacks-image-6c21b97.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								k4WnWCTXIoxW
								Kwa62I66tw==
								</data>
								<key>Size</key>
								<integer>4647</integer>
							</dict>
							<key>files/stacks-image-6f950e8-272x350.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ScGKsB/b2Uc4
								cEeNz7cV5A==
								</data>
								<key>Size</key>
								<integer>34220</integer>
							</dict>
							<key>files/stacks-image-6f950e8-272x350@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								VdLNkl2Qiwk5
								x/jwLm0wjg==
								</data>
								<key>Size</key>
								<integer>58503</integer>
							</dict>
							<key>files/stacks-image-71f3a33-272x350.png</key>
							<dict>
								<key>Digest</key>
								<data>
								koDK9y5yNaHL
								LYXDs57s0w==
								</data>
								<key>Size</key>
								<integer>165413</integer>
							</dict>
							<key>files/stacks-image-71f3a33-272x350@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								+vV+k20I0gB6
								4Zfp9hDGfw==
								</data>
								<key>Size</key>
								<integer>615773</integer>
							</dict>
							<key>files/stacks-image-7840532-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								6JIV/TiNEZQo
								3ozUv3rItA==
								</data>
								<key>Size</key>
								<integer>12140</integer>
							</dict>
							<key>files/stacks-image-7840532-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								eYX138mMDgyS
								huppjQM4qA==
								</data>
								<key>Size</key>
								<integer>18558</integer>
							</dict>
							<key>files/stacks-image-7853417.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								n5epBpsVUDyP
								dNfJicsIDw==
								</data>
								<key>Size</key>
								<integer>11854</integer>
							</dict>
							<key>files/stacks-image-7a83e22-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								m3o73sGhBV89
								waiMfzhLeg==
								</data>
								<key>Size</key>
								<integer>17479</integer>
							</dict>
							<key>files/stacks-image-7b8a9b0-234x350.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								78j/67aDJVVX
								yw+e0LpExg==
								</data>
								<key>Size</key>
								<integer>26418</integer>
							</dict>
							<key>files/stacks-image-80dc7a9.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								CbF2k5U4pNYC
								nglm3rdxRw==
								</data>
								<key>Size</key>
								<integer>11665</integer>
							</dict>
							<key>files/stacks-image-826277d-300x148.png</key>
							<dict>
								<key>Digest</key>
								<data>
								z4EVCyrFwAB/
								5vhOgflXAg==
								</data>
								<key>Size</key>
								<integer>94038</integer>
							</dict>
							<key>files/stacks-image-8809727.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Zrwtbz1MjhAo
								HHHndYBU4A==
								</data>
								<key>Size</key>
								<integer>18718</integer>
							</dict>
							<key>files/stacks-image-93815b0.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								AMBvHBRO94FT
								sXL2H/k1OA==
								</data>
								<key>Size</key>
								<integer>12261</integer>
							</dict>
							<key>files/stacks-image-9421f77.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								CbF2k5U4pNYC
								nglm3rdxRw==
								</data>
								<key>Size</key>
								<integer>11665</integer>
							</dict>
							<key>files/stacks-image-94956b4.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								DTvwohAkpHdW
								14eDfq6ZWA==
								</data>
								<key>Size</key>
								<integer>20028</integer>
							</dict>
							<key>files/stacks-image-96f29bd-236x350.png</key>
							<dict>
								<key>Digest</key>
								<data>
								OJQmEkAwlEz2
								m7A29M2e9w==
								</data>
								<key>Size</key>
								<integer>145178</integer>
							</dict>
							<key>files/stacks-image-9f9480e.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								7JosAkKdIRYw
								5hkIxFL/wg==
								</data>
								<key>Size</key>
								<integer>12816</integer>
							</dict>
							<key>files/stacks-image-9fe2eb2.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								MBRY47O65nwy
								LEuWh+TKAA==
								</data>
								<key>Size</key>
								<integer>13522</integer>
							</dict>
							<key>files/stacks-image-a6a8d21-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								39nUDPLNKA45
								Ey0yYOJ6tg==
								</data>
								<key>Size</key>
								<integer>14137</integer>
							</dict>
							<key>files/stacks-image-a6a8d21-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								yMD3hSHYcI/+
								fmgGxZ64hQ==
								</data>
								<key>Size</key>
								<integer>23715</integer>
							</dict>
							<key>files/stacks-image-ad0e117-232x350.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								IuzybPzI6AB2
								8+rWr1usZQ==
								</data>
								<key>Size</key>
								<integer>23481</integer>
							</dict>
							<key>files/stacks-image-b1fd272.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								uRiAiRn8cF4s
								5ZIrQ1ZXJA==
								</data>
								<key>Size</key>
								<integer>10717</integer>
							</dict>
							<key>files/stacks-image-b258b0c-300x300.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								KJhL8wCJXyKy
								Il1vNG7euA==
								</data>
								<key>Size</key>
								<integer>17436</integer>
							</dict>
							<key>files/stacks-image-b258b0c-300x300@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								MSaAFPEyRyRK
								d/V0mUK2cQ==
								</data>
								<key>Size</key>
								<integer>26405</integer>
							</dict>
							<key>files/stacks-image-bd6dcce-300x256.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								5J65SV8/66H9
								NaJDpRWeMA==
								</data>
								<key>Size</key>
								<integer>30907</integer>
							</dict>
							<key>files/stacks-image-bd6dcce-300x256@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								4NetCrzPEA7/
								fRx6xrb0SQ==
								</data>
								<key>Size</key>
								<integer>53372</integer>
							</dict>
							<key>files/stacks-image-c52063c.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Id1qypQ9hJoC
								m1OSXdqgCw==
								</data>
								<key>Size</key>
								<integer>20632</integer>
							</dict>
							<key>files/stacks-image-c752e2d-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								GVhhcIWZWC7h
								QFJ5T82ong==
								</data>
								<key>Size</key>
								<integer>12532</integer>
							</dict>
							<key>files/stacks-image-c752e2d-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								bd2IqPqvG+gX
								p3OK7Y6mGg==
								</data>
								<key>Size</key>
								<integer>18309</integer>
							</dict>
							<key>files/stacks-image-d4269a0-300x298.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								8Y/gOhkCySzA
								2dh2tuPXlQ==
								</data>
								<key>Size</key>
								<integer>20559</integer>
							</dict>
							<key>files/stacks-image-d4269a0-300x298@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								oIMJyeulxrSw
								VLcRZCqBRw==
								</data>
								<key>Size</key>
								<integer>34009</integer>
							</dict>
							<key>files/stacks-image-d81cfea.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								kEJaET7UMkw9
								k618OOJJqQ==
								</data>
								<key>Size</key>
								<integer>30501</integer>
							</dict>
							<key>files/stacks-image-da3d4d1.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								oT6GsQToBleS
								bRiPhQjJaA==
								</data>
								<key>Size</key>
								<integer>12075</integer>
							</dict>
							<key>files/stacks-image-e97f241-400x164.png</key>
							<dict>
								<key>Digest</key>
								<data>
								0LBTZh9Y4iZ6
								By0DZuC++A==
								</data>
								<key>Size</key>
								<integer>19463</integer>
							</dict>
							<key>files/stacks-image-ed7b287-260x350.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								mGFKUKR90TaA
								K3kPwhkIzA==
								</data>
								<key>Size</key>
								<integer>25816</integer>
							</dict>
							<key>files/stacks-image-f1b6c58.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								JTCLmOZwg9rA
								Y5HJ/KwGXQ==
								</data>
								<key>Size</key>
								<integer>20489</integer>
							</dict>
							<key>files/stacks-image-f254548.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								KYkU7cxVLdIK
								OyuKonTWFg==
								</data>
								<key>Size</key>
								<integer>12999</integer>
							</dict>
							<key>files/stacks-image-f438bd3-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								4rN0k2Yelv5o
								M9zlQGr7AA==
								</data>
								<key>Size</key>
								<integer>16711</integer>
							</dict>
							<key>files/stacks-image-f438bd3-200x250@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Dt/rHSpHQPOw
								pOdLD8WKbQ==
								</data>
								<key>Size</key>
								<integer>25193</integer>
							</dict>
							<key>files/stacks-image-f780824-200x250.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								6wFKUks/K6gN
								MKvopo9rNA==
								</data>
								<key>Size</key>
								<integer>14393</integer>
							</dict>
							<key>files/stacks-image-f95f5de.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								UyFTMJChH8Wh
								tX4o6tSzcw==
								</data>
								<key>Size</key>
								<integer>13517</integer>
							</dict>
							<key>files/stacks-image-fe073d3-200x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								PCLLYpfWJFQn
								wKe7RN7WaA==
								</data>
								<key>Size</key>
								<integer>93373</integer>
							</dict>
							<key>files/stacks-image-fe073d3-200x250@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								dLKAgtz7Si8n
								C1hxIAersQ==
								</data>
								<key>Size</key>
								<integer>350503</integer>
							</dict>
							<key>files/stacks.css</key>
							<dict>
								<key>Digest</key>
								<data>
								wgmIAuepvJFg
								INqwDCfPXQ==
								</data>
								<key>Size</key>
								<integer>1879</integer>
							</dict>
							<key>files/stacks_page_page37.css</key>
							<dict>
								<key>Digest</key>
								<data>
								dgxh0FE9JMKh
								FqusT4I0+w==
								</data>
								<key>Size</key>
								<integer>415209</integer>
							</dict>
							<key>files/stacks_page_page37.js</key>
							<dict>
								<key>Digest</key>
								<data>
								RxPT3F/zsIgR
								QzJa3s0L7w==
								</data>
								<key>Size</key>
								<integer>28754</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								FATKmsY1MlCU
								UM9lZpkV1w==
								</data>
								<key>Size</key>
								<integer>324525</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page37</string>
						<key>SiteRoot</key>
						<string>people/core-team</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
