<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Logistics</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page65</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>ALife Logistics</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.6.5</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-01-25T19:31:26Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/backgroundImage_111465.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								t6sVWeH5Dwiz
								lTdhjl5wGA==
								</data>
								<key>Size</key>
								<integer>3099081</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZFHf9zniv4SK
								z9ywIWAR7Q==
								</data>
								<key>Size</key>
								<integer>124861</integer>
							</dict>
							<key>files/stacks-image-251a1c1.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								psdcd6dUm5vV
								6eW4nx0vyA==
								</data>
								<key>Size</key>
								<integer>13028</integer>
							</dict>
							<key>files/stacks-image-580baf6-248x248.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								yZQqhuEMgia3
								owVDiEQk8g==
								</data>
								<key>Size</key>
								<integer>13322</integer>
							</dict>
							<key>files/stacks-image-90966db-250x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								kcVxqK0Y23YI
								Ns11kdYJ6w==
								</data>
								<key>Size</key>
								<integer>21714</integer>
							</dict>
							<key>files/stacks-image-e85c4e3.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								u2Q2vUDzWirB
								IK07lqIzzw==
								</data>
								<key>Size</key>
								<integer>594156</integer>
							</dict>
							<key>files/stacks_page_page65.css</key>
							<dict>
								<key>Digest</key>
								<data>
								5uvjFiljSdlX
								3NRvUUOw4Q==
								</data>
								<key>Size</key>
								<integer>150317</integer>
							</dict>
							<key>files/stacks_page_page65.js</key>
							<dict>
								<key>Digest</key>
								<data>
								GgwaZ6+M8EhI
								CNcR6QhOQA==
								</data>
								<key>Size</key>
								<integer>24751</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								wApYTBqSqqxh
								zbdTODgblw==
								</data>
								<key>Size</key>
								<integer>66662</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page65</string>
						<key>SiteRoot</key>
						<string>events/ALIFE-2020/Logistics</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
