<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>NetSci Sponsors</string>
				<key>CreatedDate</key>
				<date>2016-02-08T13:45:29Z</date>
				<key>ID</key>
				<string>page59</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>NetSci Sponsors</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.6.1</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://cmplxsys.w3.uvm.edu</key>
					<dict>
						<key>CreationDate</key>
						<date>2018-07-31T00:34:35Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/backgroundImage_110490.png</key>
							<dict>
								<key>Digest</key>
								<data>
								/ytKW+d8532o
								LG20qBSPRw==
								</data>
								<key>Size</key>
								<integer>383766</integer>
							</dict>
							<key>files/small_p60311_n109623.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZFHf9zniv4SK
								z9ywIWAR7Q==
								</data>
								<key>Size</key>
								<integer>124861</integer>
							</dict>
							<key>files/small_p60311_n109628.png</key>
							<dict>
								<key>Digest</key>
								<data>
								pcpK3KZBcBVd
								Ns6QdrLpNA==
								</data>
								<key>Size</key>
								<integer>68548</integer>
							</dict>
							<key>files/stacks-image-2c90133-700x398.png</key>
							<dict>
								<key>Digest</key>
								<data>
								WNYrWgw4gMan
								tiFFTLkLNg==
								</data>
								<key>Size</key>
								<integer>60972</integer>
							</dict>
							<key>files/stacks-image-d2c4351-164x250.png</key>
							<dict>
								<key>Digest</key>
								<data>
								5cpdWgCZk7HV
								ROwHuQNbEg==
								</data>
								<key>Size</key>
								<integer>29154</integer>
							</dict>
							<key>files/stacks_page_page59.css</key>
							<dict>
								<key>Digest</key>
								<data>
								5uSwtZcfRrIP
								kBM3JjEPDA==
								</data>
								<key>Size</key>
								<integer>97473</integer>
							</dict>
							<key>files/stacks_page_page59.js</key>
							<dict>
								<key>Digest</key>
								<data>
								h3OOqEqCQb99
								5AN0DSPt+A==
								</data>
								<key>Size</key>
								<integer>24751</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								wQwVsYrErRbA
								Jx1RaCGu8g==
								</data>
								<key>Size</key>
								<integer>35094</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page59</string>
						<key>SiteRoot</key>
						<string>events/netsci/sponsors</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
